/* GLOBAL */
* {
  /* font-weight: 400 !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-family: var(--font-family) !important;
  text-shadow: 0px 0px 0px transparent !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: none !important;
}

:root {
  --virtualmenu-accent: rgb(var(--color-primary));
  --virtualmenu-bg: rgb(var(--color-background));
  --virtualmenu-bg-hover: rgb(var(--color-background));
  --virtualmenu-fg: rgb(var(--color-white));
  --virtualmenutouchkey-icon-width: 100%;
  --virtualmenutouchkey-icon-height: 100%;
  --virtualmenupointer-x: 0%;
  --virtualmenupointer-y: 0%;
  --virtualmenupointer-color: rgb(var(--color-primary));
  --virtualmenutouchkey-midpoint-x: 0%;
  --virtualmenutouchkey-midpoint-y: 0%;
  --virtualmenutouchkey-description-width: 0px;
}

:root {
  --touchmenuicon-fg: rgb(var(--color-white));
  --touchmenuicon-bg: rgb(var(--color-background));
  --touchmenuicon-scale: 1;
}

body, body[class*="shared_common_v6_"] {
  color: rgb(var(--color-text-sub)) !important;
}

/* SELECTION */
::selection {
  background: rgb(var(--color-primary));
  text-shadow: 0 0 0 transparent;
  color: rgb(var(--color-text));
}

.friendSearchInput::selection {
  background: rgb(var(--color-primary));
  text-shadow: 0 0 0 transparent;
  color: rgb(var(--color-text));
}

/* INPUT */
.DialogTextInputBase, .DialogTextInputBase:not(disabled):hover {
  background: rgba(var(--color-white), 0.1) !important;
  border-radius: 0px !important;
}

.DialogTextInputBase:disabled, .DialogTextInputBase:read-only {
  background: rgba(var(--color-white), 0.1) !important;
}

.DialogInputRequirementLabel {
  color: rgb(var(--color-text)) !important;
}

::-webkit-resizer {
  display: none !important;
}

/* TITLES */
.DialogHeader {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-header) !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  line-height: 32px !important;
  margin-bottom: 16px !important;
}

.DialogHeaderSubtitle {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subtitle) !important;
}

.DialogHighlight {
  color: rgb(var(--color-primary)) !important;
}

.DialogSubHeader {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subheader) !important;
  text-transform: none !important;
}

/* SUBTITLES */
.DialogLabel, .DialogLabelStrong {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-section) !important;
  text-transform: none !important;
  margin-bottom: 0px !important;
  line-height: 16px !important;
}

.ChatRoomNotificationSettingsDialog .DialogFooter {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

/* TEXT */
.DialogBodyText {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  /* margin-bottom: 16px !important; */
  margin-bottom: 0px !important;
}

.DialogDropDown {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.DialogButton {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.DialogInput {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.DialogBody {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.DialogToggle_Label {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

/* TABLES */
.DialogSpanningTable.BannedUsersTable tr.hoverRow, .DialogSpanningTable.InvitedUsersTable tr.hoverRow, .DialogSpanningTable.InviteLinksTable tbody tr {
  background: rgba(var(--color-white), 0.1) !important;
}

/* STATUS */
[class*="personanameandstatus_playerName_"] {
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
  -webkit-mask: none !important;
  mask: none !important;
}

.ingame [class*="personanameandstatus_playerName_"] {
  color: rgb(var(--color-ingame)) !important;
}

.online [class*="personanameandstatus_playerName_"] {
  color: rgb(var(--color-online)) !important;
}

.offline [class*="personanameandstatus_playerName_"] {
  color: rgb(var(--color-offline)) !important;
}

.friend.ingame {
  color: rgb(var(--color-ingame)) !important;
}

.friend.online {
  color: rgb(var(--color-online)) !important;
}

.friend.offline {
  color: rgb(var(--color-offline)) !important;
}

/* ICON */
.ModalPosition_Content {
  color: rgb(var(--color-white)) !important;
}

/* LABELHOLDER */
[class*="personanameandstatus_noContextMenu_"] {
  font-weight: 400 !important;
}

/* STATUS INFO */
[class*="personanameandstatus_gameName_"] {
  font-weight: 400 !important;
  font-size: var(--font-size-subtext) !important;
}

.ingame [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"], .ingame [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a, .ingame [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:hover, .ingame [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:active, .ingame [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:visited, .ingame [class*="personanameandstatus_twoLine_"][class*="personanameandstatus_richPresenceLabel_"] {
  color: rgb(var(--color-ingame)) !important;
}

.online [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"], .online [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a, .online [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:hover, .online [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:active, .online [class*="personanameandstatus_gameName_"][class*="personanameandstatus_richPresenceLabel_"] a:visited, .online [class*="personanameandstatus_twoLine_"][class*="personanameandstatus_richPresenceLabel_"] {
  color: rgb(var(--color-online)) !important;
}

[class*="personanameandstatus_richPresenceLabel_"] {
  font-weight: 400 !important;
  font-size: var(--font-size-subtext) !important;
}

.ingame.awayOrSnooze [class*="personanameandstatus_richPresenceLabel_"], .ingame [class*="personanameandstatus_richPresenceLabel_"], .ingame [class*="personanameandstatus_richPresenceLabel_"] a, .ingame [class*="personanameandstatus_richPresenceLabel_"] a:hover, .ingame [class*="personanameandstatus_richPresenceLabel_"] a:active, .ingame [class*="personanameandstatus_richPresenceLabel_"] a:visited {
  color: rgb(var(--color-ingame)) !important;
}

.online.awayOrSnooze [class*="personanameandstatus_richPresenceLabel_"], .online [class*="personanameandstatus_richPresenceLabel_"], .online [class*="personanameandstatus_richPresenceLabel_"] a, .online [class*="personanameandstatus_richPresenceLabel_"] a:hover, .online [class*="personanameandstatus_richPresenceLabel_"] a:active, .online [class*="personanameandstatus_richPresenceLabel_"] a:visited {
  color: rgb(var(--color-online)) !important;
}

.offline.awayOrSnooze [class*="personanameandstatus_richPresenceLabel_"], .offline [class*="personanameandstatus_richPresenceLabel_"], .offline [class*="personanameandstatus_richPresenceLabel_"] a, .offline [class*="personanameandstatus_richPresenceLabel_"] a:hover, .offline [class*="personanameandstatus_richPresenceLabel_"] a:active, .offline [class*="personanameandstatus_richPresenceLabel_"] a:visited {
  color: rgb(var(--color-offline)) !important;
}

/* STATUS SNOOZE */
[class*="friendsnooze_SnoozeContainer_"].in-game [class*="friendsnooze_SnoozeZ_"] {
  color: rgb(var(--color-ingame)) !important;
}

[class*="friendsnooze_SnoozeContainer_"].online [class*="friendsnooze_SnoozeZ_"] {
  color: rgb(var(--color-online)) !important;
}

.awayOrSnooze [class*="steamavatar_avatarStatus_"] {
  opacity: 1 !important;
}

.friend.awayOrSnooze .labelHolder {
  opacity: 1 !important;
}

/* AVATAR STATUS BAR */
[class*="steamavatar_avatarHolder_"] [class*="steamavatar_avatarStatus_"].right, [class*="steamavatar_avatarHolder_"] [class*="steamavatar_avatarStatus_"].bottom {
  display: none !important;
}

/* AVATAR */
[class*="steamavatar_avatarHolder_"] {
  transform: none !important;
  height: 32px !important;
  width: 32px !important;
}

[class*="steamavatar_avatarHolder_"].Medium {
  transform: none !important;
  height: 36px !important;
  width: 36px !important;
}

[class*="steamavatar_avatar_"] {
  border: 0px solid transparent !important;
  width: 100% !important;
  height: 100% !important;
}

[class*="steamavatar_avatarStatus_"].bottom {
  display: none !important;
  height: 0px !important;
}

[class*="steamavatar_avatarHolder_"].ingame {
  border: 1px solid rgb(var(--color-ingame)) !important;
}

[class*="steamavatar_avatarHolder_"].online {
  border: 1px solid rgb(var(--color-online)) !important;
}

[class*="steamavatar_avatarHolder_"].offline {
  border: 1px solid rgb(var(--color-offline)) !important;
}

/* STATUS ICONS */
[class*="personastatusicons_PersonaStatusIcon_"].ingame .SVGIcon_VR path, [class*="personastatusicons_PersonaStatusIcon_"].ingame .SVGIcon_MobilePhone path, [class*="personastatusicons_PersonaStatusIcon_"].ingame .SVGIcon_BigPicture path {
  fill: rgb(var(--color-ingame)) !important;
}

[class*="personastatusicons_PersonaStatusIcon_"].online .SVGIcon_VR path, [class*="personastatusicons_PersonaStatusIcon_"].online .SVGIcon_MobilePhone path, [class*="personastatusicons_PersonaStatusIcon_"].online .SVGIcon_BigPicture path {
  fill: rgb(var(--color-online)) !important;
}

[class*="personastatusicons_PersonaStatusIcon_"].ingame .SVGIcon_Button path {
  fill: rgb(var(--color-ingame)) !important;
}

[class*="personastatusicons_PersonaStatusIcon_"].online .SVGIcon_Button path {
  fill: rgb(var(--color-online)) !important;
}

/* STATUS CONTEXT CHEVRON */
.ContextMenuButton {
  width: 32px !important;
  height: 32px !important;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
  margin: 0px !important;
  padding: 0px !important;
}

:not(.friendInviteContainer) .ingame .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  /* fill: rgb(var(--color-ingame)) !important; */
  fill: transparent !important;
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  /* fill: rgb(var(--color-online)) !important; */
  fill: transparent !important;
}

:not(.friendInviteContainer) .offline .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  /* fill: rgb(var(--color-offline)) !important; */
  fill: transparent !important;
}

/* STATUS LINE */
.ingame .steamavatar_avatarStatus_1yIzy {
  background: rgb(var(--color-ingame)) !important;
}

.online .steamavatar_avatarStatus_1yIzy {
  background: rgb(var(--color-online)) !important;
}

.offline .steamavatar_avatarStatus_1yIzy {
  background: rgb(var(--color-offline)) !important;
}

/* LIST ITEM */
.DialogListBuilderInput_ListItem {
  margin-right: 8px !important;
}

/* LINK */
.DialogBody a {
  color: rgb(var(--color-primary)) !important;
}

.DialogBody a:hover {
  color: rgb(var(--color-text-sub)) !important;
}

.DialogBody a:active {
  color: rgb(var(--color-text-disabled)) !important;
}

/* BUTTON */
button.DialogButton {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

button.DialogButton:hover, button.DialogButton.gpfocus {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

button.DialogButton:enabled:active, button.DialogButton:enabled:active.gpfocus {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

button.DialogButton::before {
  box-shadow: 0 0 0 0 transparent !important;
}

button.DialogButton:disabled, button.DialogButton:disabled:hover, button.DialogButton.Disabled, button.DialogButton.Disabled:hover {
  /* background: rgba(var(--color-white), 0.05) !important; */
  /* background: rgba(var(--color-white), 0.2) !important; */
  /* color: rgb(var(--color-text-sub)) !important; */
  filter: saturate(0.0) brightness(0.5) !important;
}

button.DialogButton.Primary:enabled:active, button.DialogButton.Primary:enabled:hover:active, button.DialogButton.Primary:enabled:active.gpfocus {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
}

.DialogButton:disabled .SVGIcon_Button, .DialogButton.Disabled .SVGIcon_Button {
  opacity: 1 !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

.DesktopUI .DialogThreeColLayout._DialogColLayout {
  gap: 16px !important;
}

/* RADIO */
input[type="radio" i] {
  background-color: transparent !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  height: 20px !important;
  width: 20px !important;
  margin: 0px !important;
  appearance: unset !important;
  border-radius: 25px !important;
}

input[type="radio" i]:hover {
  border-color: rgb(var(--color-white)) !important;
}

input[type="radio" i]:active {
  /* border-color: rgba(var(--color-white), 0.6) !important; */
  filter: saturate(0) brightness(0.6) !important;
}

input[type="radio" i]:checked {
  border-color: rgb(var(--color-primary)) !important;
}

input[type="radio" i]:checked:active {
  /* border-color: rgba(var(--color-white), 0.6) !important; */
  border-color: rgb(var(--color-white)) !important;
  filter: saturate(0) brightness(0.6) !important;
}

input[type="radio" i]:checked:after {
  content: "" !important;
  background-color: rgba(var(--color-white), 0.8) !important;
  border-radius: 25px !important;
  display: block !important;
  position: relative !important;
  height: 10px !important;
  width: 10px !important;
  left: 3px !important;
  top: 3px !important;
}

input[type="radio" i]:checked:after:hover {
  background-color: rgb(var(--color-white)) !important;
}

input[type="radio" i]:checked:after:active {
  /* background-color: rgba(var(--color-white), 0.6) !important; */
}

/* RADIO BUTTON */
[class*="radio_Button_"][class*="radio_Active_"], [class*="radio_Button_"][class*="radio_Active_"]:hover {
  background-color: rgb(var(--color-primary)) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="radio_Button_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
}

[class*="radio_Button_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="radio_Button_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="radio_Group_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  border-radius: 0px !important;
}

/* CHECKBOX */
.DialogCheckbox_Container {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.DialogCheckbox {
  width: 16px !important;
  height: 16px !important;
  border-radius: 0px !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  background-color: transparent !important;
}

.DialogCheckbox:not(.Active):hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

.DialogCheckbox:not(.Active):active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

.DialogCheckbox.Active {
  border: 2px solid rgb(var(--color-primary)) !important;
  background-color: rgb(var(--color-primary)) !important;
}

.DialogCheckbox.Active:hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

.DialogCheckbox.Active:active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

.DialogCheckbox .SVGIcon_DialogCheck {
  stroke: transparent !important;
  width: 16px !important;
  height: 16px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  stroke: transparent !important;
}

.DialogCheckbox.Active {
  height: 16px !important;
  width: 16px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAiElEQVQ4jaWTwQ3CMAxFXxGbNEduLMAILM4kCAkGqB4XIpmipCW25Evi9518J5NKJg4pGjgm2AKcRgUKcAOWacCDCgOcUf/JWX19sqik4CpwjQuNLAGe4x7qY63agX9qtgq6cPSgFj7DETfhtYnRpEvrzj2B2NU9cGuMRb3vmAwqIy/xK9K/8Q2+K9cuaoLzHwAAAABJRU5ErkJggg==') !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  background-position: center !important;
}

.DialogCheckbox.Active .SVGIcon_DialogCheck {
  /* stroke: rgb(var(--color-white)) !important; */
  stroke: transparent !important;
  /* margin-bottom: 1px !important;*/
  height: 16px !important;
  width: 16px !important;
  margin: 0px !important;
}

[class*="gamelistdropdown_DropDown_"] [class*="gamelistdropdown_Row_"][class*="gamelistdropdown_Checkbox_"] svg {
  width: 16px !important;
  height: 16px !important;
  margin-left: 0px !important;
}

.DialogCheckbox .SVGIcon_DialogCheck path {
  stroke-width: 20px !important;
  /* stroke: rgb(var(--color-white)) !important; */
  /* color: rgb(var(--color-white)) !important; */
  stroke: transparent !important;
  color: transparent !important;
}

.DialogCheckbox.Disabled {
  filter: saturate(0.0) brightness(0.5) !important;
}

/* TOGGLE FIELD */
._DialogInputContainer {
  /* margin-bottom: 16px !important; */
  line-height: 18px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding: 16px !important;
}

.DialogToggleField._DialogInputContainer {
  padding-left: 0px !important;
  padding: 16px !important;
}

.DialogToggleField_Control {
  border-radius: 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  margin-left: 0px !important;
}

.DialogToggleField_Option.Off.Active {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

.DialogToggleField_Option.Active {
  color: rgb(var(--color-text)) !important;
  background-color: rgb(var(--color-primary)) !important;
}

.DialogToggleField_Option:hover:not(.Active) {
  background-color: rgba(var(--color-white), 0.3) !important;
}

.DialogToggleField_Option:active:not(.Active) {
  background-color: rgba(var(--color-white), 0.4) !important;
}


/* TOGGLE */
[class*="toggle_Toggle_"] {
  background-color: transparent !important;
}

[class*="toggle_Toggle_"][class*="toggle_Disabled_"] {
  filter: saturate(0.0) brightness(0.5);
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"] {
  width: 40px !important;
  height: 16px !important;
  left: 0px !important;
  top: 0px !important;
  border: 2px solid rgba(var(--color-white), 0.84) !important;
  border-radius: 9001px !important;
  background-color: transparent !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"]:hover {
  border-color: rgb(var(--color-white)) !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"][class*="toggle_Highlight_"] {
  background: transparent !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"][class*="toggle_Highlight_"][class*="toggle_On_"] {
  border-color: rgb(var(--color-primary)) !important;
  background: rgb(var(--color-primary)) !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleRail_"][class*="toggle_Highlight_"][class*="toggle_On_"]:active {
  border-color: rgba(var(--color-white), 0.67) !important;
  background: rgba(var(--color-white), 0.67) !important;
}

[class*="toggle_ToggleSwitch_"] {
  width: 10px !important;
  height: 10px !important;
  margin: 5px !important;
  background: rgba(var(--color-white), 0.84) !important;
}

[class*="toggle_Toggle_"]:hover [class*="toggle_ToggleSwitch_"], [class*="toggle_Toggle_"]:active [class*="toggle_ToggleSwitch_"] {
  background: rgb(var(--color-white)) !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleSwitch_"] {
  transform: translateX(0px);
  transition: transform 0.25s !important;
}

[class*="toggle_Toggle_"] [class*="toggle_ToggleSwitch_"][class*="toggle_On_"] {
  margin: 5px !important;
  transform: translateX(24px);
  transition: transform 0.25s !important;
  color: rgb(var(--color-white)) !important;
}

/* GAMEPAD TOGGLE */
[class*="gamepaddialog_ToggleRail_"] {
  background: transparent !important;
  border-radius: 0px !important;
}

[class*="gamepaddialog_ToggleRail_"]::before {
  content: "" !important;
  background: transparent !important;
  transform: none !important;
}

[class*="gamepaddialog_ToggleRail_"]::after {
  background: transparent !important;
}

[class*="gamepaddialog_Toggle_"] {
  width: 40px !important;
  height: 16px !important;
  position: relative !important;
  margin-right: 4px !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"] {
  background: rgb(var(--color-primary)) !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"] [class*="gamepaddialog_ToggleRail_"] {
  background: transparent !important;
}

[class*="gamepaddialog_Toggle_"], [class*="gamepaddialog_Toggle_"][class*="gamepaddialog_Disabled_"] {
  border: 2px solid rgba(var(--color-white), 0.84) !important;
  border-radius: 9001px !important;
}

[class*="gamepaddialog_Toggle_"]:hover {
  border-color: rgb(var(--color-white)) !important;
}

[class*="gamepaddialog_Toggle_"]:active {
  border-color: rgba(var(--color-white), 0.67) !important;
  background: rgba(var(--color-white), 0.67) !important;
}

[class*="gamepaddialog_Toggle_"]:active [class*="gamepaddialog_ToggleRail_"] {
  background: transparent !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_Disabled_"] {
  filter: saturate(0.0) brightness(0.5);
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"], [class*="gamepaddialog_Toggle_"][class*="gamepaddialog_Disabled_"][class*="gamepaddialog_On_"] {
  border-color: rgb(var(--color-primary)) !important;
  border-radius: 9001px !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"]:active {
  border-color: rgba(var(--color-white), 0.67) !important;
}

[class*="gamepaddialog_ToggleSwitch_"] {
  width: 10px !important;
  height: 10px !important;
  margin-top: 3px !important;
  margin-left: 3px !important;
  background: rgba(var(--color-white), 0.84) !important;
}

[class*="gamepaddialog_Toggle_"]:hover [class*="gamepaddialog_ToggleSwitch_"], [class*="gamepaddialog_Toggle_"]:active [class*="gamepaddialog_ToggleSwitch_"] {
  background: rgb(var(--color-white)) !important;
}

[class*="gamepaddialog_Toggle_"] [class*="gamepaddialog_ToggleSwitch_"] {
  transform: translateX(0px);
  transition: transform 0.25s !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"] [class*="gamepaddialog_ToggleSwitch_"] {
  transform: translateX(24px);
  transition: transform 0.25s !important;
  color: rgb(var(--color-white)) !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_On_"] [class*="gamepaddialog_ToggleRail_"]::before {
  transform: none !important;
}

[class*="gamepaddialog_Toggle_"][class*="gamepaddialog_Disabled_"] [class*="gamepaddialog_ToggleSwitch_"] {
  background: rgb(var(--color-white)) !important;
}

/* SELECT */
select {
  color: rgb(var(--color-text)) !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  appearance: unset !important;
  line-height: 32px !important;
  padding: 0px 8px !important;
  font: 400 var(--font-size-text) var(--font-family) !important;
  height: 32px !important;
}

select:hover {
  background-color: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

select:active {
  background-color: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

select * {
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background: rgb(var(--color-black)) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

option {
  color: rgb(var(--color-white)) !important;
  line-height: 24px !important;
  min-height: 24px !important;
  font: 400 var(--font-size-text) var(--font-family) !important;
}

option:hover {
  background-color: rgba(var(--color-white), 0.1) !important
}

option:active {
  background-color: rgba(var(--color-white), 0.2) !important
}

/* DROPDOWN */
.DialogTextInputBase, ._DialogInputContainer:not([class*="dropdown_DialogDropDownMenu_"]) {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.DialogTextInputBase:hover, ._DialogInputContainer:hover:not([class*="dropdown_DialogDropDownMenu_"]) {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

.DialogTextInputBase:active, ._DialogInputContainer:active:not([class*="dropdown_DialogDropDownMenu_"]) {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.DialogDropDown_Arrow {
  align-self: center !important;
}

.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu {
  /* fill: rgb(var(--color-white)) !important; */
  fill: transparent !important;
}

.SVGIcon_DownArrowContextMenu {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfklEQVRYhe3WvQmAMBRF4RN3cIdkNBvdwSVczW2eTdKIiPkjCPfVF85HCtGZGSNvGloXQAABBBAgEzD32OYAdmD7sFvjtjlgAXwMvMVD3DYHJETg+SWy4yWAhPA3RFEcwFX8kBzACVhpvBaQEJTGWwCq71cfIgEEEEAAAbrcBQibGDxU5pISAAAAAElFTkSuQmCC') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 32px 32px !important;
  height: 32px !important;
  width: 32px !important;
}

.DialogDropDown, [class*="settings_SettingsModal_"].DialogDropDown {
  height: 32px !important;
  gap: 8px !important;
  line-height: 32px !important;
  /* padding: 0px 16px !important; */
  padding: 0px 0px 0px 16px !important;
}

[class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer {
  background: transparent !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

[class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer::before, [class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer::after {
  /* content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important; */
  /* background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important; */
}

[class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer::before {
  /* background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important; */
}

[class*="dropdown_DialogDropDownMenu_"]._DialogInputContainer::after {
  /* background-image: var(--image-acrylic) !important; */
}

[class*="dropdown_DialogDropDownMenu_Item_"] {
  background: transparent !important;
  margin: 1px !important;
}

[class*="dropdown_DialogDropDownMenu_Item_"]:hover {
  background: rgba(var(--color-white), 0.1) !important
}

[class*="dropdown_DialogDropDownMenu_Item_"]:active {
  background: rgba(var(--color-white), 0.2) !important
}

[class*="dropdown_DialogDropDownMenu_Item_"]:first-child {
  margin-top: 5px !important;
}

[class*="dropdown_DialogDropDownMenu_Item_"]:last-child {
  margin-bottom: 5px !important;
}

.DialogDropDown_Arrow.DesktopUI, .DesktopUI .DialogDropDown_Arrow {
  /* opacity: 0.6 !important; */
  opacity: 1 !important;
  /* position: inherit !important; */
  /* position: absolute !important; */
  /* display: block !important; */
  display: flex !important;
  top: 0px !important;
  right: 0px !important;
  /* right: 8px !important; */
  /* width: 16px !important; */
  /* width: 14px !important */
  width: 32px !important;
  height: 32px !important;
}

/* LOADING */
[class*="steamdesktop_FocusBar_"][class*="steamdesktop_Focused"] {
  background: rgb(var(--color-background)) !important;
}

[class*="loadingthrobber_Container_"] {
  background: rgb(var(--color-background)) !important;
}

[class*="loadingthrobber_Medium_"] {
  filter: saturate(0) brightness(5) !important;
}

/* CONNECTION TROUBLE */
.ConnectionTrouble .ConnectionTroubleContent {
  background: rgb(var(--color-primary)) !important;
}

.ConnectionTroubleContent .ConnectionTroubleMessage, .ConnectionTroubleContent .ConnectionTroubleReconnectMessage {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
}

.errorDisconnected .friendsListContainer {
  opacity: 1.0 !important;
}

.errorDisconnected .multiChatDialog {
  opacity: 1.0 !important;
}

.ConnectionTrouble::after {
  content: "" !important;
  position: fixed !important;
  top: 0px !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  z-index: -1 !important;
  background: rgba(var(--color-black), 0.8) !important;
}

/* CHAT LOADING */
[class*="throbber_ThrobberText_"], [class*="throbber_LoadingWrapper_"] [class*="throbber_ThrobberText_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="throbber_NewThrobber_"] img {
  /* content: url() !important; */
  filter: saturate(0) brightness(5);
}

[class*="throbber_LoadingWrapper_"][class*="SteamLogoThrobber_"][class*="throbber_throbber_large_"][class*="throbber_noString_"] {
  filter: saturate(0) brightness(5);
}

/* NEW INDICATOR */
[class*="emoticon_NewEmoticonIndicator_"] {
  background: transparent !important;
}

[class*="emoticon_NewEmoticonIndicator_"] [class*="emoticon_NewEmoticonCircle_"] {
  background-color: rgb(var(--color-primary)) !important;
}