/* CONSOLE */
[class*="console_Console_"], [class*="console_Console_"] pre {
  background-color: rgb(var(--color-background)) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="console_Suggestions_"] [class*="console_Suggestion_"] {
  background: rgb(var(--color-entry)) !important;
}

