/* DIALOG */
.DialogContent {
  /* padding: 32px !important; */
  /* padding: 38px !important; */
  /* padding: 0px 38px !important; */
  padding: 0px 16px !important;
}

.DialogContent_InnerWidth {
  /* padding: 38px 0px !important; */
  padding: 38px 0px 16px 0px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageContent_"].DesktopUI .DialogContent_InnerWidt, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogContent_InnerWidth {
  padding: 38px 0px 0px 0px !important;
}

/* NEW COLLECTION DIALOG */
[class*="savecollectiondialog_TwoOptionsContainer_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
}

[class*="savecollectiondialog_Description_"] {
  background: transparent !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

/* SHARE SCREENSHOT DIALOG */
[class*="sharescreenshotupload_ShareScreenshotDialog_"] {
  padding: 16px 0px 0px 0px !important;
}

[class*="sharescreenshotupload_CaptionHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: 0px solid transparent !important;
  margin-top: 0px !important;
  width: calc(100% - 16px) !important;
  line-height: 20px !important;
  padding: 8px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_VisibilityHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_RadioButtonGroup_"] {
  background-color: transparent !important;
  padding: 0px !important;
}

[class*="sharescreenshotupload_Spoiler_"] {
  margin-top: 16px !important;
}

[class*="sharescreenshotupload_CloudStorageMessage_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  line-height: 16px !important;
}

/* AWARD DIALOG */
[class*="awardmodal_GrantAwardModal_"] {
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Header_"] [class*="awardmodal_Title_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-header) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Header_"] [class*="awardmodal_Description_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_Divider_"] {
  margin: 16px 0px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  /* display: none !important; */
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] {
  gap: 0px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] {
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  padding: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"][class*="awardmodal_Selected_"] {
  border-color: transparent !important;
  background-color: rgba(var(--color-primary), 0.5) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] [class*="awardmodal_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] [class*="awardmodal_Points_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

[class*="awardmodal_PointsAmount_"] [class*="awardmodal_PointsAmountIcon_"] {
  margin: 0px !important;
  padding: 0px !important;
  height: 24px !important;
  width: 24px !important;
  display: none !important;
}

[class*="awardmodal_PointsAmount_"] [class*="awardmodal_PointsAmountIcon_"] > * {
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceIcon_"] {
  margin: 0px !important;
  padding: 0px !important;
  height: 32px !important;
  width: 32px !important;
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceIcon_"] > * {
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] {
  line-height: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] [class*="awardmodal_BalanceLabel_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] [class*="awardmodal_BalanceAmount_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  margin-top: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"]:hover {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"]:active {
  color: rgb(var(--color-text-disabled)) !important;
}

[class*="awardmodal_ConfirmContainer_"] {
  padding: 0px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding: 0px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"]:not(:first-of-type) {
  padding-top: 16px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] [class*="awardmodal_PointsAmount_"] {
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] [class*="awardmodal_AwardName_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
}

/* ARTWORK DIALOG */
[class*="artworkmodal_ArtworkModal_"] {
  border: 0px solid transparent !important;
}

[class*="artworkmodal_ModalBox_"] {
  background: rgb(var(--color-background-settings)) !important;
}

[class*="artworkmodal_ArtworkModalContainer_"] {
  /* padding: 38px !important; */
  /* padding-bottom: 38px !important; */
  padding: 0px !important;
  margin: 0px !important;
  -webkit-mask-image: none !important;
  overflow-x: hidden !important;
}

[class*="artworkmodal_ArtworkContainer_"] {
  margin-top: 38px !important;
  /* width: 100% !important; */
  /* height: 100% !important; */
  width: calc(100% - 76px) !important;
  height: auto !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_ChildrenContainer_"] {
  /* margin: 0px !important; */
  margin: 0px 38px !important;
}

[class*="artworkmodal_FileDetails_"] {
  padding: 16px 0px !important;
  line-height: 38px !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Caption_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_CreatedBy_"] {
  gap: 16px !important;
}

[class*="artworkmodal_CreatedBy_"] [class*="artworkmodal_Label_"] {
  letter-spacing: normal !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="appactivityday_VisibilityLabel_"] {
  letter-spacing: normal !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Fields_"] [class*="artworkmodal_IconAndDate_"] {
  gap: 16px !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Fields_"] [class*="artworkmodal_IconAndDate_"] [class*="artworkmodal_Timestamp_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_ArtworkModal_"] [class*="artworkmodal_ModalArtCloseButton_"] {
  /* margin-top: 38px !important; */
  margin-top: 0px !important;
  min-height: 38px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] {
  margin: 16px 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] svg {
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  margin: 0px 16px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoElEQVRYhe3WwQ3DIAyF4UfVDdoZmhXC7h0iM7S9ZoY/hxCJSxUwSaNGtoQQIOxPHCwCoCPjcmh1BzjAARsBmhrJKV7AAQ74OaBbOb/vCXhIekqKX86jpKEKAdSOCLzTLOZY9l9AX5PPAsiLxQTI11W5rIAF8UkAU/FWQI4wFQcUaP+U3iSN1stbAJriarhTIg57AoqTl8RftmIHOOBcgAmkNZkO+dGaIAAAAABJRU5ErkJggg==') !important;
  opacity: 1 !important;
  transform: none !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] svg * {
  fill: transparent !important;
  stroke: transparent !important;
  display: none !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_RatingBar_"]:not([class*="comment_thread_IsVisible_"]) {
  height: 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_RatingBar_"][class*="comment_thread_IsVisible_"] {
  height: 24px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_CommentThread_"][class*="comment_thread_Shown_"] {
  margin-bottom: 38px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"][class*="comment_thread_AddReply_"].Panel {
  margin-top: -2px !important;
  margin-bottom: 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntryArea_"] {
  margin-bottom: -4px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"] [class*="posttextentry_Controls_"][class*="posttextentry_Active_"] {
  margin: 16px 0px 0px 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"] [class*="posttextentry_Controls_"]:not([class*="posttextentry_Active_"]) {
  margin: 0px !important;
}

/* LAUNCH OPTION DIALOG */
[class*="launchoptionsdialog_LaunchOptionDialog_"] {
  background: transparent !important;
  padding: 38px !important;
  color: rgb(var(--color-text)) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"].DesktopUI, .DesktopUI [class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"] {
  margin: 0px 0px 16px 0px !important;
  line-height: 24px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subheader) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] {
  padding: 0px !important;
  flex-grow: 0 !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListHeader_"] {
  letter-spacing: normal !important;
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] {
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  /* background: rgba(var(--color-white), 0.1) !important; */
  background: transparent !important;
  padding: 0px !important;
  margin: 16px 0px !important;
  /* flex-grow: 0 !important; */
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] {
  margin: 0px !important;
  background: transparent !important;
  padding: 16px 0px !important;
}

/* [class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
} */

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] label {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  padding-left: 8px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_CheckboxRow_"] {
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_SeeProperties_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  margin: 16px 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"]  {
  margin-right: 0px !important;
  bottom: 38px !important;
  position: absolute !important;
  right: 38px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  min-width: 80px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:first-of-type {
  margin-right: 16px !important;
}

/* SHARE DIALOG */
[class*="discussionwidget_share_controls_ctn_"] {
  margin-top: 16px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] {
  padding: 0px !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] [class*="discussionwidget_LanguageLabel_"] {
  padding: 0px 8px 0px 0px !important;
}

[class*="discussionwidget_ShareButtonContainer_"] {
  margin-top: 16px !important;
}

[class*="discussionwidget_ShareSteamBtn_"] {
  height: 38px !important;
  min-height: 38px !important;
  padding-bottom: 0px !important;
}

[class*="partnereventshared_Button_"]  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  min-width: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="partnereventshared_Button_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="partnereventshared_Button_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="discussionwidget_ShareBtn_"]>img {
  margin: 0px !important;
  height: unset !important;
  width: 38px !important;
  max-width: 38px !important;
  max-height: 38px !important;
  /* padding: 3px !important; */
  padding: 0px !important;
  vertical-align: middle !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(2) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABL0lEQVRYhe2WvUrEQBhFz1Ubd7FQxNZiKzs7y21EFN/BysLGN/E1fAErK8HKTsFGLBaMsFuJvkDg2owQAxYzk3XDMgeGzE9yOcmEL5Ft+sjKogX+oojFUsRiKWKxFLFYlk9M0q8GXAAV8BaOFfCZbGY7qbUyLm2/2t5uzVfJ+R2JzWzvhP6B7Ycw974wMdsD25PG+MX2OHdHunj594Gvxngg6T43dC31QttToAZWgZvGUm27AtaBW+DsX8WAWtJue1LSCMD2OXCaGp4jNrT9FPrXkq6C0B2wCWwBj6nhyvi1HgFD4Ag4lHQcxKbASThnBnykhCc/MUmTILLXWqolPf8MUm98+T5J86aIxdJbsZw61mQcqj3ARheBOXVsrvR2K4tYLEUsliIWSxGLpbdi3x7EayvUyfJ7AAAAAElFTkSuQmCC') !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(3) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABsUlEQVRYhe2Wz4tOURjHP48spjfZkJoFyUJITRZKVkrptVB6s7BUUjaK8hewR9koZWFpaWHBRlMyZWMxzYzyK5OEkoVmgfpYzFXj7b69fcmYdL916nbPeZ7v53nO6dxbKmtR6/41wCh1YKk6sFQdWKoOLFUHlioCq6qxAzgHPAZuA1uadweB/l8DA1A/q8dHzD0ATgOXgWlgWn3RPE+lRsnYp95R59ULQ3kG6uuW/IfV7+rHxCvt2E5gqap2A331mfpziwbA9ZaYWWAROBA5hR3rqa/UXhO7V32ovlQ/qEda8p9Vb6Ze66Mq4CQwCVwCLlbVLHBoTMx24HnoE3dsg7oQ5p9RJ1Ov9Lr4AjxR76mbg7h3iQ9pFc36Peo3te2gD+e+pt74Ha/0jFFVc+ojYNMYqP1Av6p2pR5xFStiJtS76pK6tSVnT50bnou8wsN/y+UL9k1zPRxrgRqoi+qJP2lCupULwHlgHrgCPFU3AjuAU8BR4C0wVVWfwty/qFZu0djFyx9k1DMNxDZgAngP3AeuVtXXUfGRV7J4NfV//I+tpjqwVB1Yqg4sVQeWas2C/QA08nPbsuziOAAAAABJRU5ErkJggg==') !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(4) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABzUlEQVRYhe2WT0tVURRH1416ZNbDIsknFjTIBg1yrv0lJ5IOctAHCGpoM2kkfYJyUiMnjhpEzhqHEiGOoiYpvESFRCrwC7gavD24BoHnvvsq8P5gw9377LP34pzDuSdT+R915F8D/EkVWKoqsFRVYKmqwFJ1aMEuAqeKTDxaMsg0MAF8AM4AI8BxYBjYTClU9ordA2aBZgCOAYsBmKQyV+wEra17DewBNWAF+AZMJVdTy7Ib6tvfYl1qVqRe1sZ7LANGgUngSlgN+Bg2T+usFSueCHYLmAPqtLboR/hLwFbkDADXgAeRdwHYDf/dgTslLvGaelWtq9fVPnVC7cnlnI7Yucipq0Pql5ReqWAbAYN6Ul1XF9RPcZYy9bP6Rv2qdkduX8ztGNgjdTm+B9VVtV/9GRDd8d0fY5cid1l92EmwmrqT82fVTXU6F3sSsWe52I56rJNgqO/V2zm/x/1XQub+M3dHXUrtUwRsRG3GVqK+DH8hrKm+iLHL4Q//DTDU8diuGXVAbag3wxrqefWpuqXeLdKjnQu2F3gM3Kf1z83fY3vAK+A58L1I8XbA8joLNACB7aIweZUFVroO7Qu2sCqwVFVgqarAUlWBpeoXeTXiKFv79EsAAAAASUVORK5CYII=') !important;
}

[class*="discussionwidget_SteamIcon_"] {
  max-height: 32px !important;
  max-width: 32px !important;
}

[class*="discussionwidget_SteamIcon_"] {
  display: none !important;
}

[class*="discussionwidget_ShareBtn_"]>span {
  line-height: 38px !important;
  margin: 0px 16px !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:not(:first-child) {
  margin-left: 16px !important;
}

[class*="partnereventshared_Divider_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  border-bottom: 0px solid transparent !important;
  height: 1px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

[class*="discussionwidget_linkField_"] {
  margin-top: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subtext) !important;
}

[class*="discussionwidget_linkField_"] span {
  padding-left: 0px !important;
  margin-right: 8px !important;
  color: rgb(var(--color-text)) !important;
  line-height: 38px !important;
}

[class*="discussionwidget_LinkInput_"] {
  color: rgb(var(--color-text-sub)) !important;
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  line-height: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="discussionwidget_ClipboardIcon_"] {
  height: 38px !important;
  width: 38px !important;
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxElEQVRYhe2W0Q2DMAxEz52NFbICs2TarHD9SasUnJZrlYAqP8lCBoQfNgGMJK7I7WyBHiGmEmIqIaYSYiohphJiKpKYmQFABlAA0IkCIJsZvJAgqUQmWUgunWst9Xj+tZYqVkiuH250JVlmi7l/lU0nWfPntu3g6I6ljlSqeWo79sjrecPEXiRq4Z3U9hlr9o8RU8bmjJtDxZyChxfEbLHDr5CpYtvxOny1Ku1dwTP5j2/lTEJMJcRUQkwlxFRCTOWyYncO2E5uhvTnuAAAAABJRU5ErkJggg==') !important;
}

[class*="discussionwidget_ClipboardText_"] {
  padding-top: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
}

/* REVIEW DIALOG */
[class*="writereview_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-sub-header) !important;
  line-height: 32px !important;
  margin: 16px 0px !important;
}

[class*="writereview_DescribeGame_"] {
  margin: 16px 0px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: 0px solid transparent !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: calc(100% - 32px) !important;
  line-height: 20px !important;
  padding: 9px 16px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:focus {
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  background: transparent !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="writereview_ReviewSettingsContainer_"] {
  margin-top: 16px !important;
}

[class*="writereview_ReviewSettingsRow_"] .DialogDropDown_Arrow {
  right: 16px !important;
}

.DialogInputLabelGroup {
  margin-bottom: 0px !important;
}

[class*="writereview_ReviewSettingsChecks_"] {
  gap: 8px !important;
  margin-top: 0px !important;
}

[class*="writereview_ReviewSettingsContainer_"] [class*="writereview_CommentCheckbox_"] {
  margin: 0px 0px 0px 16px !important;
}

[class*="writereview_ReviewSettingsContainer_"] [class*="writereview_FreeCheckbox_"] {
  margin: 0px 0px 0px 16px !important;
}

[class*="writereview_OptionsContainer_"] {
  margin-top: 16px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_LeftContainer_"] {
  border-right: 1px solid rgba(var(--color-white), 0.2) !important;
}

[class*="writereview_OptionsContainer_"]>div:first-of-type {
  padding: 0px 16px 0px 0px !important;
}

[class*="writereview_OptionsContainer_"]>div:last-of-type {
  padding: 0px 0px 0px 16px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"] {
  color: rgb(var(--color-text)) !important;
  /* font-size: var(--font-size-section) !important; */
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionDesc_"] {
  padding: 0px !important;
  margin-top: 16px !important;
}

[class*="writereview_OptionSvg_"] {
  width: 128px !important;
  /* width: 82px !important */
  height: 82px !important;
  opacity: 1 !important;
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
  stroke-width: 4px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"] [class*="writereview_ButtonText_"] {
  margin-left: 0px !important;
  margin-right: 16px !important;
  text-transform: uppercase !important;
}

/* GAME INFO DIALOG */
.DialogButton._DialogLayout.Primary.Disabled.Focusable span [class*="gamepadui_svg_library_Spinner_"] {
  display: none !important;
}

[class*="gamepadui_svg_library_Spinner_"] > path {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_Clickable_"]:not([class*="gamepaddialog_Disabled_"]) button.DialogButton.Primary {
  margin-left: 16px !important;
}

/* MOVE GAME DIALOG */
[class*="moveappsdialog_MoveAppsIndicator_"] {
  min-height: 15px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

[class*="moveappsdialog_DialogBodyText_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

[class*="moveappsdialog_MoveAppsBar_"] {
  background-color: rgb(var(--color-primary)) !important;
}

/* INSTALL GAME DIALOG */
.DesktopUI [class*="installrequest_InstallRequestModal_"] {
  min-height: 0px !important;
}

[class*="installrequest_FolderOption_"][class*="installrequest_Active_"] {
  color: rgb(var(--color-text)) !important;
  background: rgb(var(--color-primary)) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]) {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]):hover {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]):active {
  background: rgba(var(--color-white), 0.3) !important;
}

[class*="installrequest_FolderOption_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  /* column-gap: 12px !important; */
  column-gap: 16px !important;
  /* padding: 12px 16px !important; */
  padding: 0px 16px !important;
  border-radius: 0px !important;
  margin: 0px 0px !important;
  /* line-height: 22px !important; */
  line-height: 38px !important;
}

[class*="installrequest_DiskSpace_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

[class*="installrequest_FolderOption_"] [class*="installrequest_FolderFlag_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAhklEQVRYhe3XwQmAMBBE0VmxFvuvQasQi1kvegkI+QtqDvNAcnH1Q3LQyEyNaPo74InDKIdRDqMcRjmMchjlMIqGrZKyeG3kRQE/FFPSIukgQ9fMLil6ByphvQ+/723XLm+esWhWZNjDPxdmPvl7oWGlbakYdisdRjmMchjlMMphlMMoh1EnlmMgvuvTHmYAAAAASUVORK5CYII=') !important;
  width: 38px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
}

[class*="installrequest_FolderOption_"] [class*="installrequest_FolderFlag_"] svg {
  fill: transparent !important;
  opacity: 0 !important;
}

[class*="installrequest_FolderOption_"] [class*="installrequest_FolderFlagStar_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABO0lEQVRYhe2W4W2DMBCF36u6ACvACKzACl4hK2SWrJCOEEZIRoARYITXP4dkpXXaw9Dyw59kYXwn/IEPAyXhiLz9t0CKIualiHkpYl6KmJfDir17kkkmY5ICgJlk/yJnH7Ef6OyYFPOwh9gmbFJjkloANYDa+tlsVfwBwMNa2OKC9BRkqvglDQA+7DSQbBJ5vzeT5GkXpamspbh45nKJ2Y10kiZJN0nVixuuLGeS1HkfglssmvQuaZBUfyNVW+wey+8uFk10XZbxSXqSdM0pm9y3sgcwkpwXOZIzgBmZG22uWADQm9SytJVJZW0buWItgBHAYMelP1tsPWtrTNIp2grO0fg5Gj+tnitDbNkKvjwZSa3FbmvFcpZyBNCQfDwHbKyxnFW4Pkl/yWH/YIuYlyLmpYh5KWJeDiv2CcDAiZCrVTkjAAAAAElFTkSuQmCC') !important;
  width: 38px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
}

[class*="installrequest_FolderOption_"] [class*="installrequest_FolderFlagStar_"] svg path {
  fill: transparent !important;
  /* stroke: rgb(var(--color-text)) !important; */
  stroke: transparent !important;
  stroke-width: 5px !important;
}

[class*="installrequest_AppName_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-section) !important;
}

[class*="installrequest_AppsToInstall_"] {
  border-top: 0px solid transparent !important;
  margin-top: 16px !important;
}

[class*="installrequest_AppsToInstall_"] [class*="installrequest_AppToInstall_"] {
  border-bottom: 0px solid transparent !important;
  padding: 0px !important;
  line-height: 40px !important;
}

[class*="installrequest_CreateShortcuts_"] {
  margin-top: 16px !important;
  gap: 16px !important;
}

[class*="installrequest_FolderSelector_"] {
  padding: 16px 0px 0px 0px !important;
}

.DesktopUI [class*="installrequest_Header_"] {
  letter-spacing: normal !important;
  margin-bottom: 16px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subtext) !important;
}

[class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"].DesktopUI, .DesktopUI [class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"] {
  line-height: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin-left: 8px !important;
}

[class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"] svg.DesktopUI, .DesktopUI [class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"] svg {
  width: 32px !important;
  padding-top: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABtElEQVRYhe3Wv2oUURQG8F+MtWAajZVoYWEhiZZizL9KfQkJ9mJv3DyAvkBSiUVSiWZjISiYlBFBi2At7KbeF/gs5i6MUbOzISEoe+Ay95575rvfnH93xpI4TTlzqqePCIwIjAgckcA81vGpptvBBhZPmsALvML3sl5BC8EeXuL5MIBnhyTwDdfwFLfwoejnsFt0e8MAjjVsxSv4gS94i8m/2HVwDzdxHY8HIicZNBaSdJO0k3SSLB9iu1Js2kn2k8wPwm9CYL0AH9SvlUO6ZX5wv5VkYxB+kyScxF1VfPuyhou4j9vFZrW2v6jKiwvHEQJJniTp1dadJFNJriS5Wkantt9L8qwJdtMqOP8H3Xh5jmHC7yU9roE0CcE2ZlQu7cuWqv4ncA7L2Kztz2HWr83qyAQ6+Kiq874sYR9v0Ea36Pqyq+oR3YHoQ5ThZolzq0EZbpV3FgbhN21ELVUj+orXuHSItx5gyjE2ovp4mORdmU+XbO/VvrSdZGkYzGHvgsu4UTwyq7p4eqokvINpfB4GsGkI6jKPR6pGNFN02yr3r+L9SRM4Vvkn/4hGBEYE/i8CPwHyVDsu32fdmgAAAABJRU5ErkJggg==') !important;
}

[class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"] svg.DesktopUI path, .DesktopUI [class*="installrequest_FolderSelector_"] [class*="installrequest_FolderSettings_"] svg path {
  fill: transparent !important;
}

/* CD KEYS DIALOG */
[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyName_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyValue_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

/* SHUT DOWN DIALOG */
[class*="shutdowndialog_ShutdownDialog_"] [class*="throbber_Visible_"] {
  /* margin-bottom: 16px !important; */
}

[class*="shutdowndialog_Buttons_"] {
  margin-top: 16px !important;
}

/* SIGN IN */
[class*="login_Login_"].DesktopUI, .DesktopUI [class*="login_Login_"] {
  border: 0px solid rgb(var(--color-primary)) !important;
}

[class*="login_Login_"] {
  background: rgb(var(--color-background)) !important;
  outline: 1px solid rgb(var(--color-primary)) !important;
  outline-offset: -1px !important;
}

[class*="login_TitleContainer_"] {
  height: 39px !important;
}

[class*="login_TitleContainer_"] .title-area .title-bar-actions {
  margin-top: 1px !important;
  margin-right: 1px !important;
}

[class*="newlogindialog_Login_"] {
  padding: 0px 38px 38px 38px !important;
  /* border-bottom: 1px solid rgb(var(--color-primary)) !important; */
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"] {
  background: transparent !important;
  padding: 0px 38px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"][class*="newlogindialog_InClient_"] {
  padding: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"] {
  gap: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_SideBySide_"] {
  padding-top: 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_LoginForm_"] {
  gap: 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_TextField_"] {
  gap: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_FieldLabel_"][class*="newlogindialog_Highlight_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_TextInput_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  height: 38px !important;
  line-height: 38px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  border: 0px solid transparent !important;
  padding: 0px 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_TextInput_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_TextInput_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_FieldLabel_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin-bottom: 3px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_CheckboxField_"] [class*="newlogindialog_CheckboxFieldLabel_"] {
  padding-left: 8px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_FormError_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"] [class*="newlogindialog_EmbeddedRootFooter_"][class*="newlogindialog_InClient_"] {
  padding-top: 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_TextLink_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"] [class*="newlogindialog_EmbeddedRootFooter_"] [class*="newlogindialog_AccountCreationPrompt_"] {
  margin-right: 8px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_QRSection_"] {
  padding-left: 16px !important;
  gap: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_FieldLabel_"][class*="newlogindialog_Highlight_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_QRSection_"] [class*="newlogindialog_QRCodeContainer_"] [class*="newlogindialog_QR_"] {
  margin: 0px 0px 16px 0px !important;
  border-radius: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EmbeddedRoot_"] [class*="newlogindialog_EmbeddedRootFooter_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_QRSection_"] [class*="newlogindialog_UseMobileAppForQR_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_QRSection_"] [class*="newlogindialog_UseMobileAppForQR_"] :not([class*="newlogindialog_InClient_"]) {
  padding: 0px !important;
}

[class*="newlogindialog_SubmitButton_"] {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 38px !important;
  height: 38px !important;
}

[class*="newlogindialog_SubmitButton_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="newlogindialog_SubmitButton_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_SubmitButton_"]:focus {
  outline: 0px solid transparent !important;
}

[class*="newlogindialog_LoadingContainer_"] {
  display: none !important;
}

[class*="newlogindialog_Checkbox_"] {
  padding: 0px !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 0px !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  background-color: transparent !important;
}

[class*="newlogindialog_Checkbox_"]:hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

[class*="newlogindialog_Checkbox_"]:active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"] {
  margin-left: -2px !important;
  margin-top: -2px !important;
  border: 2px solid rgb(var(--color-primary)) !important;
  background-color: rgb(var(--color-primary)) !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"]::before {
  content: "" !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
  background-color: rgb(var(--color-background)) !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"]:hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"]:active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"] {
  height: 16px !important;
  width: 16px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAiElEQVQ4jaWTwQ3CMAxFXxGbNEduLMAILM4kCAkGqB4XIpmipCW25Evi9518J5NKJg4pGjgm2AKcRgUKcAOWacCDCgOcUf/JWX19sqik4CpwjQuNLAGe4x7qY63agX9qtgq6cPSgFj7DETfhtYnRpEvrzj2B2NU9cGuMRb3vmAwqIy/xK9K/8Q2+K9cuaoLzHwAAAABJRU5ErkJggg==') !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  background-position: center !important;
}

[class*="newlogindialog_Checkbox_"] [class*="newlogindialog_Check_"] polyline {
  stroke: transparent !important;
  color: transparent !important;
  fill: transparent !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_Checkbox_"]:focus {
  outline: 0px solid transparent !important;
}

[class*="qrlogin_LoginQR_"] {
  border-radius: 0px !important;
  border-width: 16px !important;
}

/* LOGIN CONRIRMATION */
[class*="newlogindialog_Login_"] [class*="newlogindialog_StandardLayout_"][class*="newlogindialog_Embedded_"] {
  background: transparent !important;
  padding: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_StandardLayout_"][class*="newlogindialog_Embedded_"] [class*="newlogindialog_FormContainer_"] {
  padding: 16px 0px 0px 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_ConfirmationEntryContainer_"] {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_ProtectingAccount_"] [class*="newlogindialog_Label_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subheader) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_ProtectingAccount_"] [class*="newlogindialog_AccountName_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-subheader) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_StandardLayout_"][class*="newlogindialog_Embedded_"].IN_CLIENT {
  min-height: 362px !important;
  max-height: 362px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_ConfirmationContainer_"] {
    background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_ConfirmationContainer_"] [class*="newlogindialog_AwaitingMobileConfText_"] {
  padding: 16px !important;
  margin: 0px !important;
  line-height: 24px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-subheader) !important;
  font-weight: 400 !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_LinkContainer_"] > div:first-child {
  padding-bottom: 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EnterBackupCodeContainer_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromMobileContainer_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromEmailContainer_"] {
  padding: 16px !important;
  gap: 16px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EnterBackupCodeContainer_"] [class*="newlogindialog_EnterCodeFromMobile_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterBackupCodeContainer_"] [class*="newlogindialog_EnterCodeFromEmail_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromMobileContainer_"] [class*="newlogindialog_EnterCodeFromMobile_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromMobileContainer_"] [class*="newlogindialog_EnterCodeFromEmail_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromEmailContainer_"] [class*="newlogindialog_EnterCodeFromMobile_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromEmailContainer_"] [class*="newlogindialog_EnterCodeFromEmail_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_AwaitingMobileConfIcon_"] {
  color: rgb(var(--color-primary)) !important;
}

[class*="newlogindialog_Login_"] [class*="newlogindialog_EnterBackupCodeContainer_"] [class*="newlogindialog_Label_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromMobileContainer_"] [class*="newlogindialog_Label_"], [class*="newlogindialog_Login_"] [class*="newlogindialog_EnterCodeFromEmailContainer_"] [class*="newlogindialog_Label_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}