/* DIALOG */
.DialogContent {
  padding: 32px !important;
}

/* NEW COLLECTION DIALOG */
[class*="savecollectiondialog_TwoOptionsContainer_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
}

[class*="savecollectiondialog_Description_"] {
  background: transparent !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

/* SHARE SCREENSHOT DIALOG */
[class*="sharescreenshotupload_ShareScreenshotDialog_"] {
  padding: 16px 0px 0px 0px !important;
}

[class*="sharescreenshotupload_CaptionHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: 0px solid transparent !important;
  margin-top: 0px !important;
  width: calc(100% - 16px) !important;
  line-height: 20px !important;
  padding: 8px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_VisibilityHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_RadioButtonGroup_"] {
  background-color: transparent !important;
  padding: 0px !important;
}

[class*="sharescreenshotupload_Spoiler_"] {
  margin-top: 16px !important;
}

[class*="sharescreenshotupload_CloudStorageMessage_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  line-height: 16px !important;
}

/* AWARD DIALOG */
[class*="awardmodal_GrantAwardModal_"] {
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Header_"] [class*="awardmodal_Title_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-header) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Header_"] [class*="awardmodal_Description_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_Divider_"] {
  margin: 16px 0px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  /* display: none !important; */
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] {
  gap: 0px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] {
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  padding: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"][class*="awardmodal_Selected_"] {
  border-color: transparent !important;
  background-color: rgba(var(--color-primary), 0.5) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] [class*="awardmodal_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_ButtonContainer_"] [class*="awardmodal_Button_"] [class*="awardmodal_Points_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

[class*="awardmodal_PointsAmount_"] [class*="awardmodal_PointsAmountIcon_"] {
  margin: 0px !important;
  padding: 0px !important;
  height: 24px !important;
  width: 24px !important;
  display: none !important;
}

[class*="awardmodal_PointsAmount_"] [class*="awardmodal_PointsAmountIcon_"] > * {
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceIcon_"] {
  margin: 0px !important;
  padding: 0px !important;
  height: 32px !important;
  width: 32px !important;
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceIcon_"] > * {
  display: none !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] {
  line-height: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] [class*="awardmodal_BalanceLabel_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_Left_"] [class*="awardmodal_BalanceDetails_"] [class*="awardmodal_BalanceAmount_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  margin-top: 16px !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"]:hover {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="awardmodal_GrantAwardModal_"] [class*="awardmodal_Footer_"] [class*="awardmodal_FooterLink_"]:active {
  color: rgb(var(--color-text-disabled)) !important;
}

[class*="awardmodal_ConfirmContainer_"] {
  padding: 0px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding: 0px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"]:not(:first-of-type) {
  padding-top: 16px !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] [class*="awardmodal_PointsAmount_"] {
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="awardmodal_ConfirmContainer_"] [class*="awardmodal_ConfirmText_"] [class*="awardmodal_AwardName_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
}

/* ARTWORK DIALOG */
[class*="artworkmodal_ArtworkModal_"] {
  border: 0px solid transparent !important;
}

[class*="artworkmodal_ModalBox_"] {
  background: rgb(var(--color-background-settings)) !important;
}

[class*="artworkmodal_ArtworkModalContainer_"] {
  /* padding: 38px !important; */
  /* padding-bottom: 38px !important; */
  padding: 0px !important;
  margin: 0px !important;
  -webkit-mask-image: none !important;
}

[class*="artworkmodal_ArtworkContainer_"] {
  margin-top: 38px !important;
  /* width: 100% !important; */
  /* height: 100% !important; */
  width: calc(100% - 76px) !important;
  height: auto !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_ChildrenContainer_"] {
  margin: 0px !important;
}

[class*="artworkmodal_FileDetails_"] {
  padding: 16px 0px !important;
  line-height: 38px !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Caption_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_CreatedBy_"] {
  gap: 16px !important;
}

[class*="artworkmodal_CreatedBy_"] [class*="artworkmodal_Label_"] {
  letter-spacing: normal !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="appactivityday_VisibilityLabel_"] {
  letter-spacing: normal !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Fields_"] [class*="artworkmodal_IconAndDate_"] {
  gap: 16px !important;
}

[class*="artworkmodal_FileDetails_"] [class*="artworkmodal_Fields_"] [class*="artworkmodal_IconAndDate_"] [class*="artworkmodal_Timestamp_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_ArtworkModal_"] [class*="artworkmodal_ModalArtCloseButton_"] {
  /* margin-top: 38px !important; */
  margin-top: 0px !important;
  min-height: 38px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] {
  margin: 16px 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] svg {
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  margin: 0px 16px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoElEQVRYhe3WwQ3DIAyF4UfVDdoZmhXC7h0iM7S9ZoY/hxCJSxUwSaNGtoQQIOxPHCwCoCPjcmh1BzjAARsBmhrJKV7AAQ74OaBbOb/vCXhIekqKX86jpKEKAdSOCLzTLOZY9l9AX5PPAsiLxQTI11W5rIAF8UkAU/FWQI4wFQcUaP+U3iSN1stbAJriarhTIg57AoqTl8RftmIHOOBcgAmkNZkO+dGaIAAAAABJRU5ErkJggg==') !important;
  opacity: 1 !important;
  transform: none !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="artworkmodal_Header_"] [class*="artworkmodal_ScrollForMore_"] svg * {
  fill: transparent !important;
  stroke: transparent !important;
  display: none !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_RatingBar_"]:not([class*="comment_thread_IsVisible_"]) {
  height: 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_RatingBar_"][class*="comment_thread_IsVisible_"] {
  height: 24px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="comment_thread_CommentThread_"][class*="comment_thread_Shown_"] {
  margin-bottom: 38px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"][class*="comment_thread_AddReply_"].Panel {
  margin-top: -2px !important;
  margin-bottom: 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntryArea_"] {
  margin-bottom: -4px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"] [class*="posttextentry_Controls_"][class*="posttextentry_Active_"] {
  margin: 16px 0px 0px 0px !important;
}

[class*="artworkmodal_ArtworkModalDetails_"] [class*="posttextentry_PostTextEntry_"] [class*="posttextentry_Controls_"]:not([class*="posttextentry_Active_"]) {
  margin: 0px !important;
}

/* LAUNCH OPTION DIALOG */
[class*="launchoptionsdialog_LaunchOptionDialog_"] {
  background: transparent !important;
  padding: 38px !important;
  color: rgb(var(--color-text)) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"].DesktopUI, .DesktopUI [class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"] {
  margin: 0px 0px 16px 0px !important;
  line-height: 24px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subheader) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] {
  padding: 0px !important;
  flex-grow: 0 !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListHeader_"] {
  letter-spacing: normal !important;
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] {
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  /* background: rgba(var(--color-white), 0.1) !important; */
  background: transparent !important;
  padding: 0px !important;
  margin: 16px 0px !important;
  /* flex-grow: 0 !important; */
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] {
  margin: 0px !important;
  background: transparent !important;
  padding: 16px 0px !important;
}

/* [class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"]:hover { */
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"]:active {
  /* background: rgba(var(--color-white), 0.2) !important; */
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] label {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  padding-left: 8px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_CheckboxRow_"] {
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_SeeProperties_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  margin: 16px 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"]  {
  margin-right: 0px !important;
  bottom: 38px !important;
  position: absolute !important;
  right: 38px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  min-width: 80px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:first-of-type {
  margin-right: 16px !important;
}