/* DIALOG */
.DialogContent {
  padding: 32px !important;
}

/* NEW COLLECTION DIALOG */
[class*="savecollectiondialog_TwoOptionsContainer_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
}

[class*="savecollectiondialog_Description_"] {
  background: transparent !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

/* SHARE SCREENSHOT DIALOG */
[class*="sharescreenshotupload_ShareScreenshotDialog_"] {
  padding: 16px 0px 0px 0px !important;
}

[class*="sharescreenshotupload_CaptionHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: 0px solid transparent !important;
  margin-top: 0px !important;
  width: calc(100% - 16px) !important;
  line-height: 20px !important;
  padding: 8px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_VisibilityHeader_"] {
  margin-top: 16px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_RadioButtonGroup_"] {
  background-color: transparent !important;
  padding: 0px !important;
}

[class*="sharescreenshotupload_Spoiler_"] {
  margin-top: 16px !important;
}

[class*="sharescreenshotupload_CloudStorageMessage_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  line-height: 16px !important;
}