/* WINDOW BORDER */
[class*="steamdesktop_Wrapper_"] {
  border: 1px solid rgb(var(--color-primary)) !important;
  background: rgb(var(--color-background)) !important;
}

[class*="steamdesktop_FocusNavigationRoot_"] {
  background: rgb(var(--color-black)) !important;
}

[class*="htmlpopupdialog_HTMLPopupDialog_"] [class*="htmlpopupdialog_BrowserViewHost_"] {
  background: rgb(var(--color-black)) !important;
}

/* [class*="gamepadui_SteamUIPopupHTML_"] {
  border: 1px solid rgb(var(--color-primary)) !important;
  width: calc(100% - 2px) !important;
  height: calc(100% - 2px) !important;
} */

/* WINODW GRIP */
.window_resize_grip {
  background-image: none !important;
  /* display: none !important; */
  width: 0px !important;
  height: 0px !important;
}

/* WINDOW CONTROLS */
[class*="steamdesktop_TitleBar_"] [class*="steamdesktop_WindowControls_"] {
  flex: 0 0 114px !important;
}

.title-area, .friendlist .title-area-icon {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.DesktopUI .title-area-icon:active, .friendsui-container .title-area-icon:active {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.title-area-highlight {
  background: transparent !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.focused:not(.singlewindow) .title-area-highlight {
  opacity: 0 !important;
}

.title-area-icon, .title-bar-actions {
  width: 38px !important;
  height: 38px !important;
  min-width: 38px !important;
  min-height: 38px !important;
  max-width: 38px !important;
  max-height: 38px !important;
}

.title-area-icon-inner {
  width: 38px !important;
}

.maximizeButton, .minimizeButton, .restoreButton, .closeButton {
  width: 38px !important;
  height: 38px !important;
}

.closeButton:not([class*="chattabs_CloseButton_"]):hover {
  background-color: rgb(var(--color-close-hover)) !important;
}

.closeButton:not([class*="chattabs_CloseButton_"]):active {
  background-color: rgb(var(--color-close-pressed)) !important;
}

.closeButton:hover, .maximizeButton:hover, .minimizeButton:hover, .restoreButton:hover {
  /* background: rgba(var(--color-white), 0.1) !important; */
}

.closeButton:active, .maximizeButton:active, .minimizeButton:active, .restoreButton:active {
  /* background: rgba(var(--color-white), 0.2) !important; */
}

/* WINDOWS BUTTONS ICONS */
.title-area-icon .SVGIcon_Minimize, .title-area-icon .SVGIcon_Maximize, .title-area-icon .SVGIcon_X_Line, .title-area-icon .SVGIcon_Restore, .title-area-icon .SVGIcon_X_Line {
  opacity: 0 !important;
  display: none !important;
}

.title-area-icon .SVGIcon_X_Line line {
  stroke: transparent !important;
}

.title-area-icon, .title-area-icon:hover, .title-area-icon:active, .popup_chat_frame.fullheight .title-area-icon {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.minimizeButton, .minimizeButton:hover, .minimizeButton:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAWElEQVRYhe3WMQ4AIAjAQDX+/8v4AhMLgwy9HWnC4oyI0dH6HXBjGGUYZRhlGGUYZRhlGGUYtQuzr1/fmXm8EpZa+KrtKQ2jDKMMowyjDKMMowyjDKPahh1EEARO8oejKwAAAABJRU5ErkJggg==') !important;
}

.maximizeButton, .maximizeButton:hover, .maximizeButton:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAZklEQVRYhe3XQQrAIAwAwVr8/5fTFxSyCWIOu3d1QJC4IuKZ2Hsb8JcwmjCaMJowmjCaMNpurM2OJauyeQeWObQ8U429SmE0YTRhtO47duzv14GVXvRsY69SGE0YTRhNGE0YTRjtA+AeBlEfcy4rAAAAAElFTkSuQmCC') !important;
}

.restoreButton, .restoreButton:hover, .restoreButton:active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAfklEQVRYhe3XQQ6AIAwFUTHe/8p1xQ4k05bQxP9WrnDSgMFmZldF9+mAGYVRCqMURimMUhilMOpJWGN1PWmeRTPCvl7uvlNFwmzy3Lkm1UUnlj6pruzmVxi1Myy0z7I+FyNHT+W2f79IWGgiK7/c/CEKoxRGKYxSGKUwqmzYC931Clab2fwWAAAAAElFTkSuQmCC') !important;
}

.closeButton, .closeButton:hover, .closeButton:not([class*="chattabs_CloseButton_"]):hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsklEQVRYhe2XUQqDMBBEJ6WHNTmQHnf6EUMhmNDJltqPebAYXFkeu65gIol/5HG3wAiLqVhMxWIqFlOxmIrFVCJiBJAn+Xw+s1idXI3CSr7IbZPcRxERG8nlqBRJPJdbXdnPce3dvQLgCFUOdqzvXLhTLb61lRycl4mOEgA2vMeXUEfYrusEW361fbNt/clWtu0rk3fuls/FSKoXX6qfSP9XSlhMxWIqFlOxmIrFVCym8gJEbs8EYmiHNAAAAABJRU5ErkJggg==') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.closeButton:active, .closeButton:not([class*="chattabs_CloseButton_"]):active {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAArklEQVRYhe3WQQrDMAxE0ZmeNsr998qiOATXXozcIlP0IVASEA/bIaW7Y8de2YBZBVMrmFrB1AqmVjC1gqmFYSSdpJHE5DKS8b8u7h66AJwAHIANxh7tWXj+AmyGs+e9LFgPsR6aCXuu3MfWRud/6630ye+Fiesrdh90DM5c1lYePaTHZcDaQT8HG3HjMmAzVMveCxabz8EbtkX/9638dQVTK5hawdQKplYwtW1hF4pKxBB/wwqeAAAAAElFTkSuQmCC') !important;
}

/* WRAPPER */
[class*="steamdesktop_Wrapper_"] {
  background-color: rgb(var(--color-background)) !important;
}

/* DIV MODAL DISMISS */
.ModalPosition_Dismiss {
  right: 0px !important;
  top: 0px !important;
}

.ModalPosition .ModalPosition_Dismiss, .ModalPosition.EventDisplay_Share_Dialog .ModalPosition_Dismiss {
  right: 1px !important;
  top: 1px !important;
}

.ModalPosition_Dismiss .closeButton {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.ModalPosition_Dismiss .closeButton svg {
  display: none !important;
}