/* BORDER */
.chat_main_flex {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.singleWindowFocusBar {
  height: 0px !important;
  background: transparent !important;
  mask: none !important;
  -webkit-mask: none !important;
}

/* BACKGROUND */
.friendsui-container {
  background-color: rgb(var(--color-background)) !important;
}

/* TITLEBAR */
.friendListHeaderContainer {
  border: 0px solid transparent !important;
  background-color: transparent !important;
}

/* PICKER */
.FriendPicker_ChosenFriend span {
  color: rgba(var(--color-white), 0.75) !important;
}

.FriendPicker_ChosenFriend:hover span {
  color: rgb(var(--color-text)) !important;
}

.FriendPicker_ChosenFriend {
  background: rgb(var(--color-accent)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 4px 12px !important;
}

.FriendPicker_ChosenFriend .SVGIcon_X_Line line {
  stroke: rgba(var(--color-white), 0.75) !important;
}

.FriendPicker_ChosenFriend:hover .SVGIcon_X_Line line, .FriendPicker_ChosenFriend:active .SVGIcon_X_Line line {
  stroke: rgb(var(--color-text)) !important;
}

.FriendPicker_Focus .FriendPicker_SuggestedFriend.Focus {
  background: rgba(var(--color-white), 0.1) !important;
}

.insetShadow {
  background: transparent !important;
}

.FriendPicker_SuggestedFriend {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.FriendPicker_SuggestedFriend:hover, .FriendPicker_SuggestedFriend:active {
  background: rgba(var(--color-white), 0.1) !important;
}

.FriendPicker {
  margin-bottom: 0px !important;
}

.scrollfade_ScrollFade_1ZCj8 {
  -webkit-mask: none !important;
}

/* AVATAR */
[class*="steamavatar_avatarFrame_"] [class*="steamavatar_avatarFrameImg_"] {
  display: none !important;
}

.friend.offline .avatarHolder img.avatar  {
  filter: none !important;
}

[class*="steamavatar_avatarHolder_"] {
  transform: none !important;
}

.ChatTabContent .avatarHolder .avatarStatus, .friend.quickAccessFriend .avatarHolder .avatarStatus {
  display: none !important;
  height: 0px !important;
}

.ingame [class*="steamavatar_avatarHolder_"] {
  border: 1px solid rgb(var(--color-ingame)) !important;
}

.online [class*="steamavatar_avatarHolder_"] {
  border: 1px solid rgb(var(--color-online)) !important;
}

.offline [class*="steamavatar_avatarHolder_"] {
  border: 1px solid rgb(var(--color-offline)) !important;
}

[class*="steamavatar_avatar_"] {
  border: 0px solid transparent !important;
  height: 100% !important;
  width: 100% !important;
}

/* HEADER */
.friendListHeaderContainer {
  min-height: 0px !important;
}

/* CURRENT USER */
.currentUserContainer {
  border-bottom: 0px solid transparent !important;
  height: 38px !important;
  padding-right: 0px !important;
}

.currentUserContainer::before, .currentUserContainer::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 38px !important;
}

.currentUserContainer::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.currentUserContainer::after {
  background-image: var(--image-acrylic) !important;
}

.statusHeaderGlow {
  opacity: 0 !important;
  display: none !important;
}

.currentUserAvatar {
  display: none !important;
}

.AvatarAndUser {
  padding-top: 10px !important;
  padding-bottom: 0px !important;
  width: fit-content !important;
}

.currentUserContainer [class*="personanameandstatus_statusAndName_"], .currentUserContainer [class*="personanameandstatus_playerName_"]  {
  font-size: var(--font-size-section) !important;
  font-weight: normal !important;
}

.currentUserContainer [class*="personanameandstatus_richPresenceContainer_"] {
  display: none !important;
}

.currentUserContainer .ContextMenuButton {
  opacity: 1 !important;
}

.FriendsListContent .ContextMenuButton, .MemberListColumn .ContextMenuButton, .VoiceChannelParticipants .ContextMenuButton {
  opacity: 0 !important;
  display: none !important;
}

/* QUICK ACCESS */
.quickAccessFriends.emptyQuickAccess.hintDismissed {
  margin-top: 0px !important;
}

.quickAccessFriendsMessage {
  color: rgb(var(--color-text)) !important;
  text-transform: uppercase !important;
}

.quickAccessFriendsMessage {
  border-radius: 0 !important;
  border: 0px solid transparent !important;
}

.quickAccessFriends {
  margin-left: 0px !important;
  width: 100% !important;
  padding: 0px 8px !important;
}

.quickAccessFriends .favoriteElement:hover .friend .avatarHolder {
  transform: scale(1.2) !important;
}

.quickAccessFriends  {
  background-color: transparent !important;
}

.quickAccessFriends::before, .quickAccessFriends::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.quickAccessFriends::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.quickAccessFriends::after {
  background-image: var(--image-acrylic) !important;
}

.favoriteElement {
  height: 54px !important;
}

.favoriteElement .ChatRoomGroupAvatar {
  padding: 0px !important;
  width: 38px !important;
  height: 38px !important;
  margin: 8px !important;
}

.favoriteElement .ChatRoomGroupAvatar_initials {
  width: 36px !important;
  height: 36px !important;
  padding-top: 0px !important;
  border-width: 0px !important;
  line-height: 36px !important;
  font-size: 16px !important;
}

.friend.quickAccessFriend {
  width: 38px !important;
  margin: 8px !important;
}

.FavoriteFriend_GameIcon {
  background-color: transparent !important;
  display: none !important;
}

.dropTargetBox  {
  border-radius: 0 !important;
  border: 0px solid transparent !important;
}

.playerNameQuickAccessContainer {
  display: none !important;
  color: rgb(var(--color-text)) !important;
}

.quickAccessFriend .clanName {
  display: none !important;
  color: rgb(var(--color-text)) !important;
}

/* ACTIVE VOICE CONTROLS */
.friendListHeaderContainer .activeVoiceControls {
  height: 32px !important;
}

.friendListHeaderContainer .activeVoiceControls:before {
  height: 0px !important;
  width: 0px !important;
  background: transparent !important;
}

.activeVoiceFlexBox {
  height: 32px !important;
}

.friendListHeaderContainer .activeVoiceControls {
  background-color: transparent !important;
  border: 0px solid transparent !important;
  border-image: url() !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::before, .friendListHeaderContainer .activeVoiceFlexBox::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 32px !important;
  margin-top: 38px !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::after {
  background-image: var(--image-acrylic) !important;
}

.activeVoiceControls .connectionStatusLabels, .chatRoomVoiceChannel .connectionStatusLabels {
  font-size: var(--font-size-sub) !important;
  color: rgb(var(--color-text)) !important;
}

.friendListHeaderContainer .activeVoiceLabels {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-flex !important;
  font-size: 13px !important;
}

.activeVoiceLabels .activeVoiceHeader {
  letter-spacing: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: 13px !important;
}

.activeVoiceLabels .activeVoiceName {
  color: rgb(var(--color-text)) !important;
  font-size: 13px !important;
  line-height: inherit !important;
}

.activeVoiceLabels .activeVoiceName::before {
  content: "\00a0" !important;
  font-size: 13px !important;
}

.friendListHeaderContainer .activeVoiceButtons {
  min-width: 96px !important;
}

.VoiceControlPanelButton:focus {
  background-color: transparent !important;
}

.VoiceControlPanelButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.VoiceControlPanelButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.activeVoiceFlexBox .activeVoiceButtons button {
  margin-top: 0px !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

.VoiceControlPanelButton.ToggleMicrophoneButton.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsklEQVRYhe2V7Q0CIRBEH8ZCuIqvBGJFdqBW4EcF4x9M8MIpuyZeTpmEBHYJ8yCwBEksqc2i7h2gA3QAJ0ACVGnJAxAchUjAAJyK2AAcgPAtgJrRXPylVnkHOsD/ArQ+F9OzWtUJlIpvxs3aGuZes9EOOFbyKedvJgJJrW2UtJcUZ/Ix50fDmiaAB8RFdZ2t5pJcf8HTAeKo/6Usd2BqPO27QLwAH+261GrrQAfoAL8DcAf/ROscBIH3oQAAAABJRU5ErkJggg==') !important;
}

.VoiceControlPanelButton.ToggleMicrophoneButton.disabled.Focusable {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAw0lEQVRYhe3XsQ3CMBCF4QuThDWS5bwBG5AOiWkYgh7RUP8UxI05Y86clQKf5CIny++7yIqUAZAta7dpegd0QAdUAhYRQVlLsm8SkXPxNMC6AMakt1/78XkCrsBcOq8WoPWDNdwbYA73BszWcE9AVbgXoDrcA/BTuBUQg0MmPPAObALITY6yzxWQm1x4fZiaA2L4I3ntsY4r5N4KULpwI3ABDi0A2oVL62YN/xbwaXKsgTWAkxKuVRVggP5f0AEd8OeAJ+gC3p/PBscoAAAAAElFTkSuQmCC') !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABEElEQVRYhe2W4U3DMBCFXxD/gQ3KBrAAygjJBDETdIYOgNgAEAMgNoAJEBuUCYANvv65qgdq6mubqFLlJ530bCv2J/vOcQXokDo56OoFoAAUgGMGmEu6HgsgScpdn8+S7kKzAdtEx0r/xwBa82fAD3CVm3OXxVMPQAJ+gXNr31vsDeCVXJ8fr80/uEUb4G0ogE19U+DFfA18mJ/0fPsnKvK/YyRVG/ouJH27Nj1+rYYow70eFEMAdJJezdeSvsxPQl9vmYRdTxIuy+3RJWEbScLTAOPyDJOkp8x4I+nS2jeSPofYAR+3bjfW7VTDiBeRv3By5TUD3iPzRcpwF80ltZEjGAsgrKN9DxSAAlAAwloASprg6QTtxMAAAAAASUVORK5CYII=') !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton.disabled.Focusable {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAs0lEQVRYhe2WUQrDIAyGP8fuqT3ZepQdYTf699BKxbmiJcOHJRAK0ZLPP4kYJDHTblOzO4ADOIADXARIgNn1OQqQgIdVcgAk9XrSZvk78u9X79lUWipieX0t4kiKe6wL4N4pVDhZe3KURcAKLJYlaMldx5ZCpThSAqsxLKfiTK2fKFA2Z6x6xbwJoz4BXlXCZY+ZAbRO2lLlkvdOAWzdDRMvouy5ziYKBMlfxQ7gAA7w5wBvunTJ0lLAwJMAAAAASUVORK5CYII=') !important;
}

.VoiceControlPanelButton.chatEndVoiceChat.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVRYhe3WSwqAMAwE0Il4YU/SI48LEbrLh0hczEB3rX2QNtZIYjLH6O4CCCAAgLOwJts4rBvgfnSLix0vgQAZwPpEQDIyFp9E57/DXZPZPJMwYPwMjJcg2oiu3Yx4I3JjzD/JMgB37vgZEKD6N2x7y1cAbTcA+EEJBBBAgBuruT7IGb9lpwAAAABJRU5ErkJggg==') !important;
}

.activeVoiceButtons .SVGIcon_Button {
  fill: rgb(var(--color-white)) !important;
  display: none !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton .SVGIcon_Headphones, .VoiceControlPanelButton.ToggleMicrophoneButton .SVGIcon_Microphone {
  width: 32px !important;
  height: 32px !important;
  padding-top: 0px !important;
  display: none !important;
}

.friendListHeaderContainer .SVGIcon_Button.SVGIcon_VoiceRoom  {
  width: 32px !important;
  height: 32px !important;
  padding-top: 0px !important;
  display: none !important;
}

/* SEARCH */
.activeTab {
  color: rgb(var(--color-text)) !important;
  background-color: transparent !important;
}

.TabSearchButton .ColorSelector {
  stroke: rgb(var(--color-text)) !important;
  fill: rgb(var(--color-text)) !important;
}

.socialListTab {
  margin-top: 0px !important;
  height: 32px !important;
}

.socialListTab .tabLabel {
  font-weight: normal !important;
  color: rgb(var(--color-text)) !important;
}

.socialListTab.TabSearchActive .tabLabel {
  width: 0px !important;
}

.socialListTab.TabSearchActive {
  padding-left: 0px !important;
}

.TabSearchButton {
  background-color: transparent !important;
  padding: 0px !important;
  height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

.searchIconButton {
  background-color: transparent !important;
}

.searchIconButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.searchIconButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.TabSearchButton .searchIconButton {
  height: 32px !important;
  width: 32px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2ElEQVRYhe2WMWrDQBBFn4J7l1EqH8DoELqEcoYcxjcIpPYN7MqolLsEkgOkCSnTuXsurCKFbFYrCRXegWFhBv5/MDOwmcqc8TCrewJIAAkgAYwAUAFNm+/ADih6Kaix+aLW6uO/Wqk2ahGqMwSgUZ866qW6D9WJHUEFfAM/Hb0DkIcKDdmBvxu909QANdeXLQeyqQF+uYzgtcN8C2xChRaRACWwBj6BI/ABLIEV8NZChEXE9pfqV/vSnuGzWsVc01DzwTmreV+A0c1VMk2/4gSQABLAnQOcAQnRX9BFYc88AAAAAElFTkSuQmCC') !important;
}

.TabSearchActive .TabSearchButton .searchIconButton {
  width: 0px !important;
  opacity: 0 !important;
}

.friendsTabButtonsContainer {
  padding-right: 0px !important;
}

.friendsTabButtonsContainer .TabSearchButton .SVGIcon_MagnifyingGlass {
  height: 32px !important;
  width: 32px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  display: none !important;
}

.socialInputContainer.SearchActive {
  max-height: 32px !important;
}

.socialInputContainer .inputContainer {
  margin: 0px !important;
}

.socialInputContainer .inputContainer.no-drag {
  height: 32px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

.friendSearchInput[type=text] {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  font-size: var(--font-size-text) !important;
  background-size: 32px 32px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2ElEQVRYhe2WMWrDQBBFn4J7l1EqH8DoELqEcoYcxjcIpPYN7MqolLsEkgOkCSnTuXsurCKFbFYrCRXegWFhBv5/MDOwmcqc8TCrewJIAAkgAYwAUAFNm+/ADih6Kaix+aLW6uO/Wqk2ahGqMwSgUZ866qW6D9WJHUEFfAM/Hb0DkIcKDdmBvxu909QANdeXLQeyqQF+uYzgtcN8C2xChRaRACWwBj6BI/ABLIEV8NZChEXE9pfqV/vSnuGzWsVc01DzwTmreV+A0c1VMk2/4gSQABLAnQOcAQnRX9BFYc88AAAAAElFTkSuQmCC') !important;
  background-position: 0px 0px !important;
  padding-left: 32px !important;
}

.socialInputContainer .friendSearchInput[type=text] {
  padding-right: 0px !important;
  background-color: transparent !important;
}

.friendSearchInput::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  text-transform: uppercase !important;
  font-size: var(--font-size-text) !important;
}

.friendSearchClear {
  width: 32px !important;
  height: 32px !important;
  right: 0px !important;
  /* opacity: 1 !important; */
}

.friendSearchNoResultsContainer {
  color: rgb(var(--color-text-sub)) !important;
}

.friendSearchNoResultsContainer a {
  color: rgb(var(--color-accent)) !important;
}

.friendSearchNoResultsContainer a:hover {
  color: rgb(var(--color-text-sub)) !important;
}

.friendSearchNoResultsContainer a:active {
  color: rgb(var(--color-text-disabled)) !important;
}

/* FRIENDS ADD */
.addFriendButton {
  background-color: transparent !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABLElEQVRYhe2WQUoDQRBF/wgis8sdAiGILqJZmgN4gpATSNBL5BDxHG6M59BgIBld5gLJwo3yXKSyETvTFZgMgS5omq4/U/VmuqrpDFCddlJr9gSQABLAsQLkku4lvUn6kjS1db4XAeAZOTABCmAAXNlcAC+mu2J6AR6ABdD442+Yf1g1wBToB7S+6a6Y3hpoSSoCWiGp6S0BL8BCUjugtSXNvQDeLbgDPgM18GF6pTVwBjxb1d+Yr2fJJ4foAgHXwJqNvdu8Arp7xHIBnAIj4Bt4BDrm6wBj4MeeoyqAEbAEzgP61u8CyCDqTngh6VXSpaRZWV1LymKbIBZgrE3LDnckDebYFTj2HLiV9FSSZDv+W4dfjPwDHnNtwVHeB8os+uurAnBZAkgAtQP8ApwXNCQChdOEAAAAAElFTkSuQmCC') !important;
}

.addFriendButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.addFriendButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendRequestButton {
  background-color: transparent !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABGElEQVRYhe2WQUoDQRREawTBrMwZ3ChBF0Hc6TpHiJ5AYm6RXEFzFL1HSECdoCsvoAsXBp6L1EIkI/Nh2hDogqHpqk/3Y+Y30wWgTWpno7tngAyQAbYVoCVpKGkq6dPjjf24gMjTAu6BErgCToFLzx+ch9aMAgyBJ6D9y9+3P0gNMAX6FVkfmEUBoj1wKGlRkZWSDqItEAV4NsQ6HUl6jAJEP8E18LKmB9rAwnnSHthzt5fAhb1zb/4vp0DAGfDBSnOP7/bD60WKd4ER8AXcAl17XeDO/theEoAR8AZ0KvKO83EKgBNg+cfmPyGWwHFdgAJqXUonkgpJg5q10ur/0NgxfAV6NWt7rm/0DSTTVt4HMkAGyACN6hsX4fBFYwG9mQAAAABJRU5ErkJggg==') !important;
}

.friendRequestButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.friendRequestButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendRequestButton .SVGIcon_FriendRequest, .addFriendButton .SVGIcon_AddFriend {
  margin: 0px !important;
  display: none !important;
}

.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton .SVGIcon_FriendRequest .friendHead, .friendRequestButton .SVGIcon_FriendRequest .friendArm, .friendRequestButton .SVGIcon_FriendRequest .friendBody, .addFriendButton .SVGIcon_AddFriend .friendHead, .addFriendButton .SVGIcon_AddFriend .friendBody {
  fill: rgb(var(--color-white)) !important;
}

.addFriendButton .SVGIcon_AddFriend .plusCircle {
  fill: rgb(var(--color-white)) !important;
}

/* UNREAD MESSAGE */
.recentChatsGroup.unreadChatsGroup .groupName {
  margin-left: 16px !important;
}

.ChatRoomListGroupItem .FriendMessageCount, .unreadFriend .FriendMessageCount {
  background: rgb(var(--color-accent)) !important;
  padding: 0px !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 15px !important;
  top: 15px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

.FriendMessageCount {
  margin: auto 2px !important;
  line-height: 24px !important;
  height: 24px !important;
  width: 24px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

/* FRIENDS LIST */
.friendGroup .groupName {
  margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
  border-top: 0px solid transparent !important;
  background: transparent !important;
  margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
  border-top: 0px solid transparent !important;
  background: transparent !important;
  margin-top: 0px !important;
}

.friendlistListContainer {
  background: transparent !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName, .FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName {
  color: rgb(var(--color-text)) !important;
  text-transform: uppercase !important;
  font-size: var(--font-size-text) !important;
}

.groupName.Panel.Focusable {
  margin-left: 16px !important;
}

.friend .labelHolder {
 margin-left: 8px !important;
}

.ExpandPlusMinus {
  color: transparent !important;
  display: none !important;
  margin: 0px !important;
}

.groupName:hover .ExpandPlusMinus, .Collapsed .ExpandPlusMinus {
  color: transparent !important;
  opacity: 0 !important;
}

.friendGroup.offlineFriends .groupName .groupCount, .friendGroup.onlineFriends .groupName .groupCount, .friendGroup .groupName .groupCount.collapsed {
  color: rgb(var(--color-text-sub)) !important;
}

.friendGroup .groupName .groupCount {
  font-size: var(--font-size-text) !important;
}

.friendStatusHover:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.friendStatusHover:active, .friendStatusHover.Friend_ContextMenuActive {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendGroup .friend, .friendGroup .SteamPlayerGroupFooter {
  margin: 0px !important;
  padding: 8px 0px 8px 16px;
}

.friendlistListContainer .friend .avatarHolder {
  padding-right: 0px !important;
}

.friendlistListContainer .friend .avatarHolder .avatarStatus, .CompactFriendsList .friend .avatarHolder .avatarStatus, .FriendNotificationsDialog .friend .avatarHolder .avatarStatus {
  width: 0px !important;
  display: none !important;
}

.CompactFriendsList .friend .avatarHolder {
  padding-right: 0px !important;
}

/* GROUP CHATS HEADER */
.friendsListSectionTitle {
  color: rgb(var(--color-text)) !important;
}

.ToggleGroupChatList {
  width: 0px !important;
  padding: 0px !important;
}

.FriendsListChatSection.ChatRoomListContainerParent.Collapsed .ToggleGroupChatList .SVGIcon_DoubleArrow, .ToggleGroupChatList .SVGIcon_DoubleArrow {
  color: rgb(var(--color-white)) !important;
  opacity: 0 !important;
  display: none !important;
}

.ToggleGroupChatList .SVGIcon_DoubleArrow polyline {
  stroke: rgb(var(--color-white)) !important;
}

.groupChatSectionTitle {
  font-weight: normal !important;
}

.friendsListSectionTitle.chatSectionTitle .groupChatSectionTitle {
  padding-top: 0px !important;
  /* margin-top: 5px !important; */
  margin-top: 0px !important;
  margin-left: 16px !important;
}

.createChatRoomButton {
  color: rgb(var(--color-white)) !important;
  margin-top: 0px !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAU0lEQVRYhe3UUQoAIAhEwYzuf+XtBIagIMbb30KHykzS6sxu7Q4AAIAfAOlfbPwJAJgPOMF9r9furVklwCumaCMv7VcAAEAWkJqACkA6AAAAAHABOegHQaO3qj0AAAAASUVORK5CYII=') !important;
}

.createChatRoomButton, .createChatRoomButton:hover, .createChatRoomButton:active {
  background-color: transparent !important;
}

.createChatRoomButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.createChatRoomButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup line {
  display: none !important;
  stroke: rgb(var(--color-white)) !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup {
  display: none !important;
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.friendsListSectionTitle.chatSectionTitle {
  height: 32px !important;
  border: 0px solid transparent !important;
}

.friendsListSectionTitle.chatSectionTitle, .friendsListSectionTitle.chatSectionTitle:hover {
  background-color: transparent !important;
}

/* .friendsListSectionTitle.chatSectionTitle::before, .friendsListSectionTitle.chatSectionTitle::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.friendsListSectionTitle.chatSectionTitle::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.friendsListSectionTitle.chatSectionTitle::after {
  background-image: var(--image-acrylic) !important;
} */

.voiceRoomDragBar {
  align-items: center !important;
}

/* GROUP CHATS LIST */
[class*="insetshadow_FriendsListInsetShadowCtn_"] {
  display: none !important;
}

.chatRoomListContainer {
  background: transparent !important;
}

.ChatRoomListGroupItem {
  background-color: transparent !important;
}

.ChatRoomListGroupItem_header {
  background-color: transparent !important;
}

.ChatRoomListGroupItem_header:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.ChatRoomListGroupItem_header:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.ChatRoomList {
  padding-top: 0px !important;
}

.ChatRoomListGroupItem:not(.NonGroupHovered) .ChatRoomListGroupItem_header:hover .chatRoomName {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

.ChatRoomListGroupItem .ChatRoomListGroupItem_header .chatRoomName {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

.ChatRoomListGroupItem_header {
  margin: 0px !important;
  padding: 8px 0px 8px 16px;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel:not(.ActiveVoiceChannel):hover {
  background-color: transparent !important;
}

.ChatRoomListGroupItem .ChatRoomMultiFriendAvatar.Small {
  width: 36px !important;
  height: 36px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar.HasAvatar {
  width: 36px !important;
  height: 36px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar {
  width: 36px !important;
  height: 36px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar .ChatRoomGroupAvatar_initials {
  width: 36px !important;
  height: 36px !important;
  padding-top: 0px !important;
  border-width: 0px !important;
  line-height: 36px !important;
}

.ChatRoomMultiFriendAvatar {
  margin: 0px !important;
  background: transparent !important;
  border-radius: 0px !important;
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ChatRoomGroupAvatar {
  margin: 0px !important;
  background: transparent !important;
  border-radius: 0px !important;
  border: 1px solid rgb(var(--color-accent)) !important;
}

.groupNameStatusContainer {
  padding-left: 0px !important;
  margin-left: 8px !important;
}

.ChatRoomListGroupItem .openGroupButton {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
  margin-top: 3px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

.ChatRoomListGroupItem.ShowAllChannels .openGroupButton {
  transform: rotateZ(180deg) !important;
}

.ChatRoomListGroupItem .openGroupButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.ChatRoomListGroupItem .openGroupButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.openGroupButton .SVGIcon_DoubleArrow {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

.ChatRoomListGroupItem .openGroupButton .SVGIcon_DoubleArrow polyline {
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle {
  color: rgb(var(--color-text)) !important;
  margin-left: 30px !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle:before {
  content: "STEAM TV" !important;
  color: rgb(var(--color-text)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV {
  display: none !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .logoBG {
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .logo g path {
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .steam path {
  fill: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .tv path {
  fill: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem .detailsView {
  background-color: transparent !important;
}

.ChatRoomListGroupItem:hover .detailsView {
  /* background-color: rgba(var(--color-white), 0.1) !important; */
}

.ChatRoomListGroupItem:active .detailsView {
  /* background-color: rgba(var(--color-white), 0.2) !important; */
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView:hover {
  /* background-color: rgba(var(--color-white), 0.1) !important; */
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView:active {
  /* background-color: rgba(var(--color-white), 0.2) !important; */
}

/* CHAT ROOM DROP DOWN */
.ChatRoomListGroupItemChatRooms {
  margin-left: 0px !important;
  font-size: var(--font-size-text) !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannel {
  border: 0px solid transparent !important;
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView {
  padding: 0px !important;
  /* height: 32px !important; */
  /* margin-bottom: -8px !important; */
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
  background-color: transparent !important;
  border-radius: 0px !important;
}

/* .ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel:active {
  background-color: rgba(var(--color-white), 0.2) !important;
} */

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::before, .ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::after {
  background-image: var(--image-acrylic) !important;
}

.chatRoomVoiceChannelNameContainer {
  padding-top: 0px !important;
  height: 32px !important;
}

div:not(.ActiveVoiceChannel) > .chatRoomVoiceChannelNameContainer:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

div:not(.ActiveVoiceChannel) > .chatRoomVoiceChannelNameContainer:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .chatRoomVoiceChannelNameContainer .VoiceControlPanelButton {
  border-radius: 0px !important;
  width: 38px !important;
  height: 38px !important;
  /* margin-top: 8px !important; */
  /* margin-right: 8px !important; */
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAXElEQVRYhe3VwQkAIAzFUBX3X7lOIDR48B/yzkUCLTiraiRavwNuDKMMowyjDKMMo2LDNpx//fFnd5CGtR9+FbtKwyiPn4pdpWGUx0/FrtIwyjDKMMowyjDKMOoATH4GWGtUqnsAAAAASUVORK5CYII=') !important;
}

.VoiceChannelParticipants.CompactFriendsList {
  /* margin-top: 8px !important; */
}

.DropTarget.chatRoomVoiceChannel.ActiveVoiceChannel.Panel.Focusable .VoiceChannelParticipants.CompactFriendsList {
  /* margin-top: 8px !important; */
  margin-top: 0px !important;
}

.chatRoomGroupNavColumn .DropTarget.chatRoomVoiceChannel.ActiveVoiceChannel.Panel.Focusable .VoiceChannelParticipants.CompactFriendsList {
  margin-top: 0px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton .SVGIcon_Button {
  fill: rgb(var(--color-white)) !important;
  display: none !important;
}

.VoiceControlPanelButton.chatPinRoom {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px !important;
}

.chatRoomVoiceChannelIconGlow {
  background: transparent !important;
  width: 0px !important;
  height: 0px !important;
}

.chatRoomVoiceChannel {
  margin: 0px !important;
  width: 100% !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel {
  width: 100% !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannelIcon {
  margin-left: 0px !important;
  display: none !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannelName {
  font-size: var(--font-size-text) !important;
  color: rgb(var(--color-text)) !important;
}

.chatRoomVoiceChannelName, .chatRoomTextChannel, .chatRoomDirectMessageEntry {
  border: 0px solid transparent !important;
}

.chatRoomVoiceChannelName, .chatRoomTextChannelName, .chatRoomGroupName {
  margin-top: 0px !important;
  margin-right: 0px !important;
}

.CompactFriendsList .SteamPlayerGroupFooter .SteamPlayerGroupFooterCount, .CompactFriendsList .friend .avatarHolder {
  height: 36px !important;
  width: 36px !important;
}

.CompactFriendsList .friend, .CompactFriendsList .friendGroup .friend, .CompactFriendsList .friendGroup .SteamPlayerGroupFooter, .CompactFriendsList .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
  height: 36px !important;
  margin: 0px !important;
  /* padding: 0px 0px 0px 16px !important; */
  padding: 0px !important;
}

.CompactFriendsList .friend.speaking .avatarHolder img.avatar {
  filter: none !important;
}

.emptyChannelNotice {
  color: rgb(var(--color-text-sub)) !important;
}

.dropTargetBox {
  transform: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceFlexBox {
  height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceControls {
  background: transparent !important;
  margin-top: 0px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  border-left: 0px solid transparent !important;
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons button .VoiceControlPanelButton, .chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons button {
  background-color: transparent !important;
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  min-width: 32px !important;
  min-height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  min-width: 32px !important;
  min-height: 32px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel .chatRoomTextChannelIcon .SVGIcon_TextRoom {
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin-top: 0px !important;
  margin: 0px !important;
}

.chatRoomVoiceChannel .SVGIcon_TextRoom .TextLines, .chatRoomVoiceChannel .SVGIcon_TextRoom .ScratchPad {
  display: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton .SVGIcon_Button.SVGIcon_VoiceRoom {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  transform: none !important;
  display: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

.activeVoiceButtons {
  padding-right: 0px !important;
}

.activeVoiceButtons button {
  border-radius: 0px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  right: 32px !important;
  background-color: transparent !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel .chatRoomTextChannelIcon {
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAh0lEQVRYhe2W4QqAMAiEW/SwWw9Uj3v9iEBGkF4DC+5AEBz6TbexAmDK1JxaXQACEMAXABbnOva1KqMAXMk6uaB/MwKrp52FOsUAREcxHEAd6DvwCii9A+nXMAKAzpqJ1Zu4MyvA2IpTDUA1fjgXC2Ah6OIAqEN4aTP+ziYp+pYLQAACyAY4ALrN2vNGemM1AAAAAElFTkSuQmCC') !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVRYhe3WSwqAMAwE0Il4YU/SI48LEbrLh0hczEB3rX2QNtZIYjLH6O4CCCAAgLOwJts4rBvgfnSLix0vgQAZwPpEQDIyFp9E57/DXZPZPJMwYPwMjJcg2oiu3Yx4I3JjzD/JMgB37vgZEKD6N2x7y1cAbTcA+EEJBBBAgBuruT7IGb9lpwAAAABJRU5ErkJggg==') !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* USER LIST AFTER REFRESH */
.VoiceChannelParticipants.CompactFriendsList .friend {
    margin-top: 0px !important;
    height: 38px !important;
    padding: 8px 16px !important;
}

.VoiceChannelParticipants.CompactFriendsList:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.VoiceChannelParticipants.CompactFriendsList:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.VoiceChannelParticipants .friend {
  filter: none !important;
}

/* FOOTER */
.friendListFooter {
  background-color: transparent !important;
  display: none !important;
}