/* DIVIDER */
[class*="library_LibraryWindowDivider_"][class*="library_Sizable_"] {
  background-color: transparent !important;
  width: 8px !important;
  margin-right: -8px !important;
  z-index: 1 !important;
  position: relative !important;
  min-width: 0px !important;
}

/* LIBRARY CONTAINER */
[class*="library_AppDetailsTransitionGroup_"] {
  background: rgb(var(--color-background)) !important;
}

[class*="libraryhome_Container_"] {
  background: rgb(var(--color-background)) !important;
}

[class*="libraryhome_InnerContainer_"] {
  color: rgb(var(--color-text)) !important;
}

/* PLAYBAR */
[class*="appdetails_PlayBar_"] {
  width: 100% !important;
}

/* APP DETAILS PADDING FOR ACYRLIC */
[class*="allcollections_ScrollContainer_"] {
  /* padding-top: 38px !important; */
  /* padding: 62px 24px 24px 24px !important; */
  padding: 54px 16px 16px 16px !important;
}

[class*="collectionview_Container_"] {
  /* padding: 62px 24px 24px 24px !important; */
  padding: 54px 16px 16px 16px !important;
}

/* ALL COLLECTIONS NAV TIMER */
[class*="allcollections_Collection_"] [class*="allcollections_NavTimer_"] svg {
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  /* width: calc(100% - 16px) !important;
  height: calc(100% - 16px) !important; */
  width: 64px !important;
  height: 64px !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_NavTimer_"] svg circle {
  stroke: rgb(var(--color-white)) !important;
}

[class*="allcollections_Collection_"][class*="allcollections_DropTarget_"] {
  background: transparent !important;
}

/* WHAT'S NEW */
[class*="libraryhome_UpdatesContainer_"] {
  display: var(--option-display-whats-new) !important;
  padding: 16px !important;
  background: transparent !important;
  height: auto !important;
}

[class*="pageablecontainer_HeaderPageControls_"] {
  font-size: var(--font-size-text) !important;
}

[class*="pageablecontainer_HeaderPageControls_"] [class*="pageablecontainer_Name_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

[class*="libraryhomenewupdates_EventRowCarousel_"]  {
  margin-top: 0px !important;
  width: calc(100% - 16px) !important;
}

[class*="libraryhomenewupdates_EventTime_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

[class*="libraryhomenewupdates_Event_Title_"] [class*="libraryhomenewupdates_PartnerEventRowCapsule_TextTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"], .gpfocus>[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"] [class*="libraryhomenewupdates_EventSummaryContainer_"] {
  background-color: rgba(var(--color-primary), 0.5) !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"] [class*="libraryhomenewupdates_EventSummaryType_"], .gpfocus>[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"] [class*="libraryhomenewupdates_EventSummaryContainer_"] [class*="libraryhomenewupdates_EventSummaryType_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"]:hover [class*="libraryhomenewupdates_EventSummaryContainer_"] [class*="libraryhomenewupdates_EventSummaryText_"], .gpfocus>[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"][class*="libraryhomenewupdates_HoversEnabled_"] [class*="libraryhomenewupdates_EventSummaryContainer_"] [class*="libraryhomenewupdates_EventSummaryText_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="libraryhomenewupdates_GameIconAndName_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

[class*="libraryhomenewupdates_GameIcon_"] {
  display: none !important;
}

[class*="libraryhomenewupdates_GameName_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="libraryhomenewupdates_GameName_"]:hover {
  color: rgb(var(--color-primary)) !important;
}

[class*="libraryhomenewupdates_GameName_"]:active {
  color: rgb(var(--color-text-disabled)) !important;
}

/* WHAT'S NEW PRIORITY NOTICE */
[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityNotice_"] {
  line-height: 32px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  max-height: 32px !important;
  padding: 0px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"] {
  margin-left: 16px !important;
  margin-right: 16px !important;
  height: 32px !important;
  min-height: 32px !important;
  width: 64px !important;
  min-width: 64px !important;
  padding: 8px !important;
  border-radius: 0px !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"] {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"]::before {
  box-shadow: 0 0 0 0 transparent !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"]:enabled:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="libraryhome_UpdatesContainer_"] [class*="libraryhome_UpdateLoweredPriorityUndo_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
}

/* WHAT'S NEW EVENT */
[class*="libraryhomenewupdates_PartnerEventRowCapsule_Container_"] [class*="libraryhomenewupdates_EventTimeSpan_"] {
  padding: 0px !important;
  background-color: rgba(var(--color-black), 0.5) !important;
  width: 100% !important;
  height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  text-align: center !important;
}

/* WHAT'S NEW EVENT OPTIONS BUTTON */
[class*="libraryhomenewupdates_EventOptions_"] {
  padding: 0px !important;
  top: 0px !important;
  right: 0px !important;
}

[class*="libraryhomenewupdates_EventOptions_"]>div {
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

[class*="libraryhomenewupdates_EventOptions_"]>div:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomenewupdates_EventOptions_"]>div:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* WHAT'S NEW SETTINGS BUTTON */
[class*="libraryhomenewupdates_SettingsButton_"] {
  background-color: transparent !important;
  margin: 0px 0px 0px 16px !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

[class*="libraryhomenewupdates_SettingsButton_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomenewupdates_SettingsButton_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="libraryhomenewupdates_SettingsButton_"] svg {
  display: none !important;
}

/* WHAT'S NEW ARROWS */
[class*="pageablecontainer_PageClickContainer_"] {
  margin-left: auto !important;
  /* margin-bottom: 8px !important; */
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"], [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"] {
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  margin-right: 0px !important;
  opacity: 1.0 !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe2WUQrCMBBEJ+J99FJWSK5j/fFS8UTjRyNWqcIk3VroPggTSLp5bChtIIk1svu3wDdcTMXFVFxMxcVUXExlM2IJQAYQWwvtm1Xe6UueS15rC80tBgxyAUBXsv+9fRoLMQC4ACCAU0m5c1ZiwKtTXUlJLlT8weapOqP5Z8Hn2kE5pKZjR2FvxNCxm3wKSasRSd5JpprnraQSyVwrZSXWLGUhllqubzxq3spF2MxHfDZcTMXFVFxMxcVUXExltWIPrsbjpfdiH/4AAAAASUVORK5CYII=') !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"][class*="pageablecontainer_Disabled_"], [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"][class*="pageablecontainer_Disabled_"] {
  opacity: 1.0 !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuklEQVRYhe3WWw6CMBBG4VPjGqhugv3vCGQR1ofWACaa/G0nkjDnhfTtywy3kFLiiF3+DfiWw9QcpuYwNYepOUztNLABGMu1qWu7ZdcCBCBuzlX1hgE8WHGhnOUsYAAz8GSdnIyzgsF+rQlxrTWw8eOcCuBXN0RYMP61jmTUjLhOy1UOZNhExdNp9YKNwJ08papXhsXEIg2Tetd7YpG8woUGFNjf/NWd5iPeLYepOUzNYWoOU3OY2mFhL1sSH4LbHEkpAAAAAElFTkSuQmCC') !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"]:not([class*="pageablecontainer_Disabled_"]):hover, [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"]:not([class*="pageablecontainer_Disabled_"]):hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"]:not([class*="pageablecontainer_Disabled_"]):active, [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"]:not([class*="pageablecontainer_Disabled_"]):active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"], [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"][class*="pageablecontainer_Disabled_"] {
  transform: rotate(180deg) !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"] svg, [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"] svg {
  display: none !important;
}

[class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageLeft_"][class*="pageablecontainer_Disabled_"] svg, [class*="pageablecontainer_PageClickContainer_"] [class*="pageablecontainer_PageRight_"][class*="pageablecontainer_Disabled_"] svg {
  display: none !important;
}

/* LIBRARY HOME */
[class*="libraryhome_LibraryHome_"] {
  padding: 0px !important;
  background-image: url() !important;
  margin-bottom: 16px !important;
}

[class*="libraryhomeshowcases_Showcase_"] {
  padding-top: 0px !important;
  border-radius: 0px !important;
  border: 0px solid transparent !important;
  margin: 16px 16px 0px 16px !important;
}

/* SHOWCASES HEADER */
[class*="libraryhomeshowcases_ShowcaseHeader_"] {
  margin: 0px !important;
  border: 0px solid transparent !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  align-items: center !important;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  margin-right: 16px !important;
  /* margin-left: 16px !important; */
}

[class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer .DialogDropDown_CurrentDisplay {
  background-color: transparent !important;
  padding-top: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  line-height: 32px !important;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] [class*="libraryhomeshowcases_CountDisplay_"] {
  margin-left: 0px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  margin-right: 8px !important;
  line-height: 32px !important;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] .DialogDropDown._DialogInputContainer {
  padding: 0px !important;
  height: 32px !important;
  min-height: 32px !important;
  margin-top: 0px !important;
}

[class*="libraryhomeshowcases_CollectionDropDown_"] ._DialogInputContainer .DialogDropDown_Arrow {
  margin-left: 0px !important;
  margin-right: 8px !important;
  margin-top: 0px !important;
}

[class*="appgrid_SortingDropDown_"] [class*="appgrid_SortingDropDownLabel_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  line-height: 32px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="ibraryhomeshowcases_SortingDropDown_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  margin-left: 0px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="ibraryhomeshowcases_SortingDropDown_"] .DialogDropDown._DialogInputContainer {
  padding: 0px !important;
  height: 32px !important;
  min-height: 32px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

[class*="appgrid_SortingDropDown_"] ._DialogInputContainer .DialogDropDown_CurrentDisplay {
  background-color: transparent !important;
  padding-top: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  line-height: 32px !important;
}

[class*="appgrid_SortingDropDown_"] ._DialogInputContainer .DialogDropDown_Arrow {
  background-color: transparent !important;
  margin-left: 0px !important;
  margin-right: 8px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

/* SHOWCASES DROPDOWN */
.DesktopUI [class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] ._DialogInputContainer {
  background: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

.DesktopUI [class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] [class*="libraryhomeshowcases_DropDownItems_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

.DesktopUI [class*="libraryhomeshowcases_CollectionDropDownContainer_"][class*="libraryhomeshowcases_CollectionDropDownContainer_"] [class*="libraryhomeshowcases_DropDownItems_"]:hover {
  color: rgb(var(--color-text)) !important;
}

[class*="appgrid_SortingDropDownContainer_"].DesktopUI, .DesktopUI [class*="appgrid_SortingDropDownContainer_"] {
  transform: none !important;
}

[class*="appgrid_SortingDropDownContainer_"]>div.DesktopUI, .DesktopUI [class*="appgrid_SortingDropDownContainer_"]>div {
  background: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

[class*="appgrid_SortingDropDownContainer_"] [class*="appgrid_SortingDropDownItems_"].DesktopUI, .DesktopUI [class*="appgrid_SortingDropDownContainer_"] [class*="appgrid_SortingDropDownItems_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="appgrid_SortingDropDownContainer_"] [class*="appgrid_SortingDropDownItems_"]:hover.DesktopUI, .DesktopUI [class*="appgrid_SortingDropDownContainer_"] [class*="appgrid_SortingDropDownItems_"]:hover {
  color: rgb(var(--color-text)) !important;
}

[class*="libraryhomeshowcases_OptionsRule_"] {
  border-top: 0px solid rgba(var(--color-white), 0.2) !important;
  /* margin: 4px 8px !important; */
  /* padding-top: 0px !important; */
  padding: 6px 14px !important;
  margin: 1px !important;

  display: block !important;
}

[class*="libraryhomeshowcases_OptionsRule_"]:hover::before, [class*="libraryhomeshowcases_OptionsRule_"]:active::before {
  background-color: transparent !important;
}

[class*="libraryhomeshowcases_OptionsRule_"] {
  /* color: transparent !important; */
}

/* DIVIDER */
[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Rule_"] {
  height: 1px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  /* background: linear-gradient(90deg, rgba(var(--color-white), 0.2), transparent) !important; */
  margin-right: 0px !important;
}

/* COLLAPSER */
[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Collapser_"] {
  height: 32px !important;
  width: 32px !important;
  /* margin-left: 16px !important; */
  margin: 0px !important;
  background-color: transparent !important;
  border-radius: 0px !important;
  /* transform: rotateZ(0deg) !important; */
}

[class*="libraryhomeshowcases_Collapser_"][class*="libraryhomeshowcases_Visible_"] {
  /* transform: rotateZ(180deg) !important; */
  margin-left: 16px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Collapser_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Collapser_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}


[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Collapser_"] svg {
  /* display: none !important; */
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAiElEQVRYhe3WsQ2AMAxE0Q+iYgQoAQmx/zbQAhvQhh3uLEUgp4/uKbGdNKUUaq62anoCEpCABIiADXiiAI04ig9gAHoXoF7BDNwEnIRTAxNwugi3CBcXEdEFC3CpiKg2lD8VEYAdGBE7wgVY4S7ADgfoxH1VB9EaFQ76KA5bn3wNE5CABPwL8AKHMhiiWs6G2wAAAABJRU5ErkJggg==') !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_Collapser_"] svg polyline {
  stroke: transparent !important;
}

/* EMPTY SHOWCASE */
[class*="libraryhomeshowcases_ShowcaseArrow_"] {
  display: none !important;
}

[class*="libraryhomeshowcases_EmptyMessage_"] {
  /* margin: 16px 0px !important; */
  margin-top: 16px !important;
}

[class*="libraryhomeshowcases_EmptyMessage_"] [class*="libraryhomeshowcases_Message_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
  left: 0px !important;
  top: 0px !important;
  margin: auto !important;
  display: block !important;
  position: relative !important;
}

[class*="cssgrid_Container_"] {
  height: auto !important;
}

/* LIBRARY GRID */
[class*="libraryhomeshowcases_Showcase_"] [class*="libraryhomeshowcases_ShowcaseGrid_"] {
  padding: 16px 0px !important;
}

/* LIBRARY ITEM */
[class*="appportrait_LibraryItemBoxSubscript_"] {
  /* background-color: rgba(var(--color-black), 0.5) !important; */
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  border: 0px solid transparent !important;
  line-height: 32px !important;
  /* padding: 4px 8px !important; */
  padding: 0px !important;
  margin: 0px !important;
  height: 32px !important;
  width: 100% !important;
  bottom: 32px !important;
  max-width: 100% !important;
}

[class*="appportrait_LibraryItemBoxSubscript_"][class*="appportrait_MCGreen_"], [class*="appportrait_LibraryItemBoxSubscript_"][class*="appportrait_MCOrange_"], [class*="appportrait_LibraryItemBoxSubscript_"][class*="appportrait_MCRed_"] {
  text-align: center !important;
  /* background: transparent !important; */
}

[class*="appportrait_LibraryItemBox_"] {
  border: 0px solid transparent !important;
}

[class*="appportrait_LibraryItemBox_"]::before {
  top: 0px !important;
  bottom: 0px !important;
}

[class*="appportrait_LibraryItemBoxShine_"] {
  display: none !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"]:hover:not([class*="appportrait_Landscape_"]) {
  transform: none !important;
  filter: none !important;
}

[class*="appportrait_LibraryItemBox_"]:hover~[class*="appportrait_LibraryItemBoxSubscript_"] {
  transform: none !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"]:not([class*="appportrait_Landscape_"]) [class*="appportrait_PortraitImage_"] {
  transform: scale(1.0) !important;
  transition: transform 0.5s ease !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"]:hover:not([class*="appportrait_Landscape_"]) [class*="appportrait_PortraitImage_"] {
  transform: scale(1.05) !important;
  transition: transform 0.5s ease !important;
}

[class*="appportrait_FriendsBar_"] [class*="appportrait_SummaryLeader_"] {
  background-color: rgb(var(--color-primary)) !important;
}

[class*="appportrait_FriendsBar_"] [class*="appportrait_SummaryCount_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 4px !important;
}

[class*="appportrait_FriendsBar_"][class*="appportrait_SummaryView_"] {
  margin-right: 8px !important;
  margin-bottom: 8px !important;
}

/* ADD SHELF */
[class*="libraryhomeshowcases_AddShowcaseRow_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  height: 38px !important;
  line-height: 38px !important;
  display: var(--option-display-add-shelf) !important;
  margin-top: 16px !important;
  /* margin-bottom: 16px !important; */
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] [class*="libraryhomeshowcases_AddShowcase_"] {
  margin: 0px !important;
  padding: 0px !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] svg line, [class*="libraryhomeshowcases_AddShowcaseRow_"] svg circle {
  stroke: rgb(var(--color-text-sub)) !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"][class*="libraryhomeshowcases_ButtonHovered_"] [class*="libraryhomeshowcases_AddShowcase_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="libraryhomeshowcases_AddShowcaseRow_"][class*="libraryhomeshowcases_ButtonHovered_"] [class*="libraryhomeshowcases_Rule_"] {
  height: 1px !important;
  margin: 0px 16px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  /* background: linear-gradient(90deg, rgba(var(--color-white), 0.2), transparent) !important; */
}

[class*="libraryhomeshowcases_AddShowcaseRow_"][class*="libraryhomeshowcases_ButtonHovered_"] [class*="libraryhomeshowcases_Rule_"]:first-of-type {
  background-color: rgba(var(--color-white), 0.2) !important;
  /* background: linear-gradient(90deg, transparent, rgba(var(--color-white), 0.2)) !important; */
}

[class*="libraryhomeshowcases_AddShowcaseRow_"] [class*="libraryhomeshowcases_AddShowcase_"][class*="libraryhomeshowcases_Disabled_"] {
  opacity: 0.5 !important;
}

/* RECENTLY PLAYED */
[class*="libraryhomerecentgames_RecentGames_"] {
  line-height: 24px !important;
  margin-top: 0px !important;
}

[class*="libraryhomerecentgames_RecentGame_"] [class*="libraryhomerecentgames_AddedDate_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

[class*="libraryhomerecentgames_RecentGame_"] [class*="libraryhomerecentgames_EmptyDate_"] {
  height: 24px !important;
}

[class*="libraryhomerecentgames_RecentGameMediaContainer_"] {
  margin-top: 0px !important;
}

[class*="appportrait_PlaytimeDetails_"] {
  left: 38px !important;
  padding: 0px !important;
  margin: 0px !important;
  display: block !important;
  position: relative !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  line-height: 18px !important;
}

[class*="appportrait_PlaytimeDetails_"][class*="appportrait_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="appportrait_PlaytimeDetails_"][class*="appportrait_PlayedRecent_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

[class*="appportrait_PlaytimeDetails_"][class*="appportrait_PlayedTotal_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

/* SHOWCASE PAGE BUTTONS */
[class*="libraryhomeshowcases_PageButtons_"] {
  margin-left: 16px !important;
  /* margin-right: 16px !important; */
}

[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"][class*="libraryhomeshowcases_Disabled_"], [class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"][class*="libraryhomeshowcases_Disabled_"] {
  opacity: 1.0 !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"], [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"] {
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  margin-right: 0px !important;
  opacity: 1.0 !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe2WUQrCMBBEJ+J99FJWSK5j/fFS8UTjRyNWqcIk3VroPggTSLp5bChtIIk1svu3wDdcTMXFVFxMxcVUXExlM2IJQAYQWwvtm1Xe6UueS15rC80tBgxyAUBXsv+9fRoLMQC4ACCAU0m5c1ZiwKtTXUlJLlT8weapOqP5Z8Hn2kE5pKZjR2FvxNCxm3wKSasRSd5JpprnraQSyVwrZSXWLGUhllqubzxq3spF2MxHfDZcTMXFVFxMxcVUXExltWIPrsbjpfdiH/4AAAAASUVORK5CYII=') !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"][class*="libraryhomeshowcases_Disabled_"], [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"][class*="libraryhomeshowcases_Disabled_"] {
  opacity: 1.0 !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuklEQVRYhe3WWw6CMBBG4VPjGqhugv3vCGQR1ofWACaa/G0nkjDnhfTtywy3kFLiiF3+DfiWw9QcpuYwNYepOUztNLABGMu1qWu7ZdcCBCBuzlX1hgE8WHGhnOUsYAAz8GSdnIyzgsF+rQlxrTWw8eOcCuBXN0RYMP61jmTUjLhOy1UOZNhExdNp9YKNwJ08papXhsXEIg2Tetd7YpG8woUGFNjf/NWd5iPeLYepOUzNYWoOU3OY2mFhL1sSH4LbHEkpAAAAAElFTkSuQmCC') !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"]:not([class*="libraryhomeshowcases_Disabled_"]):hover, [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"]:not([class*="libraryhomeshowcases_Disabled_"]):hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"]:not([class*="libraryhomeshowcases_Disabled_"]):active, [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"]:not([class*="libraryhomeshowcases_Disabled_"]):active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"], [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"][class*="libraryhomeshowcases_Disabled_"] {
  transform: rotate(180deg) !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"] svg, [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"] svg {
  display: none !important;
}

[class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageLeft_"][class*="libraryhomeshowcases_Disabled_"] svg, [class*="libraryhomeshowcases_PageButtons_"] [class*="libraryhomeshowcases_PageRight_"][class*="libraryhomeshowcases_Disabled_"] svg {
  display: none !important;
}

/* PLAY NEXT */
[class*="libraryhomeplaynext_PlayNextSubHead_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  padding-top: 8px !important;
}

[class*="libraryhomeshowcases_Showcase_"] [class*="libraryhomeshowcases_ChildrenContainer_"] {
  margin: 0px 0px !important;
}

[class*="appportrait_RecentGameFooter_"] {
  background-color: transparent !important;
}

.LibraryDisplaySizeLarge [class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Landscape_"] {
  bottom: 0px !important;
  left: 0px !important;
  margin: 0px 0px 26px 26px !important;
  padding: 0px !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Download_"] svg, [class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Update_"] svg,
[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Play_"] svg {
  display: none !important;
}

[class*="appportrait_FeaturedCapsule_"] [class*="appportrait_LibraryItemActionButton_"] {
  background: transparent !important;
  width: 38px !important;
  height: 38px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

[class*="appportrait_FeaturedCapsule_"] [class*="appportrait_LibraryItemActionButton_"] {
  background-color: transparent !important;
  width: 38px !important;
  height: 38px !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Landscape_"][class*="appportrait_Download_"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3XywqAIBSE4exps/ffT5sOiCk0Nl2g+cFFFvRxEKIEYPpi89uAXoaxGcZmGJthbIaxKWHSj+4vJibNMDbD2EZhWfzcMQAjCwByY6+8zo2902sUtuwvXTuwuF/jb4eVEwlcwFroR2H1ZKBCKWAlLrqMUsEkZ6peCfCfOJVhbIaxGcZmGJthbBsQFMjMji+hXgAAAABJRU5ErkJggg==') !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Landscape_"][class*="appportrait_Update_"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABLklEQVRYhe2WoU7EQBRFTwkCg8Kvo4p/AAGSD+ADWM0XsPwNDgeWBA1qi2EJBrNB7NZiuIhOwoZAmDtNls3mnWRM+zr3pJ2810oSq8jGfwv8Roi5hJhLiLmEmMvaio2AMTAHlFYLNMB5r50llaxa0rOkuaRrScOFe0NJN5Jmkiap1s4olZpKus+oa1JtrY7snKrg7+IVeAH2M+sbYBsYAFVuiHvGLoEPQwpgD9gyc9g06w+AK6O++GfP/ZQ18FQa5lByxpbC2jbYXGr3AVdM31YuZ8DUCSp5Y290/Si7JwHHwK0TUiL2Djwa9Xd0ve/ECSkROwR26Ib3X2fnAdgFjuyUnkN8lgb26Q9DvE01Sxvii2uUBnWrL9p07aLP3tFgXULMJcRcQswlxFxWVuwTcJQJhWzSBSIAAAAASUVORK5CYII=') !important;
}

[class*="appportrait_LibraryItemActionButton_"][class*="appportrait_Landscape_"][class*="appportrait_Play_"] {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABGklEQVRYhe3Wr0oFQRiG8d/KaTYxiH8Q1BswKAjeg8VqsxkNXoHFYDnZKxANdoti8CIUBVEMJsEgwhr2LMoBhdlvFw8yT1l2YV4eXuab2aIsS6PI2F8L/EQWSyWLpZLFUsliqWSxVKJih5hsQ2SYIniJ14s3cBbX+SLa2AW2cYJj9MJGA6JiszjCBJbwhtWoFHGxev0rlrGHaxwEc8N77BYLQ98WcYl3rOGpSXAXx8UNprGPR+w2CYmK/Vb3x+DZaCBam6JvzKumtYc5PDQJiTZWDL3v4A6nmNFQinhjtdg4zrGCdVwFc8ON3WMLL3hWCYalaO9K2lSd/q0RbayPKS1LEW+sM/7t/1hnZLFUslgqWSyVLJbKyIp9AmUKMFoohx3PAAAAAElFTkSuQmCC') !important;
}

[class*="appportrait_FeaturedCapsule_"] [class*="appportrait_LibraryItemActionButton_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="appportrait_FeaturedCapsule_"] [class*="appportrait_LibraryItemActionButton_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="appportrait_PortraitMessage_"][class*="appportrait_Message_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="appportrait_PortraitMessage_"][class*="appportrait_SubMessage_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-subtext) !important;
  font-weight: 400 !important;
}

[class*="appportrait_PortraitMessage_"] {
  left: 38px !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 18px !important;
  display: block !important;
  position: relative !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

[class*="appportrait_FooterBlurImageContainer_"] {
  filter: blur(var(--option-blur-radius)) !important;
}

[class*="appportrait_FooterBlurImageContainer_"]::after {
  background-color: rgba(var(--color-black), 0.75) !important;
  /* backdrop-filter: blur(var(--option-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  content: "" !important;
  left: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  top: 0px !important;
  position: absolute !important;
}

/* INSTALL BUTTON */
[class*="appportrait_UninstalledIcon_"] {
  opacity: 0 !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
  width: 38px !important;
  height: 38px !important;
  bottom: 0px !important;
  left: 0px !important;
  margin-left: 16px !important;
  margin-bottom: 16px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3XywqAIBSE4exps/ffT5sOiCk0Nl2g+cFFFvRxEKIEYPpi89uAXoaxGcZmGJthbIaxKWHSj+4vJibNMDbD2EZhWfzcMQAjCwByY6+8zo2902sUtuwvXTuwuF/jb4eVEwlcwFroR2H1ZKBCKWAlLrqMUsEkZ6peCfCfOJVhbIaxGcZmGJthbBsQFMjMji+hXgAAAABJRU5ErkJggg==') !important;
  backdrop-filter: blur(var(--option-blur-radius)) brightness(0.25) !important;
}

[class*="appportrait_LibraryItemBox_"]:hover [class*="appportrait_UninstalledIcon_"] {
  opacity: 1 !important;
}

[class*="appportrait_UninstalledIcon_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="appportrait_UninstalledIcon_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="appportrait_HoversEnabled_"] [class*="appportrait_LibraryItemBox_"] [class*="appportrait_UninstalledIcon_"] svg, [class*="appportrait_LibraryItemBox_"].gpfocus [class*="appportrait_UninstalledIcon_"] svg {
  display: none !important;
}

/* COLLECTIONS VIEW */
[class*="allcollections_Collection_"] {
  background: rgba(var(--color-primary), 0.5) !important;
  border-radius: 0px !important;
  border: 0px solid transparent !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_CollectionLabel_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_CollectionLabel_"] [class*="allcollections_CollectionLabelCount_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_CollectionImage_"] [class*="allcollections_CollectionBG_"] {
  display: none !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_DynamicCollection_"] svg {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 38px !important;
  height: 38px !important;
  bottom: 0px !important;
  right: 0px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVRYhe2WMU7DQBBFn7kKknMBqOAKoecAOGUug3IF06cJZ+AEiKSAFDgXoP0psiAryir8NTZRtE/aZmbH+yytvraQxCly8d8CMbKYSxZzyWIuWczlbMVqYAmotZah3olUsQrYADfAAiiBAhgBz8At0ACTZDNJ7qokfUmqj+yrw75JwhlJYs0vpNpyzRBitaSPSE+R+rvxIz/LvWPXwDzSKyL1OXBlnkNhPhTF7qK/RXqH5ErgNdL7U7HYAam9g6TERdnzfsAXWwFTc2Ya5ixcsRdgbM7chTmPAXLsc6iAdZP/YSixb7lNCNtHSWWojyTNJK1Dv0r8vh0X+zyxC8/LVm0V7tR9lw93FeuNs30o9kYWc8liLlnMJYu5nKzYFlzL7Iy35v/nAAAAAElFTkSuQmCC') !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_DynamicCollection_"] svg {
  /* display: none !important; */
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="gamelistcollectionmenu_CollectionDeleteIconOutline_"] {
  display: none !important;
}

[class*="gamelistcollectionmenu_CollectionDeleteIcon_"] svg line {
  stroke: rgb(var(--color-white)) !important;
}

/* DRAG HANDLE */
[class*="libraryhomeshowcases_ShowcaseHeader_"] [class*="libraryhomeshowcases_DragHandle_"] {
  display: none !important;
}

/* SCROLL TO TOP */
[class*="smartscrollcontainer_ScrollToTopButton_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  background: rgb(var(--color-primary)) !important;
  padding-top: 0px !important;
  opacity: 0 !important;
  transition: opacity 0.5s ease !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"]:hover, [class*="smartscrollcontainer_ScrollToTopButton_"]:active {
  opacity: 1 !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"] div {
  text-transform: uppercase !important;
  background: transparent !important;
  border: 0px solid transparent !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  line-height: 24px !important;
  padding: 0px !important;
  margin-top: 100px !important;
  letter-spacing: 1px !important;
  width: 100% !important;
}

[class*="smartscrollcontainer_ScrollToTopButton_"]:hover[class*="smartscrollcontainer_"] {
  filter: none !important;
}

/* EULA DIALOG */
[class*="euladialog_EULAContent_"] {
  background: transparent !important;
}

[class*="euladialog_EulaDialogContent_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

/* APP HOVER */
[class*="appportraithover_AppPortraitHover_"] {
  background-color: rgb(var(--color-black)) !important;
}

[class*="appportraithover_AppTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="appportraithover_GameUpdatedContainer_"] [class*="appportraithover_GameUpdatedCircle_"] {
  background: rgb(var(--color-text)) !important;
}

[class*="appportraithover_GameUpdatedContainer_"] [class*="appportraithover_ImportantUpdate_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
}

[class*="appportraithover_AppStatus_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
  padding: 0px 8px !important;
  margin: 0px !important;
  height: auto !important;
  max-height: 25px !important;
}

[class*="appportraithover_Content_"] div {
  z-index: 999 !important;
}

[class*="appportraithover_Content_"] > div:last-child {
  /* width: 100% !important; */
  width: 220px !important;
}

[class*="appportraithover_PlaytimeDetails_"] {
  padding: 8px !important;
  margin: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
}

[class*="appportraithover_PlaytimeDetails_"] div {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
}

[class*="appportraithover_PlaytimeDetails_"] [class*="appportraithover_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
}

[class*="appportraithover_CapsuleBackground_"] {
  filter: blur(var(--option-blur-radius)) opacity(50%) saturate(0.7) !important;
}

[class*="appportraithover_FriendsContainer_"] {
  background-color: transparent !important;
}

[class*="appportraithover_FriendsContainer_"] [class*="appportraithover_FriendsHeader_"] [class*="appportraithover_FriendsCircle_"] {
  background: rgb(var(--color-text)) !important;
}

[class*="appportraithover_FriendsContainer_"] [class*="appportraithover_FriendsHeader_"] [class*="appportraithover_FriendsLabel_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
}

[class*="appportraithover_AppPortraitHover_"] [class*="appportraithover_DownloadStatus_"] {
  background-color: transparent !important;
  padding: 0px 8px 8px 8px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  line-height: 16px !important;
  width: 220px !important;
}

[class*="appportraithover_DownloadStatus_"] [class*="appportraithover_DownloadContainer_"] [class*="appportraithover_DownloadStatusTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

[class*="appportraithover_DownloadStatus_"] [class*="appportraithover_DownloadContainer_"] [class*="appdetailsplaysection_DetailsProgressContainer_"][class*="appdetailsplaysection_PortraitBar_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  margin: 4px 0px !important;
}

[class*="appportraithover_DownloadStatus_"] [class*="appportraithover_DownloadContainer_"] [class*="appdetailsplaysection_DetailsProgressContainer_"] [class*="appdetailsplaysection_DetailsProgressBar_"] {
  background-color: rgb(var(--color-primary)) !important;
}

[class*="appportraithover_DownloadStatus_"] [class*="appportraithover_DownloadContainer_"] [class*="appportraithover_DownloadStatusDetails_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-label) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

/* COLLECTION PAGE */
[class*="collectionview_OuterContainer_"] {
  background: rgb(var(--color-background)) !important;
}

[class*="collectionview_Container_"] {
  color: rgb(var(--color-text)) !important;
  border: 0px solid transparent !important;
  border-radius: 0px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] {
  height: 32px !important;
  line-height: 32px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_CollectionName_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_SectionCount_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  margin-left: 8px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_Rule_"] {
  margin: 0px 0px 0px 16px !important;
  background: rgb(var(--color-white), 0.2) !important;
  /* background: linear-gradient(90deg, rgba(var(--color-white), 0.2), transparent) !important; */
}

[class*="appgrid_EmptyGridMessageLine_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="appgrid_CollectionOptions_"] [class*="appgrid_SortingDropDown_"] .DialogDropDown._DialogInputContainer {
  padding: 0px !important;
  height: 32px !important;
  min-height: 32px !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
}

[class*="appgrid_CollectionOptions_"] {
  padding: 16px 0px !important;
}

[class*="appgrid_GridWithControls_"] {
  padding: 0px !important;
}

[class*="cssgrid_CSSGrid_"][class*="appgrid_YourCollection_"] {
  padding: 0px !important;
}

/* APPVIEW EDIT BUTTON */
[class*="collectionview_Container_"] [class*="collectionview_EditButton_"]  {
  margin-top: 0px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_EditButton_"] svg {
  fill: rgb(var(--color-white)) !important;
  color: rgb(var(--color-white)) !important;
  display: none !important;
}

[class*="collectionview_Container_"] [class*="collectionview_EditButton_"]:hover svg {
  fill: rgb(var(--color-white)) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="collectionview_Container_"] [class*="collectionview_EditButton_"][class*="collectionview_Pencil_"] {
  margin-left: 0px !important;
  width: 32px !important;
  height: 32px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABDklEQVRYhe2WMWpCQRRFj5IFWIg7CAYsBLGxMSZB+LqJ4D6yomzAwkptLENK0UZImyKtwrUZ8fMxzOh/Kso8ePC58Oae+4r5U5DENat4VfcIEAEiwBkA6sASWAEToHRJgD7wBbwDNeAPmHmnJFn0q/b1mNJ/fbMPBskTYAg0gDUwdxsoB03nTJ641L2UVk1to+E7w8I8yei1A1DmAIeSp/WX0LMsk/+nmwL4zIPWfipA1zL5sQBvzqSa0Xt5zI8B2DijlqV5KMCTpIWkjjN8llS3MA8F+JD06b7b2lc3r7kkCpL3VTwCmsAUqLgeAOOTLu5MhfwLfoCF6xHwbWG8q5ANnLXu7kUUASLA7QFsASBdWtTx/addAAAAAElFTkSuQmCC') !important;
}

/* APP GRID HEADER */
[class*="appgrid_AppGridSectionHeader_"] {
  display: none !important;
  padding: 0px !important;
  margin: 0px 0px 16px 0px !important;
}

[class*="appgrid_AppGridSectionHeader_"] [class*="appgrid_Rule_"] {
  margin: 0px !important;
  /* background: linear-gradient(90deg, rgba(var(--color-white), 0.2), transparent) !important; */
  background: rgba(var(--color-white), 0.2) !important;
}

/* BOX CARUSEL */
[class*="boxcarousel_BoxCarouselContents_"][class*="boxcarousel_MaskRight_"] {
  margin-right: 0px !important;
}

/* DYNAMIC COLLECTION HEADER */
[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"] [class*="collectionview_DynamicCollectionLabel_"] svg {
  display: none !important;
  margin-right: 0px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"] [class*="collectionview_DynamicCollectionLabel_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"] [class*="collectionview_DynamicCollectionLabel_"]:active {
  color: rgb(var(--color-text)) !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"] {
  height: 32px !important;
  line-height: 32px !important;
  padding: 0px 0px 0px 8px !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"]:hover {
  border-radius: 0px !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"]:active {
  border-radius: 0px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="collectionview_Container_"] [class*="collectionview_Header_"] [class*="collectionview_DynamicCollectionLabelAndButton_"]:focus {
  border-radius: 0px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="collectionview_DynamicCollectionLabelAndButton_"] [class*="collectionview_EditButton_"] {
  margin-left: 0px !important;
  width: 32px !important;
  height: 32px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABtElEQVRYhe3Wv2oUURQG8F+MtWAajZVoYWEhiZZizL9KfQkJ9mJv3DyAvkBSiUVSiWZjISiYlBFBi2At7KbeF/gs5i6MUbOzISEoe+Ay95575rvfnH93xpI4TTlzqqePCIwIjAgckcA81vGpptvBBhZPmsALvML3sl5BC8EeXuL5MIBnhyTwDdfwFLfwoejnsFt0e8MAjjVsxSv4gS94i8m/2HVwDzdxHY8HIicZNBaSdJO0k3SSLB9iu1Js2kn2k8wPwm9CYL0AH9SvlUO6ZX5wv5VkYxB+kyScxF1VfPuyhou4j9vFZrW2v6jKiwvHEQJJniTp1dadJFNJriS5Wkantt9L8qwJdtMqOP8H3Xh5jmHC7yU9roE0CcE2ZlQu7cuWqv4ncA7L2Kztz2HWr83qyAQ6+Kiq874sYR9v0Ea36Pqyq+oR3YHoQ5ThZolzq0EZbpV3FgbhN21ELVUj+orXuHSItx5gyjE2ovp4mORdmU+XbO/VvrSdZGkYzGHvgsu4UTwyq7p4eqokvINpfB4GsGkI6jKPR6pGNFN02yr3r+L9SRM4Vvkn/4hGBEYE/i8CPwHyVDsu32fdmgAAAABJRU5ErkJggg==') !important;
}

/* DYNAMIC COLLECTION SUBHEADER */
[class*="collectionview_Container_"] [class*="collectionview_DynamicCollectionSubHeader_"] {
  margin: 8px 0px !important;
}

/* DYNAMIC COLLECTION SNAPSHOT BUTTON */
[class*="collectionview_RightSideButtons_"] {
  padding: 0px !important;
}

[class*="collectionview_RightSideButtons_"] [class*="collectionview_FreezeButton_"] {
  padding: 0px 8px !important;
  border-radius: 0px !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  height: 32px !important;
  line-height: 32px !important;
}

[class*="collectionview_RightSideButtons_"] [class*="collectionview_FreezeButton_"] {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
}

[class*="collectionview_RightSideButtons_"] [class*="collectionview_FreezeButton_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="collectionview_RightSideButtons_"] [class*="collectionview_FreezeButton_"]:hover {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

/* ALL COLLECTIONS */
[class*="allcollections_ScrollContainer_"] {
  background: rgb(var(--color-background)) !important;
  border: 0px solid transparent !important;
}

[class*="allcollections_ScrollContainer_"] [class*="allcollections_Header_"] [class*="allcollections_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-section) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

[class*="infoicon_MoreInfoIcon_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
  bottom: 0px !important;
  right: 0px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABB0lEQVRYhe2WMW7CQBBFnzmMuUCokiskt8CUXAblCk5Pk5whJ4jiFECBfQHaT8ESYSkbz6C1ENJ+aZr5s7NP8njsQhK31OSmt2eADJABrgSogQbQRTQhPypABXTAI/AOlEABTIEP4AlogYWLQJIlKkkHSfVAXR3qFsa+ZoDWcPklRJsSoJa0jXiK5DdWYMsMzIB1xCsi+TXwYBmBwvA1FKeB+454f0GUwNc/gG6AWKNrvV9ZX8PSWOeutwD8AEsnwDKcSwLwCTw7AV7CuWGNtAf2qReRdxPOUwOcIbqwlFaSypCfSnqVtAt+5ejpAjjHm6RGfTWOR9QLyx4YVXf5Q5IBMkAGSKoj9wDgkpkJCh0AAAAASUVORK5CYII=') !important;
  line-height: 32px !important;
  margin: 0px !important;
}

[class*="infoicon_MoreInfoIcon_"] [class*="infoicon_MoreInfoIconQuestionMark_"] {
  display: none !important;
}

[class*="allcollections_Collection_"] [class*="allcollections_BigPlus_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="allcollections_Rule_"] {
  margin-left: 16px !important;
  /* background: linear-gradient(90deg, rgba(var(--color-white), 0.2), transparent) !important; */
  background: rgba(var(--color-white), 0.2) !important;
}

/* REORDERING */
[class*="libraryhomeshowcases_DoneReorderingRow_"] [class*="libraryhomeshowcases_DoneReordering_"] {
  margin-bottom: 16px;
  margin-top: 16px !important;
}

[class*="libraryhomeshowcases_Reordering_"] [class*="libraryhomeshowcases_Showcase_"] {
  padding: 0px !important;
  margin: 0px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"][class*="libraryhomeshowcases_Reordering_"] {
  border-radius: 0px !important;
  /* background-color: rgba(var(--color-white), 0.1) !important; */
  background-color: transparent !important;
  padding: 16px !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"][class*="libraryhomeshowcases_Reordering_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"][class*="libraryhomeshowcases_Reordering_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="libraryhomeshowcases_DeleteButton_"] {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAgUlEQVRYhe2VwQqAMAxDG/H/fzmeJlgmxjnXS3Ipg2x9tKMFyajUVprdAAYwQETsignA5czO8EAyqfNFAriBOhP2gOR3xLsjCfBs0VsAksxl7qn51KKUf8IhgNbzHJcBzJQBDGCAIYA2EXNcBjBTr7bhl4l3J3lp/KXyFhjAAAY4ADdOMDpRrOneAAAAAElFTkSuQmCC') !important;
}

[class*="libraryhomeshowcases_DeleteButton_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="libraryhomeshowcases_DeleteButton_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="libraryhomeshowcases_DeleteButton_"] svg {
  display: none !important;
}

[class*="libraryhomeshowcases_ShowcaseHeader_"][class*="libraryhomeshowcases_Reordering_"] .DialogDropDown.Disabled {
  opacity: 1 !important;
}