/* GAMES LIST CONTAINER */
[class*="gamelistbar_Container_"] {
  background-image: url() !important;
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

/* GAMES LIST HOME */
[class*="gamelistbar_GameListHomeAndSearch_"] {
  background-color: transparent !important;
  padding: 0px !important;
  /* margin-top: 8px !important; */
  height: 38px !important;
}

[class*="gamelisthome_Bar_"] {
  color: rgb(var(--color-text)) !important;
  border: 0px solid transparent !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  text-align: center !important;
  line-height: 38px !important;
  height: 38px !important;
  border-radius: 0px !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"], [class*="gamelisthome_Bar_"] {
  background-color: transparent !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"]:hover, [class*="gamelisthome_Bar_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"]:active, [class*="gamelisthome_Bar_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelisthome_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  margin-left: 0px !important;
  width: 100% !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

[class*="gamelisthome_Bar_"] [class*="gamelisthome_Icon_"] {
  fill: transparent !important;
  -webkit-mask-image: none !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_CollectionButton_"] {
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAkUlEQVRYhe2WQQrAIAwETelD8v9X5Sf2JlIoOJZYoTsnDxHHuBCt1lp25Pha4AmJUSRGkRhFYpRtxU5Y3+aXuxs9LCKGa6lYcXeLiCbYrwcYvozBIb5nx2ZkZkFi/bNlSy7J2MwlsNhdJKtzyhglNWNv5JUxyj8z1u9JF1uVMTrEl7HtR1FiFIlRJEaRGEVilAs7jEogLjPbUgAAAABJRU5ErkJggg==') !important;
}

[class*="gamelisthome_CollectionIcon_"] [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
}

[class*="gamelisthome_Bar_"] [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
  opacity: 0 !important;
  display: none !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
}

[class*="gamelisthome_CollectionIcon_"] {
  width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

/* GAMES LIST DROPDOWN */
[class*="gamelistdropdown_Bar_"] {
  padding: 0px !important;
  height: 32px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] [class*="gamelistdropdown_Arrow_"] polygon {
  fill: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:hover [class*="gamelistdropdown_Arrow_"] polygon {
  fill: rgb(var(--color-white)) !important;
}

/* DROPDOWN CONTEXT */
[class*="contextmenu_contextMenu_"][class*="gamelistdropdown_DropDown_"].visible[class*="contextmenu_ContextMenuFocusContainer_"] {
  background-color: rgba(var(--color-white), 0.05) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

.gamelistdropdown_DropDown_EDl_m .gamelistdropdown_Rule_2kvdT {
  background-color: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  margin: 2px 0px !important;
}

/* GAMES LIST */
[class*="gamelistentry_Container_"] {
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  border: 0px !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Installed_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"] {
  background-color: transparent !important;
}

[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"]::before {
  position: relative !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  content: "" !important;
  left: 0px !important;
  background: rgb(var(--color-accent)) !important;
}

[class*="gamelistentry_Container_"]:not([class*="gamelistentry_Selected_"]):hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistentry_Container_"]:not([class*="gamelistentry_Selected_"]):active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"] {
  background: transparent !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] :hover, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container"] :hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] :active, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container"] :active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Selected_"][class*="gamelistentry_Updating_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"] {
  color: rgb(var(--color-accent)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"] {
  color: rgb(var(--color-accent)) !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] [class*="gamelistentry_DownloadDash_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] [class*="gamelistentry_DownloadProgress_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="gamelistentry_FriendIsPlaying_"] svg circle, [class*="gamelistentry_FriendIsPlaying_"] svg path {
  fill: rgb(var(--color-accent)) !important;
}

/* PLAYBAR */
[class*="appdetails_PlayBar_"] {
  width: 100% !important;
}