/* MILLENNIUM OPTIONS ----------------------------------------------------------------------------------------------- */

/* FLYOUT */
.MillenniumDesktopSidebarDim {
  background: var(--zehn-color-window-overlay) !important;
}

.MillenniumDesktopSidebar {
  background: var(--zehn-color-window-panel) !important;
}

._34nl5vUoFCDYYnmHNL7axB {
  background: var(--zehn-color-window-panel) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-20) !important;
  line-height: 48px !important;
  gap: 16px !important;
  padding: 16px !important;
  margin: 0 !important;
}

._34nl5vUoFCDYYnmHNL7axB button {
  background-color: var(--zehn-color-button-client-background) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 48px !important;
  height: 48px !important;
  opacity: 1 !important;
  border: none !important;
  outline: none !important;
}

._34nl5vUoFCDYYnmHNL7axB button:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._34nl5vUoFCDYYnmHNL7axB button:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._34nl5vUoFCDYYnmHNL7axB button svg {
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

.MillenniumDesktopSidebarContent {
  padding: 16px 0 !important;
}

._3gY0aBuNR8_NPTpXIYfkby {
  padding: 0 16px !important;
}

._3gY0aBuNR8_NPTpXIYfkby:first-of-type {
  margin: 0 !important;
}

/* SETTINGS BG */
.MillenniumSettings .OX7USkJ5dDP_icD00Gal6.DialogContentTransition {
  background-color: transparent !important;
}

/* GENERAL */
.MillenniumSettings .DialogBody.aFxOaYcllWYkCfVYQJFs0 > .SettingsDialogSubHeader:first-of-type {
  margin: 0 !important;
}

.MillenniumSettings .DialogBody.aFxOaYcllWYkCfVYQJFs0 > .DialogControlsSection:first-of-type > .SettingsDialogSubHeader:first-of-type {
  margin: 0 !important;
}

/* MILLENNIUM PLUGINS */
.MillenniumPluginsDialogControlsSection {
  margin: 0 !important;
}

.DesktopUI ._3epr8QYWw_FqFgMx38YEEm.MillenniumSpanningIconButton {
  padding: 0 16px 0 0 !important;
  gap: 0 !important;
}

.Moi6v1N2diR_-8AdV3vok.DesktopUI, .DesktopUI .Moi6v1N2diR_-8AdV3vok, .Moi6v1N2diR_-8AdV3vok {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  margin: 0 !important;
  line-height: normal !important;
}

.MillenniumSettings ._2o2fXzn99OddeqZMjbDuxQ > div {
  gap: 16px !important;
}

.MillenniumSettings ._2o2fXzn99OddeqZMjbDuxQ button.DialogButton._DialogLayout {
  height: 32px !important;
}

.MillenniumSettings ._2o2fXzn99OddeqZMjbDuxQ button.DialogButton._DialogLayout svg {
  height: 32px !important;
  width: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.MillenniumSettings button.DialogButton._DialogLayout svg:has([d="M18 4C10.575 4 4.5 10.075 4.5 17.5H0L6.75 26.5L13.5 17.5H9C9 12.505 13.005 8.5 18 8.5V4ZM29.25 8.5L22.5 17.5H27C27 22.495 22.995 26.5 18 26.5V31C25.425 31 31.5 24.925 31.5 17.5H36L29.25 8.5Z"]) {
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

.MillenniumSettings button.DialogButton._DialogLayout svg:has([d="M 8.5 8 C 6.019 8 4 10.019 4 12.5 L 4 18 L 16.052734 18 C 16.636734 18 17.202344 17.793922 17.652344 17.419922 L 23.5 12.546875 L 19.572266 9.2734375 C 18.586266 8.4524375 17.336734 8 16.052734 8 L 8.5 8 z M 27.644531 13 L 19.572266 19.724609 C 18.585266 20.546609 17.336734 21 16.052734 21 L 4 21 L 4 35.5 C 4 37.981 6.019 40 8.5 40 L 39.5 40 C 41.981 40 44 37.981 44 35.5 L 44 17.5 C 44 15.019 41.981 13 39.5 13 L 27.644531 13 z"]) {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

.MillenniumSettings button.DialogButton._DialogLayout svg:has([d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z"]) {
  -webkit-mask-image: var(--zehn-icon-more) !important;
}

.MillenniumSettings ._2o2fXzn99OddeqZMjbDuxQ button.DialogButton._DialogLayout svg * {
  display: none !important;
}

.millenniumPluginField {
  background: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.pluginNameContainer .pluginStatusDot {
  background-color: var(--zehn-color-icon-primary) !important;
}

.pluginNameContainer #pluginStatusDot-0 {
  background-color: rgb(var(--zehn-color-accent)) !important;
}

.pluginNameContainer #pluginStatusDot-1 {
  background-color: var(--zehn-color-icon-tertiary) !important;
}

.pluginNameContainer div {
  color: var(--zehn-color-text-secondary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-12) !important;
}

.MillenniumSettings ._2o2fXzn99OddeqZMjbDuxQ {
  flex-direction: column !important;
  align-items: flex-start !important;
}

/* SETTINGS TITLE ON MAIN WINDOW */
._3mz8wQ6Q44B8P7pzPP4Iyw .MillenniumSettings ._2rjVTGz8aLvqOdz5v2gq5C {
  opacity: 0 !important;
}

/* NO PLUGINS FOUND */
.MillenniumPlaceholder_Container {
  gap: 16px !important;
}

.MillenniumPlaceholder_Icon svg {
  height: 64px !important;
  width: 64px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 64px !important;
  -webkit-mask-image: var(--zehn-icon-surprise) !important;
}

.MillenniumPlaceholder_Icon svg * {
  display: none !important;
}

.MillenniumPlaceholder_Header {
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-24) !important;
}

.MillenniumPlaceholder_Text {
  color: var(--zehn-color-text-secondary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
}

.MillenniumPlaceholder_Buttons {
  gap: 16px !important;
}

.DesktopUI ._3epr8QYWw_FqFgMx38YEEm.MillenniumPlaceholder_Button {
  display: flex !important;
  padding: 0 16px 0 0 !important;
}

.MillenniumPlaceholder_Button svg {
  height: 32px !important;
  width: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.MillenniumPlaceholder_Button svg * {
  display: none !important;
}

.MillenniumPlaceholder_Button svg:has([d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-33.5 53.5-3.8 127.9 58.8 136.4 4.5.6 9.1.9 13.7.9 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18.1 20.1 44.3 33.1 73.8 33.1 4.7 0 9.2-.3 13.7-.9 62.8-8.4 92.6-82.8 59-136.4zM529.5 288c-10 0-19.9-1.5-29.5-3.8V384H116v-99.8c-9.6 2.2-19.5 3.8-29.5 3.8-6 0-12.1-.4-18-1.2-5.6-.8-11.1-2.1-16.4-3.6V480c0 17.7 14.3 32 32 32h448c17.7 0 32-14.3 32-32V283.2c-5.4 1.6-10.8 2.9-16.4 3.6-6.1.8-12.1 1.2-18.2 1.2z"]) {
  -webkit-mask-image: var(--zehn-icon-download) !important;
}

.MillenniumPlaceholder_Button svg:has([d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z"]) {
    -webkit-mask-image: var(--zehn-icon-folder) !important;
}

/* MILLENNIUM SKINS */
._1aw7cA3mAZfWt8idAlVJWi {
  gap: 16px !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer, ._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer.Panel.Focusable {
  min-width: 300px !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer.Panel.Focusable {
  order: 1 !important;
}

.MillenniumSpanningIconButton {
  padding: 0 !important;
  max-height: 32px !important;
  order: 2 !important;
  min-width: 32px !important;
}

.MillenniumSpanningIconButton svg {
  height: 32px !important;
  width: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.MillenniumSpanningIconButton.Disabled svg {
  background-color: var(--zehn-color-icon-tertiary) !important;
}

.MillenniumSpanningIconButton svg * {
  display: none !important;
}

.MillenniumSpanningIconButton svg:has([d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"]) {
  -webkit-mask-image: var(--zehn-icon-save) !important;
}

.MillenniumSpanningIconButton svg:has([d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-33.5 53.5-3.8 127.9 58.8 136.4 4.5.6 9.1.9 13.7.9 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18.1 20.1 44.3 33.1 73.8 33.1 4.7 0 9.2-.3 13.7-.9 62.8-8.4 92.6-82.8 59-136.4zM529.5 288c-10 0-19.9-1.5-29.5-3.8V384H116v-99.8c-9.6 2.2-19.5 3.8-29.5 3.8-6 0-12.1-.4-18-1.2-5.6-.8-11.1-2.1-16.4-3.6V480c0 17.7 14.3 32 32 32h448c17.7 0 32-14.3 32-32V283.2c-5.4 1.6-10.8 2.9-16.4 3.6-6.1.8-12.1 1.2-18.2 1.2z"]) {
  -webkit-mask-image: var(--zehn-icon-download) !important;
}

.MillenniumSpanningIconButton svg:has([d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z"]) {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer {
  flex-grow: 1 !important;
}

.MillenniumItem_Version {
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
}

/* MILLENNIUM UPDATES */
.__up-to-date-header {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  margin: unset !important;
}

.__up-to-date-container > svg {
  display: none !important;
}

._3jMlJm4PQCA8SfNlUR99Fo > div {
  gap: 8px !important;
}

.update-item-type {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-primary) !important;
  line-height: 32px !important;
  padding: 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
}

._1aw7cA3mAZfWt8idAlVJWi > div {
  gap: 16px !important;
}

.Moi6v1N2diR_-8AdV3vok * {
  font-weight: 400 !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-button-dialog-background) !important;
  color: var(--zehn-color-text-primary) !important;
  padding: 0 !important;
  min-width: 32px !important;
  outline: 2px solid var(--zehn-color-button-dialog-border) !important;
  outline-offset: -2px !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton:hover {
  background-color: var(--zehn-color-button-dialog-background-hover) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-hover) !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton:active {
  background-color: var(--zehn-color-button-dialog-background-active) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-active) !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-update) !important;
  position: absolute !important;
  left: 0 !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg * {
  display: none !important;
}

.updateSecurityWarning {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-primary) !important;
}
.updateInfoTidbit {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  line-height: 32px !important;
  margin: 0 !important;
}

button.DialogButton.MillenniumIconButton {
  gap: 0 !important;
}

button.DialogButton.MillenniumIconButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  transform: none !important;
  transition: none !important;
}

button.DialogButton.MillenniumIconButton.Primary svg {
  position: absolute !important;
  left: 0 !important;
}

button.DialogButton.MillenniumIconButton svg:has(.DownloadArrow) {
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

button.DialogButton.MillenniumIconButton svg:has([d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  -webkit-mask-image: var(--zehn-icon-chevron-down-medium) !important;
}

button.DialogButton.MillenniumIconButton.Primary {
  padding: 0 16px 0 32px !important;
}

button.DialogButton.MillenniumIconButton.Secondary {
  padding: 0 !important;
}

button.DialogButton.MillenniumIconButton.expanded svg:has([d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  -webkit-mask-image: var(--zehn-icon-chevron-up-medium) !important;
}

/* ABOUT DIALOG */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically {
  justify-content: flex-start !important;
}

.DialogHeader > p {
  font-size: var(--zehn-size-12) !important;
}

.\.flex-btn-container {
  gap: 16px !important;
}

/* PAGELIST - GENERAL */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M17.5,27c-0.9,0 -1.74,0.27 -2.45,0.73l3.43,1.47c1.27,0.55 1.86,2.02 1.32,3.28c-0.41,0.95 -1.33,1.52 -2.3,1.52c-0.33,0 -0.66,-0.06 -0.98,-0.2l-3.44,-1.47c0.39,2.08 2.22,3.67 4.42,3.67c2.48,0 4.5,-2.02 4.5,-4.5c0,-2.48 -2.02,-4.5 -4.5,-4.5zM30,13c-2.76,0 -5,2.24 -5,5c0,2.76 2.24,5 5,5c2.76,0 5,-2.24 5,-5c0,-2.76 -2.24,-5 -5,-5zM30,21c-1.66,0 -3,-1.34 -3,-3c0,-1.66 1.34,-3 3,-3c1.66,0 3,1.34 3,3c0,1.66 -1.34,3 -3,3zM36.5,6h-25c-3.03,0 -5.5,2.47 -5.5,5.5v12.35l6.98,2.99c1.17,-1.14 2.76,-1.84 4.52,-1.84c0.16,0 0.33,0.01 0.49,0.02l4.07,-6.1c-0.04,-0.3 -0.06,-0.61 -0.06,-0.92c0,-4.41 3.59,-8 8,-8c4.41,0 8,3.59 8,8c0,4.41 -3.59,8 -8,8c-0.14,0 -0.28,-0.01 -0.42,-0.02l-5.65,4.62c0.04,0.3 0.07,0.59 0.07,0.9c0,3.58 -2.92,6.5 -6.5,6.5c-3.58,0 -6.5,-2.92 -6.5,-6.5v-0.06l-5,-2.15v7.21c0,3.03 2.47,5.5 5.5,5.5h25c3.03,0 5.5,-2.47 5.5,-5.5v-25c0,-3.03 -2.47,-5.5 -5.5,-5.5z"]) {
  -webkit-mask-image: var(--zehn-icon-puzzle) !important;
}

/* PAGELIST - PLUGINS */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M149.66,149.66,131.31,168l18.35,18.34a8,8,0,0,1-11.32,11.32L132,191.31l-23.31,23.32a32.06,32.06,0,0,1-45.26,0l-5.37-5.38-28.4,28.41a8,8,0,0,1-11.32-11.32l28.41-28.4-5.38-5.37a32,32,0,0,1,0-45.26L64.69,124l-6.35-6.34a8,8,0,0,1,11.32-11.32L88,124.69l18.34-18.35a8,8,0,0,1,11.32,11.32L99.31,136,120,156.69l18.34-18.35a8,8,0,0,1,11.32,11.32Zm88-131.32a8,8,0,0,0-11.32,0l-28.4,28.41-5.37-5.38a32.05,32.05,0,0,0-45.26,0L124,64.69l-6.34-6.35a8,8,0,0,0-11.32,11.32l80,80a8,8,0,0,0,11.32-11.32L191.31,132l23.32-23.31a32,32,0,0,0,0-45.26l-5.38-5.37,28.41-28.4A8,8,0,0,0,237.66,18.34Z"]) {
  -webkit-mask-image: var(--zehn-icon-puzzle) !important;
}

/* PAGELIST - THEMES */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M416 128V32c0-17.67-14.33-32-32-32H32C14.33 0 0 14.33 0 32v96c0 17.67 14.33 32 32 32h352c17.67 0 32-14.33 32-32zm32-64v128c0 17.67-14.33 32-32 32H256c-35.35 0-64 28.65-64 64v32c-17.67 0-32 14.33-32 32v128c0 17.67 14.33 32 32 32h64c17.67 0 32-14.33 32-32V352c0-17.67-14.33-32-32-32v-32h160c53.02 0 96-42.98 96-96v-64c0-35.35-28.65-64-64-64z"]) {
  -webkit-mask-image: var(--zehn-icon-color) !important;
}

/* PAGELIST - UPDATES */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M18 4C10.575 4 4.5 10.075 4.5 17.5H0L6.75 26.5L13.5 17.5H9C9 12.505 13.005 8.5 18 8.5V4ZM29.25 8.5L22.5 17.5H27C27 22.495 22.995 26.5 18 26.5V31C25.425 31 31.5 24.925 31.5 17.5H36L29.25 8.5Z"]) {
  -webkit-mask-image: var(--zehn-icon-update) !important;
}

/* PAGELIST - REPORT BUG */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M18 4.15002C16.4087 4.15002 14.8826 4.78217 13.7574 5.90738C12.6321 7.0326 12 8.55872 12 10.15H24C24 8.55872 23.3679 7.0326 22.2426 5.90738C21.1174 4.78217 19.5913 4.15002 18 4.15002Z"]) {
  -webkit-mask-image: var(--zehn-icon-bug) !important;
}

/* PAGELIST - LOGS */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M21.8231 11.9293C21.8231 11.2176 22.4001 10.6406 23.1118 10.6406H28.7175C30.5561 10.6406 32.0466 12.1311 32.0466 13.9697V26.9697C32.0466 28.8083 30.5561 30.2988 28.7175 30.2988H11.6338C9.79517 30.2988 8.30469 28.8083 8.30469 26.9697V21.8365C8.30469 21.1248 8.88165 20.5478 9.59336 20.5478C10.3051 20.5478 10.882 21.1248 10.882 21.8365V26.9697C10.882 27.3849 11.2186 27.7214 11.6338 27.7214H28.7175C29.1327 27.7214 29.4693 27.3849 29.4693 26.9697V13.9697C29.4693 13.5545 29.1327 13.218 28.7175 13.218H23.1118C22.4001 13.218 21.8231 12.641 21.8231 11.9293Z"]) {
  -webkit-mask-image: var(--zehn-icon-stats) !important;
}

/* PAGELIST - SETTINGS */
.MillenniumSettings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M33 20.38V15.62L29.07 14.9C28.8121 14.015 28.453 13.1628 28 12.36L30.27 9.08L26.92 5.71L23.64 8C22.8372 7.54696 21.985 7.18793 21.1 6.93L20.38 3H15.62L14.9 6.93C14.015 7.18793 13.1628 7.54696 12.36 8L9.08 5.71L5.71 9.08L8 12.36C7.54696 13.1628 7.18793 14.015 6.93 14.9L3 15.62V20.38L6.93 21.1C7.18793 21.985 7.54696 22.8372 8 23.64L5.71 26.92L9.08 30.29L12.36 28C13.1637 28.4461 14.0159 28.7984 14.9 29.05L15.62 33H20.38L21.1 29.07C21.985 28.8121 22.8372 28.453 23.64 28L26.92 30.27L30.29 26.9L28 23.64C28.4461 22.8363 28.7984 21.9841 29.05 21.1L33 20.38ZM18 23C17.0111 23 16.0444 22.7068 15.2221 22.1573C14.3999 21.6079 13.759 20.827 13.3806 19.9134C13.0022 18.9998 12.9031 17.9945 13.0961 17.0245C13.289 16.0546 13.7652 15.1637 14.4645 14.4645C15.1637 13.7652 16.0546 13.289 17.0245 13.0961C17.9945 12.9031 18.9998 13.0022 19.9134 13.3806C20.827 13.759 21.6079 14.3999 22.1573 15.2221C22.7068 16.0444 23 17.0111 23 18C23 18.6566 22.8707 19.3068 22.6194 19.9134C22.3681 20.52 21.9998 21.0712 21.5355 21.5355C21.0712 21.9998 20.52 22.3681 19.9134 22.6194C19.3068 22.8707 18.6566 23 18 23Z"]) {
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

/* COLOR PICKER */
._1aw7cA3mAZfWt8idAlVJWi input.MillenniumColorPicker, ._2o2fXzn99OddeqZMjbDuxQ input.MillenniumColorPicker {
  margin: 0 !important;
  border: unset !important;
  min-width: 44px !important;
  min-height: 42px !important;
  width: 44px !important;
  height: 44px !important;
  background: transparent !important;
  padding: unset !important;
  outline: 2px solid var(--zehn-color-picker-border) !important;
  outline-offset: -2px !important;
}

._1aw7cA3mAZfWt8idAlVJWi input.MillenniumColorPicker:hover, ._2o2fXzn99OddeqZMjbDuxQ input.MillenniumColorPicker:hover {
  outline-color: var(--zehn-color-picker-border-hover) !important;
}

._1aw7cA3mAZfWt8idAlVJWi input.MillenniumColorPicker:active, ._2o2fXzn99OddeqZMjbDuxQ input.MillenniumColorPicker:active {
  outline-color: var(--zehn-color-picker-border-active) !important;
}

input[type="color"] {
	-webkit-appearance: none !important;
	border: none !important;
	width: 48px !important;
	height: 48px !important;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0 !important;
}

input[type="color"]::-webkit-color-swatch {
	border: none !important;
}

._2o2fXzn99OddeqZMjbDuxQ {
  position: relative !important;
}

._2o2fXzn99OddeqZMjbDuxQ:has(.MillenniumColorPicker) button {
  order: 2 !important;
  position: absolute !important;
  min-height: 20px !important;
  max-width: 20px !important;
  opacity: 0 !important;
  height: 20px !important;
  width: 20px !important;
  background-color: green !important;
  min-height: 20px !important;
  opacity: 0 !important;
  z-index: 999 !important;
  top: 2px !important;
  right: 2px !important;
  padding: 0 !important;
}

.MillenniumColorPicker {
  position: relative !important;
}

._2o2fXzn99OddeqZMjbDuxQ:has(button) .MillenniumColorPicker {
  outline-color: var(--zehn-color-picker-border-focus) !important;
}

._2o2fXzn99OddeqZMjbDuxQ:has(button) .MillenniumColorPicker::before {
  content: "" !important;
  top: 2px !important;
  right: 2px !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  background-color: var(--zehn-color-picker-border-active) !important;
}

._2o2fXzn99OddeqZMjbDuxQ:has(button) .MillenniumColorPicker::after {
  content: "" !important;
  top: 2px !important;
  right: 2px !important;
  width: 20px !important;
  height: 20px !important;
  position: absolute !important;
  background-color: var(--zehn-color-picker-checkmark) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-checkmark) !important;
}

/* THEME PAGELIST */
.MillenniumSettings {
  border: none !important;
}

.MillenniumSettings .PageListColumn.Panel {
  max-height: 100% !important;
}

/* ZEHN BUTTONS */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO {
  position: relative !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO ._2PPbMrzl8PKBwpkjYs9b0i {
  padding-left: 32px !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: 16px 12px !important;
  mask-size: 16px !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(1)::after {
  -webkit-mask-image: var(--zehn-icon-theme) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(2)::after {
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(3)::after {
  -webkit-mask-image: var(--zehn-icon-search) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(4)::after {
  -webkit-mask-image: var(--zehn-icon-library) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(5)::after {
  -webkit-mask-image: var(--zehn-icon-chat) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:last-of-type::after {
  -webkit-mask-image: var(--zehn-icon-color) !important;
}

/* UPDATE AVAILABLE */
.DialogFooter:has(.UpdateLinksContainer) .DialogTwoColLayout._DialogColLayout {
  flex-direction: column !important;
}

.UpdateLinksContainer {
  gap: 16px !important;
  justify-content: flex-start !important;
}

.viewDiffLink, .viewDownloadInfo {
  padding: 0 !important;
  margin: 0 !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  justify-content: flex-start !important;
}

.DialogBodyText:has(.MillenniumReleaseMarkdown) {
  flex-grow: 1 !important;
}

/* LOGS */
.DialogControlsSection.MillenniumButtonsSection {
  margin: 0 !important;
}

.DialogControlsSection.MillenniumButtonsSection .SettingsDialogSubHeader {
  margin: 0 !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton {
  gap: 0 !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton:has(svg) {
  padding: 0 16px 0 0 !important;
}

.DialogControlsSection.MillenniumButtonsSection .MillenniumLogs_Icons ._3epr8QYWw_FqFgMx38YEEm.DialogButton:has(svg) {
  padding: 0 !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton > div {
  width: 32px !important;
  height: 32px !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg * {
  display: none !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg:has([d="M5.37033 3.07108C6.74074 2.15541 8.35191 1.66666 10.0001 1.66666C11.0944 1.66666 12.1781 1.88221 13.1891 2.301C14.2002 2.71979 15.1188 3.33362 15.8926 4.10744C16.6665 4.88126 17.2803 5.79992 17.6991 6.81097C18.1179 7.82202 18.3334 8.90565 18.3334 10C18.3334 11.6482 17.8447 13.2593 16.929 14.6297C16.0133 16.0002 14.7118 17.0683 13.1891 17.699C11.6664 18.3297 9.99084 18.4948 8.37433 18.1732C6.75782 17.8517 5.27297 17.058 4.10753 15.8926C2.94209 14.7271 2.14842 13.2423 1.82687 11.6258C1.50533 10.0092 1.67036 8.33369 2.30109 6.81097C2.93182 5.28825 3.99992 3.98676 5.37033 3.07108ZM12.2223 5L11.389 10H8.61119L7.77786 5H12.2223ZM11.9445 13.0556C11.9445 14.1294 11.074 15 10.0001 15C8.92619 15 8.05564 14.1294 8.05564 13.0556C8.05564 11.9817 8.92619 11.1111 10.0001 11.1111C11.074 11.1111 11.9445 11.9817 11.9445 13.0556Z"]) {
  -webkit-mask-image: var(--zehn-icon-info) !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg:has([d="M9.82497 18.385L24.595 3.61499L24.595 33.155L9.82497 18.385Z"]) {
  -webkit-mask-image: var(--zehn-icon-direction-backwards) !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg:has([d="M602 118.6L537.1 15C531.3 5.7 521 0 510 0H106C95 0 84.7 5.7 78.9 15L14 118.6c-33.5 53.5-3.8 127.9 58.8 136.4 4.5.6 9.1.9 13.7.9 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18 20.1 44.3 33.1 73.8 33.1 29.6 0 55.8-13 73.8-33.1 18.1 20.1 44.3 33.1 73.8 33.1 4.7 0 9.2-.3 13.7-.9 62.8-8.4 92.6-82.8 59-136.4zM529.5 288c-10 0-19.9-1.5-29.5-3.8V384H116v-99.8c-9.6 2.2-19.5 3.8-29.5 3.8-6 0-12.1-.4-18-1.2-5.6-.8-11.1-2.1-16.4-3.6V480c0 17.7 14.3 32 32 32h448c17.7 0 32-14.3 32-32V283.2c-5.4 1.6-10.8 2.9-16.4 3.6-6.1.8-12.1 1.2-18.2 1.2z"]) {
  -webkit-mask-image: var(--zehn-icon-download) !important;
}

.DialogControlsSection.MillenniumButtonsSection ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg:has([d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z"]) {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 > div {
  margin: 0 !important;
  gap: 16px !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .DialogHeader {
  padding: 0 !important;
  font-size: var(--zehn-size-18) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 div {
  gap: 16px !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 > div > div > button {
  order: 99 !important;
}

.millennium-settings ._3epr8QYWw_FqFgMx38YEEm.DialogButton {
  gap: 16px !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 > div:last-of-type > div {
  gap: 16px !important;
  margin: 0 !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer {
  gap: 16px !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer button {
  height: 32px !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer button:first-of-type svg {
  height: 32px !important;
  -webkit-mask-image: var(--zehn-icon-subtract) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer button svg {
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer button:last-of-type svg {
  height: 32px !important;
  -webkit-mask-image: var(--zehn-icon-copy) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 .iconContainer button svg * {
  display: none !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 pre {
  font-size: var(--zehn-size-14) !important;
  margin: 0 !important;
  /* background: var(--zehn-color-window-panel) !important; */
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 pre span {
  color: var(--zehn-color-text-secondary) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 pre span[style] {
  color: rgb(var(--zehn-color-accent)) !important;
}

.millennium-settings .aFxOaYcllWYkCfVYQJFs0 pre span[style="color: rgb(255, 255, 255);"] {
  color: var(--zehn-color-text-primary) !important;
}

/* LOGS */
.MillenniumLogs_TextContainer {
  margin: 0 !important;
  gap: 16px !important;
}

.MillenniumLogs_HeaderTextTypeCount {
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  line-height: 16px !important;
}

.MillenniumLogs_HeaderTextTypeCount[data-type="warning"]:not([data-count="0"]) {
  color: rgb(var(--zehn-color-accent)) !important;
}

.MillenniumLogs_LogItemButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-info) !important;
}

.MillenniumLogs_LogItemButton svg * {
  display: none !important;
}

.MillenniumButtonsSection {
  gap: 16px !important;
  margin: 0 !important;
}

.MillenniumLogsSection .DialogButton.MillenniumLogs_LogItemButton {
  padding: 0 16px 0 0 !important;
  gap: 0 !important;
}

.MillenniumLogsSection .DialogButton.MillenniumLogs_LogItemButton[data-warning-count="0"][data-error-count="0"] {
  padding: 0 16px !important;
}

.MillenniumLogsSection .DialogButton.MillenniumLogs_LogItemButton[data-warning-count="0"][data-error-count="0"] > .tool-tip-source {
  display: none !important;
}

.DesktopUI .MillenniumLogs_NavContainer .MillenniumButton {
  padding: 0 16px 0 0 !important;
  gap: 0 !important;
}

.MillenniumLogs_NavContainer .MillenniumButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-direction-backwards) !important;
}

.MillenniumLogs_NavContainer .MillenniumButton svg * {
  display: none !important;
}

.MillenniumLogs_TextControls .MillenniumLogs_Icons .MillenniumIconButton svg:has([d="M33 16H3V21H33V16Z"]) {
  -webkit-mask-image: var(--zehn-icon-subtract) !important;
}

.MillenniumLogs_TextControls .MillenniumLogs_Icons .MillenniumIconButton svg:has([d="M16 34V21H3V16H16V3H21V16H34V21H21V34H16Z"]) {
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

.MillenniumLogs_TextControls .MillenniumLogs_Icons .MillenniumIconButton svg:has([d="M24 4H4V24H8V8H24V4Z"]) {
  -webkit-mask-image: var(--zehn-icon-copy) !important;
}

.MillenniumLogs_Text.DialogInput.DialogTextInputBase, .MillenniumLogs_Text.DialogInput.DialogTextInputBase:hover, .MillenniumLogs_Text.DialogInput.DialogTextInputBase:active {
  background: var(--zehn-color-window-panel) padding-box !important;
  border: none !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* QUICK CSS EDITOR ------------------------------------------------------------------------------------------------- */

.MillenniumQuickCss_Popup {
  overflow: hidden !important;
  position: relative !important;
}

.MillenniumQuickCss_Popup .PopupFullWindow {
  right: 0 !important;
  top: 0 !important;
  height: 32px !important;
}

.MillenniumQuickCss_Title {
  top: 0 !important;
  left: 0 !important;
  line-height: 32px !important;
  padding: 0 12px !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  position: absolute !important;
  height: 32px !important;
}

.MillenniumQuickCss_CodeEditor {
  margin-top: 32px !important;
  position: absolute !important;
  height: -webkit-fill-available !important;
}

.MillenniumQuickCss_CodeEditor * {
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace !important;
}

.ͼ16 {
  background-color: transparent !important;
  color: var(--zehn-color-text-secondary) !important;
}

.ͼ16 .cm-gutters {
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  /*background-color: var(--zehn-color-window-panel) !important;*/
  background-color: transparent !important;
}

.ͼ16 .cm-activeLineGutter {
  color: var(--zehn-color-text-primary) !important;
  /*background-color: rgba(var(--zehn-color-accent), 0.5) !important;*/
  background-color: transparent !important;
}

.ͼ1 .cm-lineNumbers .cm-gutterElement {
  padding: 0 8px !important;
  min-width: 24px !important;
  line-height: 20px !important;
}

.ͼ16 .cm-activeLine {
  background-color: rgba(var(--zehn-color-accent), 0.5) !important;
}

.ͼ1.cm-focused {
  outline: none !important;
}

.ͼ16.cm-focused .cm-selectionBackground, .ͼ16 .cm-selectionLayer .cm-selectionBackground {
  background-color: rgba(var(--zehn-color-accent), 0.2) !important;
}

.ͼ16 .cm-line::selection, .ͼ16 .cm-content::selection {
  background-color: transparent !important;
}

.ͼ1 .cm-line {
  padding: 0 !important; 
}

.ͼ1 .cm-content {
  padding: 0 !important;
}

.cm-line {
  font-size: var(--zehn-size-14) !important;
/*  line-height: 24px !important;
  height: 24px !important;*/
}

.ͼ1 .cm-foldGutter span {
  padding: 0 8px 0 0 !important;
  width: 16px !important;
  height: 100% !important;
  display: block !important;
}

/* COMMENT */
.ͼ1l {
  color: var(--zehn-color-icon-tertiary) !important;
}

/* VALUE */
.ͼ17 {
  color: #b48ead !important;
}

/* PROP */
.ͼ19 {
  color: var(--zehn-color-icon-primary) !important;
}

/* CLASS */
.ͼ1b {
  color: #bf616a !important;
}

/* PRIMITIVE */
.ͼ1d {
  color: #d08770 !important;
}

/* SYNTAX */
.ͼ1e {
  color: var(--zehn-color-icon-secondary) !important;
}

/* DATA */
.ͼ1g {
  color: #a3be8c !important;
}

/* FOLDED */
span[title="Fold line"], span[title="Unfold line"] {
  color: transparent !important;
  position: relative !important;
  width: 16px !important;
  height: 100% !important;
}

span[title="Fold line"]::after, span[title="Unfold line"]::after {
  position: absolute !important;
  left: 0 !important;
  width: 16px !important;
  height: 100% !important;
  background-color: var(--zehn-color-icon-secondary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 8px !important;
  content: "" !important;
}

span[title="Fold line"]::after {
  -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;
}

span[title="Unfold line"]::after {
  -webkit-mask-image: var(--zehn-icon-chevron-right-thick) !important;
}

.ͼ1 .cm-foldPlaceholder {
  background-color: transparent !important;
  border: none !important;
  color: var(--zehn-color-text-secondary) !important;
  border-radius: 0 !important;
  margin: 0 2px !important;
  padding: 0 2px !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* SIDEBAR ---------------------------------------------------------------------------------------------------------- */

.MillenniumSidebarThemeEditor_Content {
  padding: 0 !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */