/* NOTES ------------------------------------------------------------------------------------------------------------ */

/* DWMX */
.dwmx.client_chat_frame ._1Ve4VFO2EEkeNZdel_Asky {
  background-color: var(--zehn-color-window-dialog) !important;
}

.dwmx.client_chat_frame ._3hIt9g_59KauEV2uSNK6Ct .TitleBar {
  background-color: var(--zehn-color-window-dialog) !important;
}

.dwmx.client_chat_frame:has(._3hIt9g_59KauEV2uSNK6Ct) {
  background-color: transparent !important;
}

.dwmx.client_chat_frame ._3hIt9g_59KauEV2uSNK6Ct .DialogHeader {
  z-index: 999 !important;
}

/* GAMENOTES */
._3hIt9g_59KauEV2uSNK6Ct .DialogContent:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 0 !important;
}

._3hIt9g_59KauEV2uSNK6Ct .DialogContent_InnerWidth:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 32px 0 0 0 !important;
}

._1AL7l2CN6z-vuLfp1iCLa {
  margin: 0 !important;
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  gap: 0 !important;
}

._1Ve4VFO2EEkeNZdel_Asky {
  color: var(--zehn-color-text-primary) !important;
  background: transparent !important;
  border-radius: 0 !important;
  outline: none !important;
}

._30v-6zb_axOypIUr5VRHE1 > .ProseMirror {
  /* padding: 9px 12px !important; */
  padding: 0 !important;
}

p._3lnqGBzYap-Z2T81XBiBUU {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 {
  bottom: 0 !important;
  right: 0 !important;
  /* width: 100% !important; */
  gap: 0 !important;
  position: relative !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton {
  opacity: 1 !important;
  min-width: 48px !important;
  width: 100% !important;
  height: 48px !important;
  padding: 0 !important;
  outline: none !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton:hover {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton:active {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton svg {
  width: 48px !important;
  height: 48px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-delete) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
  display: none !important;
}

._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn .DialogButton svg:has([d="M27 32.2952H9L7 14.2952H29L27 32.2952ZM12 29.2952H14V17.2952H12V29.2952ZM17 17.2952V29.2952H19V17.2952H17ZM22 29.2952H24V17.2952H22V29.2952Z"]) {
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  height: 48px !important;
  -webkit-mask-image: var(--zehn-icon-delete) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
  display: none !important;
}

._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn .DialogButton {
  height: 48px !important;
  outline: none !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn .DialogButton:hover {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp .PageListColumn .DialogButton:active {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .vKXl-xWkUZL5iNvaT5mzW {
  margin-left: 0 !important;
  padding: 0 16px !important;
  height: 48px !important;
  opacity: 1 !important;
  box-sizing: border-box !important;
  min-width: 48px !important;
  width: fit-content !important;
  flex-grow: 1 !important;
  display: none !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 > div {
  flex-grow: 1 !important;
  display: flex !important;
}

/* TEXT ENTRY */
._1AL7l2CN6z-vuLfp1iCLa ._1Ve4VFO2EEkeNZdel_Asky {
  margin: 0 !important;
  padding: 16px !important;
}

._2ODaX8lO7DKLKke76c2Wya, ._1I3OP84ayrCIMuBrCrkosi {
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
}

._1I3OP84ayrCIMuBrCrkosi {
  margin: 0 !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

/* LINK */
._1Ve4VFO2EEkeNZdel_Asky a {
  border-bottom: 1px dotted var(--zehn-color-link) !important;
}

._1Ve4VFO2EEkeNZdel_Asky a:hover {
  border-bottom: 1px dotted var(--zehn-color-link-hover) !important;
}

._1Ve4VFO2EEkeNZdel_Asky a:active {
  border-bottom: 1px dotted var(--zehn-color-link-active) !important;
}

/* COMMAND BUTTON */
.gdKTXjvFuMeVN2qa6o8EL {
  padding: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0 !important;
  order: 3 !important;
}

.LCeIT0gmFTY8fdfaVgk4j:first-child:not(:last-child) {
  margin-bottom: 0 !important;
}

.nXEH21nf47u2OH7BjQKei {
  margin: 0 !important;
}

.LCeIT0gmFTY8fdfaVgk4j {
  margin-top: 0 !important;
  gap: 0 !important;
  flex-wrap: wrap !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN {
  margin-right: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

/* BUTTONS */
.gdKTXjvFuMeVN2qa6o8EL {
  background: var(--zehn-color-window-acrylic) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
  /* backdrop-filter: blur(var(--zehn-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
}

.dwmx.client_chat_frame .gdKTXjvFuMeVN2qa6o8EL {
  backdrop-filter: none !important;
}

.WindowFocus .gdKTXjvFuMeVN2qa6o8EL {
  background-color: var(--zehn-color-window-acrylic-focus) !important;
}

.gdKTXjvFuMeVN2qa6o8EL::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--zehn-texture-acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.dwmx.client_chat_frame .WindowFocus .gdKTXjvFuMeVN2qa6o8EL::after {
  opacity: 0 !important;
}

.WindowFocus .gdKTXjvFuMeVN2qa6o8EL::after {
  opacity: 1 !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton {
  width: 48px !important;
  height: 48px !important;
  outline: none !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton:hover {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton:active {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-active) !important;
}

/* SPACE BREAK */
.LCeIT0gmFTY8fdfaVgk4j ._19z0fjj7o0n9vAjVjvYZNU {
  width: 0 !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._2m1BBIp5Ewr1TI-BkqFGLM {
  display: none !important;
  min-width: 0 !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg {
  width: 48px !important;
  height: 48px !important;
  padding: 0 !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg path {
  stroke: transparent !important;
  fill: transparent !important;
  display: none !important;
}

._3454x5BD8OL9OyBzYOvsv8._1Iw5xoXQXfmRjgjWTKbm_G svg {
  margin: 0 !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton svg {
  width: 48px !important;
  height: 48px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-chevron-up) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_Undo {
  -webkit-mask-image: var(--zehn-icon-undo) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_Redo {
  -webkit-mask-image: var(--zehn-icon-redo) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextBold {
  -webkit-mask-image: var(--zehn-icon-text-bold) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextItalic {
  -webkit-mask-image: var(--zehn-icon-text-italic) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextUnderline {
  -webkit-mask-image: var(--zehn-icon-text-underline) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextStrikethrough {
  -webkit-mask-image: var(--zehn-icon-text-strikethrough) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextCode {
  -webkit-mask-image: var(--zehn-icon-text-code) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextParagraph {
  -webkit-mask-image: var(--zehn-icon-text-paragraph) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH1 {
  -webkit-mask-image: var(--zehn-icon-text-h1) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH2 {
  -webkit-mask-image: var(--zehn-icon-text-h2) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH3 {
  -webkit-mask-image: var(--zehn-icon-text-h3) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH4 {
  -webkit-mask-image: var(--zehn-icon-text-h4) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH5 {
  -webkit-mask-image: var(--zehn-icon-text-h5) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextCodeBlock {
  -webkit-mask-image: var(--zehn-icon-text-code-block) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextBullets {
  -webkit-mask-image: var(--zehn-icon-text-list-bulleted) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextOutdent {
  -webkit-mask-image: var(--zehn-icon-text-indent-decrease) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextIndent {
  -webkit-mask-image: var(--zehn-icon-text-indent-increase) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextLink {
  -webkit-mask-image: var(--zehn-icon-link) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  -webkit-mask-image: var(--zehn-icon-dictionary) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN._1Iw5xoXQXfmRjgjWTKbm_G.DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  -webkit-mask-image: var(--zehn-icon-checkmark) !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */