/* GAMENOTES */
[class*="gamenotes_NoteEditorArea_"] {
  margin: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
}

[class*="gamenotes_EditorInput_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="prosemirror_Container_"]>.ProseMirror {
  padding: 16px !important;
}

p[class*="bbcodes_Paragraph_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] {
  bottom: 16px !important;
  right: 16px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton {
  opacity: 1 !important;
  /* width: 38px !important; */
  min-width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAlUlEQVRYhe2WSwrAIAxEm9L7XzldCTVEyoz9BJm3ESHqIxGjuftWkf1vgRESQ5EYisRQJIZSVuxAF5hZN/ekp1kIYtoeLJZxFclEqT2JfZiD7T6khymlubvHcmW0OCaJZS//tFi7U3GcZd2MvYXEUCSGsq5Y6wBxnKVsxujfxVMv/AiqwX5B2VJKDEViKBJDkRhKWbETaEwwRkAw7IUAAAAASUVORK5CYII=') !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] [class*="gamenotes_CloseWindowButton_"] {
  margin-left: 16px !important;
  padding: 0px 16px !important;
  height: 38px !important;
  opacity: 1 !important;
}

/* COMMAND BUTTON */
[class*="gamenotes_Toolbar_"] {
  padding: 16px 0px !important;
}

[class*="prosemirror_ToolbarRow_"]:first-child {
  margin-bottom: 2px !important;
}

[class*="prosemirror_ToolbarRow_"] {
  margin-top: 0px !important;
  gap: 2px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"] {
  margin-right: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_Gap_"] {
  width: 12px !important;
}

[class*="prosemirror_ExpandButton_"] svg {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ExpandButton_"] svg path {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="prosemirror_ExpandButton_"][class*="prosemirror_Toggled_"] svg {
  margin: 0px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button * {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_Undo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVRYhe2W4Q2DIBBGv+soXUFHsCOwgsO5Ais4ix3h6w/Pxphi7xLAtOESggS49zScKiRxZdwupTeBJtAEnAIUEYgIAHQAIoAFALWPALrdmuwCqwU5Aph12MtK63U867wrobWR5Kh9SOQKOn+35vUKJOE7iaitmMA7EgIDycWaV6wfI8/BUjnThuxlSHIA8LSuz/4ESEa9fFg32A6LLddWJfmrwADfSjC4biyHwBFeVeATvJpACl5F4AxeXOAbvIbAdAb3CJhfRKXip/6ImkAT+E+BF4NfUJM/y1vJAAAAAElFTkSuQmCC') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_Redo {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA1UlEQVRYhe3W4Q2CMBCG4feMk7gCjOAKOALDuUJXwFV0hM8f1IQ/yB2hEE0vIaTpcX0opWCSODJOh45eARVQARGAmWFmAA2QgCegfE5AM8lxby6hGZDUA0NutjaO1ub2kPtjIcl7XDRGN1Ony/19PrvqRgBJUlq4mQ/CDTgHJqsBbjMDr/6gWOBa5WfuS3bWjSzCl6RrIH9zwAOIr/Kl2OotWFvXnzgW7b2IIoBcuPMgigG8iKIAD6I4YAmxC+AbYjfABHFfA4hsxUXid/6IKqAC/hbwBin6+GgmmHCoAAAAAElFTkSuQmCC') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextBold {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2UlEQVRYhe2U4Q2CMBCFvzMugCMwgyM4C8ziCo7gCrKCI+gIMsL5A0LOCNIrjYSkX9I/R3l9lLsnqsqa7FY9PRvIBrKBLRrQH+sBnETEJSjOJJzb3AJH4BkqGP0LpAeoTbkAKo/O4h4QkQvQmFL5VwMjNPNbDKrqWQPm/cqUb17NfexnWhN0TdeISD21f4rUU/Ckm4I2VDDFFByAe18ugatLJ/YGxCSOqpZ0QTQ8DhXcXBR/oaoFn9cenIJAsimwnL1CUTkwwktVK6+mtwmTs/0mzAaygWxgKW9OFPfqE5MokgAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextItalic {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsElEQVRYhe2Wyw0CMQwF59HBtgCt0BNFbU8pYVswByIOsHvwByJQLOViKc5onpREZsbIOg09fQJMgAkQAZD0toAFMOD8cYCDugFNUhsFcAXWyEZ5r+Ku/FlmtgAbcJHUvPMqDIT1VwGE9UMyglf9veealzWQ0l8BkNIPiQj29Pe+a17GQFp/FiCtH4IRHOmH70VQoj8DUKIfAhHweHp39YM/gghAaf3ej2gCTIC/A7gDe9RLHynlCBcAAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextUnderline {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAApUlEQVRYhe2W0QnDMAxEpdAFvKRWyHCZJR0hK7x+RNAGgiuFgknRQSCgQ/dsgy0FZKSmoekFUAAFICKPpB9V1a5hv1i6nk8N34ECKIACuB8A0K7UfgXwFBHr1M09cQGZbwa2s5UCzWtzpmcKwIMWDzIPbf6/AUt2UWkADzBg5a0VsCu7qpmp+MtDeDjWcM/kWB41h5/j7DwQbhzV/S6iAiiAvwN4ARZvJ5UoF92yAAAAAElFTkSuQmCC') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextStrikethrough {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA9UlEQVRYhe2W4YnCQBCFvzn87RFLSAuxhKvlWrCFtGALWoItpAZLiGgD735k4EQjOkMwCPtgCCy7bz7YmdmYJObU16zZC0ABKAAfCWBmmBlAC/Qe8m8b9VtEDwBI2gE1sDazo69VQBP1ssQoboAOWJnZaQQuZJapgQo4jSXPKANwBCpJ9SwAfud7oJMUvvM7SQrF1bmNBu28AHN+WQBPVknqHOT37QBXID+Seklt1C/ahmdg+WTPBfh+1TA8B3wKjkqD2eMNI5rsLci2ZRjAq397U/kNcGBoz7BhNGqv/F7/6iVtMn6Zt2BSfd7/QAEoAAVgav0BZMqkn9Z3YpgAAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextCode {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAzUlEQVRYhe2W6w3DIAyEz1Un6CwdgRk6U2foCMyQEZihI7DC9Q9UFk2IQyuhSraEFExy/vxAipDETDtNje4ADuAADvAXACJiWgDShr9vJLvLYiTvJMOQ/o8A0miCh2agZMrGFwAs5TmTjEc0TRWogdcybX0kY3k3WvTPBsAEALI9UU+9EZGbAskALj19yy24Alh0VgouAng0vnebRKQbvH5gHsJa3gZAn+eVlnzXAm21vEU44LP8+xm3NnoNrdO+py/+U+oADuAADjAb4AXnaWqOHJnlBQAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextParagraph {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVRYhe3VwQ2AIAyF4f+5gaziTs7gkq6CI9QLBy8eIMTG5DUhhAPlS2lAEUFmLKmnG2CAAb8ESALYgXgZffkGXsIVqM8cba6SSm++kSvYBvZMBZypAEkXcMwCdPdAa0IAIqICpS0/64GpYYABBqQDRj6jqZFeAQMMMCAdcAO8GyH+Dbk/7wAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH1 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVRYhe3WwQmAMBQD0EScwJl0N12lK7iCMziCK8SLB5EiFlv+JYFeCiUP/uGXkhCZLrTdAAMMMOAjIAEYSeJ5AMwA5sx9VUDTVAVISpKOEMCteC9519cCkBwuyNYCsL6s7aWk8JmvI5iYyd/yEkCzGBAOoD+lBhhggAHRgBOKqB2yzhThkgAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH2 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAr0lEQVRYhe2W3Q3CMBCDbdQJGIEZGKFdobMwQliFFViBncwDDRIQwbU6lBdbylPk3Kf7SUJJ6Kld1+gGMIABDBAEuAAYSeJ9ASgASmtv2U8B+KvSACSNelWJ+IYsADzK9My7pFvElJYBkqctvmgGrl+e7fOWwFXRDExsqBW89gLJY+TgzB6ApDqysRlE7hQUACC5X+PLvAcOJOe1ptQx1Gen/iwF/Sk1gAEMYIDeAHcorziCzNbsWAAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH3 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAs0lEQVRYhe3WQQ3CQBCF4f8RFFQCFrBQLGAFJBQLSKgFkFANlVAkPC5LIM0e9rB0L/OSPWxmkvkyp5FtWmbXdHoAAhCAABQCRqCXxPoBAzDkaqleBfDXVAPYHvzNsjlA0lUpwN32uClgjSntLQU8nAlwyTXbnoB7TcBJmQC31eAlwWZJz5qAokjqEuyzhW0BP5AzMDcD2O6BQ0nvvuLQCTim70tSV3JvKo7SAAQgAAFoDXgD5dBRYe0Y7+UAAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH4 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqklEQVRYhe3WwQkCMRCF4f+JFViCLdjCWpMtpAZLiCW4JViLLTwvHiQEGTFLLvMgl91h58sshMg2M7Ob2j0BCUhAAoKACiySaBdQgNJ791HzN2DTbAKwXWzXaQDgGC0cDnjv/DoacHcnwKVpvgBIWqOAfbDu3Puo7dI8qpIO0eYw8BfYfvzaHOITiOTk5npl+wl8RQ2bgJoAt8hEph9EyktpAhKQgATMBrwAiTM/LjNsow4AAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH5 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqUlEQVRYhe3Wyw3CMBCE4X8QFVACNVCCKYGeTCtQApRADZRAC8MFgUERMSKOLztSTt7En1Z+RLbpmUXX2QMQgAAEoBJwAJIkPh8gA3lo7DE+CaBpJgX4PZfZAcBRr2x6AH7OsrLu9OXa3v8DqO3AVgMpJ7edgF2xBlLNh2s7MBpJZ+C592zfgNXYey3XwLWmqCVgPSvAdi4PAUmj7QdQ/JQGIAABCEBvwB0dtUJAJ8k5UQAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextCodeBlock {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA5UlEQVRYhe2W7xGDIAzFf/Q6QWdxBGdwlo7ADB2BGTqCM3QEV0g/SK8cCMZ/xxdy5ymBhOd7xGhEhJp2q7p7A9AANADAXbHm6IfCHAWwmqRgq+CrS3AmgLEmAAs89wSak5rRCHR7ArcyYEkPVg+8/fMEuE0ZRURzWZltXJiLfc6vdZrcmjL8Ha5cKX6i8eDvzjPyKCXXSNAxUyyk9DrgFflCmYqbA2oJYnrDcTg/ZWQ6JIHwp38I/D0p/fEbh7GLpinDXBIXAdoSewoAja3GVu8F2m542b+7BsBe+lVWXYIGoAFoAL6QN/COomNOjAAAAABJRU5ErkJggg==') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextBullets {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAV0lEQVRYhe3UMQrAMAxDUan0/ldWl851CAR1+FoT7EcEcRI1c1W3AwAAAMAfAPfCndi2JGXv3/bn4TTz3b2daX69gvEFRAWHQwVUsAI4mnoFAAAAAFAHPKdfNSOVVZ5FAAAAAElFTkSuQmCC') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextOutdent {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAArUlEQVRYhe2V0QnDMAxE70oXyAoZv12lK2SFdoTXr0AbSiTjgFPQgf5s+VlnyQY0UpehpxdAARTAGQCuiTW9k8pdALZ3E0SKJu1fWPClzY0y9uxWMFUBYAaewGRbHxEqyh0CALOkh6S77VcGuEVOfMeLpPnXXh1ggYAo1vLfEoc1588ArBALMB0NEFqwfUdHd0FzG26Awld++kGU6YKxf0GUoFfDLSiAAiiAAngDvWqlWePAoVIAAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextIndent {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAtklEQVRYhe2Vyw0CMQxEZ9A2QAtQNT0tJUAJUMLsBQ4EiCdkpSySR8oplv3iXygJI7UbGj0BEiABtgAwGTa9m4pdACSrDiJFm/YvSvCi4kVOeaoZtDMgaS/pAuAAACRBQ5FfG4DkHcAZwPyEWEM0vuNPBlcAxy93bzHq3qXqKWxPkm6S7AyE/l2ARw80BXcAwhKUfbT2FDSPYQEUdvnmF9GvU9AUo3bplKDrL4g0vAQJkAAJkAALmoudbX+ZIGEAAAAASUVORK5CYII=') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextLink {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAArklEQVRYhe2V0Q3DIAxEz50tK7BCZmFaVnj9oRWKnEKb0LSST7Iik4BfDpAN0JW6XVo9AAIgAALgLwDMTJKypCIJJ4qkbGbyoiugFxkowLIzf6nv8yfrjwAUYO38xAqUWQBuu2ycoebPZ+vIWQ6kneKp5ql14JHX7w4D5C2EV3x7BprxYwDv2O1sE6cAOAsPH8xZAMNXcwrAdlscDd8Ce1XkG/r9XhAAARAAATBbd/iDrPUM4So/AAAAAElFTkSuQmCC') !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABGElEQVRYhe2W0U3EMBBEZxENhBKuhaMEWkgLaSG1hBKSEqAEKOEoISnh8RH7dBcMsX0g8+GVrET2avbtOLZigErGXdHqFaACVID/AHAfk2RmX+aAN7f2GFiLBshyADhIaiQdgCZH4yYASb2kDzf6EgBPkp4lTZLaWwAE7I5NfgvM7r1hjWOqph85DnRaO5eZLZJe3VxepDgQ6hjovCMpmmftRIAeOAWamIEuByB1C1qtlm/jXRfb4O6NUdIxkHsVFnNpmJk/+ydJyzdpjaQHM1uAUdJkZtOufuwWAIO//XZ0RqCN1U8BmIF+U3TwxULFfw2Ai7Mf6Hx06/6Z5HAswAsw/GD/uXgqQNRH+JdR/H+gAlSAClAc4BOdNjiPIFxBCAAAAABJRU5ErkJggg==') !important;
}