/* RECENT PLAYERS --------------------------------------------------------------------------------------------------- */

._3HOjFOu8W2UHP4m6q7OorG {
  background: transparent !important;
  margin-top: 0 !important;
}

.DialogBodyText._2YQGbvgjzxYmACl2lUK0mG {
  margin-top: 16px !important;
  padding: 0 16px !important;
  display: none !important;
}

._1JPjnwLgO6lAXUVDPO7PYE {
  padding: 0 !important;
  display: flex !important;
  gap: var(--zehn-size-gap-medium) !important;
  flex-direction: column !important;
}

._1JPjnwLgO6lAXUVDPO7PYE .DialogHeader {
  position: absolute !important;
  line-height: 32px !important;
  padding: 0 12px !important;
  font-size: var(--zehn-size-12) !important;
  top: 0 !important;
  left: 0 !important;
}

.crOvhkd-SFl2zLdfoyfon {
  font-size: var(--zehn-size-14) !important;
  margin: 0 -16px !important;
}

._1pbQVchAJ7LcA5eIIGV-EN {
  margin: 0 !important;
  border: unset !important;
}

._3HOjFOu8W2UHP4m6q7OorG .vATYv4EBNodEsN_HqvfJT {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-size-weight-normal) !important;
  line-height: 32px !important;
  border-bottom: 1px solid var(--zehn-color-seperator) !important;
  padding: 0 !important;
}

._3HOjFOu8W2UHP4m6q7OorG ._3s0LVYddVEc1fa7aGrAd9C {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-size-weight-normal) !important;
  line-height: 32px !important;
  border-bottom: unset !important;
  padding: 0 !important;
}

/* HEADER */
._20evaxvMeG8jMJ31t-5-L5 {
  background: transparent !important;
  padding: 0 !important;
  line-height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as {
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-size-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  padding: 0 !important;
  line-height: 32px !important;
  height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as * {
  line-height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:hover {
  color: var(--zehn-color-text-secondary) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:hover svg {
  filter: opacity(0.57) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:active {
  color: var(--zehn-color-text-tertiary) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:active svg {
  filter: opacity(0.36) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2VJwnBYoIWLWhunHyjXDUD._1USi1mEv6zVuMeiEKJBQew {
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-size-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._3ZJ6gL7WvTh8sUOWVhLqe1 {
  background: transparent !important;
  border: unset !important;
  width: 1px !important;
  position: absolute !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg {
  margin: 0 !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg.ohzxWXowFiTaMNCOdtRNh {
  position: absolute !important;
  width: 32px !important;
  height: 32px !important;
  margin-left: 0 !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-small) !important;
  -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg.ohzxWXowFiTaMNCOdtRNh:has(path[d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  transform: rotate(180deg) !important;
}

/* BODY */
._3kjELHPFlI9SV9QYNi_TaH {
  background: transparent !important;
  padding: 0 !important;
  line-height: 32px !important;
}

._3kjELHPFlI9SV9QYNi_TaH *[role="cell"] {
  padding: 0 !important;
  line-height: 32px !important;
}

._3kjELHPFlI9SV9QYNi_TaH [role="row"] {
  padding: 8px 16px !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._3kjELHPFlI9SV9QYNi_TaH [role="row"]:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._3kjELHPFlI9SV9QYNi_TaH [role="row"]:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._1JPjnwLgO6lAXUVDPO7PYE .DialogFooter {
  display: none !important;
}

._1Z8gkDy_OHZvAsWnkIu7MN {
  color: var(--zehn-color-text-primary) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._27hqvRDPD6kBUk45RHvDtR:first-of-type ._2I8M7g9rIxbeCZoFpl6_as {
  margin-left: 48px !important;
}

._27hqvRDPD6kBUk45RHvDtR ._1N2zM_9rkWAnULKER9yxLN {
  color: var(--zehn-color-text-primary)
}

/* FOOTER */
.u-Qbw_um9KIbq019Iid1E .DialogFooter {
  display: none !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */