/* BUTTON SECONDARY */
[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"] {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
  border-radius: 0px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"]:disabled, [class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"]:disabled:hover,
[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Secondary_"]:disabled:active {
  background: rgba(var(--color-white), 0.05) !important;
  color: rgb(var(--color-text-sub)) !important;
}

/* BUTTON PRIMARY */
[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"] {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
  border-radius: 0px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"]:disabled, [class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"]:disabled:hover, [class*="screenshotmanagerdialog_ButtonBox_"][class*="screenshotmanagerdialog_Primary_"]:disabled:active {
  background: rgba(var(--color-white), 0.05) !important;
  color: rgb(var(--color-text-sub)) !important;
}

/* TEXT */
[class*="screenshotmanagerdialog_SpoilerField_"] [class*="screenshotmanagerdialog_Label_"], [class*="screenshotmanagerdialog_VisibilityField_"] [class*="screenshotmanagerdialog_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="screenshotmanagerdialog_SectionHeading_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="screenshotmanagerdialog_CloudStorageImpact_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="screenshotmanagerdialog_Metadata_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

/* DROPDOWN */
[class*="screenshotmanagerdialog_ComboboxSelectorContextMenu_"] {
  background: transparent !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic-40) !important;
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] {
  padding: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] [class*="screenshotmanagerdialog_Option_"] {
  background: transparent !important;
  margin: 1px !important;
  padding: 8px 16px !important;
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] [class*="screenshotmanagerdialog_Option_"]:hover {
  background: rgba(var(--color-white), 0.1) !important
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] [class*="screenshotmanagerdialog_Option_"]:active {
  background: rgba(var(--color-white), 0.2) !important
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] [class*="screenshotmanagerdialog_Option_"]:first-child {
  margin-top: 5px !important;
}

[class*="screenshotmanagerdialog_ComboboxSelector_"] [class*="screenshotmanagerdialog_Option_"]:last-child {
  margin-bottom: 5px !important;
}

/* INPUT */
/* [class*="screenshotmanagerdialog_CaptionField_"], [class*="screenshotmanagerdialog_CaptionField_"]:hover, [class*="screenshotmanagerdialog_CaptionField_"]:active {
  background: rgb(var(--color-entry)) !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
} */

[class*="screenshotmanagerdialog_CaptionField_"]::placeholder {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="screenshotmanagerdialog_CaptionField_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_CaptionField_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="screenshotmanagerdialog_CaptionField_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

/* LINE */
[class*="screenshotmanagerdialog_SectionHeading_"] [class*="screenshotmanagerdialog_Line_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

/* BUTTON ICONS */
[class*="screenshotmanagerdialog_IconButton_"] [class*="screenshotmanagerdialog_IconButtonIcon_"][class*="screenshotmanagerdialog_Active_"] {
  color: rgb(var(--color-white)) !important;
}