::-webkit-scrollbar {
  background-color: transparent !important;
  border-radius: 0 !important;
  /* width: 16px !important; */
  /* width: 6px !important; */
  width: 0px !important;
  -webkit-box-shadow: none !important;
}

/* .ReactVirtualized__List:hover::-webkit-scrollbar-thumb,
[class*="gamelist_Container_"]:hover::-webkit-scrollbar-thumb {
  background: rgb(var(--color-scrollbar)) !important;
  background-clip: padding-box!important;
  -webkit-box-shadow: none !important;
  border: 0px solid transparent !important;
}

.ReactVirtualized__List:hover::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--color-scrollbar-hover)) !important;
  background-clip: padding-box!important;
  -webkit-box-shadow: none !important;
  border: 0px solid transparent !important;
}

.ReactVirtualized__List:active::-webkit-scrollbar-thumb:active {
  background: rgb(var(--color-scrollbar-active)) !important;
}

.ReactVirtualized__List::-webkit-scrollbar-thumb {
  background: transparent !important;
  border: 0px solid transparent !important;
  -webkit-box-shadow: none !important;
  border-radius: 1px !important;
} */

::-webkit-scrollbar-thumb {
  background: transparent !important;
  background-clip: padding-box !important;
  -webkit-box-shadow: none !important;
  border-right: 2px solid transparent !important;
  border-left: 12px solid transparent !important;
  border-radius: 0px !important;
  transition: border 2s ease !important;
}

div:hover > ::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-scrollbar-mini)) !important;
  /* border: 0px solid transparent !important; */
}

div:hover > ::-webkit-scrollbar-thumb:active {
  background-color: rgb(var(--color-scrollbar-active)) !important;
  /* border: 0px solid transparent !important; */
}

/* .ReactVirtualized__List::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 0 !important;
}

.ReactVirtualized__Grid::-webkit-scrollbar {
  background-color: transparent!important;
  -webkit-box-shadow: none !important;
}

[class*="library_LeftListSizableContainer_"]::-webkit-scrollbar:horizontal {
  background-color: transparent!important;
  -webkit-box-shadow: none !important;
} */

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 0 !important;
}

::-webkit-scrollbar-corner {
  border: 0 solid rgb(var(--color-background)) !important;
  background-color: rgb(var(--color-background)) !important;
}