/* BASE */
.client_chat_frame body, .web_chat_frame body {
  background: transparent !important;
  /* background-color: rgb(var(--color-background-settings)) !important; */
}

/* BACKGROUND DARKENING */
.ModalOverlayBackground {
  background: rgba(var(--color-black), 0.8) !important;
}

/* BORDER */
.PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss) {
  border: 1px solid rgb(var(--color-accent)) !important;
  min-height: 0px !important;
}

.FullModalOverlay .ModalPosition_Content {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ModalDialogPopup .ModalDialogBody .title-area {
  margin-right: 1px !important;
  margin-left: 193px !important;
  margin-top: 1px !important;
}

[class*="settings_SettingsModalRoot_"] .ModalPosition_Content {
  /* min-height: 722px !important;
  height: 722px !important; */
}

[class*="settings_SettingsModalRoot_"] [class*="settings_SettingsModal_"] {
  width: auto !important;
  /* height: auto !important; */
  height: 722px !important;
}

/* TOPBAR */
.ModalPosition_TopBar {
  min-height: 0px !important;
  display: none !important;
  background: transparent !important;
}

.DialogContent, .DialogContentTransition {
  background: rgb(var(--color-background-settings)) !important;
}

/* TITLE */
[class*="pagedsettings_PagedSettingsDialog_Title_"] {
  color: rgb(var(--color-text)) !important;
  display: none !important;
}

[class*="settings_SettingsDialogSubHeader_"].DesktopUI, .DesktopUI [class*="settings_SettingsDialogSubHeader_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="remoteplaysettings_TableHeader_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Title_"] {
  font-weight: lighter !important;
  line-height: 20px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  font-weight: lighter !important;
}

/* LIST COLUMN */
[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] {
  background-color: transparent !important;
  padding-top: 40px !important;
  min-width: 200px !important;
  max-width: 200px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::before, [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::after {
  background-image: var(--image-acrylic) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"] {
  background: transparent !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:hover {
  color: rgb(var(--color-white)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:active {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"].DesktopUI, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:not([class*="pagedsettings_Active_"]):hover [class*="pagedsettings_PageListItem_Icon_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:not([class*="pagedsettings_Active_"]):hover [class*="pagedsettings_PageListItem_Icon_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]::before {
  position: relative !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  content: "" !important;
  left: -22px !important;
  background: rgb(var(--color-accent)) !important;
}

/* SEPARATORS */
[class*="pagedsettings_PageListSeparator_"] {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_WithBottomSeparatorStandard_"]::after {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

[class*="notificationssettings_NotificationGroup_"] {
  border-bottom: 0px solid transparent;
}

/* SETTINGS BODY */
[class*="pagedsettings_PagedSettingsDialog_PageContent_"].DesktopUI .DialogBody, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogBody {
  padding-top: 12px !important;
}

/* STEAM GUARD */
[class*="desktopsecuritysettings_SteamGuardIcon_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="desktopsecuritysettings_SteamGuardIcon_"][class*="desktopsecuritysettings_EnabledTwoFactor_"] {
  color: rgb(var(--color-white)) !important;
}

/* DESCRIPTION */
[class*="gamepaddialog_FieldDescription_"].DesktopUI, .DesktopUI [class*="gamepaddialog_FieldDescription_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
}

[class*="gamepaddialog_FieldLabel_"] {
  color: rgb(var(--color-text)) !important;
}


/* NICKNAME */
[class*="personanameandstatus_playerNicknameBracket_"] {
  color: rgb(var(--color-text)) !important;
  opacity: 1 !important;
}

[class*="friendssettings_FakeFriend_"] {
  font-weight: normal !important;
}

/* NOTIFICATION SETTINGS */
[class*="notificationssettings_NotificationDescription_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="notificationssettings_NotificationGroupExpanded_"] {
  background-color: transparent !important;
}

[class*="notificationssettings_NotificationPrefDetails_"] {
  background-color: transparent !important;
}

/* SLIDER */
[class*="gamepadslider_SliderTrack_"] {
  --left-track-color: rgb(var(--color-accent)) !important;
  background: rgba(var(--color-white), 0.4) !important;
  border-radius: 0px !important;
  height: 2px !important;
}

[class*="gamepadslider_SliderTrack_"]:hover {
  background: rgba(var(--color-white), 0.6) !important;
}

[class*="gamepadslider_SliderTrack_"]::before {
  border-radius: 0px !important;
}

[class*="gamepadslider_SliderHandle_"] {
  width: 8px !important;
  height: 24px !important;
  border-radius: 1337px !important;
  background: rgb(var(--color-accent)) !important;
}

[class*="gamepadslider_SliderHandle_"]:hover {
  background: rgb(rgb(var(--color-contextmenu-border))) !important;
}

[class*="gamepadslider_SliderHandle_"]:active {
  background: var(--color-white) !important;
}

[class*="gamepadslider_SliderHandleContainer_"] {
  transform: translateX(calc(-100% * var(--inverse-normalized-value) + 8px * var(--inverse-normalized-value))) !important;
}

/* FADE */
[class*="settings_SettingsDialogBodyFade_"].DesktopUI, .DesktopUI [class*="settings_SettingsDialogBodyFade_"] {
  -webkit-mask-image: none !important;
}

/* RESTART POPUP */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogBodyText {
  /* margin-bottom: 0px !important; */
  line-height: 16px !important;
  font-weight: lighter !important;
}

.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogFooter {
  padding-top: 0px !important;
}

.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogContent_InnerWidth {
  min-height: 150px !important;
}

/* CONTEXT MENU */
.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::before, .client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::after {
  background-image: var(--image-acrylic) !important;
}

/* PIN INPUT */
[class*="pininput_SegmentedInput_"] {
  /* padding: 8px 0px !important; */
}

[class*="segmentedinputs_SegmentedCharacterInput_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
  border: 1px solid transparent !important;
}

[class*="segmentedinputs_SegmentedCharacterInput_"]input {
  border-bottom: 2px solid rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
}

.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogContent_InnerWidth {
  min-height: 180px !important;
}

/* STORAGE */
[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppUsageText_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppUsageValue_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] [class*="contentmanagement_AppHeaderValue_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] [class*="contentmanagement_Rule_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:hover, [class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:hover {
  /* outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important; */
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] svg.DesktopUI, .DesktopUI [class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBody_"]:hover, [class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBody_"]:active {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="contentmanagement_DriveSettingsButton_"] {
  margin-top: 23px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="contentmanagement_DriveSettingsButton_"]:hover, [class*="contentmanagement_DriveSettingsButton_"]:focus {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_DriveSettingsButton_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_FolderInfo_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: lighter !important;
}

[class*="contentmanagement_InstallFolder_"] {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  background-color: transparent !important;
}

[class*="contentmanagement_InstallFolder_"]:last-child {
  margin-right: 0px !important;
}

[class*="contentmanagement_InstallFolder_"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_InstallFolder_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_IsSelected_"] {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  background: rgba(var(--color-accent), .4) !important;
}

[class*="contentmanagement_IsSelected_"]:hover {
  background: rgba(var(--color-accent), .4) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_IsSelected_"]:active {
  background: transparent !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_DriveName_"], [class*="contentmanagement_DriveSize_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="contentmanagement_IsSelected_"] [class*="contentmanagement_DriveName_"], [class*="contentmanagement_IsSelected_"] [class*="contentmanagement_DriveSize_"], [class*="contentmanagement_IsSelected_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_InstallFolder_"]:hover [class*="contentmanagement_DriveName_"], [class*="contentmanagement_InstallFolder_"]:hover [class*="contentmanagement_DriveSize_"], [class*="contentmanagement_InstallFolder_"]:hover svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_DriveSize_"] {
  font-weight: lighter !important;
}

[class*="contentmanagement_LibraryContent_"] [class*="contentmanagement_DriveUsage_"] [class*="contentmanagement_DriveName_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_DriveUsageNumber_"] {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_DriveUsageText_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="contentmanagement_DriveUsageGames_"] {
  background-color: rgb(var(--color-accent)) !important;
}

[class*="contentmanagement_DriveUsageDLC_"] {
  background-color: rgb(var(--color-accent)) !important;
  opacity: 0.85 !important;
}

[class*="contentmanagement_DriveUsageWorkshop_"] {
  background-color: rgb(var(--color-accent)) !important;
  opacity: 0.7 !important;
}

[class*="contentmanagement_DriveUsageUpdates_"] {
  background-color: rgb(var(--color-accent)) !important;
  opacity: 0.55 !important;
}

[class*="contentmanagement_DriveUsageOther_"] {
  background-color: rgb(var(--color-accent)) !important;
  opacity: 0.4 !important;
}

[class*="contentmanagement_DriveUsageFreeSpace_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="contentmanagement_DriveUsageIndicator_"] {
  min-height: 15px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

[class*="contentmanagement_FolderInfo_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_FolderInfo_"] svg path {
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
  stroke-width: 3px !important;
}

[class*="contentmanagement_AddFolder_"] {
  padding: 15px !important;
}

[class*="contentmanagement_AddFolder_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_AddFolder_"]:hover svg  {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"] {
  color: rgb(var(--color-accent)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"]:hover {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"]:active {
  color: rgb(var(--color-text-disabled)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*=".contentmanagement_AppList_"] {
  padding-bottom: 0px !important;
}

[class*="pageablecontainer_HeaderPageControls_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pageablecontainer_PageClickContainer_"] {
  margin-bottom: 12px !important;
}

/* TOOLBAR */
[class*="settings_OverlayTabSetting_"] {
  background-color: transparent !important;
}

/* VOICE */
[class*="voicesettings_MicrophoneTest_"] [class*="voicesettings_VolumeBar_"] {
  background: transparent !important;
}

[class*="progressbar_ProgressBar_"] {
  border-radius: 0px !important;
}

[class*="progressbar_ProgressBar_"] [class*="progressbar_Percent_"] {
  background: rgb(var(--color-accent)) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.keycapture_Capturing_1HPWw.keycapture_Capturing_1HPWw.keycapture_Capturing_1HPWw {
  outline: 2px solid rgb(var(--color-accent)) !important;
  outline-offset: -2px !important;
}

/* ACCOUNT */
[class*="accountsettings_EntryValue_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="accountsettings_AvatarAndLabel_"] [class*="accountsettings_LabelHolder_"] {
  font-weight: normal !important;
}

/* SECURITY */
[class*="desktopsecuritysettings_EntryValue_"] {
  color: rgb(var(--color-text-sub)) !important;
}

/* VOICE STILL ACTIVE */
.DialogBody .activeVoiceControls {
  background: transparent !important;
  border: 0px solid transparent !important;
  border-image: url() !important;
}

.DialogBody .activeVoiceFlexBox::before, .DialogBody .activeVoiceFlexBox::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.DialogBody .activeVoiceFlexBox::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

.DialogBody .activeVoiceFlexBox::after {
  background-image: var(--image-acrylic) !important;
}

.activeVoiceControls .connectionStatusLabels, .chatRoomVoiceChannel .connectionStatusLabels {
  font-size: var(--font-size-sub) !important;
  color: rgb(var(--color-text)) !important;
}

.DialogBody .activeVoiceLabels {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-flex !important;
  font-size: 13px !important;
}

.DialogBody .activeVoiceButtons {
  min-width: 96px !important;
}

.CloseActiveVoiceWindowConfirmation .activeVoiceControls {
  margin-right: 0px !important;
  margin-top: 8px !important;
}

.circleHighlight {
  border: 1px solid rgb(var(--color-accent)) !important;
  right: 0px !important;
  top: 8px !important;
  width: 32px !important;
  height: 32px !important;
  /* display: none !important; */
}

/* GAME PROPERTIES */
[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  padding: 10px 16px 10px 24px !important;
  font-size: var(--font-size-label) !important;
}

/* GAME PROPERTIES GENERAL */
[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SectionTopLine_"] {
  border-top: 0px solid transparent !important;
  padding-top: 0px !important;
}

[class*="appproperties_AppProperties_"] .DialogBody {
  font-size: var(--font-size-text) !important;
}

/* GAME PROPERTIES UPDATES */
[class*="dropdownlabel_DropDownLabelTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
}

[class*="dropdownlabel_DropDownLabelDescription_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-size: var(--font-size-sub) !important;
}

/* GAME PROPERTIES INSTALLED FILES */
[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_BlueHighlight_"] {
  color: rgb(var(--color-accent)) !important;
  font-weight: normal !important;
}

/* GAME PROPERTIES CONTROLLER */
[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputStatusGrid_"] [class*="appproperties_Controller_"] [class*="appproperties_ControllerPip_"][class*="appproperties_ControllerConnected_"] {
  filter: none !important;
  background-color: rgb(var(--color-accent)) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputLink_"] {
  color: rgb(var(--color-accent)) !important;
  font-weight: normal !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputLink_"]:hover {
  color: rgb(var(--color-text-sub)) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputLink_"]:active {
  color: rgb(var(--color-text-disabled)) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputStatus_"] {
  margin-left: 0px !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_SteamInputStatusGrid_"] {
  margin-left: 0px !important;
  padding: 5px 0px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

/* GAME PROPERTIES DLC */
[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_DlcGrid_"] [class*="appproperties_DlcHeader_"] {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_DlcGrid_"] [class*="appproperties_DlcHeader_"]:hover {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_DlcGrid_"] [class*="appproperties_DlcHeader_"] [class*="appproperties_TriangleDown_"] {
  border-top-color: rgb(var(--color-white)) !important;
}

[class*="appproperties_AppProperties_"] .DialogBody [class*="appproperties_DlcGrid_"] [class*="appproperties_Name_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

/* GROUP CHAT NOTIFICATIONS */
.DialogHBar {
  background: transparent !important;
  min-height: 0px !important;
  max-height: 0px !important;
}

.ChatRoomNotificationSettingsDialog .NotificationChannelName {
  border-radius: 0px !important;
  background-color: transparent !important;
  font-size: var(--font-size-section) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
}

/* GROUP CHAT INVITE */
.OrSeparator .HBar {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.OrSeparator .OrSeparatorLabel {
  background-color: transparent !important;
  font-size: var(--font-size-text) !important;
  color: rgb(var(--color-accent)) !important;
  font-weight: normal !important;
}

.inviteLinkContainer .DialogInput_Wrapper._DialogLayout {
  border-radius: 0px !important;
  background-color: transparent !important;
}

.DialogHeader .ChatRoomGroupAvatar.Small {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

/* GROUP CHAT SETTINGS */
[class*="pagedcontent_Content_"] {
  background: rgb(var(--color-background-settings)) !important;
}

[class*="pagedcontent_Nav_"] {
  background-color: transparent !important;
  padding: 0px !important;
}

[class*="pagedcontent_Nav_"]::before, [class*="pagedcontent_Nav_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="pagedcontent_Nav_"]::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

[class*="pagedcontent_Nav_"]::after {
  background-image: var(--image-acrylic) !important;
}

[class*="dialogs_DialogTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-title) !important;
  text-transform: capitalize !important;
}

[class*="chatroomgroupsettings_General_"] [class*="chatroomgroupsettings_Avatar_"] {
  background-color: rgba(var(--color-accent), 0.4) !important;
}

[class*="chatroomgroupsettings_General_"] [class*="chatroomgroupsettings_NoIconLabel_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="pagedcontent_Container_"] {
  width: auto !important;
}

[class*="pagedcontent_Container_"] .ContextMenuButton {
  opacity: 0 !important;
  display: none !important;
}

[class*="pagedcontent_Nav_"] {
  min-width: 160px !important;
}

[class*="pagedcontent_Nav_"] [class*="pagedcontent_NavTitle_"] {
  color: rgb(var(--color-accent)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-subtitle) !important;
  display: none !important;
}

[class*="pagedcontent_Nav_"] [class*="pagedcontent_NavItems_"] {
  margin-top: 38px !important;
}

[class*="pagedcontent_Nav_"] [class*="pagedcontent_NavItems_"] [class*="pagedcontent_NavItem_"] {
  font-size: var(--font-size-label) !important;
  font-weight: lighter !important;
  color: rgb(var(--color-text)) !important;
  margin-bottom: 0px !important;
  /* height: 40px !important; */
  padding: 10px 16px 11px 24px !important;
  min-width: 160px !important;
  text-transform: capitalize !important;
}

[class*="pagedcontent_Nav_"] [class*="pagedcontent_NavItems_"] [class*="pagedcontent_NavItem_"]:hover {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="pagedcontent_Nav_"] [class*="pagedcontent_NavItems_"] [class*="pagedcontent_NavItem_"]:active {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="pagedcontent_NavItem_"][class*="pagedcontent_Active_"]::before {
  position: relative !important;
  /* display: block !important; */
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  content: "" !important;
  left: -22px !important;
  background: rgb(var(--color-accent)) !important;
}

[class*="chatroomgroupsettings_LeaveButton_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
  padding: 10px 16px 11px 24px !important;
  margin-bottom: 38px !important;
}

[class*="chatroomgroupsettings_LeaveButton_"]:hover [class*="chatroomgroupsettings_LeaveButton_"]:active {
 color: rgb(var(--color-text)) !important;
}

[class*="chatroomgroupsettings_LeaveButton"] {
  height: 32px !important;
  /* width: 32px !important; */
}

[class*="chatroomgroupsettings_LeaveButton"] svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAf0lEQVRYhe3WSwqAMAwE0Il4YU/SI48LEbrLh0hczEB3rX2QNtZIYjLH6O4CCCAAgLOwJts4rBvgfnSLix0vgQAZwPpEQDIyFp9E57/DXZPZPJMwYPwMjJcg2oiu3Yx4I3JjzD/JMgB37vgZEKD6N2x7y1cAbTcA+EEJBBBAgBuruT7IGb9lpwAAAABJRU5ErkJggg==') !important;
}

[class*="chatroomgroupsettings_LeaveButton"] svg * {
  stroke: transparent !important;
  fill: transparent !important;
  opacity: 0 !important;
  display: none !important;
}

/* GROUP CHAT CHANNELS */
.ChatGroupSettingsChannels_Row ._DialogRow {
  background: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton {
  color: rgb(var(--color-accent)) !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton:hover {
  color: rgb(var(--color-text-sub)) !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton:active {
  color: rgb(var(--color-text-disabled)) !important;
}

._DialogRow ._DialogRowSecondaryLabel, ._DialogRow ._DialogRowLabel {
  font-size: var(--font-size-text) !important;
}

._DialogRowLabel .HomeChannel {
  font-style: normal !important;
  font-weight: normal !important;
}

/* GROUP CHAT PERMISSIONS */
button.DialogButton.roleButton .SVGIcon_Crown {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

.meKey .SVGIcon_Crown, .meKey .SVGIcon_DialogCheck, button.DialogButton.roleButton .SVGIcon_DialogCheck {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

/* GAME INFO DIALOG */
.DialogButton._DialogLayout.Primary.Disabled.Focusable span [class*="gamepadui_svg_library_Spinner_"] {
  display: none !important;
}

[class*="gamepadui_svg_library_Spinner_"] > path {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_Clickable_"]:not([class*="gamepaddialog_Disabled_"]) button.DialogButton.Primary {
  margin-left: 16px !important;
}

/* MOVE GAME DIALOG */
[class*="moveappsdialog_MoveAppsIndicator_"] {
  min-height: 15px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

[class*="moveappsdialog_DialogBodyText_"] {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="moveappsdialog_MoveAppsBar_"] {
  background-color: rgb(var(--color-accent)) !important;
}

/* INSTALL GAME DIALOG */
[class*="installrequest_FolderOption_"][class*="installrequest_Active_"] {
  color: rgb(var(--color-text)) !important;
  background: rgb(var(--color-accent)) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]) {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]):hover {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="installrequest_FolderOption_"]:not([class*="installrequest_Active_"]):active {
  background: rgba(var(--color-white), 0.3) !important;
}

[class*="installrequest_FolderOption_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
  column-gap: 12px !important;
  padding: 12px 16px !important;
  border-radius: 0px !important;
  margin: 4px 0 !important;
  line-height: 22px !important;
}

[class*="installrequest_DiskSpace_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="installrequest_FolderOption_"] [class*="installrequest_FolderFlagStar_"] svg path {
  fill: transparent !important;
  stroke: rgb(var(--color-text)) !important;
  stroke-width: 5px !important;
}

[class*="installrequest_AppName_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-section) !important;
}

[class*="installrequest_AppsToInstall_"] {
  border-top: 0px solid transparent !important;
}

[class*="installrequest_AppsToInstall_"] [class*="installrequest_AppToInstall_"] {
  border-bottom: 0px solid transparent !important;
}

/* CD KEYS DIALOG */
[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyName_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}

[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyValue_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: normal !important;
  font-size: var(--font-size-text) !important;
}