/* BACKGROUND */
.appdetailssoundtrack_SoundtrackContainer_1c7FW {
  padding: 16px !important;
}

.appdetailssoundtrack_SoundtrackPanel_23zCI {
  background: transparent !important;
}

.appdetailssoundtrack_BackgroundContainer_26bNl .appdetailssoundtrack_BackgroundBlurArt_3JZ9b {
  filter: none !important;
  -webkit-mask-image: none !important;
  opacity: 0 !important;
  background-image: url() !important;
}

/* HEADER */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l {
  border-bottom: 0px solid transparent !important;
  padding-bottom: 0px !important;
  margin-bottom: 16px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_AlbumName_oW5xv {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-header) !important;
  letter-spacing: normal !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_ArtistName_2bTdS {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-subheader) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_StatsAndParent_3pUBu .appdetailssoundtrack_AlbumStats_1qxAZ {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_StatsAndParent_3pUBu .appdetailssoundtrack_ParentGameLink_2pcGG {
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_StatsAndParent_3pUBu .appdetailssoundtrack_ParentGameLink_2pcGG .appdetailssoundtrack_ParentAppName_3C_pT {
  margin-left: 8px !important;
  color: rgb(var(--color-text)) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Header_4f23l .appdetailssoundtrack_StatsAndParent_3pUBu .appdetailssoundtrack_ParentGameLink_2pcGG .appdetailssoundtrack_ParentAppName_3C_pT .appdetailssoundtrack_ParentGameIcon_Pc5ZA {
  border-radius: 0px !important;
  margin: 0px !important;
  display: none !important;
}

/* LEFT PANEL ART */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_LeftColumn_23WS1 {
  margin-right: 16px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_LeftColumn_23WS1 .appdetailssoundtrack_AlbumArt_1R0eE {
  border: 0px solid transparent !important;
  margin-bottom: 16px !important;
  border-image-width: 0px !important;
  border-image-source: url() !important;
}

/* LEFT PANEL BUTTONS */
.appdetailssoundtrack_Content_22Q27.Panel .Panel {
  /* display: grid !important;
  gap: 16px !important; */
}

.appdetailssoundtrack_SoundtrackButtonDivider_2n7O9 {
  /* height: 16px !important; */
  height: 0px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_LeftColumn_23WS1 .appdetailssoundtrack_PlayButton_2TWHM {
  margin-bottom: 16px !important;
}

/* RIGHT TRACKS PANEL */
.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep {
  border: 0px solid transparent !important;
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  margin-bottom: 16px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq {
  padding: 16px !important;
  border-radius: 0px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_Disc_17Yl1 {
  background: transparent !important;
  padding-left: 0px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP .appdetailssoundtrack_TrackNumber_NZZPO {
  width: 32px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
  padding-right: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP .appdetailssoundtrack_TrackName_JpRLQ {
  padding: 0px 8px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP .appdetailssoundtrack_TrackLength_157uf {
  padding: 0px 8px !important;
  color: rgb(var(--color-text-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-text) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP {
  padding: 0px !important;
  color: rgb(var(--color-text)) !important;
  line-height: 32px !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP:hover {
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

.appdetailssoundtrack_SoundtrackContainer_1c7FW .appdetailssoundtrack_Content_22Q27 .appdetailssoundtrack_RightColumn_1s3Ep .appdetailssoundtrack_TrackListContainer_1Rrhq .appdetailssoundtrack_TrackListing_2c5PP:active {
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}