/* TOOLTIP */
[class*="tooltip_TextToolTip_"] {
  /* display: none !important; */
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
}

[class*="tooltip_TextToolTip_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

/* CUSTOM TOOLTIP */
[class*="hoverposition_HoverPositionOuter_"] {
  z-index: 9999 !important;
}

[class*="hoverposition_HoverPositionOuter_"] [class*="hoverposition_HoverPosition_"][class*="hoverposition_Ready_"] {
  background: transparent !important;
  /* background: rgb(var(--color-black)) !important; */
}

[class*="tooltip_ToolTipCustom_"] {
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-text) !important;
  font-weight: normal !important;
  box-shadow: 0 0 0 0 transparent !important;
  display: var(--option-display-tooltips) !important;
}

[class*="tooltip_ToolTipCustom_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

[class*="tooltip_ToolTipCustom_"] [class*="tooltip_ToolTipTitle_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="tooltip_ToolTipCustom_"] [class*="tooltip_ToolTipInsetContent_"] {
  color: rgb(var(--color-text-sub)) !important;
  margin: 6px 4px;
}

/* [class*="tooltip_ToolTipCustom_"]::before, [class*="tooltip_ToolTipCustom_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

[class*="tooltip_ToolTipCustom_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(40px) !important;
  background-blend-mode: exclusion !important;
}

[class*="tooltip_ToolTipCustom_"]::after {
  background-image: var(--image-acrylic) !important;
} */