/* CONSOLE */
._1fuML-ekRbTEzgzC597yGP * {
  font-family: "Consolas", "Lucidia Console", monospace !important;
}

._1fuML-ekRbTEzgzC597yGP, ._1fuML-ekRbTEzgzC597yGP pre {
  background-color: var(--zehn-color-window-client) !important;
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
}

._1fl59ZPppQJ-RufpnbFYpn {}

._3jy873nqjNYyriykDzLA_ {}

/* SUGGESTION */
._3S6c8sJBYgCcCWf9JGDkOu {
  gap: 8px !important;
  padding: 0 16px 0 0 !important;
  height: 24px !important;
  transform: translateY(-8px) !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04 {
  background: var(--zehn-color-tag) !important;
  height: 24px !important;
  border-radius: 0 !important;
  line-height: 24px !important;
  padding: 0 16px !important;
  backdrop-filter: blur(var(--zehn-blur-radius)) !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04:hover {
  background: var(--zehn-color-tag-hover) !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04:active {
  background: var(--zehn-color-tag-active) !important;
}

/* CONSOLE HISTORY */
._1fuML-ekRbTEzgzC597yGP .GTdO0X-5EOwChz3fc2iLU {
  padding: 16px !important;
}

._1fuML-ekRbTEzgzC597yGP .GTdO0X-5EOwChz3fc2iLU > div {
  height: 100% !important;
}

/* INPUT */
._2SdqX9SccD_TtDat-bNo5- {
  padding: 0 !important;
  gap: 16px !important;
}

._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput {
  outline: none !important;
  line-height: 32px !important;
  height: 48px !important;
    color: var(--zehn-color-text-primary) !important;
}

._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput, ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:hover, ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:active, ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:focus {
  background-color: var(--zehn-color-window-panel) !important;
}

.WindowFocus ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput, .WindowFocus ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:hover, .WindowFocus ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:active, .WindowFocus ._2SdqX9SccD_TtDat-bNo5- .DialogInput_Wrapper>input.DialogInput:focus {}