/* CONSOLE */
._1fuML-ekRbTEzgzC597yGP * {
  font-family: "Consolas", "Lucidia Console", monospace !important;
}

._1fuML-ekRbTEzgzC597yGP, ._1fuML-ekRbTEzgzC597yGP pre {
  background-color: rgb(var(--color-background)) !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._1fl59ZPppQJ-RufpnbFYpn {
}

._3jy873nqjNYyriykDzLA_ {
}

/* SUGGESTION */
._3S6c8sJBYgCcCWf9JGDkOu {
  gap: 8px !important;
  padding: 0px 16px 0px 0px !important;
  height: 24px !important;
  transform: translateY(8px) !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04 {
  background: rgba(var(--color-white), 0.1) !important;
  height: 24px !important;
  border-radius: 0px !important;
  line-height: 24px !important;
  padding: 0px 16px !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04:hover {
  background: rgba(var(--color-white), 0.2) !important;
}

._3S6c8sJBYgCcCWf9JGDkOu ._3C1UCvuAZ2oINYSTpUPD04:active {
  background: rgba(var(--color-white), 0.4) !important;
}

/* CONSOLE HISTORY */
._1fuML-ekRbTEzgzC597yGP .GTdO0X-5EOwChz3fc2iLU {
  padding: 16px !important;
}

._1fuML-ekRbTEzgzC597yGP .GTdO0X-5EOwChz3fc2iLU > div {
  height: 100% !important;
}

/* INPUT */
._2SdqX9SccD_TtDat-bNo5- {
  padding: 16px !important;
  gap: 16px !important;
}