/* EVENT OVERLAY */
._37MAYpIjl0IDA1xVhhsuX8 ._19eb8NMS53lqZR33su0kTr {
  backdrop-filter: blur(5px) opacity(100%) saturate(0) brightness(0.5) !important;
  margin-top: 32px !important;
}

/* EVENT OVERLAY CONTROLS */
._2pA5CW91XQQDfo6yZEdPd- {
  top: calc(48px + 16px) !important;
  margin-bottom: -208px !important;
}

._2pA5CW91XQQDfo6yZEdPd- ._3yfs7fc5WEv6F9tPG4yq4g {
  width: 960px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

._2pA5CW91XQQDfo6yZEdPd- ._3yfs7fc5WEv6F9tPG4yq4g ._2tSyrRxMCRWK6K09JErgI_ {
  max-width: unset !important;
  gap: 16px !important;
}

._1_vCR1dPfyJ7_yukwDqblf svg *, .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_ svg * {
  fill: transparent !important;
  stroke: transparent !important;
  color: transparent !important;
}

._1_vCR1dPfyJ7_yukwDqblf, .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background-color: rgba(var(--color-negative), 0.2) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-close) !important;
  border: unset !important;
  animation-name: apppartnereventspage_transitionIn_1dXPO !important;
  animation-duration: .32s !important;
  animation-timing-function: ease-in !important;
  animation-iteration-count: 1 !important;
  transition-property: transform,background-color,box-shadow !important;
  transition-duration: .21s !important;
  transition-timing-function: ease-in-out !important;
}

._1_vCR1dPfyJ7_yukwDqblf:hover, .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_:hover {
  background-color: rgba(var(--color-negative), 0.3) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._1_vCR1dPfyJ7_yukwDqblf:active, .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_:active {
  background-color: rgba(var(--color-negative), 0.4) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._1t_97P9KMsEBaPq9y-6OUl._3vBD2B7lrr6iXm8dGe71lI {
  padding-top: 0px !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-up) !important;
}

._1t_97P9KMsEBaPq9y-6OUl._3vBD2B7lrr6iXm8dGe71lI svg * {
  fill: transparent !important;
  stroke: transparent !important;
  color: transparent !important;
}

._1t_97P9KMsEBaPq9y-6OUl._3VePRhMGWFsbGaZjSNXJjV {
  padding-bottom: 0px !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

._1t_97P9KMsEBaPq9y-6OUl._3VePRhMGWFsbGaZjSNXJjV svg * {
  fill: transparent !important;
  stroke: transparent !important;
  color: transparent !important;
}

._1t_97P9KMsEBaPq9y-6OUl  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 32px !important;
  width: 32px !important;
  padding: 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background-color: rgba(var(--color-negative), 0.2) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  border: unset !important;
}

._1t_97P9KMsEBaPq9y-6OUl:hover {
  background-color: rgba(var(--color-negative), 0.3) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._1t_97P9KMsEBaPq9y-6OUl:active {
  background-color: rgba(var(--color-negative), 0.4) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

/* EVENT OVERLAY CONTAINERS */
._3GCEyyVil-cCS-8hoI2Zo1 {
  padding: 0px !important;
  margin: calc(48px + 16px) auto 16px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._1KsYSVzmvIfRivBTcx-_GE {
  max-width: 848px !important;
  width: 100% !important;
  margin: 0px auto !important;
  border-radius: 0px !important;
  border: none !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background: rgb(var(--color-background-window)) !important;
  border: unset !important;
  padding: 0px !important;
  box-sizing: border-box !important;
}

._3_SEiDNs-lzwV7cTF6gcgt ._17G2yhjdc_ZmGlMv-L-S05, ._3_SEiDNs-lzwV7cTF6gcgt ._2-IygC3-t05_RYwPl6Fkgt {
  border-radius: 0px !important;
  top: 0px !important;
  margin: 0px !important;
  background-position: center !important;
  max-height: unset !important;
  height: fit-content !important;
}

.stsss-bTNuazY8FYtvTOX {
  filter: blur(var(--blur-radius)) opacity(50%) saturate(0.7) !important;
  opacity: 1 !important;
  display: none !important;
}

._3_SEiDNs-lzwV7cTF6gcgt ._3z2NYCkFizMu4fMvWTIBUG {
  padding: 16px 16px 0px 16px !important;
  background: transparent !important;
}

._3bWTO29arCCJ6PBGRZ7fRy ._2WwG2r8yZuu2EMJgFTQZp8 {
  margin: 0px !important;
  color: rgb(var(--color-text-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

._3bWTO29arCCJ6PBGRZ7fRy ._2WwG2r8yZuu2EMJgFTQZp8 .Udzrpqr8534T5DvVZveNP {
  margin-right: 8px !important;
  color: rgb(var(--color-accent)) !important;
  font-weight: 400 !important;
}

/* STEAMBUILD ID */
._1KsYSVzmvIfRivBTcx-_GE ._1rbgKYHeRvzrIyqHCzaLIr {
  font-size: var(--size-16) !important;
  padding-bottom: 0px !important;
}

._20f2sKS2M7PlPSnPCinT26 {
  font-size: var(--size-16) !important;
  font-size: 24px !important;
  color: rgb(var(--color-text-secondary)) !important;
  margin-top: 0px !important;
}

._3_SEiDNs-lzwV7cTF6gcgt ._2KsEbGy9kiSDeQpcqEc9DG {
  color: rgb(var(--color-text-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

.rT7EkJjqw27KBB7HxAAWk {
  color: rgb(var(--color-accent)) !important;
}

.rT7EkJjqw27KBB7HxAAWk ._2pJftSRjT_UngZZ4BJimwg {
  background: rgb(var(--color-accent)) !important;
  color: rgb(var(--color-positive)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  padding: 0px 4px !important;
  line-height: 16px !important;
  border-radius: 0px !important;
  margin: auto 8px auto 0px !important;
}

.MBkkhT4wei3tWetnWbiqn {
  margin: 0px !important;
  color: rgb(var(--color-text-secondary)) !important;
}

.MBkkhT4wei3tWetnWbiqn::before {
  content: "\00a0" !important;
}

._4LAnPYKRPeF-QDReu_VGm {
  margin-bottom: 0px !important;
  letter-spacing: normal !important;
  color: rgb(var(--color-text-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

._3_SEiDNs-lzwV7cTF6gcgt .TqEPC9bhvVpZ1rb3Z8Mbd {
  margin-top: 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
}

._32mHvRSmD7AVK9OIOPlaFu {
  padding: 16px !important;
  min-height: 0px !important;
}

.A_A2B6fTn_MPLlGCmsLtd {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.A_A2B6fTn_MPLlGCmsLtd a:not(.LinkButton):not(._3FJnZuxmPA_MjxsF8BQQ5L) {
  color: rgb(var(--color-accent)) !important;
}

/* EXPIRED EVENT */
._3O3XsKT-SiMNsMqyidMLvS {
  color: rgb(var(--color-accent)) !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
  margin-bottom: 0px !important;
  padding: 24px 24px 0px !important;
  background: transparent !important;
}

/* EVENT OVERLAY CONTENT */
.SPYFj8pCLpNmnuQJEDobC, .QuKtTJ4LCPUlQeWYfLNyX, ._3s7cUqglDds9wzcWb7OLz6 {
  color: var(rgb(--color-text-primary)) !important;
  margin-bottom: 8px !important;
  margin-top: 8px !important;
  clear: both !important;
}

.eventbbcodeparser_Header4_, .eventbbcodeparser_Header5_, .eventbbcodeparser_Header6_ {
  color: var(rgb(--color-text-primary)) !important;
  margin-bottom: 4px !important;
  margin-top: 4px !important;
  clear: both !important;
}

.SPYFj8pCLpNmnuQJEDobC {
  font-size: var(--size-24) !important;
  line-height: var(--size-24) !important;
  font-weight: 400 !important;
}

.QuKtTJ4LCPUlQeWYfLNyX {
  font-size: var(--size-20) !important;
  line-height: var(--size-20) !important;
  font-weight: 400 !important
}

._3s7cUqglDds9wzcWb7OLz6 {
  font-size: var(--size-18) !important;
  line-height: var(--size-18) !important;
  font-weight: 400 !important;
}

.eventbbcodeparser_Header4_ {
  font-size: var(--size-16) !important;
  line-height: var(--size-16) !important;
  font-weight: 400 !important;
}

.eventbbcodeparser_Header5_ {
  font-size: var(--size-14) !important;
  line-height: var(--size-14) !important;
  font-weight: 400 !important
}

.eventbbcodeparser_Header6_ {
  font-size: var(--size-12) !important;
  line-height: var(--size-12) !important;
  font-weight: 400 !important;
}

/* EVENT OVERLAY DISCUSSION */
.mKmrOjr9bGjKAolgp9NoD {
  padding: 16px !important;
  background: var(--color-acrylic) !important;
}

._3Kelh1-_v6xHfRjF68n7NB, ._16xC0mtOWoLbvSQbmo_ycv, ._3ctGqQID5-8adtd7HlZ3YM, ._9x4Z7eMgdwfAVMr16ZaJ0 {
  margin-right: 0px !important;
  border-radius: 0px !important;
  gap: 16px !important;
}

._3Kelh1-_v6xHfRjF68n7NB, ._16xC0mtOWoLbvSQbmo_ycv, ._3ctGqQID5-8adtd7HlZ3YM {
  padding: 0px !important;
  background-color: transparent !important;
}

._3csl-MPe-hKuT8hQpOqEG5, .QQy4BCjcpjCfAvTKAqBq3 {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding: 0px !important;
  margin: 0px !important;
  height: 32px !important;
  line-height: 32px !important;
}

.Sf3urgalDvD2sZqNjEV9i {
  margin: 0px !important;
  fill: transparent !important;
  width: 32px !important;
  height: 32px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-thumb-up) !important;
}

.QQy4BCjcpjCfAvTKAqBq3 > svg {
  margin: 0px !important;
  fill: transparent !important;
  width: 32px !important;
  height: 32px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-chat-discussion) !important;
}

._2akzufsslA5YAnC95zYx0K, ._34YgMAbrVXVMMfXvsZAU9_, ._3ZqxxB_poSsEYBW1s4t1OY, ._1PTQ2mq0eTaG8ifW8juu81 {
  fill: transparent !important;
  margin: 0px !important;
  height: 32px !important;
  width: 32px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  left: unset !important;
  bottom: unset !important;
  right: unset !important;
  top: unset !important;
}

._1ABCOz8DSrl-YJdh1xD-m0 svg {
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

._2akzufsslA5YAnC95zYx0K {
  background-image: var(--icon-thumb-up) !important;
}

._34YgMAbrVXVMMfXvsZAU9_ {
  background-image: var(--icon-thumb-up-active) !important;
}

._3ZqxxB_poSsEYBW1s4t1OY {
  background-image: var(--icon-thumb-down) !important;
}

._1PTQ2mq0eTaG8ifW8juu81 {
  background-image: var(--icon-thumb-down-active) !important;
}

._3ZqxxB_poSsEYBW1s4t1OY, ._1PTQ2mq0eTaG8ifW8juu81 {
  transform: none !important;
}

.rHz7G5xZ3qXUYUcBW2bzX ._3P2XeK0HGdzGWS3fRQ4_vX {
  line-height: 32px !important;
  padding: 0px 16px !important;
}

._3Kelh1-_v6xHfRjF68n7NB .rHz7G5xZ3qXUYUcBW2bzX ._3P2XeK0HGdzGWS3fRQ4_vX {
  padding: 0px 16px 0px 0px !important;
}

._3ctGqQID5-8adtd7HlZ3YM .rHz7G5xZ3qXUYUcBW2bzX ._3P2XeK0HGdzGWS3fRQ4_vX {
  padding: 0px 16px 0px 0px !important;
}

._3qVz2p-X14nAGX6EWNC87I {
  margin: 0px !important;
  height: 32px !important;
  width: 32px !important;
  fill: transparent !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-share) !important;
}

/* ACHIEVEMENTS OVERLAY */
.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf {
  width: 100% !important;
  max-width: 848px !important;
  margin: 54px auto 16px !important;
}

div.NarrowWindow .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf {
  margin: 32px auto 0px !important;
  max-width: 100% !important;
}

.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf > div {
  border-radius: 0px !important;
  background-image: none !important;
  border: unset !important;
}

._3FQHgRosfNJYE44Fsd_U6z {
  background-color: rgb(var(--color-background-window)) !important;
}

.ODpLjkbgMnhnQTcm8ZCMO ._3Fjw7Sm_QUgOr8r3khWTSm {
  backdrop-filter: none !important;
  background: transparent !important;
}

._3FQHgRosfNJYE44Fsd_U6z ._11Z-tk3z56AMAn01e-PyBL.DesktopUI, .DesktopUI ._3FQHgRosfNJYE44Fsd_U6z ._11Z-tk3z56AMAn01e-PyBL {
  padding-top: 0px !important;
}

._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k ._2R_acHQS2nlohmPi6kGLRZ {
  margin-right: 8px !important;
}

div.NarrowWindow .HruWVPwIDh2FFOOH7OiSs ._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
  max-height: 207px !important;
  object-fit: cover !important;
}

/* ACHIEVEMENTS */
._2fFW2raBfeDt3WOPB-aQAq {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.sBzFsmZCBEIihNfZuAcwT {
  margin-top: 4px !important;
}

._1-nHjRywUoX7Mpyc6JOPaQ ._2_0JonK7eKEvh8IoOvq0-B {
  border-radius: 0px !important;
  background: rgb(var(--color-accent)) !important
}

/* HEADER SPACING */
.HruWVPwIDh2FFOOH7OiSs ._36Dp_CLuZbFCm7KDc9tbCv {
  margin-top: calc(32px + 175px) !important;
}

.NarrowWindow .MediumRightPanel .HruWVPwIDh2FFOOH7OiSs ._36Dp_CLuZbFCm7KDc9tbCv {
  margin-top: calc(32px + 108px) !important;
}

.NarrowWindow .NarrowRightPanel .HruWVPwIDh2FFOOH7OiSs ._36Dp_CLuZbFCm7KDc9tbCv {
  margin-top: calc(32px + 108px) !important;
}

/* PROGRESS BAR */
.HruWVPwIDh2FFOOH7OiSs ._3CaVUwIuq04vtlXl8IK-p1 {
  margin-left: -16px !important;
  margin-right: -16px !important;
}

._11Z-tk3z56AMAn01e-PyBL ._3CaVUwIuq04vtlXl8IK-p1 {
  margin-top: 0px !important;
}

/* TABS BACKGROUND */
._3IBLc81yyL08OJ7rfKtF00._31ZleDJpmmVr6YwR5VLHiu ._2JobstxtZVYF3078DblN2M::before, ._2JobstxtZVYF3078DblN2M._1jNhbFODJy7sNdcnEeZkz4::before {
  box-shadow: none !important;
  backdrop-filter: none !important;
  background: transparent !important;
}

/* ACHIEVEMENTS OVERLAY CONTROLS */
.HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_ {
  top: 0px !important;
  right: 0px !important;
  transform: translateX(calc(16px + 32px)) !important;
  transition: transform 0.2s ease-in-out !important;
}

div.NarrowWindow .HruWVPwIDh2FFOOH7OiSs .gioyPMOZttYFcnmgLnsWf .iYW5hWQwg14WYT4PV3xe_ {
  transform: translateY(16px) translateX(-16px) !important;
  transition: transform 0.2s ease-in-out !important;
}

/* SALE PREVIEW */
._1xNQcxU9_OtQ-_PrMbviS4 {
  row-gap: 8px !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
}

._2gxv9cF-4n9wq4yxruOTNl {
  height: 32px !important;
  padding: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  place-content: center !important;
}

._2gxv9cF-4n9wq4yxruOTNl._2o-5t6bgEJxfbWVSmxT88V, ._2gxv9cF-4n9wq4yxruOTNl.salepreviewwidgets_Green_ {
  background-color: var(--color-acrylic-overlay-medium) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic) !important;
}

._2gxv9cF-4n9wq4yxruOTNl ._3LecBjgbnwvS6bCFqxs6SC {
  margin-right: 4px !important;
  height: 10px !important;
  display: none !important;
}

._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj:not(._3_q87LhuWitbYSEHOVKYlM) {
  background: transparent !important;
}

/* SALE PREVIEW INFO */
._2hhNOdcC6yLwL_rugP3YLf .v9uRg57bwOaPsvAnkXESO {
  gap: 8px !important;
}

._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj {
  border-radius: 0px !important;
}

.v9uRg57bwOaPsvAnkXESO {
  padding: 16px !important;
}

._2ekpT6PjwtcFaT4jLQehUK {
  margin-top: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  line-height: 32px !important;
}

._2ekpT6PjwtcFaT4jLQehUK:hover {
  text-decoration: none !important;
}

.AppSummaryWidgetCtn ._3wryhCRrTuMULeq_YjNk-s {
  display: flex !important;
  gap: 8px !important;
  flex-direction: column !important;
}

._2bkP-3b7dvr0a_qPdZEfHY {
  height: fit-content !important;
  min-height: 24px !important;
  margin-top: 0px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 4px !important;
}

._3FJnZuxmPA_MjxsF8BQQ5L {
  background-color: rgba(var(--color-negative), 0.2) !important;
  padding: 0px 8px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  line-height: 24px !important;
}

._1qvTFgmehUzbdYM9cw0eS7 {
  color: rgb(var(--color-text-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  margin-right: 8px !important;
  line-height: 24px !important;
}

._2bCf9u4rlC8De687HY6wnh {
  height: 24px !important;
}

/* SALE PREVIEW BACKGROUND BLUR IMAGE */
.v9uRg57bwOaPsvAnkXESO .MvLJDXjfbme8Uw3OERaCb img {
  filter: blur(var(--blur-radius)) !important;
  opacity: 1 !important;
}

/* SALE PREVIEW PRICE */
.kW6m4Sjqacp5hykrj5LEo {
  right: 0px !important;
  bottom: 0px !important;
  min-height: 32px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  gap: 4px !important;
}

.kW6m4Sjqacp5hykrj5LEo ._1JuIpzMtS7-xZrnUmEQ4my {
  gap: 0px !important;
}

.yoe6d_43t3I6-mjbZGkLs {
  background-image: none !important;
  background-color: transparent !important;
  padding: 0px 16px !important;
  line-height: 32px !important;
  height: 32px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  border-radius: 0px !important;
}

.yoe6d_43t3I6-mjbZGkLs:hover {
  background-color: rgba(var(--color-negative), 0.1) !important;
}

.yoe6d_43t3I6-mjbZGkLs:active {
  background-color: rgba(var(--color-negative), 0.2) !important;
}

._1g0B-RjwkUV0_MDURgy3Bi {
  background: var(--color-acrylic-overlay-medium) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic) !important;
}

._2s-O5T3qJJYR2AUq4b9jIN ._2_KY_e11FV0ftXR2_7TMmP {
  text-transform: uppercase !important;
  padding: 0px 16px !important;
  background-color: rgb(var(--color-accent)) !important;
  color: rgb(var(--color-text-primary)) !important;
}

._3j4dI1yA7cRfCvK8h406OB {
  font-size: var(--size-14) !important;
  padding: 0px 16px !important;
  border-radius: 0px !important;
}

._2s-O5T3qJJYR2AUq4b9jIN._2xCT1pUf2c9TICHoMcQE0d ._3j4dI1yA7cRfCvK8h406OB {
  background: transparent !important;
}

._2s-O5T3qJJYR2AUq4b9jIN {
  height: 32px !important;
  min-width: fit-content !important;
  z-index: -1 !important;
}

._2hhNOdcC6yLwL_rugP3YLf .cnkoFkzVCby40gJ0jGGS4 {
  font-size: var(--size-24) !important;
  padding: 0px 16px !important;
}

.cnkoFkzVCby40gJ0jGGS4 {
  line-height: 32px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  background: transparent !important;
}

._3fFFsvII7Y2KXNLDk_krOW {
  margin: 0px !important;
  color: rgb(var(--color-text-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  line-height: 12px !important;
}

._3fFFsvII7Y2KXNLDk_krOW::before {
  border-bottom: 1px solid rgb(var(--color-text-secondary)) !important;
}

._1g0B-RjwkUV0_MDURgy3Bi ._3j4dI1yA7cRfCvK8h406OB {
  color: rgb(var(--color-accent)) !important;
}

._3NhLu7mTdty7JufpSpz6Re {
  padding: 0px 16px !important;
}

._3NhLu7mTdty7JufpSpz6Re ._3j4dI1yA7cRfCvK8h406OB {
  font-size: var(--size-16) !important;
  line-height: 16px !important;
}

/* WISHLIST */
._1djkdp7OAd0mF3a90RKf27 {
  background-image: none !important;
}

._1djkdp7OAd0mF3a90RKf27, ._2zssEuiPfY5YdQlnihDfVD {
  height: 32px !important;
  padding: 0px 16px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1djkdp7OAd0mF3a90RKf27, ._2zssEuiPfY5YdQlnihDfVD {
  background-color: rgba(var(--color-negative), 0.2) !important;
  color: rgb(var(--color-text-primary)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

._1djkdp7OAd0mF3a90RKf27:hover, ._2zssEuiPfY5YdQlnihDfVD:hover {
  background-color: rgba(var(--color-negative), 0.3) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._1djkdp7OAd0mF3a90RKf27:active, ._2zssEuiPfY5YdQlnihDfVD:active {
  background-color: rgba(var(--color-negative), 0.4) !important;
  color: rgb(var(--color-text-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

/* ANNOUNCEMENT BUTTON LINK */
._1IGURymjmwZOxJLS-9BWKA {
  margin: 0px !important;
  margin-top: 16px !important;
  border-radius: 0px !important;
  padding: 8px !important;
  background: rgba(var(--color-accent), 0.5) !important;
  gap: 16px !important;
  display: flex !important;
}

._1IGURymjmwZOxJLS-9BWKA ._3ZK9RP26kmOzqRdQKxWxsM {
  margin: 0px !important;
  max-height: 88px !important;
  max-width: 75% !important;
}

._2FhVXotuJg4O0NN4qA07vU {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  padding: 8px 0px !important;
  gap: 4px !important;
  display: flex !important;
  flex-direction: column !important;
}

._3z0n0rpIPJRdV1QY5n0KaR {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  margin: 0px !important;
  line-height: normal !important;
}

._3z0n0rpIPJRdV1QY5n0KaR span {
  color: rgb(var(--color-text-secondary)) !important;
}

._1R7Ngck7T0RkTPGRUaq6Gr {
  color: rgb(var(--color-accent)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin: 0px !important;
  line-height: normal !important;
  border: none !important;
}

._1R7Ngck7T0RkTPGRUaq6Gr:hover {
  color: rgb(var(--color-text-secondary)) !important;
}

._1R7Ngck7T0RkTPGRUaq6Gr:active {
  color: rgb(var(--color-text-tertiary)) !important;
}

.eMdGA7SU6zikUSu6rf7Pr {
  padding: 0px !important;
}

/* WISHLIST HOVER BUTTON */
._3notzMjxQtogi11XHZMYXI {
  right: 16px !important;
  top: 16px !important;
  border-radius: 0px !important;
  background-image: none !important;
  background-color: rgb(var(--color-accent)) !important;
}

._3notzMjxQtogi11XHZMYXI:hover {
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._3notzMjxQtogi11XHZMYXI:active {
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._3notzMjxQtogi11XHZMYXI svg {
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-add) !important;
}

._3notzMjxQtogi11XHZMYXI svg path {
  fill: transparent !important;
}
