/* REMOVE GAME HOVER */
[class*="removegamehover_Container_"] {
  border: unset !important;
  color: rgb(var(--color-text)) !important;
  padding: 0px !important;
  top: 0px !important;
  left: 0px !important;
  color: rgb(var(--color-text)) !important;
  border: unset !important;
  font-size: var(--size-14) !important;
  border-radius: 0px !important;
  height: 160px !important;
  background-color: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

[class*="removegamehover_Container_"]::before, [class*="removegamehover_Container_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="removegamehover_Container_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="removegamehover_Container_"]::after {
  background-image: var(--image-acrylic) !important;
}

[class*="removegamehover_Container_"] [class*="removegamehover_Message_"] [class*="removegamehover_AppName_"], [class*="removegamehover_Container_"] [class*="removegamehover_Message_"] [class*="removegamehover_CollectionName_"] {
  color: rgb(var(--color-text)) !important;
  border: unset !important;
  font-size: var(--size-14) !important;
}

[class*="removegamehover_Container_"] [class*="removegamehover_Message_"] [class*="removegamehover_GameIcon_"] {
  height: 0px !important;
  width: 0px !important;
  border-radius: 0px !important;
  margin-right: 0px !important;
  display: none !important;
}

[class*="removegamehover_Container_"] [class*="removegamehover_Message_"] {
  margin: 0px 16px !important;
}

/* NEW COLLECTION HOVER */
[class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"] {
  border: unset !important;
  color: rgb(var(--color-text)) !important;
  padding: 0px !important;
  top: 38px !important;
  left: 0px !important;
  color: rgb(var(--color-text)) !important;
  border: unset !important;
  font-size: var(--size-14) !important;
  border-radius: 0px !important;
  height: 100% !important;
  width: 100% !important;
  background-color: transparent !important;
  box-shadow: 0 0 0 0 transparent !important;
}

[class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"]::before, [class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="library_MainPanel_"] [class*="library_NewCollectionTarget_"]::after {
  background-image: var(--image-acrylic) !important;
}

/* GAMES LIST CONTAINER */
[class*="gamelistbar_Container_"] {
  background-image: url() !important;
  background-color: transparent !important;
  background: transparent !important;
}

[class*="library_LeftListSizableContainer_"] {
  background-color: rgba(var(--color-black), 0.75) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  transition: transform 0.1s ease-out !important;
  max-width: 25% !important;
}

/* GAMES LIST HOME */
[class*="gamelistbar_GameListHomeAndSearch_"] {
  background-color: transparent !important;
  padding: 0px !important;
  margin: 16px 0px 0px 0px !important;
  height: 32px !important;
}

[class*="gamelisthome_Bar_"] {
  color: rgb(var(--color-text)) !important;
  border: unset !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  text-align: center !important;
  line-height: 32px !important;
  height: 32px !important;
  border-radius: 0px !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"], [class*="gamelisthome_Bar_"] {
  background-color: transparent !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"]:hover, [class*="gamelisthome_Bar_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_Selected_"]:active, [class*="gamelisthome_Bar_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelisthome_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-left: 0px !important;
  width: 100% !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

[class*="gamelisthome_Bar_"] [class*="gamelisthome_Icon_"] {
  fill: transparent !important;
  -webkit-mask-image: none !important;
}

[class*="gamelisthome_Bar_"][class*="gamelisthome_CollectionButton_"] {
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-view-grid) !important;
}

[class*="gamelisthome_CollectionIcon_"] [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
}

[class*="gamelisthome_Bar_"] [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
  opacity: 0 !important;
  display: none !important;
}

[class*="gamelisthome_Bar_"]:hover [class*="gamelisthome_CollectionIconBox_"] {
  background: transparent !important;
}

[class*="gamelisthome_CollectionIcon_"] {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

/* GAMES LIST DROPDOWN */
[class*="gamelistdropdown_SearchBar_"] {
  margin: 0px !important;
}

[class*="gamelistdropdown_Bar_"] {
  padding: 16px 0px 0px 0px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  margin-right: 16px !important;
  height: 32px !important;
  max-height: 32px !important;
  min-height: 32px !important;
  padding: 0px !important;
  margin-left: 16px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] [class*="gamelistdropdown_Arrow_"] polygon {
  fill: transparent !important;
  display: none !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"]:hover [class*="gamelistdropdown_Arrow_"] polygon {
  fill: rgba(var(--color-white), 0.6) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] [class*="gamelistdropdown_ViewName_"] {
  padding-left: 12px !important;
  padding-right: 0px !important;
  line-height: 32px !important;
}

[class*="gamelistdropdown_ViewName_"] {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_MenuHeader_"] [class*="gamelistdropdown_Arrow_"] {
  margin: 0px !important;
  width: 32px !important;
  height: 100% !important;
}

[class*="gamelistdropdown_AppCount_"] {
  padding-left: 8px !important;
  opacity: 1 !important;
  color: rgb(var(--color-sub)) !important;
}

/* DROPDOWN CONTEXT */
[class*="contextmenu_contextMenu_"][class*="gamelistdropdown_DropDown_"].visible[class*="contextmenu_ContextMenuFocusContainer_"] {
  background-color: rgba(var(--color-white), 0.05) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  width: auto !important;
  display: grid !important;
  gap: 8px !important;
  padding: 8px !important;
}

[class*="gamelistdropdown_DropDown_"] [class*="gamelistdropdown_Rule_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  margin: 0px !important;
}

[class*="gamelistdropdown_Disabled_"] .DialogToggle_Label {
  color: rgb(var(--color-sub)) !important;
}

/* GAMES LIST SCROLL TO TOP */
[class*="gamelistdropdown_ScrollToTop_"] {
  width: 32px !important;
  height: 32px !important;
  background-color: transparent !important;
}

[class*="gamelistdropdown_ScrollToTop_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistdropdown_ScrollToTop_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistdropdown_ScrollToTop_"][class*="gamelistdropdown_Visible_"] {
  margin-left: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--arrow-up) !important;
}

[class*="gamelistdropdown_ScrollToTop_"] .SVGIcon_Arrow {
  background-color: transparent !important;
  border: 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
}

[class*="gamelistdropdown_ScrollToTop_"]:hover .SVGIcon_Arrow {
  background-color: transparent !important;
}

[class*="gamelistdropdown_ScrollToTop_"] .SVGIcon_Arrow polyline {
  stroke: transparent !important;
}

[class*="gamelistdropdown_ScrollToTop_"]:hover .SVGIcon_Arrow polyline {
  stroke: transparent !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_ViewFiltersBar_"] {
  margin: 0px !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]  {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg {
  fill: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg {
  fill: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg path, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg line, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg polyline, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg circle {
  stroke: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg {
  fill: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"]:hover svg {
  fill: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg path, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg line, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg polyline, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg circle {
  stroke: rgb(var(--color-white)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg {
  fill: rgb(var(--color-primary)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg path, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg line, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg polyline, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg circle {
  stroke: rgb(var(--color-primary)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg path, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg line, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg polyline, [class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg circle {
  stroke: rgb(var(--color-primary)) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] .SVGIcon_SortBy {
  transform: none !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] .SVGIcon_ReadyToPlay {
  transform: none !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] svg {
  fill: transparent !important;
  stroke: transparent !important;
  background: rgb(var(--color-white)) !important;
  width: 32px !important;
  height: 32px !important;
  -webkit-mask-size: 16px !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center !important;
}

/* LINUX */
[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] .SVGIcon_LinuxLogo2 {
  -webkit-mask-image: var(--icon-switch) !important;
}

/* RECENT */
[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] .SVGIcon_SortBy {
  -webkit-mask-image: var(--icon-recent) !important;
}

/* READY */
[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"] .SVGIcon_ReadyToPlay {
  -webkit-mask-image: var(--icon-ready) !important;
}

[class*="gamelistdropdown_Bar_"] [class*="gamelistdropdown_Filters_"] [class*="gamelistdropdown_CheckboxWithImage_"][class*="gamelistdropdown_Active_"] svg {
  background: rgb(var(--color-primary)) !important;
}

/* GAMES LIST SEARCH */
[class*="gamelistsearchbar_Container_"] {
  padding: 16px 0px 16px 0px !important;
  margin: 0px !important;
  min-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  gap: 0px !important;
  background: transparent !important;
  border-radius: 0px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-radius: 0px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogInput_Wrapper>input.DialogInput {
  min-width: 100% !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogInput_Wrapper {
  margin-left: 16px !important;
  margin-right: 16px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogInput_Wrapper .DialogInput::placeholder {
  color: rgb(var(--color-sub)) !important;
  font-style: normal !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogInput_Wrapper:hover .DialogInput::placeholder {
  color: rgb(var(--color-sub)) !important;
  font-style: normal !important;
}

[class*="gamelistsearchbar_SearchInput_"] .DialogTextInputBase {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="gamelistsearchbar_SearchInput_"] .DialogTextInput:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="gamelistsearchbar_SearchInput_"] .DialogTextInputBase:active {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"] {
  width: 32px !important;
  height: 32px !important;
  right: 0px !important;
  top: 0px !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
  background-size: 12px !important;
  background-position: right !important;
  background-repeat: no-repeat !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction {
  background-color: rgb(var(--color-sub)) !important;
  -webkit-mask-size: 12px !important;
  -webkit-mask-repeat: no-repeat !important;
  -webkit-mask-position: center !important;
  -webkit-mask-image: var(--icon-clear) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"] {
  background-color: transparent !important;
  background-size: 12px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-image: var(--icon-clear) !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction:hover {
  background-color: rgb(var(--color-sub)) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction:active {
  background-color: rgb(var(--color-sub)) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"]:active {
    background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction svg, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"] svg {
  width: 12px !important;
  height: 12px !important;
  margin: auto !important;
  position: absolute !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  display: none !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction svg line, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"] svg line {
  stroke: rgba(var(--color-white), 0.4) !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction:hover svg line, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"]:hover svg line, [class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction:active svg line, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"]:active svg line {
  stroke: rgb(var(--color-white)) !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_ClearAction:not(:hover), [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchFilterInputClear_"]:not(:hover) {
  opacity: 1 !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"]:has(.DialogInput:placeholder-shown) .DialogInput_ClearAction {
  opacity: 0 !important;
}

[class*="gamelistsearchbar_Container_"] .DialogInput_Wrapper._DialogLayout.Panel.Focusable {
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogTextInputBase {
  padding: 0px 12px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_SearchInput_"] .DialogInput:placeholder-shown {
  min-width: 0px !important;
  height: 32px !important;
  line-height: 32px !important;
  background-size: 12px !important;
  background-position: right 10px center !important;
  background-repeat: no-repeat !important;
  background-image: var(--icon-search-dark) !important;
}

/* GAMES LIST FILTER */
[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"]:hover  {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"] {
  width: 32px !important;
  height: 32px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-apps-all) !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"] svg {
  padding: 0px !important;
  margin: 0px !important;
  height: 32px !important;
  width: 32px !important;
  opacity: 0 !important;
  display: none !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"] svg path {
  fill: transparent !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchButton_"][class*="gamelistsearchbar_Active_"] {
  border-radius: 0px !important;
  background-color: rgba(var(--color-primary), 0.5) !important;
}

/* GAMES LIST FILTER CONTAINER */
[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] {
  grid-gap: 16px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"] {
  background-color: transparent !important;
  border-radius: 0px !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"]::before, [class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="gamelistsearchbar_Container_"] [class*="gamelistsearchbar_AdvancedSearchContainer_"] [class*="gamelistsearchbar_AdvancedSearchPaneContainer_"] [class*="gamelistsearchbar_AdvancedSearchPane_"]::after {
  background-image: var(--image-acrylic) !important;
}

[class*="appfilterpane_Container_"] {
  padding: 16px !important;
  gap: 16px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"] [class*="appfilterpane_FilterBucketBoxes_"] {
  padding: 0px !important;
  display: grid !important;
  gap: 8px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"] [class*="appfilterpane_FilterBucketLabel_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
  line-height: 24px !important;
}

[class*="appfilterpane_SaveButton_"] svg {
  display: none !important;
  margin-right: 0px !important;
}

[class*="appfilterpane_SteamDeckCompatDropDown_"] ._DialogInputContainer .DialogDropDown_CurrentDisplay {
  background-color: transparent !important;
  padding: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

[class*="appfilterpane_SteamDeckCompatDropDown_"] ._DialogInputContainer .DialogDropDown_Arrow {
  background-color: transparent !important;
  padding: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

[class*="shared_svg_library_SteamDeckCompatIcon_"][class*="shared_svg_library_SteamDeckCompatVerified_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="shared_svg_library_SteamDeckCompatIcon_"][class*="shared_svg_library_SteamDeckCompatPlayable_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="shared_svg_library_SteamDeckCompatIcon_"][class*="shared_svg_library_SteamDeckCompatUnknown_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="shared_svg_library_SteamDeckCompatIcon_"][class*="shared_svg_library_SteamDeckCompatUnsupported_"] {
  color: rgb(var(--color-white)) !important;
}

/* DROP DOWN */
[class*="appfilterpane_SteamDeckCompatDropDown_"] {
  margin-top: 16px !important;
  font-size: var(--size-14) !important;
}

/* APP FILTER FRIENDS SEARCH */
[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"] .DialogInput_Wrapper {
  border-radius: 0px !important;
  margin-top: 0px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"][class*="appfilterpane_SearchResultsBox_"] [class*="appfilterpane_FilterBucketBoxes_"] {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  top: calc(32px + 24px) !important;
  border-radius: 0px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"][class*="appfilterpane_SearchResultsBox_"] [class*="appfilterpane_FilterBucketBoxes_"] [class*="appfilterpane_Row_"] {
  padding: 0px 16px !important;
  line-height: 32px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"][class*="appfilterpane_SearchResultsBox_"] [class*="appfilterpane_FilterBucketBoxes_"] [class*="appfilterpane_Row_"] [class*="appfilterpane_Checkbox_"] {
  font-size: var(--size-14) !important;
  line-height: 32px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"][class*="appfilterpane_SearchResultsBox_"] [class*="appfilterpane_FilterBucketBoxes_"] {
  gap: 0px !important;
}

[class*="appfilterpane_Container_"] [class*="appfilterpane_FilterArea_"] [class*="appfilterpane_FilterBucket_"][class*="appfilterpane_SearchResultsBox_"] [class*="appfilterpane_FilterBucketBoxes_"] [class*="appfilterpane_Row_"] [class*="appfilterpane_Checkbox_"] .DialogCheckbox {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] img {
  border-radius: 0px !important;
  margin-right: 8px !important;
  height: 16px !important;
  width: 16px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] [class*="gamelistsearchbar_FiltertagUsername_"] {
  height: 32px !important;
  line-height: 32px !important;
  max-width: unset !important;
}

/* SAVE DYNAMIC COLLECTION */
[class*="savecollectiondialog_DynamicHeader_"] svg {
  margin: 0px !important;
  display: none !important;
}

[class*="savecollectiondialog_SaveSearchDescription_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-sub)) !important;
}

[class*="savecollectiondialog_SaveSearchDescription_"]:last-of-type {
  margin-bottom: 16px !important;
}

/* GAMES LIST FILTER TAGS */
[class*="gamelistsearchbar_SearchFilterInput_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  min-height: 32px !important;
  gap: 8px !important;
  margin-left: 16px !important;
}

[class*="appfilterpane_Container_"] [class*="gamelistsearchbar_SearchFilterInput_"] {
  margin-left: 0px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px 0px 0px 8px !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
  line-height: 32px;
  height: 32px !important;
  width: calc(100% - 56px) !important;
}

[class*="appfilterpane_Container_"] [class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] {
  width: 100% !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] > div:nth-of-type(2) {
  width: calc(100% - 32px) !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

[class*="collectionview_DynamicCollectionSubHeader_"] [class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] > div:nth-of-type(2) {
  width: fit-content !important;
}
[class*="collectionview_DynamicCollectionSubHeader_"] [class*="gamelistsearchbar_SearchFilterInput_"][class*="gamelistsearchbar_Disabled_"] [class*="gamelistsearchbar_FilterTag_"] {
  padding: 0px 8px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] [class*="gamelistsearchbar_FiltertagSpacer_"] {
  margin-left: 0px !important;
  height: 32px !important;
  width: 0px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] svg {
  width: 12px !important;
  height: 12px !important;
  opacity: 1 !important;
  margin: 10px !important;
  right: 0 !important;
  left: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}

/* FILTER CLOSE */
[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] > div:nth-of-type(3) {
  transition: transform 0.2s ease-out !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"]:not(:hover) > div:nth-of-type(3) {
  transform: scale(0) translatex(32px) !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] svg line {
  stroke: rgba(var(--color-white), 0.4) !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] svg:hover line, [class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] svg:active line {
  stroke: rgb(var(--color-white)) !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"][class*="gamelistsearchbar_Disabled_"] [class*="gamelistsearchbar_FilterTag_"] {
  opacity: 1.0 !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"][class*="gamelistsearchbar_Disabled_"] [class*="gamelistsearchbar_FilterTag_"] [class*="gamelistsearchbar_FiltertagSpacer_"] {
  width: 0px !important;
  height: 0px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_FilterTag_"] [class*="gamelistsearchbar_FiltertagAvatarSpacer_"] {
  width: 0px !important;
  height: 0px !important;
}

[class*="gamelistsearchbar_SearchFilterInput_"] [class*="gamelistsearchbar_SearchByTypePrompt_"] {
  padding: 0px !important;
  line-height: 32px !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelist_NoSearchResultsContainer_"] {
  margin: 0px 16px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  place-content: center !important;
}

[class*="gamelist_NoResultsTitle_"] {
  margin-top: 0px !important;
}

[class*="gamelist_NoResultsLink_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  text-decoration: none !important;
}

[class*="gamelist_NoResultsLink_"]:hover {
  color: rgb(var(--color-sub)) !important;
}

[class*="gamelist_NoResultsLink_"]:active {
  color: rgb(var(--color-disabled)) !important;
}

/* GAMES LIST SECTION */
.ReactVirtualized__Grid__innerScrollContainer {
  line-height: 24px !important;
}

[class*="gamelistsectionheader_Container_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border: unset !important;
}

[class*="gamelistsectionheader_Container_"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistsectionheader_Container_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="collapseicon_CollapseIconParent_"] [class*="collapseicon_Container_"] {
  stroke: rgb(var(--color-white)) !important;
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  background-size: 12px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-chevron-down-thick) !important;
}

[class*="collapseicon_CollapseIconParent_"] [class*="collapseicon_Container_"]  svg {
  display: none !important;
}

[class*="collapseicon_CollapseIconParent_"] [class*="collapseicon_Container_"][class*="collapseicon_Collapsed_"] {
  transform: rotate(180deg) !important;
}

[class*="gamelistsectionheader_SectionName_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  height: 24px !important;
}

[class*="gamelistsectionheader_SectionName_"]:hover {
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistsectionheader_SectionHeaderContent_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  height: 24px !important;
}

[class*="gamelistsectionheader_SectionCount_"] {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin: 0px 4px !important;
  height: 16px !important;
}

/* GAMES LIST DYNAMIC COLLECTION ICON */
[class*="gamelistsectionheader_SectionHeaderContent_"] svg {
  fill: rgb(var(--color-white)) !important;
  margin: 4px !important;
  display: none !important;
}

[class*="gamelistsectionheader_SectionHeaderContent_"] svg polyline:first-of-type, [class*="gamelistsectionheader_SectionHeaderContent_"] svg polyline:last-of-type {
  opacity: 0 !important;
}

/* GAMES LIST */
[class*="gamelistentry_Container_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border: 0px !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Installed_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"] {
  background-color: transparent !important;
}

[class*="gamelistentry_Container_"]:not([class*="gamelistentry_Selected_"]):hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistentry_Container_"]:not([class*="gamelistentry_Selected_"]):active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] :hover {
  background-color: transparent !important;
}

[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container"] :hover {
  background-color: transparent !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] :active {
  background-color: transparent !important;
}

[class*="gamelistentry_Selected_"] [class*="gamelistentry_Container"] :active {
  background-color: transparent !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] {
  padding: 0px 0px 0px 24px !important;
  font-weight: 400 !important;
}

[class*="gamelistentry_HasContextMenuOpen_"] [class*="gamelistentry_GameListEntryContainer_"] {
  padding: 0px 0px 0px 24px !important;
}

[class*="gamelistentry_HasContextMenuOpen_"] {
  border: unset !important;
  background-color: transparent !important;
}

[class*="gamelistentry_HasContextMenuOpen_"][class*="gamelistentry_Container_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Selected_"][class*="gamelistentry_Updating_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Updating_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Running_"] {
  color: rgb(var(--color-primary)) !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] [class*="gamelistentry_DownloadDash_"] {
  color: rgb(var(--color-sub)) !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] [class*="gamelistentry_DownloadProgress_"] {
  color: rgb(var(--color-sub)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Uninstalled_"] {
  color: rgb(var(--color-sub)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Selected_"][class*="gamelistentry_Uninstalled_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_Uninstalled_"] {
  color: rgb(var(--color-sub)) !important;
}

/* GAMES LIST CLOUD ERROR SYNC */
[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] svg:not(.SVGIcon_FriendIcon) circle:not(.SVGIcon_ProgressCircle &) {
  stroke: rgb(var(--color-white)) !important;
  fill: rgb(var(--color-white)) !important;
  stroke-width: 12px !important;
  display: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"] svg:not(.SVGIcon_FriendIcon) {
  opacity: 0 !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 24px !important;
}

[class*="gamelistentry_Container_"] [class*="gamelistentry_GameListEntryContainer_"][class*="gamelistentry_CloudError_"] {
  padding-left: 0px !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_CloudOutOfDate_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_CloudError_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_Synchronizing_"] {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] [class*="gamelistentry_Synchronizing_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"] [class*="gamelistentry_Synchronizing_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
}

[class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"] [class*="gamelistentry_CloudError_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"] [class*="gamelistentry_CloudError_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
}

/* GAMES LIST FRIEND STATUS */
[class*="gamelistentry_FriendIsPlaying_"] svg circle, [class*="gamelistentry_FriendIsPlaying_"] svg path {
  fill: rgb(var(--color-primary)) !important;
  opacity: 0 !important;
}

[class*="gamelistentry_FriendIsPlaying_"] {
  background-color: rgb(var(--color-primary)) !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  top: 9px !important;
  left: 9px !important;
}

[class*="gamelistentry_FriendStatusHover_"] {
  color: rgb(var(--color-text)) !important;
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
}

[class*="gamelistentry_FriendStatusHover_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

.gamelistentry_FriendStatusHoverRow_2XyBb .gamelistentry_LabelHolder_3RQJ0 {
  height: 32px !important;
  margin-left: 8px !important;
  padding: 0px !important;
  line-height: 16px !important;
}

[class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_playerName_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamelistentry_FriendStatusHover_"] .ingame.awayOrSnooze [class*="personanameandstatus_richPresenceLabel_"], [class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_richPresenceLabel_"], [class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_richPresenceLabel_"] a, [class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_richPresenceLabel_"] a:hover, [class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_richPresenceLabel_"] a:active, [class*="gamelistentry_FriendStatusHover_"] .ingame [class*="personanameandstatus_richPresenceLabel_"] a:visited {
  color: rgb(var(--color-sub)) !important;
}

/* GAMES LIST SELECTED BAR */
[class*="gamepadui_SteamUIPopupWindowBody_"] div div:not([class*="hoverposition_HoverPositionOuter_"]) [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"]::before {
  position: absolute !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-primary)) !important;
  content: "" !important;
  left: 2px !important;
  background: rgb(var(--color-primary)) !important;
  top: 2px !important;
  z-index: 99 !important;
}

[class*="gamepadui_SteamUIPopupWindowBody_"] div [class*="hoverposition_HoverPositionOuter_"] [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"]::before {
  position: absolute !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-primary)) !important;
  content: "" !important;
  left: 4px !important;
  background: rgb(var(--color-primary)) !important;
  top: 4px !important;
  z-index: 99 !important;
}

/* GAMES LIST HOVER OVERLAY */
[class*="hoverposition_HoverPositionOuter_"] {
}

[class*="hoverposition_HoverPosition_"][class*="hoverposition_Ready_"] {
  background: rgb(var(--color-background)) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"] {
  background: transparent !important;
  border-radius: 0px !important;
  line-height: 24px !important;
  padding-right: 8px !important;
}

[class*="gamepadui_SteamUIPopupHTML_"]:hover [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamepadui_SteamUIPopupHTML_"]:hover [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamepadui_SteamUIPopupHTML_"]:hover [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"] {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="gamepadui_SteamUIPopupHTML_"]:active [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamepadui_SteamUIPopupHTML_"]:active [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"], [class*="gamepadui_SteamUIPopupHTML_"]:active [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"] {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before, [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before, [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after, [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after {
  background: transparent !important;
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before, [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after, [class*="gamelistentry_Selected_"][class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after, [class*="gamelistentry_Selected_"] [class*="gamelistentry_Container_"][class*="gamelistentry_HoverOverlay_"]::after {
  background-image: var(--image-acrylic) !important;
}

[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"] {
  border-radius: 0px !important;
  line-height: 24px !important;
  background: transparent !important;
  padding-right: 8px !important;
}

[class*="gamepadui_SteamUIPopupHTML_"]:hover [class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"] {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="gamepadui_SteamUIPopupHTML_"]:active [class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"] {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"]::before, [class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"]::after {
  background: transparent !important;
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="gamelistsectionheader_Container_"][class*="gamelistsectionheader_HoverOverlay_"]::after {
  background-image: var(--image-acrylic) !important;
}