:root {
  --option-scrollbar-style-width: 16px;
  --option-scrollbar-style-unfocused-button-size: 0px;
  --option-scrollbar-style-unfocused-inner-spacing: 12px;
  --option-scrollbar-style-unfocused-outer-spacing: 2px;
  --option-scrollbar-style-unfocused-end-spacing: 2px;
  --option-scrollbar-style-unfocused-thumb-width: 2px;
  --option-scrollbar-style-unfocused-thumb-radius: 2px;
  --option-scrollbar-style-unfocused-background: var(--zehn-color-scrollbar-unfocused);
  --option-scrollbar-style-unfocused-foreground: var(--zehn-color-scrollbar-thumb-unfocused);
  --option-scrollbar-style-unfocused-foreground-hover: var(--zehn-color-scrollbar-thumb-unfocused-hover);
  --option-scrollbar-style-unfocused-foreground-active: var(--zehn-color-scrollbar-thumb-unfocused-active);
  --option-scrollbar-style-focused-button-size: 16px;
  --option-scrollbar-style-focused-inner-spacing: 0px;
  --option-scrollbar-style-focused-outer-spacing: 0px;
  --option-scrollbar-style-focused-end-spacing: 0px;
  --option-scrollbar-style-focused-thumb-width: 16px;
  --option-scrollbar-style-focused-thumb-radius: 0px;
  --option-scrollbar-style-focused-background: var(--zehn-color-scrollbar-focused);
  --option-scrollbar-style-focused-foreground: var(--zehn-color-scrollbar-thumb-focused);
  --option-scrollbar-style-focused-foreground-hover: var(--zehn-color-scrollbar-thumb-focused-hover);
  --option-scrollbar-style-focused-foreground-active: var(--zehn-color-scrollbar-thumb-focused-active);
}