/* GROUP CHAT SETTINGS */
._3mf9BBKxhIVdrt6nIWBt4x {
  background: var(--zehn-color-window-dialog) !important;
}

.xSTLmzylFJdIfak7ZdhuA {
  background-color: transparent !important;
  padding: 0 !important;
  background: var(--zehn-color-window-panel) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
  backdrop-filter: blur(var(--zehn-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.WindowFocus .xSTLmzylFJdIfak7ZdhuA {
  background-color: var(--zehn-color-acrylic-focus-dialog) !important;
}

.xSTLmzylFJdIfak7ZdhuA::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--zehn-acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.WindowFocus .xSTLmzylFJdIfak7ZdhuA::after {
  opacity: 1 !important;
}

.e600t61ObcLA11pIZAVb9 {
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-28) !important;
  text-transform: capitalize !important;
  letter-spacing: unset !important;
  margin: 0 0 16px 0 !important;
  line-height: 32px !important;
}

._38sRYifM5bHCBBAIeuABUx ._3-e9k12ttwoC0nGNdXyJeV {
  padding: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

._38sRYifM5bHCBBAIeuABUx ._2TJPfQdxYFN81vJw-YW9ok {
  background-color: rgba(var(--zehn-color-accent), 0.4) !important;
  margin: 0 16px 16px 16px !important;
}

._38sRYifM5bHCBBAIeuABUx ._2c3OKW255HvX-X5cpenCgx {
  color: var(--zehn-color-text-secondary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
  width: calc(150px + 32px) !important;
  height: calc(150px + 64px) !important;
  line-height: calc(150px + 64px) !important;
  top: 0 !important;
  box-sizing: border-box;
  pointer-events: none;
}

.GeneralChatSettings {
  margin-left: 0 !important;
  display: grid !important;
  gap: 16px !important;
}

.GeneralChatSettings .DialogLabel {
  line-height: 32px !important;
}

._3t8HxXdv4QoWO7f3awdiCQ .DialogLabel {
  line-height: 32px !important;
}

._2VY6HOZXxO2AsBaLssl0Uy {
  width: auto !important;
}

._2VY6HOZXxO2AsBaLssl0Uy .ContextMenuButton {
  opacity: 0 !important;
  display: none !important;
}

.xSTLmzylFJdIfak7ZdhuA {
  min-width: 160px !important;
  max-width: 200px !important;
}

.xSTLmzylFJdIfak7ZdhuA .uyoPtKbi4K01XGuYF5-C_ {
  color: var(--zehn-color-text-primary) !important;
  padding: 0 !important;
  font-size: var(--zehn-size-12) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  line-height: 32px !important;
  padding-left: 12px !important;
  text-transform: capitalize !important;
}

.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl {
  padding-top: 32px !important;
}

.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-primary) !important;
  margin-bottom: 0 !important;
  height: 40px !important;
  padding: 0 0 0 48px !important;
  min-width: 160px !important;
  text-transform: capitalize !important;
  line-height: 40px !important;
  max-width: 200px !important;
  box-sizing: border-box !important;
  width: 200px !important;
  position: relative !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV::after {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: 16px 12px !important;
  mask-size: 16px !important;
}

.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:hover {
  color: var(--zehn-color-text-primary) !important;
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:active {
  color: var(--zehn-color-text-primary) !important;
  background-color: var(--zehn-color-button-client-background-active) !important;
}

/* GENERAL */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(1)::after {
  -webkit-mask-image: var(--zehn-icon-home) !important;
}

/* CHANNELS */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(2)::after {
  -webkit-mask-image: var(--zehn-icon-channels) !important;
}

.displayColumn.flexShrinkNone {
  margin-bottom: 0 !important;
}

/* PERMISSIONS */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(3)::after {
  -webkit-mask-image: var(--zehn-icon-lock) !important;
}

button.DialogButton.roleButton .roleSubtitle {
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text-secondary) !important;
  font-weight: 400 !important;
}

.roleSubtitle {
  margin: 0 !important;
}

/* INVITE LINKS */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(4)::after {
  -webkit-mask-image: var(--zehn-icon-link) !important;
}

/* INVITED ACCOUNTS */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(5)::after {
  -webkit-mask-image: var(--zehn-icon-account) !important;
}

/* BANS */
.xSTLmzylFJdIfak7ZdhuA .MWzjHR-uqa-svGrdXYfUl ._2YV0m3IRCNOoUV9YhJNFnV:nth-of-type(6)::after {
  -webkit-mask-image: var(--zehn-icon-ban) !important;
}

._2YV0m3IRCNOoUV9YhJNFnV._1DfstUr4tIt3Jdt7Mrxfxo::before {
  position: relative !important;
  width: 0 !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--zehn-color-accent)) !important;
  content: "" !important;
  left: -46px !important;
  background: rgb(var(--zehn-color-accent)) !important;
}

._1NqKTWvxtFgflRlqLTtv7e {
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
  padding: 0 16px 0 16px !important;
  margin-bottom: 0 !important;
  line-height: 40px !important;
  margin-left: 0 !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._1NqKTWvxtFgflRlqLTtv7e:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._1NqKTWvxtFgflRlqLTtv7e:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._1NqKTWvxtFgflRlqLTtv7e:hover ._1NqKTWvxtFgflRlqLTtv7e:active {
 color: var(--zehn-color-text-primary) !important;
}

._1NqKTWvxtFgflRlqLTtv7e svg {
  height: 16px !important;
  width: 16px !important;
  margin-right: 16px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-chat-leave) !important;
}

._1NqKTWvxtFgflRlqLTtv7e svg * {
  stroke: transparent !important;
  fill: transparent !important;
  opacity: 0 !important;
  display: none !important;
}

/* GROUP CHAT CHANNELS */
.Rv511F1U683LQWJLvan2r {
  margin-bottom: 0 !important;
  gap: 16px !important;
}

button.DialogButton.DialogButtonTall {
  height: 32px !important;
  max-width: 100% !important;
  min-width: fit-content !important;
}

.ChatGroupSettingsChannels_Row ._DialogRow {
  background: var(--zehn-color-table-odd) !important;
  color: var(--zehn-color-text-primary) !important;
  margin: 0 0 0 0 !important;
  padding: 0 16px !important;
  line-height: 32px !important;
  height: 32px !important;
  border-radius: 0 !important;
}

.ChatGroupSettingsChannels_Row:nth-child(2n) ._DialogRow {
  background: var(--zehn-color-table-even) !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton {
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
  line-height: 32px !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton:hover {
  color: var(--zehn-color-text-secondary) !important;
}

.ChatGroupSettingsChannels_Row .ChannelDeleteButton:active {
  color: var(--zehn-color-text-tertiary) !important;
}

._DialogRow ._DialogRowSecondaryLabel, ._DialogRow ._DialogRowLabel {
  font-size: var(--zehn-size-14) !important;
  text-align: right !important;
  margin: 0 !important;
  line-height: 32px !important;
}

._DialogRowLabel .HomeChannel {
  font-style: normal !important;
  font-weight: 400 !important;
}

.rolePriorityButton {
  width: 24px !important;
  height: 16px !important;
  background-color: var(--zehn-color-table-odd) !important;
  border-radius: 0 !important;
  margin: 0 !important;
}

.roleList .roleRow {
  background-color: var(--zehn-color-table-odd) !important;
}

.roleList .roleRow:nth-of-type(2n) {
  background-color: var(--zehn-color-table-even) !important;
}

.roleRow:not(:has(.rolePriorityContainer)) .roleSubtitle {
  margin-right: 24px !important;
}

.ChatGroupSettingsChannels_Row:nth-child(2n) .rolePriorityButton {
  background: var(--zehn-color-table-even) !important;
}

.rolePriorityButton.Disabled:active, .rolePriorityButton.Disabled:hover, .rolePriorityButton.Disabled {
  background-color: var(--zehn-color-table-odd) !important;
  opacity: 1 !important;
}

.ChatGroupSettingsChannels_Row:nth-child(2n) .rolePriorityButton.Disabled:active, .ChatGroupSettingsChannels_Row:nth-child(2n) .rolePriorityButton.Disabled:hover, .ChatGroupSettingsChannels_Row:nth-child(2n) .rolePriorityButton.Disabled {
  background: var(--zehn-color-table-even) !important
}

.roleButton.DialogButton, .roleButton.DialogButton:hover, .roleButton.DialogButton:active, .roleButton.DialogButton:disabled, .roleButton.DialogButton.Disabled, .roleButton.DialogButton:enabled:active {
  background: transparent !important;
  outline: none !important;
}

.rolePriorityButton svg {
  fill: var(--zehn-color-icon-primary) !important;
  opacity: 1 !important;
  height: 16px !important;
  width: 24px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-chevron-up) !important;
}

.rolePriorityButton:hover svg {
  opacity: 1 !important;
}

.rolePriorityButton.Disabled svg {
  background-color: var(--zehn-color-icon-tertiary) !important;
  display: block !important;
}

.rolePriorityButton svg *, .rolePriorityButton svg polygon {
  display: none !important;
}

.rolePriorityContainer {
  width: 24px !important;
  height: 32px !important;
}

.rolePriorityContainer .rolePriorityButton.roleDown {
  top: 16px !important;
}

.rolePriorityButton.roleUp svg {
  padding-bottom: 0 !important;
}

.rolePriorityButton.roleDown svg {
  padding-top: 0 !important;
}

.Rv511F1U683LQWJLvan2r .SVGIcon_Button.SVGIcon_TextRoom, .Rv511F1U683LQWJLvan2r .SVGIcon_Button.SVGIcon_VoiceRoom {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.ChatGroupSettingsChannels_Row .SVGIcon_Button.SVGIcon_TextRoom, .ChatGroupSettingsChannels_Row .SVGIcon_Button.SVGIcon_VoiceRoom {
  opacity: 1 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.ChatGroupSettingsChannels_Row .SVGIcon_TextRoom {
  opacity: 1 !important;
  -webkit-mask-image: var(--zehn-icon-chat-bubbles) !important;
}

.ChatGroupSettingsChannels_Row .SVGIcon_VoiceRoom {
  opacity: 1 !important;
  -webkit-mask-image: var(--zehn-icon-volume) !important;
}

/* GROUP CHAT PERMISSIONS */
button.DialogButton.roleButton .SVGIcon_Crown {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  display: none !important;
}

.meKey .SVGIcon_Crown, .meKey .SVGIcon_DialogCheck, button.DialogButton.roleButton .SVGIcon_DialogCheck {
  width: 0 !important;
  height: 0 !important;
  opacity: 0 !important;
  display: none !important;
}

button.DialogButton.roleButton {
  padding: 0 16px !important;
  width: calc(100% - 32px) !important;
}

.roleButton:last-child {
  margin-bottom: 0 !important;
}

button.DialogButton.createNewRoleButton {
  margin-top: 16px !important;
  padding: 0 16px !important;
  height: 32px !important;
}

._29XR1SNMJVrwOTq4Ssc0HJ {
  margin-bottom: 0 !important;
  margin-top: 16px !important;
  min-height: 32px !important;
}

.DialogLabel._DialogLayout.meKey {
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text-secondary) !important;
}

/* INVITED */
.InvitedUsersTable .hoverRow {
  height: 32px !important;
}

/* CREATE CHANNEL */
.CreateChatChannelDialog .DialogInput_Wrapper>input.DialogInput {
  min-width: 100% !important;
}