/* FRIENDS SETTINGS */
.FriendSettingsContainer .DialogHeader {
  padding-bottom: 0px !important;
}

/* PAGELIST */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  padding: 0px 0px 0px 48px !important;
  height: 40px !important;
  font-size: var(--size-14) !important;
  background-repeat: no-repeat !important;
  background-position: 16px 12px !important;
  background-size: auto !important;
  line-height: 40px !important;
}

.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]::before {
  position: relative !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-primary)) !important;
  content: "" !important;
  left: -46px !important;
  background: rgb(var(--color-primary)) !important;
}

/* FRIENDS LIST */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(1) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAx0lEQVQ4jY2SPQ7CMAyFvzLBZcIMlwGVSzHCCXqLjgxd6EFSYHsMOFWImiZPsmTH8d+zkUSF9JImSd50F3wbyuiBLXAAjsAOuM7eiupTXFHS3t6qO0ih2Ggk5T6mI5zNvgEfG6dqhIu1HOAltcFfYjsEd8aDM30yH2nww0hypofgtFAn6Zkm8Anbzlp2CwmC728LjUmMFzAsEDuEv/EWen5HcjL7DrxntnOI2mptjEW2cxKvyq+xXUowrrA91iQosp2TmlNexReqzR1Arc+P+QAAAABJRU5ErkJggg==') !important;
}

/* CHAT */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(2) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAY0lEQVQ4je2SsQ2AMAwEn4gFGI4Vsv8GR2EswAIryAUNL7mJ85dY/glQRbOkGoHCFwBa6XVJP8DWOKSnZX0/QpMsEB4ooHMjWWJjHdrvubmfztOKAIA1gF8BLuYRkDeXzJxpAwI8nMFPDvUkAAAAAElFTkSuQmCC') !important;
}

/* SIZE & SCALING */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(3) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAmElEQVQ4jbVTwQ2EMAxz2OB2OkZgBXZils7AKmUE8yBB5eT2RBH+NFUTO7FSI4nXQfLLA1MvQXKC1EuQSS4kc0/xFIVOdG8Mbz/9xipRGlWqlt3UlC5GqYLqGMoo1bIco2aUxwqnyODnDGD1eAUwB4kJhCgAxCUD+BRNbUFoZqPy63xrGFVd3UtNw6jm1oVX9vQ3Dv9T2tgBDMj/W55/6uIAAAAASUVORK5CYII=') !important;
}

/* NOTIFICATIONS */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(4) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbklEQVQ4jdWT0Q6AIAhFsfmx2gfV554eskYFNeWpuzFRuFfQkQCJILd1VCVlvekkIyIyDd58IhtnX+1cKrUEulr5RwWvguEKwt+oBbhZVbFixBsLLJvZUYGi/EeuJ6BFXDJgPuKBRfmrl5Si47wBPq97M9DDTq4AAAAASUVORK5CYII=') !important;
}

/* VOICE */
.FriendSettingsContainer [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(5) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAiklEQVQ4je2TWwqDMBRET6RL0DXoauPq3ERLUbuB6U8Rc50g/fDPgcDNZTLkdZBEGFle2XhJkggS0ALvXa8DnkCK5lrAwVjrN8b4l+6AMuDwHBUVvsuO0J7MNz129Qr0wAi8jDcDA/ApuoGBSVLv/vyvP0UmHEhzBabFAeVYKDaI58LeQVwYaxv0BUr/uAMs4C7eAAAAAElFTkSuQmCC') !important;
}

/* CHAT */
.DialogToggle_Description {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
}

.FriendSettingsContainer .SettingsGroup > ._DialogInputContainer._DialogLayout:not(.DialogToggleField) {
  outline: unset !important;
  padding: 0px !important;
}

.FriendSettingsContainer .SettingsGroup > ._DialogInputContainer._DialogLayout:not(.DialogToggleField):hover, .FriendSettingsContainer .SettingsGroup > ._DialogInputContainer._DialogLayout:not(.DialogToggleField):active {
  outline: unset !important;
}

.DialogToggleField._DialogInputContainer._DialogLayout {
  display: flex !important;
  flex-direction: row !important;
  gap: 16px !important;
}

/* SCALING */
.friendSettingsSubheader {
  margin-top: 0px !important;
}

.FriendSettingsContainer .SettingsGroup>* {
  margin-bottom: 0px !important;
}

.FriendsSettingsChatFontSizeSection_ButtonRow {
  margin-top: 0px !important;
}

button.DialogButton.smallFontSetting.Primary, button.DialogButton.defaultFontSetting.Primary, button.DialogButton.largeFontSetting.Primary {
  background-color: rgb(var(--color-primary)) !important;
}

.friendSettingsSubheader {
  line-height: 18px !important;
  font-size: var(--size-14) !important;
}

.friendSettingsSubheader::after {
  content: ":" !important;
}

/* NOTIFICATIONS */
.FriendsSettingsFlashSection {
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.FriendsSettingsFlashSection_ButtonRow {
  padding: 0px !important;
  background-color: transparent !important;
}

.FriendsSettingsFlashSection_Header {
  line-height: 18px !important;
  font-size: var(--size-14) !important;
}

/* NICKNAME */
.VoiceSettings > ._FixedHeight {
  padding-bottom: 0px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.voiceSelfHeader {
  margin-bottom: 0px !important;
}

.voiceMicTestContainer {
  padding: 0px !important;
  background-color: transparent !important;
}

.voiceSelfDirections {
  background-color: transparent !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  padding: 0px !important;
}

.voiceSelfDirections .friend {
  margin-right: auto !important;
}

.LocalMicTestButton {
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 32px !important;
}

.voiceSelfHeader .friend .avatarHolder .avatarStatus {
  width: 100% !important;
  right: unset !important;
  left: 0px !important;
  background: rgb(var(--color-primary)) !important;
}

.FriendSettingsContainer .DialogTwoColLayout._DialogColLayout.DialogLabelStrong.Panel.Focusable {
  flex-direction: column !important;
}

.DialogSlider_Container {
  padding: 0px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;;
}

.DialogSlider_Container .DialogLabel {
  font-size: var(--size-14) !important;
}

.DialogLabelExplainer {
  margin: 0px !important;
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  /* display: none !important; */
}

.DialogSlider_Slider {
  background: rgba(var(--color-white), 0.4) !important;
  border-radius: 0px !important;
  height: 2px !important;
  border: unset !important;
  margin-right: 8px !important;
}

.DialogSlider_Slider::after {
  background: rgba(var(--color-white), 0.4) !important;
  width: 8px !important;
  height: 2px !important;
}

.DialogSlider_Value {
  background: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
}

.DialogSlider_Grabber {
  top: -10px !important;
  bottom: 0px !important;
  right: 8px !important;
  margin-left: 0px !important;
  width: 8px !important;
  height: 24px !important;
  background: rgb(var(--color-primary)) !important;
  border-radius: 1337px !important;
  width: 8px !important;
  height: 24px !important;
}