/* MILLENNIUM PLUGINS */
.Moi6v1N2diR_-8AdV3vok.DesktopUI, .DesktopUI .Moi6v1N2diR_-8AdV3vok, .Moi6v1N2diR_-8AdV3vok {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  margin: 0 !important;
  line-height: normal !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div {
  gap: 16px !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout {
  padding: 0 !important;
  height: 32px !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout:not(:has(svg)) {
  padding: 0 16px !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout svg {
  height: 32px !important;
  width: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout svg:has([d="M18 4C10.575 4 4.5 10.075 4.5 17.5H0L6.75 26.5L13.5 17.5H9C9 12.505 13.005 8.5 18 8.5V4ZM29.25 8.5L22.5 17.5H27C27 22.495 22.995 26.5 18 26.5V31C25.425 31 31.5 24.925 31.5 17.5H36L29.25 8.5Z"]) {
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout svg:has([d="M 8.5 8 C 6.019 8 4 10.019 4 12.5 L 4 18 L 16.052734 18 C 16.636734 18 17.202344 17.793922 17.652344 17.419922 L 23.5 12.546875 L 19.572266 9.2734375 C 18.586266 8.4524375 17.336734 8 16.052734 8 L 8.5 8 z M 27.644531 13 L 19.572266 19.724609 C 18.585266 20.546609 17.336734 21 16.052734 21 L 4 21 L 4 35.5 C 4 37.981 6.019 40 8.5 40 L 39.5 40 C 41.981 40 44 37.981 44 35.5 L 44 17.5 C 44 15.019 41.981 13 39.5 13 L 27.644531 13 z"]) {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

.millennium-settings ._2o2fXzn99OddeqZMjbDuxQ > div > button.DialogButton._DialogLayout svg * {
  display: none !important;
}

.millenniumPluginField {
  background: transparent !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.pluginNameContainer .pluginStatusDot {
  background-color: var(--zehn-color-icon-primary) !important;
}

.pluginNameContainer #pluginStatusDot-0 {
  background-color: rgb(var(--zehn-color-accent)) !important;
}

.pluginNameContainer #pluginStatusDot-1 {
  background-color: var(--zehn-color-icon-tertiary) !important;
}

/* MILLENNIUM SKINS */
._1aw7cA3mAZfWt8idAlVJWi {
  gap: 16px !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer, ._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer.Panel.Focusable {
  min-width: 300px !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer.Panel.Focusable {
  order: 1 !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton {
  padding: 0 !important;
  max-height: 32px !important;
  order: 2 !important;
  min-width: 32px !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton svg {
  height: 32px !important;
  width: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton svg * {
  display: none !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton svg:has([d="M33 20.38V15.62L29.07 14.9C28.8121 14.015 28.453 13.1628 28 12.36L30.27 9.08L26.92 5.71L23.64 8C22.8372 7.54696 21.985 7.18793 21.1 6.93L20.38 3H15.62L14.9 6.93C14.015 7.18793 13.1628 7.54696 12.36 8L9.08 5.71L5.71 9.08L8 12.36C7.54696 13.1628 7.18793 14.015 6.93 14.9L3 15.62V20.38L6.93 21.1C7.18793 21.985 7.54696 22.8372 8 23.64L5.71 26.92L9.08 30.29L12.36 28C13.1637 28.4461 14.0159 28.7984 14.9 29.05L15.62 33H20.38L21.1 29.07C21.985 28.8121 22.8372 28.453 23.64 28L26.92 30.27L30.29 26.9L28 23.64C28.4461 22.8363 28.7984 21.9841 29.05 21.1L33 20.38ZM18 23C17.0111 23 16.0444 22.7068 15.2221 22.1573C14.3999 21.6079 13.759 20.827 13.3806 19.9134C13.0022 18.9998 12.9031 17.9945 13.0961 17.0245C13.289 16.0546 13.7652 15.1637 14.4645 14.4645C15.1637 13.7652 16.0546 13.289 17.0245 13.0961C17.9945 12.9031 18.9998 13.0022 19.9134 13.3806C20.827 13.759 21.6079 14.3999 22.1573 15.2221C22.7068 16.0444 23 17.0111 23 18C23 18.6566 22.8707 19.3068 22.6194 19.9134C22.3681 20.52 21.9998 21.0712 21.5355 21.5355C21.0712 21.9998 20.52 22.3681 19.9134 22.6194C19.3068 22.8707 18.6566 23 18 23Z"]) {
  -webkit-mask-image: var(--zehn-icon-edit) !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton svg:has([d="M18 3C15.0333 3 12.1332 3.87973 9.66645 5.52796C7.19971 7.17618 5.27712 9.51886 4.14181 12.2597C3.00649 15.0006 2.70944 18.0166 3.28822 20.9264C3.867 23.8361 5.29561 26.5088 7.3934 28.6066C9.49119 30.7044 12.1639 32.133 15.0736 32.7118C17.9834 33.2906 20.9994 32.9935 23.7402 31.8582C26.4811 30.7229 28.8238 28.8003 30.472 26.3336C32.1203 23.8668 33 20.9667 33 18C33 16.0302 32.612 14.0796 31.8582 12.2597C31.1044 10.4399 29.9995 8.78628 28.6066 7.3934C27.2137 6.00052 25.5601 4.89563 23.7402 4.14181C21.9204 3.38799 19.9698 3 18 3ZM20.5 26H15.5V16H20.5V26ZM18 14C17.4067 14 16.8266 13.8241 16.3333 13.4944C15.8399 13.1648 15.4554 12.6962 15.2284 12.1481C15.0013 11.5999 14.9419 10.9967 15.0576 10.4147C15.1734 9.83279 15.4591 9.29824 15.8787 8.87868C16.2982 8.45912 16.8328 8.1734 17.4147 8.05764C17.9967 7.94189 18.5999 8.0013 19.148 8.22836C19.6962 8.45542 20.1648 8.83994 20.4944 9.33329C20.8241 9.82664 21 10.4067 21 11C21 11.7956 20.6839 12.5587 20.1213 13.1213C19.5587 13.6839 18.7956 14 18 14Z"]) {
  -webkit-mask-image: var(--zehn-icon-info) !important;
}

._1aw7cA3mAZfWt8idAlVJWi ._3epr8QYWw_FqFgMx38YEEm.millenniumIconButton svg:has([d="M 8.5 8 C 6.019 8 4 10.019 4 12.5 L 4 18 L 16.052734 18 C 16.636734 18 17.202344 17.793922 17.652344 17.419922 L 23.5 12.546875 L 19.572266 9.2734375 C 18.586266 8.4524375 17.336734 8 16.052734 8 L 8.5 8 z M 27.644531 13 L 19.572266 19.724609 C 18.585266 20.546609 17.336734 21 16.052734 21 L 4 21 L 4 35.5 C 4 37.981 6.019 40 8.5 40 L 39.5 40 C 41.981 40 44 37.981 44 35.5 L 44 17.5 C 44 15.019 41.981 13 39.5 13 L 27.644531 13 z"]) {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

._1aw7cA3mAZfWt8idAlVJWi .DialogDropDown._DialogInputContainer {
  flex-grow: 1 !important;
}

/* MILLENNIUM UPDATES */
.__up-to-date-header {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-secondary) !important;
  margin: unset !important;
}

.__up-to-date-container > svg {
  display: none !important;
}

._3jMlJm4PQCA8SfNlUR99Fo > div {
  gap: 8px !important;
}

.update-item-type {
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  color: var(--zehn-color-text-primary) !important;
  line-height: 32px !important;
  padding: 0 !important;
  background: transparent !important;
  border-radius: 0 !important;
}

._1aw7cA3mAZfWt8idAlVJWi > div {
  gap: 16px !important;
}

.Moi6v1N2diR_-8AdV3vok * {
  font-weight: 400 !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-button-dialog-background) !important;
  color: var(--zehn-color-text-primary) !important;
  padding: 0 !important;
  min-width: 32px !important;
  outline: 2px solid var(--zehn-color-button-dialog-border) !important;
  outline-offset: -2px !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton:hover {
  background-color: var(--zehn-color-button-dialog-background-hover) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-hover) !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton:active {
  background-color: var(--zehn-color-button-dialog-background-active) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-active) !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-update) !important;
  position: absolute !important;
  left: 0 !important;
}

.DialogHeader ._3epr8QYWw_FqFgMx38YEEm.DialogButton svg * {
  display: none !important;
}

/* ABOUT DIALOG */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically {
  justify-content: flex-start !important;
}

.DialogHeader > p {
  font-size: var(--zehn-size-12) !important;
}

.\.flex-btn-container {
  gap: 16px !important;
}

/* PAGELIST - PLUGINS */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M18.3,17.3L15,20.6L11.4,17l3.3-3.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L10,15.6l-1.3-1.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4 L7.6,16l-2.8,2.8C3.6,19.9,3,21.4,3,23c0,1.3,0.4,2.4,1.1,3.5l-2.8,2.8c-0.4,0.4-0.4,1,0,1.4C1.5,30.9,1.7,31,2,31s0.5-0.1,0.7-0.3 l2.8-2.8C6.5,28.6,7.7,29,9,29c1.6,0,3.1-0.6,4.2-1.7l2.8-2.8l0.3,0.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3 c0.4-0.4,0.4-1,0-1.4L16.4,22l3.3-3.3c0.4-0.4,0.4-1,0-1.4S18.7,16.9,18.3,17.3z"]) {
  -webkit-mask-image: var(--zehn-icon-puzzle) !important;
}

/* PAGELIST - THEMES */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M16.63,6.4A23.508,23.508,0,0,0,2.683,37.268c.031.063.052.125.083.188a8.935,8.935,0,0,0,15.662,1.526A16.713,16.713,0,0,1,26.165,32.7c.1-.04.2-.07.3-.107a6.186,6.186,0,0,1,3.859-3.453,4.865,4.865,0,0,1,.451-2.184l7.9-17.107A23.554,23.554,0,0,0,16.63,6.4ZM10.5,32.5a4,4,0,1,1,4-4A4,4,0,0,1,10.5,32.5Zm5-11.5a4,4,0,1,1,4-4A4,4,0,0,1,15.5,21Zm12-3.5a4,4,0,1,1,4-4A4,4,0,0,1,27.5,17.5Z"]) {
  -webkit-mask-image: var(--zehn-icon-color) !important;
}

/* PAGELIST - UPDATES */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M18 4C10.575 4 4.5 10.075 4.5 17.5H0L6.75 26.5L13.5 17.5H9C9 12.505 13.005 8.5 18 8.5V4ZM29.25 8.5L22.5 17.5H27C27 22.495 22.995 26.5 18 26.5V31C25.425 31 31.5 24.925 31.5 17.5H36L29.25 8.5Z"]) {
  -webkit-mask-image: var(--zehn-icon-update) !important;
}

/* PAGELIST - REPORT BUG */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M18 4.15002C16.4087 4.15002 14.8826 4.78217 13.7574 5.90738C12.6321 7.0326 12 8.55872 12 10.15H24C24 8.55872 23.3679 7.0326 22.2426 5.90738C21.1174 4.78217 19.5913 4.15002 18 4.15002Z"]) {
  -webkit-mask-image: var(--zehn-icon-bug) !important;
}

/* PAGELIST - LOGS */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M21.8231 11.9293C21.8231 11.2176 22.4001 10.6406 23.1118 10.6406H28.7175C30.5561 10.6406 32.0466 12.1311 32.0466 13.9697V26.9697C32.0466 28.8083 30.5561 30.2988 28.7175 30.2988H11.6338C9.79517 30.2988 8.30469 28.8083 8.30469 26.9697V21.8365C8.30469 21.1248 8.88165 20.5478 9.59336 20.5478C10.3051 20.5478 10.882 21.1248 10.882 21.8365V26.9697C10.882 27.3849 11.2186 27.7214 11.6338 27.7214H28.7175C29.1327 27.7214 29.4693 27.3849 29.4693 26.9697V13.9697C29.4693 13.5545 29.1327 13.218 28.7175 13.218H23.1118C22.4001 13.218 21.8231 12.641 21.8231 11.9293Z"]) {
  -webkit-mask-image: var(--zehn-icon-stats) !important;
}

/* PAGELIST - SETTINGS */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO.millennium-settings ._1-vlriAtKYDViAEunue4VO ._1rD8X96FdnksZLvRRlEiCR svg:has([d="M33 20.38V15.62L29.07 14.9C28.8121 14.015 28.453 13.1628 28 12.36L30.27 9.08L26.92 5.71L23.64 8C22.8372 7.54696 21.985 7.18793 21.1 6.93L20.38 3H15.62L14.9 6.93C14.015 7.18793 13.1628 7.54696 12.36 8L9.08 5.71L5.71 9.08L8 12.36C7.54696 13.1628 7.18793 14.015 6.93 14.9L3 15.62V20.38L6.93 21.1C7.18793 21.985 7.54696 22.8372 8 23.64L5.71 26.92L9.08 30.29L12.36 28C13.1637 28.4461 14.0159 28.7984 14.9 29.05L15.62 33H20.38L21.1 29.07C21.985 28.8121 22.8372 28.453 23.64 28L26.92 30.27L30.29 26.9L28 23.64C28.4461 22.8363 28.7984 21.9841 29.05 21.1L33 20.38ZM18 23C17.0111 23 16.0444 22.7068 15.2221 22.1573C14.3999 21.6079 13.759 20.827 13.3806 19.9134C13.0022 18.9998 12.9031 17.9945 13.0961 17.0245C13.289 16.0546 13.7652 15.1637 14.4645 14.4645C15.1637 13.7652 16.0546 13.289 17.0245 13.0961C17.9945 12.9031 18.9998 13.0022 19.9134 13.3806C20.827 13.759 21.6079 14.3999 22.1573 15.2221C22.7068 16.0444 23 17.0111 23 18C23 18.6566 22.8707 19.3068 22.6194 19.9134C22.3681 20.52 21.9998 21.0712 21.5355 21.5355C21.0712 21.9998 20.52 22.3681 19.9134 22.6194C19.3068 22.8707 18.6566 23 18 23Z"]) {
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

/* COLOR PICKER */
._1aw7cA3mAZfWt8idAlVJWi input.colorPicker, ._2o2fXzn99OddeqZMjbDuxQ input.colorPicker {
  margin: 0 !important;
  border: unset !important;
  min-width: 64px !important;
  min-height: 32px !important;
  width: 64px !important;
  height: 32px !important;
  background: transparent !important;
  padding: unset !important;
}

._1aw7cA3mAZfWt8idAlVJWi input.colorPicker:hover, ._2o2fXzn99OddeqZMjbDuxQ input.colorPicker:hover {
  outline: 2px solid rgb(var(--zehn-color-negative)) !important;
  outline-offset: -2px !important;
}

input[type="color"] {
	-webkit-appearance: none !important;
	border: none !important;
	width: 48px !important;
	height: 48px !important;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0 !important;
}

input[type="color"]::-webkit-color-swatch {
	border: none !important;
}

/* ZEHN BUTTONS */
.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO {
  position: relative !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO ._2PPbMrzl8PKBwpkjYs9b0i {
  padding-left: 32px !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: 16px 12px !important;
  mask-size: 16px !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(1)::after {
  -webkit-mask-image: var(--zehn-icon-theme) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(2)::after {
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(3)::after {
  -webkit-mask-image: var(--zehn-icon-search) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(4)::after {
  -webkit-mask-image: var(--zehn-icon-library) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:nth-of-type(5)::after {
  -webkit-mask-image: var(--zehn-icon-chat) !important;
}

.LegacyPopup .MzjwfxXSiSauz8kyEuhYO:not(.millennium-settings) ._1-vlriAtKYDViAEunue4VO:last-of-type::after {
  -webkit-mask-image: var(--zehn-icon-color) !important;
}

/* UPDATE AVAILABLE */
.DialogFooter:has(.UpdateLinksContainer) .DialogTwoColLayout._DialogColLayout {
  flex-direction: column !important;
}

.UpdateLinksContainer {
  gap: 16px !important;
  justify-content: flex-start !important;
}

.viewDiffLink, .viewDownloadInfo {
  padding: 0 !important;
  margin: 0 !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  justify-content: flex-start !important;
}