/* BASE */
.client_chat_frame body, .web_chat_frame body {
  background: transparent !important;
}

/* BACKGROUND DARKENING */
.ModalOverlayBackground {
  background: rgba(var(--color-black), 0.8) !important;
}

/* BORDER */
.PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss):not(.DialogContent) {
  border: 1px solid rgba(var(--color-white), 0.1) !important;
  min-height: 0px !important;
  min-width: 0px !important;
}

.WindowFocus .PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss):not(.DialogContent) {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not([class*="pagedsettings_PagedSettingsDialog_PageContent_"]) {
  border: 1px solid rgba(var(--color-white), 0.1) !important;
}

.WindowFocus .ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not([class*="pagedsettings_PagedSettingsDialog_PageContent_"]) {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not([class*="pagedsettings_PagedSettingsDialog_PageContent_"]):not(.GenericConfirmDialog) {
}

.FullModalOverlay .ModalPosition_Content {
}

.ModalDialogPopup .ModalDialogBody:not([class*="steamdesktopoverlay_OverlayPopupBody_"]):not([class*="gamepadui_GamepadUIPopupWindowBody_"]) .title-area, .ModalDialogPopup .ModalDialogBody[class*="steamdesktopoverlay_OverlayPopupBody_"] .GameNotes .title-area {
  margin-right: 1px !important;
  margin-top: 1px !important;
}

[class*="settings_SettingsModalRoot_"] .ModalPosition_Content {
}

[class*="settings_SettingsModalRoot_"] [class*="settings_SettingsModal_"] {
  width: auto !important;
  height: 722px !important;
}

/* TOPBAR */
.ModalPosition_TopBar {
  min-height: 0px !important;
  display: none !important;
  background: transparent !important;
}

.DialogContent, .DialogContentTransition {
  background: rgb(var(--color-settings)) !important;
}

/* TEXT */
.ModalPosition_Content {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-primary)) !important;
}

.ModalDialogPopup .DialogContent_InnerWidth [class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"]:not(:last-child) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.ModalDialogPopup .DialogContent_InnerWidth [class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"]:last-child {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

[class*="gamepaddialog_WithBottomSeparatorStandard_"] {
   display: flex !important;
   gap: 16px !important;
   flex-direction: column !important;
 }

[class*="gamepaddialog_WithBottomSeparatorStandard_"][class*="gamepaddialog_WithFirstRow_"] {
  gap: 0px !important;
}

/* TITLE */
[class*="pagedsettings_PagedSettingsDialog_Title_"] {
  color: rgb(var(--color-primary)) !important;
  padding: 16px !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
  line-height: 32px !important;
  text-transform: capitalize !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  min-height: 64px !important;
  box-sizing: border-box !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogHeader.DesktopUI, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogHeader {
  margin-top: 0px !important;
}

[class*="settings_SettingsDialogSubHeader_"].DesktopUI, .DesktopUI [class*="settings_SettingsDialogSubHeader_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  text-transform: none !important;
  margin-bottom: 0px !important;
}

[class*="notificationssettings_NotificationListSection_"] [class*="notificationssettings_Subheader_"] {
  text-transform: none !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  padding-top: 0px !important;
  margin-top: 16px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Title_"] {
  font-weight: 400 !important;
  line-height: 40px !important;
  height: 40px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 16px !important;
}

/* LIST COLUMN */
[class*="pagedsettings_PagedSettingsDialog_PageList_"] {
  padding-bottom: 0px !important;
  overflow-x: hidden !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] {
  padding-top: 0px !important;
  min-width: 200px !important;
  max-width: 200px !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  /* backdrop-filter: blur(var(--option-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  height: calc(100vh - 2px) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::before, [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: none !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListColumn_"]::after {
  background-image: var(--image-acrylic) !important;
}

/* LIST ITEMS */
[class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"] {
  background-color: transparent !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] {
  color: rgb(var(--color-white)) !important;
  max-width: unset !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:hover {
  color: rgb(var(--color-white)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:active {
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"].DesktopUI, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"] {
  color: transparent !important;
  height: 16px !important;
  width: 16px !important;
  margin-right: 16px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:not([class*="pagedsettings_Active_"]):hover [class*="pagedsettings_PageListItem_Icon_"] {
  color: transparent !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:not([class*="pagedsettings_Active_"]):hover [class*="pagedsettings_PageListItem_Icon_"] {
  color: transparent !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageListItem_"][class*="pagedsettings_Active_"]::before {
  position: relative !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  content: "" !important;
  left: -14px !important;
  background: rgb(var(--color-accent)) !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* LIST ICONS */
[class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"] svg {
  width: 16px !important;
  height: 16px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

[class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"] svg rect, [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"] [class*="pagedsettings_PageListItem_Icon_"] svg path {
  display: none;
}

/* LIST ICONS - ACCOUNT */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(1) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-contact-info) !important;
}

/* LIST ICONS - FRIENDS */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(2) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(3) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-people) !important;
}

/* LIST ICONS - FAMILY */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(3) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-group) !important;
}

/* LIST ICONS - SECURITY */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(4) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-shield) !important;
}

/* LIST ICONS - NOTIFICATIONS */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(6) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-notification) !important;
}

/* LIST ICONS - INTERFACE */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(7) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(2) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-display) !important;
}

/* LIST ICONS - LIBRARY */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(8) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-library) !important;
}

/* LIST ICONS - DOWNLOADS */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(9) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-download) !important;
}

/* LIST ICONS - STORAGE */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(10) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-harddrive) !important;
}

/* LIST ICONS - CLOUD */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(11) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-cloud) !important;
}

/* LIST ICONS - IN GAME */
.fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(12) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(1) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-picture) !important;
}

/* LIST ICONS - COMPATIBILITY */
.Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(13) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-compatibility) !important;
}

/* LIST ICONS - CONTROLLER */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(14) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(15) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-controller) !important;
}

/* LIST ICONS - VOICE */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(15) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(16) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(4) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-mic) !important;
}

/* LIST ICONS - REMOTE PLAY */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(16) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(17) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-controller-split) !important;
}

/* LIST ICONS - BROADCAST */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(17) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(18) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(6) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-video) !important;
}

/* LIST ICONS - MUSIC */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(18) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(19) [class*="pagedsettings_PageListItem_Icon_"] svg,
.fullheight[class*="steamdesktopoverlay_OverlayPopupBody_"] [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(5) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-audio) !important;
}

/* LIST ICONS - DEVELOPER */
.Windows .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(19) [class*="pagedsettings_PageListItem_Icon_"] svg, .Linux .fullheight:not([class*="steamdesktopoverlay_OverlayPopupBody_"]) [class*="pagedsettings_PagedSettingsDialog_"] [class*="pagedsettings_PagedSettingsDialog_PageListItem_"]:nth-of-type(20) [class*="pagedsettings_PageListItem_Icon_"] svg {
  background-image: var(--icon-developer) !important;
}

/* SEPARATORS */
[class*="pagedsettings_PageListSeparator_"] {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_WithBottomSeparatorStandard_"]::after {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

[class*="notificationssettings_NotificationGroup_"] {
  border-bottom: unset;
}

/* SETTINGS BODY */
[class*="pagedsettings_PagedSettingsDialog_PageContent_"].DesktopUI .DialogBody, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogBody {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 16px !important;
}

/* STEAM GUARD */
[class*="desktopsecuritysettings_SteamGuardIcon_"] {
  display: none !important;
  color: transparent !important;
  width: 24px !important;
  height: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-shield) !important;
}

[class*="desktopsecuritysettings_SteamGuardIcon_"][class*="desktopsecuritysettings_EnabledTwoFactor_"] {
  color: transparent !important;
  background-image: var(--icon-shield) !important;
}

/* DESCRIPTION */
[class*="gamepaddialog_FieldDescription_"].DesktopUI, .DesktopUI [class*="gamepaddialog_FieldDescription_"], [class*="gamepaddialog_FieldDescription_"] {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  width: 100% !important;
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

[class*="gamepaddialog_FieldLabel_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

[class*="gamepaddialog_Field_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 0px !important;
}

/* NICKNAME */
[class*="friendssettings_FakeFriend_"] {
  font-weight: 400 !important;
  gap: 8px !important;
  margin-top: 0px !important;
  margin-bottom: 16px !important;
  display: none !important;
}

/* DEFERRED SETTING */
[class*="deferredsettinglabel_DeferredSettingLabel_"] [class*="deferredsettinglabel_Icon_"] {
  position: absolute !important;
  color: transparent !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-info) !important;
}

[class*="deferredsettinglabel_DeferredSettingLabel_"] > .Focusable {
  height: 32px !important;
  width: 32px !important;
}

[class*="deferredsettinglabel_DeferredSettingLabel_"] {
  gap: 8px !important;
  direction: rtl !important;
}

/* NOTIFICATION SETTINGS */
[class*="notificationssettings_NotificationSection_"] {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

[class*="notificationssettings_NotificationSection_"] [class*="notificationssettings_NotificationFeedToggle_"] {
  margin-right: 8px !important;
  display: flex !important;
  order: 2 !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_CompactPadding_"] {
  padding: 0px !important;
}

[class*="notificationssettings_NotificationListSection_"] {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

[class*="notificationssettings_NotificationDescription_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  order: 1 !important;
  margin: 0px !important;
  line-height: 32px !important;
  min-width: 100% !important;
}

[class*="notificationssettings_NotificationGroupExpanded_"] {
  background-color: transparent !important;
}

[class*="notificationssettings_NotificationPrefDetails_"] {
  background-color: transparent !important;
}

[class*="notificationssettings_PrefDetailsToggle_"] {
  line-height: 38px !important;
  height: 38px !important;
  width: 38px !important;
  background-color: transparent !important;
}

[class*="notificationssettings_PrefDetailsToggle_"] {
  order: 3 !important;
}

[class*="notificationssettings_PrefDetailsToggle_"].DialogButton {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

[class*="notificationssettings_PrefDetailsToggle_"] svg {
  height: 38px !important;
  width: 38px !important;
  margin-top: 0px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

[class*="notificationssettings_ToggleHeader_"][class*="notificationssettings_ToggleHeader_"] {
  line-height: unset !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.DialogToggleField._DialogInputContainer._DialogLayout {
  display: flex !important;
  flex-direction: column !important;
  gap: 0px !important;
}

.alignSelfCenter {
  align-self: baseline !important;
}

.DialogContent .DialogControlsSection {
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.DialogContent .DialogControlsSection > .Panel:not([class*="radio_Group_"]) {
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogContent .DialogControlsSection:not(:last-child) {
  margin-bottom: 0px !important;
}

.DialogContent .DialogControlsSection:not(:first-child), .DialogContent .DialogControlsSectionHeader:not(:first-child), .DialogContent .DialogHeader:not(:first-child), .DialogContent .DialogSubHeader:not(:first-child) {
  margin-top: 0px !important;
}

.DialogControlsSection:not(:last-child) {
  margin-bottom: 0px !important;
}

.DialogControlsSectionHeader:not(:last-child) {
  margin-bottom: 0px !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_ExtraPaddingOnChildrenBelow_"] {
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* SUB HEADER */
div:not(:first-child) > .DialogSubHeader {
  margin-top: 16px !important;
}

/* SLIDER */
[class*="gamepadslider_SliderTrack_"] {
  --left-track-color: rgb(var(--color-accent)) !important;
  background: rgba(var(--color-white), 0.4) !important;
  border-radius: 0px !important;
  height: 2px !important;
}

[class*="gamepadslider_SliderTrack_"]:hover {
  background: rgba(var(--color-white), 0.6) !important;
}

[class*="gamepadslider_SliderTrack_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
}

[class*="gamepadslider_SliderTrack_"]::before {
  border-radius: 0px !important;
}

[class*="gamepadslider_SliderHandle_"] {
  width: 8px !important;
  height: 24px !important;
  border-radius: 1337px !important;
  background: rgb(var(--color-accent)) !important;
}

[class*="gamepadslider_SliderControl_"]:hover [class*="gamepadslider_SliderHandle_"] {
  background: rgb(var(--color-white)) !important;
}

[class*="gamepadslider_SliderControl_"]:active [class*="gamepadslider_SliderHandle_"] {
  background: rgb(var(--color-contextmenu-border)) !important;
}

[class*="gamepadslider_SliderHandleContainer_"] {
  transform: translateX(calc(-100% * var(--inverse-normalized-value) + 8px * var(--inverse-normalized-value))) !important;
}

[class*="gamepadslider_DefaultValueTickContainer_"] {
  transform: translateX(calc(-100% * var(--inverse-normalized-default-value) + 4px * var(--inverse-normalized-default-value))) translateY(17px) !important;
}

[class*="gamepadslider_SliderControlAndNotches_"][class*="gamepadslider_WithDefaultValue_"] {
  padding-top: 0px !important;
}

[class*="gamepadslider_DefaultValueTick_"] {
  width: 1px !important;
  height: 4px !important;
}

[class*="gamepadslider_DefaultValueTick_"]::before {
  position: absolute !important;
  content: "" !important;
  left: 0px !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  background: rgba(var(--color-white), 0.4) !important;
}

[class*="gamepadslider_DefaultValueTick_"]>svg {
  width: 1px !important;
  margin-top: 0px !important;
  color: rgba(var(--color-white), 0.4) !important;
  opacity: 0 !important;
}

/* FADE */
[class*="settings_SettingsDialogBodyFade_"].DesktopUI, .DesktopUI [class*="settings_SettingsDialogBodyFade_"] {
  -webkit-mask-image: none !important;
  padding-top: 0px !important;
  padding-bottom: 16px !important;
  gap: 16px !important;
}

/* CONTEXT MENU */
.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::before, .client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup[class*="settings_SettingsModalRoot_"] [class*="contextmenu_contextMenuContents_"]::after {
  background-image: var(--image-acrylic) !important;
}

/* INTERFACE */
[class*="settings_SettingsDialogBodyFade_"]>div {
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_ChildrenWidthFixed_"] [class*="gamepaddialog_FieldChildrenInner_"].DesktopUI, .DesktopUI [class*="gamepaddialog_Field_"][class*="gamepaddialog_ChildrenWidthFixed_"] [class*="gamepaddialog_FieldChildrenInner_"] {
  min-width: 300px !important;
}

/* LIBRARY */
[class*="librarysettings_ActionSection_"] {
  gap: 16px !important;
}

[class*="librarysettings_LibrarySettings_"] .DialogControlsSection {
}

[class*="librarysettings_DescriptionText_"].DesktopUI, .DesktopUI [class*="librarysettings_DescriptionText_"] {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

/* STORAGE */
[class*="contentmanagement_AppActionBar_"].DesktopUI, .DesktopUI [class*="contentmanagement_AppActionBar_"] {
  padding: 0px !important;
}

[class*="contentmanagement_InPagedSettings_"] [class*="contentmanagement_LibraryContent_"] {
  gap: 16px !important;
}

[class*="contentmanagement_AppsGrid_"] {
  margin-top: 0px !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppUsageText_"] {
  color: rgb(var(--color-secondary)) !important;
  margin-left: 0px !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppUsageValue_"] {
  color: rgb(var(--color-secondary)) !important;
  margin-left: 4px !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppUsageValue_"]::before {
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] [class*="contentmanagement_AppHeaderValue_"] {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  line-height: 32px !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppHeader_"] [class*="contentmanagement_Rule_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="contentmanagement_InstallDropdownOption_"][class*="contentmanagement_IsSelectedDropdownOption_"] [class*="contentmanagement_DriveName_"], [class*="contentmanagement_InstallDropdownOption_"][class*="contentmanagement_IsSelectedDropdownOption_"] [class*=".contentmanagement_DriveSize_"], [class*="contentmanagement_InstallDropdownOption_"][class*="contentmanagement_IsSelectedDropdownOption_"] svg {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

[class*="contentmanagement_InstallDropdownOption_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

[class*="contentmanagement_InstallDropdownOption_"] svg {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  background-position: center !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] [class*="contentmanagement_AppInfoItem_"] {
  font-weight: 400 !important;
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  letter-spacing: normal !important;
  margin-right: 0px !important;
  line-height: 24px !important;
}

.DialogMenuPosition[class*="contextmenu_ContextMenuFocusContainer_"] {
  max-width: unset !important;
  min-wdith: unset !important;
}

/* DRIVE */
[class*="contentmanagement_InstallDropdownOption_"] svg, [class*="contentmanagement_InstallDropdownOption_"][class*="contentmanagement_IsSelectedDropdownOption_"] svg {
  background-image: var(--icon-harddrive) !important;
}

/* STAR */
[class*="contentmanagement_InstallDropdownOption_"] [class*="contentmanagement_DriveName_"] svg {
  background-image: var(--icon-favorite) !important;
}

/* ADD FOLDER */
[class*="contentmanagement_AddFolderDropdownOption_"] svg {
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  background-position: center !important;
  background-image: var(--icon-add) !important;
}

[class*="contentmanagement_AddFolderDropdownOption_"] svg * {
  fill: transparent !important;
}

[class*="contentmanagement_InstallDropdownOption_"] svg * {
  fill: transparent !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:hover, [class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"]:hover {
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] svg.DesktopUI, .DesktopUI [class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBodyLeft_"] [class*="contentmanagement_AppInfo_"] svg {
  color: rgb(var(--color-white)) !important;
  display: none !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBody_"]:hover, [class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppBody_"]:active {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="contentmanagement_DriveSettingsButton_"] {
  margin-top: 23px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="contentmanagement_DriveSettingsButton_"]:hover, [class*="contentmanagement_DriveSettingsButton_"]:focus {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_DriveSettingsButton_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_FolderInfo_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
}

[class*="settings_SettingsModalRoot_"] [class*="settings_SettingsModal_"] [class*="boxcarousel_BoxCarouselContents_"][class*="boxcarousel_MaskRight_"] {
  gap: 16px !important;
  display: flex !important;
}

[class*="contentmanagement_InstallFolder_"] {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  padding: 0px 16px !important;
  margin-right: 0px !important;
}

[class*="contentmanagement_InstallFolder_"] svg {
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-image: var(--icon-harddrive) !important;
}

[class*="contentmanagement_InstallFolder_"] svg path {
  fill: transparent !important;
}

[class*="contentmanagement_InstallFolder_"]:last-child {
  margin-right: 0px !important;
}

[class*="contentmanagement_InstallFolder_"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_InstallFolder_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_IsSelected_"] {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  background: rgba(var(--color-accent), .4) !important;
}

[class*="contentmanagement_IsSelected_"]:hover {
  background: rgba(var(--color-accent), .4) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_IsSelected_"]:active {
  background: transparent !important;
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_DriveName_"], [class*="contentmanagement_DriveSize_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 24px !important;
}

[class*="contentmanagement_IsSelected_"] [class*="contentmanagement_DriveName_"], [class*="contentmanagement_IsSelected_"] [class*="contentmanagement_DriveSize_"], [class*="contentmanagement_IsSelected_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_InstallFolder_"]:hover [class*="contentmanagement_DriveName_"], [class*="contentmanagement_InstallFolder_"]:hover [class*="contentmanagement_DriveSize_"], [class*="contentmanagement_InstallFolder_"]:hover svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_DriveSize_"] {
  font-weight: 400 !important;
}

[class*="contentmanagement_LibraryContent_"] {
  padding: 0px !important
}

[class*="contentmanagement_LibraryContent_"] [class*="contentmanagement_LibraryHeader_"] {
  padding: 0px !important;
}

[class*="contentmanagement_LibraryContent_"] [class*="contentmanagement_DriveUsage_"] [class*="contentmanagement_DriveName_"] {
  color: rgb(var(--color-secondary)) !important;
  margin-bottom: 0px !important;
  line-height: 32px !important;
}

[class*="contentmanagement_DriveUsageText_"], [class*="contentmanagement_DriveUsageNumber_"] {
  font-weight: 400 !important;
  font-size: var(--size-10) !important;
  color: rgb(var(--color-primary)) !important;
}

[class*="contentmanagement_DriveUsageNumber_"] {
  color: rgb(var(--color-secondary)) !important;
}

[class*="contentmanagement_DriveUsageText_"] {
  color: rgb(var(--color-primary)) !important;
}

[class*="contentmanagement_DriveUsageGames_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  background-color: var(--SystemAccentColorDark3) !important;
}

[class*="contentmanagement_DriveUsageDLC_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.85 !important; */
  background-color: var(--SystemAccentColorDark2) !important;
}

[class*="contentmanagement_DriveUsageWorkshop_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.7 !important; */
  background-color: var(--SystemAccentColorDark1) !important;
}

[class*="contentmanagement_DriveUsageUpdates_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.55 !important; */
  background-color: var(--SystemAccentColorLight1) !important;
}

[class*="contentmanagement_DriveUsageShader_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.4 !important; */
  background-color: var(--SystemAccentColorLight2) !important;
}

[class*="contentmanagement_DriveUsageOther_"] {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.25 !important; */
  background-color: var(--SystemAccentColorLight3) !important;
}

[class*="contentmanagement_DriveUsageFreeSpace_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="contentmanagement_DriveUsageIndicator_"] {
  min-height: 15px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

[class*="contentmanagement_ContentManagement_"] [class*="appgrid_SortingDropDown_"] {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_ContentManagement_"] [class*="appgrid_SortingDropDown_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_ContentManagement_"] [class*="appgrid_SortingDropDown_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="contentmanagement_ContentManagement_"] [class*="appgrid_SortingDropDownContainer_"] {
  left: unset !important;
  right: 16px !important;
}

[class*="appgrid_SortingDropDownContainer_"] [class*="dropdown_DialogDropDownMenu_"] {
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"] {
  padding: 0px 0px 0px 16px !important;
  height: 32px !important;
  line-height: 32px !important;
  margin-top: 0px !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"][class*="sortingdropdowncontrolbutton_SortingDropDownControlButton_"] {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"] svg:not(:last-child) {
  display: none !important;
  margin-right: 0px !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 16px !important;
  background-image: var(--icon-switch-vertical) !important;
  color: transparent !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"] [class*="sortingdropdowncontrolbutton_SortIcon_"] {
  margin-left: 16px !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
  color: transparent !important;
}

[class*="sortingdropdowncontrolbutton_BasicHomeDropDownControlButton_"] svg {
  height: 16px !important;
  width: 16px !important;
}

[class*="contentmanagement_FolderInfo_"] svg {
  color: rgb(var(--color-white)) !important;
  margin-left: 0px !important;
}

[class*="contentmanagement_FolderInfo_"] svg path {
  fill: transparent !important;
  stroke: transparent !important;
  stroke-width: 3px !important;
}

[class*="contentmanagement_FolderInfo_"] svg {
  background-size: 24px 24px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 16px !important;
  background-image: var(--icon-favorite) !important;
}

[class*="contentmanagement_AddFolder_"] {
  padding: 0px !important;
  height: 38px !important;
  width: 38px !important;
  margin-top: 9px !important;
}

[class*="contentmanagement_AddFolder_"] svg {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_AddFolder_"]:hover svg  {
  color: rgb(var(--color-white)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"] {
  color: rgb(var(--color-accent)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"]:hover {
  color: rgb(var(--color-secondary)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*="contentmanagement_AppSize_"]:active {
  color: rgb(var(--color-tertiary)) !important;
}

[class*="contentmanagement_AppsGrid_"] [class*=".contentmanagement_AppList_"] {
  padding-bottom: 0px !important;
}

[class*="pageablecontainer_HeaderPageControls_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageContent_"] [class*="pageablecontainer_PageClickContainer_"] {
  margin-bottom: 8px !important;
}

[class*="contentmanagement_AppActionBarButtons_"] {
  gap: 16px !important;
}

/* TOOLBAR */
[class*="settings_OverlayTabSetting_"] {
  background-color: transparent !important;
}

/* CONTROLLER */
[class*="gamepadtabbedpage_TabIcon_"] {
  padding-right: 0px !important;
  width: 38px !important;
  height: 38px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-controller) !important;
}

[class*="gamepadtabbedpage_TabIcon_"] svg path {
  fill: transparent !important;
}

[class*="settings_SettingsModal_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_Front_"] svg:not([class*="controllersettings_Rumble_"]) {
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-keyboard) !important;
}

[class*="settings_SettingsModal_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_Front_"] svg:not([class*="controllersettings_Rumble_"]) * {
  fill: transparent !important;
}

[class*="settings_SettingsModal_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_Front_"] [class*="controllersettings_Rumble_"] {
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-controller) !important;
}

[class*="settings_SettingsModal_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_Front_"] [class*="controllersettings_Rumble_"] * {
  color: transparent !important;
}

[class*="settings_SettingsModal_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_Front_"] {
  display: none !important;
  padding-right: 0px !important;
}

[class*="controllersettings_NintendoSwitchLayoutToggle_"] {
  padding-bottom: 0px !important;
}

.ModalDialogPopup .DialogContent_InnerWidth [class*="controllersettings_NintendoSwitchLayoutToggle_"] [class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"]:not(:last-child) {
  margin-bottom: 0px !important;
}

[class*="controllersettings_NintendoSwitchLayoutToggle_"] [class*="controllersettings_NintendoSwitchLayoutToggleDesc_"] {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  width: 80% !important;
  margin-bottom: 16px !important;
}

[class*="settings_SettingsDialogButton_"].DesktopUI, .DesktopUI [class*="settings_SettingsDialogButton_"] {
  padding: 0px 16px !important;
  line-height: 32px !important;
  box-sizing: border-box !important;
  min-width: 32px !important;
  max-width: fit-content !important;
}

[class*="settings_BuiltInLayoutButton_"].DialogButton {
  height: 32px !important;
  color: transparent !important;
}

[class*="settings_BuiltInLayoutButton_"].DialogButton svg {
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-settings) !important;
  width: 32px !important;
  height: 32px !important;
}

[class*="settings_BuiltInLayoutButton_"].DialogButton svg path,
[class*="settings_BuiltInLayoutButton_"].DialogButton:hover svg path,
[class*="settings_BuiltInLayoutButton_"].DialogButton:active svg path {
  fill: transparent !important;
}

[class*="settings_BuiltInLayoutButtons_"] {
  gap: 16px !important;
}

button[class*="settings_BuiltInLayoutButton_"].DialogButton {
  width: 32px !important;
  min-height: 32px !important;
}

/* VOICE */
[class*="gamepaddialog_Field_"][class*="gamepaddialog_ChildrenWidthGrow_"] [class*="gamepaddialog_FieldChildrenWithIcon_"] {
  width: 100% !important;
}

[class*="voicesettings_MicrophoneTest_"] {
  gap: 16px !important;
  display: flex !important;
}

[class*="voicesettings_MicrophoneTest_"] [class*="voicesettings_MicrophoneTestButton_"] {
  width: auto !important;
  min-width: fit-content !important;
  gap: 16px !important;
}

[class*="voicesettings_MicrophoneTest_"] [class*="voicesettings_VolumeBar_"] {
  background: rgba(var(--color-white), 0.2) !important;
  height: 4px !important;
  display: flex !important;
  order: 2 !important;
}

[class*="progressbar_ProgressBar_"] {
  border-radius: 0px !important;
}

[class*="progressbar_ProgressBar_"] [class*="progressbar_Percent_"] {
  background: rgb(var(--color-accent)) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

[class*="keycapture_Capturing_"][class*="keycapture_Capturing_"][class*="keycapture_Capturing_"] {
  outline: 2px solid rgb(var(--color-accent)) !important;
  outline-offset: -2px !important;
}

[class*="voicesettings_HotKeyField_"] button[class*="voicesettings_ClearButton_"] {
  background-image: var(--icon-clear) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  height: 32px !important;
  width: 32px !important;
  max-width: 32px !important;
  padding: 0px !important;
  color: transparent !important;
}

[class*="gamepaddialog_Field_"].DesktopUI [class*="gamepaddialog_FieldChildrenInner_"], .DesktopUI [class*="gamepaddialog_Field_"] [class*="gamepaddialog_FieldChildrenInner_"] {
  gap: 16px !important;
}

[class*="voicesettings_HotKeyField_"] button {
  padding: 0px 16px !important;
  width: auto !important;
}

[class*="settings_SettingsDialogBodyFade_"] [class*="voicesettings_HotKeyField_"] button:not([class*="voicesettings_ClearButton_"]) {
  min-width: 120px !important;
  padding: 0px !important;
}

[class*="voicesettings_Advanced_"] {
  padding-top: 0px !important;
}

[class*="settings_SettingsDialogBodyText_"], [class*="settings_SettingsDialogDescriptionText_"] {
  margin-bottom: 0px !important;
}

[class*="settings_SettingsDialogBodyText_"] {
  font-size: var(--size-18) !important;
  line-height: 32px !important;
}

/* VOICE SLIDER */
[class*="gamepadslider_SliderControlPanelGroup_"] {
  display: flex !important;
}

[class*="settings_SettingsDialogBodyFade_"] > [class*="gamepaddialog_Field_"] [class*="gamepadslider_SliderControlPanelGroup_"]::before {
  content: "" !important;
  display: block !important;
  margin-right: 8px !important;
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-volume) !important;
}

[class*="settings_SettingsDialogBodyFade_"] > [class*="gamepaddialog_Field_"]:nth-of-type(5) [class*="gamepadslider_SliderControlPanelGroup_"]::before {
   background-image: var(--icon-mic) !important;
 }

[class*="gamepadslider_SliderControlAndNotches_"] {
  flex-grow: 1 !important;
}

/* REMOTE PLAY */
[class*="remoteplaysettings_TableHeader_"].DesktopUI, .DesktopUI [class*="remoteplaysettings_TableHeader_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  text-transform: none !important;
  margin-top: 0px !important;
}

[class*="remoteplaysettings_TableHeader_"] {
  color: rgb(var(--color-primary)) !important;
}

[class*="remoteplaysettings_TableHeader_"] [class*="gamepaddialog_FieldLabel_"] {
  line-height: unset !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_FullWidth_"] {
  gap: 16px !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_AlignLeft_"] [class*="gamepaddialog_ControlsListChild_"] {
  margin-left: 0px !important;
}

[class*="remoteplaysettings_Advanced_"] .Panel>div {
  padding-left: 0px !important;
}

[class*="remoteplaysettings_SubSetting_"] .Panel>div {
  padding-left: 0px !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_FullWidth_"] [class*="settings_SettingsDialogButton_"] {
  min-width: 100% !important;
}

.DialogControlsSection > div:has([class*="remoteplaysettings_Advanced_"]) {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

[class*="remoteplaysettings_Advanced_"], [class*="remoteplaysettings_SubSetting_"] {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* BROADCAST */
[class*="gamepaddialog_FieldLabel_"]:has([class*="broadcastsettings_ConfigureMic_"]) {
  flex-direction: column !important;
}

[class*="broadcastsettings_ConfigureMic_"] {
  justify-content: left !important;
  line-height: 19px !important;
  margin-bottom: 8px !important;
}

/* MUSIC */
[class*="gamepaddialog_Field_"][class*="gamepaddialog_WithFirstRow_"][class*="gamepaddialog_WithChildrenBelow_"][class*="gamepaddialog_ExtraPaddingOnChildrenBelow_"] [class*="gamepaddialog_FieldChildrenWithIcon_"] {
  padding-top: 0px !important;
}

[class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_BeforeChildren_"] {
  padding-right: 8px !important;
}

[class*="pagedsettings_PagedSettingsDialog_"] [class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_BeforeChildren_"] {
  display: none !important;
}

[class*="gamepaddialog_FieldIcon_"][class*="gamepaddialog_BeforeChildren_"] svg {
  color: transparent !important;
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-volume) !important;
}

/* ACCOUNT */
[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] {
  gap: 16px !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] [class*="gamepaddialog_ControlsListChild_"] [class*="accountpanel_FatButton_"] {
  padding: 16px 0px !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] [class*="gamepaddialog_ControlsListChild_"] [class*="accountpanel_FatButton_"] svg {
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 32px !important;
  width: 32px !important;
  margin: 0px !important;
  background-size: 16px !important;
}

[class*="accountsettings_AvatarAndLabel_"] {
  margin-bottom: 16px !important;
}

/* FUNDS */
[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] [class*="gamepaddialog_ControlsListChild_"]:nth-child(1) [class*="accountpanel_FatButton_"] svg {
  background-image: var(--icon-shop) !important;
}

/* PRIVACY */
[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] [class*="gamepaddialog_ControlsListChild_"]:nth-child(2) [class*="accountpanel_FatButton_"] svg {
  background-image: var(--icon-privacy) !important;
}

/* DETAILS */
[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_ItemMaxSizeDesktop_"] [class*="gamepaddialog_ControlsListChild_"]:nth-child(3) [class*="accountpanel_FatButton_"] svg {
  background-image: var(--icon-edit) !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"] [class*="gamepaddialog_ControlsListChild_"] {
  margin-bottom: 0px !important;
}

[class*="accountsettings_EntryValue_"] {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
}

[class*="accountsettings_AvatarAndLabel_"] [class*="accountsettings_LabelHolder_"] {
  font-weight: 400 !important;
}

[class*="accountsettings_AvatarAndLabel_"] [class*="accountsettings_Avatar_"] {
  margin-left: 0px !important;
  margin-right: 8px !important;
  margin-top: 0px !important;
}

[class*="gamepaddialog_ControlsListOuterPanel_"][class*="gamepaddialog_StandardSpacing_"] {
  --controls-list-spacing: 0px !important;
  gap: 16px !important;
}

/* SECURITY */
[class*="desktopsecuritysettings_EntryValue_"] {
  color: rgb(var(--color-secondary)) !important;
  line-height: 32px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

/* VOICE STILL ACTIVE */
.DialogBody .activeVoiceControls {
  background: transparent !important;
  border: unset !important;
  border-image: url() !important;
}

.DialogBody .activeVoiceFlexBox::before, .DialogBody .activeVoiceFlexBox::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.DialogBody .activeVoiceFlexBox::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.DialogBody .activeVoiceFlexBox::after {
  background-image: var(--image-acrylic) !important;
}

.activeVoiceControls .connectionStatusLabels, .chatRoomVoiceChannel .connectionStatusLabels {
  font-size: var(--size-12) !important;
  color: rgb(var(--color-primary)) !important;
}

.DialogBody .activeVoiceLabels {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-flex !important;
  font-size: var(--size-14) !important;
}

.DialogBody .activeVoiceButtons {
  min-width: 96px !important;
}

.CloseActiveVoiceWindowConfirmation .activeVoiceControls {
  margin-right: 0px !important;
  margin-top: 8px !important;
}

.circleHighlight {
  border: 1px solid rgb(var(--color-accent)) !important;
  right: 0px !important;
  top: 8px !important;
  width: 32px !important;
  height: 32px !important;
}