/* BASE */
.client_chat_frame body, .web_chat_frame body {
  background: transparent !important;
}

/* BACKGROUND DARKENING */
.ModalOverlayBackground {
  background: rgba(var(--color-black), 0.8) !important;
}

/* BORDER */
.PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss):not(.DialogContent) {
  border: 1px solid rgba(var(--color-white), 0.1) !important;
  min-height: 0px !important;
  min-width: 0px !important;
}

.WindowFocus .PopupFullWindow .ModalPosition_Content > div:not(.ModalPosition_TopBar):not(.ModalPosition_Dismiss):not(.DialogContent) {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not(._1I3NifxqTHCkE-2DeritAs) {
  border: 1px solid rgba(var(--color-white), 0.1) !important;
}

.WindowFocus .ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not(._1I3NifxqTHCkE-2DeritAs) {
  border: 1px solid rgb(var(--color-accent)) !important;
}

.ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not(._1I3NifxqTHCkE-2DeritAs):not(.GenericConfirmDialog) {
}

.FullModalOverlay .ModalPosition_Content {
}

.ModalDialogPopup .ModalDialogBody:not(._1UJDmU3N-pkv7oTJ_Zf9nK):not(.l25AfossKXBOZGYoty0tM) .title-area, .ModalDialogPopup .ModalDialogBody._1UJDmU3N-pkv7oTJ_Zf9nK .GameNotes .title-area {
  margin-right: 1px !important;
  margin-top: 1px !important;
}

._3IxD7e0jbQ4Uc7H05_loAO .ModalPosition_Content {
}

._3IxD7e0jbQ4Uc7H05_loAO ._3few7361SOf4k_YuKCmM62 {
  width: auto !important;
  height: 722px !important;
}

/* TOPBAR */
.ModalPosition_TopBar {
  min-height: 0px !important;
  display: none !important;
  background: transparent !important;
}

.DialogContent, .DialogContentTransition {
  background: rgb(var(--color-settings)) !important;
}

/* TEXT */
.ModalPosition_Content {
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  color: rgb(var(--color-primary)) !important;
}

.ModalDialogPopup .DialogContent_InnerWidth .S-_LaQG5eEOM2HWZ-geJI.XRBFu6jAfd5kH9a3V8q_x:not(:last-child) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

.ModalDialogPopup .DialogContent_InnerWidth .S-_LaQG5eEOM2HWZ-geJI.XRBFu6jAfd5kH9a3V8q_x:last-child {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

._3s1Rkl6cFOze_SdV2g-AFo {
   display: flex !important;
   gap: 16px !important;
   flex-direction: column !important;
 }

._3s1Rkl6cFOze_SdV2g-AFo.qFXi6I-Cs0mJjTjqGXWZA {
  gap: 0px !important;
}

/* TITLE */
._3qEgQJqeb0zyM12KXq64Or {
  color: rgb(var(--color-primary)) !important;
  padding: 16px !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 600 !important;
  margin-bottom: 0px !important;
  line-height: 32px !important;
  text-transform: capitalize !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  min-height: 64px !important;
  box-sizing: border-box !important;
}

._1I3NifxqTHCkE-2DeritAs .DialogHeader.DesktopUI, .DesktopUI ._1I3NifxqTHCkE-2DeritAs .DialogHeader {
  margin-top: 0px !important;
}

._2rK4YqGvSzXLj1bPZL8xMJ.DesktopUI, .DesktopUI ._2rK4YqGvSzXLj1bPZL8xMJ {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  text-transform: none !important;
  margin-bottom: 0px !important;
}

.kslgScf2gDsE4jgFDZHEW ._31RJyFXKo0KWIm1cS4INFH {
  text-transform: none !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  padding-top: 0px !important;
  margin-top: 16px !important;
}

.bkfjn0yka2uHNqEvWZaTJ ._2X9_IsQsEJDpAd2JGrHdJI {
  font-weight: 400 !important;
  line-height: 40px !important;
  height: 40px !important;
}

.bkfjn0yka2uHNqEvWZaTJ {
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 16px !important;
}

/* LIST COLUMN */
._36SrgqA3nPhqhDB9AkRbSc {
  padding-bottom: 0px !important;
  overflow-x: hidden !important;
}

.RTicBCbDcEGkjsbmWzA8C {
  padding-top: 0px !important;
  min-width: 200px !important;
  max-width: 200px !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  /* backdrop-filter: blur(var(--option-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  height: calc(100vh - 2px) !important;
}

.RTicBCbDcEGkjsbmWzA8C::before, .RTicBCbDcEGkjsbmWzA8C::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  display: none !important;
}

.RTicBCbDcEGkjsbmWzA8C::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.RTicBCbDcEGkjsbmWzA8C::after {
  background-image: var(--image-acrylic) !important;
}

/* LIST ITEMS */
.bkfjn0yka2uHNqEvWZaTJ.Myra7iGjzCdMPzitboVfh {
  background-color: transparent !important;
}

.bkfjn0yka2uHNqEvWZaTJ {
  color: rgb(var(--color-white)) !important;
  max-width: unset !important;
}

.bkfjn0yka2uHNqEvWZaTJ:hover {
  color: rgb(var(--color-white)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

.bkfjn0yka2uHNqEvWZaTJ:active {
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

.bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4.DesktopUI, .DesktopUI .bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4 {
  color: transparent !important;
  height: 16px !important;
  width: 16px !important;
  margin-right: 16px !important;
}

.bkfjn0yka2uHNqEvWZaTJ:not(.Myra7iGjzCdMPzitboVfh):hover .U6HcKswXzjmWtFxbjxuz4 {
  color: transparent !important;
}

.bkfjn0yka2uHNqEvWZaTJ:not(.Myra7iGjzCdMPzitboVfh):hover .U6HcKswXzjmWtFxbjxuz4 {
  color: transparent !important;
}

.bkfjn0yka2uHNqEvWZaTJ.Myra7iGjzCdMPzitboVfh::before {
  position: relative !important;
  display: block !important;
  width: 0px !important;
  height: 20px !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  content: "" !important;
  left: -14px !important;
  background: rgb(var(--color-accent)) !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

/* LIST ICONS */
.bkfjn0yka2uHNqEvWZaTJ .bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4 svg {
  width: 16px !important;
  height: 16px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

.bkfjn0yka2uHNqEvWZaTJ .bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4 svg rect, .bkfjn0yka2uHNqEvWZaTJ .bkfjn0yka2uHNqEvWZaTJ .U6HcKswXzjmWtFxbjxuz4 svg path {
  display: none;
}

/* LIST ICONS - ACCOUNT */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(1) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-contact-info) !important;
}

/* LIST ICONS - FRIENDS */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(2) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(3) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-people) !important;
}

/* LIST ICONS - FAMILY */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(3) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-group) !important;
}

/* LIST ICONS - SECURITY */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(4) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-shield) !important;
}

/* LIST ICONS - NOTIFICATIONS */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(6) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-notification) !important;
}

/* LIST ICONS - INTERFACE */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(7) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(2) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-display) !important;
}

/* LIST ICONS - LIBRARY */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(8) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-library) !important;
}

/* LIST ICONS - DOWNLOADS */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(9) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-download) !important;
}

/* LIST ICONS - STORAGE */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(10) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-harddrive) !important;
}

/* LIST ICONS - CLOUD */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(11) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-cloud) !important;
}

/* LIST ICONS - IN GAME */
.fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(12) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(1) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-picture) !important;
}

/* LIST ICONS - COMPATIBILITY */
.Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(13) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-compatibility) !important;
}

/* LIST ICONS - CONTROLLER */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(14) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(15) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-controller) !important;
}

/* LIST ICONS - VOICE */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(15) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(16) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(4) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-mic) !important;
}

/* LIST ICONS - REMOTE PLAY */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(16) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(17) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-controller-split) !important;
}

/* LIST ICONS - BROADCAST */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(17) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(18) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(6) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-video) !important;
}

/* LIST ICONS - MUSIC */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(18) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(19) .U6HcKswXzjmWtFxbjxuz4 svg, .fullheight._1UJDmU3N-pkv7oTJ_Zf9nK .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(5) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-audio) !important;
}

/* LIST ICONS - DEVELOPER */
.Windows .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(19) .U6HcKswXzjmWtFxbjxuz4 svg, .Linux .fullheight:not(._1UJDmU3N-pkv7oTJ_Zf9nK) .bkfjn0yka2uHNqEvWZaTJ:nth-of-type(20) .U6HcKswXzjmWtFxbjxuz4 svg {
  background-image: var(--icon-developer) !important;
}

/* SEPARATORS */
._1UEEmNDZ7Ta3enwTf5T0O0 {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

.S-_LaQG5eEOM2HWZ-geJI._3s1Rkl6cFOze_SdV2g-AFo::after {
  background: rgba(var(--color-white), 0.2) !important;
  height: 1px !important;
  display: none !important;
}

._2KFeE_s51aT07ohdMu_ZH1 {
  border-bottom: unset;
}

/* SETTINGS BODY */
._1I3NifxqTHCkE-2DeritAs.DesktopUI .DialogBody, .DesktopUI ._1I3NifxqTHCkE-2DeritAs .DialogBody {
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 16px !important;
}

/* STEAM GUARD */
.eYz3vzuTb_a2I4dRJ-vf9 {
  display: none !important;
  color: transparent !important;
  width: 24px !important;
  height: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-shield) !important;
}

.eYz3vzuTb_a2I4dRJ-vf9.oyCF6bR2o2qn-4PQdxBRv {
  color: transparent !important;
  background-image: var(--icon-shield) !important;
}

/* DESCRIPTION */
._2OJfkxlD3X9p8Ygu1vR7Lr.DesktopUI, .DesktopUI ._2OJfkxlD3X9p8Ygu1vR7Lr, ._2OJfkxlD3X9p8Ygu1vR7Lr {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  width: 100% !important;
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._3b0U-QDD-uhFpw6xM716fw {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

.S-_LaQG5eEOM2HWZ-geJI {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px 0px 0px 0px !important;
}

/* NICKNAME */
._3oeHwxQTKDkPcxDhz8jbhM {
  font-weight: 400 !important;
  gap: 8px !important;
  margin-top: 0px !important;
  margin-bottom: 16px !important;
  display: none !important;
}

/* DEFERRED SETTING */
._1HSFimV17-xfk2K1rH-O6Q ._2oIoSnpOIITuKc3ICD93_9 {
  position: absolute !important;
  color: transparent !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-info) !important;
}

._1HSFimV17-xfk2K1rH-O6Q > .Focusable {
  height: 32px !important;
  width: 32px !important;
}

._1HSFimV17-xfk2K1rH-O6Q {
  gap: 8px !important;
  direction: rtl !important;
}

/* NOTIFICATION SETTINGS */
.BRmrC-jnwpXqye4oYB21C {
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

.BRmrC-jnwpXqye4oYB21C .W4h3bEBn32WnhtC3IKSvZ {
  margin-right: 8px !important;
  display: flex !important;
  order: 2 !important;
}

.S-_LaQG5eEOM2HWZ-geJI._1DIZQm8Vp2NVirFkTTuKcF {
  padding: 0px !important;
}

.kslgScf2gDsE4jgFDZHEW {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._1ifM6luJEQ5H2O1Y3S6F_R {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  order: 1 !important;
  margin: 0px !important;
  line-height: 32px !important;
  min-width: 100% !important;
}

._21Uc0N6TIRIw4LIZzQnsdE {
  background-color: transparent !important;
}

._1u5y7VbwvOwncjMsMqnFUz {
  background-color: transparent !important;
}

._3aB-C2eTsfVtvZR5sC9N_r {
  line-height: 38px !important;
  height: 38px !important;
  width: 38px !important;
  background-color: transparent !important;
}

._3aB-C2eTsfVtvZR5sC9N_r {
  order: 3 !important;
}

._3aB-C2eTsfVtvZR5sC9N_r.DialogButton {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

._3aB-C2eTsfVtvZR5sC9N_r svg {
  height: 38px !important;
  width: 38px !important;
  margin-top: 0px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

._33Q-MOeBz52WPV0tuTqKy._33Q-MOeBz52WPV0tuTqKy {
  line-height: unset !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.DialogToggleField._DialogInputContainer._DialogLayout {
  display: flex !important;
  flex-direction: column !important;
  gap: 0px !important;
}

.alignSelfCenter {
  align-self: baseline !important;
}

.DialogContent .DialogControlsSection {
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.DialogContent .DialogControlsSection > .Panel:not(._2qYC3gFAkLcB48i6dTz051) {
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogContent .DialogControlsSection:not(:last-child) {
  margin-bottom: 0px !important;
}

.DialogContent .DialogControlsSection:not(:first-child), .DialogContent .DialogControlsSectionHeader:not(:first-child), .DialogContent .DialogHeader:not(:first-child), .DialogContent .DialogSubHeader:not(:first-child) {
  margin-top: 0px !important;
}

.DialogControlsSection:not(:last-child) {
  margin-bottom: 0px !important;
}

.DialogControlsSectionHeader:not(:last-child) {
  margin-bottom: 0px !important;
}

.S-_LaQG5eEOM2HWZ-geJI._5UO-_VhgFhDWlkDIOZcn_ {
  gap: 8px 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* SUB HEADER */
div:not(:first-child) > .DialogSubHeader {
  margin-top: 16px !important;
}

.SettingsDialogSubHeader {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  text-transform: none !important;
}

/* SLIDER */
.Mq25Nap224hVdTdtXSsnq {
  --left-track-color: rgb(var(--color-accent)) !important;
  background: rgba(var(--color-white), 0.4) !important;
  border-radius: 0px !important;
  height: 2px !important;
}

.Mq25Nap224hVdTdtXSsnq:hover {
  background: rgba(var(--color-white), 0.6) !important;
}

.Mq25Nap224hVdTdtXSsnq:active {
  background: rgba(var(--color-white), 0.4) !important;
}

.Mq25Nap224hVdTdtXSsnq::before {
  border-radius: 0px !important;
}

._2yVKjlAVW3txkGmVpX9G8i {
  width: 8px !important;
  height: 24px !important;
  border-radius: 1337px !important;
  background: rgb(var(--color-accent)) !important;
}

._3o137DBNF03ytbLBl2jPri:hover ._2yVKjlAVW3txkGmVpX9G8i {
  background: rgb(var(--color-white)) !important;
}

._3o137DBNF03ytbLBl2jPri:active ._2yVKjlAVW3txkGmVpX9G8i {
  background: rgb(var(--color-contextmenu-border)) !important;
}

._1pQZiklDl2xXiNsZ6Uvy_a {
  transform: translateX(calc(-100% * var(--inverse-normalized-value) + 8px * var(--inverse-normalized-value))) !important;
}

._23F6ABe8GsjCOEWml-L0Xz {
  transform: translateX(calc(-100% * var(--inverse-normalized-default-value) + 4px * var(--inverse-normalized-default-value))) translateY(17px) !important;
}

._1Cccx-a5SBDaDmN3xR8PV1._1t8of8LGkzYgP2BJKY8wSX {
  padding-top: 0px !important;
}

._1WFYbdGNkz-psgihc4g_M1 {
  width: 1px !important;
  height: 4px !important;
}

._1WFYbdGNkz-psgihc4g_M1::before {
  position: absolute !important;
  content: "" !important;
  left: 0px !important;
  top: 0px !important;
  right: 0px !important;
  bottom: 0px !important;
  background: rgba(var(--color-white), 0.4) !important;
}

._1WFYbdGNkz-psgihc4g_M1 > svg {
  width: 1px !important;
  margin-top: 0px !important;
  color: rgba(var(--color-white), 0.4) !important;
  opacity: 0 !important;
}

/* FADE */
.aFxOaYcllWYkCfVYQJFs0.DesktopUI, .DesktopUI .aFxOaYcllWYkCfVYQJFs0 {
  -webkit-mask-image: none !important;
  padding-top: 0px !important;
  padding-bottom: 16px !important;
  gap: 16px !important;
}

/* CONTEXT MENU */
.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup._3IxD7e0jbQ4Uc7H05_loAO ._2y2tUbsMx8OIwkimGSyHmb::before, .client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup._3IxD7e0jbQ4Uc7H05_loAO ._2y2tUbsMx8OIwkimGSyHmb::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup._3IxD7e0jbQ4Uc7H05_loAO ._2y2tUbsMx8OIwkimGSyHmb::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.client_chat_frame.fullheight.ModalDialogPopup.LegacyPopup._3IxD7e0jbQ4Uc7H05_loAO ._2y2tUbsMx8OIwkimGSyHmb::after {
  background-image: var(--image-acrylic) !important;
}

/* INTERFACE */
.aFxOaYcllWYkCfVYQJFs0 > div {
}

.S-_LaQG5eEOM2HWZ-geJI._1ugIUbowxDg0qM0pJUbBRM ._3N47t_-VlHS8JAEptE5rlR.DesktopUI, .DesktopUI .S-_LaQG5eEOM2HWZ-geJI._1ugIUbowxDg0qM0pJUbBRM ._3N47t_-VlHS8JAEptE5rlR {
  min-width: 300px !important;
  max-width: 100% !important;
}

/* LIBRARY */
.RoSh6WoygUX6LLAoB20f3 {
  gap: 16px !important;
}

._2nsOY93EAdTBmNbFplfuTi .DialogControlsSection {
}

._2NyRKE2oI1jbaiJwFLf7CY.DesktopUI, .DesktopUI ._2NyRKE2oI1jbaiJwFLf7CY {
  margin-top: 0px;
  margin-bottom: 0px !important;
}

/* DOWNLOADS */
.Qow-7S60FHqxap-q62nV7 {
  margin: 0px !important;
}

/* STORAGE */
._35T-OYn63jW6GmmpnEm8-b.DesktopUI, .DesktopUI ._35T-OYn63jW6GmmpnEm8-b {
  padding: 0px !important;
}

._1-m8ph2visGravOi6gQn3V .ybEU2kARViIFGigPw8VQ0 {
  gap: 16px !important;
}

._2n6FNLKyb6al_YPk13xS7S {
  margin-top: 0px !important;
}

._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR ._1G9v2mshuM0YQNG51iX5fH {
  color: rgb(var(--color-secondary)) !important;
  margin-left: 0px !important;
}

._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR ._2B8djgiwv5XCyvzl7GxWBA {
  color: rgb(var(--color-secondary)) !important;
  margin-left: 4px !important;
}

._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR ._2B8djgiwv5XCyvzl7GxWBA::before {
}

._2n6FNLKyb6al_YPk13xS7S ._3_uaa39SNrhTAYH7hF9tbE ._3X3BBs3tVxzpy2wDfRoHwC {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
}

._2n6FNLKyb6al_YPk13xS7S ._3_uaa39SNrhTAYH7hF9tbE {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  line-height: 32px !important;
}

._2n6FNLKyb6al_YPk13xS7S ._3_uaa39SNrhTAYH7hF9tbE ._2iZ4o1LliFQ93guDcyj81Q {
  background-color: rgba(var(--color-white), 0.2) !important;
}

._3YelWui4gQvucX_bHwvl15._1TyV26CL6Wjd3gaJsh_rpr ._1rihlgVMF4Q_fFZDnXeVt5, ._3YelWui4gQvucX_bHwvl15._1TyV26CL6Wjd3gaJsh_rpr ..contentmanagement_DriveSize_, ._3YelWui4gQvucX_bHwvl15._1TyV26CL6Wjd3gaJsh_rpr svg {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

._3YelWui4gQvucX_bHwvl15 {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._3YelWui4gQvucX_bHwvl15 svg {
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  background-position: center !important;
}

._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR ._1L9a0QuKYIDA8pw0ztz0tr {
  font-weight: 400 !important;
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  letter-spacing: normal !important;
  margin-right: 0px !important;
  line-height: 24px !important;
}

.DialogMenuPosition._2qyBZV8YvxstXuSKiYDF19 {
  max-width: unset !important;
  min-wdith: unset !important;
}

/* DRIVE */
._3YelWui4gQvucX_bHwvl15 svg, ._3YelWui4gQvucX_bHwvl15._1TyV26CL6Wjd3gaJsh_rpr svg {
  background-image: var(--icon-harddrive) !important;
}

/* STAR */
._3YelWui4gQvucX_bHwvl15 ._1rihlgVMF4Q_fFZDnXeVt5 svg {
  background-image: var(--icon-favorite) !important;
}

/* ADD FOLDER */
.uKeuMqJfqlpqWCHcUojnE svg {
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  background-position: center !important;
  background-image: var(--icon-add) !important;
}

.uKeuMqJfqlpqWCHcUojnE svg * {
  fill: transparent !important;
}

._3YelWui4gQvucX_bHwvl15 svg * {
  fill: transparent !important;
}

._17SQWViInfB-hmYYLoK4Yw:hover, ._17SQWViInfB-hmYYLoK4Yw:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
}

._17SQWViInfB-hmYYLoK4Yw:hover {
}

._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR svg.DesktopUI, .DesktopUI ._2n6FNLKyb6al_YPk13xS7S .d9dlNsZ74TUTz3j0b1Syi ._g4ceYb5tVuSmXg0aNEdR svg {
  color: rgb(var(--color-white)) !important;
  display: none !important;
}

._2n6FNLKyb6al_YPk13xS7S ._2RCSUgg2X_uF_C0e1lrcqc:hover, ._2n6FNLKyb6al_YPk13xS7S ._2RCSUgg2X_uF_C0e1lrcqc:active {
  background: rgba(var(--color-white), 0.1) !important;
}

._1WKUOT3FdB9-48MMP0Tz9l {
  margin-top: 23px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

._1WKUOT3FdB9-48MMP0Tz9l:hover, ._1WKUOT3FdB9-48MMP0Tz9l:focus {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._1WKUOT3FdB9-48MMP0Tz9l:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._2ylO_6ttogcI00S20omegQ {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
}

._3IxD7e0jbQ4Uc7H05_loAO ._3few7361SOf4k_YuKCmM62 ._3CJctA7pLVdwHzNF5JmORE._1urF0O1V4DZOkjI28mDvRK {
  gap: 16px !important;
  display: flex !important;
}

._12aBP1DmpEKuMxfFuCMbiN {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  padding: 0px 16px !important;
  margin-right: 0px !important;
}

._12aBP1DmpEKuMxfFuCMbiN svg {
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-image: var(--icon-harddrive) !important;
}

._12aBP1DmpEKuMxfFuCMbiN svg path {
  fill: transparent !important;
}

._12aBP1DmpEKuMxfFuCMbiN:last-child {
  margin-right: 0px !important;
}

._12aBP1DmpEKuMxfFuCMbiN:hover {
  background: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-white)) !important;
}

._12aBP1DmpEKuMxfFuCMbiN:active {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

._3VQeLk37GAZSmurTc4HPP6 {
  border-radius: 0px !important;
  color: rgb(var(--color-white)) !important;
  background: rgba(var(--color-accent), .4) !important;
}

._3VQeLk37GAZSmurTc4HPP6:hover {
  background: rgba(var(--color-accent), .4) !important;
  color: rgb(var(--color-white)) !important;
}

._3VQeLk37GAZSmurTc4HPP6:active {
  background: transparent !important;
  color: rgb(var(--color-white)) !important;
}

._1rihlgVMF4Q_fFZDnXeVt5, ._5bG9Iwr014pu3H1SPRwYh {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 24px !important;
}

._3VQeLk37GAZSmurTc4HPP6 ._1rihlgVMF4Q_fFZDnXeVt5, ._3VQeLk37GAZSmurTc4HPP6 ._5bG9Iwr014pu3H1SPRwYh, ._3VQeLk37GAZSmurTc4HPP6 svg {
  color: rgb(var(--color-white)) !important;
}

._12aBP1DmpEKuMxfFuCMbiN:hover ._1rihlgVMF4Q_fFZDnXeVt5, ._12aBP1DmpEKuMxfFuCMbiN:hover ._5bG9Iwr014pu3H1SPRwYh, ._12aBP1DmpEKuMxfFuCMbiN:hover svg {
  color: rgb(var(--color-white)) !important;
}

._5bG9Iwr014pu3H1SPRwYh {
  font-weight: 400 !important;
}

.ybEU2kARViIFGigPw8VQ0 {
  padding: 0px !important
}

.ybEU2kARViIFGigPw8VQ0 ._3rGEUoEnGkGWALEBzbvfef {
  padding: 0px !important;
}

.ybEU2kARViIFGigPw8VQ0 ._1LvKJs5FKB30xbur_XL2DL ._1rihlgVMF4Q_fFZDnXeVt5 {
  color: rgb(var(--color-secondary)) !important;
  margin-bottom: 0px !important;
  line-height: 32px !important;
}

._1DFCGL1HyqZkIjEaoNLdjf, ._181OY9APZJDARykJ_KOFPE {
  font-weight: 400 !important;
  font-size: var(--size-10) !important;
  color: rgb(var(--color-primary)) !important;
}

._181OY9APZJDARykJ_KOFPE {
  color: rgb(var(--color-secondary)) !important;
}

._1DFCGL1HyqZkIjEaoNLdjf {
  color: rgb(var(--color-primary)) !important;
}

._22KCiI1IJ7Op5fP8OZtqa- {
  /* background-color: rgb(var(--color-accent)) !important; */
  background-color: rgb(var(--color-accent-dark3)) !important;
}

._2W7tN4vCUKpfU8L0WFTIJT {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.85 !important; */
  background-color: rgb(var(--color-accent-dark2)) !important;
}

._1W6jWiFmoiCg9NZKWnF1sn {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.7 !important; */
  background-color: rgb(var(--color-accent-dark1)) !important;
}

._3mzewepCzbFGOjI5X0u_Xh {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.55 !important; */
  background-color: rgb(var(--color-accent-light1)) !important;
}

._1GOFGeTHq8sYkjxutW5G-a {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.4 !important; */
  background-color: rgb(var(--color-accent-light2)) !important;
}

._1SwNAeBlLusPoHHiJK1PGk {
  /* background-color: rgb(var(--color-accent)) !important; */
  /* opacity: 0.25 !important; */
  background-color: rgb(var(--color-accent-light3)) !important;
}

._3Lz1Rs6a2Lc6Mx3J86VKKE {
  background-color: rgba(var(--color-white), 0.2) !important;
}

._1EubJAK9z7JtdGks5M2f8t {
  min-height: 15px !important;
  background: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

._3wk64QNnKSFPWsjvok-t02 ._1tBzypb5E2AwNuBuVns9Hl {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._3wk64QNnKSFPWsjvok-t02 ._1tBzypb5E2AwNuBuVns9Hl:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

._3wk64QNnKSFPWsjvok-t02 ._1tBzypb5E2AwNuBuVns9Hl:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._3wk64QNnKSFPWsjvok-t02 ._1ZpBQtDqcKBbfIIv01Vs1R {
  left: unset !important;
  right: 16px !important;
}

._1ZpBQtDqcKBbfIIv01Vs1R ._1tiuYeMmTc9DMG4mhgaQ5w {
}

._17SQWViInfB-hmYYLoK4Yw {
  padding: 0px 0px 0px 16px !important;
  height: 32px !important;
  line-height: 32px !important;
  margin-top: 0px !important;
}

._17SQWViInfB-hmYYLoK4Yw._2ddeJfhiG4hmAfqvi1FL6X {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
}

._17SQWViInfB-hmYYLoK4Yw svg:not(:last-child) {
  display: none !important;
  margin-right: 0px !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 16px !important;
  background-image: var(--icon-switch-vertical) !important;
  color: transparent !important;
}

._17SQWViInfB-hmYYLoK4Yw .jewgwEvvtdAvjtgVEX2Mh {
  margin-left: 16px !important;
  height: 32px !important;
  width: 32px !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
  color: transparent !important;
}

._17SQWViInfB-hmYYLoK4Yw svg {
  height: 16px !important;
  width: 16px !important;
}

._2ylO_6ttogcI00S20omegQ svg {
  color: rgb(var(--color-white)) !important;
  margin-left: 0px !important;
}

._2ylO_6ttogcI00S20omegQ svg path {
  fill: transparent !important;
  stroke: transparent !important;
  stroke-width: 3px !important;
}

._2ylO_6ttogcI00S20omegQ svg {
  background-size: 24px 24px !important;
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: left !important;
  background-size: 16px !important;
  background-image: var(--icon-favorite) !important;
}

._3C0_9jaNnt5q4FIeMdf6C9 {
  padding: 0px !important;
  height: 38px !important;
  width: 38px !important;
  margin-top: 9px !important;
}

._3C0_9jaNnt5q4FIeMdf6C9 svg {
  color: rgb(var(--color-white)) !important;
}

._3C0_9jaNnt5q4FIeMdf6C9:hover svg  {
  color: rgb(var(--color-white)) !important;
}

._2n6FNLKyb6al_YPk13xS7S .mohK9opGjpCsWNdUuJuFE {
  color: rgb(var(--color-accent)) !important;
}

._2n6FNLKyb6al_YPk13xS7S .mohK9opGjpCsWNdUuJuFE:hover {
  color: rgb(var(--color-secondary)) !important;
}

._2n6FNLKyb6al_YPk13xS7S .mohK9opGjpCsWNdUuJuFE:active {
  color: rgb(var(--color-tertiary)) !important;
}

._2n6FNLKyb6al_YPk13xS7S ..contentmanagement_AppList_ {
  padding-bottom: 0px !important;
}

._2pAbUZVnG9Q1TYOfdvFmtX {
  color: rgb(var(--color-white)) !important;
}

._1I3NifxqTHCkE-2DeritAs ._3-h3X6yhzvZ_wk1lbCIWqb {
  margin-bottom: 8px !important;
}

._1ku9Muh0bHhu-FFjExoVL3 {
  gap: 16px !important;
}

/* TOOLBAR */
._34sgFwSS-9qyYXqZFCm7HI {
  background-color: transparent !important;
}

/* IN GAME DESCRIPTION */
.S-_LaQG5eEOM2HWZ-geJI.qFXi6I-Cs0mJjTjqGXWZA._3XNvAmJ9bv_xuKx5YUkP-5._3bMISJvxiSHPx1ol-0Aswn._1ugIUbowxDg0qM0pJUbBRM._5UO-_VhgFhDWlkDIOZcn_.XRBFu6jAfd5kH9a3V8q_x.wE4V6Ei2Sy2qWDo_XNcwn.Panel:last-of-type ._2OJfkxlD3X9p8Ygu1vR7Lr {
  flex-direction: row !important;
  gap: 4px !important;
}

/* CONTROLLER */
._3Ebb3ha_Q86-lxguhjfyE1 {
  padding-right: 0px !important;
  width: 38px !important;
  height: 38px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-controller) !important;
}

._3Ebb3ha_Q86-lxguhjfyE1 svg path {
  fill: transparent !important;
}

._3few7361SOf4k_YuKCmM62 ._1sC68UJqI3ry5Gnk5cnH9U.YngiULyDFSZ6zgqqD2HZv svg:not(._3r25xcDKWskqjPJJQqVa4S) {
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-keyboard) !important;
}

._3few7361SOf4k_YuKCmM62 ._1sC68UJqI3ry5Gnk5cnH9U.YngiULyDFSZ6zgqqD2HZv svg:not(._3r25xcDKWskqjPJJQqVa4S) * {
  fill: transparent !important;
}

._3few7361SOf4k_YuKCmM62 ._1sC68UJqI3ry5Gnk5cnH9U.YngiULyDFSZ6zgqqD2HZv ._3r25xcDKWskqjPJJQqVa4S {
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-controller) !important;
}

._3few7361SOf4k_YuKCmM62 ._1sC68UJqI3ry5Gnk5cnH9U.YngiULyDFSZ6zgqqD2HZv ._3r25xcDKWskqjPJJQqVa4S * {
  color: transparent !important;
}

._3few7361SOf4k_YuKCmM62 ._1sC68UJqI3ry5Gnk5cnH9U.YngiULyDFSZ6zgqqD2HZv {
  display: none !important;
  padding-right: 0px !important;
}

._3Q8Vc4HcvrUZVLqnC1hTXT {
  padding-bottom: 0px !important;
}

.ModalDialogPopup .DialogContent_InnerWidth ._3Q8Vc4HcvrUZVLqnC1hTXT .S-_LaQG5eEOM2HWZ-geJI.XRBFu6jAfd5kH9a3V8q_x:not(:last-child) {
  margin-bottom: 0px !important;
}

._3Q8Vc4HcvrUZVLqnC1hTXT ._3J9OdCswxSe0Vguxo8A17n {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  width: 80% !important;
  margin-bottom: 16px !important;
}

._3epr8QYWw_FqFgMx38YEEm.DesktopUI, .DesktopUI ._3epr8QYWw_FqFgMx38YEEm {
  padding: 0px 16px !important;
  line-height: 32px !important;
  box-sizing: border-box !important;
  min-width: 32px !important;
  max-width: fit-content !important;
}

._30Og77vH37EtqaKCCDIAP9.DialogButton {
  height: 32px !important;
  color: transparent !important;
}

._30Og77vH37EtqaKCCDIAP9.DialogButton svg {
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-settings) !important;
  width: 32px !important;
  height: 32px !important;
}

._30Og77vH37EtqaKCCDIAP9.DialogButton svg path, ._30Og77vH37EtqaKCCDIAP9.DialogButton:hover svg path, ._30Og77vH37EtqaKCCDIAP9.DialogButton:active svg path {
  fill: transparent !important;
}

._3KH4CAWiBX2hESrbRk4DBn {
  gap: 16px !important;
}

button._30Og77vH37EtqaKCCDIAP9.DialogButton {
  width: 32px !important;
  min-height: 32px !important;
}

/* VOICE */
.S-_LaQG5eEOM2HWZ-geJI._Oeqvtl9-rkcGHLG_8-Bu ._2ZQ9wHACVFqZcufK_WRGPM {
  width: 100% !important;
}

._2Dptk9e7W_k4zYB5wfRTcp {
  gap: 16px !important;
  display: flex !important;
}

._2Dptk9e7W_k4zYB5wfRTcp ._3Q_M7UkwxmT8syYL2g2DBQ {
  width: auto !important;
  min-width: fit-content !important;
  gap: 16px !important;
}

._2Dptk9e7W_k4zYB5wfRTcp .Qeg4qAFIMLaYd3mHOBndS {
  background: rgba(var(--color-white), 0.2) !important;
  height: 4px !important;
  display: flex !important;
  order: 2 !important;
}

.yZ55NhARZGx1Awk2qs8pS {
  border-radius: 0px !important;
}

.yZ55NhARZGx1Awk2qs8pS ._2_0JonK7eKEvh8IoOvq0-B {
  background: rgb(var(--color-accent)) !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

._1HPWwrauzbr2d3YL2thk98._1HPWwrauzbr2d3YL2thk98._1HPWwrauzbr2d3YL2thk98 {
  outline: 2px solid rgb(var(--color-accent)) !important;
  outline-offset: -2px !important;
}

._3eLbXb4F8AwFlPPDSw2Cu8 button._39w8YN-miSnC_rTm45E7nl {
  background-image: var(--icon-clear) !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  height: 32px !important;
  width: 32px !important;
  max-width: 32px !important;
  padding: 0px !important;
  color: transparent !important;
}

.S-_LaQG5eEOM2HWZ-geJI.DesktopUI ._3N47t_-VlHS8JAEptE5rlR, .DesktopUI .S-_LaQG5eEOM2HWZ-geJI ._3N47t_-VlHS8JAEptE5rlR {
  gap: 16px !important;
}

._3eLbXb4F8AwFlPPDSw2Cu8 button {
  padding: 0px 16px !important;
  width: auto !important;
}

.aFxOaYcllWYkCfVYQJFs0 ._3eLbXb4F8AwFlPPDSw2Cu8 button:not(._39w8YN-miSnC_rTm45E7nl) {
  min-width: 120px !important;
  padding: 0px !important;
}

._2aT8z7eJsccEAqH0KJyXL7 {
  padding-top: 0px !important;
}

._1RCWDLVLFja1TdD1P53BMq, ._3w92Ej5Kq7nbt5WACQ6jwI {
  margin-bottom: 0px !important;
}

._1RCWDLVLFja1TdD1P53BMq {
  font-size: var(--size-18) !important;
  line-height: 32px !important;
}

/* VOICE SLIDER */
.MY8iYjSUBt6cezwjPvtWp {
  display: flex !important;
}

.aFxOaYcllWYkCfVYQJFs0 > .S-_LaQG5eEOM2HWZ-geJI .MY8iYjSUBt6cezwjPvtWp::before {
  content: "" !important;
  display: block !important;
  margin-right: 8px !important;
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-volume) !important;
}

.aFxOaYcllWYkCfVYQJFs0 > .S-_LaQG5eEOM2HWZ-geJI:nth-of-type(5) .MY8iYjSUBt6cezwjPvtWp::before {
   background-image: var(--icon-mic) !important;
 }

._1Cccx-a5SBDaDmN3xR8PV1 {
  flex-grow: 1 !important;
}

/* REMOTE PLAY */
._1HL6KuwUJaZQ7x2rmAxxSz.DesktopUI, .DesktopUI ._1HL6KuwUJaZQ7x2rmAxxSz {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  text-transform: none !important;
  margin-top: 0px !important;
}

._1HL6KuwUJaZQ7x2rmAxxSz {
  color: rgb(var(--color-primary)) !important;
}

._1HL6KuwUJaZQ7x2rmAxxSz ._3b0U-QDD-uhFpw6xM716fw {
  line-height: unset !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP._1a_HObsloATE70dbQ_4ez1 {
  gap: 16px !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP._2N3q6hYt7WttFXomuhGs9s .XvRsoF63hkSPNVBr2XPVI {
  margin-left: 0px !important;
}

._1TZo2lWeWvdqFB-yUpltXG .Panel > div {
  padding-left: 0px !important;
}

._1v7vlCihasyycoYLr6EJmL .Panel > div {
  padding-left: 0px !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP._1a_HObsloATE70dbQ_4ez1 ._3epr8QYWw_FqFgMx38YEEm {
  min-width: 100% !important;
}

.DialogControlsSection > div:has(._1TZo2lWeWvdqFB-yUpltXG) {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._1TZo2lWeWvdqFB-yUpltXG, ._1v7vlCihasyycoYLr6EJmL {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* BROADCAST */
._3b0U-QDD-uhFpw6xM716fw:has(._3yThygN5Ps_AkPwAlNxpvA) {
  flex-direction: column !important;
}

._3yThygN5Ps_AkPwAlNxpvA {
  justify-content: left !important;
  line-height: 19px !important;
  margin-bottom: 8px !important;
}

/* MUSIC */
.S-_LaQG5eEOM2HWZ-geJI.qFXi6I-Cs0mJjTjqGXWZA._1u5FTYl4sD9y1KMWvCggAO._5UO-_VhgFhDWlkDIOZcn_ ._2ZQ9wHACVFqZcufK_WRGPM {
  padding-top: 0px !important;
}

._1sC68UJqI3ry5Gnk5cnH9U._1qtqBLJ3RtTjpSZECAD0Xr {
  padding-right: 8px !important;
}

.bkfjn0yka2uHNqEvWZaTJ ._1sC68UJqI3ry5Gnk5cnH9U._1qtqBLJ3RtTjpSZECAD0Xr {
  display: none !important;
}

._1sC68UJqI3ry5Gnk5cnH9U._1qtqBLJ3RtTjpSZECAD0Xr svg {
  color: transparent !important;
  height: 24px !important;
  width: 24px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-volume) !important;
}

/* ACCOUNT */
._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv {
  gap: 16px !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv .XvRsoF63hkSPNVBr2XPVI .TEWmsM70ZLEOxLAjDMpcv {
  padding: 16px 0px !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv .XvRsoF63hkSPNVBr2XPVI .TEWmsM70ZLEOxLAjDMpcv svg {
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 32px !important;
  width: 32px !important;
  margin: 0px !important;
  background-size: 16px !important;
}

._2SLehb0Hvx-jWmuv0gPqB- {
  margin-bottom: 16px !important;
}

/* FUNDS */
._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv .XvRsoF63hkSPNVBr2XPVI:nth-child(1) .TEWmsM70ZLEOxLAjDMpcv svg {
  background-image: var(--icon-shop) !important;
}

/* PRIVACY */
._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv .XvRsoF63hkSPNVBr2XPVI:nth-child(2) .TEWmsM70ZLEOxLAjDMpcv svg {
  background-image: var(--icon-privacy) !important;
}

/* DETAILS */
._2Mvpu0Kldp2FgzYp0Tx-OP.LFWdf_kEag5nfyHdl0Dlv .XvRsoF63hkSPNVBr2XPVI:nth-child(3) .TEWmsM70ZLEOxLAjDMpcv svg {
  background-image: var(--icon-edit) !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP .XvRsoF63hkSPNVBr2XPVI {
  margin-bottom: 0px !important;
}

._3qIXY674NedSZNa-CXtNlt {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
}

._2SLehb0Hvx-jWmuv0gPqB- ._2nksWzc3nto0qQdizUQHbE {
  font-weight: 400 !important;
}

._2SLehb0Hvx-jWmuv0gPqB- ._2Qyhcy1iiwhD1Mn6m4teKQ {
  margin-left: 0px !important;
  margin-right: 8px !important;
  margin-top: 0px !important;
}

._2Mvpu0Kldp2FgzYp0Tx-OP.E-It0s_4FBljpfdIM1OXO {
  --controls-list-spacing: 0px !important;
  gap: 16px !important;
}

/* SECURITY */
._1PBuyc38k9xkUt4KB_lXh- {
  color: rgb(var(--color-secondary)) !important;
  line-height: 32px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

/* VOICE STILL ACTIVE */
.DialogBody .activeVoiceControls {
  background: transparent !important;
  border: unset !important;
  border-image: url() !important;
}

.DialogBody .activeVoiceFlexBox::before, .DialogBody .activeVoiceFlexBox::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.DialogBody .activeVoiceFlexBox::before {
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.DialogBody .activeVoiceFlexBox::after {
  background-image: var(--image-acrylic) !important;
}

.activeVoiceControls .connectionStatusLabels, .chatRoomVoiceChannel .connectionStatusLabels {
  font-size: var(--size-12) !important;
  color: rgb(var(--color-primary)) !important;
}

.DialogBody .activeVoiceLabels {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-flex !important;
  font-size: var(--size-14) !important;
}

.DialogBody .activeVoiceButtons {
  min-width: 96px !important;
}

.CloseActiveVoiceWindowConfirmation .activeVoiceControls {
  margin-right: 0px !important;
  margin-top: 8px !important;
}

.circleHighlight {
  border: 1px solid rgb(var(--color-accent)) !important;
  right: 0px !important;
  top: 8px !important;
  width: 32px !important;
  height: 32px !important;
}