/* WHAT'S NEW SETTINGS */
[class*="libraryhomenewupdates_WhatsNewSettingsContainer_"] {
  background: rgb(var(--color-settings)) !important;
}

[class*="libraryhomenewupdates_WhatsNewSettingsContent_"] {
  padding: 38px 38px 0px 38px !important
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] div:last-child {
  margin-bottom: 0px !important;
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] {
  padding-bottom: 38px !important;
}

.DialogToggleField_NewUIContainer [class*="toggle_Toggle_"] {
  margin-right: 16px !important;
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] > [class*="libraryhomenewupdates_DialogLabelSoft_"], .displayColumn > [class*="libraryhomenewupdates_DialogLabelSoft_"] {
  margin-bottom: 16px !important;
}

._DialogInputContainer [class*="libraryhomenewupdates_DialogLabelSoft_"], .DialogLabel[class*="libraryhomenewupdates_DialogLabelSoft_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
  line-height: 16px !important;
}

.DialogToggle_Description {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
  padding-top: 0px !important;
  line-height: 22px !important;
}

[class*="libraryhomenewupdates_WhatsNewGameListSection_"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton_"] {
  margin-top: 0px !important;
  width: 14px !important;
  height: 22px !important;
  padding: 0px !important;
  opacity: 0.4 !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

[class*="libraryhomenewupdates_WhatsNewGameListSection_"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton_"]:hover {
  background: transparent !important;
  opacity: 1.0 !important;
}

[class*="libraryhomenewupdates_WhatsNewGameListSection_"] [class*="libraryhomenewupdates_WhatsNewSettingsUndoButton_"] svg line {
  stroke-width: 26px !important;
}

[class*="libraryhomenewupdates_WhatsNewSettings_"] {
}

[class*="libraryhomenewupdates_WhatsNewGameListSection_"] {
  padding: 0px !important;
  margin-top: 0px !important;
  max-height: unset !important;
  overflow-y: unset !important;
  overflow-x: hidden !important;
  display: flex !important;
  flex-direction: column !important;
}