/* WHAT'S NEW SETTINGS */
._2JKpGzeAiwmBdY73bfRXz- {
  background: var(--color-window-dialog) !important;
}

._1I-uT20jYsj5wUT4VIGjW8 {
  padding: 32px 16px 0 16px !important
}

/* HEADER */
._2JKpGzeAiwmBdY73bfRXz- .DialogHeader {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    padding: 0 12px !important;
    line-height: 32px !important;
    font-size: var(--size-12) !important;
    margin-bottom: 0 !important;
}

._1n-sV5GdQis4Wh9XN3GJ7L > div:last-child {
  margin: 0 !important;
}

._1n-sV5GdQis4Wh9XN3GJ7L {
  padding: 16px 0 !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogToggleField_NewUIContainer ._3Sl0QHQ69uK7ZMQo5vBfrA {
  margin-right: 0 !important;
}

._DialogInputContainer ._3Hf53stS1-9flruoPqwO0O, .DialogLabel._3Hf53stS1-9flruoPqwO0O {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 16px !important;
}

.displayColumn > ._3Hf53stS1-9flruoPqwO0O {
  color: var(--color-text-primary) !important;
}

._1n-sV5GdQis4Wh9XN3GJ7L > ._3Hf53stS1-9flruoPqwO0O, .displayColumn > ._3Hf53stS1-9flruoPqwO0O {
  margin-bottom: 0 !important;
}

.DialogToggle_Description {
  color: var(--color-text-secondary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding-top: 0 !important;
  line-height: 22px !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM .DialogToggle_Description {
  color: var(--color-text-primary) !important;
  line-height: 32px !important;
  padding: 0 8px !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._3XBggeqHxK4fIrbu_ULi1y {
  margin-top: 0 !important;
  width: 32px !important;
  height: 32px !important;
  padding: 0 !important;
  opacity: 1 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: 0 !important;
  background-color: var(--color-button-client-background) !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._3XBggeqHxK4fIrbu_ULi1y:hover {
  background-color: var(--color-button-client-background-hover) !important;
  opacity: 1.0 !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._3XBggeqHxK4fIrbu_ULi1y:active {
background-color: var(--color-button-client-background-active) !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._3XBggeqHxK4fIrbu_ULi1y svg {
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 12px !important;
  -webkit-mask-image: var(--icon-clear) !important;
}

.VwcCoDMU0ROCpRAJ_cXTx ._3XBggeqHxK4fIrbu_ULi1y svg * {
  display: none !important;
}

/* BLATHER */
.DialogLabel._DialogLayout.fyxt0H7Cwfirf9908slPp._3Hf53stS1-9flruoPqwO0O {
  display: none !important;
}

/* SECTIONS */
._1n-sV5GdQis4Wh9XN3GJ7L > .DialogLabel._DialogLayout:not(.fyxt0H7Cwfirf9908slPp) {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-20) !important;
  text-transform: none !important;
  margin-right: 0 !important;
  line-height: 32px !important;
}

/* VISIBILITY SETTINGS */
._1I-uT20jYsj5wUT4VIGjW8 ._DialogInputContainer:not(._30wJO3MC4x-I1OWpy1TAeE):not(.DialogToggleField), ._1I-uT20jYsj5wUT4VIGjW8 ._DialogInputContainer:not(._30wJO3MC4x-I1OWpy1TAeE):not(.DialogToggleField):hover:hover, ._1I-uT20jYsj5wUT4VIGjW8 ._DialogInputContainer:not(._30wJO3MC4x-I1OWpy1TAeE):not(.DialogToggleField):hover:active {
  background: transparent !important;
  padding: 0 !important;
  outline: unset !important;
}

/* PRIORITY SETTINGS */
._25JfLo9lwRM2V_2fUDsAaA {
  outline: unset !important;
  background: transparent !important;
  padding: 0 !important;
}

.VwcCoDMU0ROCpRAJ_cXTx {
  padding: 0 !important;
  margin-top: 0 !important;
  max-height: unset !important;
  overflow: visible !important;
  line-height: 32px !important;
  gap: 8px !important;
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
}

 ._25JfLo9lwRM2V_2fUDsAaA > .displayColumn {
   gap: 16px !important;
   display: flex !important;
   flex-direction: column !important;
 }

 .VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM {
   background-color: var(--color-list-background) !important;
 }

 .VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM:hover {
   background-color: var(--color-list-background-hover) !important;
 }

 .VwcCoDMU0ROCpRAJ_cXTx ._2C3-Rj_GA3KP7GklMymoPM:active {
   background-color: var(--color-list-background-active) !important;
 }