/* ACHIEVEMENT */
._38FqIwZQKW6BlRyzN66pi6 ._37Lk82ESPo7El4__sqZgOV .MGoYUyIslJerluzgnU7z9 {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
}

._38FqIwZQKW6BlRyzN66pi6 ._2HshOjKxsMkk2uUtP5Sp8x {
  filter: none !important;
  opacity: 0 !important;
  display: none !important;
}

._37Lk82ESPo7El4__sqZgOV ._1LRR7Ji-cwYvaIOcDllLOx {
  gap: 8px !important;
}

._37Lk82ESPo7El4__sqZgOV ._1LRR7Ji-cwYvaIOcDllLOx ._2u5KCqUgrG-dNxWg_e-BOs {
  margin: 8px !important;
}

._2V2sHETNfa62yMoDwSF3_t._3s4Rq3jnntBVP7HbJj1RMQ {
  box-shadow: 0 0 2px 1px rgba(var(--zehn-color-accent), 0.6), 0 0 16px 1px rgba(var(--zehn-color-accent), 0.4) !important;
}

._1Z2eJs9-zNTKcWKy4M-oDE {
  background: repeating-conic-gradient(rgba(var(--zehn-color-accent), 0.178) 0%, rgba(255, 184, 78, 0) 6%, rgba(var(--zehn-color-accent), 0.178) 10%, rgb(var(--zehn-color-accent)) 26%, rgba(var(--zehn-color-accent), 0.178) 35%, rgb(var(--zehn-color-accent)) 40%, rgba(var(--zehn-color-accent), 0.178) 60%, rgb(var(--zehn-color-accent)) 82%, rgba(var(--zehn-color-accent), 0.178) 100%) !important;
}

._37Lk82ESPo7El4__sqZgOV ._1LRR7Ji-cwYvaIOcDllLOx ._1s_9cSxUjb4609MSH0EjWH {
  padding: 0 !important;
  color: var(--zehn-color-tooltip-text-secondary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

._37Lk82ESPo7El4__sqZgOV ._1LRR7Ji-cwYvaIOcDllLOx ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

._2gLHbXukQBdrIKhqEYVvOe {}

._3dGOJTL8GRXpyosK3ooTdO {
  margin: 0 !important;
  padding: 0 !important;
}

._3dGOJTL8GRXpyosK3ooTdO .zpBMRpPhaI6jqMh9-UQAi {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin-bottom: 4px !important;
}

._1OIatPEED_bSmd_CNyMv7C {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: var(--zehn-color-progress-empty) !important;
}

._1OIatPEED_bSmd_CNyMv7C ._3Rm36_oeAhvIg6ZYP9l1Jj {
  background-color: var(--zehn-color-progress-filled) !important;
}

._37Lk82ESPo7El4__sqZgOV ._2KA0p5xYePYygXUbjjsPzA {
  background: transparent !important;
  padding: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

._37Lk82ESPo7El4__sqZgOV ._2KA0p5xYePYygXUbjjsPzA ._3aoiMPk40Rve2ktEp-cadA {
  color: var(--zehn-color-tooltip-text-secondary) !important;
}

/* UNLOCKED */
._37Lk82ESPo7El4__sqZgOV ._2KA0p5xYePYygXUbjjsPzA ._1eZi9D2dwrPAL_LgwE0KVv {
  color: var(--zehn-color-tooltip-text-secondary) !important;
}