/* APP HOVER */
._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B:has(._2sGn0cBsD44TjnUIh-lx9d) {
  display: var(--zehn-display-tooltips) !important;
}

._2sGn0cBsD44TjnUIh-lx9d {
  background: var(--zehn-color-tooltip-background) !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
  width: 220px !important;
}

.My_SveQxVY_oRxfkK5mqN ._3ry-JDFfnNe58WNZ7U6aVf {
  padding: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
}

.My_SveQxVY_oRxfkK5mqN:empty, .My_SveQxVY_oRxfkK5mqN:has(._3ry-JDFfnNe58WNZ7U6aVf:empty), .My_SveQxVY_oRxfkK5mqN:not(:has(div)) {
  display: none !important;
}

._3ry-JDFfnNe58WNZ7U6aVf:empty {
  display: none !important;
}

._1RfxlV1H3JsSs-aRaXVJQt {
  order: 0 !important;
  padding: 0 !important;
}

._1Kdi2PBxcdQwDpa-48hrf2 {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin-left: 0 !important;
}

.QO8XpcXyf6i06ZtmHfFA3 ._158pN0u30Fddq7XVASpxEe {
  background: var(--zehn-color-tooltip-text-primary) !important;
  margin-right: 8px !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
  display: none !important;
}

.QO8XpcXyf6i06ZtmHfFA3 ._3eZ2geN87clv6TGPMJI0qs {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

.My_SveQxVY_oRxfkK5mqN {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
  max-height: unset !important;
  min-height: 0 !important;
  text-transform: none !important;
}

._12UNIdjT-Kv1ib31jk6J37 {
  box-sizing: border-box !important;
  padding: 8px !important;
  gap: 8px !important;
}

._12UNIdjT-Kv1ib31jk6J37._1HlOXuwI_CB4gGmMZCz8oE {}

._12UNIdjT-Kv1ib31jk6J37 div {
  z-index: 999 !important;
}

._12UNIdjT-Kv1ib31jk6J37 > div:last-child {
  width: 100% !important;
}

div:has(>._1VGPO4xU5sgRK6DFt4t74O) {
  order: 1 !important;
}

._1VGPO4xU5sgRK6DFt4t74O {
  padding: 0 !important;
  margin: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
  width: unset !important;
}

._1VGPO4xU5sgRK6DFt4t74O div {
  color: var(--zehn-color-tooltip-text-secondary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

._1VGPO4xU5sgRK6DFt4t74O .MIHa_O-B1JXrzkoGc255n {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin-bottom: 0 !important;
  text-transform: none !important;
}

.Yts2cS2BIbHJoh5UorpDq {
  display: none !important;
}

.AcLtE9axR9tWhAVfDP9lv {
  filter: blur(var(--zehn-blur-radius)) opacity(50%) saturate(0.7) !important;
  display: none !important;
}

._3_0Qbu8IAsqsv_6W5AxRhe {
  background-color: transparent !important;
  padding: 0 !important;
  order: 2 !important;
}

._3_0Qbu8IAsqsv_6W5AxRhe .dfy8sRBn82Ozvw4RiqewN {
  margin: 0 !important;
}

._3_0Qbu8IAsqsv_6W5AxRhe .dfy8sRBn82Ozvw4RiqewN ._1dJq5WU2D3uW42_ty9aPwP {
  background: var(--zehn-color-tooltip-text-primary) !important;
  height: 6px !important;
  width: 6px !important;
  margin-right: 8px !important;
  border-radius: 50% !important;
  display: none !important;
}

._3_0Qbu8IAsqsv_6W5AxRhe .dfy8sRBn82Ozvw4RiqewN ._1hOV3SIw5_c3VcGS_sZ_yU {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  text-transform: none !important;
}

._3dncOt2dhpnFYQn-WYQ3Mb._1WWmQqppYq8c44A7nTMKUq {
  margin: 0 !important;
  padding: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
}

._2sGn0cBsD44TjnUIh-lx9d ._1KHOCigl8AaK2eHxQqPMlc {
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  border-radius: 0 !important;
  line-height: 16px !important;
  width: 100% !important;
  transition: none !important;
  transform: none !important;
}

._2sGn0cBsD44TjnUIh-lx9d ._3dncOt2dhpnFYQn-WYQ3Mb {
  display: block !important;
}

._2sGn0cBsD44TjnUIh-lx9d ._3dncOt2dhpnFYQn-WYQ3Mb .nibodjvvrm86uCfnnAn4g.Small {
  height: 24px !important;
  width: 24px !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 {
  width: 100% !important;
  gap: 8px !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._2HOH927_SBdi8J559aStH6 {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._25YVDTaClw6Y2COPsU0UaV.YWYPgSU8yPU8RyknVtCY3 {
  background-color: var(--zehn-color-progress-empty) !important;
  margin: 0 !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
  background-color: var(--zehn-color-progress-filled) !important;
}

._1KHOCigl8AaK2eHxQqPMlc ._2RX1dsh68v-P0H9Am9Ufy1 ._3ddJwYxqm61xYwptGOh8Me {
  color: var(--zehn-color-tooltip-text-secondary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin: 0 !important;
}

._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E.ZsU8nIIpj8MJn0vzMzSp1._13_ZZhj8LJVp4sybgKO6Uj {}

._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E.ZsU8nIIpj8MJn0vzMzSp1._13_ZZhj8LJVp4sybgKO6Uj ._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {}

._2R6-lF5h4f0SPrOL9B9IAw {
  background: transparent !important;
  -webkit-mask-image: unset !important;
  mask-image: none !important;
  height: 122px !important;
  order: 3 !important;
}

._2R6-lF5h4f0SPrOL9B9IAw:has(input) {
  height: 93px !important;
}

._2I4_RhvxHcAw8MQXjPimFk, ._3yeSSC97h_EEbE5VZAuG2d {
  position: relative !important;
}

._2X1QC1U5u__OlHPUFDQnu_ {
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
}

/* IMAGE PADDING FOR LIBRARY GAMES, SETTINGS STORAGE, APP HOVER, DOWNLOADS */
._2sGn0cBsD44TjnUIh-lx9d ._1R9r2OBCxAmtuUVrgBEUBw.ZsU8nIIpj8MJn0vzMzSp1 {
  /* padding-top: 93px !important; */
  /* padding-top: 46.7391304348% !important */
  padding-top: 0 !important;
}