/* SCREENSHOTS HOVER */
._2EMM516bLA2dC0r3OreZnv {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  padding: 8px !important;
  background: var(--zehn-color-tooltip-background) !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
  gap: 8px !important;
  flex-direction: column !important;
  display: var(--zehn-display-tooltips) !important;
}

._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce {
  background: transparent !important;
}

._38FqIwZQKW6BlRyzN66pi6 {
  background: var(--zehn-color-tooltip-background) !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
  padding: 8px !important;
  gap: 8px !important;
  display: flex !important;
  flex-direction: column !important;
}

._2EMM516bLA2dC0r3OreZnv ._2pHz57SGRWZSR3oEmPPKK_ {
  background-color: transparent !important;
}

._2EMM516bLA2dC0r3OreZnv > div:not(.rYBZBWnNW6m-N9vX0Chce):not(img) {
  line-height: normal !important;
  margin: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}