/* DISABLE TRANSPARENCY EFFECTS */
:root {
  --option-transparency-window: var(--zehn-color-base);
  --option-transparency-acrylic: var(--zehn-color-section);
  --option-transparency-context: var(--zehn-color-context);
  --option-transparency: 0;
  --option-reveal: 0;
}