/* ENABLE TRANSPARENCY EFFECTS */
:root {
  --option-acrylic-color-base: transparent;
  --option-acrylic-color-section: var(--zehn-color-acrylic);
  --option-acrylic-color-context: var(--zehn-color-context-acrylic);
  --option-acrylic-color-detail: var(--zehn-color-acrylic);
  --option-acrylic-filter: var(--zehn-filter-acrylic-blur);
  --option-acrylic-texture: var(--zehn-texture-noise);
  --option-acrylic: 1;

  --option-reveal: 1;
}