/* PINNED VIEW */
._2iGYYePQN5QQzHWNLybmd4._2Q5XpOy6hQxvdISYSpM2uM ._3wNylaCAUJ8XtRM6mu2C0k {
  display: none !important;
}

._36Dp_CLuZbFCm7KDc9tbCv._278LBuU8HjAQGs-jNFHUQb {
  opacity: 1 !important;
  visibility: visible !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

._25OqwEZV5mfVuIMgQSf3n0 ._2JobstxtZVYF3078DblN2M {
  display: none !important;
}

._2HS5QwHZM9rkt-lx6YWlBF._2Q5XpOy6hQxvdISYSpM2uM {
  display: none !important;
}

._2OoAjT3o0Ieng7ycuy86vZ ._1X4dtbZ_AMX_DXT-SGiK01.DesktopUI, .DesktopUI ._2OoAjT3o0Ieng7ycuy86vZ ._1X4dtbZ_AMX_DXT-SGiK01 {
  margin-top: 0px !important;
}

/* SEARCH */
._2HS5QwHZM9rkt-lx6YWlBF ._1MqIGcIt2RcNHgT09vMWTj {
  min-width: 0px !important;
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
}

._2HS5QwHZM9rkt-lx6YWlBF .DialogInput_Wrapper > input.DialogInput {
  min-width: 100% !important;
}

/* ACHIEVEMENTS */
.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.Achievements {
  gap: 16px !important;
}

._36Dp_CLuZbFCm7KDc9tbCv {
  padding: 0px 16px !important;
  margin-top: calc(38px + 16px) !important;
}

._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k.DesktopUI, .DesktopUI ._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  display: flex !important;
}

.Achievements ._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k.DesktopUI, .DesktopUI .Achievements ._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  padding: 0px 12px !important;
  line-height: 38px !important;
}

._2iGYYePQN5QQzHWNLybmd4 {
  gap: 16px !important;
}

._gDkIgrqhJq-FtbuR9wJi {
  background-color: transparent !important;
  padding: 0px !important;
  gap: 16px !important;
}

._28omEDJUOc_yRNrrdxXFx1 {
  gap: 8px !important;
}

._28omEDJUOc_yRNrrdxXFx1 .C17OpWBrNblXGLwQpxHk- ._17zZlCuxyWWUil57ZLDOXp {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  letter-spacing: normal !important;
}

._3CaVUwIuq04vtlXl8IK-p1 {
  margin-top: 8px !important;
}

._2iGYYePQN5QQzHWNLybmd4 .yZ55NhARZGx1Awk2qs8pS {
  height: 2px !important;
  background: rgba(var(--color-white), 0.2) !important;
}

/* TABS */
._2JobstxtZVYF3078DblN2M {
  padding: 0px 16px !important;
}

._26cOWHMMjKvxQ-UyuikavV {
  -webkit-mask-image: none !important;
}

._1CJeU7emnRNSJ8Xk3Leavm {
  padding: 0px 0px !important;
  column-gap: 0px !important;
  overflow-x: hidden !important;
}

._1CJeU7emnRNSJ8Xk3Leavm > div {
  min-width: 0px !important;
}

._1nq0ibcuVEbRv0z_wk9pIQ {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

._2JobstxtZVYF3078DblN2M, .WDa0_WKNSWIa38S26gl_T {
}

.dCYlnZ6rohlL85gziA5ZY {
  min-width: 0px !important;
  display: none !important;
}

._3eEbSktrstBdLk0dVpnKVI._3Gp1bACHx__POxmy6Gd3kG {
  color: rgb(var(--color-primary)) !important;
  background-color: rgb(var(--color-accent)) !important;
  min-width: auto !important;
  flex-shrink: 0 !important;
}

._3eEbSktrstBdLk0dVpnKVI ._3Ebb3ha_Q86-lxguhjfyE1 {
  display: none !important;
}

._3eEbSktrstBdLk0dVpnKVI:not(._3Gp1bACHx__POxmy6Gd3kG) ._3Ebb3ha_Q86-lxguhjfyE1 {
  display: none !important;
}

._3eEbSktrstBdLk0dVpnKVI {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  letter-spacing: normal !important;
  border-radius: 0px !important;
  height: 38px !important;
  line-height: 38px !important;
  padding: 0px 16px !important;
  text-align: center !important;
}

._3eEbSktrstBdLk0dVpnKVI:hover:not(._3Gp1bACHx__POxmy6Gd3kG) {
  background-color: rgba(var(--color-white), 0.1) !important;
}

._3eEbSktrstBdLk0dVpnKVI:active:not(._3Gp1bACHx__POxmy6Gd3kG) {
  background-color: rgba(var(--color-white), 0.2) !important;
}

._1X4dtbZ_AMX_DXT-SGiK01.DesktopUI, .DesktopUI ._1X4dtbZ_AMX_DXT-SGiK01 {
  margin-top: calc(38px + 16px) !important;
}

._1UXC2lGcmNTGepRJTwtuH0 {
  padding: 0px 16px !important;
  gap: 0px !important;
  background-color: transparent !important;
}

._2HS5QwHZM9rkt-lx6YWlBF{
  gap: 16px !important;
  margin-bottom: 16px !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  white-space: nowrap !important;
}

.OAV6QqJuXaBPRBW9RaPA6 {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1bbP5wgFM6ejFlRHIpzI1x {
  gap: 0px !important;
}

._2UpV2ekLOgBRHsAaqcedCB ._2LSKtMWWMT5Pne2vGJOtiF {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
}

._1tTuIhabs4uQQmR2udzw_P {
  background-color: transparent !important;
  gap: 8px !important;
}

._3RbiUXPyFw_B9J6rmAErm {
  padding-bottom: 0px !important;
}

._2Kmn7fJOkLT4KyWl467a9M:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

._2Kmn7fJOkLT4KyWl467a9M:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

._2Kmn7fJOkLT4KyWl467a9M {
  background-color: transparent !important;
}

._2Kmn7fJOkLT4KyWl467a9M .cvw8DHMUBKuZs5DeLJOQ2 {
  padding: 0px 16px !important;
  gap: 8px !important;
}

._1tTuIhabs4uQQmR2udzw_P svg {
  margin-right: 0px !important;
  padding-right: 0px !important;
  color: transparent !important;
  height: 100% !important;
  width: 0px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-navigation) !important;
}

._17dhGq-FsL8xZBes7dOOlN {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1WP2YDDWrL5LPHoS04AKx8 {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

._316Uo4SBrQ_beBdSYn2HNO ._1vd1pZ7fwu6SLn898cXkOs {
  width: 38px !important;
  padding: 0px !important;
}

._316Uo4SBrQ_beBdSYn2HNO ._1vd1pZ7fwu6SLn898cXkOs svg {
  width: 38px !important;
  color: transparent !important;
  fill: transparent !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-achievement-unlocked) !important;
}

._316Uo4SBrQ_beBdSYn2HNO {
  background: transparent !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W ._2lgHVJbZwxb10Md7bZ6USU {
  background-color: rgba(var(--color-accent), 0.5) !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W .Zoy4Cl4jObtENnsc8sYfx ._3LS_NZyqY77COuRN-Z3TVB{
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W .Zoy4Cl4jObtENnsc8sYfx ._231lloeMz5EvNkHHGXN6RJ {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

._316Uo4SBrQ_beBdSYn2HNO .UWkKthLfz_5MM3NdASE2W ._17WmAft0lOwrau_jKP2_JW {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._316Uo4SBrQ_beBdSYn2HNO:hover ._3P6m0b3rS21-CubUCoaptG .g5fuBl7jK6RfEOEeVv3Dy, ._316Uo4SBrQ_beBdSYn2HNO.gpfocus ._3P6m0b3rS21-CubUCoaptG .g5fuBl7jK6RfEOEeVv3Dy {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2yMyP8POdcTHs9u9CEQIKY {
  margin-right: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  line-height: 48px !important;
  background: rgb(var(--color-background)) !important;
}

.IM0uEBPVo6MDEDQLGzeZr {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  opacity: 1 !important;
  padding-top: 0px !important;
  line-height: 32px !important;
  height: 32px !important;
}

/* TAB ROWS */
.N-f57Rtxa8zZD5y8vbm25 {
  display: none !important;
}

/* SEARCH */
._1AQz-G1NsOauVRdAiPszfd {
  display: none !important;
}

/* COMPARISON ACHIEVEMENT */
._3wXF00ta53M5KmhHkYtrzs._3AWMZtrvbVLNDGw8M3yoCa ._2fFW2raBfeDt3WOPB-aQAq {
  color: rgb(var(--color-accent)) !important;
}

._3wXF00ta53M5KmhHkYtrzs ._2fFW2raBfeDt3WOPB-aQAq, ._3wXF00ta53M5KmhHkYtrzs ._3Y63d79wKiXs14rvBcrsDx {
  font-size: var(--size-12) !important;
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
}