/* TITLEBAR */
[class*="steamdesktopoverlay_OverlayPopup_"] .title-area-children {
  line-height: 38px !important;
}

.OverlayBrowser_Browser [class*="steamdesktopoverlay_WindowControls_"] {
  margin-left: auto !important;
  width: calc(38px * 3) !important;
}

.OverlayBrowser_Discussions .title-area-children, .OverlayBrowser_Guides .title-area-children, .OverlayBrowser_Browser .title-area-children {
  padding: 0px 16px !important;
  line-height: 38px !important;
}

.OverlayBrowser_Browser .title-area-children {
  display: none !important;
}

/* TAB */
[class*="desktopbrowser_BrowserTabs_"] {
  margin-top: -38px !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"][class*="desktopbrowser_Active_"], [class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"][class*="desktopbrowser_Active_"]:hover, [class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"][class*="desktopbrowser_Active_"]:active {
  background-color: rgba(var(--color-primary), 0.5) !important;
  border: unset !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] {
  padding: 0px 8px !important;
  background-color: rgba(var(--color-white), 0.0) !important;
  border: unset !important;
}

[class*="desktopbrowser_BrowserTabs_"] > [class*="desktopbrowser_BrowserTab_"] {
  padding: 0px !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"]:not([class*="desktopbrowser_Active_"]) {
  filter: brightness(0.5) !important;
}

[class*="desktopbrowser_BrowserTabs_"] > [class*="desktopbrowser_BrowserTab_"]:not([class*="desktopbrowser_Active_"]) {
  filter: none !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_BrowserTabIcon_"] {
  height: 16px !important;
  width: 16px !important;
  padding-right: 8px !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_TabTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
  line-height: 38px !important;
  width: 150px !important;
}

/* CLOSE BUTTON */
[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_CloseTabButton_"] {
  padding-left: 8px !important;
  height: 12px !important;
  width: 12px !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"]:not(:hover) [class*="desktopbrowser_CloseTabButton_"] {
  opacity: 0 !important;
  transition: opacity 0.25s ease-out !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_CloseTabButton_"] path {
  fill: rgba(var(--color-white), 0.4) !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_CloseTabButton_"]:hover path {
  fill: rgb(var(--color-white)) !important;
}

[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_CloseTabButton_"]:active path {
  fill: rgb(var(--color-white)) !important;
}

/* NEW TAB */
[class*="desktopbrowser_BrowserTabs_"] [class*="desktopbrowser_BrowserTab_"] [class*="desktopbrowser_AddTabButton_"] {
  height: 38px !important;
  width: 38px !important;
  color: transparent !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbElEQVRYhe3YQQqAIBBA0YzOWmfqtNOmbTIfBIf8D9wlfmfhohYRW0X77IAvhlGGUYZRhlFLhN3vGmKJiQ1lGGUYdcDve8/Bmdh/ZQ/6zcQyN05PpafsxAyjDKPKhjV/EUCGUYZRhlGGUWXDHspoCa8xBwRiAAAAAElFTkSuQmCC') !important;
}

/* URLBAR */
[class*="desktopbrowser_URLBar_"] {
  background: transparent !important;
  height: 38px !important;
  max-height: 38px !important;
  padding: 0px !important;
  background: transparent !important;
}

[class*="desktopbrowser_URLBar_"] [class*="steamdesktop_StatusIcon_"] {
  color: rgb(var(--color-sub)) !important;
  line-height: 38px !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

[class*="desktopbrowser_URLBar_"] [class*="steamdesktop_StatusIcon_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-white)) !important;
  border-radius: 0px !important;
}

[class*="desktopbrowser_URLBar_"] [class*="steamdesktop_StatusIcon_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="desktopbrowser_URLBar_"] svg {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_StatusIcon_"][class*="desktopbrowser_NavigationButton_"] svg {
  display: none !important;
  padding: 0px !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_NavigationButton_"] {
  padding: 0px !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_NavigationButton_"][class*="desktopbrowser_Disabled_"] {
  color: rgb(var(--color-sub)) !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_StatusIcon_"] {
  background-color: transparent !important;
  color: rgb(var(--color-white)) !important;
  border-radius: 0px !important;
  width: 38px !important;
  height: 38px !important;
  /* margin-right: 16px !important; */
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: 0px !important;
}

/* PREVIOUS BUTTON */
[class*="desktopbrowser_URLBar_"] > [class*="desktopbrowser_StatusIcon_"]:nth-child(1) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe2WUQrCMBBEJ+J99FJWSK5j/fFS8UTjRyNWqcIk3VroPggTSLp5bChtIIk1svu3wDdcTMXFVFxMxcVUXExlM2IJQAYQWwvtm1Xe6UueS15rC80tBgxyAUBXsv+9fRoLMQC4ACCAU0m5c1ZiwKtTXUlJLlT8weapOqP5Z8Hn2kE5pKZjR2FvxNCxm3wKSasRSd5JpprnraQSyVwrZSXWLGUhllqubzxq3spF2MxHfDZcTMXFVFxMxcVUXExltWIPrsbjpfdiH/4AAAAASUVORK5CYII=') !important;
  transform: rotateY(180deg) !important;
}

/* NEXT BUTTON */
[class*="desktopbrowser_URLBar_"] > [class*="desktopbrowser_StatusIcon_"]:nth-child(2) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe2WUQrCMBBEJ+J99FJWSK5j/fFS8UTjRyNWqcIk3VroPggTSLp5bChtIIk1svu3wDdcTMXFVFxMxcVUXExlM2IJQAYQWwvtm1Xe6UueS15rC80tBgxyAUBXsv+9fRoLMQC4ACCAU0m5c1ZiwKtTXUlJLlT8weapOqP5Z8Hn2kE5pKZjR2FvxNCxm3wKSasRSd5JpprnraQSyVwrZSXWLGUhllqubzxq3spF2MxHfDZcTMXFVFxMxcVUXExltWIPrsbjpfdiH/4AAAAASUVORK5CYII=') !important;
}

/* RELOAD BUTTON */
[class*="desktopbrowser_URLBar_"] > [class*="desktopbrowser_StatusIcon_"]:nth-child(3) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABZklEQVRYhe3Wv0odQRiG8d8RhGMhiBLRRiIWklswxOKk0law8RbM1ah3YCNegJWVKARSpwvIEVTwDzaKojAWO4EQPWa/ETXIPjDF7s4737Ozs7PbSin5H+l7a4FeNGJRGrEojViURizKuxNLf7U/GcEGFp7hVSzWxndcPXLtGncque3C8YvFfuACnx65dokljGEShyUFWgV/FzuYxmg+Tmg90f8UPzEbqpJSirROqmgHMgM504nUis7YDo6wGLp7NlWP9kvdQHSNTWAtmIHVnK1NdMaOcoHbSAj96GK8biA6Yy0P9606/OsFeUBU7AYzwYycuYkEomJdLAczcqYbSgS3i68F20X7NbYL2MWU6vWvwzF+4XOkSIkYnOFctXZOevT5gD0Mqz7sIUq/lSM4UK2bdcxhMLf5fK6b+4SlKJ+x38zhGz5iKJ+7wD5WsFU68HPFXox39wf74jRiURqxKI1YlEYsyj0GETIGnImhmAAAAABJRU5ErkJggg==') !important;
}

/* HOME BUTTON */
[class*="desktopbrowser_URLBar_"] > [class*="desktopbrowser_StatusIcon_"]:nth-child(4) {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe3Vyw2DMBCEYW+UjmiBFtwCzVFcSphcUFgh1ngEdnyYX+IQjOKPh8EApBF7/RsQJRibYGyCsQnGJhjbmznYzMIxAEtK6WNma+GY+skAVG+F/8jYy4/MdRfmUMu2hbhuMIfKbl+I6wI7Q13hmsNKqBKuKawGFeGawQDM20TV6x57c+srNh1hOHQyNrFXzIiT/71gAcDc29b/vhirnmvYT5JgbNRH3FdamcyqjaIe/p4NeysFYxOMTTA2wdgEY/sC8xnoN/zekx4AAAAASUVORK5CYII=') !important;
}

/* LOCK ICON */
[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_URLBarText_"] [class*="desktopbrowser_LockIcon_"] {
  padding-bottom: 0px !important;
  height: 38px !important;
  width: 38px !important;
  color: transparent !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABPklEQVRYhe2WMU7DQBBFnxEXoKOigJoj0Mc1XCHmDLkA3IScg1wBU9NSOdAk5U+RsVgFO/asbYGifdLI9u7Yeh57R5tJ4j9y9tcCbSQxL0nMSxLzksS8nJxYDpTABpAdSxsfhRixpUUF3AMZ8ACsgRebG44kT+SS1pKKlvnC5nPnc39F5txdlFaZO+DTxi4PclbABXA7pGDeT3kNPAXXTW/1DNxEGxneion9PzVWXiveim2BWUfODPiO0/nBK/YBLDpyrthXrIgyqolclY8deYWkrx55rRFz01JSJWkVtIVc0qukzYFcdaS1jC5Wi7yZiOz4budNlXPLDWqCDRFSj81jKje2WCgYXs8lbT3P8Pax3msqOM+Csd69baptT+aRaOJ8JJFjRH2SqcWiq3ZyO9jJSWJekpiXJOYliXnZASg97Cz79cRIAAAAAElFTkSuQmCC') !important;
}

/* URL */
[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_URLBarText_"] [class*="desktopbrowser_URL_"] {
  padding: 0px 3px 0px 0px !important;
  color: rgb(var(--color-sub)) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 400 !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_URLBarText_"]:hover [class*="desktopbrowser_URL_"] {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 400 !important;
}

[class*="desktopbrowser_URLBar_"] [class*="desktopbrowser_URLBarText_"] {
  background: transparent !important;
  border-radius: 0px !important;
  line-height: 38px !important;
  padding: 0px !important;
}

/* HOST VIEW */
[class*="desktopbrowser_BrowserViewHost_"] {
  margin: 0px !important;
  background: rgba(var(--color-primary), 0.5) !important;
}