/* BACKGROUND */
[class*="gamepadui_BasicHome_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamepadui_BasicHome_"][class*="gamepadui_OpaqueBackground_"] {
  background: transparent !important;
}


/* HEADER */
.BasicUI [class*="header_Header_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="header_Header_"] {
  padding: 0px !important;
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

[class*="header_Header_"]::before {
  background-color: transparent !important;
}

/* SELECTION CONTAINER */
[class*="controllerconfigurator_ControllerSelectionContainer_"] {
  padding: 0px !important;
  background: transparent !important;
}

[class*="gamepadpage_GamepadPage_"][class*="gamepadpage_PadForHeader_"] {
  margin-top: calc(38px + 16px) !important;
}

/* SEARCH CONTAINER */
.FlexGrowUniversalSearch [class*="searchbar_SearchContainer_"] {
  padding: 0px 16px !important;
}

[class*="searchbar_SearchContainer_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-largest) !important;
  /* display: none !important; */
}

[class*="searchbar_SearchContainer_"].gpfocuswithin, [class*="searchbar_SearchContainer_"][class*="searchbar_ForceExpanded_"], [class*="searchbar_SearchContainer_"]:hover {
  color: rgb(var(--color-text)) !important;
}

[class*="searchbar_SearchContainer_"]:not([class*="searchbar_VR_"]):hover {
  /* background-color: rgba(var(--color-white), 0.1) !important; */
  background-color: transparent !important;
}

[class*="searchbar_SearchContainer_"]:not([class*="searchbar_VR_"]):active {
  /* background-color: rgba(var(--color-white), 0.2) !important; */
  background-color: transparent !important;
}

/* MAIN SECTION */
[class*="controllerconfigurator_ControllerConfiguratorMain_"] {
  background: transparent !important;
  margin: 0px auto !important;
}

/* TOP SECTION */
[class*="controllerconfigurator_TopSection_"] {
  background-color: transparent !important;
}

/* INNER CONTAINER */
[class*="controllerconfigurator_TopSection_"]>[class*="controllerconfigurator_Inner_"] {
  padding: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* TOP HEADER */
[class*="controllerconfigurator_TopSectionHeader_"] {
  line-height: 32px !important;
  padding-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-large) !important;
  margin-bottom: 16px !important;
}

/* HELP BUTTON */
[class*="controllerconfigurator_HelpButtonContainer_"] {
  gap: 0px !important;
}

button[class*="controllerconfigurator_HelpButton_"].DialogButton {
  width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="controllerconfigurator_HelpButton_"] svg {
  width: 38px !important;
  height: 38px !important;
  color: transparent !important;
  line-height: 38px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVRYhe2WMU7DQBBFn7kKknMBqOAKoecAOGUug3IF06cJZ+AEiKSAFDgXoP0psiAryir8NTZRtE/aZmbH+yytvraQxCly8d8CMbKYSxZzyWIuWczlbMVqYAmotZah3olUsQrYADfAAiiBAhgBz8At0ACTZDNJ7qokfUmqj+yrw75JwhlJYs0vpNpyzRBitaSPSE+R+rvxIz/LvWPXwDzSKyL1OXBlnkNhPhTF7qK/RXqH5ErgNdL7U7HYAam9g6TERdnzfsAXWwFTc2Ya5ixcsRdgbM7chTmPAXLsc6iAdZP/YSixb7lNCNtHSWWojyTNJK1Dv0r8vh0X+zyxC8/LVm0V7tR9lw93FeuNs30o9kYWc8liLlnMJYu5nKzYFlzL7Iy35v/nAAAAAElFTkSuQmCC') !important;
}

/* CURRENT CONFIG */
[class*="controllerconfigurator_CurrentConfigurationButton_"].DialogButton._DialogLayout.Secondary[class*="gamepaddialog_Button_"].Focusable {
  margin-bottom: 16px !important;
  padding: 0px !important;
}

[class*="gamepaddialog_Button_"].DialogButton {
  /* padding: 0px !important; */
}

[class*="dropdownlabel_DropDownLabelContainer_"] {
  padding: 16px 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

[class*="dropdownlabel_DropDownLabelIconContainer_"] {
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-right: 0px !important;
  max-width: 38px !important;
  max-height: 38px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABV0lEQVRYhe2WrU7EQBSFvxIEAbHwBAgSIJh1BGqxCMCB5Bl4CfYhUKuXWgS4bS0Y/hQvQCAIqLuImYaGtLBnkgaymS8Z0Tu3OWfu3E4nMTP+IzN/baCNaEwlGlOJxlSiMZVoTGUqjZ0AOXAJpLV46mOFzwkiCbxdFMAGcAvMA6vAnJ8rgUfgHVgHHoAtWcHM1JGaWWlmgwlyT31uquqEVOzcV2utIW7Awbf4HXAP7Csis6orYBO4aIi3CRfArqwilvjQzD4Ctv/VzI663MocWAD64vqvgUR5Tz0uVoBh7TkFRjjDhR85rt/qR8gQWFaE1IoZbuWVqQx4AZ5xi6zmF4El3Icwbnj3V9TmL/mqRIarzl5L7ghXuWq+VITUit0APVyfjX8wVZEB27jD9g2hx0LOsSvgCTieMP8M1187ikjoL6lzpvJ20SnRmEo0phKNqURjKtGYyifNjDAxcRlxPwAAAABJRU5ErkJggg==') !important;
}

[class*="dropdownlabel_DropDownLabelIconContainer_"] svg {
  color: transparent !important;
}

[class*="ontrollerconfigurator_CurrentConfigurationButton_"] [class*="controllerconfigurator_Carat_"] {
  color: transparent !important;
  height: 38px !important;
  width: 38px !important;
  margin: 0px !important;
  position: absolute !important;
  right: 0px !important;
  padding: 21px 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoUlEQVRYhe3WOwrCQBRG4ROxcglamoC4/91oa9xB2rEUBIuLZzCE/yxg+Mg8cofWGmts92/AtwKrFli1wKoFVi2wapuFXYHFgHw2CNPFHTgCh98574ytHIEn8pezztgZeCDizMM/IeLsWzkBMwKux3OhzOo27AacEG6oCdNQ4MFUFMBeWGOVD+yFDihwfkld2ux00a3AqgVWLbBqgVULrNoL9OkYrhxD8p0AAAAASUVORK5CYII=') !important;
}

/* ACTION BUTTONS */
[class*="controllerconfigurator_ControllerConfiguratorMain_"] [class*="controllerconfigurator_ControllerConfigurationActionButtons_"] {
  margin-top: 0px !important;
  margin-bottom: 16px !important;
  gap: 16px !important;
}

[class*="controllerconfigurator_ControllerConfiguratorMain_"] [class*="controllerconfigurator_ControllerConfigurationActionButtons_"] div {
  margin-right: 0px !important;
}

/* OPTION BUTTON */
[class*="controllerconfigurator_MainOptionsButton_"] svg {
  width: 38px !important;
  height: 38px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABzElEQVRYhe3Wv2oUURQG8N8aa8E0GivRwsJCEi3FmH+V+hIS7MXeuPsA+gJJJRZJJZqNhaBgUkYELYK1sJt6X+BY3LswRle8s66RMB9cZuacM+d8zDn3m9uKCP8jTh03gVFoiJWiIVaKhlgpGmKlOLHElrCJDxXbHrawMk7icYg9wwt8zc8dtBE4wHM8rZv89BjEvuAKHuMG3mX7Ivaz7aBu8laN00UH3/AJrzEzIq6HO7iOq3hYVCUiStZyRPQjohsRvYhY+01sJ8d0I+IwIpZKapUS28wFj9o3cvF+vj/qb0fEVkmt0uGfwW1pfobYwHncxc0cs17xr0hzd26SrRQRjyJiUHnuRcRsRFyKiMt59Sr+QUQ8Ka1TZ1ee/YVtKl9bmPazDE0pRGkrdzEvtWaIHUm/pnEGa9iu+Bex4EcR/uvEengv6dQQqzjEK3TRz7Yh9iWN6xdVqikX23mO2n8gFzv5neWSWnUEti0J7Ge8xIURcT3cw6x/ILDVdT8i3uT7ubz7BpUv042I1br5x/lXXsQ16QsuSD/sgTT8tzCHj3WT12llFUt4IAnsfLbtSm1cx9vjIjYxnNgT7MTQECtFQ6wUDbFSNMRK8R1RypTgMj/PVAAAAABJRU5ErkJggg==') !important;
  color: transparent !important;
}

/* BOTTOM SECTION */
[class*="controllerconfigurator_BottomSection_"] {
  padding: 16px !important;
  background-color: transparent !important;
  min-height: fit-content !important;
}

[class*="controllerconfigurator_QuickSettingsHeader_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 24px !important;
  padding-bottom: 0px !important;
}

[class*="controllerconfigurator_BottomSection_"] {
  --field-negative-horizontal-margin: 0px !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"] {
  --field-row-children-spacing: 16px;
}

/* CONTROLLER SUMMARY */
[class*="controllerconfiguratorsummary_ControllerConfiguratorSummary_"] {
  background: rgb(var(--color-settings)) !important;
  padding-top: 0px !important;
  zoom: 1 !important;
}

[class*="controllerconfiguratorsummary_TitleLabel_"] {
  margin-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-largest) !important;
}

[class*="controllerconfiguratorsummary_ControlsListSection_"] {
  font-size: var(--font-size-medium) !important;
}

[class*="controllerconfiguratorsummary_ControllerConfiguratorSummary_"] [class*="controllerconfiguratorsummary_Left_"] {
  padding-left: 16px !important;
  padding-right: 16px !important;
  gap: 16px !important;
}

[class*="controllerconfiguratorsummary_ControllerConfiguratorSummary_"] [class*="controllerconfiguratorsummary_Right_"] {
  padding-left: 16px !important;
  padding-right: 16px !important;
  gap: 16px !important;
}

[class*="controllerconfiguratorsummary_ControllerConfiguratorSummary_"] [class*="controllerconfiguratorsummary_DirectAccessButton_"] {
  padding: 0px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

[class*="controllerconfiguratorsummary_ControllerInputDisplay_"] [class*="controllerconfiguratorsummary_ActivatorText_"] [class*="marquee_Content_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-medium) !important;
  font-weight: 400 !important;
}

[class*="controllerconfiguratorsummary_ControlContainer_"] > [class*="controllerconfiguratorsummary_DirectAccessButton_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="controllerconfiguratorsummary_ControlContainer_"] > [class*="controllerconfiguratorsummary_DirectAccessButton_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="controllerconfiguratorsummary_ControlContainer_"] > [class*="controllerconfiguratorsummary_DirectAccessButton_"]:active {
   background-color: rgba(var(--color-white), 0.4) !important;
   outline: 2px solid transparent !important;
   outline-offset: -2px !important;
}

[class*="controllerconfiguratorsummary_ControllerInputDisplay_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 38px !important;
  /* width: fit-content !important; */
  padding: 0px 16px !important;
  gap: 8px !important;
}

[class*="controllerconfiguratorsummary_ControllerInputDisplay_"] [class*="controllerconfiguratorsummary_InputGlyph_"][class*="controllerconfiguratorsummary_StandardControl_"] {
  color: rgb(var(--color-white)) !important;
}

[class*="controllerconfiguratorsummary_ControllerInputDisplay_"] [class*="controllerconfiguratorsummary_StandardControl_"] {
  transform: none !important;
}

[class*="controllerconfiguratorsummary_ControllerInputDisplay_"] [class*="controllerconfiguratorsummary_InputGlyph_"] {
  margin: 0px !important;
  width: 38px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

[class*="controllerconfiguratorsummary_InputGlyph_"] [class*="controllerconfiguratorsummary_MediumGlyphIcon_"] {
  max-width: 16px !important;
  max-height: 16px !important;
  padding: 0px !important;
  margin: auto !important;
}

/* BOTTOM BUTTONS */
[class*="controllerconfiguratorsummary_ControlsListSection_"] [class*="controllerconfiguratorsummary_Title_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 32px !important;
  text-align: center !important;
}

[class*="controllerconfiguratorsummary_ControlsListSection_"] [class*="controllerconfiguratorsummary_StandardControl_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
  line-height: 32px !important;
  text-align: center !important;
}

[class*="controllerconfiguratorsummary_BottomControlsSections_"] {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

[class*="controllerconfiguratorsummary_BottomControlsSections_"] [class*="controllerconfiguratorsummary_DirectAccessButton_"] {
  padding: 0px 16px !important;
}

[class*="controllerconfiguratorsummary_BottomControlsSections_"] [class*="controllerconfiguratorsummary_DirectAccessButton_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="controllerconfiguratorsummary_BottomControlsSections_"] [class*="controllerconfiguratorsummary_DirectAccessButton_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="controllerconfiguratorsummary_BottomControlsSections_"] [class*="controllerconfiguratorsummary_DirectAccessButton_"]:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

/* CONTROLLER IMAGE */
.controller_xboxone [class*="controllerconfiguratorsummary_BackgroundController_"] {
  filter: saturate(0) !important;
}

[class*="controllerconfiguratorsummary_BackgroundController_"] {
  filter: saturate(0) !important;
}

/* CONTROLLER EDIT PAGE */
[class*="gamepaddialog_GamepadDialogContent_InnerWidth_"].DialogContent_InnerWidth {
  /* padding: 38px 0px 0px 0px !important; */
}

[class*="gamepadpage_GamepadPage_"][class*="gamepadpage_DialogBackground_"] {
  background: transparent !important;
}

[class*="gamepadpage_GamepadPageDialogContent_"]:not([class*="gamepadpage_FullWidth_"]) {
  max-width: 100% !important;
  padding-right: 16px !important;
}

[class*="gamepadpage_GamepadPageDialogContent_"]:not([class*="gamepadpage_FullWidth_"]).DialogContent {
  padding: 0px !important;
}

[class*="gamepadpage_GamepadPageDialogContent_"] [class*="pagedsettings_PagedSettingsDialog_PageListColumn_"] {
  padding-top: 0px !important;
}

[class*="gamepadpagedsettings_PagedSettingsDialog_PageList_"] {
  scroll-padding: 36px 0px !important;
  padding: 0px !important;
  line-height: 40px !important;
}

[class*="gamepadpagedsettings_PagedSettingsDialog_PageListItem_"][class*="gamepadpagedsettings_Active_"] {
  transform: none !important;
}

/* LIST SEPARARTOR */
[class*="gamepadpagedsettings_Separator_"] {
  height: 0px !important;
  background: rgba(var(--color-white), 0.2) !important;
  margin: 8px 16px !important;
  display: none !important;
}

/* INFO INTERSTITIAL */
[class*="controllerconfigurator_interstitial_ConfiguratorInterstitialContainer_"] {
  background-color: rgb(var(--color-settings)) !important;
  padding: 0px 10% !important;
}

[class*="controllerconfigurator_interstitial_DialogHeader_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-largest) !important;
  line-height: 32px !important;
}

[class*="controllerconfigurator_interstitial_DialogBody_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="controllerconfigurator_interstitial_DialogBody_"] .Panel {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

[class*="controllerconfigurator_interstitial_DescLabel_"] {
  margin-bottom: 0px !important;
}

[class*="controllerconfigurator_interstitial_DescLabel2_"] {
  margin-top: 0px !important;
}

[class*="controllerconfigurator_interstitial_Highlight_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 600 !important;
}

/* INTERSTITIAL IMAGE CONTAINER */
[class*="controllerconfigurator_interstitial_InterstitialImageContainer_"] {
  margin: 0px !important;
}

[class*="controllerconfigurator_interstitial_ControlLabel_"] {
  padding: 0px 16px !important;
  height: 38px !important;
  line-height: 38px !important;
  border-radius: 0px !important;
  margin: 16px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 600 !important;
  font-size: var(--font-size-small) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="controllerconfigurator_interstitial_DescImage_"] {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

[class*="controllerconfigurator_interstitial_InterstitialGlyphButton_"] {
  width: 30px !important;
  margin-left: 0px !important;
  margin-right: 16px !important;
  padding: 4px 0px !important;
}

[class*="controllerconfigurator_interstitial_InterstitialArrow_"] {
  width: 38px !important;
  height: 38px !important;
  margin: 16px 0px !important;
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxUlEQVRYhe2WUQrCMBBEJ+J99FJWSK5j/fFS8UTjRyNWqcIk3VroPggTSLp5bChtIIk1svu3wDdcTMXFVFxMxcVUXExlM2IJQAYQWwvtm1Xe6UueS15rC80tBgxyAUBXsv+9fRoLMQC4ACCAU0m5c1ZiwKtTXUlJLlT8weapOqP5Z8Hn2kE5pKZjR2FvxNCxm3wKSasRSd5JpprnraQSyVwrZSXWLGUhllqubzxq3spF2MxHfDZcTMXFVFxMxcVUXExltWIPrsbjpfdiH/4AAAAASUVORK5CYII=') !important;
}

[class*="controllerconfigurator_interstitial_InterstitialImageColumnButtons_"] [class*="controllerconfigurator_interstitial_Highlight_"] {
  margin: 16px 0px !important;
}

/* INTERSTITIAL FOOTER */
[class*="controllerconfigurator_interstitial_ConfiguratorInterstitialFooter_"] {
  gap: 16px !important;
  transform: none !important;
  bottom: 0px !important;
  position: absolute !important;
}

/* PAGE INDICATORS */
[class*="guidedtour_PageIndicators_"] {
  gap: 16px !important;
}

[class*="guidedtour_PageIndicator_"] {
  width: 14px !important;
  height: 14px !important;
  background-color: transparent !important;
  border-radius: 50% !important;
  border: 1px solid rgb(var(--color-white)) !important;
}

[class*="guidedtour_PageIndicator_"][class*="guidedtour_Active_"] {
  background-color: rgb(var(--color-primary)) !important;
  border: 1px solid rgb(var(--color-primary)) !important;
}

/* FOOTER */
[class*="footer_BasicFooter_"] {
  background: transparent !important;
  min-height: 38px !important;
  margin-bottom: 16px !important;
}

[class*="footer_BasicFooter_"]:not([class*="footer_WithKeyboard_"]) {
  padding: 0px 16px !important;
}

[class*="footer_BasicFooter_"] [class*="footer_FooterLegend_"] {
  padding: 0px !important;
  gap: 16px !important;
}

[class*="footer_Spacer_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-smaller) !important;
  margin-left: 0px !important;
  line-height: 16px !important;
}

/* FOOTER ACTION BUTTONS */
[class*="actionbuttonlegenditem_ActionButtonLegend_"] {
  border-radius: 0px !important;
  padding: 0px 16px !important;
  height: 38px !important;
  line-height: 38px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="actionbuttonlegenditem_ActionButtonLegend_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="actionbuttonlegenditem_ActionButtonLegend_"]:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="actionbuttonlegenditem_ActionButtonLegend_"] [class*="actionbuttonlegenditem_ActionButtonLabel_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-smaller) !important;
  line-height: 38px !important;
  margin-left: 8px !important;
}