/* BACKGROUND */
[class*="gamepadui_BasicHome_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="gamepadui_BasicHome_"][class*="gamepadui_OpaqueBackground_"] {
  background: transparent !important;
}


/* HEADER */
.BasicUI [class*="header_Header_"] {
  color: rgb(var(--color-text)) !important;
}

[class*="header_Header_"] {
  padding: 0px !important;
  min-height: 38px !important;
  max-height: 38px !important;
  height: 38px !important;
}

[class*="header_Header_"]::before {
  background-color: transparent !important;
}

/* SELECTION CONTAINER */
[class*="controllerconfigurator_ControllerSelectionContainer_"] {
  padding: 0px !important;
  background: transparent !important;
}

[class*="gamepadpage_GamepadPage_"][class*="gamepadpage_PadForHeader_"] {
  margin-top: 38px !important;
}

/* SEARCH CONTAINER */
.FlexGrowUniversalSearch [class*="searchbar_SearchContainer_"] {
  padding: 0px 16px !important;
}

[class*="searchbar_SearchContainer_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
}

[class*="searchbar_SearchContainer_"].gpfocuswithin, [class*="searchbar_SearchContainer_"][class*="searchbar_ForceExpanded_"], [class*="searchbar_SearchContainer_"]:hover {
  color: rgb(var(--color-text)) !important;
}

[class*="searchbar_SearchContainer_"]:not([class*="searchbar_VR_"]):hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="searchbar_SearchContainer_"]:not([class*="searchbar_VR_"]):active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* MAIN SECTION */
[class*="controllerconfigurator_ControllerConfiguratorMain_"] {
  background: transparent !important;
  margin: 0px auto !important;
}

/* TOP SECTION */
[class*="controllerconfigurator_TopSection_"] {
  background-color: transparent !important;
}

/* INNER CONTAINER */
[class*="controllerconfigurator_TopSection_"]>[class*="controllerconfigurator_Inner_"] {
  padding: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* TOP HEADER */
[class*="controllerconfigurator_TopSectionHeader_"] {
  line-height: 32px !important;
  padding-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-large) !important;
  margin-bottom: 16px !important;
}

/* HELP BUTTON */
[class*="controllerconfigurator_HelpButtonContainer_"] {
  gap: 0px !important;
}

button[class*="controllerconfigurator_HelpButton_"].DialogButton {
  width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="controllerconfigurator_HelpButton_"] svg {
  width: 38px !important;
  height: 38px !important;
  color: transparent !important;
  line-height: 38px !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVRYhe2WMU7DQBBFn7kKknMBqOAKoecAOGUug3IF06cJZ+AEiKSAFDgXoP0psiAryir8NTZRtE/aZmbH+yytvraQxCly8d8CMbKYSxZzyWIuWczlbMVqYAmotZah3olUsQrYADfAAiiBAhgBz8At0ACTZDNJ7qokfUmqj+yrw75JwhlJYs0vpNpyzRBitaSPSE+R+rvxIz/LvWPXwDzSKyL1OXBlnkNhPhTF7qK/RXqH5ErgNdL7U7HYAam9g6TERdnzfsAXWwFTc2Ya5ixcsRdgbM7chTmPAXLsc6iAdZP/YSixb7lNCNtHSWWojyTNJK1Dv0r8vh0X+zyxC8/LVm0V7tR9lw93FeuNs30o9kYWc8liLlnMJYu5nKzYFlzL7Iy35v/nAAAAAElFTkSuQmCC') !important;
}

/* CURRENT CONFIG */
[class*="controllerconfigurator_CurrentConfigurationButton_"].DialogButton._DialogLayout.Secondary[class*="gamepaddialog_Button_"].Focusable {
  margin-bottom: 16px !important;
  padding: 0px !important;
}

[class*="gamepaddialog_Button_"].DialogButton {
  /* padding: 0px !important; */
}

[class*="dropdownlabel_DropDownLabelContainer_"] {
  padding: 16px 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

[class*="dropdownlabel_DropDownLabelIconContainer_"] {
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-right: 0px !important;
  max-width: 38px !important;
  max-height: 38px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABV0lEQVRYhe2WrU7EQBSFvxIEAbHwBAgSIJh1BGqxCMCB5Bl4CfYhUKuXWgS4bS0Y/hQvQCAIqLuImYaGtLBnkgaymS8Z0Tu3OWfu3E4nMTP+IzN/baCNaEwlGlOJxlSiMZVoTGUqjZ0AOXAJpLV46mOFzwkiCbxdFMAGcAvMA6vAnJ8rgUfgHVgHHoAtWcHM1JGaWWlmgwlyT31uquqEVOzcV2utIW7Awbf4HXAP7Csis6orYBO4aIi3CRfArqwilvjQzD4Ctv/VzI663MocWAD64vqvgUR5Tz0uVoBh7TkFRjjDhR85rt/qR8gQWFaE1IoZbuWVqQx4AZ5xi6zmF4El3Icwbnj3V9TmL/mqRIarzl5L7ghXuWq+VITUit0APVyfjX8wVZEB27jD9g2hx0LOsSvgCTieMP8M1187ikjoL6lzpvJ20SnRmEo0phKNqURjKtGYyifNjDAxcRlxPwAAAABJRU5ErkJggg==') !important;
}

[class*="dropdownlabel_DropDownLabelIconContainer_"] svg {
  color: transparent !important;
}

/* FOOTER */
[class*="footer_BasicFooter_"] {
  background: transparent !important;
  min-height: 40px !important;
}

[class*="footer_BasicFooter_"] [class*="footer_FooterLegend_"] {
  padding: 0px !important;
}

[class*="footer_Spacer_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-smaller) !important;
  margin-left: 0px !important;
  line-height: 16px !important;
}