/* PINNED VIEW */
._2OoAjT3o0Ieng7ycuy86vZ .CFTLX2wIKOK3hNV-fS7_V.DesktopUI .DialogContent_InnerWidth, .DesktopUI ._2OoAjT3o0Ieng7ycuy86vZ .CFTLX2wIKOK3hNV-fS7_V .DialogContent_InnerWidth {
  padding: 16px 0 0 0 !important;
}

._2OoAjT3o0Ieng7ycuy86vZ ._1Ve4VFO2EEkeNZdel_Asky > .ProseMirror {
  /* padding: 0 !important; */
}

._2OoAjT3o0Ieng7ycuy86vZ ._2kwFFHckg8jvnwJfg9-la8, ._2OoAjT3o0Ieng7ycuy86vZ .gdKTXjvFuMeVN2qa6o8EL {
  display: none !important;
}

.PopupFullWindow.GameNotes._2OoAjT3o0Ieng7ycuy86vZ .DialogContent_InnerWidth:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 0 !important;
}

._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .PageListColumn {
  visibility: visible !important;
}

._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga .gdKTXjvFuMeVN2qa6o8EL, ._3Sf_ShCtdfWp5P04k2cIgp._1JfX5TwbiYNVMRiU6Gthga ._1fu6xumTI1nCY5wc6FG_N2 {
  visibility: visible !important;
}

/* GAMENOTES */
.PopupFullWindow.GameNotes .DialogContent:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 0 !important;
}

.PopupFullWindow.GameNotes .DialogContent_InnerWidth:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 32px 0 0 0 !important;
}

/* NOTES */
._3Sf_ShCtdfWp5P04k2cIgp {
  padding-bottom: 0 !important;
}

.GameNotes .gdKTXjvFuMeVN2qa6o8EL, .GameNotes ._1fu6xumTI1nCY5wc6FG_N2 {
  /* display: none !important; */
}

._3Sf_ShCtdfWp5P04k2cIgp ._3WOF4kDR1RbjelZgS8Qd-H {
  margin-bottom: 16px !important;
}

._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW {
  margin: 0 !important;
  float: right !important;
  width: 100% !important;
  height: 48px !important;
  outline: none !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW:hover {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW:active {
  outline: none !important;
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._3Sf_ShCtdfWp5P04k2cIgp ._3Sjbkvk647UKKVLX6J7gsW svg {
  margin-bottom: 0 !important;
  width: 48px !important;
  height: 48px !important;
  fill: transparent !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

._3LLH_F43MTu6UtG4Z3kudv {
  top: 0 !important;
  left: 0 !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  padding: 0 !important;
  background-color: var(--zehn-color-button-client-background) !important;
  color: var(--zehn-color-text-primary) !important;
  border-radius: 0 !important;
  margin: 0 !important;
  height: 32px !important;
  width: 48px !important;
}

._3LLH_F43MTu6UtG4Z3kudv:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._3LLH_F43MTu6UtG4Z3kudv:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._3LLH_F43MTu6UtG4Z3kudv svg {
  width: 48px !important;
  height: 32px !important;
  margin: 0 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

._3LLH_F43MTu6UtG4Z3kudv svg path {
  fill: transparent !important;
}

._3LLH_F43MTu6UtG4Z3kudv svg[direction="left"] {
  -webkit-mask-image: var(--zehn-icon-chevron-left) !important;
}

._3LLH_F43MTu6UtG4Z3kudv svg[direction="right"] {
  -webkit-mask-image: var(--zehn-icon-chevron-right) !important;
}