/* PINNED VIEW */
._2OoAjT3o0Ieng7ycuy86vZ ._1I3NifxqTHCkE-2DeritAs.DesktopUI .DialogContent_InnerWidth, .DesktopUI ._2OoAjT3o0Ieng7ycuy86vZ ._1I3NifxqTHCkE-2DeritAs .DialogContent_InnerWidth {
  padding: 16px 0px 0px 0px !important;
}

._2OoAjT3o0Ieng7ycuy86vZ ._3lEt5gxDF4ACrtnP4U7Z-D > .ProseMirror {
  padding: 0px !important;
}

._2OoAjT3o0Ieng7ycuy86vZ ._3zWunJFZU6u89fIABN9Gkf {
  outline-color: transparent !important;
}

/* NOTES */
._1dBCPkyWYRX7FwOcOEDrOo {
  padding-bottom: 0px !important;
}

._1dBCPkyWYRX7FwOcOEDrOo._3mIftPW9bArr_wJxHwxTnq .A6mhRr1dqvr5OHl9MX6_3, ._1dBCPkyWYRX7FwOcOEDrOo._3mIftPW9bArr_wJxHwxTnq ._3uGOyXFBdLEV_F6dICiSwx {
  display: none !important;
}

._1dBCPkyWYRX7FwOcOEDrOo._3mIftPW9bArr_wJxHwxTnq .PageListColumn {
  display: none !important;
}

._1dBCPkyWYRX7FwOcOEDrOo ._3WOF4kDR1RbjelZgS8Qd-H {
  margin-bottom: 16px !important;
}

._1dBCPkyWYRX7FwOcOEDrOo ._2J6kvK4A5CTbr_o4ZYqycZ {
  margin: 0px 16px 16px 0px !important;
  float: right !important;
  width: 32px !important;
  height: 32px !important;
}

._1dBCPkyWYRX7FwOcOEDrOo ._2J6kvK4A5CTbr_o4ZYqycZ svg {
  margin-bottom: 0px !important;
  width: 32px !important;
  height: 32px !important;
  fill: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-add) !important;
}

._3i4EpiSDpxQHVFExxUa1Zp {
  top: 0px !important;
  left: 0px !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  background-color: transparent !important;
  color: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  width: 38px !important;
}

._3i4EpiSDpxQHVFExxUa1Zp:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

._3i4EpiSDpxQHVFExxUa1Zp:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

._3i4EpiSDpxQHVFExxUa1Zp svg {
  width: 38px !important;
  height: 38px !important;
  margin: 0px !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

._3i4EpiSDpxQHVFExxUa1Zp svg path {
  fill: transparent !important;
}

._3i4EpiSDpxQHVFExxUa1Zp svg[direction="left"] {
  background-image: var(--icon-chevron-left) !important;
}

._3i4EpiSDpxQHVFExxUa1Zp svg[direction="right"] {
  background-image: var(--icon-chevron-right) !important;
}