/* PINNED VIEW */
[class*="steamdesktopoverlay_PinnedView_"] [class*="pagedsettings_PagedSettingsDialog_PageContent_"].DesktopUI .DialogContent_InnerWidth, .DesktopUI [class*="steamdesktopoverlay_PinnedView_"] [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogContent_InnerWidth {
  padding: 16px 0px 0px 0px !important;
}

[class*="steamdesktopoverlay_PinnedView_"] [class*="prosemirror_Container_"]>.ProseMirror {
  padding: 0px !important;
}

[class*="steamdesktopoverlay_PinnedView_"] [class*="gamenotes_EditorInput_"] {
  outline-color: transparent !important;
}

/* NOTES */
[class*="gamenotes_NotesPagedSettings_"] {
  padding-bottom: 0px !important;
}

[class*="gamenotes_NotesPagedSettings_"][class*="gamenotes_PinnedView_"] [class*="gamenotes_Toolbar_"], [class*="gamenotes_NotesPagedSettings_"][class*="gamenotes_PinnedView_"] [class*="gamenotes_NoteActions_"] {
  display: none !important;
}

[class*="gamenotes_NotesPagedSettings_"][class*="gamenotes_PinnedView_"] .PageListColumn {
  display: none !important;
}

[class*="gamenotes_NotesPagedSettings_"] [class*="gamenotes_NoteEditorArea_"] {
  margin-bottom: 16px !important;
}

[class*="gamenotes_NotesPagedSettings_"] [class*="gamenotes_NewNoteButton_"] {
  margin: 0px 16px 16px 0px !important;
  float: right !important;
  width: 32px !important;
  height: 32px !important;
}

[class*="gamenotes_NotesPagedSettings_"] [class*="gamenotes_NewNoteButton_"] svg {
  margin-bottom: 0px !important;
  width: 32px !important;
  height: 32px !important;
  fill: transparent !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAU0lEQVRYhe3UUQoAIAhEwYzuf+XtBIagIMbb30KHykzS6sxu7Q4AAIAfAOlfbPwJAJgPOMF9r9furVklwCumaCMv7VcAAEAWkJqACkA6AAAAAHABOegHQaO3qj0AAAAASUVORK5CYII=') !important;
}

[class*="pagedsettings_HidePageListButton_"] {
  top: 0px !important;
  left: 0px !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  width: 38px !important;
}

[class*="pagedsettings_HidePageListButton_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="pagedsettings_HidePageListButton_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="pagedsettings_HidePageListButton_"] svg {
  width: 38px !important;
  height: 38px !important;
  margin: 0px !important;
}

[class*="pagedsettings_HidePageListButton_"] svg path {
  fill: transparent !important;
}

[class*="pagedsettings_HidePageListButton_"] svg[direction="left"] {
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAwUlEQVRYhe3UUQrCMBCE4VnxivUIOW3vND5oIYaoO2uri+wPeWpKPlK6RhIZO/0a8KyCqRVMrWBqBVP7D5iZhRaABcAqyUi6VySSC28t0ll7w9ht7FHyJRwFG1EpYCTbiMoCI8k2eeZe5j0QwPaHvYVN3rMN5u3s3unMPHpHaQds6MZefa69Ct2Y3QNw2RPzUPSv7OZUm93gx2dFYOPwTAEbUSlgM5TSkbA1ilJh0uT/ZmkHbMHUCqZWMLWCqaWFXQHSlib36p6uZwAAAABJRU5ErkJggg==') !important;
}

[class*="pagedsettings_HidePageListButton_"] svg[direction="right"] {
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAApUlEQVRYhe3WWwqDMBBG4Uxxre3+VzB9qMIg1uQEnMnDf0DES5IPEdTcva3YqxrwL8FogtEEowlGE4y20QFm1r3Hrz/A/YGhR56Y7bXWPtOTuDvawLxv/3Xs2TpPwCJqP66HnVFLwK5Q4VoN7A5VBuuhSmAjqBSYB90oKhVGUGkwisqEIdQMzMIrM7zG+YQNfNnpOjOwlJb9HxOMJhhNMJpgNMFoXxkFtYgrHJyBAAAAAElFTkSuQmCC') !important;
}