/* GAME OVERVIEW */
[class*="steamdesktopoverlay_OverviewTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  margin-left: 16px !important;
  margin-right: 16px !important;
  line-height: 32px !important;
  margin-top: 38px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] {
  padding: 16px 16px 0px 16px !important;
  background: transparent !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"][class*="steamdesktopoverlay_HasBackground_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  margin: 0px 0px 16px 0px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] {
  margin: 0px 0px 16px 0px !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"] {
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  padding: 0px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"] [class*="steamdesktopoverlay_GameOverviewSectionTitle_"] svg[class*="steamdesktopoverlay_DragHandle_"] {
  height: 32px !important;
  width: 32px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAR0lEQVRYhe3UwQkAMAhD0Vi6/8rpBkXIIZfvWfRBxLGtZp3qdgAAAACQdBc96aucFPAdkFY9AgAcYT0CABxhPQIAAAAAqAMeBAQGTPaDv68AAAAASUVORK5CYII=') !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  height: 32px !important;
  width: 32px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  color: transparent !important;
  background-size: auto !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* PLAYTIME */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(1) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABGklEQVRYhe2WQU7DQAxFX7hMzjA9TsU2sIFrlAME5QQsWLJnEdgTDkAP0HKCz6KOGoZAPLRRVWksWUksj/3i8TgpJHFKuThp9gyQATLAuQKUQA10gEw7s5VzA1TAC1AAl3Yd3r8C10kRJXn1StKnpDCwrUz75yBpY76uuN7kpQUOkf0uAugh1rZmMrZ3C26AB6CNCzji2wJPwK0nsBdgATQj9uIXiAYInsCF83MsSxbLKvJ5BJ4n1nyTQ+dAfwpcyUbF2YRvIw34ly4kvR+zCVtgmfBeS3427EEVKCVtnVUIkj68xzB1EE1BBO2GVeWNmwIwhKgjkCDpXolT8D8A/XbUkjrtpTMAV9mH6p0Ds8lZ/g9kgAyQAY4qX4cm2E6bxYnRAAAAAElFTkSuQmCC') !important;
}

/* FRIENDS RECENT */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(2) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABCUlEQVRYhe2WsW3DMBREn1LZmyQNXcdbZIIE9lIp4wm0BcsUauRBpCTdpfAnoAgSTEmUDQQ8gMAn+al/4B1JFZK4Jx7uWj0TyAQygYQEPNACjcXulgQ8sAGegT2wBd6jV0ta2lpJrtPf2VjU+jU8MOluLxK8BUGCN+t/AD9c5LiOBBIcbcsDGkmH2PVTi3kr1lgcipfmA2dxa3NJCXhJn2YyZ3Eo3s8tJdWpCTT663ZnW+4GcsNc0lNQWOviC6gGcquB3OGPKv4UeC6XzKv1T8A3sW4fwwQJDiZDwCS3L/XA0QqWmun2sRYrwRmogZfeeAk8AY9rS7DY7Ut3YDX8mx+STCATyARm4xdvvkI9tD735wAAAABJRU5ErkJggg==') !important;
}

/* FRIENDS IN-GAME */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(3) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABGElEQVRYhe2WQUoDQRREawTBrMwZ3ChBF0Hc6TpHiJ5AYm6RXEFzFL1HSECdoCsvoAsXBp6L1EIkI/Nh2hDogqHpqk/3Y+Y30wWgTWpno7tngAyQAbYVoCVpKGkq6dPjjf24gMjTAu6BErgCToFLzx+ch9aMAgyBJ6D9y9+3P0gNMAX6FVkfmEUBoj1wKGlRkZWSDqItEAV4NsQ6HUl6jAJEP8E18LKmB9rAwnnSHthzt5fAhb1zb/4vp0DAGfDBSnOP7/bD60WKd4ER8AXcAl17XeDO/theEoAR8AZ0KvKO83EKgBNg+cfmPyGWwHFdgAJqXUonkgpJg5q10ur/0NgxfAV6NWt7rm/0DSTTVt4HMkAGyACN6hsX4fBFYwG9mQAAAABJRU5ErkJggg==') !important;
}

/* ACHIEVEMENTS */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(4) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAuElEQVRYhe2WwQ7CIAyGi/FN9CV39+peaA+jF2/yDJ8HZ0IWlLUbwyX9E0KA0n4p0BAAaalD0+gO4AAO8A8AR8OeX5Ur1ARIA+cCkdjMBtEeQcmxOgPN78CuAG4iMhRsBhG51wK4iMipYHMe7eYL0LYn0E3mOiAafJkAeuCRQHTjuN8K4AMReSsCV6MfCQu/ZIjh7adaoxSXKuTqAN8CmVKpBWDS59ZVWdACLDrvnHZVih3AARygil6JVj9IHCZH9wAAAABJRU5ErkJggg==') !important;
}

/* SCREENSHOTS */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(5) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAb0lEQVRYhe3XwQ7AIAgD0Hbx/38Zr7tsFnHhsHI2+EikiYwIdNbVersBBhhgAIAhnKlGJasAkHxt8lQh5LwEUJvdS0XLgEzTDLb9ERpgQGoLsqt4FLAbRkcAX0wuA6qTr+xLgDr9LpT+FxhgwO8BE8mBIkgr8ZB4AAAAAElFTkSuQmCC') !important;
}

/* FAVORITE GUIDES */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(6) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABKUlEQVRYhe2W0W2DMBCG/6u6ACuEEViBFVghK2SWrJCOEEZIRoARYISvD7VVlNQYO6l48S9ZIN9x99m+szBAe+pj1+wFoAAUAEmfMQczC9qATtJsZv2Kz2sAEbXuGQSI6V0A+QJWx8p3Db9qcuO/UoSdpLsbXW4QixVJqAiBQdKXhzGzOuC3ThDbIuBMWJUbIZ2jR7ylBoAWmIArUK0spnI+E9BuWeDmInTBb8AAHP5IfnC22xLybQCLgBe//Q9wE3BJPeKcLugljWY2ewgzmyXNyriQcgA6Sb1L7o+kcsmT2zEHoJE0Shrc07/PzpamlBoAjosWOy3mT4v5Y1L8RADfYk8r5edqnoBrCkDqEYySajO7PxrcXO18Nit6Ff+3dv8jKgAFoAB8Az8yVXKXmihnAAAAAElFTkSuQmCC') !important;
}

/* TOP GUIDES */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(7) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAg0lEQVRYhe3UUQrAIAwD0HTs/lfuvoQxUFOtlEHyq3TPWWvujspcpV8XQAABBABwE3t2R6XtAmBmwyK9ODHnKQBb7B0WTQMiRSPYECD6F1IBq32QBuidvsG+6+k9wBTsYUb5xSACML+C0Z4UwOwKVpuUApx4fhHAkefXUt6EAggggAAPzZQsWvRvbhgAAAAASUVORK5CYII=') !important;
}

/* NEWS */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(8) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAoElEQVRYhe3WSQ6AIAwF0F/jWbkCnsVD6hG+GxYODFWMddEmbITSF0qIQhKWMZhWd4ADHOCAPwBGxZret1pqk9oTWAFMogwAU8ppB8nWIMlIckkjVvY6rEu51f1VgF2BkIOcCofd93cBBcil8B2AKP4HmPqaO/IAACIyF+aJxiXsAjQTFQDzd8AcoHmIshfxS8Cj/mvDvAUOcIADHGAO2ADUtxfXjqthvgAAAABJRU5ErkJggg==') !important;
}

/* PLAYERS */
[class*="steamdesktopoverlay_GameOverview_"] > div:nth-child(9) [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionHeader_"]>svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAx0lEQVQ4jaWTQQ6CMBREH8aFXEbWehqDF9MT4Cm4gksu4IIFjctxM9UGipAwyYR2mP/7+z8UktiC3aboJMENCMDg9RyiL3x9kpAUJF3NYC3HQVJtDpLYO7NMkucSirSCTj901lpXE7zO+nZAC/RAZfbACyiBk1laG/vaeK9jcs/KJ6TacUYL/5o1Mee8xcyH1AIH4OL9HXgD54lzpoI4zog4vok3F1w7uHHplaSHtUmSXIKng8d643eLCcbdHk9iVRNXY/Pf+AEpeMJSUZrz/QAAAABJRU5ErkJggg==') !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GameOverviewSectionChildren_"][class*="steamdesktopoverlay_ContainChildren_"] {
  padding: 0px 16px !important;
}

/* PLAYTIME */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_Playtime_"] {
  margin-left: 0px !important;
  line-height: 32px !important;
  gap: 0px !important;
  padding-top: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GuideListItem_"] {
  margin-top: 0px !important;
  padding: 0px 16px !important;
  line-height: 32px !important;
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GuideListItem_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GuideListItem_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_GuideListItem_"] [class*="steamdesktopoverlay_GuideTitle_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="overlayguides_UGCRating_"] [class*="overlayguides_UGCRatingStars_"] {
  gap: 0px !important;
  min-height: 32px !important;
}

[class*="overlayguides_UGCRating_"] [class*="overlayguides_UGCRatingStars_"] [class*="overlayguides_UGCRatingStar_"] {
  height: 32px !important;
  width: 16px !important;
}

/* NEWS */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_RecentNewsItem_"] {
  margin-top: 0px !important;
  line-height: 32px !important;
  gap: 0px !important;
  padding: 0px 16px !important;
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_RecentNewsItem_"]:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_RecentNewsItem_"]:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_RecentNewsItem_"] [class*="steamdesktopoverlay_PostedTime_"] {
  padding-left: 16px !important;
}

/* SCREENSHOTS */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_ScreenshotsList_"] {
  gap: 16px !important;
  margin-bottom: 16px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_ScreenshotsList_"] [class*="steamdesktopoverlay_Screenshot_"] {
  max-height: 113px !important;
  margin-top: 0px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_ScreenshotsList_"] [class*="steamdesktopoverlay_Screenshot_"] img {
  border: unset !important;
  width: 100% !important;
}

/* FRIENDS IN-GAME */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_FriendsInGame_"] {
  gap: 4px !important;
  padding: 16px 0px !important;
}

/* FRIENDS RECENT */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_FriendsWhoPlayed_"] {
  gap: 4px !important;
  padding: 16px 0px !important;
}

/* PLAYERS */
[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_PlayersSection_"] {
  gap: 16px !important;
  padding: 16px 0px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_PlayersSection_"] [class*="steamdesktopoverlay_Players_"] {
  gap: 4px !important;
}

[class*="steamdesktopoverlay_GameOverview_"] [class*="steamdesktopoverlay_GameOverviewSection_"] [class*="steamdesktopoverlay_PlayersSection_"] [class*="steamdesktopoverlay_ViewPlayersBtn_"] {
  padding: 0px 16px !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}