/* PLAYERS DIALOG */
._1JPjnwLgO6lAXUVDPO7PYE {
  padding: calc(38px + 16px) 16px 16px 16px !important;
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
}

._1JPjnwLgO6lAXUVDPO7PYE .DialogHeader {
  position: absolute !important;
  line-height: 38px !important;
  padding: 0px 12px !important;
  font-size: var(--size-12) !important;
  top: 0px !important;
  left: 0px !important;
}

.crOvhkd-SFl2zLdfoyfon {
  font-size: var(--size-14) !important;
}

._1pbQVchAJ7LcA5eIIGV-EN {
  margin: 0px !important;
  border: unset !important;
}

/* HEADER */
._20evaxvMeG8jMJ31t-5-L5 {
  background: transparent !important;
  padding: 0px !important;
  line-height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding: 0px !important;
  line-height: 32px !important;
  height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as * {
  line-height: 32px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:hover {
  color: rgb(var(--color-secondary)) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:hover svg {
  filter: brightness(0.57) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:active {
  color: rgb(var(--color-tertiary)) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2I8M7g9rIxbeCZoFpl6_as:active svg {
  filter: brightness(0.36) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._2VJwnBYoIWLWhunHyjXDUD._1USi1mEv6zVuMeiEKJBQew {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd ._3ZJ6gL7WvTh8sUOWVhLqe1 {
  background: transparent !important;
  border: unset !important;
  width: 1px !important;
  position: absolute !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg {
  margin: 0px !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg.ohzxWXowFiTaMNCOdtRNh {
  position: absolute !important;
  width: 32px !important;
  height: 32px !important;
  margin-left: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

._2a6rfV8TIW2Ngf6EKk-vd svg.ohzxWXowFiTaMNCOdtRNh:has(path[d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  transform: rotate(180deg) !important;
}

/* BODY */
._3kjELHPFlI9SV9QYNi_TaH {
  background: transparent !important;
  padding: 0px !important;
  line-height: 32px !important;
}

._3kjELHPFlI9SV9QYNi_TaH *[role="cell"] {
  padding: 0px !important;
  line-height: 38px !important;
}

._3kjELHPFlI9SV9QYNi_TaH [role="row"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
}

._3kjELHPFlI9SV9QYNi_TaH [role="row"]:active {
  background: rgba(var(--color-white), 0.2) !important;
}

._1JPjnwLgO6lAXUVDPO7PYE .DialogFooter {
  display: none !important;
}