/* REMOTE PLAY TOGETHER */
._1kfHKWWLYTuCIEiJ5Xcpg7.DialogBody {
  -webkit-mask-image: none !important;
  margin-top: 48px !important;
}

/* HEADER */
.OverlayRemotePlayTogether .DialogHeader.Kc4WjLKVpfZnHgYks5JaH {
  flex-direction: column !important;
}

._2kEmHMdTftbDAvfRRGTGN_ {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin: 0 !important;
  margin-left: 8px !important;
  line-height: 32px !important;
}

/* QUALITY BUTTON */
.iacovecSrxaI5U7QoRYhh {
  position: absolute !important;
  top: calc(32px + 16px) !important;
}

/* SECTION */
._3vx4WuuzK5gE-Ulbb7P-ve {
  margin: 0 !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* HOST */
.byUV3gGMo74sUHlxvyjDp.weXF9tYk6FLht9FLdGY_ {
  gap: 16px !important;
  transition: none !important;
}

._2jdnB1mip7lovYNIoEIcPb ._3nAFBXx-dTRfPPdVH0717N {
  height: 72px !important;
  width: 72px !important;
  margin: 0 !important;
}

._11F8_RoObb2bBQv4JTtEQ3 {
  -webkit-mask-image: var(--zehn-mask-avatar, var(--zehn-mask-avatar-round)) !important;
}

._2jdnB1mip7lovYNIoEIcPb ._2K02jvME1TQf1F7mtqkbFx {
  position: relative !important;
  gap: 8px !important;
}

._2jdnB1mip7lovYNIoEIcPb ._2K02jvME1TQf1F7mtqkbFx ._3sa2WLN0lsAm1WKsZo5xPb {
  padding: 0 !important;
  /* flex-direction: column !important; */
  align-items: flex-start !important;
  gap: 8px !important;
}

._2vg9PFhhOqkD8q_EF16qeX:empty {
  display: none !important;
}

/* USER */
.HDOT4BGIrK1Q_0cy4t514 {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  line-height: 16px !important;
}

/* INPUTS */
._2jdnB1mip7lovYNIoEIcPb ._2K02jvME1TQf1F7mtqkbFx ._2mt-MNYJ70iwkZfEpSJWs1 {
  font-size: var(--zehn-size-14) !important;
  margin-top: 0 !important;
  color: var(--zehn-color-text-secondary) !important;
}

.h8m1lYn1DYOFCXIVNn0Fv {
  width: 32px !important;
  height: 32px !important;
  position: relative !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

.h8m1lYn1DYOFCXIVNn0Fv:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

.h8m1lYn1DYOFCXIVNn0Fv:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

/* KEYBOARD */
.TD2gzqHp8JimId3EtRvWY.h8m1lYn1DYOFCXIVNn0Fv svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-keyboard) !important;
}

.TD2gzqHp8JimId3EtRvWY.h8m1lYn1DYOFCXIVNn0Fv svg * {
  display: none !important;
}

/* MOUSE */
._2FBaoI5s6kYv4Uezc5A-9z.h8m1lYn1DYOFCXIVNn0Fv svg {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-mouse) !important;
}

._2FBaoI5s6kYv4Uezc5A-9z.h8m1lYn1DYOFCXIVNn0Fv svg * {
  display: none !important;
}

/* DISABLED */
._2W5VbAvfF97vIp9UBTGBzL._1clyvbypBNHjOpUkqRsFNq {
  color: rgb(var(--zehn-color-negative)) !important;
}

/* ENABLED */
._2W5VbAvfF97vIp9UBTGBzL._4xP3qP0rdf9RpvHS7lP3L {
  color: rgb(var(--zehn-color-accent)) !important;
}

.h8m1lYn1DYOFCXIVNn0Fv:has(._2W5VbAvfF97vIp9UBTGBzL._4xP3qP0rdf9RpvHS7lP3L)::before {
  content: "" !important;
  position: absolute !important;
  left: 4px !important;
  bottom: 4px !important;
  right: 4px !important;
  height: 2px !important;
  background: rgb(var(--zehn-color-accent)) !important;
}

._2W5VbAvfF97vIp9UBTGBzL {
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

/* PLAYERS */
._1j2F52r3Ii1QcgyElBRYZ1 {
  padding: 0 !important;
  background-color: var(--zehn-color-button-client-background) !important;
}

._1j2F52r3Ii1QcgyElBRYZ1:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._1j2F52r3Ii1QcgyElBRYZ1:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._1j2F52r3Ii1QcgyElBRYZ1 ._1fVfKL7Q4K3sRdioqrCvlf {
  padding: 0 !important;
  background-color: transparent !important;
  transition: none !important;
}

._1j2F52r3Ii1QcgyElBRYZ1 ._1fVfKL7Q4K3sRdioqrCvlf ._2skNuR4DzpGpeZHFFSJTRu {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-10) !important;
  font-weight: 400 !important;
  margin-top: 4px !important;
  display: none !important;
}

._3vx4WuuzK5gE-Ulbb7P-ve ._2o01SDb9la5vJ1_17Wghh2 {
  margin-top: 0 !important;
}

._1fVfKL7Q4K3sRdioqrCvlf svg {
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

._1fVfKL7Q4K3sRdioqrCvlf svg:has([d="M15.9747 12.5368H12.5368V15.9976C12.5368 17.6707 11.1846 19.0229 9.51146 19.0229C7.83836 19.0229 6.48613 17.6707 6.48613 15.9976V12.5368H3.02533C1.35223 12.5368 0 11.1846 0 9.51146C0 7.83836 1.35223 6.48613 3.02533 6.48613H6.48613V3.02533C6.48613 1.35223 7.83836 0 9.51146 0C11.1846 0 12.5368 1.35223 12.5368 3.02533V6.48613H15.9976C17.6707 6.48613 19.0229 7.83836 19.0229 9.51146C19 11.1846 17.6478 12.5368 15.9747 12.5368Z"]) {
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

._1fVfKL7Q4K3sRdioqrCvlf svg:has([d="M14.8406 11.2028L17.5123 8.53059C19.4614 6.58196 19.4614 3.41057 17.5123 1.46194C15.5635 -0.487315 12.3923 -0.487315 10.4435 1.46194L6.58776 5.31766C4.63871 7.26629 4.63871 10.4377 6.58776 12.3863C6.87553 12.6743 7.1905 12.9184 7.52381 13.1212L9.58797 11.0569C9.19479 10.9628 8.82184 10.7645 8.51573 10.4586C7.62985 9.57268 7.62985 8.13108 8.51573 7.24542L12.3714 3.3897C13.2573 2.50383 14.6989 2.50383 15.5846 3.3897C16.4705 4.27557 16.4705 5.71696 15.5846 6.60283L14.4518 7.73579C14.9186 8.83438 15.0476 10.0426 14.8406 11.2028Z"]) {
  -webkit-mask-image: var(--zehn-icon-link) !important;
}

._1fVfKL7Q4K3sRdioqrCvlf svg * {
  display: none !important;
}

.XAqiVtprwZl22XhDV-Jy5 ._3Ks0ATk_tjdjKet0XHf0pt {
  margin: 0 !important;
  width: 32px !important;
  height: 32px !important;
}

._3Ks0ATk_tjdjKet0XHf0pt {
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-controller) !important;
}

._3Ks0ATk_tjdjKet0XHf0pt * {
  display: none !important;
}

.j7CspApRKIXhTbzzEMIec {
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
  color: var(--zehn-color-window-client) !important;
  font-size: var(--zehn-size-10) !important;
  font-weight: 400 !important;
  position: absolute !important;
  border-radius: 50% !important;
  background-color: rgb(var(--zehn-color-accent)) !important;
}

.XAqiVtprwZl22XhDV-Jy5 .j7CspApRKIXhTbzzEMIec {
  top: 0 !important;
  right: 0 !important;
}


/* GUEST */
.HDOT4BGIrK1Q_0cy4t514 ._14YD8GYbokUrE6XrNiGbVt, .HDOT4BGIrK1Q_0cy4t514 ._1xzkELnPqwgbz-se5BAVZP, .HDOT4BGIrK1Q_0cy4t514 ._2_estJLhWtWICUVEMfcMVH {
  line-height: 32px !important;
  color: var(--zehn-color-link) !important;
}

.HDOT4BGIrK1Q_0cy4t514:hover ._14YD8GYbokUrE6XrNiGbVt, .HDOT4BGIrK1Q_0cy4t514:hover ._1xzkELnPqwgbz-se5BAVZP, .HDOT4BGIrK1Q_0cy4t514:hover ._2_estJLhWtWICUVEMfcMVH {
  color: var(--zehn-color-link-hover) !important;
}

.HDOT4BGIrK1Q_0cy4t514:active ._14YD8GYbokUrE6XrNiGbVt, .HDOT4BGIrK1Q_0cy4t514:active ._1xzkELnPqwgbz-se5BAVZP, .HDOT4BGIrK1Q_0cy4t514:active ._2_estJLhWtWICUVEMfcMVH {
  color: var(--zehn-color-link-active) !important;
}

.HDOT4BGIrK1Q_0cy4t514 ._2_estJLhWtWICUVEMfcMVH {
  height: 32px !important;
  width: 4px !important;
  margin: 0 4px !important;
}

.sC4Ku0OaRLZ-vV_VHrpT4 ._1NvgnZgpxP3Khck8Yz72SY {
  border: none !important;
  color: var(--zehn-color-text-secondary) !important;
  background: transparent !important;
  border-radius: 0 !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  font-size: var(--zehn-size-14) !important;
  line-height: 32px !important;
  /* width: calc(100% - 32px - 16px) !important; */
  height: 32px !important;
  padding: 0 !important;
}

/* CANCEL */
._3ZHIBZbKR6DCeKpSDqwlMg._2q1K8sdTBivCqmSyDOf6tz {
  /* position: absolute !important;
  right: 0 !important;
  top: 16px !important; */
}

._3ZHIBZbKR6DCeKpSDqwlMg {
  background-color: var(--zehn-color-button-dialog-background) !important;
  color: var(--zehn-color-text-primary) !important;
  border-radius: 0 !important;
  margin: 0 !important;
  transition: none !important;
  line-height: 32px !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  outline: 2px solid var(--zehn-color-button-dialog-border) !important;
  outline-offset: -2px !important;
}

._3ZHIBZbKR6DCeKpSDqwlMg:hover {
  background-color: var(--zehn-color-button-dialog-background-hover) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-hover) !important;
}

._3ZHIBZbKR6DCeKpSDqwlMg:active {
  background-color: var(--zehn-color-button-dialog-background-active) !important;
  color: var(--zehn-color-text-primary) !important;
  outline: 2px solid var(--zehn-color-button-dialog-border-active) !important;
}

/* GAME SETTINGS */
.IzDAhck4PaQ6zHF0Jgxyx.DialogFooter {
  margin: 0 !important;
}

._3dhpys20FSdyNwqRLqNDmb {
  margin: 0 !important;
}

._6cKPA9Qiq89elkZykzWm5 {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  text-transform: none !important;
}

.byUV3gGMo74sUHlxvyjDp {
  background-color: transparent !important;
  padding: 0 !important;
  gap: 16px !important;
}

/* PLAYERS */
._3PZjzoWLVofSeZpDpB1hrL {
  gap: 16px !important;
}

._3PZjzoWLVofSeZpDpB1hrL ._3X22h7YdnZrFC2KSDbQiLq {
  padding: 0 !important;
  background-color: transparent !important;
  gap: 8px !important;
}

._3X22h7YdnZrFC2KSDbQiLq > div:nth-child(1) {
  order: 2 !important;
}

._3X22h7YdnZrFC2KSDbQiLq > div:nth-child(2) {
  order: 3 !important;
}

._3X22h7YdnZrFC2KSDbQiLq > div:nth-child(3) {
  order: 4 !important;
}

._3X22h7YdnZrFC2KSDbQiLq > div:nth-child(4) {
  order: 5 !important;
}

._1dGgVLeznTJ_tSM-ISiy0C._1EB4empJ1dp6UTi8UI842n {
  margin-left: 0 !important;
}

._1dGgVLeznTJ_tSM-ISiy0C {
  padding: 0 !important;
  background: var(--zehn-color-button-client-background) !important;
  width: 32px !important;
  height: 32px !important;
}

._1dGgVLeznTJ_tSM-ISiy0C:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._1dGgVLeznTJ_tSM-ISiy0C:hover {
  background: var(--zehn-color-button-client-background-active) !important;
}

._1dGgVLeznTJ_tSM-ISiy0C ._10yQBasY8fMJwRAPKkcY3z._3Y6e4w82YecYpFays4OGZv {
  color: transparent !important;
}

._1dGgVLeznTJ_tSM-ISiy0C ._10yQBasY8fMJwRAPKkcY3z {
  color: transparent !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-controller) !important;
}

._1dGgVLeznTJ_tSM-ISiy0C ._3f627reSIM-i9Uolk9rfnd {
  position: absolute !important;
  bottom: unset !important;
  right: 0 !important;
  left: unset !important;
  top: 0 !important;
}

._3f627reSIM-i9Uolk9rfnd {
  width: 12px !important;
  height: 12px !important;
  margin: 0 !important;
  color: var(--zehn-color-window-dialog) !important;
  font-size: var(--zehn-size-10) !important;
  font-weight: 400 !important;
  position: absolute !important;
  border-radius: 50% !important;
  background-color: rgb(var(--zehn-color-accent)) !important;
}

/* INFO */
._3PZjzoWLVofSeZpDpB1hrL ._3X22h7YdnZrFC2KSDbQiLq ._2Dvcb9zIKK7m6o3_WrhitN {
  width: 32px !important;
  height: 32px !important;
  color: transparent !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-info) !important;
  top: unset !important;
  right: unset !important;
  border-radius: 0 !important;
  position: relative !important;
}

/* CLOSE */
._2IHqYYFnMB37-TWG3DA4Kl {
  padding: 0 !important;
  background-color: var(--zehn-color-button-client-background) !important;
  width: 32px !important;
  height: 32px !important;
}

._2IHqYYFnMB37-TWG3DA4Kl:hover {
  background-color: var(--zehn-color-button-client-background-hover) !important;
}

._2IHqYYFnMB37-TWG3DA4Kl:active {
  background-color: var(--zehn-color-button-client-background-active) !important;
}

._2IHqYYFnMB37-TWG3DA4Kl ._s8La6xMilGn96qhlENdg {
  width: 16px !important;
  height: 16px !important;
  fill: transparent !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-clear) !important;
}

/* VOLUME */
._1A662abUbKAn0ig5xH3aUN {}

._1A662abUbKAn0ig5xH3aUN .ncAM2VaXiUJiIk2yvdf5T {
  margin: 0 !important;
  margin-right: 16px !important;
}

._1A662abUbKAn0ig5xH3aUN .ncAM2VaXiUJiIk2yvdf5T, ._1A662abUbKAn0ig5xH3aUN ._2icGUB0eQHsvd1mlUILwtM {
  padding: 0 !important;
  background-color: transparent !important;
}

._39Y7lYCI-8Miq_9WNayebv {
  width: 32px !important;
  height: 32px !important;
  background-color: var(--zehn-color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--zehn-icon-volume) !important;
}

._39Y7lYCI-8Miq_9WNayebv * {
  display: none !important;
}

/* INVITE POPUP */
.LegacyPopup .friendsui-container {
  background-color: transparent !important;
}

.friend .avatarHolder .avatarStatus {
  display: block !important;
}