/* AI CONTENT REPORT */
.AIContentReportDialog .ModalPosition_Content {
  top: 0 !important;
  position: absolute !important;
}

.AIContentReportDialog .DialogBodyText {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.AIContentReportDialog .DialogContent_InnerWidth > form {
  padding: 0px 16px !important;
}

.AIContentReportDialog .DialogBody {
  padding: 16px 0px !important;
}

.W7yFQn7zoBv-1CyobSsk1 {
  width: 100% !important;
  margin: 0px !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0px !important;
  color: var(--color-text-primary) !important;
  box-sizing: border-box !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
  font-size: var(--size-14) !important;
  padding: 8px 12px !important;
}

.W7yFQn7zoBv-1CyobSsk1:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-negative), 0.65) !important;
  outline-offset: -2px !important;
}

.W7yFQn7zoBv-1CyobSsk1:active {
  background: rgba(var(--color-negative), 0.3) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._2276iG7cnNJRL3mibXIuM9 {
  color: rgb(var(--color-accent)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  display: none !important;
}