/* AI CONTENT REPORT */
.AIContentReportDialog .ModalPosition_Content {
  top: 0 !important;
  position: absolute !important;
}

.AIContentReportDialog .DialogBodyText {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.AIContentReportDialog .DialogContent_InnerWidth > form {
  padding: 0 16px !important;
}

.AIContentReportDialog .DialogBody {
  padding: 16px 0 !important;
}

.W7yFQn7zoBv-1CyobSsk1 {
  width: 100% !important;
  margin: 0 !important;
  border: none !important;
  color: var(--color-input-dialog-text) !important;
  box-sizing: border-box !important;
  border-radius: 0 !important;
  background: var(--color-input-dialog-background) padding-box !important;
  /* outline: 2px solid var(--color-input-dialog-border) !important; */
  border: 2px solid var(--color-input-dialog-border) !important;
  /* outline-offset: -2px !important; */
  font-size: var(--size-14) !important;
  /* padding: 8px 12px !important; */
  padding: 6px 10px !important;
}

.W7yFQn7zoBv-1CyobSsk1:hover {
  background: var(--color-input-dialog-background-hover) padding-box !important;
  /* outline-color: var(--color-input-dialog-border-hover) !important; */
  border-color: var(--color-input-dialog-border-hover) !important;
}

.W7yFQn7zoBv-1CyobSsk1:active {
  background: var(--color-input-dialog-background-active) padding-box !important;
  /* outline-color: var(--color-input-dialog-border-active) !important; */
  border-color: var(--color-input-dialog-border-active) !important;
}

.W7yFQn7zoBv-1CyobSsk1:focus {
  background: var(--color-input-dialog-background-focus) padding-box !important;
  /* outline-color: var(--color-input-dialog-border-focus) !important; */
  border-color: var(--color-input-dialog-border-focus) !important;
  color: var(--color-input-dialog-text-focus) !important;
}

._2276iG7cnNJRL3mibXIuM9 {
  color: rgb(var(--color-accent)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  display: none !important;
}