/* SCREENSHOTS */
[class*="steamdesktopoverlay_OverlayPopup_"] {
  background: rgb(var(--color-settings)) !important;
}

[class*="mediamanagerutils_OverlayScreenshotManagerContainer_"] {
  /* padding: 0px 16px 16px 16px !important; */
  padding: 38px 16px 16px 16px !important;
  height: 100% !important;
}