/* BROWSER FIND */
[class*="browserviewfindinpage_FindBar_"] {
  padding: 8px !important;
  gap: 8px !important;
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

/* FIND BAR */
[class*="browserviewfindinpage_FindBar_"] [class*="browserviewfindinpage_SearchInput_"] {
  height: 32px !important;
  width: 100% !important;
}

[class*="browserviewfindinpage_FindBar_"] .DialogInput_Wrapper {
  flex: 1 !important;
}

[class*="browserviewfindinpage_FindBar_"] .DialogInput_Wrapper>input.DialogInput {
  min-width: unset !important;
}

/* SEARCH RESULTS */
[class*="browserviewfindinpage_FindBar_"] [class*="browserviewfindinpage_SearchResults_"] {
  margin: 0px 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  position: absolute !important;
  right: 128px !important;
  padding: 0px 16px !important;
}

/* BUTTON */
[class*="browserviewfindinpage_FindBar_"] [class*="browserviewfindinpage_ControlButton_"]>svg {
  width: 32px !important;
  height: 32px !important;
}

[class*="browserviewfindinpage_FindBar_"] [class*="browserviewfindinpage_ControlButton_"]>svg path {
  fill: transparent !important;
}

[class*="browserviewfindinpage_FindBar_"] [class*="browserviewfindinpage_ControlButton_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

/* UP */
[class*="browserviewfindinpage_FindBar_"]>.Focusable:nth-of-type(3) [class*="browserviewfindinpage_ControlButton_"] {
  background-image: var(--icon-arrow-up) !important;
}

/* DOWN */
[class*="browserviewfindinpage_FindBar_"]>.Focusable:nth-of-type(4) [class*="browserviewfindinpage_ControlButton_"] {
  background-image: var(--icon-arrow-down) !important;
}

/* CLOSE */
[class*="browserviewfindinpage_FindBar_"]>.Focusable:nth-of-type(5) [class*="browserviewfindinpage_ControlButton_"] {
  background-image: var(--icon-close) !important;
}