/* BROWSER FIND */
._1xLWmfPlWGV47FujycPN_c {
  padding: 8px !important;
  gap: 8px !important;
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

/* FIND BAR */
._1xLWmfPlWGV47FujycPN_c ._1zbolwszrDb3e7tDIusPMG {
  height: 32px !important;
  width: 100% !important;
}

._1xLWmfPlWGV47FujycPN_c .DialogInput_Wrapper {
  flex: 1 !important;
}

._1xLWmfPlWGV47FujycPN_c .DialogInput_Wrapper > input.DialogInput {
  min-width: unset !important;
}

/* SEARCH RESULTS */
._1xLWmfPlWGV47FujycPN_c ._1-vmRt3zqQkC_FUDTfS4RU {
  margin: 0px 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  position: absolute !important;
  right: 128px !important;
  padding: 0px 16px !important;
}

/* BUTTON */
._1xLWmfPlWGV47FujycPN_c ._3to6URp0bMv5xyhZNs_2yd > svg {
  width: 32px !important;
  height: 32px !important;
}

._1xLWmfPlWGV47FujycPN_c ._3to6URp0bMv5xyhZNs_2yd > svg path {
  fill: transparent !important;
}

._1xLWmfPlWGV47FujycPN_c ._3to6URp0bMv5xyhZNs_2yd {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

/* UP */
._1xLWmfPlWGV47FujycPN_c > .Focusable:nth-of-type(3) ._3to6URp0bMv5xyhZNs_2yd {
  background-image: var(--icon-arrow-up) !important;
}

/* DOWN */
._1xLWmfPlWGV47FujycPN_c > .Focusable:nth-of-type(4) ._3to6URp0bMv5xyhZNs_2yd {
  background-image: var(--icon-arrow-down) !important;
}

/* CLOSE */
._1xLWmfPlWGV47FujycPN_c > .Focusable:nth-of-type(5) ._3to6URp0bMv5xyhZNs_2yd {
  background-image: var(--icon-close) !important;
}