/* SOUNDTRACK */
._2qxDrjso_tFWZycH3i0lve {
  background: transparent !important;
  margin-top: 32px !important;
}

._3zB7s-HtSzCWmio_PcWLlq {
  margin-top: 0px !important;
  padding: 16px !important;
}

/* OVERLAY LIST REMOVE PADDING */
._2qxDrjso_tFWZycH3i0lve .rz1mrOnj9WN6UErES7qsq {
  padding: 0px !important;
}

/* BACK TO LIBRARY */
._27zjIbI3Gw1ydJn6SaEVhZ {
  padding: 0px !important;
}

._27zjIbI3Gw1ydJn6SaEVhZ ._1I26U52L7lJKgLprxrKKp4 {
  padding: 0px !important;
  gap: 0px !important;
  height: 32px !important;
    width: 48px !important;
  outline: none !important;
  background: transparent !important;
  color: var(--color-text-primary) !important;
  color: transparent !important;
  font-size: 0 !important;
  font-weight: 400 !important;
  position: absolute !important;
  z-index: 999 !important;
  app-region: no-drag !important;
}

._27zjIbI3Gw1ydJn6SaEVhZ ._1I26U52L7lJKgLprxrKKp4:hover {
  outline: none !important;
  color: var(--color-text-primary) !important;
  color: transparent !important;
  background-color: rgba(var(--color-negative), 0.1) !important;
}

._27zjIbI3Gw1ydJn6SaEVhZ ._1I26U52L7lJKgLprxrKKp4:active {
  outline: none !important;
  color: var(--color-text-primary) !important;
  color: transparent !important;
  background-color: rgba(var(--color-negative), 0.2) !important;
}

._27zjIbI3Gw1ydJn6SaEVhZ svg {
  height: 32px !important;
  width: 48px !important;
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--icon-direction-backwards) !important;
}