/* TITLE BAR */
.OverlayTimer .TitleBar {
  background: var(--color-acrylic) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
}

.WindowFocus .OverlayTimer .TitleBar {
  background-color: var(--color-acrylic-focus-dialog) !important;
  /* backdrop-filter: blur(var(--option-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
}

.OverlayTimer .TitleBar::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--image-acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.WindowFocus .OverlayTimer .TitleBar::after {
  opacity: 1 !important;
}

/* PINNED VIEW */
._2OoAjT3o0Ieng7ycuy86vZ ._2iKbt7g083TQdi7RqdGIjo {
  padding-top: 16px !important;
}

._2OoAjT3o0Ieng7ycuy86vZ .TitleBar.title-area {
  opacity: 0 !important;
  visibility: hidden !important;
}

/* FLIP */
.C9tvuqqEXGcrkcAtHrQ_R ._2o4H5sZ1iV7ogM_PNl0aXo svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-reshare) !important;
}

/* CONTROLS */
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R.OverlayTimer ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  position: absolute !important;
  margin: 0px !important;
  width: 100% !important;
  right: 0px !important;
  top: 0px !important;
  left: 0px !important;
}

/* TIMER */
._2iKbt7g083TQdi7RqdGIjo {
  gap: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
  margin: 0px !important;
  padding-top: 0px !important;
  box-sizing: border-box !important;
}

._2iKbt7g083TQdi7RqdGIjo ._1BfvGliHSf2eWZCE__10m1 {
  gap: 4px !important;
  font-size: var(--size-32) !important;
  font-weight: 700 !important;
  color: rgb(var(--color-text-primary)) !important;
}

._2iKbt7g083TQdi7RqdGIjo ._3TJqF18iufwSa0M-JOIFmM {
  gap: 16px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2iKbt7g083TQdi7RqdGIjo ._3TJqF18iufwSa0M-JOIFmM ._7tGTGQz81HytGT5MvKHN7 {
  height: 32px !important;
  padding: 0px 16px !important;
  width: fit-content !important;
}

._2iKbt7g083TQdi7RqdGIjo ._3TJqF18iufwSa0M-JOIFmM ._7tGTGQz81HytGT5MvKHN7 ._2rqStGmuswQgl3sLRZEl23 {
  transform: translate(-12px, -8px) !important;
}

._2iKbt7g083TQdi7RqdGIjo ._2j-W28YC1xAizcE7x9KkDT {
  gap: 16px !important;
}

._2iKbt7g083TQdi7RqdGIjo ._2j-W28YC1xAizcE7x9KkDT ._2fTt_FOOXO39F-pTi2dA-b, ._2iKbt7g083TQdi7RqdGIjo ._2j-W28YC1xAizcE7x9KkDT ._1ZLczw3NUNZfy66bzlEFMq, ._2iKbt7g083TQdi7RqdGIjo ._2j-W28YC1xAizcE7x9KkDT ._3TgXt606Gd8bsEEVvyCqv3 {
  padding: 0px 16px !important;
  height: 32px !important;
  width: fit-content !important;
}

._2iKbt7g083TQdi7RqdGIjo ._3e5l4kHSF_qnDWkVvRBzyy ._3FDbox9utqRcIQ0C_Sc-rw.DialogButton {
  padding: 0px 16px !important;
  height: 32px !important;
  width: calc(100% - 32px) !important;
}

/* NEW TIMER */
.jSQQl34mj8a4NOKubD6AT {
  height: calc(160px + 32px) !important;
  width: 288px !important;
  margin: 0px !important;
  gap: 0px !important;
  margin-top: 32px !important;
}

/* TOP BUTTONS */
.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw {
  gap: 0px !important;
  justify-content: flex-start !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q {
  outline: none !important;
  background-color: transparent !important;
  height: 48px !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:hover, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:hover {
  outline: none !important;
  background-color: rgba(var(--color-negative), 0.1) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:active, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:active {
  outline: none !important;
  background-color: rgba(var(--color-negative), 0.2) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q::before {
  content: "" !important;
  position: absolute !important;
  left: 4px !important;
  bottom: 4px !important;
  right: 4px !important;
  height: 2px !important;
  background: rgb(var(--color-accent)) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39 {
  padding-left: 0px !important;
  background: var(--color-acrylic) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
}

.WindowFocus .jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39 {
  background-color: var(--color-acrylic-focus-dialog) !important;
  /* backdrop-filter: blur(var(--option-blur-radius)) !important; */
  background-blend-mode: exclusion !important;
}

.jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--image-acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.WindowFocus .jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39::after {
  opacity: 1 !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl {
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  max-width: 48px !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:nth-of-type(1) {
  background-image: var(--icon-clock) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:nth-of-type(2) {
  background-image: var(--icon-timer) !important;
}

/* CLOCK TEXT SIZE */
.FXmBItQhq4jEhkePnRy4H {
  /* position: relative !important; */
  flex-direction: column !important;
}

.FXmBItQhq4jEhkePnRy4H .aPa139y4YysLNSHbGGiXP {
  /* position: absolute !important; */
  top: 0px !important;
  order: 2 !important;
  height: 48px !important;
  margin: auto 0px !important
}

.FXmBItQhq4jEhkePnRy4H .clfdVftgUtRh4bNM1IV2 {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  margin: 16px 0px !important;
  display: none !important;
}

.FXmBItQhq4jEhkePnRy4H ._22Eeo4FPIJ46jaeC3f89An {
  padding: 0px 16px !important;
}

/* CLOCK TIME */
.FXmBItQhq4jEhkePnRy4H .Hg-Ut_TP4EpmV6thehAKY {
  order: 1 !important;
}

.FXmBItQhq4jEhkePnRy4H {
  /* font-size: var(--size-32) !important; */
  font-weight: 700 !important;
  color: rgb(var(--color-text-primary)) !important;
}

.FXmBItQhq4jEhkePnRy4H ._1ipUHE3x1jV4zebZsOKan7 {
  font-weight: 700 !important;
  color: rgb(var(--color-text-primary)) !important;
  line-height: 64px !important;
  height: 64px !important;
}

/* TIMER */
._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1.ODutNt1pHTEvi2yfCJL26 {
  height: 100% !important;
}

._2fICi3Sa-9RSsaGQXtgYxE {
  gap: 0px !important;
  justify-content: space-between !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 {
  margin: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  padding: 16px 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .YaT9BR8vBN5J2VcXeAsl2 {
  margin: 0px !important;
  width: 64px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .kjBAvLwkb1RetQQxFsPjM {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
  background-color: transparent !important;
  width: 64px !important;
  padding: 0px !important;
  line-height: 64px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .kjBAvLwkb1RetQQxFsPjM._1t6Sh3kadZDLPZggfcPWlh {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  background-color: transparent !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2NcTFrUpmzgPkowDPjHy2W {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
  margin: 0px !important;
  background-color: transparent !important;
  appearance: none !important;
  border: none !important;
  width: 64px !important;
  text-align: center !important;
  padding: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._1Iw8T069HWD0YCuj9DM8xX {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-10) !important;
  line-height: 16px !important;
  display: none !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT {
  gap: 0px !important;
  margin: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._2fTt_FOOXO39F-pTi2dA-b, ._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._1ZLczw3NUNZfy66bzlEFMq, ._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._3TgXt606Gd8bsEEVvyCqv3 {
  padding: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._3FDbox9utqRcIQ0C_Sc-rw {
  padding: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._12DGIGZPZbEANDMIOAcLLg {
  margin: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2ll90BDXyHiMUiMFwrIGBS{
  margin-bottom: 0px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2NbHN6kBjSdOE0iBdnx6cT{
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
}

/* BOTTOM BUTTONS */
._2j-W28YC1xAizcE7x9KkDT button.DialogButton {
  outline: none !important;
  background: none !important;
}

._2j-W28YC1xAizcE7x9KkDT button.DialogButton:hover {
  outline: none !important;
  background: rgba(var(--color-negative), 0.1) !important;
}

._2j-W28YC1xAizcE7x9KkDT button.DialogButton:active {
  outline: none !important;
  background: rgba(var(--color-negative), 0.2) !important;
}

._12DGIGZPZbEANDMIOAcLLg svg {
  height: 48px !important;
  width: 96px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

._12DGIGZPZbEANDMIOAcLLg svg * {
  fill: transparent !important;
  display: none !important;
}

._2fTt_FOOXO39F-pTi2dA-b ._12DGIGZPZbEANDMIOAcLLg svg {
    background-image: var(--icon-refresh) !important;
}

._3TgXt606Gd8bsEEVvyCqv3 ._12DGIGZPZbEANDMIOAcLLg svg {
    background-image: var(--icon-reset) !important;
}

._3FDbox9utqRcIQ0C_Sc-rw ._12DGIGZPZbEANDMIOAcLLg svg {
    background-image: var(--icon-play) !important;
}

._3FDbox9utqRcIQ0C_Sc-rw ._12DGIGZPZbEANDMIOAcLLg svg:has([d="M14.5 30.5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-25a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v25Zm15-25a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-25Z"]) {
    background-image: var(--icon-pause) !important;
}