/* TITLE BAR */
.OverlayTimer .TitleBar {
  background: var(--color-window-acrylic) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.WindowFocus .OverlayTimer .TitleBar {
  background-color: var(--color-acrylic-focus-dialog) !important;
}

.OverlayTimer .TitleBar::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.WindowFocus .OverlayTimer .TitleBar::after {
  opacity: 1 !important;
}

/* PINNED VIEW */
._2OoAjT3o0Ieng7ycuy86vZ ._2iKbt7g083TQdi7RqdGIjo {
  padding-top: 16px !important;
}

._2OoAjT3o0Ieng7ycuy86vZ .TitleBar.title-area {
  opacity: 0 !important;
  visibility: hidden !important;
}

/* FLIP */
.C9tvuqqEXGcrkcAtHrQ_R .EMpALkio49OZ9ttf0_k55 ._2o4H5sZ1iV7ogM_PNl0aXo svg {
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--icon-reshare) !important;
}

/* CONTROLS */
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R.OverlayTimer ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  position: relative !important;
  margin: 0 !important;
  /* width: 100% !important; */
  right: 0 !important;
  top: 0 !important;
  left: 0 !important;
  box-sizing: border-box !important;
  max-width: 286px !important;
}

/* NEW TIMER */
._1UJDmU3N-pkv7oTJ_Zf9nK {}

.jSQQl34mj8a4NOKubD6AT {
  height: calc(48px + 64px + 32px + 32px + 24px) !important;
  width: 286px !important;
  margin: 0 !important;
  gap: 0 !important;
}

._1itstBRykbCEZZrECYg_YU ._3few7361SOf4k_YuKCmM62 {}

.OverlayTimer.C9tvuqqEXGcrkcAtHrQ_R.Wt45HcpWivkdscTAM-XYu {
  position: relative !important;
  width: 288px !important;
  height: calc(32px + 48px + 64px + 32px + 32px + 24px + 2px) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.Wt45HcpWivkdscTAM-XYu > div {
  position: relative !important;
}

/* TOP BUTTONS */
.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw {
  gap: 0 !important;
  justify-content: flex-start !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q {
  outline: none !important;
  background-color: var(--color-button-client-background) !important;
  height: 48px !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:hover, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:hover {
  outline: none !important;
  background-color: var(--color-button-client-background-hover) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:active, .jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q:active {
  outline: none !important;
  background-color: var(--color-button-client-background-active) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl._3-_jME_xsuvgT3Dvq4bw_q::before {
  content: "" !important;
  position: absolute !important;
  left: 4px !important;
  bottom: 4px !important;
  right: 4px !important;
  height: 2px !important;
  background: rgb(var(--color-accent)) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39 {
  padding-left: 0 !important;
  background: var(--color-window-acrylic) !important;
  transition: background 0.2s ease-in-out, backdrop-filter 0.2s ease-in-out !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.WindowFocus .jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39 {
  background-color: var(--color-acrylic-focus-dialog) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39::after {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  opacity: 0 !important;
  background-image: var(--acrylic) !important;
  transition: opacity 0.2s ease-in-out !important;
}

.WindowFocus .jSQQl34mj8a4NOKubD6AT ._1JTFbdOLNdh4RmamEfRS39::after {
  opacity: 1 !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl {
  color: transparent !important;
  max-width: 48px !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:nth-of-type(1)::after {
  -webkit-mask-image: var(--icon-clock) !important;
}

.jSQQl34mj8a4NOKubD6AT ._1ml4SNc3LIyBDHIf8ekVSw .HijmccPB1BKyhOwhX1EVl:nth-of-type(2)::after {
  -webkit-mask-image: var(--icon-timer) !important;
}

/* CLOCK TEXT SIZE */
.FXmBItQhq4jEhkePnRy4H {
  /* position: relative !important; */
  flex-direction: column !important;
}

.FXmBItQhq4jEhkePnRy4H .aPa139y4YysLNSHbGGiXP {
  /* position: absolute !important; */
  top: 0 !important;
  order: 2 !important;
  height: 24px !important;
  margin: 16px 0 !important;
}

.FXmBItQhq4jEhkePnRy4H .clfdVftgUtRh4bNM1IV2 {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  margin: 16px 0 !important;
  display: none !important;
}

.FXmBItQhq4jEhkePnRy4H ._22Eeo4FPIJ46jaeC3f89An {
  padding: 0 16px !important;
}

/* CLOCK TIME */
.FXmBItQhq4jEhkePnRy4H .Hg-Ut_TP4EpmV6thehAKY {
  order: 1 !important;
  min-width: 288px !important;
  min-height: calc(64px + 32px) !important;
  flex: 0 !important;
}

.FXmBItQhq4jEhkePnRy4H {
  /* font-size: var(--size-32) !important; */
  font-weight: 700 !important;
  color: var(--color-text-primary) !important;
}

.FXmBItQhq4jEhkePnRy4H ._1ipUHE3x1jV4zebZsOKan7 {
  font-weight: 700 !important;
  color: var(--color-text-primary) !important;
  line-height: 64px !important;
  height: 64px !important;
}

/* TIMER */
._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1.ODutNt1pHTEvi2yfCJL26 {
  height: 64px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE {
  gap: 0 !important;
  justify-content: space-between !important;
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 {
  margin: 0 !important;
  color: var(--color-text-primary) !important;
  padding: 16px 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .YaT9BR8vBN5J2VcXeAsl2 {
  margin: 0 !important;
  width: 64px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .kjBAvLwkb1RetQQxFsPjM {
  color: var(--color-text-primary) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
  background-color: transparent !important;
  width: 64px !important;
  padding: 0 !important;
  line-height: 64px !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 .kjBAvLwkb1RetQQxFsPjM._1t6Sh3kadZDLPZggfcPWlh {
  color: var(--color-text-primary) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  background-color: transparent !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2NcTFrUpmzgPkowDPjHy2W {
  color: var(--color-text-primary) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
  margin: 0 !important;
  background-color: transparent !important;
  appearance: none !important;
  border: none !important;
  width: 64px !important;
  text-align: center !important;
  padding: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._1Iw8T069HWD0YCuj9DM8xX {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-10) !important;
  line-height: 16px !important;
  display: none !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT {
  gap: 0 !important;
  margin: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._2fTt_FOOXO39F-pTi2dA-b, ._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._1ZLczw3NUNZfy66bzlEFMq, ._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._3TgXt606Gd8bsEEVvyCqv3 {
  padding: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._3FDbox9utqRcIQ0C_Sc-rw {
  padding: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._2j-W28YC1xAizcE7x9KkDT ._12DGIGZPZbEANDMIOAcLLg {
  margin: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2ll90BDXyHiMUiMFwrIGBS{
  margin-bottom: 0 !important;
}

._2fICi3Sa-9RSsaGQXtgYxE ._1BfvGliHSf2eWZCE__10m1 ._2NbHN6kBjSdOE0iBdnx6cT{
  color: var(--color-text-primary) !important;
  font-weight: 700 !important;
  font-size: var(--size-48) !important;
  line-height: 64px !important;
}

/* BOTTOM BUTTONS */
._2j-W28YC1xAizcE7x9KkDT button.DialogButton {
  outline: none !important;
  background: var(--color-button-client-background) !important;
}

._2j-W28YC1xAizcE7x9KkDT button.DialogButton:hover {
  outline: none !important;
  background: var(--color-button-client-background-hover) !important;
}

._2j-W28YC1xAizcE7x9KkDT button.DialogButton:active {
  outline: none !important;
  background: var(--color-button-client-background-active) !important;
}

._12DGIGZPZbEANDMIOAcLLg svg {
  height: 48px !important;
  width: 96px !important;
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
}

._12DGIGZPZbEANDMIOAcLLg svg * {
  fill: transparent !important;
  display: none !important;
}

._2fTt_FOOXO39F-pTi2dA-b ._12DGIGZPZbEANDMIOAcLLg svg {
  -webkit-mask-image: var(--icon-refresh) !important;
}

._3TgXt606Gd8bsEEVvyCqv3 ._12DGIGZPZbEANDMIOAcLLg svg {
  -webkit-mask-image: var(--icon-reset) !important;
}

._3FDbox9utqRcIQ0C_Sc-rw ._12DGIGZPZbEANDMIOAcLLg svg {
  -webkit-mask-image: var(--icon-play) !important;
}

._3FDbox9utqRcIQ0C_Sc-rw ._12DGIGZPZbEANDMIOAcLLg svg:has([d="M14.5 30.5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-25a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v25Zm15-25a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-25Z"]) {
  -webkit-mask-image: var(--icon-pause) !important;
}