/* BACKGROUND */
.OverlayTimeline {
  /* background-color: rgba(var(--color-black), 0.4) !important; */
}

/* TIMELINE START */
._1J8umaxlHnD4poewN6r8wp {
  border-radius: 0px !important;
  padding: 0px 16px !important;
  line-height: 38px !important;
  backdrop-filter: none !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  margin: 32px auto !important;
  gap: 16px !important;
  filter: none !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  transition: none !important;
}

._1J8umaxlHnD4poewN6r8wp:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._1J8umaxlHnD4poewN6r8wp:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._3V5eWxUcrYGCYGr-ZHfGG9{
  gap: 4px !important;
}
._3V5eWxUcrYGCYGr-ZHfGG9 ._3wsYp4D6zoNQnYzoF5uAK{
  width: 38px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0px !important;
}

._1J8umaxlHnD4poewN6r8wp ._3KHj08HvOe8qLJypZi4y4M {
  color: rgb(var(--color-primary)) !important;
}

/* BACKGROUND */
.UgQp-NQIbjw2dbLYF77Cw {
  background: transparent !important;
}

.UgQp-NQIbjw2dbLYF77Cw ._2mxOP83pEM0_VV774kShWG {
  border-radius: 0px !important;
  padding: 0px !important;
  backdrop-filter: none !important;
  background: transparent !important;
}

/* CONTROLS */
.UgQp-NQIbjw2dbLYF77Cw {
  gap: 16px !important;
}

.TimelineOverlay .TimelineAndControls {
  margin: 0px !important;
}

/* BOTTOM CONTROLS */
._3bk92dZGNJnqwTR47byuLO {
  margin-top: 0px !important;
}

._3QLt_cnTY9p8pNOj9jxTxR, ._2AtQdZFU-mOGE-_3SuQKkw {
  border-radius: 0px !important;
  padding: 0px 16px !important;
  line-height: 38px !important;
  backdrop-filter: none !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  gap: 16px !important;
  filter: none !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  transition: none !important;
}

._3QLt_cnTY9p8pNOj9jxTxR:hover, ._2AtQdZFU-mOGE-_3SuQKkw:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._3QLt_cnTY9p8pNOj9jxTxR:active, ._2AtQdZFU-mOGE-_3SuQKkw:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._2AtQdZFU-mOGE-_3SuQKkw svg {
  width: 16px !important;
  height: 38px !important;
  margin-left: 8px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
  filter: brightness(0.5) !important;
}

._2AtQdZFU-mOGE-_3SuQKkw svg * {
  display: none !important;
}