/* VIRTUAL MENU */
._2h2k6X1fW3_TBVnaIGI2Wt._2o0IvYYSofQLom-Qieqwq9 {
}

._2h2k6X1fW3_TBVnaIGI2Wt._2o0IvYYSofQLom-Qieqwq9:not(._24hPdj4EEFjKquk3Pju9Ft) {
}

._2h2k6X1fW3_TBVnaIGI2Wt._2o0IvYYSofQLom-Qieqwq9 {
}

/* VIRTUAL MENU RADIAL */
.J6O5ucWfp5WZzP0zbkraB._1zlPn2utDhmN0j_9iqCT3S:not(._1ATSn6aBY4I-ihj17TatyC)._1-GjfP7nYSUl0zSnx8YzNS {
  fill: rgba(var(--color-accent), 0.5) !important;
}

.J6O5ucWfp5WZzP0zbkraB {
  fill: rgba(var(--color-white), 0.1) !important;
}

._2Znw2GvccpPvjICCz7pLTT {
  fill: rgb(var(--color-accent)) !important;
}

._2Km9ZzOKu9JJbixER7EmyS._312mrZFgOEbHkxLs3pQZ0B ._15bBhv8pf8ZeOJGcYlWcfb {
  background-color: transparent !important;
  border-radius: 0px !important;
  border: unset !important;
}

._2h2k6X1fW3_TBVnaIGI2Wt._2o0IvYYSofQLom-Qieqwq9 {
  padding: 0px !important;
}

._2Km9ZzOKu9JJbixER7EmyS ._15bBhv8pf8ZeOJGcYlWcfb {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-32) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

._2Km9ZzOKu9JJbixER7EmyS ._15bBhv8pf8ZeOJGcYlWcfb .GBHo13C76xbb_fujOLRu2 {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
}

.b4zYWEGMss_xA-yIFGOpx:not(._2CiMTyneS3g38t4Z3rFM3O) {
  border-top: 4px solid transparent !important
}

._3mD8WvSXIIXlh3aMIiHRgj:not(._2zLRWpA5yb7mv5jAvn5QDY) .b4zYWEGMss_xA-yIFGOpx._2CiMTyneS3g38t4Z3rFM3O {
  border-top: 4px solid rgb(var(--color-accent)) !important;
}

._3tTb5ipJxQxwtIk2IpLTgr {
  border-top: 4px solid rgb(var(--color-accent)) !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-32) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  gap: 16px !important;
  background: rgba(var(--color-white), 0.1) !important;
}

._3mD8WvSXIIXlh3aMIiHRgj._2zLRWpA5yb7mv5jAvn5QDY ._3tTb5ipJxQxwtIk2IpLTgr {
  padding: 0px !important;
  border-top-width: 4px !important;
  height: 80px !important;
  width: 400px !important;
}

.b4zYWEGMss_xA-yIFGOpx._2CiMTyneS3g38t4Z3rFM3O._2zLRWpA5yb7mv5jAvn5QDY.tkv56hLjRraoMTEamy_11 {
  border-top: 4px solid rgb(var(--color-accent)) !important;
}

/* TOUCH MENU */
._2h2k6X1fW3_TBVnaIGI2Wt:not(._2zLRWpA5yb7mv5jAvn5QDY):not(._24hPdj4EEFjKquk3Pju9Ft) .b4zYWEGMss_xA-yIFGOpx._1rA16OR4sAvtZKH7MZDid6._1N8HMX_cq47OyBIl1h65bZ {
  border-top-left-radius: 0px !important;
}

._2h2k6X1fW3_TBVnaIGI2Wt:not(._2zLRWpA5yb7mv5jAvn5QDY):not(._24hPdj4EEFjKquk3Pju9Ft) .b4zYWEGMss_xA-yIFGOpx._1rA16OR4sAvtZKH7MZDid6._3VkZbTpwzrAHO7OEzt__7O {
  border-top-right-radius: 0px !important;
}

._2h2k6X1fW3_TBVnaIGI2Wt:not(._2zLRWpA5yb7mv5jAvn5QDY):not(._24hPdj4EEFjKquk3Pju9Ft) .b4zYWEGMss_xA-yIFGOpx._3-DR_g2ZRF3wtCTjykdD7J._1N8HMX_cq47OyBIl1h65bZ {
  border-bottom-left-radius: 0px !important;
}

._2h2k6X1fW3_TBVnaIGI2Wt:not(._2zLRWpA5yb7mv5jAvn5QDY):not(._24hPdj4EEFjKquk3Pju9Ft) .b4zYWEGMss_xA-yIFGOpx._3-DR_g2ZRF3wtCTjykdD7J._3VkZbTpwzrAHO7OEzt__7O {
  border-bottom-right-radius: 0px !important;
}

._3mD8WvSXIIXlh3aMIiHRgj._3CqneA9-sNz9rP5CnFPxAv ._3tTb5ipJxQxwtIk2IpLTgr::before, ._3mD8WvSXIIXlh3aMIiHRgj._3CqneA9-sNz9rP5CnFPxAv ._3tTb5ipJxQxwtIk2IpLTgr::after {
  display: none !important;
}

/* HOTBAR MENU */
._2WaL0sZ45Ujp_q4yhXqK1- {
  margin: 0px !important;
  height: 88px !important;
}

._3mD8WvSXIIXlh3aMIiHRgj._24hPdj4EEFjKquk3Pju9Ft ._3tTb5ipJxQxwtIk2IpLTgr {
  width: 172px !important;
}

._3mD8WvSXIIXlh3aMIiHRgj._24hPdj4EEFjKquk3Pju9Ft {
}

._3mD8WvSXIIXlh3aMIiHRgj._24hPdj4EEFjKquk3Pju9Ft ._3tTb5ipJxQxwtIk2IpLTgr {
  border-bottom-width: 0px !important;
}