:root {
  /**
  * @name Status In-Game
  * @description User status in-game.
  */
  --color-ingame: 35, 165, 90;
  /**
  * @name Status Online
  * @description User status online.
  */
  --color-online: 35, 165, 90;
  /**
  * @name Status Away
  * @description User status away.
  */
  --color-away: 240, 178, 50;
  /**
  * @name Status Do-Not-Disturb
  * @description User status do-not-disturb.
  */
  --color-disturb: 242, 63, 67;
  /**
  * @name Status Offline
  * @description User status offline.
  */
  --color-offline: 128, 132, 142;
}