:root {

  /* LIBRARY OPTIONS -------------------------------------------------------- */
  /* DISPLAY ANNOUNCEMENTS BUTTON: none, flex */
  --option-display-announcements: none;
  /* DISPLAY ADD GAME BUTTON: none, flex */
  --option-display-add-game: none;
  /* DISPLAY VR BUTTON: none, flex */
  --option-display-vr: none;
  /* DISPLAY BIGPICTURE BUTTON: none, flex */
  --option-display-bigpicture: none;
  /* DISPLAY URLBAR: none, flex */
  --option-display-urlbar: none;
  /* DISPLAY WHAT'S NEW: none, block */
  --option-display-whats-new: none;
  /* DISPLAY ADD SHELF: none, flex */
  --option-display-add-shelf: none;
  /* DOWNLOAD BAR WIDTH */
  --option-download-bar-width: 200px;

  /* CHAT OPTIONS ----------------------------------------------------------- */
  /* DISPLAY TIME DIVISION IN CHAT: none, flex */
  --option-display-time-division: flex;

  /* GLOBAL OPTIONS --------------------------------------------------------- */
  /* DISPLAY TOOLTIPS: none, block */
  --option-display-tooltips: block;
  /* DISPLAY MINIPROFILE: none, block */
  --option-display-miniprofile: none;
  /* DISPLAY SCROLLBAR: 0px, 16px */
  --option-display-scrollbar: 0px;

  /* PERFORMANCE OPTIONS ---------------------------------------------------- */
  /* ACRYLIC BACKGROUND BLUR RADIUS */
  --option-blur-radius: 20px;

  /* COLORS ----------------------------------------------------------------- */
  --color-accent: var(--SystemAccentColor-RGB, 210, 115, 138);
  --color-accent-light1: var(--SystemAccentColorLight1-RGB, 215, 135, 154);
  --color-accent-light2: var(--SystemAccentColorLight2-RGB, 218, 157, 172);
  --color-accent-light3: var(--SystemAccentColorLight3-RGB, 225, 186, 195);
  --color-accent-dark1: var(--SystemAccentColorDark1-RGB, 203, 95, 121);
  --color-accent-dark2: var(--SystemAccentColorDark2-RGB, 204, 69, 102);
  --color-accent-dark3: var(--SystemAccentColorDark3-RGB, 181, 56, 86);

  --color-ingame: 35, 165, 90;
  --color-online: 35, 165, 90;
  --color-away: 240, 178, 50;
  --color-disturb: 242, 63, 67;
  --color-offline: 128, 132, 142;

  --color-background: 26, 26, 26;
  --color-settings: 0, 0, 0;

  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-close-hover: 232, 18, 35;
  --color-close-pressed: 241, 112, 121;

  --color-primary: 255, 255, 255;
  --color-secondary: 153, 153, 153;
  --color-tertiary: 127, 127, 127;

  --color-contextmenu-background: 43, 43, 43;
  --color-contextmenu-border: 118, 118, 118;

  /* TEXT FONT -------------------------------------------------------------- */
  --font-family: "Segoe UI", "Motiva Sans", "Twemoji", "Noto Sans", Arial, Helvetica, sans-serif;

  /* TRANSLATIONS ----------------------------------------------------------- */
  --translation-on: "On";
  --translation-off: "Off";
  --translation-playing: "Playing\00a0";

}