// CONTAINER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html:has(._1xLWmfPlWGV47FujycPN_c),
body:has(._1xLWmfPlWGV47FujycPN_c) {
  background: transparent !important;
  border-radius: var(--zehn-size-modal-radius) !important;
  overflow: hidden !important;
}

._1xLWmfPlWGV47FujycPN_c {
  position: relative !important;
  top: var(--zehn-size-spacing-xs) !important;
  padding: var(--zehn-size-padding-xs) !important;
  gap: 0px !important;
  background: var(--zehn-color-modal-background) !important;
  border: var(--zehn-size-modal-border) solid var(--zehn-color-modal-border) !important;
  border-radius: var(--zehn-size-modal-radius) !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
  transition: background-color 0.2s var(--zehn-timing-ease) !important;

  &:hover {
    background-color: var(--zehn-color-modal-background-hover) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// INPUT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1xLWmfPlWGV47FujycPN_c ._1zbolwszrDb3e7tDIusPMG {
  height: var(--zehn-size-find) !important;
  width: 100% !important;
}

._1xLWmfPlWGV47FujycPN_c .DialogInput_Wrapper {
  flex: 1 !important;
  margin-right: var(--zehn-size-spacing-xs) !important;
}

._1xLWmfPlWGV47FujycPN_c .DialogInput_Wrapper>input.DialogInput {
  min-width: 0px !important;
  padding: 0 48px 0 10px !important;
}

// SEARCH RESULTS
._1xLWmfPlWGV47FujycPN_c ._1-vmRt3zqQkC_FUDTfS4RU {
  margin: 0px !important;
  line-height: var(--zehn-size-find) !important;
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  position: absolute !important;
  right: 112px !important;
  padding: 0 var(--zehn-size-padding-md) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// UP
._1xLWmfPlWGV47FujycPN_c>.Focusable:nth-of-type(3) ._3to6URp0bMv5xyhZNs_2yd svg {
  -webkit-mask-image: var(--zehn-icon-arrow-up) !important;
}

// DOWN
._1xLWmfPlWGV47FujycPN_c>.Focusable:nth-of-type(4) ._3to6URp0bMv5xyhZNs_2yd svg {
  -webkit-mask-image: var(--zehn-icon-arrow-down) !important;
}

// CLOSE
._1xLWmfPlWGV47FujycPN_c>.Focusable:nth-of-type(5) ._3to6URp0bMv5xyhZNs_2yd svg {
  -webkit-mask-image: var(--zehn-icon-clear) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~