/* ACTIVATE GAME */
[class*="activateproductdialog_SSAPopupContainer_"] [class*="activateproductdialog_SSAContainer_"] {
  margin-bottom: 0px !important;
  margin-top: 16px !important;
  background-color: transparent !important;
}

.ModalPosition .ModalPosition_Content .DialogContent._DialogLayout:not([class*="pagedsettings_PagedSettingsDialog_PageContent_"]) #main {
  background-color: transparent !important;
}

#ssa_body {
  font-size: var(--font-size-small) !important;
  color: rgb(var(--color-text)) !important;
}

#ssa_body ol {
  margin-left: 13px !important;
}

#ssa_body p {
  margin: 9px 0px !important;
}