/* BBCODE */
._1ILFQY2sxyGFT_n-fifayy {
  background: var(--color-window-dialog) !important;
  padding: calc(32px + 16px) 16px 16px 16px !important;
}

/* ARTWORK DIALOG */
.ModalDialogPopup .PopupFullWindow>.ModalPosition:has(.bAmL1RoRQJ72mvxRb_Mi_), .ModalDialogPopup .PopupFullWindow>.ModalPosition>.ModalPosition_Content:has(.bAmL1RoRQJ72mvxRb_Mi_) {
  height: unset !important;
  margin: 0 !important;
}

._36VpVPlpKPUM0pVoKojRbG {
  border: unset !important;
}

._1Lfu7heMNRsXXo1Yfzsp17 {
  padding-top: 32px !important;
}

._27qasW5wLU4h4nUgawpo1q ._1Lfu7heMNRsXXo1Yfzsp17 {
  background: var(--color-window-dialog) !important;
  border: 1px solid var(--color-border) !important;
}

.WindowFocus ._27qasW5wLU4h4nUgawpo1q ._1Lfu7heMNRsXXo1Yfzsp17 {
  border: 1px solid var(--color-border-focus) !important;
}

.bAmL1RoRQJ72mvxRb_Mi_ {
  padding: 16px !important;
  margin: 0 !important;
  -webkit-mask-image: none !important;
  overflow-x: hidden !important;
  overflow-y: auto !important; /* SCROLL */
  gap: 16px !important;
}

._1DyzX9pEE7A4y0qHu9FVmp {
  width: 100% !important;
  height: auto !important;
  overflow: hidden !important;
  gap: 16px !important;
}

._1DyzX9pEE7A4y0qHu9FVmp img {
  min-height: 0 !important;
  object-fit: contain !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 {
  /* max-height: unset !important; */
  width: 100% !important;
  max-height: 32px !important;
  gap: 16px !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._2RehCk2PW6YJEWkBk2psYd {
  margin: 0 !important;
}

._1-MBEyCblWLDI_ymHW40W8 {
  padding: 0 !important;
  line-height: 32px !important;
}

._1-MBEyCblWLDI_ymHW40W8 ._2yt71EY8-YdWa8dBEE1DAW {
  color: var(--color-text-secondary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  order: 2 !important;
  max-width: 60% !important;
}

.dnuQ_w79dTxYmwHu3eNUE {
  gap: 16px !important;
  flex: 1 !important;
}

.dnuQ_w79dTxYmwHu3eNUE ._1mwKpBRR9eBuLvZRn9vqrX {
  letter-spacing: normal !important;
  color: var(--color-text-secondary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  text-transform: none !important;
  display: none !important;
}

._2iCoIHI0MBWO23qx2MstOi {
  letter-spacing: normal !important;
  color: var(--color-text-secondary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._1-MBEyCblWLDI_ymHW40W8 ._1gvujtNl7v7FpJK6kaMeKZ {
  gap: 16px !important;
}

._1-MBEyCblWLDI_ymHW40W8 ._1gvujtNl7v7FpJK6kaMeKZ ._3Z5_faLuyLDfnOG94I1WDc {
  gap: 16px !important;
  order: 3 !important;
  flex: 1 !important;
  justify-content: right !important;
}

._1-MBEyCblWLDI_ymHW40W8 ._1gvujtNl7v7FpJK6kaMeKZ ._3Z5_faLuyLDfnOG94I1WDc ._2nKVTC5iBFPng1NZnAIq9E {
  color: var(--color-text-secondary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._36VpVPlpKPUM0pVoKojRbG .OuOr8hoXOK5yhrOQjB52I {
  margin-top: 0 !important;
  min-height: 32px !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 .J0VnCYymogUAJsk2sqyXG .WgpsFnN1iOVXybH93MPJL {
  margin: 0 !important;
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 .J0VnCYymogUAJsk2sqyXG .WgpsFnN1iOVXybH93MPJL svg {
  height: 32px !important;
  width: 32px !important;
  padding: 0 !important;
  margin: 0 16px !important;
  background-color: var(--color-icon-primary) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: 16px !important;
  -webkit-mask-image: var(--icon-arrow-down) !important;
  opacity: 1 !important;
  transform: none !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 .J0VnCYymogUAJsk2sqyXG .WgpsFnN1iOVXybH93MPJL svg * {
  fill: transparent !important;
  stroke: transparent !important;
  display: none !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._1yWgPveQ73QeYCdLcs6oFQ:not(._1XYMA2f_ZWCiRt6uV-fm8e) {
  height: 0 !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._1yWgPveQ73QeYCdLcs6oFQ._1XYMA2f_ZWCiRt6uV-fm8e {
  height: 24px !important;
}

._34ZDOJFxOtspOltAZYWy-O {
  transition: opacity 0.2s ease-in-out !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._34ZDOJFxOtspOltAZYWy-O.kfRj0IwWqxZ_ARdFYS-9N {
  margin-bottom: 0 !important;
  position: relative !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._3x31AgESSlUqX3D4MTHv2m._2Yybx8PCzkzdKoaf-yf0TH.Panel {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._1JlC29Ic6L-QvL-39X_d-X {
  margin-bottom: 0 !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0._1_KMhJX-BZ-bohjsJ7i3w3 {
  margin: 0 !important;
}

._1sEyqGyVMdCKf_5sIJnBz2 ._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0:not(._1_KMhJX-BZ-bohjsJ7i3w3) {
  margin: 0 !important;
}

/* VIEW PREVIOUS COMMENTS */
._39nnaT_CLE0m_WXVIrAwaG {
  gap: 16px !important;
  margin-bottom: 16px !important;
}

.LegacyPopup ._39nnaT_CLE0m_WXVIrAwaG {
  margin-bottom: 15px !important; /* FIX FOR WINDOW SIZE */
}

._39nnaT_CLE0m_WXVIrAwaG .FPxfNOUIyMTxA5iyxVWGX {
  align-self: center !important;
  margin: 0 !important;
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
  padding: 0 16px !important;
  line-height: 32px !important;
  background-color: var(--color-button-dialog-background) !important;
  color: var(--color-text-primary) !important;
  outline: 2px solid var(--color-button-dialog-border) !important;
  outline-offset: -2px !important;
}

._39nnaT_CLE0m_WXVIrAwaG .FPxfNOUIyMTxA5iyxVWGX:hover {
  background: var(--color-button-dialog-background-hover) !important;
  color: var(--color-text-primary) !important;
  outline: 2px solid var(--color-button-dialog-border-hover) !important;
}

._39nnaT_CLE0m_WXVIrAwaG .FPxfNOUIyMTxA5iyxVWGX:active {
  background: var(--color-button-dialog-background-active) !important;
  color: var(--color-text-primary) !important;
  outline: 2px solid var(--color-button-dialog-border-active) !important;
}

/* CLOSE BUTTON */
.J0VnCYymogUAJsk2sqyXG > button {
  display: none !important;
}