/* AWARD DIALOG */
._2ilpH-HpvuSm6s5MWX5bA- {
  background-color: transparent !important;
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._2_vbZB-J_M1GH9js-PXnEj ._2yJ4jvaS0kUJdPVIPR_gld {
  color: var(--color-text-primary) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  position: absolute !important;
  padding: 0 12px !important;
  margin-top: -32px !important;
  line-height: 32px !important;
  text-transform: none !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._2_vbZB-J_M1GH9js-PXnEj ._16dREqlIrGflPfbNtLGdJh {
  color: var(--color-text-secondary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0 16px !important;
  margin-top: 16px !important;
}

._105pyOdHwQJP6rdcKymwUq {
  margin: 16px !important;
  width: calc(100% - 32px) !important;
  background-color: var(--color-seperator) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ {
  gap: 0 !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-auto-rows: 160px !important;
  padding: 0 16px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu {
  border: unset !important;
  border-radius: 0 !important;
  padding: 16px !important;
  transition: none !important;
  background-color: var(--color-button-client-background) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu:hover {
  background-color: var(--color-button-client-background-hover) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu:active {
  background-color: var(--color-button-client-background-active) !important;
}

._1fdGEFL1uEyxjfiarnOXI {
  height: 80px !important;
  width: 80px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu.Efo_8muMPNLjjSbObMuDq {
  border-color: transparent !important;
  background-color: rgba(var(--color-accent), 0.5) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu ._2iEkqauHWZiCAOo0cWqnPP {
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- .JYQgsMzgbFLgarphirEoQ ._3M92hj6aELzceURcKR7WFu ._3k_jxlKBddOAxgSknpHNTq {
  color: var(--color-text-secondary) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

._1WCEAVbVX-TuOWAkFll4DS ._3-jpV0SaW4qH2i8S7BXeAB {
  margin: 0 !important;
  padding: 0 !important;
  height: 24px !important;
  width: 24px !important;
  display: none !important;
}

._1WCEAVbVX-TuOWAkFll4DS ._3-jpV0SaW4qH2i8S7BXeAB > * {
  display: none !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq {
  padding: 0 16px !important;
  margin-bottom: 16px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1v0jLHAK-8P4IONBwuF4kv ._3VvvB-r8dZsAaPGZ2nsi1A {
  margin: 0 !important;
  padding: 0 !important;
  height: 32px !important;
  width: 32px !important;
  display: none !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1v0jLHAK-8P4IONBwuF4kv ._3VvvB-r8dZsAaPGZ2nsi1A > * {
  display: none !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1v0jLHAK-8P4IONBwuF4kv ._209Gyxysjz0vcGVVWuh_Xc {
  line-height: 16px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1v0jLHAK-8P4IONBwuF4kv ._209Gyxysjz0vcGVVWuh_Xc ._2u9RZJXJSDg3e-J_EX1exE {
  color: var(--color-text-secondary) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1v0jLHAK-8P4IONBwuF4kv ._209Gyxysjz0vcGVVWuh_Xc ._1O3FSoJxkQYLv1MB6H7QNy {
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
  line-height: 24px !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq .KId8dCUFbYh_bz-jozERD {
  color: rgb(var(--color-accent)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-top: 8px !important;
  padding: 0 !important;
  text-decoration: none !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq .KId8dCUFbYh_bz-jozERD:hover {
  color: var(--color-text-secondary) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq .KId8dCUFbYh_bz-jozERD:active {
  color: var(--color-text-tertiary) !important;
}

._2ilpH-HpvuSm6s5MWX5bA- ._164mmLkSJ91cXzABhIrlZq ._1hgRCff96-fQY4zKEKUkac ._1-AT2x5dQpwoR2WGoLgbhi ._1Beae_Paey3Y7zly_GQZpI {
  padding: 0 !important;
}

._3rAoeyoUq23O8OYP09P1oz {
  padding: 0 !important;
}

._3rAoeyoUq23O8OYP09P1oz ._1uA9QkRBqGe3Xt5tlGGhlU {
  color: var(--color-text-primary) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0 !important;
}

._3rAoeyoUq23O8OYP09P1oz ._1uA9QkRBqGe3Xt5tlGGhlU:not(:first-of-type) {
  padding-top: 16px !important;
}

._3rAoeyoUq23O8OYP09P1oz ._1uA9QkRBqGe3Xt5tlGGhlU ._1WCEAVbVX-TuOWAkFll4DS {
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

._3rAoeyoUq23O8OYP09P1oz ._1uA9QkRBqGe3Xt5tlGGhlU ._25N0xPcslHWWCQovL3Ycpk {
  color: rgb(var(--color-accent)) !important;
  font-weight: 400 !important;
}