/* BACKUP */
.YmQ9vcw08n7STkTEQLiYW {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* TEXT */
._2Nmi6ONpGvLOgRE87Ky2MA.DesktopUI, .DesktopUI ._2Nmi6ONpGvLOgRE87Ky2MA {
  padding-bottom: 0px !important;
}

._2Nmi6ONpGvLOgRE87Ky2MA {
  padding-top: 0px !important;
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.DialogBodyText._2Nmi6ONpGvLOgRE87Ky2MA {
  color: rgb(var(--color-primary)) !important;
}