/* BACKUP */
[class*="backupappsdialog_BackupAppsDialog_"] {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* TEXT */
[class*="backupappsdialog_DialogBodyText_"].DesktopUI, .DesktopUI [class*="backupappsdialog_DialogBodyText_"] {
  padding-bottom: 0px !important;
}

[class*="backupappsdialog_DialogBodyText_"] {
  padding-top: 0px !important;
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

.DialogBodyText[class*="backupappsdialog_DialogBodyText_"] {
  color: rgb(var(--color-text)) !important;
}