/* HEADER */
.whiteText {
  color: rgb(var(--color-primary)) !important;
}

.ChatRoomNotificationSettingsDialog .DialogHeader .DialogLabel._DialogLayout {
  font-size: var(--size-12) !important;
  line-height: 38px !important;
}

.ChatRoomNotificationSettingsDialog .DialogHeader .DialogLabel._DialogLayout::before {
  content: "\00a0-\00a0" !important;
}

.ChatRoomNotificationSettingsDialog .DialogContent_InnerWidth > form > .DialogLabel._DialogLayout {
  display: none !important;
}

/* GROUP CHAT NOTIFICATIONS */
.DialogHBar {
  background: transparent !important;
  min-height: 0px !important;
  max-height: 0px !important;
  margin-bottom: 0px !important;
  display: none !important;
}

.ChatRoomNotificationSettingsDialog .DialogFooter .textLink {
  display: inline-block !important;
  margin-bottom: 16px !important;
}

/* SAVING INDICATOR */
.NotificationSettingsSavingIndicator {
  display: none !important;
}

/* GENERAL */
.ChatRoomNotificationSettingsDialog .notificationGeneralHeader {
  margin-bottom: 0px !important;
  height: unset !important
}

.ChatRoomNotificationSettingsDialog .notificationGeneralHeader div {
  line-height: 32px !important;
}

.ChatRoomNotificationSettingsDialog > div {
  margin-bottom: 0px !important;
}

.ChatRoomNotificationSettingsDialog .notificationRow {
  margin-bottom: 0px !important;
}

.ChatRoomNotificationSettingsDialog > div:last-of-type {
  display: flex !important;
  flex-direction: column !important;
  gap: 16px !important;
}

.ChatRoomNotificationSettingsDialog .indicatorOptionContainer {
  background: transparent !important;
}

.indicatorOption {
  background: transparent !important;
}

.ChatRoomNotificationSettingsDialog .indicatorOptionContainer .DialogToggle_Label {
  padding-left: 0px !important;
}

.ChatRoomNotificationSettingsDialog .ChatUnreadMessageIndicator {
  top: 0px !important;
  left: 0px !important;
  bottom: unset !important;
}

.indicatorOptionContainer .ChatUnreadMessageIndicator {
  background: transparent !important;
  left: unset !important;
  width: 32px !important;
  height: 32px !important;
  display: none !important;
}

.indicatorOptionContainer .ChatUnreadMessageIndicator .chatUnreadCircle {
  background: rgb(var(--color-accent)) !important;
  padding: 0px !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: unset !important;
  bottom: unset !important;
  top: 14px !important;
  left: 14px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
}

/* LABEL */
.ChatRoomNotificationSettingsDialog .notificationsChannelHeader.DialogTwoColLayout .NotificationChannelNameLabel {
  margin-left: 0px !important;
  max-width: 160px !important;
}

/* CHANNEL LIST */
.ChatRoomNotificationSettingsDialog .NotificationChannelName {
  padding: 0px !important;
  max-width: 160px !important;
  line-height: 32px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
}

.ChatRoomNotificationSettingsDialog .notificationsChannelListContainer {
  padding: 0px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
  height: min-content !important;
}

.ChatRoomNotificationSettingsDialog .notificationsChannel {
  height: 32px !important;
  margin-bottom: 0px !important;
}

.DialogInnerBody {
  padding-right: 0px !important;
  padding-bottom: 0px !important;
}

.DialogInnerBody._2RQiTMJcoKFa6I4yJLAXVI {
  min-height: 0px !important;
  max-height: min-content !important;
  -webkit-mask: none !important;
}

/* DROPDOWN */
.DialogDropDown._DialogInputContainer .ChannelSpecificNotificationSettings_Inherit {
  opacity: 1 !important;
}

.notificationsChannel .DialogDropDown_Arrow {
  height: 32px !important;
}

/* CREATE CHAT */
.DialogInputLabelGroup {
  margin-bottom: 0px !important;
}

.FriendPicker {
  gap: 16px !important;
  margin-bottom: 0px !important;
}

.ManageGroupDialog label {
  min-width: 100% !important;
}