/* CLOUD CONFLICT */
[class*="cloudconflict_TitleWarning_"] {
  line-height: 38px !important;
}

[class*="cloudconflict_TitleWarningIcon_"] {
  width: 12px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
  margin-right: 8px !important;
  display: none !important;
}