/* CLOUD CONFLICT */
._3vc5HYX7AEVTqXRYl2gm8 {
  line-height: 38px !important;
}

._2xmJKd5MIQ6qNPl_twwE88 {
  width: 12px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
  margin-right: 8px !important;
  display: none !important;
}