/* DIALOG (NOT NOTES) */
.DialogContent:not(._1dBCPkyWYRX7FwOcOEDrOo) {
  padding: 0px 16px !important;
}

.DialogContent:has(._1dBCPkyWYRX7FwOcOEDrOo) {
  padding: 0px !important;
}

.DialogContent_InnerWidth:not(._1dBCPkyWYRX7FwOcOEDrOo) {
  padding: calc(38px + 16px) 0px 16px 0px !important;
}

.DialogContent_InnerWidth:has(._1dBCPkyWYRX7FwOcOEDrOo) {
  padding: 0px !important;
}

.DialogContent_InnerWidth>form {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogContent_InnerWidth > form > .Panel {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogBody.Panel {
  gap: 16px !important;
}

.roleList .DialogBody {
  gap: 0px !important;
}

._3U0C5lMs9_TAIfywcurLn7 {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: calc(38px + 16px) !important;
  padding-bottom: 16px !important;
  margin-right: 0px !important;
  gap: 0px !important;
}

._1I3NifxqTHCkE-2DeritAs.DesktopUI .DialogContent_InnerWidth, .DesktopUI ._1I3NifxqTHCkE-2DeritAs .DialogContent_InnerWidth {
  padding: calc(38px + 16px) 0px 0px 0px !important;
}

.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogContent_InnerWidth {
  min-height: fit-content !important;
}

.ModalDialogPopup .DialogContent_InnerWidth {
  gap: 16px !important;
}

/* DROPDOWN */
.DialogDropDown_CurrentDisplay {
  line-height: 32px !important;
}

/* HEADER NOT ON SETTINGS */
.DialogContent:not(._1I3NifxqTHCkE-2DeritAs) .DialogHeader {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  padding: 0px 12px !important;
  line-height: 38px !important;
  font-size: var(--size-12) !important;
  margin-bottom: 0px !important;
  display: flex !important;
  flex-direction: row !important;
}

.DialogContent:not(._1I3NifxqTHCkE-2DeritAs) .DialogHeader .DialogHeaderSubtitle {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-12) !important;
}

.DialogContent:not(._1I3NifxqTHCkE-2DeritAs) .DialogHeader .DialogHeaderSubtitle::before {
  content: "\00a0-\00a0" !important;
}

/* FOOTER */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogFooter {
  padding-top: 0px !important;
}

.DialogFooter {
  padding-top: 0px !important;
}

/* ERROR */
.ErrorBoundary {
  margin-left: 0px !important;
  background-color: transparent !important;
  font-size: var(--size-16) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  padding-top: 38px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
}

.ErrorBoundary > div:nth-child(1) {
  font-size: var(--size-20) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
}

.ErrorBoundary > div:nth-child(2) {
  font-size: var(--size-16) !important;
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}

.ErrorBoundary > div:nth-child(3) {
  font-size: var(--size-16) !important;
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}