/* DIALOG */
.DialogContent {
  /* padding: 32px !important; */
  /* padding: 38px !important; */
  /* padding: 0px 38px !important; */
  padding: 0px 16px !important;
}

.DialogContent_InnerWidth {
  /* padding: 38px 0px !important; */
  padding: 38px 0px 16px 0px !important;
}

[class*="dialogs_DialogContent_"] {
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-top: 38px !important;
  padding-bottom: 16px !important;
  margin-right: 0px !important;
}

[class*="pagedsettings_PagedSettingsDialog_PageContent_"].DesktopUI .DialogContent_InnerWidt, .DesktopUI [class*="pagedsettings_PagedSettingsDialog_PageContent_"] .DialogContent_InnerWidth {
  padding: 38px 0px 0px 0px !important;
}

/* ERROR */
.ErrorBoundary {
  margin-left: 0px !important;
  background-color: transparent !important;
  font-size: var(--font-size-medium) !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  padding-top: 38px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
}

.ErrorBoundary > div:nth-child(1) {
  font-size: var(--font-size-larger) !important;
  color: rgb((var(--color-text)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
}

.ErrorBoundary > div:nth-child(2) {
  font-size: var(--font-size-medium) !important;
  color: rgb((var(--color-sub)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}

.ErrorBoundary > div:nth-child(3) {
  font-size: var(--font-size-medium) !important;
  color: rgb((var(--color-sub)) !important;
  font-weight: 400 !important;
  margin-top: 0px !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}