/* GAME INFO DIALOG */
.DialogButton._DialogLayout.Primary.Disabled.Focusable span [class*="gamepadui_svg_library_Spinner_"] {
  display: none !important;
}

[class*="gamepadui_svg_library_Spinner_"] > path {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

[class*="gamepaddialog_Field_"][class*="gamepaddialog_Clickable_"]:not([class*="gamepaddialog_Disabled_"]) button.DialogButton.Primary {
  margin-left: 16px !important;
}