/* GAME INFO DIALOG */
.DialogButton._DialogLayout.Primary.Disabled.Focusable span ._3m_2lh1eA4HcHpt48En7kr {
  display: none !important;
}

._3m_2lh1eA4HcHpt48En7kr > path {
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
}

.eKmEXJCm_lgme24Fp_HWt._2HuzvKQ2QMUJ-JJOeApaF1:not(.aIeh3X5T2M074RLW1qn6_) button.DialogButton.Primary {
  margin-left: 16px !important;
}