/* INSTALL GAME DIALOG */
.DesktopUI ._3wtPUBfilFITcl1s4u6A7T {
  min-height: 0px !important;
}

.Oo5JPcEk_erKEYAzYp2nY.gkgG-dWgjpwS_aqlcMNTM {
  color: rgb(var(--color-primary)) !important;
  background: rgb(var(--color-accent)) !important;
}

.Oo5JPcEk_erKEYAzYp2nY:not(.gkgG-dWgjpwS_aqlcMNTM) {
  background: rgba(var(--color-white), 0.1) !important;
}

.Oo5JPcEk_erKEYAzYp2nY:not(.gkgG-dWgjpwS_aqlcMNTM):hover {
  background: rgba(var(--color-white), 0.2) !important;
}

.Oo5JPcEk_erKEYAzYp2nY:not(.gkgG-dWgjpwS_aqlcMNTM):active {
  background: rgba(var(--color-white), 0.3) !important;
}

.Oo5JPcEk_erKEYAzYp2nY {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  column-gap: 16px !important;
  padding: 0px 16px !important;
  border-radius: 0px !important;
  margin: 0px 0px !important;
  line-height: 38px !important;
}

._3lAxXofku7q3P5FhXRfqH0 {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._1p727K-lt5u7dR3PbUTcNZ {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-harddrive) !important;
  width: 38px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._1p727K-lt5u7dR3PbUTcNZ svg {
  fill: transparent !important;
  opacity: 0 !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._VEHWl9XgUCHDV7oGKSW4 {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-favorite) !important;
  width: 38px !important;
  height: 38px !important;
  margin-bottom: 0px !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._VEHWl9XgUCHDV7oGKSW4 svg path {
  fill: transparent !important;
  stroke: transparent !important;
  stroke-width: 5px !important;
}

._1_JaK7j-59AgDKQOOOJVBA {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
}

.Krg05lMwvNmhhVXhqdleu {
  border-top: unset !important;
  margin-top: 0px !important;
}

.Krg05lMwvNmhhVXhqdleu ._3MJEANCb5PkduXTSJ6o3bq {
  border-bottom: unset !important;
  padding: 0px !important;
  line-height: 40px !important;
}

._27EB_QZeH3i0zloLWPdw84 {
  margin-top: 16px !important;
  gap: 16px !important;
}

.vaNI84b_TV6hw20mhGl_d {
  padding: 16px 0px 0px 0px !important;
}

.DesktopUI .NtxG7ioEuQKxrtXEy57H5 {
  letter-spacing: normal !important;
  margin-bottom: 16px !important;
  line-height: 32px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
}

.vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_.DesktopUI, .DesktopUI .vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ {
  line-height: 32px !important;
  width: 32px !important;
  height: 32px !important;
  margin-left: 8px !important;
}

.vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ svg.DesktopUI, .DesktopUI .vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ svg {
  width: 32px !important;
  padding-top: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-settings) !important;
}

.vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ svg.DesktopUI path, .DesktopUI .vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ svg path {
  fill: transparent !important;
}