/* CD KEYS DIALOG */
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._2KAgx7PA4-yLV9Nu-qBS9R, ._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--zehn-size-14) !important;
  padding: 0 16px !important;
  line-height: 32px !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:hover ._2KAgx7PA4-yLV9Nu-qBS9R, ._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:hover ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background-hover) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:active ._2KAgx7PA4-yLV9Nu-qBS9R, ._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:active ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background-active) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 {
  gap: 16px !important;
  margin: 0 !important;
}