/* CD KEYS DIALOG */
[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyName_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="cdkeysdialog_CDKeysDialog_"] .DialogBody [class*="cdkeysdialog_KeyList_"] [class*="cdkeysdialog_CDKeyOption_"] [class*="cdkeysdialog_KeyValue_"] {
  background-color: rgba(var(--color-white), 0.1) !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}