/* LAUNCH OPTION DIALOG */
[class*="launchoptionsdialog_LaunchOptionDialog_"] {
  background: transparent !important;
  padding: calc(38px + 16px) 16px 16px 16px !important;
  color: rgb(var(--color-primary)) !important;
  gap: 16px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"].DesktopUI, .DesktopUI [class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_AppNameHeader_"] {
  margin: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  padding: 0px 12px !important;
  line-height: 38px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] {
  padding: 0px !important;
  flex-grow: 0 !important;
  gap: 16px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListHeader_"] {
  letter-spacing: normal !important;
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] {
  border: unset !important;
  border-radius: 0px !important;
  background: transparent !important;
  padding: 0px !important;
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] {
  margin: 0px !important;
  background: transparent !important;
  padding: 16px 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_ListContainer_"] [class*="launchoptionsdialog_ListItem_"] label {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding-left: 8px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_CheckboxRow_"] {
  margin: 0px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_OptionList_"] [class*="launchoptionsdialog_SeeProperties_"] {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  margin: 0px !important;
  line-height: 19px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"]  {
  margin-right: 0px !important;
  bottom: 0px !important;
  position: relative !important;
  right: 0px !important;
  margin-top: auto !important;
  gap: 16px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  min-width: 80px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="launchoptionsdialog_LaunchOptionDialog_"] [class*="launchoptionsdialog_ButtonContainer_"] > div:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}