/* LAUNCHING GAME */
._2KQRlxOL0nH2Mx4tAGxQQr {
}

._2KQRlxOL0nH2Mx4tAGxQQr .DialogContent_InnerWidth {
}

._1ONMa3won-P2Oau-Pa97x8 {
  margin: 0px !important;
  padding-bottom: 16px !important;
}

.A9SsSJPmvetUueLvpmCXH {
}

._3_yzjqgSqhrEs9sL3hOHTq {
}

._1R9r2OBCxAmtuUVrgBEUBw._2E7G8grj_-tgxXbTXs1t2E._3Ehhd5MxErV_bXQE4qVhzB._2IYf7aM4eYQ2Oh-ntmzHbm._13w3SEbKLJRUhSyoGQZze8._3QIfJmcfmiE8FBFu3iB1Nb {
}

._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
}

._33mJBJCDyePXKN8r7nj9ln {
  padding: 0px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._2Ylu2Lki0Y2s452Fh--tiE {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 24px !important;
}

._20PFwr9na9AT4Lz00IdtVQ {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  line-height: 32px !important;
  margin-top: -16px !important;
}

._2FC4Z3YksGBXT7NA421gI8 {
  margin: 0px !important;
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  line-height: 16px !important;
  height: 38px !important;
  min-height: 38px !important;
}

._1_1gXneI2QlOdyXMqiCZJx {
  padding: 0px 16px !important;
  line-height: 38px !important;
}