/* LAUNCH OPTION DIALOG */
.LclHwcOfHFpwObYMD1HLa {
  background: transparent !important;
  padding: calc(32px + 16px) 16px 16px 16px !important;
  color: var(--color-text-primary) !important;
  gap: 16px !important;
}

.LclHwcOfHFpwObYMD1HLa ._3T-1PliI6PkKE-bE-o3bV0.DesktopUI, .DesktopUI .LclHwcOfHFpwObYMD1HLa ._3T-1PliI6PkKE-bE-o3bV0 {
  margin: 0 !important;
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: 0 12px !important;
  line-height: 32px !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w {
  padding: 0 !important;
  flex-grow: 0 !important;
  gap: 16px !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w .EvZ7kwlROeKkDzxBu2TfH {
  letter-spacing: normal !important;
  margin: 0 !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- {
  border: unset !important;
  border-radius: 0 !important;
  background: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU {
  margin: 0 !important;
  background: transparent !important;
  padding: 16px 0 !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._134yW7SKfZYwmvwlUElGx- ._3DEhfTvEKwgLd4smd6QdaU label {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding-left: 8px !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w ._1xyUTYAWgWNvM-S6mhQM-R {
  margin: 0 !important;
}

.LclHwcOfHFpwObYMD1HLa ._2aHnQT0gTQ5KIsi5omK93w .HSQN4Dc7pEbtuyr1LP-5v {
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  margin: 0 !important;
  line-height: 19px !important;
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 {
  margin-right: 0 !important;
  bottom: 0 !important;
  position: relative !important;
  right: 0 !important;
  margin-top: auto !important;
  gap: 16px !important;
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 > div {
  border-radius: 0 !important;
  letter-spacing: normal !important;
  margin: 0 !important;
  height: 32px !important;
  padding: 0 !important;
  line-height: 32px !important;
  min-width: 80px !important;
  color: var(--color-text-primary) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background: rgba(var(--color-negative), 0.2) !important;
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 > div:hover {
  background: rgba(var(--color-negative), 0.3) !important;
  color: var(--color-text-primary) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

.LclHwcOfHFpwObYMD1HLa ._3H2GezG50hog8gSDj-qbx1 > div:active {
  background: rgba(var(--color-negative), 0.4) !important;
  color: var(--color-text-primary) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}