/* LOGIN PANEL */
._2tyxJwWA7FRwarLgRU2dWa, .loginpanel_Login Status_ {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

/* SIGN IN */
.VZ6x_grhNkIYJG__jEEyp.DesktopUI, .DesktopUI .VZ6x_grhNkIYJG__jEEyp {
  border: 0px solid rgb(var(--color-accent)) !important;
}

.VZ6x_grhNkIYJG__jEEyp {
  background: rgb(var(--color-background)) !important;
  outline: 1px solid rgba(var(--color-white), 0.2) !important;
  outline-offset: -1px !important;
}

.WindowFocus .VZ6x_grhNkIYJG__jEEyp {
  outline: 1px solid rgb(var(--color-accent)) !important;
}

._37ANMR1DAeBJYXulW34A2S {
  height: 39px !important;
}

._37ANMR1DAeBJYXulW34A2S .title-area .title-bar-actions {
  margin-top: 1px !important;
  margin-right: 1px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 {
  padding: 0px 38px 38px 38px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt {
  background: transparent !important;
  padding: 0px 38px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt._1VAFgEYpKJDwl9aI8W5ctY {
  padding: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt {
  gap: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .ZHRZ8czyqs7NaNmv65ARI {
  padding-top: 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v60tM463fW0V7GDe92E5f {
  gap: 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3BkiHun-mminuTO-Y-zXke {
  gap: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo._12zBmIktqPpcwJXItTb8f9 {
  color: rgb(var(--color-accent)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  height: 38px !important;
  line-height: 38px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border: unset !important;
  padding: 0px 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2GBWeup5cttgbTw8FM3tfx:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin-bottom: 3px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1Qku5jMXBi5-wawzqY1kzG ._10bGilozn2bfCfiPfANMhC {
  padding-left: 8px !important;
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1W_6HXiG4JJ0By1qN_0fGZ {
  color: rgb(var(--color-accent)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt._1VAFgEYpKJDwl9aI8W5ctY {
  padding-top: 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1K431RbY14lkaFW6-XgSsC {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt ._3dwSWEGgHCaDxQqEDOqTtN {
  margin-right: 8px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN {
  padding-left: 16px !important;
  gap: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo._12zBmIktqPpcwJXItTb8f9 {
  color: rgb(var(--color-accent)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3ToZQDL9M9IP5o2tIhKLxH ._35Q-UW9L8wv2fkImoWScgQ {
  margin: 0px 0px 16px 0px !important;
  border-radius: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3pxTSyPhDmjNqXUYDIITS- {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3pxTSyPhDmjNqXUYDIITS- :not(._1VAFgEYpKJDwl9aI8W5ctY) {
  padding: 0px !important;
}

.DjSvCZoKKfoNSmarsEcTS {
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 38px !important;
  height: 38px !important;
}

.DjSvCZoKKfoNSmarsEcTS:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.DjSvCZoKKfoNSmarsEcTS:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-white)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DjSvCZoKKfoNSmarsEcTS:focus {
  outline: unset !important;
}

._3AseUd328DeQNUMkwlq8MV {
  display: none !important;
}

.LBS7IDpob52Sb4ZoKobh0 {
  padding: 0px !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 0px !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  background-color: transparent !important;
}

.LBS7IDpob52Sb4ZoKobh0:hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

.LBS7IDpob52Sb4ZoKobh0:active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4 {
  margin-left: -2px !important;
  margin-top: -2px !important;
  border: 2px solid rgb(var(--color-accent)) !important;
  background-color: rgb(var(--color-accent)) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4::before {
  content: "" !important;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
  background-color: rgb(var(--color-background)) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4:hover {
  border: 2px solid rgb(var(--color-white)) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4:active {
  border: 2px solid transparent !important;
  background-color: rgba(var(--color-white), 0.6) !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4 {
  height: 16px !important;
  width: 16px !important;
  background-image: var(--icon-checkmark) !important;
  background-repeat: no-repeat !important;
  background-size: 16px !important;
  background-position: center !important;
}

.LBS7IDpob52Sb4ZoKobh0 ._28MB9LhS2kVTalIp0NHDv4 polyline {
  stroke: transparent !important;
  color: transparent !important;
  fill: transparent !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .LBS7IDpob52Sb4ZoKobh0:focus {
  outline: unset !important;
}

.xlEVpBeYO1h2tOqErt9fj {
  border-radius: 0px !important;
  border-width: 16px !important;
}

/* LOGIN CONRIRMATION */
.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd {
  background: transparent !important;
  padding: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd ._3XCnc4SuTz8V8-jXVwkt_s {
  padding: 16px 0px 0px 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3huyZ7Eoy2bX4PbCnH3p5w {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3JBYGcszFcaSNXHHSR3kCV ._1hKgiFuFaVR_Sq1Gj_gCnd {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-18) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3JBYGcszFcaSNXHHSR3kCV ._31Vq4lzNWs4WikXVr9J4hz {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-18) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd.IN_CLIENT {
  min-height: 362px !important;
  max-height: 362px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3zQ9hnkyXJEv7nN0oBU56M {
    background-color: transparent !important;
  padding: 0px !important;
  border-radius: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3zQ9hnkyXJEv7nN0oBU56M ._2WgwHabhUV3cP6dHQPybw8 {
  padding: 16px !important;
  margin: 0px !important;
  line-height: 24px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-18) !important;
  font-weight: 400 !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3yz6xIaXDcStXAUzK4pWgE > div:first-child {
  padding-bottom: 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d, .lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW, .lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m {
  padding: 16px !important;
  gap: 16px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._1rEWOv1g1uTXNhoWiJLQZs, .lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._3aMbj3PT-p1yxEt98UM56K, .lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._1rEWOv1g1uTXNhoWiJLQZs, .lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._3aMbj3PT-p1yxEt98UM56K, .lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._1rEWOv1g1uTXNhoWiJLQZs, .lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._3aMbj3PT-p1yxEt98UM56K {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3WvDpj9Ng6SQliygcVqlJU {
  color: rgb(var(--color-accent)) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._1hKgiFuFaVR_Sq1Gj_gCnd, .lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._1hKgiFuFaVR_Sq1Gj_gCnd, .lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._1hKgiFuFaVR_Sq1Gj_gCnd {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
}

/* SIGNING IN */
.Rp8QOGJ2DypeDniMnRBhr {}

.VZ6x_grhNkIYJG__jEEyp.DesktopUI, .DesktopUI .VZ6x_grhNkIYJG__jEEyp {
  background-color: rgb(var(--color-background)) !important;
}

.WindowFocus .VZ6x_grhNkIYJG__jEEyp.DesktopUI, .WindowFocus .DesktopUI .VZ6x_grhNkIYJG__jEEyp {
}

._37ANMR1DAeBJYXulW34A2S {
  height: 38px !important;
}

._3sa1NXudhvcc1U7HrlLdNQ img._1DWH_4M4yAq8O2T06-3ckY {
  filter: saturation(0) brightness(5) !important;
}

._3rAIymq-pEYFB9bIdm-Aoz {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  letter-spacing: normal !important;
  margin-top: 16px !important;
}

._1TR3CCCdSmI-0MXucYBuP2 ._191qxA6UisOKSvaq9gM4W6, ._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W {
  margin-top: 16px !important;
  padding: 0px !important;
  gap: 8px !important;
}

._1-nHjRywUoX7Mpyc6JOPaQ {
  border-radius: 0px !important;
  height: 8px !important;
  background: transparent !important;
}

._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W ._2tyxJwWA7FRwarLgRU2dWa {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W ._3YzgVE15q0lUY1uAwRQm1U>img {
  width: 32px !important;
  height: 32px !important;
  -webkit-mask-image: var(--mask-avatar) !important;
}