/* MOVE GAME DIALOG */
._2hDt3lmEv2KHRNotcuqvBM {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._2IEorvaTnkOBZw3PEDXZoB {
  min-height: 15px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

.lwZMnZmiLvD1VehXW1dVf {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  padding: 0px !important;
  line-height: 32px !important;
}

._1f7qD1HD8b01m7JUphBILr {
  background-color: rgb(var(--color-accent)) !important;
}