/* MOVE GAME DIALOG */
[class*="moveappsdialog_MoveAppsIndicator_"] {
  min-height: 15px !important;
  margin-top: 8px !important;
  margin-bottom: 8px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
}

[class*="moveappsdialog_DialogBodyText_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="moveappsdialog_MoveAppsBar_"] {
  background-color: rgb(var(--color-primary)) !important;
}