/* GAMENOTES */
._3WOF4kDR1RbjelZgS8Qd-H {
  margin: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
  gap: 16px !important;
}

._3zWunJFZU6u89fIABN9Gkf {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._3lEt5gxDF4ACrtnP4U7Z-D > .ProseMirror {
  padding: 9px 12px !important;
}

p._3zjknFIbJGBGezHbYjCrVE {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx {
  bottom: 16px !important;
  right: 16px !important;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx .DialogButton {
  opacity: 1 !important;
  min-width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx .DialogButton svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-delete) !important;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
}

._3WOF4kDR1RbjelZgS8Qd-H ._3uGOyXFBdLEV_F6dICiSwx .G0FghhaByLIrcEuYSV6qh {
  margin-left: 16px !important;
  padding: 0px 16px !important;
  height: 38px !important;
  opacity: 1 !important;
}

/* COMMAND BUTTON */
.A6mhRr1dqvr5OHl9MX6_3 {
  padding: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 2px !important;
}

._2H40REphoCtny5VfHm5Ad9:first-child:not(:last-child) {
  margin-bottom: 2px !important;
}

._2H40REphoCtny5VfHm5Ad9 {
  margin-top: 0px !important;
  gap: 2px !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU {
  margin-right: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

._2H40REphoCtny5VfHm5Ad9 ._2BPaPn42NspKTF-dGx6Il1 {
  width: 16px !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg path {
  stroke: transparent !important;
  fill: transparent !important;
}

._3454x5BD8OL9OyBzYOvsv8._41y1pGJEo9TqrhjUqDK2h svg {
  margin: 0px !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button * {
  stroke: transparent !important;
  fill: transparent !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_Undo {
  background-image: var(--icon-undo) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_Redo {
  background-image: var(--icon-redo) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextBold {
  background-image: var(--icon-text-bold) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextItalic {
  background-image: var(--icon-text-italic) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextUnderline {
  background-image: var(--icon-text-underline) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextStrikethrough {
  background-image: var(--icon-text-strikethrough) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextCode {
  background-image: var(--icon-text-code) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextParagraph {
  background-image: var(--icon-text-paragraph) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextH1 {
  background-image: var(--icon-text-h1) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextH2 {
  background-image: var(--icon-text-h2) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextH3 {
  background-image: var(--icon-text-h3) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextH4 {
  background-image: var(--icon-text-h4) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextH5 {
  background-image: var(--icon-text-h5) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextCodeBlock {
  background-image: var(--icon-text-code-block) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextBullets {
  background-image: var(--icon-text-list-bulleted) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextOutdent {
  background-image: var(--icon-text-indent-decrease) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextIndent {
  background-image: var(--icon-text-indent-increase) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_TextLink {
  background-image: var(--icon-link) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU.DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  background-image: var(--icon-lexicon) !important;
}

._2H40REphoCtny5VfHm5Ad9 ._1-R1Ud0bImFcswoqa8FbU._41y1pGJEo9TqrhjUqDK2h .DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
}