/* GAMENOTES */
._3hIt9g_59KauEV2uSNK6Ct .DialogContent:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 0px !important;
}

._3hIt9g_59KauEV2uSNK6Ct .DialogContent_InnerWidth:not(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding: 32px 0px 0px 0px !important;
}

._1AL7l2CN6z-vuLfp1iCLa {
  margin: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
  gap: 0px !important;
}

._1Ve4VFO2EEkeNZdel_Asky {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  outline: none !important;
}

._30v-6zb_axOypIUr5VRHE1 > .ProseMirror {
  /* padding: 9px 12px !important; */
  padding: 0px !important;
}

p._3lnqGBzYap-Z2T81XBiBUU {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 {
  bottom: 0px !important;
  right: 0px !important;
  /* width: 100% !important; */
  gap: 0px !important;
  position: relative !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton {
  opacity: 1 !important;
  min-width: 48px !important;
  width: 100% !important;
  height: 48px !important;
  padding: 0px !important;
  outline: none !important;
  background-color: transparent !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton:hover {
  outline: none !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton:active {
  outline: none !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton svg {
  width: 48px !important;
  height: 48px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-delete) !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
  display: none !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 .vKXl-xWkUZL5iNvaT5mzW {
  margin-left: 0px !important;
  padding: 0px 16px !important;
  height: 48px !important;
  opacity: 1 !important;
  box-sizing: border-box !important;
  min-width: 48px !important;
  width: fit-content !important;
  flex-grow: 1 !important;
  display: none !important;
}

._1AL7l2CN6z-vuLfp1iCLa ._1fu6xumTI1nCY5wc6FG_N2 > div {
  flex-grow: 1 !important;
  display: flex !important;
}

/* TEXT ENTRY */
._1AL7l2CN6z-vuLfp1iCLa ._1Ve4VFO2EEkeNZdel_Asky {
  margin: 0px !important;
  padding: 16px !important;
}

/* COMMAND BUTTON */
.gdKTXjvFuMeVN2qa6o8EL {
  padding: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0px !important;
  order: 3 !important;
}

.LCeIT0gmFTY8fdfaVgk4j:first-child:not(:last-child) {
  margin-bottom: 0px !important;
}

.LCeIT0gmFTY8fdfaVgk4j {
  margin-top: 0px !important;
  gap: 0px !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN {
  margin-right: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

/* BUTTONS */
.gdKTXjvFuMeVN2qa6o8EL {
  background-color: rgba(var(--color-white), 0.05) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  transition: background-color 0.1s ease-in-out !important;
}

.WindowFocus .gdKTXjvFuMeVN2qa6o8EL {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton {
  width: 48px !important;
  height: 48px !important;
  outline: none !important;
  background-color: transparent !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton:hover {
  outline: none !important;
  background-color: rgba(var(--color-white), 0.1) !important;
}

.gdKTXjvFuMeVN2qa6o8EL button.DialogButton:active {
  outline: none !important;
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* SPACE BREAK */
.LCeIT0gmFTY8fdfaVgk4j ._19z0fjj7o0n9vAjVjvYZNU {
  width: 0px !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg {
  width: 48px !important;
  height: 48px !important;
  padding: 0px !important;
}

._3454x5BD8OL9OyBzYOvsv8 svg path {
  stroke: transparent !important;
  fill: transparent !important;
  display: none !important;
}

._3454x5BD8OL9OyBzYOvsv8._1Iw5xoXQXfmRjgjWTKbm_G svg {
  margin: 0px !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton svg {
  width: 48px !important;
  height: 48px !important;
  padding: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-up) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_Undo {
  background-image: var(--icon-undo) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_Redo {
  background-image: var(--icon-redo) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextBold {
  background-image: var(--icon-text-bold) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextItalic {
  background-image: var(--icon-text-italic) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextUnderline {
  background-image: var(--icon-text-underline) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextStrikethrough {
  background-image: var(--icon-text-strikethrough) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextCode {
  background-image: var(--icon-text-code) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextParagraph {
  background-image: var(--icon-text-paragraph) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH1 {
  background-image: var(--icon-text-h1) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH2 {
  background-image: var(--icon-text-h2) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH3 {
  background-image: var(--icon-text-h3) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH4 {
  background-image: var(--icon-text-h4) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextH5 {
  background-image: var(--icon-text-h5) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextCodeBlock {
  background-image: var(--icon-text-code-block) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextBullets {
  background-image: var(--icon-text-list-bulleted) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextOutdent {
  background-image: var(--icon-text-indent-decrease) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextIndent {
  background-image: var(--icon-text-indent-increase) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_TextLink {
  background-image: var(--icon-link) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN.DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  background-image: var(--icon-dictionary) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN._1Iw5xoXQXfmRjgjWTKbm_G.DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  background-image: var(--icon-checkmark) !important;
}

.LCeIT0gmFTY8fdfaVgk4j ._1dEi5qzSDdPOzoOQXYbNLN._1Iw5xoXQXfmRjgjWTKbm_G .DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
}