/* GAMENOTES */
[class*="gamenotes_NoteEditorArea_"] {
  margin: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
  gap: 16px !important;
}

[class*="gamenotes_EditorInput_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="prosemirror_Container_"]>.ProseMirror {
  padding: 9px 12px !important;
}

p[class*="bbcodes_Paragraph_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin: 0px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] {
  bottom: 16px !important;
  right: 16px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton {
  opacity: 1 !important;
  min-width: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-delete) !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] .DialogButton svg * {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="gamenotes_NoteEditorArea_"] [class*="gamenotes_NoteActions_"] [class*="gamenotes_CloseWindowButton_"] {
  margin-left: 16px !important;
  padding: 0px 16px !important;
  height: 38px !important;
  opacity: 1 !important;
}

/* COMMAND BUTTON */
[class*="gamenotes_Toolbar_"] {
  padding: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 2px !important;
}

[class*="prosemirror_ToolbarRow_"]:first-child:not(:last-child) {
  margin-bottom: 2px !important;
}

[class*="prosemirror_ToolbarRow_"] {
  margin-top: 0px !important;
  gap: 2px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"] {
  margin-right: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_Gap_"] {
  width: 16px !important;
}

[class*="prosemirror_ExpandButton_"] svg {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}

[class*="prosemirror_ExpandButton_"] svg path {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="prosemirror_ExpandButton_"][class*="prosemirror_Toggled_"] svg {
  margin: 0px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button * {
  stroke: transparent !important;
  fill: transparent !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_Undo {
  background-image: var(--icon-undo) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_Redo {
  background-image: var(--icon-redo) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextBold {
  background-image: var(--icon-text-bold) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextItalic {
  background-image: var(--icon-text-italic) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextUnderline {
  background-image: var(--icon-text-underline) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextStrikethrough {
  background-image: var(--icon-text-strikethrough) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextCode {
  background-image: var(--icon-text-code) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextParagraph {
  background-image: var(--icon-text-paragraph) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH1 {
  background-image: var(--icon-text-h1) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH2 {
  background-image: var(--icon-text-h2) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH3 {
  background-image: var(--icon-text-h3) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH4 {
  background-image: var(--icon-text-h4) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextH5 {
  background-image: var(--icon-text-h5) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextCodeBlock {
  background-image: var(--icon-text-code-block) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextBullets {
  background-image: var(--icon-text-list-bulleted) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextOutdent {
  background-image: var(--icon-text-indent-decrease) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextIndent {
  background-image: var(--icon-text-indent-increase) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_TextLink {
  background-image: var(--icon-link) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"].DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
  background-image: var(--icon-lexicon) !important;
}

[class*="prosemirror_ToolbarRow_"] [class*="prosemirror_CommandButton_"][class*="prosemirror_Toggled_"] .DialogButton .SVGIcon_Button.SVGIcon_SpellCheck {
}