/* PIN */
[class*="remoteplaydialog_DialogBodyText_"] .DialogLabel {
  padding-bottom: 0px !important;
  font-size: var(--font-size-small) !important;
  line-height: unset !important;
}

[class*="remoteplaydialog_DialogBodyText_"] label {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

/* PIN INPUT */
[class*="pininput_SegmentedInput_"] {
  /* padding: 8px 0px !important; */
}

[class*="segmentedinputs_SegmentedCharacterInput_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  border-radius: 0px !important;
  border: 1px solid transparent !important;
}

[class*="segmentedinputs_SegmentedCharacterInput_"]input {
  border-bottom: 2px solid rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
}

.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogContent_InnerWidth {
  /* min-height: 180px !important; */
}