/* SERVER PLAYERS INFO */
[class*="gameinfodialog_PlayersList_"] {
  background: transparent !important;
  margin-top: 0px !important;
}

[class*="gameinfodialog_PlayersList_"] [class*="gameinfodialog_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  border-bottom: 1px solid rgba(var(--color-white), 0.2) !important;
  padding: 0px !important;
}

[class*="gameinfodialog_PlayersList_"] [class*="gameinfodialog_Details_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  border-bottom: unset !important;
  padding: 0px !important;
}