/* SERVER PLAYERS INFO */
.ModalDialogPopup .DialogContent_InnerWidth [class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"]:not(:last-child) {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 16px !important;
}

.ModalDialogPopup .DialogContent_InnerWidth [class*="gamepaddialog_Field_"][class*="gamepaddialog_StandardPadding_"]:last-child {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 16px !important;
}

[class*="gameinfodialog_PlayersList_"] {
  background: transparent !important;
  margin-top: 0px !important;
}

[class*="gameinfodialog_PlayersList_"] [class*="gameinfodialog_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  border-bottom: 1px solid rgba(var(--color-white), 0.2) !important;
  padding: 0px !important;
}

[class*="gameinfodialog_PlayersList_"] [class*="gameinfodialog_Details_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--font-size-small) !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  border-bottom: unset !important;
  padding: 0px !important;
}