/* REVIEW DIALOG */
[class*="writereview_WriteReviewContainer_"] {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
  font-size: var(--size-14) !important;
}

/* HEADER */
[class*="writereview_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
  line-height: 32px !important;
  margin: 0px !important;
}

/* DESCRIPTION */
[class*="writereview_FormContainer_"] {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

[class*="writereview_DescribeGame_"] {
  margin: 0px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: unset !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: calc(100% - 32px) !important;
  line-height: 20px !important;
  padding: 9px 12px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:focus {
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  background: transparent !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]::placeholder {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="writereview_FormContainer_"] [class*="writereview_ReviewTextArea_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="writereview_ReviewSettingsContainer_"] {
  margin-top: 0px !important;
}

[class*="writereview_ReviewSettingsRow_"] .DialogDropDown_Arrow {
  right: 0px !important;
}

.DialogInputLabelGroup {
  margin-bottom: 0px !important;
}

[class*="writereview_ReviewSettingsChecks_"] {
  gap: 8px !important;
  margin-top: 0px !important;
}

[class*="writereview_ReviewSettingsContainer_"] [class*="writereview_CommentCheckbox_"] {
  margin: 0px 0px 0px 16px !important;
}

[class*="writereview_ReviewSettingsContainer_"] [class*="writereview_FreeCheckbox_"] {
  margin: 0px 0px 0px 16px !important;
}

[class*="writereview_OptionsContainer_"] {
  margin-top: 16px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_LeftContainer_"] {
  border-right: 1px solid rgba(var(--color-white), 0.2) !important;
}

[class*="writereview_OptionsContainer_"]>div:first-of-type {
  padding: 0px 16px 0px 0px !important;
}

[class*="writereview_OptionsContainer_"]>div:last-of-type {
  padding: 0px 0px 0px 16px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px !important;
  background: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionDesc_"] {
  padding: 0px !important;
  margin-top: 16px !important;
}

[class*="writereview_OptionSvg_"] {
  width: 128px !important;
  height: 82px !important;
  opacity: 1 !important;
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
  stroke-width: 4px !important;
}

[class*="writereview_OptionsContainer_"] [class*="writereview_OptionButton_"] [class*="writereview_ButtonText_"] {
  margin-left: 0px !important;
  margin-right: 16px !important;
  text-transform: uppercase !important;
}