/* MAIN GAP */
.ModalPosition:has(._2Nmun5feXmM6VdoGKSPapp) > .ModalPosition_Content > .DialogContent._DialogLayout > .DialogContent_InnerWidth > div {
  gap: 16px !important;
}

.ModalPosition:has(._2Nmun5feXmM6VdoGKSPapp) > .ModalPosition_Content > .DialogContent._DialogLayout > .DialogContent_InnerWidth > div > div {
  gap: 16px !important;
}

/* BUTTON */
.ya1GZgdAuRwrs6HjZp6zP {
  gap: 16px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa {
  padding: 0px 16px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2DImOBZViQSVUAGzChzYs7 {
  opacity: 1 !important;
}

/* BUTTON SECONDARY */
._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
  height: 38px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk._2DImOBZViQSVUAGzChzYs7 {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* COMBOBOX */
._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk._1G-9fAzW5CfKYrYh48dMgL {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border-radius: 0px !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  max-width: unset !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk._1G-9fAzW5CfKYrYh48dMgL:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._2WymaTKNIM1vyXh6dWqpnk._1G-9fAzW5CfKYrYh48dMgL:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

/* BUTTON PRIMARY */
._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._3RXwDIH9FKgDDHeFmbIraU._2DImOBZViQSVUAGzChzYs7 {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* TEXT */
._3HvsrVl1kLwStoEp1nKfHl ._9TcOq-IRuazXGnhjjLvhO, ._27wV3WiTVLm07gmIA00FFC ._9TcOq-IRuazXGnhjjLvhO {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2lo2ippNTEIrQrtG5ydaBc {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.XXxRYXxr1rFPzz6sbQaAL {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._3GkZspseDhJvv1lGh90GZb {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

/* VISIBILITY COMPACT */
._3GhFaWxPOiv4b9_I0Buzxd {
  width: 32px !important;
  height: 32px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-privacy) !important;
}

._3GhFaWxPOiv4b9_I0Buzxd path {
  fill: transparent !important;
}

/* DROPDOWN */
._4BQHp2F51n2v8292fxZLZ {
  background: transparent !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic-40) !important;
}

._1DrNvKetbw02_jhMu6TcLc._3xHEeir99tExyOVxZubEM_ {
  line-height: 38px !important;
  max-width: unset !important;
  min-width: 0px !important;
}

._1G-9fAzW5CfKYrYh48dMgL svg {
  margin-right: -16px !important;
  width: 38px !important;
  height: 38px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
  filter: brightness(0.5) !important;
  margin-left: 0px !important;
}

._1aTMGNRp1K10vpnZ0F-u4z {
  padding: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1aTMGNRp1K10vpnZ0F-u4z ._1IEWVlC81yBK6pa_Hi2bo9 {
  background: transparent !important;
  margin: 1px !important;
  padding: 0px 12px !important;
  line-height: 32px !important;
}

._1aTMGNRp1K10vpnZ0F-u4z ._1IEWVlC81yBK6pa_Hi2bo9:hover {
  background: rgba(var(--color-white), 0.1) !important
}

._1aTMGNRp1K10vpnZ0F-u4z ._1IEWVlC81yBK6pa_Hi2bo9:active {
  background: rgba(var(--color-white), 0.2) !important
}

._1aTMGNRp1K10vpnZ0F-u4z ._1IEWVlC81yBK6pa_Hi2bo9:first-child {
  margin-top: 5px !important;
}

._1aTMGNRp1K10vpnZ0F-u4z ._1IEWVlC81yBK6pa_Hi2bo9:last-child {
  margin-bottom: 5px !important;
}

/* INPUT */
.oQafBNf0Aso9mt7Tt5wQi {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.oQafBNf0Aso9mt7Tt5wQi:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

.oQafBNf0Aso9mt7Tt5wQi:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

.oQafBNf0Aso9mt7Tt5wQi:focus {
  outline-offset: -2px !important;
  background: rgb(var(--color-white)) !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  color: rgb(var(--color-black)) !important;
}

.oQafBNf0Aso9mt7Tt5wQi::placeholder {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

/* LINE */
._2lo2ippNTEIrQrtG5ydaBc ._2My62NPencZrM-iHqLlNvK {
  background-color: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

/* BUTTON ICONS */
._1lo9D9MRR63oDdjDnK0W-t ._3xSgI5J3gGSy1D53uL4BLr._2eKDzvDm1CP03yIHnZDUHM {
  color: transparent !important;
}

._1lo9D9MRR63oDdjDnK0W-t ._3xSgI5J3gGSy1D53uL4BLr {
  color: transparent !important;
}

._1lo9D9MRR63oDdjDnK0W-t {
  height: 38px !important;
  width: 38px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa {
  height: 38px !important;
  min-height: 38px !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn .ya1GZgdAuRwrs6HjZp6zP:first-of-type ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  background-image: var(--icon-folder) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn .ya1GZgdAuRwrs6HjZp6zP:nth-of-type(2) ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  background-image: var(--icon-settings) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn .ya1GZgdAuRwrs6HjZp6zP:last-of-type ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  background-image: var(--icon-view-task) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn .ya1GZgdAuRwrs6HjZp6zP:last-of-type > div:last-of-type ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-view-grid) !important;
}

._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 svg {
  height: 38px !important;
  width: 38px !important;
}

/* LEFT SIDE */
._1PC3nI-Sy0MXajufJ-Wqhn {
  gap: 16px !important;
}

/* SECTION HEADING */
._2lo2ippNTEIrQrtG5ydaBc {
  height: 24px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  gap: 16px !important;
}

/* SCREENSHOT GRID */
._2f-TPBw13gB3qgy9zpJk-e {
  gap: 8px !important;
}

._3PmsYmkFGPVwmLG8XAnFNX > div {
  gap: 8px !important;
  height: unset !important;
}

._3PmsYmkFGPVwmLG8XAnFNX > div > ._2f-TPBw13gB3qgy9zpJk-e {
  width: 300px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 {
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8::after {
  content: "" !important; /* FIX FOR STEAM DISPLAYING ELEMENTS WITH TRANSFORM TO GET GRID ZOOM TO WORK LIKE DESIRED */
  position: absolute !important;
  background: rgb(var(--color-settings)) !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 8px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover {
  border-color: rgba(var(--color-white), 0.65) !important;
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8.eUBvTRJhZMBfITGCx_tBA {
  border-color: rgb(var(--color-white)) !important;
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi- {
  background: transparent !important;
  transform: scale(1.0) !important;
  transition: filter 0.5s, transform 0.5s !important;
  object-fit: cover !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi-:not(.GgiP4yedKGWBVe8w9ERbh) {
  height: 156px !important;
  width: 300px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi-.GgiP4yedKGWBVe8w9ERbh {
  width: calc((300px - 16px) / 3) !important;
  height: 52px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover ._2J4GI0xeNpNga2OP4ksXi- {
  transform: scale(1.05) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover ._2J4GI0xeNpNga2OP4ksXi-.GgiP4yedKGWBVe8w9ERbh {
  transform: scale(1.15) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:not(.eUBvTRJhZMBfITGCx_tBA) ._2J4GI0xeNpNga2OP4ksXi- {
  filter: saturate(0) brightness(0.5) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:not(.eUBvTRJhZMBfITGCx_tBA):hover ._2J4GI0xeNpNga2OP4ksXi- {
  filter: unset !important;
}

._2hywx1BkJ7qWVI5Z59Xad6 {
  background-color: rgba(var(--color-white), 0.1) !important;
  animation: none !important;
}

/* ERROR */
._8WOQMTXknYsng9_VLUoi- {
  border: unset !important;
}

._2b4NTm2Ez91s3OCYwX_7bh:not(._3_pAHYsWYxAPCs4grT4CsJ) {
  height: 156px !important;
}

._2b4NTm2Ez91s3OCYwX_7bh._3_pAHYsWYxAPCs4grT4CsJ {
  height: 52px !important;
}

/* CLOUD ICON */
._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N {
  right: 0px !important;
  bottom: 8px !important;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-cloud) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N ._1wIjl5BsSAzTXrhK6bDHZ2.GgiP4yedKGWBVe8w9ERbh {
  height: 24px !important;
  width: 24px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N ._1wIjl5BsSAzTXrhK6bDHZ2 {
  color: transparent !important;
}

/* EXPLAINER BOX */
._2lrrNsbFXBpMmd7sl1W8zv {
  border-radius: 0px !important;
  background-color: transparent !important;
}

._2lrrNsbFXBpMmd7sl1W8zv ._3ZYYm7wmluBIHzjuILB3Fu {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
}

._2lrrNsbFXBpMmd7sl1W8zv ._3ZYYm7wmluBIHzjuILB3Fu ._1qEZgvrWTMRJflX5OKGJV5 {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
}

._3smYD3Hn8hAh8Jj_kdnYLX {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1nW73EL2LVWyP67LYfbWsH {
  color: rgb(var(--color-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-24) !important;
  border-radius: 0px !important;
  border: 1px solid rgb(var(--color-white)) !important;
}

/* FOCUSED BOX */
.PKkxuW-HGAJI2pUIDh6nM {
  border-radius: 0px !important;
  background-color: transparent !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1DrNvKetbw02_jhMu6TcLc {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._1DrNvKetbw02_jhMu6TcLc._2WymaTKNIM1vyXh6dWqpnk {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._117dzgMge2_asgI5D0aDza .lpDWQz8wa7TXYPtHrni_G {
  color: rgb(var(--color-primary)) !important;
  font-weight: 800 !important;
  font-size: var(--size-24) !important;
}

._117dzgMge2_asgI5D0aDza .lpDWQz8wa7TXYPtHrni_G, ._117dzgMge2_asgI5D0aDza ._1WP4z26Dpgw-AgMqh_PUyF, ._117dzgMge2_asgI5D0aDza ._1dzAoXG2ud6OAAV8RJEwW9 {
  background: rgb(var(--color-settings)) !important;
  border: 4px solid rgb(var(--color-white)) !important;
}

/* DELETE BUTTON */
.koc4y-w7TSo7AKxrt1NzP ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9 {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-delete) !important;
}

/* SHOW ON DISK BUTTON */
.koc4y-w7TSo7AKxrt1NzP ._1FPJYJrOP3sGOAaFkUKvsa._3ZpXT9pl_51F5oOFPNnz-9:has(._3xSgI5J3gGSy1D53uL4BLr[viewBox="0 0 26 24"]) {
  background-image: var(--icon-folder) !important;
}

/* UPLOAD PROGRESS */
._3Ld7lS4vYdwmR6AG1TMnjH {
  gap: 4px !important;
  margin-top: auto !important;
  height: 38px !important;
}

._3Ld7lS4vYdwmR6AG1TMnjH ._9TcOq-IRuazXGnhjjLvhO {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  letter-spacing: normal !important;
}

.oNDZMYB2bmBqCFw-LBLpq{
  height: 2px !important;
}

.oNDZMYB2bmBqCFw-LBLpq ._37U0jfCH2nDSc1lHrWcO_F {
  background-color: rgba(var(--color-white), 0.2) !important
}

.oNDZMYB2bmBqCFw-LBLpq ._37U0jfCH2nDSc1lHrWcO_F, .oNDZMYB2bmBqCFw-LBLpq ._381m9QqN_md2VTiHekBH_v {
  height: 2px  !important;
  border-radius: 0px  !important;
}

.oNDZMYB2bmBqCFw-LBLpq ._381m9QqN_md2VTiHekBH_v {
  background-color: rgb(var(--color-accent)) !important;
}

/* ERROR */
._12iyHOQCU32Bv1yb35nQEZ {
  gap: 16px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

.muEykGdU1leA8_S3w35OF ._2No3rQ3nsbyVAXxKNAUIsG, ._3Su-3oL_RerYCgLvIahGwP ._2No3rQ3nsbyVAXxKNAUIsG {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
}