/* BUTTON */
[class*="mediamanagerutils_ButtonGroup_"] {
  gap: 16px !important;
}

[class*="mediamanagerutils_ButtonBox_"] {
  padding: 0px 16px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Disabled_"] {
  opacity: 1 !important;
}

/* BUTTON SECONDARY */
[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Secondary_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  height: 38px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Secondary_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Secondary_"]:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Secondary_"][class*="mediamanagerutils_Disabled_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* BUTTON PRIMARY */
[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Primary_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Primary_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Primary_"]:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Primary_"][class*="mediamanagerutils_Disabled_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* TEXT */
[class*="mediamanagerutils_SpoilerField_"] [class*="mediamanagerutils_Label_"], [class*="mediamanagerutils_VisibilityField_"] [class*="mediamanagerutils_Label_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_SectionHeading_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_CloudStorageImpact_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_Metadata_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

/* VISIBILITY COMPACT */
[class*="mediamanagerutils_Eye_"] {
  width: 32px !important;
  height: 32px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA7UlEQVRYhe2W2w3CMAxFr9kgjMAKXQFGYAVmYYUyAiuwQldghTLC4QMXSqiSiIdAKJauqjq2c2w1Sg3QN2321d0rQAWoABWgBMDM7iRpI+koqZeEq3ffZiI+bUBSo7gG6F1boInWtqP1prh+CQCw5mJtQUOtx67fAgCEoev8PK8QwzTCOwBaoIs2CEDHzTogRDGd5ybrl5yCpaRd5Nv7c+4a+wbbeW52XDk9/DB414vR+yIR99oErOgsPZ9rE+BxkQcfcJAUJK3cdZB0MrPVRGyaoOQYTuRkP8LS+tkJfNp+/y6oABWgAlSAvwc4A2l42T5dzbRkAAAAAElFTkSuQmCC') !important;
}

[class*="mediamanagerutils_Eye_"] path {
  fill: transparent !important;
}

/* DROPDOWN */
[class*="mediamanagerutils_ComboboxSelectorContextMenu_"] {
  background: transparent !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic-40) !important;
}

[class*="mediamanagerutils_Text_"][class*="mediamanagerutils_Truncate_"] {
  line-height: 38px !important;
}

[class*="mediamanagerutils_Combobox_"] svg {
  margin-right: -16px !important;
  width: 38px !important;
  height: 38px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqElEQVRYhe3WQQ6CMBRF0YsrcCegm6E7QVag22NFdWB1ghJeWyIh705g8ENOfpqGJsbIHjv9G/Arw9QMUzNMzTA1w9QMUzsc7LzR7Kdc2AiEFXMhzcrlwgbgAvQLMwFo06xcyRkbgI7vuJ4XPGtbUH74R+abC8CVzE29ayr989+BKb13wK30g7VgAI/0LEZBXVjVDnfBbp5haoapGaZmmJphaoap7Rb2BHQqFv3+qvBdAAAAAElFTkSuQmCC') !important;
}

[class*="mediamanagerutils_ComboboxSelector_"] {
  padding: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_ComboboxSelector_"] [class*="mediamanagerutils_Option_"] {
  background: transparent !important;
  margin: 1px !important;
  padding: 8px 16px !important;
}

[class*="mediamanagerutils_ComboboxSelector_"] [class*="mediamanagerutils_Option_"]:hover {
  background: rgba(var(--color-white), 0.1) !important
}

[class*="mediamanagerutils_ComboboxSelector_"] [class*="mediamanagerutils_Option_"]:active {
  background: rgba(var(--color-white), 0.2) !important
}

[class*="mediamanagerutils_ComboboxSelector_"] [class*="mediamanagerutils_Option_"]:first-child {
  margin-top: 5px !important;
}

[class*="mediamanagerutils_ComboboxSelector_"] [class*="mediamanagerutils_Option_"]:last-child {
  margin-bottom: 5px !important;
}

/* INPUT */
[class*="mediamanagerutils_CaptionField_"]::placeholder {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_CaptionField_"] {
  color: rgb(var(--color-text)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_CaptionField_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="mediamanagerutils_CaptionField_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

/* LINE */
[class*="mediamanagerutils_SectionHeading_"] [class*="mediamanagerutils_Line_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

/* BUTTON ICONS */
[class*="mediamanagerutils_IconButton_"] [class*="mediamanagerutils_IconButtonIcon_"][class*="mediamanagerutils_Active_"] {
  /* color: rgb(var(--color-white)) !important; */
  color: transparent !important;
}

[class*="mediamanagerutils_IconButton_"] [class*="mediamanagerutils_IconButtonIcon_"] {
  /* color: rgb(var(--color-white)) !important; */
  color: transparent !important;
}

[class*="mediamanagerutils_IconButton_"] {
  height: 38px !important;
  width: 38px !important;
}

[class*="mediamanagerutils_ButtonBox_"] {
  height: 38px !important;
  min-height: 38px !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  padding: 0px !important;
}

[class*="mediamanagerutils_LeftList_"] [class*="mediamanagerutils_ButtonGroup_"]:first-of-type [class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAm0lEQVRYhe3WwQmDQBSE4ZlgBektLaQ5azIl2MLk4iEXYedJ8KHzg3gR94NddpeS0LHH2YC9AnMLzC0wt8DcLgeT8Swk7QGmIgwcHE3Fw/hyU/n3AnMLzO2eMEnv37cTi/ufRjZYSSuAGcALwLMTTCS57f7WuXTPNXaktrDy7WL01rB993H/X4X5FyyztlMZmFtgboG5BebWFvYF86I3ue0u1r8AAAAASUVORK5CYII=') !important;
}

[class*="mediamanagerutils_LeftList_"] [class*="mediamanagerutils_ButtonGroup_"]:nth-of-type(2) [class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABzElEQVRYhe3Wv2oUURQG8N8aa8E0GivRwsJCEi3FmH+V+hIS7MXeuPsA+gJJJRZJJZqNhaBgUkYELYK1sJt6X+BY3LswRle8s66RMB9cZuacM+d8zDn3m9uKCP8jTh03gVFoiJWiIVaKhlgpGmKlOLHElrCJDxXbHrawMk7icYg9wwt8zc8dtBE4wHM8rZv89BjEvuAKHuMG3mX7Ivaz7aBu8laN00UH3/AJrzEzIq6HO7iOq3hYVCUiStZyRPQjohsRvYhY+01sJ8d0I+IwIpZKapUS28wFj9o3cvF+vj/qb0fEVkmt0uGfwW1pfobYwHncxc0cs17xr0hzd26SrRQRjyJiUHnuRcRsRFyKiMt59Sr+QUQ8Ka1TZ1ee/YVtKl9bmPazDE0pRGkrdzEvtWaIHUm/pnEGa9iu+Bex4EcR/uvEengv6dQQqzjEK3TRz7Yh9iWN6xdVqikX23mO2n8gFzv5neWSWnUEti0J7Ge8xIURcT3cw6x/ILDVdT8i3uT7ubz7BpUv042I1br5x/lXXsQ16QsuSD/sgTT8tzCHj3WT12llFUt4IAnsfLbtSm1cx9vjIjYxnNgT7MTQECtFQ6wUDbFSNMRK8R1RypTgMj/PVAAAAABJRU5ErkJggg==') !important;
}

[class*="mediamanagerutils_LeftList_"] [class*="mediamanagerutils_ButtonGroup_"]:last-of-type [class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAbUlEQVRYhe3WwQqAIBQF0Qz//5ef+0BwDPISM2uJI6/MVlVXYvdpwCxhNGE0YTRhtFhYh+vf/r/a6kIKQw9/hDYVO0phtFjYzsv/yc2Swna/SNxvRukBGztKYbRYmAcsLXaUwmjCaMJowmixsAG7ZglZF+hQpQAAAABJRU5ErkJggg==') !important;
}

[class*="mediamanagerutils_LeftList_"] [class*="mediamanagerutils_ButtonGroup_"]:last-of-type > div:last-of-type [class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAb0lEQVRYhe2WQQrAIAwEN6X//7K9t9gyXhpk5hiEDC6L1hgjHTn+FpihGEUximIUxShtxU54/v5+1eL8k5Ubq8kCOn9lmyiTZzyr81fKbw/EVtIl20SZ2Mqm2Eq6ZJsoE1vZFMUoilEUoyhGaSt2AdoVHlKANThdAAAAAElFTkSuQmCC') !important;
}

[class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] svg {
  /* display: none !important; */
  height: 38px !important;
  width: 38px !important;
}

/* LEFT SIDE */
[class*="mediamanagerutils_LeftList_"] {
  gap: 16px !important;
}

/* SECTION HEADING */
[class*="mediamanagerutils_SectionHeading_"] {
  height: 24px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  gap: 16px !important;
}

/* SCREENSHOT GRID */
[class*="mediamanagerutils_ScreenshotListItem_"]:hover {
  border-color: rgba(var(--color-white), 0.65) !important;
}

[class*="mediamanagerutils_ScreenshotListItem_"][class*="mediamanagerutils_Selected_"] {
  border-color: rgb(var(--color-white)) !important;
}

[class*="mediamanagerutils_ScreenshotListItem_"] [class*="mediamanagerutils_ScreenshotListItemImg_"] {
  background: transparent !important;
}

[class*="mediamanagerutils_Skeleton_"] {
  background-color: rgba(var(--color-white), 0.1) !important
  /* animation: mediamanagerutils_skeleton_2PReO 2s ease-in-out infinite !important; */
}

/* CLOUD ICON */
[class*="mediamanagerutils_ScreenshotListItem_"] [class*="mediamanagerutils_ScreenshotListItemCloudIconContainer_"] {
  right: 0px !important;
  bottom: 0px !important;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA4klEQVRIie2UwW3CQBBFn9MCdg05QAOcI6WRnCgCOoBrDtABDWBOSStwTBBYKeDlkAUsZ22wBFIi+UujlXZm5630R5Oo3FMPd+3eATpAWRkwAzaAwBaYAuktAD3gDRgAz0ACPAF94D3A66XGYqiuPCuvqVups5ocahQwVPfqRE3VXjhjtY/qpi0gV8dNjyqhWqhzNavmk8guMpi3u8Kfsk+vwBfwUk7UATLgswWA8KkPfobgpNgU5cCoZfOjil83DSaPG8ytRqougw8XTT5C1l6vg7qI9Yp5cFP9mV3UAf4x4BuFp52Z/96POgAAAABJRU5ErkJggg==') !important;
}

[class*="mediamanagerutils_ScreenshotListItem_"] [class*="mediamanagerutils_ScreenshotListItemCloudIconContainer_"]  [class*="mediamanagerutils_ScreenshotListItemCloudIcon_"][class*="mediamanagerutils_Small_"] {
  height: 24px !important;
  width: 24px !important;
}

[class*="mediamanagerutils_ScreenshotListItem_"] [class*="mediamanagerutils_ScreenshotListItemCloudIconContainer_"]  [class*="mediamanagerutils_ScreenshotListItemCloudIcon_"] {
  color: transparent !important;
}

/* EXPLAINER BOX */
[class*="mediamanagerutils_ExplainerBox_"] {
  border-radius: 0px !important;
  background-color: transparent !important;
}

[class*="mediamanagerutils_ExplainerBox_"] [class*="mediamanagerutils_Explainer_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-largest) !important;
}

[class*="mediamanagerutils_ExplainerBox_"] [class*="mediamanagerutils_Explainer_"] [class*="mediamanagerutils_Header_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-largest) !important;
}

[class*="mediamanagerutils_Bullet_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_KeyboardKey_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 700 !important;
  font-size: var(--font-size-largest) !important;
  border-radius: 0px !important;
  border: 1px solid rgb(var(--color-white)) !important;
}

/* FOCUSED BOX */
[class*="mediamanagerutils_FocusedScreenshots_"] {
  border-radius: 0px !important;
  background-color: transparent !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_Text"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_Text"][class*="mediamanagerutils_Secondary"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
}

[class*="mediamanagerutils_ScreenshotStack_"] [class*="mediamanagerutils_Top_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 800 !important;
  font-size: var(--font-size-largest) !important;
}

[class*="mediamanagerutils_ScreenshotStack_"] [class*="mediamanagerutils_Top_"], [class*="mediamanagerutils_ScreenshotStack_"] [class*="mediamanagerutils_Mid_"], [class*="mediamanagerutils_ScreenshotStack_"] [class*="mediamanagerutils_Bot_"] {
  background: rgb(var(--color-settings)) !important;
  border: 4px solid rgb(var(--color-white)) !important;
}

[class*="mediamanagerutils_ScreenshotFormActions_"] [class*="mediamanagerutils_ButtonBox_"][class*="mediamanagerutils_Square_"] {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAlUlEQVRYhe2WSwrAIAxEm9L7XzldCTVEyoz9BJm3ESHqIxGjuftWkf1vgRESQ5EYisRQJIZSVuxAF5hZN/ekp1kIYtoeLJZxFclEqT2JfZiD7T6khymlubvHcmW0OCaJZS//tFi7U3GcZd2MvYXEUCSGsq5Y6wBxnKVsxujfxVMv/AiqwX5B2VJKDEViKBJDkRhKWbETaEwwRkAw7IUAAAAASUVORK5CYII=') !important;
}

/* UPLOAD PROGRESS */
[class*="mediamanagerutils_UploadProgressIndicatorContainer_"] {
  gap: 4px !important;
  margin-top: auto !important;
  height: 38px !important;
}

[class*="mediamanagerutils_UploadProgressIndicatorContainer_"] [class*="mediamanagerutils_Label_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-smaller) !important;
  letter-spacing: normal !important;
}

[class*="mediamanagerutils_ProgressContainer_"]{
  height: 2px !important;
}

[class*="mediamanagerutils_ProgressContainer_"] [class*="mediamanagerutils_ProgressTrack_"] {
  background-color: rgba(var(--color-white), 0.2) !important
}

[class*="mediamanagerutils_ProgressContainer_"] [class*="mediamanagerutils_ProgressTrack_"], [class*="mediamanagerutils_ProgressContainer_"] [class*="mediamanagerutils_Progress_"] {
    height: 2px  !important;
    border-radius: 0px  !important;
}

[class*="mediamanagerutils_ProgressContainer_"] [class*="mediamanagerutils_Progress_"] {
  background-color: rgb(var(--color-primary)) !important;
}

/* ERROR */
[class*="mediamanagerutils_ErrorScreenshot_"] {
  gap: 16px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

[class*="mediamanagerutils_FocusedScreenshotSkeleton_"] [class*="mediamanagerutils_Message_"], [class*="mediamanagerutils_FocusedScreenshotError_"] [class*="mediamanagerutils_Message_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-medium) !important;
}