/* MAIN GAP */
.ModalPosition:has(._27mxvC5-ijOZWyLeJwz1_e) > .ModalPosition_Content > .DialogContent._DialogLayout > .DialogContent_InnerWidth > div {
  gap: 16px !important;
}

.ModalPosition:has(._27mxvC5-ijOZWyLeJwz1_e) > .ModalPosition_Content > .DialogContent._DialogLayout > .DialogContent_InnerWidth > div > div {
  gap: 16px !important;
}

/* BUTTON */
._1nzUL597mwaqNlTir25Tbf {
  gap: 16px !important;
}

._28eIRmQ229ntDIyQXTn3Ub {
  padding: 0px 16px !important;
}

._28eIRmQ229ntDIyQXTn3Ub._36CGU2t5Vavx0_9dwem6kb {
  opacity: 1 !important;
}

/* BUTTON SECONDARY */
._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
  height: 38px !important;
}

._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy._36CGU2t5Vavx0_9dwem6kb {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* COMBOBOX */
._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy.zeGUOeW3Cat4UJGCGwXPZ {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border-radius: 0px !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  max-width: unset !important;
}

._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy.zeGUOeW3Cat4UJGCGwXPZ:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy.zeGUOeW3Cat4UJGCGwXPZ:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

/* BUTTON PRIMARY */
._28eIRmQ229ntDIyQXTn3Ub._2kVw_wgJd5TfnNePlpwmN {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
}

._28eIRmQ229ntDIyQXTn3Ub._2kVw_wgJd5TfnNePlpwmN:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._28eIRmQ229ntDIyQXTn3Ub._2kVw_wgJd5TfnNePlpwmN:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._28eIRmQ229ntDIyQXTn3Ub._2kVw_wgJd5TfnNePlpwmN._36CGU2t5Vavx0_9dwem6kb {
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
  filter: saturate(0.0) brightness(0.5) !important;
}

/* TEXT */
._1skzNKb2DaEVLkoZ3IvFIp ._1qABO0SwwMTGrwO3UvqE-g, ._1eQc6SeGSZKOz0skabs02z ._1qABO0SwwMTGrwO3UvqE-g {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2lo2ippNTEIrQrtG5ydaBc {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.hwP1MOTgigg-9XwJyhFTO {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._3twsgFT0Ba--9DybmydSI8 {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

/* VISIBILITY COMPACT */
._3uV-vaqa40fFXNLyF07KAz {
  width: 32px !important;
  height: 32px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-privacy) !important;
}

._3uV-vaqa40fFXNLyF07KAz path {
  fill: transparent !important;
}

/* DROPDOWN */
._29AJUo6aKT93gX24N5WFj_ {
  background: transparent !important;
  border-radius: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  border: 1px solid rgba(var(--color-white), 0.05) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--acrylic-40) !important;
}

._2X6Uf9dpYzWmrq3hGfefrI.d8HHRXZEfFuJ2DRCJXitQ {
  line-height: 38px !important;
  max-width: unset !important;
  min-width: 0px !important;
}

.zeGUOeW3Cat4UJGCGwXPZ svg {
  margin-right: -16px !important;
  width: 38px !important;
  height: 38px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
  filter: brightness(0.5) !important;
  margin-left: 0px !important;
}

._2tKr_CSDskG6HFUPMfBQrc {
  padding: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2tKr_CSDskG6HFUPMfBQrc .G3_eozBlouid6uYGgY2Lf {
  background: transparent !important;
  margin: 1px !important;
  padding: 0px 12px !important;
  line-height: 32px !important;
}

._2tKr_CSDskG6HFUPMfBQrc .G3_eozBlouid6uYGgY2Lf:hover {
  background: rgba(var(--color-white), 0.1) !important
}

._2tKr_CSDskG6HFUPMfBQrc .G3_eozBlouid6uYGgY2Lf:active {
  background: rgba(var(--color-white), 0.2) !important
}

._2tKr_CSDskG6HFUPMfBQrc .G3_eozBlouid6uYGgY2Lf:first-child {
  margin-top: 5px !important;
}

._2tKr_CSDskG6HFUPMfBQrc .G3_eozBlouid6uYGgY2Lf:last-child {
  margin-bottom: 5px !important;
}

/* INPUT */
._-8fRT1eDDVo6CU2ehlzmG {
  color: rgb(var(--color-primary)) !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._-8fRT1eDDVo6CU2ehlzmG:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

._-8fRT1eDDVo6CU2ehlzmG:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

._-8fRT1eDDVo6CU2ehlzmG:focus {
  outline-offset: -2px !important;
  background: rgb(var(--color-white)) !important;
  outline: 2px solid rgb(var(--color-accent)) !important;
  color: rgb(var(--color-black)) !important;
}

._-8fRT1eDDVo6CU2ehlzmG::placeholder {
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

/* LINE */
._2lo2ippNTEIrQrtG5ydaBc ._2My62NPencZrM-iHqLlNvK {
  background-color: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

/* BUTTON ICONS */
._2T45kYJmyvQWyxytQeohuY .OshLau78NSt9yYd3ifber._3JYigpIF46lZDATkhxHZmZ {
  color: transparent !important;
}

._2T45kYJmyvQWyxytQeohuY .OshLau78NSt9yYd3ifber {
  color: transparent !important;
}

._2T45kYJmyvQWyxytQeohuY {
  height: 38px !important;
  width: 38px !important;
}

._28eIRmQ229ntDIyQXTn3Ub {
  height: 38px !important;
  min-height: 38px !important;
}

._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn ._1nzUL597mwaqNlTir25Tbf:first-of-type ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  background-image: var(--icon-folder) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn ._1nzUL597mwaqNlTir25Tbf:nth-of-type(2) ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  background-image: var(--icon-settings) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn ._1nzUL597mwaqNlTir25Tbf:last-of-type ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  background-image: var(--icon-view-task) !important;
}

._1PC3nI-Sy0MXajufJ-Wqhn ._1nzUL597mwaqNlTir25Tbf:last-of-type > div:last-of-type ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: var(--icon-view-grid) !important;
}

._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t svg {
  height: 38px !important;
  width: 38px !important;
}

/* LEFT SIDE */
._1PC3nI-Sy0MXajufJ-Wqhn {
  gap: 16px !important;
}

/* SECTION HEADING */
._2lo2ippNTEIrQrtG5ydaBc {
  height: 24px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  gap: 16px !important;
}

/* SCREENSHOT GRID */
._2L-luDy8k_0y7Hfjri8bmJ {
  gap: 8px !important;
}

._2r485O6B51u64d19eTbK1a > div {
  gap: 8px !important;
  height: unset !important;
}

._2r485O6B51u64d19eTbK1a > div > ._2L-luDy8k_0y7Hfjri8bmJ {
  width: 300px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 {
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8::after {
  content: "" !important; /* FIX FOR STEAM DISPLAYING ELEMENTS WITH TRANSFORM TO GET GRID ZOOM TO WORK LIKE DESIRED */
  position: absolute !important;
  background: rgb(var(--color-settings)) !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  height: 8px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover {
  border-color: rgba(var(--color-white), 0.65) !important;
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8._1YCCffk57wIFq_yC8mr14P {
  border-color: rgb(var(--color-white)) !important;
  border: unset !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi- {
  background: transparent !important;
  transform: scale(1.0) !important;
  transition: filter 0.5s, transform 0.5s !important;
  object-fit: cover !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi-:not(.GgiP4yedKGWBVe8w9ERbh) {
  height: 156px !important;
  width: 300px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._2J4GI0xeNpNga2OP4ksXi-.GgiP4yedKGWBVe8w9ERbh {
  width: calc((300px - 16px) / 3) !important;
  height: 52px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover ._2J4GI0xeNpNga2OP4ksXi- {
  transform: scale(1.05) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:hover ._2J4GI0xeNpNga2OP4ksXi-.GgiP4yedKGWBVe8w9ERbh {
  transform: scale(1.15) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:not(._1YCCffk57wIFq_yC8mr14P) ._2J4GI0xeNpNga2OP4ksXi- {
  filter: saturate(0) brightness(0.5) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8:not(._1YCCffk57wIFq_yC8mr14P):hover ._2J4GI0xeNpNga2OP4ksXi- {
  filter: unset !important;
}

._13LoHE22iGo7eWHNFp5f9L {
  background-color: rgba(var(--color-white), 0.1) !important;
  animation: none !important;
}

/* ERROR */
._3bYsZ12RSAS2LSTT4JVety {
  border: unset !important;
}

.bmW397RyVAM0X6kowJcO1:not(._3_pAHYsWYxAPCs4grT4CsJ) {
  height: 156px !important;
}

.bmW397RyVAM0X6kowJcO1._3_pAHYsWYxAPCs4grT4CsJ {
  height: 52px !important;
}

/* CLOUD ICON */
._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N {
  right: 0px !important;
  bottom: 8px !important;
  height: 24px !important;
  width: 24px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-cloud) !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N ._1wIjl5BsSAzTXrhK6bDHZ2.GgiP4yedKGWBVe8w9ERbh {
  height: 24px !important;
  width: 24px !important;
}

._1xlfggpT8Cn4-EK9iJBdx8 ._1RS7vPUiWYl0W4dzq7lM-N ._1wIjl5BsSAzTXrhK6bDHZ2 {
  color: transparent !important;
}

/* EXPLAINER BOX */
.QFVXM_1rWs04OyJDUaCom {
  border-radius: 0px !important;
  background-color: transparent !important;
}

.QFVXM_1rWs04OyJDUaCom ._1yTI8Tgt40Qr-TGHTgv2Pr {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
}

.QFVXM_1rWs04OyJDUaCom ._1yTI8Tgt40Qr-TGHTgv2Pr ._1IqRO2Wvm5hGR3L_Y2x_r1 {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-24) !important;
}

._2RIxgk6PCmDgWS3jq9zigE {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._3bqJjSW-9aJRlQejFL9lqs {
  color: rgb(var(--color-primary)) !important;
  font-weight: 700 !important;
  font-size: var(--size-24) !important;
  border-radius: 0px !important;
  border: 1px solid rgb(var(--color-white)) !important;
}

/* FOCUSED BOX */
._3aynTMg-fZH1PpSAzSVq2u {
  border-radius: 0px !important;
  background-color: transparent !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2X6Uf9dpYzWmrq3hGfefrI {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2X6Uf9dpYzWmrq3hGfefrI.QE3sHW9puNTAjiRDY71Xy {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._3qaqEMdxuioe_cF3lO5Scs ._3FW0zOOxCBqJGPav1c8hWf {
  color: rgb(var(--color-primary)) !important;
  font-weight: 800 !important;
  font-size: var(--size-24) !important;
}

._3qaqEMdxuioe_cF3lO5Scs ._3FW0zOOxCBqJGPav1c8hWf, ._3qaqEMdxuioe_cF3lO5Scs ._3mULD4eVmgqeJry1G4l8wV, ._3qaqEMdxuioe_cF3lO5Scs ._2jHpoK6XDXAeYSeRGQl3FC {
  background: rgb(var(--color-settings)) !important;
  border: 4px solid rgb(var(--color-white)) !important;
}

/* DELETE BUTTON */
._1FaE__8e7uOOrdQ4nQDByO ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-delete) !important;
}

/* SHOW ON DISK BUTTON */
._1FaE__8e7uOOrdQ4nQDByO ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t:has(.OshLau78NSt9yYd3ifber[viewBox="0 0 26 24"]) {
  background-image: var(--icon-folder) !important;
}

/* UPLOAD PROGRESS */
.m1-1F-uygFDU5cdXSV1Jz {
  gap: 4px !important;
  margin-top: auto !important;
  height: 38px !important;
}

.m1-1F-uygFDU5cdXSV1Jz ._1qABO0SwwMTGrwO3UvqE-g {
  color: rgb(var(--color-secondary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  letter-spacing: normal !important;
}

.xgdATZWePJFXYrEbin8y9{
  height: 2px !important;
}

.xgdATZWePJFXYrEbin8y9 ._10hh85J75faHJ8ChhjlzLl {
  background-color: rgba(var(--color-white), 0.2) !important
}

.xgdATZWePJFXYrEbin8y9 ._10hh85J75faHJ8ChhjlzLl, .xgdATZWePJFXYrEbin8y9 ._2Kwx2_3UQZVDF9eWFVuk06 {
  height: 2px  !important;
  border-radius: 0px  !important;
}

.xgdATZWePJFXYrEbin8y9 ._2Kwx2_3UQZVDF9eWFVuk06 {
  background-color: rgb(var(--color-accent)) !important;
}

/* ERROR */
._3xXvCbPSIbZttSKUFZbFe- {
  gap: 16px !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-white)) !important;
}

._2-TkfP8JHEK9wNqWdVP3r0 ._3iAhag2pBeslSJb0ZxZqAm, ._1Rcrr7lch16ywlLssEXZEJ ._3iAhag2pBeslSJb0ZxZqAm {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
}