/* BUTTONS */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX {
  gap: 16px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 button.DialogButton {
  padding: 0px !important;
  margin: 0px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT {
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  padding: 0px 16px !important;
  margin: 0px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 button.DialogButton {
  gap: 0px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 button.DialogButton svg {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

/* INTERNET BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT:nth-of-type(1) > svg {
  background-image: var(--icon-browser) !important;
}

/* FAVORITES BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT:nth-of-type(2) > svg {
  background-image: var(--icon-favorite) !important;
}

/* HISTORY BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT:nth-of-type(3) > svg {
  background-image: var(--icon-history) !important;
}

/* LAN BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT:nth-of-type(4) > svg {
  background-image: var(--icon-lan) !important;
}

/* FRIENDS BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._1jEPp-_Fn1YtGfHenAZ7fT:nth-of-type(5) > svg {
  background-image: var(--icon-people) !important;
}

/* REFRESH BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2X_ZpO2X_CIOIEfml3ZTcX button._2KYMMVVayBKt9_rEg88mBZ > svg {
  background-image: var(--icon-refresh) !important;
}

/* SERVER PANE */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s {
  gap: 16px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F {
  gap: 16px !important;
}

/* SERVER LIST */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background: transparent !important;
  border: unset !important;
  gap: 0px !important;
}

/* HEADER */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._2cIK-w-zexbpzoh8jWH-tn {
  background: transparent !important;
  padding: 0px !important;
  line-height: 32px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mOBJyckqa4Zt5FoB_dBhZ {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mOBJyckqa4Zt5FoB_dBhZ:hover {
  color: rgb(var(--color-secondary)) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mOBJyckqa4Zt5FoB_dBhZ:hover svg {
  filter: brightness(0.57) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mOBJyckqa4Zt5FoB_dBhZ:active {
  color: rgb(var(--color-tertiary)) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mOBJyckqa4Zt5FoB_dBhZ:active svg {
  filter: brightness(0.36) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._1m0suXtV6O2fXS1Gn-nWVw {
  gap: 8px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 div[role="rowgroup"] {
  padding-right: 24px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 svg._11USeacMygE1MnaISNLUjP {
  width: 32px !important;
  height: 32px !important;
  margin-left: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-down-thick) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 svg._11USeacMygE1MnaISNLUjP:has(path[d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  transform: rotate(180deg) !important;
}

/* SELECT COLUMNS */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mCrTKGesl-jD-k-buQ13_ {
  width: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mCrTKGesl-jD-k-buQ13_ {
  background: transparent !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mCrTKGesl-jD-k-buQ13_:hover {
  background: rgba(var(--color-white), 0.1) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3mCrTKGesl-jD-k-buQ13_:active {
  background: rgba(var(--color-white), 0.2) !important;
}

/* SERVERS */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB:not(._3vedM8he3cvXOGRug4HKZE):hover {
  background: rgba(var(--color-white), 0.1) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB:not(._3vedM8he3cvXOGRug4HKZE):active {
  background: rgba(var(--color-white), 0.2) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3vedM8he3cvXOGRug4HKZE {
  background: rgba(var(--color-accent), 0.5) !important;
  color: rgb(var(--color-primary)) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB:not(._3vedM8he3cvXOGRug4HKZE)::after {
  content: "" !important;
  width: 24px !important;
  height: 32px !important;
  position: relative !important;
  right: 0px !important;
  margin-right: -24px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB:not(._3vedM8he3cvXOGRug4HKZE):hover::after {
  background: rgba(var(--color-white), 0.1) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB:not(._3vedM8he3cvXOGRug4HKZE):active::after {
  background: rgba(var(--color-white), 0.2) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3vedM8he3cvXOGRug4HKZE::after {
  content: "" !important;
  width: 24px !important;
  height: 32px !important;
  position: relative !important;
  right: 0px !important;
  margin-right: -24px !important;
  background: rgba(var(--color-accent), 0.5) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 > div > div {
  display: flex !important;
  flex-wrap: wrap !important;
  height: auto !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB {
  gap: 8px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  height: 32px !important;
  top: unset !important;
  transform: none !important;
  position: relative !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .c8HfPY9sQZdSZtTna_qYB > div:not(:last-of-type) {
  padding-right: 8px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._2fSU9jBJhQxuu2JzRjAFI7 {
  width: 32px !important;
  padding-left: 0px !important;
}

/* RADIO BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 .DialogRoundCheckboxField {
  width: 32px !important;
  height: 32px !important;
}

.DialogRoundCheckboxField_Control {
  background-color: transparent !important;
  width: 20px !important;
  height: 20px !important;
  margin: auto !important;
  margin-top: 8px !important;
}

.DialogRoundCheckboxField_OuterCircle {
  background: transparent !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  height: 20px !important;
  width: 20px !important;
  margin: 0px !important;
  appearance: unset !important;
  border-radius: 50% !important;
}

.DialogRoundCheckboxField_OuterCircle:hover {
  border-color: rgb(var(--color-white)) !important;
}

.DialogRoundCheckboxField_OuterCircle:active {
  filter: saturate(0) brightness(0.6) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_OuterCircle {
  border-color: rgb(var(--color-accent)) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_OuterCircle:active {
  border-color: rgb(var(--color-white)) !important;
  filter: saturate(0) brightness(0.6) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle {
  content: "" !important;
  background: rgba(var(--color-white), 0.8) !important;
  border-radius: 25px !important;
  display: block !important;
  position: relative !important;
  height: 10px !important;
  width: 10px !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle:hover {
  background-color: rgb(var(--color-white)) !important;
}

/* ICONS */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3JL6lzo7TbWETFdPMhsRZN, ._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._12IW24hzcd5JHhO-S6zH22, ._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._2O6m8U2N2S2aJKBf3H0Zxn {
  width: 32px !important;
  max-width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._3JL6lzo7TbWETFdPMhsRZN svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-key) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._12IW24hzcd5JHhO-S6zH22 svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-robot) !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._2O6m8U2N2S2aJKBf3H0Zxn svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-shield) !important;
}

/* SEPARATOR */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._1XAm7DWwrTa6XnYYJ5kxAK {
  width: 1px !important;
  margin: 0px !important;
  padding: 0px !important;
  background: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._2_4_nZy-T2C3pHa81tGH76 ._1XAm7DWwrTa6XnYYJ5kxAK span {
  width: 0px !important;
  border-left: unset !important;
}

/* FILTERS */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1EKWPcG8fTbIjt4XH51i5B {
  gap: 32px !important;
  padding: 0px !important;
  height: auto !important;
  align-items: flex-start !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._1EKWPcG8fTbIjt4XH51i5B._1ezaeFk0i2IVfJTyujGL3- {
  height: 0px !important;
  padding: 0px !important;
  display: none !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._DialogInputContainer:not(._1tiuYeMmTc9DMG4mhgaQ5w):not(.DialogToggleField):not(.DialogSlider_Container) {
  min-width: unset !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F .iLldOGWO4DAcPXfvvZtrU {
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
}

._3zD3TO7h3l5lbeiF4Aj6mi {
  align-self: flex-start !important;
}

.wEGw5DGwuG9ietThudkhS {
  display: grid !important;
  gap: 0px !important;
  align-self: flex-start !important;
  padding-top: 32px !important;
}

/* FOOTER */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._341mdPDkZV7JkbIxGBREsd {
  height: 32px !important;
  gap: 16px !important;
  padding-top: 0px !important;
}

/* FILTER BUTTON */
._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._341mdPDkZV7JkbIxGBREsd ._30Bn7zCGRm9mu2m62-VXOF {
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  padding: 0px 16px !important;
  margin: 0px !important;
  min-width: fit-content !important;
}

._2rxrVvbku0AC8Qbequ4-z9 ._2SvsKGOQeIoV8laKj5Ql5s ._2YSm1vJtLeKb9BbihsLY1F ._341mdPDkZV7JkbIxGBREsd ._30Bn7zCGRm9mu2m62-VXOF svg {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chevron-down) !important;
}