/* BUTTONS */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] {
  gap: 16px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] button.DialogButton {
  padding: 0px !important;
  margin: 0px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"] {
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  padding: 0px 16px !important;
  margin: 0px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] button.DialogButton {
  gap: 0px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] button.DialogButton svg {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

/* INTERNET BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"]:nth-of-type(1) > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABYElEQVRYhe2V4W2DMBCFP1ddAEbICnQEOkJWyAwdIV0hq8AIzgisQEZ4/ZFX1RACVpMqbcVJJ9nH8927s/wIknikPT20+kpgJbASyCEQQhg4UAMR6AHZe8fqCfxtBD5NUiEpAg1QACfgxY5jjaQoqcjNm0XACaO3pYu9hxCOIYQj8OZYaUw+CUmzbkzj7pG0l9RN5Okk7b2OCX7WFycgaQtUwKtDFdBOQFt/w9iNz942AXf/XWsWJ5xBoE87ceLNRCMbJb9WSbXPzuYPyZmrQwrJe5I02I9IXGCB2bf4+4UIOEmq08C1Kxjtt5y1YtaeMwgcOQtMGuuuXZ2GH6Zey8ByJnDg3Enp+22BQxiZca3Xpc8cFrMvPhMuhCVXiJqs/JkECheIXveSdknxnWOFMZ0sxXchkJCI1oHOBSt7Z5dGP6O7EUgS1i7S68t6x+oJ/M1C9KP2J4RoJbAS+N8EPgD5z7xW4eXcygAAAABJRU5ErkJggg==') !important;
}

/* FAVORITES BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"]:nth-of-type(2) > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABKUlEQVRYhe2W0W2DMBCG/6u6ACuEEViBFVghK2SWrJCOEEZIRoARYISvD7VVlNQYO6l48S9ZIN9x99m+szBAe+pj1+wFoAAUAEmfMQczC9qATtJsZv2Kz2sAEbXuGQSI6V0A+QJWx8p3Db9qcuO/UoSdpLsbXW4QixVJqAiBQdKXhzGzOuC3ThDbIuBMWJUbIZ2jR7ylBoAWmIArUK0spnI+E9BuWeDmInTBb8AAHP5IfnC22xLybQCLgBe//Q9wE3BJPeKcLugljWY2ewgzmyXNyriQcgA6Sb1L7o+kcsmT2zEHoJE0Shrc07/PzpamlBoAjosWOy3mT4v5Y1L8RADfYk8r5edqnoBrCkDqEYySajO7PxrcXO18Nit6Ff+3dv8jKgAFoAB8Az8yVXKXmihnAAAAAElFTkSuQmCC') !important;
}

/* HISTORY BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"]:nth-of-type(3) > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABSElEQVRYhe2WMU7DQBBFnxENHCHpkDgCgpTQR9qGkj5cKXXoKBAXCKXLcAJEEQqnBEH5KTxG1iq2J7ZRBPKXRrZnxrPfM95vJ5LYJw72uvpAYCAwEGhJIAApsAFklplvtnM1SV4bSVpKyiQtJIVSLJhvYzljb11PkmzxV0mpndeRTC23Lu/HEocUC3gCjoFzZ2NT4Au47GMEkvRe8USquGdso7rtqwNlJFEsYTsWwCkNXfPsgiQyL+6Bk8biHT/HdR3wxDsL0Qe5LrSGl8Cown8DzCtIBHKxqsWhY/FC9aZbYg92nEfXANfAS2N1xzY8s21Yp25B0mMkSFmklq23IcASOAIuPMnkXfsErvroQCEsvyLF3pdwDUzsqZ7JRSaU4gG4A1bkEjwB3lyVnR2I553ajAtk5pvtWq+rEHXGn/wjGggMBP4XgW8u5I+8k7PIEwAAAABJRU5ErkJggg==') !important;
}

/* LAN BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"]:nth-of-type(4) > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABIklEQVRYhe2WsU3EQBAAx4gYGoAqEEWYDiiAN13QBJQAT0oCFOGQDj54iBDJQzYEbHAYS6x5oxfIK6183tu7nT3trV2pbFK2Nhp9ApgAJoAfAtRACzwChi7DVv82wBy4ivEOcB26G7bL8MmLmtW5ulJn6rm6KOYW6kXMrcI3tW82+JH6FgFQH9S7Yv42bKgn6rNaZ/aukt+CFjgYdLQfaw6/c8rWwB7QAFUoxbjP1gD7mY2zJ2ARpO896/NFtpPBy2fXvpZkACCRCZ+BZsDTmABZKSHazIKxW3EFnAIvwFlqReKumuwVqs3QRpS5BalqDr9X4AY4TmVP7hoOqfYauB/gnyrCvuyzpzIKQDdwd7wWyFCAUbIu5U/+EU0AE8D/AngH3hNicOQErqYAAAAASUVORK5CYII=') !important;
}

/* FRIENDS BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SwitchTabButton_"]:nth-of-type(5) > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABCUlEQVRYhe2WsW3DMBREn1LZmyQNXcdbZIIE9lIp4wm0BcsUauRBpCTdpfAnoAgSTEmUDQQ8gMAn+al/4B1JFZK4Jx7uWj0TyAQygYQEPNACjcXulgQ8sAGegT2wBd6jV0ta2lpJrtPf2VjU+jU8MOluLxK8BUGCN+t/AD9c5LiOBBIcbcsDGkmH2PVTi3kr1lgcipfmA2dxa3NJCXhJn2YyZ3Eo3s8tJdWpCTT663ZnW+4GcsNc0lNQWOviC6gGcquB3OGPKv4UeC6XzKv1T8A3sW4fwwQJDiZDwCS3L/XA0QqWmun2sRYrwRmogZfeeAk8AY9rS7DY7Ut3YDX8mx+STCATyARm4xdvvkI9tD735wAAAABJRU5ErkJggg==') !important;
}

/* REFRESH BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_TopControlsCtr_"] button[class*="serverbrowserdialog_SearchButton_"] > svg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABTElEQVRYhe3WzypFURTH8c9V6hooETERGcgrEANGTJWJV7ieBm9gIg9gZCRKGZspXYXyJxMiahucrfw9Z5+LROdXa3D2Xmvt71l7r7NPLYTgN9X2q6tXABVABVASILyxl+rBOuZ/EqCOPdx+MHeHxwix9VMA+7jG2AdzN1hEP4Zxkpq0lvgp3sYo+uJzQC3H/wIHmCrMHEIosumQqZ7g+2wdMWa6yDelAts4xULh27zWhmxLJvOcUs7AIFZLLg4rMTZXKRU4jYkeSgK0o4mBPKeUCtS87/sUFR3UZIB7jLcAMB5jvwzQRKMFgEaMzVdCS8200Ib172xD2MGIrK1SdIZDTBQ5pgLAJa5ke3v+iU8vdtEtu6AKVeYu6MGxbF/XMIvOaHNxrBl9khanXAWeNYslDKErjl3jCMvYLJOsFYBv1Z/6I6oAKoD/CfAE88IOHrVTWeoAAAAASUVORK5CYII=') !important;
}

/* SERVER PANE */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] {
  gap: 16px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] {
  gap: 16px !important;
}

/* SERVER LIST */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background: transparent !important;
  border: unset !important;
  gap: 0px !important;
}

/* HEADER */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderCtr_"] {
  background: transparent !important;
  padding: 0px !important;
  line-height: 32px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderSort_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderSort_"]:hover {
  color: rgb(var(--color-sub)) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderSort_"]:hover svg {
  filter: brightness(0.57) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderSort_"]:active {
  color: rgb(var(--color-disabled)) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderSort_"]:active svg {
  filter: brightness(0.36) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerListHeaderRow_"] {
  gap: 8px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] div[role=rowgroup] {
  padding-right: 24px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] svg[class*="serverbrowserdialog_SortCaret_"] {
  width: 32px !important;
  height: 32px !important;
  margin-left: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] svg[class*="serverbrowserdialog_SortCaret_"]:has(path[d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
  transform: rotate(180deg) !important;
}

/* SELECT COLUMNS */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectColumnsButton_"] {
  width: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectColumnsButton_"] {
  background: transparent !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectColumnsButton_"]:hover {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectColumnsButton_"]:active {
  background: rgba(var(--color-white), 0.2) !important;
}

/* SERVERS */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"]:not([class*="serverbrowserdialog_SelectedRow_"]):hover {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"]:not([class*="serverbrowserdialog_SelectedRow_"]):active {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectedRow_"] {
  background: rgba(var(--color-primary), 0.5) !important;
  color: rgb(var(--color-text)) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"]:not([class*="serverbrowserdialog_SelectedRow_"])::after {
  content: "" !important;
  width: 24px !important;
  height: 32px !important;
  position: relative !important;
  right: 0px !important;
  margin-right: -24px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"]:not([class*="serverbrowserdialog_SelectedRow_"]):hover::after {
  background: rgba(var(--color-white), 0.1) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"]:not([class*="serverbrowserdialog_SelectedRow_"]):active::after {
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SelectedRow_"]::after {
  content: "" !important;
  width: 24px !important;
  height: 32px !important;
  position: relative !important;
  right: 0px !important;
  margin-right: -24px !important;
  background: rgba(var(--color-primary), 0.5) !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] > div > div {
  display: flex !important;
  flex-wrap: wrap !important;
  height: auto !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"] {
  gap: 8px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
  height: 32px !important;
  top: unset !important;
  transform: none !important;
  position: relative !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ServerRow_"] > div:not(:last-of-type) {
  padding-right: 8px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_RadioButtonColumn_"] {
  width: 32px !important;
  padding-left: 0px !important;
}

/* RADIO BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] .DialogRoundCheckboxField {
  width: 32px !important;
  height: 32px !important;
}

.DialogRoundCheckboxField_Control {
  background-color: transparent !important;
  width: 20px !important;
  height: 20px !important;
  margin: auto !important;
  margin-top: 8px !important;
}

.DialogRoundCheckboxField_OuterCircle {
  background: transparent !important;
  border: 2px solid rgba(var(--color-white), 0.8) !important;
  height: 20px !important;
  width: 20px !important;
  margin: 0px !important;
  appearance: unset !important;
  border-radius: 50% !important;
}

.DialogRoundCheckboxField_OuterCircle:hover {
  border-color: rgb(var(--color-white)) !important;
}

.DialogRoundCheckboxField_OuterCircle:active {
  filter: saturate(0) brightness(0.6) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_OuterCircle {
  border-color: rgb(var(--color-primary)) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_OuterCircle:active {
  border-color: rgb(var(--color-white)) !important;
  filter: saturate(0) brightness(0.6) !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle {
  content: "" !important;
  background: rgba(var(--color-white), 0.8) !important;
  border-radius: 25px !important;
  display: block !important;
  position: relative !important;
  height: 10px !important;
  width: 10px !important;
}

.DialogRoundCheckboxField_Control.Active .DialogRoundCheckboxField_InnerCircle:hover {
  background-color: rgb(var(--color-white)) !important;
}

/* ICONS */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_PasswordColumn_"], [class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_BotsColumn_"], [class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SecureColumn_"] {
  width: 32px !important;
  max-width: 32px !important;
  min-width: 32px !important;
  height: 32px !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_PasswordColumn_"] svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABIklEQVRYhe2WMVLDMBBFnxguQEfFDTgCfVzDFSLOwIXIOcgVMDUlqRJonPJTZDOjBButMvZkYLQzO5JXa+/TtyQ7SOKcdnHW6hWgAlSAQoAGaIEOkLWtxScHWJivgXsgAA/ABni2sdNMUs4bSRtJcWA82njjeNYPD46juLWZ3gEri10f5SyBK+B2CgW6ZHYrSR8DKnVTKSB273ysvAPzLMItMMvkzICv0uJegHfgKZNzw06BWExQsAseM3lR0qcj78C9iQtJa0nLZEE2kl6OFl+0vKEtezLAvuCrFZS1b9bvU8IFUbxtejy1fWzuVWIMgBQkvZ5L2ubu85wD7vWc9EMS+/VsGPNzHHLF+uxyRIDU3LJOAVCkwp/6I6oAFeB/AnwDFTjiJnqWO8sAAAAASUVORK5CYII=') !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_BotsColumn_"] svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABtElEQVRYhe3Wv2oUURQG8F+MtWAajZVoYWEhiZZizL9KfQkJ9mJv3DyAvkBSiUVSiWZjISiYlBFBi2At7KbeF/gs5i6MUbOzISEoe+Ay95575rvfnH93xpI4TTlzqqePCIwIjAgckcA81vGpptvBBhZPmsALvML3sl5BC8EeXuL5MIBnhyTwDdfwFLfwoejnsFt0e8MAjjVsxSv4gS94i8m/2HVwDzdxHY8HIicZNBaSdJO0k3SSLB9iu1Js2kn2k8wPwm9CYL0AH9SvlUO6ZX5wv5VkYxB+kyScxF1VfPuyhou4j9vFZrW2v6jKiwvHEQJJniTp1dadJFNJriS5Wkantt9L8qwJdtMqOP8H3Xh5jmHC7yU9roE0CcE2ZlQu7cuWqv4ncA7L2Kztz2HWr83qyAQ6+Kiq874sYR9v0Ea36Pqyq+oR3YHoQ5ThZolzq0EZbpV3FgbhN21ELVUj+orXuHSItx5gyjE2ovp4mORdmU+XbO/VvrSdZGkYzGHvgsu4UTwyq7p4eqokvINpfB4GsGkI6jKPR6pGNFN02yr3r+L9SRM4Vvkn/4hGBEYE/i8CPwHyVDsu32fdmgAAAABJRU5ErkJggg==') !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_SecureColumn_"] svg {
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
  padding: 0px !important;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABDUlEQVRYhe2Vf23DMBCFn8fAFFoIpRAKwVIKwRIKobBCCIUUwrc/8ip5kVe7aqpuky2dIjvv7j7/OgdA72wfb83eABpAA6gBCCF8M0lR0iSJxCZJMaN9HkCSgAh0wCRp8fAxrFmO7i/AZF2syu7gJbu1BRiB09bP/ZP/L4lPMX6oKMWEzHqmfrnlZhUU9+H3H8IGIOkK9I8Etf66F8BFUvcIgPWXKmXFVel9teJPfpvxaH1fcw3LgjXoJzBWAozAXDm5aoCDZzXcAwAG6w67AjhY7+p2zgE4OemB3RXAATvPcLsdtxLcbcb3BUgO2eyEZ39nMg/QSwAy+z3c0RSt5jF6afsTpbgBNID/DfAFL9unZq/RH6gAAAAASUVORK5CYII=') !important;
}

/* SEPARATOR */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ColumnResizer_"] {
  width: 1px !important;
  margin: 0px !important;
  padding: 0px !important;
  background: rgba(var(--color-white), 0.2) !important;
  opacity: 0 !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_ServerList_"] [class*="serverbrowserdialog_ColumnResizer_"] span {
  width: 0px !important;
  border-left: unset !important;
}

/* FILTERS */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_FilterOptionsCtr_"] {
  gap: 32px !important;
  padding: 0px !important;
  height: auto !important;
  align-items: flex-start !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_FilterOptionsCtr_"][class*="serverbrowserdialog_Collapsed_"] {
  height: 0px !important;
  padding: 0px !important;
  display: none !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] ._DialogInputContainer:not([class*="dropdown_DialogDropDownMenu_"]):not(.DialogToggleField):not(.DialogSlider_Container) {
  min-width: unset !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_DropdownLabel_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 32px !important;
}

[class*="serverbrowserdialog_FilterOptionsLatencyAntiCheatCtr_"] {
  align-self: flex-start !important;
}

[class*="serverbrowserdialog_FilterOptionsCheckboxesCtr_"] {
  display: grid !important;
  gap: 0px !important;
  align-self: flex-start !important;
  padding-top: 32px !important;
}

/* FOOTER */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_BottomControlsRow_"] {
  height: 32px !important;
  gap: 16px !important;
  padding-top: 0px !important;
}

/* FILTER BUTTON */
[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_BottomControlsRow_"] [class*="serverbrowserdialog_ToggleShowFilterDetailsButton_"] {
  height: 32px !important;
  min-height: 32px !important;
  max-height: 32px !important;
  padding: 0px 16px !important;
  margin: 0px !important;
  min-width: fit-content !important;
}

[class*="serverbrowserdialog_ServerBrowserDialog_"] [class*="serverbrowserdialog_DialogBody_"] [class*="serverbrowserdialog_ServerTabPane_"] [class*="serverbrowserdialog_BottomControlsRow_"] [class*="serverbrowserdialog_ToggleShowFilterDetailsButton_"] svg {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}