/* SHARE DIALOG */
[class*="discussionwidget_share_controls_ctn_"] {
  margin-top: 16px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] {
  padding: 0px !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] [class*="discussionwidget_LanguageLabel_"] {
  padding: 0px 8px 0px 0px !important;
}

[class*="discussionwidget_ShareButtonContainer_"] {
  margin-top: 16px !important;
}

[class*="discussionwidget_ShareSteamBtn_"] {
  height: 38px !important;
  min-height: 38px !important;
  padding-bottom: 0px !important;
}

[class*="partnereventshared_Button_"]  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  min-width: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-small) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="partnereventshared_Button_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="partnereventshared_Button_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="discussionwidget_ShareBtn_"]>img {
  margin: 0px !important;
  height: unset !important;
  width: 38px !important;
  max-width: 38px !important;
  max-height: 38px !important;
  padding: 0px !important;
  vertical-align: middle !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(2) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABL0lEQVRYhe2WvUrEQBhFz1Ubd7FQxNZiKzs7y21EFN/BysLGN/E1fAErK8HKTsFGLBaMsFuJvkDg2owQAxYzk3XDMgeGzE9yOcmEL5Ft+sjKogX+oojFUsRiKWKxFLFYlk9M0q8GXAAV8BaOFfCZbGY7qbUyLm2/2t5uzVfJ+R2JzWzvhP6B7Ycw974wMdsD25PG+MX2OHdHunj594Gvxngg6T43dC31QttToAZWgZvGUm27AtaBW+DsX8WAWtJue1LSCMD2OXCaGp4jNrT9FPrXkq6C0B2wCWwBj6nhyvi1HgFD4Ag4lHQcxKbASThnBnykhCc/MUmTILLXWqolPf8MUm98+T5J86aIxdJbsZw61mQcqj3ARheBOXVsrvR2K4tYLEUsliIWSxGLpbdi3x7EayvUyfJ7AAAAAElFTkSuQmCC') !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(3) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABsUlEQVRYhe2Wz4tOURjHP48spjfZkJoFyUJITRZKVkrptVB6s7BUUjaK8hewR9koZWFpaWHBRlMyZWMxzYzyK5OEkoVmgfpYzFXj7b69fcmYdL916nbPeZ7v53nO6dxbKmtR6/41wCh1YKk6sFQdWKoOLFUHlioCq6qxAzgHPAZuA1uadweB/l8DA1A/q8dHzD0ATgOXgWlgWn3RPE+lRsnYp95R59ULQ3kG6uuW/IfV7+rHxCvt2E5gqap2A331mfpziwbA9ZaYWWAROBA5hR3rqa/UXhO7V32ovlQ/qEda8p9Vb6Ze66Mq4CQwCVwCLlbVLHBoTMx24HnoE3dsg7oQ5p9RJ1Ov9Lr4AjxR76mbg7h3iQ9pFc36Peo3te2gD+e+pt74Ha/0jFFVc+ojYNMYqP1Av6p2pR5xFStiJtS76pK6tSVnT50bnou8wsN/y+UL9k1zPRxrgRqoi+qJP2lCupULwHlgHrgCPFU3AjuAU8BR4C0wVVWfwty/qFZu0djFyx9k1DMNxDZgAngP3AeuVtXXUfGRV7J4NfV//I+tpjqwVB1Yqg4sVQeWas2C/QA08nPbsuziOAAAAABJRU5ErkJggg==') !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(4) > [class*="discussionwidget_ShareBtn_"]>img {
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAABzUlEQVRYhe2WT0tVURRH1416ZNbDIsknFjTIBg1yrv0lJ5IOctAHCGpoM2kkfYJyUiMnjhpEzhqHEiGOoiYpvESFRCrwC7gavD24BoHnvvsq8P5gw9377LP34pzDuSdT+R915F8D/EkVWKoqsFRVYKmqwFJ1aMEuAqeKTDxaMsg0MAF8AM4AI8BxYBjYTClU9ordA2aBZgCOAYsBmKQyV+wEra17DewBNWAF+AZMJVdTy7Ib6tvfYl1qVqRe1sZ7LANGgUngSlgN+Bg2T+usFSueCHYLmAPqtLboR/hLwFbkDADXgAeRdwHYDf/dgTslLvGaelWtq9fVPnVC7cnlnI7Yucipq0Pql5ReqWAbAYN6Ul1XF9RPcZYy9bP6Rv2qdkduX8ztGNgjdTm+B9VVtV/9GRDd8d0fY5cid1l92EmwmrqT82fVTXU6F3sSsWe52I56rJNgqO/V2zm/x/1XQub+M3dHXUrtUwRsRG3GVqK+DH8hrKm+iLHL4Q//DTDU8diuGXVAbag3wxrqefWpuqXeLdKjnQu2F3gM3Kf1z83fY3vAK+A58L1I8XbA8joLNACB7aIweZUFVroO7Qu2sCqwVFVgqarAUlWBpeoXeTXiKFv79EsAAAAASUVORK5CYII=') !important;
}

[class*="discussionwidget_SteamIcon_"] {
  max-height: 32px !important;
  max-width: 32px !important;
}

[class*="discussionwidget_SteamIcon_"] {
  display: none !important;
}

[class*="discussionwidget_ShareBtn_"]>span {
  line-height: 38px !important;
  margin: 0px 16px !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:not(:first-child) {
  margin-left: 16px !important;
}

[class*="partnereventshared_Divider_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  border-bottom: unset !important;
  height: 1px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

[class*="discussionwidget_linkField_"] {
  margin-top: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--font-size-smaller) !important;
}

[class*="discussionwidget_linkField_"] span {
  padding-left: 0px !important;
  margin-right: 8px !important;
  color: rgb(var(--color-text)) !important;
  line-height: 38px !important;
}

[class*="discussionwidget_LinkInput_"] {
  color: rgb(var(--color-sub)) !important;
  background-color: transparent !important;
  border: unset !important;
  border-radius: 0px !important;
  line-height: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="discussionwidget_ClipboardIcon_"] {
  height: 38px !important;
  width: 38px !important;
  content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAxElEQVRYhe2W0Q2DMAxEz52NFbICs2TarHD9SasUnJZrlYAqP8lCBoQfNgGMJK7I7WyBHiGmEmIqIaYSYiohphJiKpKYmQFABlAA0IkCIJsZvJAgqUQmWUgunWst9Xj+tZYqVkiuH250JVlmi7l/lU0nWfPntu3g6I6ljlSqeWo79sjrecPEXiRq4Z3U9hlr9o8RU8bmjJtDxZyChxfEbLHDr5CpYtvxOny1Ku1dwTP5j2/lTEJMJcRUQkwlxFRCTOWyYncO2E5uhvTnuAAAAABJRU5ErkJggg==') !important;
}

[class*="discussionwidget_ClipboardText_"] {
  padding-top: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
}