/* SHARE DIALOG */
[class*="discussionwidget_share_controls_ctn_"] {
  margin-top: 16px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] {
  padding: 0px !important;
}

[class*="discussionwidget_ShareLanguagePicker_"] [class*="discussionwidget_LanguageLabel_"] {
  padding: 0px 8px 0px 0px !important;
}

[class*="discussionwidget_ShareButtonContainer_"] {
  margin-top: 16px !important;
}

[class*="discussionwidget_ShareSteamBtn_"] {
  height: 38px !important;
  min-height: 38px !important;
  padding-bottom: 0px !important;
}

[class*="partnereventshared_Button_"]  {
  border-radius: 0px !important;
  letter-spacing: normal !important;
  margin: 0px !important;
  height: 38px !important;
  min-width: 38px !important;
  padding: 0px !important;
  line-height: 38px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  background: rgba(var(--color-white), 0.2) !important;
}

[class*="partnereventshared_Button_"]:hover {
  background: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="partnereventshared_Button_"]:active {
  background: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-primary)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

[class*="discussionwidget_ShareBtn_"] {
  min-height: 38px !important;
}

[class*="discussionwidget_ShareBtn_"]>img {
  height: unset !important;
  width: 16px !important;
  height: 16px !important;
  padding: 11px !important;
  margin: auto !important;
  vertical-align: middle !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(2) > [class*="discussionwidget_ShareBtn_"]>img {
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  content: var(--icon-social-facebook) !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(3) > [class*="discussionwidget_ShareBtn_"]>img {
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  content: var(--icon-social-twitter) !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:nth-child(4) > [class*="discussionwidget_ShareBtn_"]>img {
  width: 16px !important;
  height: 16px !important;
  min-width: 16px !important;
  content: var(--icon-social-reddit) !important;
}

[class*="discussionwidget_SteamIcon_"] {
  max-height: 32px !important;
  max-width: 32px !important;
}

[class*="discussionwidget_SteamIcon_"] {
  display: none !important;
}

[class*="discussionwidget_ShareBtn_"]>span {
  line-height: 38px !important;
  margin: 0px 16px !important;
}

[class*="partnereventshared_FlexRowContainer_"]>div:not(:first-child) {
  margin-left: 16px !important;
}

[class*="partnereventshared_Divider_"] {
  background-color: rgba(var(--color-white), 0.2) !important;
  border-bottom: unset !important;
  height: 1px !important;
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

[class*="discussionwidget_linkField_"] {
  margin-top: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

[class*="discussionwidget_linkField_"] span {
  padding: 0px;
  margin-right: 16px !important;
  color: rgb(var(--color-primary)) !important;
  line-height: 38px !important;
}

[class*="discussionwidget_LinkInput_"] {
  color: rgb(var(--color-secondary)) !important;
  background-color: transparent !important;
  border: unset !important;
  border-radius: 0px !important;
  line-height: 38px !important;
  height: 38px !important;
  padding: 0px !important;
}

[class*="discussionwidget_LinkButton_"] {
  height: 38px !important;
  width: 38px !important;
}

[class*="discussionwidget_ClipboardIcon_"] {
  height: 16px !important;
  width: 16px !important;
  line-height: 16px !important;
  content: var(--icon-clipboard) !important;
  margin: auto !important;
}

[class*="discussionwidget_ClipboardText_"] {
  padding-top: 16px !important;
  min-height: 16px !important;
  line-height: 16px !important;
  display: none !important;
}