/* SHUT DOWN DIALOG */
._3StXNL1HvLIJMUxfaFLdX- ._1ziaTBu8AaZL6yQ50_GkKQ {
}

._29slAFSSeZuzwWblDDcahS {
  margin-top: 0px !important;
}

._2Se5JD_UkWeIyaZiXXmxDD {
}

._3StXNL1HvLIJMUxfaFLdX- .SteamLogoThrobber {
  display: none !important;
}

/* RESTART POPUP */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogBodyText {
  line-height: 16px !important;
  font-weight: 400 !important;
}