._3v2Gg_GCpLHpHQDLFQ7cvI ._2TaU1qJcGZu77jX5M0E6V4 {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding-top: 16px !important;
  line-height: 22px !important;
}

._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m ._3f3VJUtyLXUf_JDFE-BaQ6 {
  border-radius: 0px !important;
  border: unset !important;
  background: transparent !important;
  gap: 16px !important;
}

._3v2Gg_GCpLHpHQDLFQ7cvI ._3f3VJUtyLXUf_JDFE-BaQ6 {
  margin: 0px !important;
  padding: 0px !important;
}

._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m ._3f3VJUtyLXUf_JDFE-BaQ6 .RRhNQ2haTbK9z71YoH2R3 {
  padding: 0px !important;
  color: rgb(var(--color-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  line-height: 22px !important;
}

._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m ._3f3VJUtyLXUf_JDFE-BaQ6 h3 {
  font-size: var(--size-14) !important;
  margin: 0px !important;
}