/* SHARE SCREENSHOT DIALOG */
._3VEppdkXPehWVeTfx69Umz {
  padding: 0 !important;
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
}

._3VEppdkXPehWVeTfx69Umz .DialogBodyText {
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
}

._23tKRnY9YdMGRx3wKBAhUk {
  margin-top: 0 !important;
  line-height: 32px !important;
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-16) !important;
  font-weight: 400 !important;
}

.qFjVwKFidyZdbmIhaENhV {
  color: var(--zehn-color-input-dialog-text) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
  background: var(--zehn-color-input-dialog-background) padding-box !important;
  /* outline: 2px solid var(--zehn-color-input-dialog-border) !important; */
  border: 2px solid var(--zehn-color-input-dialog-border) !important;
  /* outline-offset: -2px !important; */
  border: unset !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 100% !important;
  box-sizing: border-box !important;
  line-height: 16px !important;
  /* padding: 8px 12px !important; */
  padding: 6px 10px !important;
  min-height: 32px !important;
}

.qFjVwKFidyZdbmIhaENhV:hover {
  background: var(--zehn-color-input-dialog-background-hover) padding-box !important;
  /* outline-color: var(--zehn-color-input-dialog-border-hover) !important; */
  border-color: var(--zehn-color-input-dialog-border-hover) !important;
}

.qFjVwKFidyZdbmIhaENhV:active {
  background: var(--zehn-color-input-dialog-background-active) padding-box !important;
  /* outline-color: var(--zehn-color-input-dialog-border-active) !important; */
  border-color: var(--zehn-color-input-dialog-border-active) !important;
}

.qFjVwKFidyZdbmIhaENhV:focus {
  background: var(--zehn-color-input-dialog-background-focus) padding-box !important;
  /* outline-color: var(--zehn-color-input-dialog-border-focus) !important; */
  border-color: var(--zehn-color-input-dialog-border-focus) !important;
  color: var(--zehn-color-input-dialog-text-focus) !important;
}

.qFjVwKFidyZdbmIhaENhV::placeholder {
  color: var(--zehn-color-text-secondary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
}

._1YSUb8lHNSsEDymVRFs1Wr {
  margin-top: 0 !important;
  line-height: 32px !important;
  margin-bottom: 0 !important;
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-16) !important;
  font-weight: 400 !important;
}

._1BSXpAMT-4rVQY0bODPkns {
  background-color: transparent !important;
  padding: 0 !important;
}

._DialogInputContainer.tmUAvk1vPJX3nbosvTJ87 {
  margin-top: 0 !important;
  padding: 0 !important;
}

._DialogInputContainer.tmUAvk1vPJX3nbosvTJ87, ._DialogInputContainer.tmUAvk1vPJX3nbosvTJ87:hover, ._DialogInputContainer.tmUAvk1vPJX3nbosvTJ87:active {
  background: transparent !important;
  outline: none !important;
}

._2_qlCGMjaj9ByEtraNefWR {
  color: var(--zehn-color-text-secondary) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: 400 !important;
  padding-top: 0 !important;
  line-height: 16px !important;
}