/* SHARE SCREENSHOT DIALOG */
[class*="sharescreenshotupload_ShareScreenshotDialog_"] {
  padding: 0px !important;
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
}

[class*="sharescreenshotupload_ShareScreenshotDialog_"] .DialogBodyText {
  display: flex !important;
  gap: 16px !important;
  flex-direction: column !important;
}

[class*="sharescreenshotupload_CaptionHeader_"] {
  margin-top: 0px !important;
  line-height: 32px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"] {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: transparent !important;
  border-radius: 0px !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
  border: unset !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  line-height: 20px !important;
  padding: 9px 12px !important;
  min-height: 38px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:hover {
  background: transparent !important;
  outline: 2px solid rgba(var(--color-white), 0.65) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:active {
  background: rgba(var(--color-white), 0.3) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]:focus {
  outline-offset: -2px !important;
  background: rgb(var(--color-white)) !important;
  outline: 2px solid rgb(var(--color-primary)) !important;
  color: rgb(var(--color-black)) !important;
}

[class*="sharescreenshotupload_CaptionTextArea_"]::placeholder {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_VisibilityHeader_"] {
  margin-top: 0px !important;
  line-height: 32px !important;
  margin-bottom: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
}

[class*="sharescreenshotupload_RadioButtonGroup_"] {
  background-color: transparent !important;
  padding: 0px !important;
}

._DialogInputContainer[class*="sharescreenshotupload_Spoiler_"] {
  margin-top: 0px !important;
  padding: 0px !important;
}

._DialogInputContainer[class*="sharescreenshotupload_Spoiler_"], ._DialogInputContainer[class*="sharescreenshotupload_Spoiler_"]:hover, ._DialogInputContainer[class*="sharescreenshotupload_Spoiler_"]:active {
  background: transparent !important;
  outline: none !important;
}

[class*="sharescreenshotupload_CloudStorageMessage_"] {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
  line-height: 16px !important;
}