// GLOBAL OVERRIDES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

* {
  -webkit-font-smoothing: antialiased !important;
  -webkit-box-shadow: none !important;
  text-rendering: geometricPrecision !important;
  box-shadow: none !important;
  font-family: var(--zehn-font-family) !important;
  text-shadow: none !important;
  letter-spacing: normal !important;
  font-variant-emoji: text !important;
}

// NUKE SUBPIXEL COLOR FRINGING
._14wqdluDeDnnEcg3OSLEmd * {
  text-shadow: 0 0 0 transparent !important;
  transform: translateZ(0);
  will-change: transform;
}

::-webkit-resizer {
  display: none !important;
}

:focus-visible {
  outline: none !important;
}

::selection {
  background: var(--zehn-color-accent) !important;
  text-shadow: none !important;
  color: var(--zehn-color-text1) !important;
}

// VANILLA STEAM VARIABLES
:root {
  --virtualmenu-accent: var(--zehn-color-accent);
  --virtualmenu-bg: transparent;
  --virtualmenu-bg-hover: var(--zehn-color-accent-50);
  --virtualmenu-fg: var(--zehn-color-text1);
  --virtualmenutouchkey-icon-width: 100%;
  --virtualmenutouchkey-icon-height: 100%;
  --virtualmenupointer-x: 0%;
  --virtualmenupointer-y: 0%;
  --virtualmenupointer-color: var(--zehn-color-accent);
  --virtualmenutouchkey-midpoint-x: 0%;
  --virtualmenutouchkey-midpoint-y: 0%;
  --virtualmenutouchkey-description-width: 0;
  --touchmenuicon-fg: var(--zehn-color-text1);
  --touchmenuicon-bg: transparent;
  --touchmenuicon-scale: 1;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TEXT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

body,
body._2LxgdMcpWJRjkxZKbmeEEb {
  color: var(--zehn-color-text1) !important;
}

._3TPGDj4kc0QGKvO8FJmGz8,
._3TPGDj4kc0QGKvO8FJmGz8.BB_Italic {
  font-style: italic !important;
}

._3cln317VYhwhE1fSeMCG48,
._3cln317VYhwhE1fSeMCG48.BB_Bold {
  font-weight: var(--zehn-weight-thickest) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

table,
th,
td,
tbody,
thead,
tr {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  padding: 0px !important;
}

tr {
  gap: var(--zehn-size-spacing-xs) !important;
}

.DialogSpanningTable.BannedUsersTable tr.hoverRow,
.DialogSpanningTable.InvitedUsersTable tr.hoverRow,
.DialogSpanningTable.InviteLinksTable tbody tr {
  background: var(--zehn-color-table-odd) !important;
  height: var(--zehn-size-table-entry-large) !important;
  min-height: var(--zehn-size-table-entry-large) !important;
}

.DialogSpanningTable.BannedUsersTable tr.hoverRow:nth-child(2n),
.DialogSpanningTable.InvitedUsersTable tr.hoverRow:nth-child(2n),
.DialogSpanningTable.InviteLinksTable tbody tr:nth-child(2n) {
  background: var(--zehn-color-table-even) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// BBCODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.SPYFj8pCLpNmnuQJEDobC,
h1,
._2LYsFAwy8wdRJQTNJOUcsT,
.BB_Header1 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-24) !important;
  line-height: normal !important;
}

// EVENT OVERLAY
.QuKtTJ4LCPUlQeWYfLNyX,
h2,
._6-VR2WCBCDupCcUN5INQM,
.BB_Header2 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-22) !important;
  line-height: normal !important;
}

._3s7cUqglDds9wzcWb7OLz6,
h3,
._1sGnlGwCeaGUp63h4Lx-pU,
.BB_Header3 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-20) !important;
  line-height: normal !important;
}

h4,
._3VHY5vmO07MFpoOgTB9eOi,
.BB_Header4 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-18) !important;
  line-height: normal !important;
}

h5,
._1Vk-9-C_y-lBA5ucPl6t8X,
.BB_Header5 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-16) !important;
  line-height: normal !important;
}

p,
._3lnqGBzYap-Z2T81XBiBUU {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  line-height: normal !important;
}

// BULLETS
._3Y-LRoi5aeZ9-3ujWjXuG3,
.bullets {
  padding: 0px !important;
  margin: 0px !important;

  // BULLET
  ._1iXxYKOlzzXiVr02E7n2Fe {
    list-style-position: inside !important;
    margin: 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~