// CONTAINER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// LIBRARY CONTROLS WRAPPER
._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
  flex: 0 1 calc(var(--zehn-size-titlebar-control) * 3) !important;
  min-width: calc(var(--zehn-size-titlebar-control) * 3) !important;
  margin-left: auto !important;
}

// CONTROLS POSTIION
.TitleBar,
.ModalDialogPopup .title-area {
  right: 0 !important;
  top: 0 !important;
  left: 0 !important;
}

.ModalPosition_Dismiss {
  right: 0 !important;
  top: 0 !important;
}

// TITLE CONTAINER
.title-area {
  padding: 0 !important;
  margin: 0 !important;
  border-radius: var(--zehn-size-radius-none) !important;
  height: var(--zehn-size-titlebar) !important;
  min-height: var(--zehn-size-titlebar) !important;
  max-height: var(--zehn-size-titlebar) !important;
}

// LIBRARY TITLE CONTAINER
._3Z7VQ1IMk4E3HsHvrkLNgo .title-area {
  height: var(--zehn-size-navbar) !important;
  min-height: var(--zehn-size-navbar) !important;
  max-height: var(--zehn-size-navbar) !important;
}

// OUTER CONTAINER
.title-bar-actions {
  pointer-events: all !important;
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  height: var(--zehn-size-titlebar) !important;
  min-height: var(--zehn-size-titlebar) !important;
  max-height: var(--zehn-size-titlebar) !important;
}

// LIBRARY OUTER CONTAINER
._3Z7VQ1IMk4E3HsHvrkLNgo .title-bar-actions {
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  height: var(--zehn-size-navbar) !important;
  min-height: var(--zehn-size-navbar) !important;
  max-height: var(--zehn-size-navbar) !important;
}

// ICON CONTAINER
.title-area-icon-inner {
  width: 100% !important;
}

// ICONS
.title-area-icon.minimizeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-minimize) !important;
}

.title-area-icon.maximizeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-maximize) !important;
}

.title-area-icon.restoreButton svg {
  -webkit-mask-image: var(--zehn-icon-window-restore) !important;
}

.ModalPosition_Dismiss .closeButton svg,
.title-area-icon.closeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-close) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// OVERLAY WINDOW TITLEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// OVERLAY TITLEBAR WRAPPER
._2O7tjQ9VWj5nhZ0y-pdpX2 {
  height: var(--zehn-size-titlebar) !important;
  width: 100% !important;
  position: absolute !important;
  margin: 0 !important;
  -webkit-app-region: drag !important;
  background: transparent !important;
  box-sizing: border-box !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

// TITLEBARS IN WINDOWS OTHER THAN NOTES SHOULD BE RELATIVE (DEFAULT BEHAVIOR)
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  height: var(--zehn-size-titlebar) !important;
  position: relative !important;
  z-index: 6 !important;
}

// POPUP TITLEBAR ???
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R:has(.GamepadMode) ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

// ORDER
._2O7tjQ9VWj5nhZ0y-pdpX2 .title-area-children {
  order: 1 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.extra-actions {
  order: 2 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.window-controls {
  order: 3 !important;
}

// SUB CONTAINERS
.C9tvuqqEXGcrkcAtHrQ_R .title-area-children {
  line-height: var(--zehn-size-titlebar) !important;
  margin: 0 !important;
  padding: var(--zehn-size-titlebar-text-padding) !important;
  font-size: var(--zehn-size-titlebar-text) !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R .title-area-icon,
.C9tvuqqEXGcrkcAtHrQ_R .title-bar-actions {
  max-width: none !important;
  width: unset !important;
}

// ICONS - PIN
.C9tvuqqEXGcrkcAtHrQ_R ._3EcEdRFCaMHk3xQ16qirtm svg {
  -webkit-mask-image: var(--zehn-icon-pin) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R ._3EcEdRFCaMHk3xQ16qirtm._1dJ6yrpvLYTTBOt2IhFPua svg {
  -webkit-mask-image: var(--zehn-icon-pinned) !important;
}

// ICONS - SYNC
.C9tvuqqEXGcrkcAtHrQ_R ._2yvoVvrGHYXwux1bLxYc9p svg {
  -webkit-mask-image: var(--zehn-icon-sync) !important;
}

// ICON - OPACITY
.C9tvuqqEXGcrkcAtHrQ_R ._2J5BIjURexcIYfVhbHmgRT svg {
  -webkit-mask-image: var(--zehn-icon-visibility) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// UNFOCUS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TITLEBAR CONTROLS
body:not(.WindowFocus) .ModalPosition_Dismiss .closeButton:not(:hover) svg,
body:not(.WindowFocus) .title-area-icon:not(.closeButton:hover) .title-area-icon-inner svg {
  background-color: var(--zehn-color-icon3) !important;
}

// ROOTMENU
body:not(.WindowFocus) ._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
  color: var(--zehn-color-text3) !important;
}

// NAVBAR MENU
body:not(.WindowFocus) #zehnToggleNavigation {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// NAVBAR DIRECTION CONTROLS
body:not(.WindowFocus) #zehnBackwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3),
body:not(.WindowFocus) #zehnForwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3) {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// NAVBAR BUTTONS
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm,
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm * {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// FORMER BOTTOMBAR - ADD GA<E / FRIENDS & CHAT
body:not(.WindowFocus) ._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k,
body:not(.WindowFocus) ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
  color: var(--zehn-color-text3) !important;
}

// DOWNLOADS PROGRESS
body:not(.WindowFocus) .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y,
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm ._2_FomluqqgQ2Hx8ON3AVep {
  color: var(--zehn-color-text3) !important;
}

// ACCOUNT
body:not(.WindowFocus) ._3yD46y5pd3zOGR7CzKs0mC {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// NO CONNECTION
body:not(.WindowFocus)  ._2EQ7ghgqIdjKv9jsQC0Zq9>.ip-YZhijAMZcuRoXBGiye>._1sCy-pm412Smb0wJx0W-4 {
  color: var(--zehn-color-text3) !important;
}

// LOW DISK
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm ._2Wnj2MoFgxo_2MhcLG5FwU {
  color: var(--zehn-color-text3) !important;
}

// ACCOUNT ALERT
body:not(.WindowFocus) ._32TmRVFkc8HMIUZ-KnnKby._3E5iVG630BkOHTaJJaMEMw {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// THEATER MODE
body:not(.WindowFocus) #zehnToggleTheaterMode {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// NAVBAR EXPANDER
body:not(.WindowFocus) #zehnToggleExpandedNavbar {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// FRIENDS - MENU
body:not(.WindowFocus) #zehnToggleFriendsHeader {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// FRIENDS - COLLAPSE
body:not(.WindowFocus) .friendCollapseButton {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// CHAT - EXPAND FRIENDS
body:not(.WindowFocus) .chatTabOpenFriendsList {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// CHAT - TAB SELECTOR
body:not(.WindowFocus) .chatTabSelector {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// NOTES
body:not(.WindowFocus) ._3LLH_F43MTu6UtG4Z3kudv,
body:not(.WindowFocus) ._1cWmu5TUWFAVHlv1EVaF8e {
  color: var(--zehn-color-text3) !important;
  --icon-color: var(--zehn-color-icon3);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~