// OVERLAY WINDOW TITLEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._2O7tjQ9VWj5nhZ0y-pdpX2 {
  height: var(--zehn-size-titlebar) !important;
  width: 100% !important;
  position: absolute !important;
  margin: 0 !important;
  -webkit-app-region: drag !important;
  background: transparent !important;
  box-sizing: border-box !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

// WINDOWS OTHER THAN NOTES SHOULD BE RELATIVE (DEFAULT BEHAVIOR)
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  height: var(--zehn-size-titlebar) !important;
  position: relative !important;
  z-index: 6 !important;
}

// ORDER
._2O7tjQ9VWj5nhZ0y-pdpX2 .title-area-children {
  order: 1 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.extra-actions {
  order: 2 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.window-controls {
  order: 3 !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// UNFOCUS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ROOTMENU
body:not(.WindowFocus) ._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y {
  color: var(--zehn-color-text-secondary) !important;
}

// NAVBAR MENU
body:not(.WindowFocus) #zehnToggleNavigation {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// NAVBAR DIRECTION CONTROLS
body:not(.WindowFocus) #zehnBackwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3),
body:not(.WindowFocus) #zehnForwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3) {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// NAVBAR BUTTONS
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm,
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm * {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// FORMER BOTTOMBAR - ADD GA<E / FRIENDS & CHAT
body:not(.WindowFocus) ._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k,
body:not(.WindowFocus) ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k {
  color: var(--zehn-color-text-secondary) !important;
}

// DOWNLOADS PROGRESS
body:not(.WindowFocus) .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y,
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm ._2_FomluqqgQ2Hx8ON3AVep {
  color: var(--zehn-color-text-secondary) !important;
}

// ACCOUNT
body:not(.WindowFocus) ._3yD46y5pd3zOGR7CzKs0mC {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// NO CONNECTION
body:not(.WindowFocus)  ._2EQ7ghgqIdjKv9jsQC0Zq9>.ip-YZhijAMZcuRoXBGiye>._1sCy-pm412Smb0wJx0W-4 {
  color: var(--zehn-color-text-secondary) !important;
}

// LOW DISK
body:not(.WindowFocus) ._3cykd-VfN_xBxf3Qxriccm ._2Wnj2MoFgxo_2MhcLG5FwU {
  color: var(--zehn-color-text-secondary) !important;
}

// ACCOUNT ALERT
body:not(.WindowFocus) ._32TmRVFkc8HMIUZ-KnnKby._3E5iVG630BkOHTaJJaMEMw {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// THEATER MODE
body:not(.WindowFocus) #zehnToggleTheaterMode {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// NAVBAR EXPANDER
body:not(.WindowFocus) #zehnToggleExpandedNavbar {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// FRIENDS - MENU
body:not(.WindowFocus) #zehnToggleFriendsHeader {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// FRIENDS - COLLAPSE
body:not(.WindowFocus) .friendCollapseButton {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// CHAT - EXPAND FRIENDS
body:not(.WindowFocus) .chatTabOpenFriendsList {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// CHAT - TAB SELECTOR
body:not(.WindowFocus) .chatTabSelector {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// NOTES
body:not(.WindowFocus) ._3LLH_F43MTu6UtG4Z3kudv,
body:not(.WindowFocus) ._1cWmu5TUWFAVHlv1EVaF8e {
  color: var(--zehn-color-text-secondary) !important;
  --icon-color: var(--zehn-color-icon-secondary);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~