// CONTAINER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// LIBRARY CONTROLS WRAPPER
._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
  flex: 0 1 calc(var(--zehn-size-titlebar-control) * 3) !important;
  min-width: calc(var(--zehn-size-titlebar-control) * 3) !important;
  margin-left: auto !important;
}

// CONTROLS POSTIION
.TitleBar,
.ModalDialogPopup .title-area {
  right: 0px !important;
  top: 0px !important;
  left: 0px !important;
}

.ModalPosition_Dismiss {
  right: 0px !important;
  top: 0px !important;
}

// TITLE CONTAINER
.title-area {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  height: var(--zehn-size-titlebar) !important;
  min-height: var(--zehn-size-titlebar) !important;
  max-height: var(--zehn-size-titlebar) !important;
}

// LIBRARY TITLE CONTAINER
._3Z7VQ1IMk4E3HsHvrkLNgo .title-area {
  height: var(--zehn-size-navbar) !important;
  min-height: var(--zehn-size-navbar) !important;
  max-height: var(--zehn-size-navbar) !important;
}

// OUTER CONTAINER
.title-bar-actions {
  pointer-events: all !important;
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  height: var(--zehn-size-titlebar) !important;
  min-height: var(--zehn-size-titlebar) !important;
  max-height: var(--zehn-size-titlebar) !important;
}

.title-area .title-bar-actions {
  margin: 0px !important;
}

// LIBRARY OUTER CONTAINER
._3Z7VQ1IMk4E3HsHvrkLNgo .title-bar-actions {
  width: fit-content !important;
  min-width: fit-content !important;
  max-width: fit-content !important;
  height: var(--zehn-size-navbar) !important;
  min-height: var(--zehn-size-navbar) !important;
  max-height: var(--zehn-size-navbar) !important;
}

// ICON CONTAINER
.title-area-icon-inner {
  width: fit-content !important;
  height: fit-content !important;
  transition: none !important;
}

// ICONS
.title-area-icon.minimizeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-minimize) !important;
}

.title-area-icon.maximizeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-maximize) !important;
}

.title-area-icon.restoreButton svg {
  -webkit-mask-image: var(--zehn-icon-window-restore) !important;
}

.ModalPosition_Dismiss .closeButton svg,
.title-area-icon.closeButton svg {
  -webkit-mask-image: var(--zehn-icon-window-close) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// OVERLAY WINDOW TITLEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// OVERLAY TITLEBAR WRAPPER
._2O7tjQ9VWj5nhZ0y-pdpX2 {
  min-height: var(--zehn-size-titlebar) !important;
  height: var(--zehn-size-titlebar) !important;
  width: 100% !important;
  position: absolute !important;
  margin: 0px !important;
  -webkit-app-region: drag !important;
  background: transparent !important;
  box-sizing: border-box !important;
  top: 0px !important;
  left: 0px !important;
  right: 0px !important;
}

// TITLEBARS IN WINDOWS OTHER THAN NOTES SHOULD BE RELATIVE (DEFAULT BEHAVIOR)
.ModalDialogPopup:not(._20pOdcUEtPsMIA8YXWGQim) .C9tvuqqEXGcrkcAtHrQ_R ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  height: var(--zehn-size-titlebar) !important;
  position: relative !important;
  z-index: 6 !important;
}

// OVERLAY CONTROLLER SETTINGS TITLEBAR
.QsvsRVwbsApgKt1MhM0fz.l25AfossKXBOZGYoty0tM .C9tvuqqEXGcrkcAtHrQ_R ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
}

// ORDER
._2O7tjQ9VWj5nhZ0y-pdpX2 .title-area-children {
  order: 1 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.extra-actions {
  order: 2 !important;
}

._2O7tjQ9VWj5nhZ0y-pdpX2 .title-bar-actions.window-controls {
  order: 3 !important;
}

// SUB CONTAINERS
.C9tvuqqEXGcrkcAtHrQ_R .title-area-children {
  line-height: var(--zehn-size-titlebar) !important;
  margin: 0px !important;
  padding: var(--zehn-size-titlebar-text-padding) !important;
  font-size: var(--zehn-size-titlebar-text) !important;
  color: var(--zehn-color-text-page-title) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R .title-area-icon,
.C9tvuqqEXGcrkcAtHrQ_R .title-bar-actions {
  max-width: none !important;
  width: unset !important;
}

// ICONS - PIN
.C9tvuqqEXGcrkcAtHrQ_R ._3EcEdRFCaMHk3xQ16qirtm svg {
  -webkit-mask-image: var(--zehn-icon-pin) !important;
}

.C9tvuqqEXGcrkcAtHrQ_R ._3EcEdRFCaMHk3xQ16qirtm._1dJ6yrpvLYTTBOt2IhFPua svg {
  -webkit-mask-image: var(--zehn-icon-pinned) !important;
}

// ICONS - SYNC
.C9tvuqqEXGcrkcAtHrQ_R ._2yvoVvrGHYXwux1bLxYc9p svg {
  -webkit-mask-image: var(--zehn-icon-sync) !important;
}

// ICON - OPACITY
.C9tvuqqEXGcrkcAtHrQ_R ._2J5BIjURexcIYfVhbHmgRT svg {
  -webkit-mask-image: var(--zehn-icon-visibility) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// UNFOCUS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

body:not(.WindowFocus) {
  // NAVBAR GLOBAL BUTTON ICON COLOR OVERRIDE
  ._3Z7VQ1IMk4E3HsHvrkLNgo * {
    --icon-color: var(--zehn-color-icon3);
  }

  // TITLEBAR CONTROLS
  .ModalPosition_Dismiss .closeButton:not(:hover) svg,
  .title-area-icon:not(.closeButton:hover) .title-area-icon-inner svg {
    background-color: var(--zehn-color-icon3) !important;
  }

  // ROOTMENU
  ._39oUCO1OuizVPwcnnv88no ._3s0lkohH8wU2do0K1il28Y,
  // NAVBAR MENU
  #zehnToggleNavigation,
  // NAVBAR DIRECTION CONTROLS
  #zehnBackwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3),
  #zehnForwardsWrapper:has(._1LYTHQzcI1u6tcxbbcc5V3),
  // NAVBAR BUTTONS
  ._3cykd-VfN_xBxf3Qxriccm,
  // FORMER BOTTOMBAR - ADD GAME / FRIENDS & CHAT
  ._2foCkpRXhqq0UGVE50BWqj ._3OhUxFVlQYr9W5ThxstR8k,
  ._1TdaAqMFadi0UTqilrkelR ._3OhUxFVlQYr9W5ThxstR8k,
  // DOWNLOADS PROGRESS
  .ip-YZhijAMZcuRoXBGiye ._3wJnTtcTLEp0R7eQj_mK8Y,
  ._3cykd-VfN_xBxf3Qxriccm ._2_FomluqqgQ2Hx8ON3AVep,
  // ACCOUNT
  ._3yD46y5pd3zOGR7CzKs0mC,
  // NO CONNECTION
  body:not(.WindowFocus)  ._2EQ7ghgqIdjKv9jsQC0Zq9>.ip-YZhijAMZcuRoXBGiye>._1sCy-pm412Smb0wJx0W-4,
  // LOW DISK
  ._3cykd-VfN_xBxf3Qxriccm ._2Wnj2MoFgxo_2MhcLG5FwU,
  // ACCOUNT ALERT
  ._32TmRVFkc8HMIUZ-KnnKby._3E5iVG630BkOHTaJJaMEMw,
  // THEATER MODE
  #zehnToggleTheaterMode,
  // NAVBAR EXPANDER
  #zehnToggleExpandedNavbar {
    color: var(--zehn-color-text3) !important;
  }

  // FRIENDS - MENU
  #zehnToggleFriendsHeader,
  // FRIENDS - COLLAPSE
  .friendCollapseButton,
  // FRIENDS - COLLAPSE
  ._1tN7mH20YhTaXLqtoW2hR- {
    color: var(--zehn-color-text3) !important;
    --icon-color: var(--zehn-color-icon3);
  }

  // CHAT - EXPAND FRIENDS
  .chatTabOpenFriendsList,
  // CHAT - TAB SELECTOR
  .chatTabSelector,
  // CHAT - BROADCAST - RESTORE CHAT
  .TheaterMode .BroadcastChatExpander {
    color: var(--zehn-color-text3) !important;
    --icon-color: var(--zehn-color-icon3);
  }

  // NOTES
  ._3LLH_F43MTu6UtG4Z3kudv,
  ._1cWmu5TUWFAVHlv1EVaF8e {
    color: var(--zehn-color-text3) !important;
    --icon-color: var(--zehn-color-icon3);
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~