// CHAT IMAGE MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BODY
._1ILFQY2sxyGFT_n-fifayy {
  background: var(--zehn-color-dialog) !important;
  padding: var(--zehn-size-dialog-padding) !important;
  padding-top: calc(var(--zehn-size-titlebar) + var(--zehn-size-dialog-padding)) !important;

  // IMAGE
  ._20W9SktTzcpS-dKO42Zbxq {}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// COMMUNITY CONTENT MODAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// MODAL
._36VpVPlpKPUM0pVoKojRbG {
  border: none !important;
}

// CONTENT
._1Lfu7heMNRsXXo1Yfzsp17 {
  padding-top: var(--zehn-size-titlebar) !important;
  background: transparent !important;

  // CONTENT COLUMN
  .bAmL1RoRQJ72mvxRb_Mi_ {
    padding: var(--zehn-size-dialog-padding) !important;
    margin: 0px !important;
    mask-image: none !important;
    -webkit-mask-image: none !important;
    gap: var(--zehn-size-dialog-gap) !important;
    height: 100% !important;

    // ART AND INFO
    ._1DyzX9pEE7A4y0qHu9FVmp {
      width: 100% !important;
      height: auto !important;
      overflow: hidden !important;
      gap: var(--zehn-size-dialog-gap) !important;

      // ART
      img {
        min-height: 0px !important;
        object-fit: contain !important;
      }

      // TEXT
      ._1-MBEyCblWLDI_ymHW40W8 {
        padding: 0px !important;
        line-height: var(--zehn-size-16) !important;
        flex-direction: row !important;
        justify-content: space-between !important;

        // DESCRIPTION
        ._2yt71EY8-YdWa8dBEE1DAW {
          color: var(--zehn-color-text3) !important;
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
        }

        // INFO
        ._1gvujtNl7v7FpJK6kaMeKZ {
          gap: var(--zehn-size-dialog-gap) !important;

          // PERSONA
          .dnuQ_w79dTxYmwHu3eNUE {
            gap: var(--zehn-size-spacing-xs) !important;

            // CREATED BY
            ._1mwKpBRR9eBuLvZRn9vqrX {
              letter-spacing: normal !important;
              color: var(--zehn-color-text3) !important;
              font-size: var(--zehn-size-14) !important;
              font-weight: var(--zehn-weight-normal) !important;
              text-transform: none !important;
              display: none !important;
            }
          }

          // GAME
          ._3Z5_faLuyLDfnOG94I1WDc {
            gap: var(--zehn-size-spacing-xs) !important;
            order: 3 !important;
            flex: 1 !important;
            justify-content: right !important;

            // GAME ICON
            ._1hwhyjJRtqNlJqYSpvlxT5 {
              height: var(--zehn-size-icon-lg) !important;
              width: var(--zehn-size-icon-lg) !important;
              border-radius: var(--zehn-size-radius-xs) !important;
            }

            // CREATION DATE
            ._2nKVTC5iBFPng1NZnAIq9E {
              color: var(--zehn-color-text3) !important;
              font-size: var(--zehn-size-14) !important;
              font-weight: var(--zehn-weight-normal) !important;
            }
          }
        }
      }
    }

    // COMMENTS SCROLL
    ._1sEyqGyVMdCKf_5sIJnBz2 {
      width: 100% !important;
      max-height: var(--scroll-down) !important;
      gap: var(--zehn-size-dialog-gap) !important;
      --scroll-down: var(--zehn-size-32);

      // HEADER
      .J0VnCYymogUAJsk2sqyXG {

        // CLOSE BUTTON
        .OuOr8hoXOK5yhrOQjB52I {
          display: none !important;
        }

        // SCROLL DOWN FOR COMMENTS
        .WgpsFnN1iOVXybH93MPJL {
          margin: 0px !important;
          color: var(--zehn-color-text1) !important;
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
          gap: var(--zehn-size-spacing-xs) !important;
          line-height: var(--scroll-down);

          svg {
            height: var(--zehn-size-icon-md) !important;
            width: var(--zehn-size-icon-md) !important;
            padding: 0px !important;
            margin: 0px !important;
            background-color: var(--zehn-color-icon1) !important;
            mask-repeat: no-repeat !important;
            mask-position: center !important;
            mask-size: var(--zehn-size-icon-md) !important;
            -webkit-mask-image: var(--zehn-icon-arrow-down) !important;
            opacity: 1 !important;
            transform: none !important;

            * { display: none !important; }
          }
        }
      }

      // COMMENTS
      ._2RehCk2PW6YJEWkBk2psYd {
        margin: 0px !important;

        // FIX FOR CUT OFF
        >div {
          margin-bottom: var(--zehn-size-dialog-padding) !important;
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~