// CHAT NOTIFICATIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.ChatRoomNotificationSettingsDialog {

  // "FOR CHAT ROOM" REMOVED
  form>.DialogLabel._DialogLayout {
    display: none;
    color: var(--zehn-color-text-body) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-body) !important;

    .whiteText {
      color: var(--zehn-color-inherit) !important;
    }
  }

  // SAVING TEXT
  .NotificationSettingsSavingIndicator {
    display: none !important;
  }

  // SETTINGS
  .ChatRoomNotificationSettingsDialog {

    // NOTIFY ME FOR... LABEL
    .notificationGeneralHeader {
      margin: 0px !important;
      height: fit-content !important;

      .DialogLabel {
        line-height: var(--zehn-size-settings-label) !important;
      }
    }

    // CONTROLS
    >div:last-of-type {
      margin: 0px !important;
      display: flex !important;
      flex-direction: column !important;
      gap: var(--zehn-size-dialog-gap) !important;

      // DROPDOWN
      .notificationRow {
        margin: 0px !important;
      }

      // SWITCH
      .indicatorOptionContainer {
        background: transparent !important;

        // COLUMN
        .indicatorOption {
          background: transparent !important;

          .DialogToggle_Label {
            padding: 0px !important;
          }
        }

        .ChatUnreadMessageIndicator {
          transition: opacity 0.2s var(--zehn-timing-ease) !important;
        }
      }
    }
  }

  // TABLE HEADER - NEG MARGIN BECAUSE FOR SOME REASON THIS IS NOT GROUPED WITH THE TABLE
  .notificationsChannelHeader {
    margin: 0px !important;
    margin-bottom: calc(-1 * var(--zehn-size-dialog-gap)) !important;
    height: var(--zehn-size-table-header) !important;
    line-height: var(--zehn-size-table-header) !important;
    padding: 0px var(--zehn-size-padding-xs) !important;

    .NotificationChannelNameLabel {
      margin: 0px !important;
      max-width: 160px !important;
      min-width: 0px !important;
      line-height: var(--zehn-size-table-header) !important;
    }

    .OverrideChannelLabel {
      margin: 0px !important;
      max-width: 100% !important;
      min-width: 0px !important;
      line-height: var(--zehn-size-table-header) !important;
    }
  }

  // TABLE
  ._2ttS9Skxg9t799nKK9NeqC {
    min-height: 0px !important;
    max-height: min-content !important;
    -webkit-mask: none !important;

    // INNER LIST
    .notificationsChannelListContainer {
      padding: 0px !important;
      gap: 0px !important;
      display: flex !important;
      flex-direction: column !important;
      height: min-content !important;

      // ENTRY
      .notificationsChannel {
        height: var(--zehn-size-table-entry-large) !important;
        margin: 0px !important;
        padding: 0px var(--zehn-size-padding-xs) !important;
        align-items: center !important;
        box-sizing: border-box !important;

        &:nth-of-type(odd) {
          background: var(--zehn-color-table-odd) !important;
        }

        &:nth-of-type(even) {
          background: var(--zehn-color-table-even) !important;
        }

        .NotificationChannelName {
          padding: 0px !important;
          max-width: 160px !important;
          line-height: var(--zehn-size-settings-label) !important;
          border-radius: var(--zehn-size-radius-none) !important;
          background-color: transparent !important;
          font-size: var(--zehn-size-text-label) !important;
          color: var(--zehn-color-text-label) !important;
          font-weight: var(--zehn-weight-normal) !important;
        }

        .DialogInputLabelGroup._DialogLayout {
          max-width: 100% !important;
        }

        // DROPDOWN INNER TEXT
        .ChannelSpecificNotificationSettings_Inherit {
          opacity: 1 !important;
          font-style: normal !important;
        }
      }
    }
  }

  .DialogFooter .textLink {
    display: inline-block !important;
    margin-bottom: var(--zehn-size-dialog-paragraph-gap) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~