// REMOVE COLLECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// COLLECTION PREVIEW
.nYduuEpqjIl1jVi5_1sTt .gx3vaLhXVrwPiXhU4JlSa {
  margin: 0px auto !important;
}

// X OUTLINE
._143lqhMH9fhmkssX-K0UVM {
  display: none !important;
}

// X
.f9KxlFlc-4JworDwROXxk {
  svg line {
    stroke: var(--zehn-color-icon1) !important;
  }
}

// COLLECTION NAME
.GenericConfirmDialog.nYduuEpqjIl1jVi5_1sTt .DialogBodyText span {
  color: inherit !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~