// SAVE COLLECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HEADER ICON
._3haSLlLwVj310KXDBJul-g svg.SVGIcon_DynamicCollection {
  margin: 0px !important;
  display: none !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-lightning) !important;
}

// TAGS
.GenericConfirmDialog.z-cTLiR329QSsE3P9rkR ._172OFJhtx4Jt2ydY6-9IUm {
  margin: var(--zehn-size-spacing-xs) 0px var(--zehn-size-spacing-md) 0px !important;
}

// DESCRIPTION
._1MTcG0SU8MOXNwoi7Q3SRF {
  font-size: var(--zehn-size-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text-description) !important;
  margin: var(--zehn-size-dialog-gap) 0px 0px 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~