// EDIT PROFILE NAME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.Dialog_ChangePersonaName {

  .ChangePersonaNameDialog {

    .friend.changePersonaName {
      height: var(--zehn-size-avatar-xl) !important;
      gap: var(--zehn-size-spacing-md) !important;

      // ICON
      .avatarMedium {
        height: var(--zehn-size-avatar-xl) !important;
        width: var(--zehn-size-avatar-xl) !important;
        border-radius: var(--zehn-size-radius-circular) !important;
        margin: 0px !important;
        border: none !important;
      }

      // LABEL
      .labelHolder {
        margin: 0px !important;
        height: fit-content !important;

        >div {
          gap: var(--zehn-size-spacing-xs) !important;
          display: flex !important;
          flex-direction: column !important;
          height: fit-content !important;
        }

        .mediumName {
          margin: 0px !important;
          font-size: var(--zehn-color-text-body) !important;
          color: var(--zehn-color-text-body) !important;
          font-weight: var(--zehn-weight-normal) !important;
          line-height: normal !important;
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~