// BACKUP GAME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.YmQ9vcw08n7STkTEQLiYW {
  gap: var(--zehn-size-dialog-gap) !important;
  display: flex !important;
  flex-direction: column !important;
}

// INFO
.DialogBodyText._2Nmi6ONpGvLOgRE87Ky2MA {
  padding: 0px !important;
}

// FILE SEARCH
.cBVQzUqhygc4rrsrAVaAf {
  gap: var(--zehn-size-spacing-button) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~