// STRAP ON VR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// IMAGE - USED IN CONTROLLER SETTINGS INTERSTITIAL???
.ztD0Rn32yF6KpqeyK7VMy {
  margin: 0px !important;
  color: var(--zehn-color-icon1) !important;

  ._1JKJYI065AzPUbmYkO6bpo {
    width: 256px !important;
    height: 256px !important;
  }

  ._1T0oYFKKzF7WRE2BJUCeGl {
    margin: 0px !important;
  }
}

// INTERSTITIAL TEXT
._19njkmLyS9W7Ti-swU9_cT {
  margin: 0px !important;
  text-align: center !important;
  color: var(--zehn-color-text-description) !important;
  font-size: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~