// CONTROLLER RECOMMENDED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTROLLERS INTERSTITIAL
._16TUCNaRu63qS2fCz9wZ0b {
  grid-gap: var(--zehn-size-dialog-gap) !important;

  // CONTROLLER
  svg {
    color: var(--zehn-color-icon1) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// STEAM INPUT GAMES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// INPUTS DIVIDER LINE
._2mAc6QM8oot0OViATe-Dx7 {
  background: var(--zehn-color-separator) !important;
  width: var(--zehn-size-separator) !important;
  height: 100px !important;
  transform: none !important;
  padding: 0px !important;
  left: auto !important;
  right: auto !important;
  align-self: center !important;
}

// INPUT SIDE
._3hs-clqu_o_Wxwk6TjyaoQ {
  margin: var(--zehn-size-spacing-xl) !important;
  min-height: 150px !important;

  // HIGHLIGHT USED AS TITLE (AND SPECIFIC ONE FOR STEAM INPUT)
  ._1FZA8-MmuWlfuoH3U91x8K,
  ._269-O_WWDE5wL49BNzeQEh {
    text-transform: none !important;
    letter-spacing: normal !important;
    color: var(--zehn-color-text-label) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-label) !important;
    line-height: var(--zehn-size-setting-label) !important;
    background: transparent !important;
    padding: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    margin-bottom: var(--zehn-size-setting-label-gap) !important;
  }
}

// ACTION SETS DIVIDER
._2es8aTNMKhUJ5MqFJJ5zf5 {
  background: var(--zehn-color-separator) !important;
  width: var(--zehn-size-separator) !important;
  height: 100px !important;
  transform: none !important;
  padding: 0px !important;
  margin: 0px !important;
  align-self: center !important;
}

// ACTION SET
._3BBZaNYxbeYSzoc8Wpat0J {
  margin: var(--zehn-size-spacing-xl) !important;
  min-height: 150px !important;

  // TITLE
  ._1FZA8-MmuWlfuoH3U91x8K {
    text-transform: none !important;
    letter-spacing: normal !important;
    color: var(--zehn-color-text-label) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-label) !important;
    line-height: var(--zehn-size-setting-label) !important;
    background: transparent !important;
    padding: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    margin-bottom: var(--zehn-size-setting-label-gap) !important;
  }
}

// CONTROL ROW (SHARED?)
._2ls5WTw1Qrikxi8EKu5VL8 {
  gap: var(--zehn-size-icon-gap) !important;

  // DESCRIPTION IMAGE
  ._1T0oYFKKzF7WRE2BJUCeGl {
    margin: 0px !important;
    width: var(--zehn-size-icon-xl) !important;
    height: var(--zehn-size-icon-xl) !important;
    background-color: var(--zehn-color-icon1) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--zehn-size-icon-xl) !important;

    * { display: none !important; }

    // GLYPH
    &._2vQ2XHaVeL8du8Nn17z8T1 {
      -webkit-mask-image: var(--zehn-icon-gamepad-a) !important;
    }

    // ARROW
    &._2_E_gElypflQQmMcE-QSdP {
      -webkit-mask-image: var(--zehn-icon-arrow-right) !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~