// ENTER PRODUCT CODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BODY
._2V8QeCkR06XqFUJO_GDTVP {
  gap: var(--zehn-size-dialog-gap) !important;
  padding-bottom: 0px !important;
}

// EXAMPLES HEADER
._2V8QeCkR06XqFUJO_GDTVP ._3kLa_RUiNSrm_Nr6tz7blu {
  color: var(--zehn-color-text-label) !important;
  font-size: var(--zehn-size-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
  text-transform: none !important;
}

._2V8QeCkR06XqFUJO_GDTVP ._2sEmBD0BnXW-eo2PlLcaLV {
  color: var(--zehn-color-text-description) !important;
  font-size: var(--zehn-size-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~