// CD KEYS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// KEYS
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 {
  max-height: fit-content !important;
  gap: 0px !important;
  margin: 0px !important;
}

// KEY
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG {
  background: var(--zehn-color-table-odd) !important;
  background-color: var(--zehn-color-list-background) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:nth-of-type(2n) {
  background: var(--zehn-color-table-even) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._2KAgx7PA4-yLV9Nu-qBS9R,
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  line-height: var(--zehn-size-table-entry) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:hover ._2KAgx7PA4-yLV9Nu-qBS9R,
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:hover ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background-hover) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:active ._2KAgx7PA4-yLV9Nu-qBS9R,
._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG:active ._36FPQfDc2mHWDVMY24LXck {
  background-color: var(--zehn-color-list-background-active) !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._2KAgx7PA4-yLV9Nu-qBS9R {
  align-items: flex-start !important;
  color: var(--zehn-color-text1) !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

._2os8Bx4njRAplVq2AicN2K .DialogBody ._2rBq1ElGawWUhkk4Hs79K1 ._9yHu4QuH-15EhH0Mg7ypG ._36FPQfDc2mHWDVMY24LXck {
  align-items: flex-end !important;
  color: var(--zehn-color-link-generic) !important;
  
  &:hover {
    color: var(--zehn-color-link-generic-hover) !important;
  }

  &:active {
    color: var(--zehn-color-link-generic-active) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~