// GAME INFO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// REMOVE SPINNER
.DialogButton._DialogLayout.Primary.Disabled.Focusable span ._3m_2lh1eA4HcHpt48En7kr {
  display: none !important;

  * { display: none !important; }
}

// BODY SPACING
.DialogBodyText._1J28NGrw629-j5cVtncv_ {
  gap: var(--zehn-size-dialog-gap) !important;
  display: flex !important;
  flex-direction: column !important;
}

// COPY BUTTON
button.DialogButton.DialogInput_CopyAction {
  margin-left: 0 !important;
}

// FAILED LATENCY
._3LzQqDpZIP3tQp8AORI8Ep {
  color: var(--zehn-color-text4) !important;
}

// REFRESH BUTTON
.DialogButton span {
  display: flex !important;
  justify-content: center !important;
  gap: var(--zehn-size-button-dialog-gap) !important;
}

._3m_2lh1eA4HcHpt48En7kr {
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PLAYER LIST SECTION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// WRAPPER
._3HOjFOu8W2UHP4m6q7OorG {
  background: transparent !important;
  margin: 0 !important;
}

// HEADER
._3HOjFOu8W2UHP4m6q7OorG .vATYv4EBNodEsN_HqvfJT {
  color: var(--zehn-color-table-header-content) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  line-height: var(--zehn-size-table-header) !important;
  height: var(--zehn-size-table-header) !important;
  border: none !important;
  padding: 0 !important;
}

// DETAILS
._3HOjFOu8W2UHP4m6q7OorG ._3s0LVYddVEc1fa7aGrAd9C {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-table-entry) !important;
  height: var(--zehn-size-table-entry) !important;
  border: none !important;
  padding: 0 !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~