// INSTALL GAME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BODY CONTAINER
.DesktopUI ._3wtPUBfilFITcl1s4u6A7T {
  min-height: 0px !important;
}

// INFO CONTAINER
.Krg05lMwvNmhhVXhqdleu {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.Krg05lMwvNmhhVXhqdleu ._3MJEANCb5PkduXTSJ6o3bq {
  --banner-height: 40px;
  border: none !important;
  padding: 0px !important;
  line-height: var(--banner-height) !important;
  gap: var(--zehn-size-spacing-md) !important;
}

// BANNER
.Krg05lMwvNmhhVXhqdleu ._3MJEANCb5PkduXTSJ6o3bq ._3mitVrK37Z0VhEoNSmfjT8 {
  margin: 0px !important;
  height: var(--banner-height) !important;
  width: 88px !important;
}

// GAME TITLE
._1_JaK7j-59AgDKQOOOJVBA {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-16) !important;
}

// INSTALL SIZE
.Krg05lMwvNmhhVXhqdleu ._3MJEANCb5PkduXTSJ6o3bq .I_nktXyVJHrZEc6dPTTnU {
  margin: 0px !important;
}

// CHECKBOXES
._27EB_QZeH3i0zloLWPdw84 {
  margin: var(--zehn-size-dialog-gap) 0 !important;
  gap: var(--zehn-size-dialog-button-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// OUTER WRAPPER
.vaNI84b_TV6hw20mhGl_d {
  padding: 0px !important;
  margin: 0px !important;
  gap: var(--zehn-size-dialog-gap) !important;
  display: flex !important;
  flex-direction: column !important;
}

// MANAGE STORAGE
.NtxG7ioEuQKxrtXEy57H5 {
  letter-spacing: normal !important;
  margin: 0px !important;
  line-height: var(--zehn-size-panel-md) !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

.vaNI84b_TV6hw20mhGl_d ._2pnPQKKjSPKgzPwlaXMqu_ svg {
  -webkit-mask-image: var(--zehn-icon-settings) !important;
}

// ENTRY
.Oo5JPcEk_erKEYAzYp2nY {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  column-gap: var(--zehn-size-spacing-md) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  border-radius: var(--zehn-size-radius-none) !important;
  margin: 0px !important;
  line-height: var(--zehn-size-list-entry) !important;
  background: var(--zehn-color-list-background) !important;

  &:hover {
    background: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background: var(--zehn-color-list-background-active) !important;
  }
}

.Oo5JPcEk_erKEYAzYp2nY.gkgG-dWgjpwS_aqlcMNTM,
.Oo5JPcEk_erKEYAzYp2nY.gkgG-dWgjpwS_aqlcMNTM:is(:hover, :active) {
  color: var(--zehn-color-text1) !important;
  background: var(--zehn-color-accent-50) !important;
}

// ICONS
.Oo5JPcEk_erKEYAzYp2nY svg {
  display: block !important;
  height: var(--zehn-size-icon-md) !important;
  width: var(--zehn-size-icon-md) !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-harddrive) !important;

  * { display: none !important; }
}

// DRIVE ICON
.Oo5JPcEk_erKEYAzYp2nY ._1p727K-lt5u7dR3PbUTcNZ {
  width: var(--zehn-size-icon-md) !important;
  height: 100% !important;
  margin: 0px !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._1p727K-lt5u7dR3PbUTcNZ svg {
  -webkit-mask-image: var(--zehn-icon-harddrive) !important;
}

// PRIMARY DRIVE
.Oo5JPcEk_erKEYAzYp2nY ._VEHWl9XgUCHDV7oGKSW4 {
  width: var(--zehn-size-icon-md) !important;
  height: 100% !important;
  margin: 0px !important;
}

.Oo5JPcEk_erKEYAzYp2nY ._VEHWl9XgUCHDV7oGKSW4 svg {
  -webkit-mask-image: var(--zehn-icon-favorite) !important;
}

// SIzE
._3lAxXofku7q3P5FhXRfqH0 {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

// INSTALL NOTICE
.WonjNtnAq8aOefGl_x2v4 {
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  text-transform: none !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  gap: var(--zehn-size-spacing-xs) !important;
  line-height: normal !important;
}

.WonjNtnAq8aOefGl_x2v4 span {
  color: var(--zehn-color-text1) !important;
}

.WonjNtnAq8aOefGl_x2v4:has(span:empty) {
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~