// EULA ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._3jj_KvFzq6XW7NasX_7Tvv {

  // BODY
  ._2YXHRFCzmxgvxVGtA3TWVf {
    color: var(--zehn-color-text-body) !important;
    font-size: var(--zehn-size-text-body) !important;
    font-weight: var(--zehn-weight-normal) !important;

    // SCROLL
    ._7lXDajp5HNY9Kpnbeykv {
      border: unset !important;
      margin-bottom: var(--zehn-size-dialog-gap) !important;

      ._1dbgUdk0xgEX7E4Db_r5mb {
        background: transparent !important;
        margin: 0px !important;
        padding: 0px !important;
        border-radius: var(--zehn-size-radius-none) !important;
        transition: none !important;
        animation: none !important;
      }
    }
  }
}

._1dbgUdk0xgEX7E4Db_r5mb {
  background: transparent !important;
}

._2YXHRFCzmxgvxVGtA3TWVf {
  color: var(--zehn-color-text-body) !important;
  font-size: var(--zehn-size-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;

  // CONTENT
  ._7lXDajp5HNY9Kpnbeykv {
    border: unset !important;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    transition: none !important;
    animation: none !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~