// AWARD USER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// GRANT AWARD
._2ilpH-HpvuSm6s5MWX5bA- {
  background-color: transparent !important;
  color: var(--zehn-color-text-body) !important;
  font-size: var(--zehn-size-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;

  // DESCRIPTION
  ._2_vbZB-J_M1GH9js-PXnEj {
    padding: 0px !important;

    // GIVE AN AWARD (MOVED INTO TITLEBAR)
    ._2yJ4jvaS0kUJdPVIPR_gld {
      color: var(--zehn-color-text-page-title) !important;
      font-weight: var(--zehn-weight-normal) !important;
      font-size: var(--zehn-size-text-page-title) !important;
      line-height: var(--zehn-size-titlebar) !important;
      padding: var(--zehn-size-titlebar-text-padding) !important;
      position: absolute !important;
      margin-top: calc(-1 * var(--zehn-size-titlebar)) !important;
      text-transform: none !important;
    }

    ._16dREqlIrGflPfbNtLGdJh {
      color: var(--zehn-color-text-description) !important;
      font-size: var(--zehn-size-text-description) !important;
      font-weight: var(--zehn-weight-normal) !important;
      padding: var(--zehn-size-dialog-padding) !important;
      margin: 0px !important;
    }
  }

  // SEPARATOR
  ._105pyOdHwQJP6rdcKymwUq {
    padding: 0px !important;
    margin: 0px var(--zehn-size-dialog-padding) !important;
    width: auto !important;
    height: var(--zehn-size-separator) !important;
    background-color: var(--zehn-color-separator) !important;
  }

  // AWARD GRID
  .JYQgsMzgbFLgarphirEoQ {
    gap: 0px !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-auto-rows: 160px !important;
    padding: var(--zehn-size-dialog-padding) !important;

    // ITEM
    ._3M92hj6aELzceURcKR7WFu {
      align-self: center !important;
      border: unset !important;
      border-radius: var(--zehn-size-radius-none) !important;
      padding: var(--zehn-size-padding-md) !important;
      transition: none !important;
      background-color: var(--zehn-color-list-background) !important;

      &:hover {
        background-color: var(--zehn-color-list-background-hover) !important;
      }

      &:active {
        background-color: var(--zehn-color-list-background-active) !important;
      }

      // SELECTED
      &.Efo_8muMPNLjjSbObMuDq {
        border-color: transparent !important;
        background-color: var(--zehn-color-accent-50) !important;
      }

      // IMAGE
      ._1fdGEFL1uEyxjfiarnOXI {
        height: 80px !important;
        width: 80px !important;

        img {
          height: 80px !important;
          width: 80px !important;
        }
      }

      // LABEL
      ._3jka4zmfNL8_t69ZkB-JmU {

        // TITLE
        ._2iEkqauHWZiCAOo0cWqnPP {
          color: var(--zehn-color-text1) !important;
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
          line-height: normal !important;
        }

        // POINTS
        ._3k_jxlKBddOAxgSknpHNTq._1WCEAVbVX-TuOWAkFll4DS {
          color: var(--zehn-color-text3) !important;
          font-size: var(--zehn-size-12) !important;
          font-weight: var(--zehn-weight-normal) !important;
          letter-spacing: normal !important;
          line-height: normal !important;
        }
      }
    }
  }

  // CONFIRMATION
  ._3rAoeyoUq23O8OYP09P1oz {
    padding: var(--zehn-size-dialog-padding) !important;
    transition: opacity 0.2s var(--zehn-timing-ease) !important;
    opacity: 0 !important;

    // VISIBLE
    &._2QQTWF2AuPKh-8O0fgjl3b {
      opacity: 1 !important;
    }

    // TEXT
    .j0Jt4NEMft-y_QAF5NFFh {

      ._1uA9QkRBqGe3Xt5tlGGhlU {
        color: var(--zehn-color-text-body) !important;
        font-size: var(--zehn-size-text-body) !important;
        font-weight: var(--zehn-weight-normal) !important;
        padding: 0px !important;

        // POINT COUNT
        ._1WCEAVbVX-TuOWAkFll4DS {
          color: var(--zehn-color-text-body) !important;
          font-size: var(--zehn-size-text-body) !important;
          font-weight: var(--zehn-weight-thickest) !important;
          letter-spacing: normal !important;
        }

        // AWARD NAME
        ._25N0xPcslHWWCQovL3Ycpk {
          color: var(--zehn-color-text-body) !important;
          font-size: var(--zehn-size-text-body) !important;
          font-weight: var(--zehn-weight-thickest) !important;
          letter-spacing: normal !important;
        }
      }
    }
  }

  // lOADING
  ._1hKG3O3_MI7rp8_HJ7_0fV {
    padding: var(--zehn-size-dialog-padding) !important;
    transition: opacity 0.2s var(--zehn-timing-ease) !important;
  }

  // SUCCESS
  .Uz_0uByMqbJfo6n5oW71y {
    padding: var(--zehn-size-dialog-padding) !important;
    transition: opacity 0.2s var(--zehn-timing-ease) !important;

    ._1kQzNssyGs4FwglLbkE3mx {
      color: var(--zehn-color-text-body) !important;
      font-size: var(--zehn-size-text-body) !important;
      font-weight: var(--zehn-weight-normal) !important;
      padding: 0px !important;
    }
  }

  // FOOTER
  ._164mmLkSJ91cXzABhIrlZq {
    padding: var(--zehn-size-dialog-padding) !important;
    margin: 0px !important;

    // BALANCE ETC
    ._3CsHeO3G5c1fQY9Xx4lgUI {
      display: flex !important;
      flex-direction: column !important;
      gap: var(--zehn-size-spacing-xs) !important;

      // BALANCE
      ._1v0jLHAK-8P4IONBwuF4kv {

        // ICON
        ._3VvvB-r8dZsAaPGZ2nsi1A {
          margin: 0px !important;
          padding: 0px !important;
          height: var(--zehn-size-icon-md) !important;
          width: var(--zehn-size-icon-md) !important;
          display: none !important;

          * { display: none !important; }
        }

        // TEXT
        ._209Gyxysjz0vcGVVWuh_Xc {
          line-height: normal !important;
          gap: var(--zehn-size-spacing-xxs) !important;

          // LABEL
          ._2u9RZJXJSDg3e-J_EX1exE {
            color: var(--zehn-color-text-description) !important;
            font-size: var(--zehn-size-text-description-small) !important;
            font-weight: var(--zehn-weight-normal) !important;
            line-height: normal !important;
            text-transform: uppercase !important;
          }

          // BALANCE
          ._1O3FSoJxkQYLv1MB6H7QNy {
            color: var(--zehn-color-text-body) !important;
            font-size: var(--zehn-size-text-body) !important;
            font-weight: var(--zehn-weight-normal) !important;
            letter-spacing: normal !important;
            line-height: normal !important;
          }
        }
      }

      // WHAT ARE STEAM POINTS?
      ._2ihFd-KfZvzA81NOi3SEEJ {
        gap: var(--zehn-size-spacing-xs) !important;

        // LINK
        .KId8dCUFbYh_bz-jozERD {
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
          margin: 0px !important;
          padding: 0px !important;
          text-decoration: none !important;
        }
      }
    }

    // SELECT AWARD
    ._1hgRCff96-fQY4zKEKUkac {
      align-items: flex-end !important;
      align-self: flex-end !important;

      ._1-AT2x5dQpwoR2WGoLgbhi {
        gap: var(--zehn-size-dialog-button-gap) !important;

        ._1Beae_Paey3Y7zly_GQZpI {
          padding: 0px !important;
          min-width: fit-content !important;
        }
      }
    }
  }
}

// IMAGE
._1ARgx7wEEFOEolu5lBhrk- {
  height: 200px !important;
  width: 200px !important;
}

// POINTS ICON
._3-jpV0SaW4qH2i8S7BXeAB {
  margin: 0px !important;
  padding: 0px !important;
  height: var(--zehn-size-icon-md) !important;
  width: var(--zehn-size-icon-md) !important;
  display: none !important;

  * { display: none !important; }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~