// LAUNCH OPTIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.LclHwcOfHFpwObYMD1HLa {
  background: transparent !important;
  padding: var(--zehn-size-dialog-padding) !important;
  padding-top: calc(var(--zehn-size-titlebar) + var(--zehn-size-dialog-padding)) !important;
  color: var(--zehn-color-text-body) !important;
  gap: var(--zehn-size-dialog-gap) !important;

  // HEADER MOVED TO TITLEBAR
  ._3T-1PliI6PkKE-bE-o3bV0 {
    margin: 0px !important;
    color: var(--zehn-color-text1) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-titlebar-text) !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    padding: var(--zehn-size-titlebar-text-padding) !important;
    line-height: var(--zehn-size-titlebar) !important;
  }

  // BODY
  ._2aHnQT0gTQ5KIsi5omK93w {
    padding: 0px !important;
    flex-grow: 0 !important;
    gap: var(--zehn-size-dialog-gap) !important;


    // LABEL
    .EvZ7kwlROeKkDzxBu2TfH {
      letter-spacing: normal !important;
      margin: 0px !important;
    }

    // RADIO BUTTONS
    ._134yW7SKfZYwmvwlUElGx- {
      border: unset !important;
      border-radius: var(--zehn-size-radius-none) !important;
      background: transparent !important;
      padding: 0px !important;
      margin: 0px !important;
      gap: var(--zehn-size-setting-field-gap) !important;

      // BUTTON WRAPPER
      ._3DEhfTvEKwgLd4smd6QdaU {
        margin: 0px !important;
        background: transparent !important;
        padding: 0px !important;
        height: var(--zehn-size-setting-entry) !important;

        // LABEL
        label {
          color: var(--zehn-color-text-control) !important;
          font-weight: var(--zehn-weight-normal) !important;
          font-size: var(--zehn-size-text-control) !important;
          padding-left: var(--zehn-size-setting-control-gap) !important;
        }
      }
    }

    // CHECKBOX
    ._1xyUTYAWgWNvM-S6mhQM-R {
      margin: 0px !important;
    }

    .HSQN4Dc7pEbtuyr1LP-5v {
      color: var(--zehn-color-text-body) !important;
      font-weight: var(--zehn-weight-normal) !important;
      font-size: var(--zehn-size-text-body) !important;
      margin: 0px !important;
      line-height: normal !important;
    }
  }

  // FOOTER
  ._3H2GezG50hog8gSDj-qbx1 {
    margin: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    position: relative !important;
    margin-top: auto !important;
    gap: var(--zehn-size-dialog-button-gap) !important;
    width: 100% !important;

    // PLAY
    ._3EWVuoln1WAvpEaPNfpift {}

    // CANCEL
    ._1d8CbcBnA6t3lsxYdnMv1h {}
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~