// REMOTE PLAY STEAM LINK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// PIN DIALOG
._1MzhxD3Pw9pEozPFLUM4sc {

  label {
    gap: var(--zehn-size-setting-label-gap) !important;
    display: flex !important;
    flex-direction: column !important;
  }

  // A LABEL BUT VERY LONG
  .DialogLabel {
    padding: 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~