// RECORDING QUALITY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._333CP7Xp52Ebt64pPwAAgt._bfoIjmcDlV8RAEZWoSwT {
  padding: var(--zehn-size-dialog-padding) !important;

  // HEADER
  ._1ao4i851zqd6IUYQnk09BH {}

  // DROP DOWN
  ._240_YEh9bcOpZCkipUDzUo {
    margin: 0px 0px var(--zehn-size-dialog-paragraph-gap) 0px !important;
  }

  // EXPLAINER
  ._4o-62zIm7LJA71ljfrNwU {
    color: var(--zehn-color-text-description) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-description) !important;
    margin: 0px 0px var(--zehn-size-dialog-gap) 0px !important;
  }

  // RES TABLE
  ._3Xmnqry-Y0tCwhsHXuZh_W {
    background: transparent !important;
    border-radius: var(--zehn-size-radius-none) !important;
    color: var(--zehn-color-text-body) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-body) !important;
    margin: 0px 0px var(--zehn-size-dialog-gap) 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~