// GAME UPDATE EXCEPTIONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._3FEwcqv0MB7_jDknmIsoPr {

  // CURRENT SETTING
  .kjmZ2KXxy0A7NX6fU88GY {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
  }

  // APP GRID
  ._31rwPOzAHqsijkJKa2xRHB {
    margin: 0px !important;
    gap: var(--zehn-size-setting-field-gap) !important;

    // SEARCH
    .EC2tt_NTQUjYS5GPejA5o {
      margin: 0px !important;
    }

    // lIST CONTAINER
    ._2fDH8UDBnD0XNRKdwM5Y9i {
      border: none !important;
      background: transparent !important;
      border-radius: var(--zehn-size-radius-none) !important;

      // LIST
      ._3XBDlwc1nVqfBKVh0IVnxg {
        padding: 0px !important;

        // ITEM
        ._2vunF9uzI1fse6sevy7bk {

          // ROW
          .dRVTag1OzxUF8m505Qwk2 {
            color: var(--zehn-color-text-body) !important;
            font-size: var(--zehn-size-text-body) !important;
            font-weight: var(--zehn-weight-normal) !important;
            padding: 0px !important;

            // ICON
            ._1zxijcjihukKOJRGN4x7kH {
              margin-right: var(--zehn-size-icon-gap) !important;

              // VISIBILITY
              &._3d_bT685lnWotXxgzKW6am {
                transition: opacity 0.2s var(--zehn-timing-ease) !important;
              }
            }

            // APP LINK
            ._1-pw9nt67yKtwfHbA94r3w {
              font-size: inherit !important;
              font-weight: inherit !important;
              margin: 0px !important;
            }

            // DROPDOWN
            ._22O0rS-ca2Nl-1J3rq4bsZ {}
          }

          // SEPARATOR
          ._234JND4S8VxnSHjN6pZwgV {
            height: var(--zehn-size-separator) !important;
            background: var(--zehn-color-separator) !important;
            margin: 0px !important;
            display: none !important;
          }
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~