// ABOUT STEAM ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HEADER ICON
.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E .Tz7ae7SsFpdVaMYJhMCpc {
  display: none !important;
  padding: 0 !important;
  margin-right: var(--zehn-size-spacing-xs) !important;
  width: var(--zehn-size-icon-md) !important;
  height: var(--zehn-size-icon-md) !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-steam) !important;

  * { display: none !important; }
}

// INFO KEY
.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E ._32eeZuly3nnz3cMXdSgyj9 {
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text-secondary) !important;
}

// INFO VALUE
.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E ._2yhBdvNsgdBGL_UjfmTDGH {
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text1) !important;
  line-height: var(--zehn-size-20) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~