// CHANGE ACCOUNT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._4076WNFp7FvOc0MeCbvRe {

  // BODY AND CHECKBOX
  .DialogBodyText {
    gap: var(--zehn-size-spacing-md) !important;
    display: flex !important;
    flex-direction: column !important;

    .DialogCheckbox_Container {
      align-self: flex-start !important;
    }

    // PROMPT "PLEASE CLOSE"
    ._2TZKvfpoXO3wkbwq7V_h0A {
      margin: 0px !important;
      color: var(--zehn-color-text1) !important;
      font-size: var(--zehn-size-14) !important;
      font-weight: var(--zehn-weight-normal) !important;

      // WARNING
      &._2attlRlKeWsdQsrTOCm2Ni {
        color: var(--zehn-color-text1) !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~