// SYSTEM INFO (HARDWARE SURVEY) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m {
  padding: var(--zehn-size-dialog-padding) !important;
  gap: var(--zehn-size-dialog-padding) !important;
  box-sizing: border-box !important;
}

// PROMPT (USED ON OLD VERSION???)
._3v2Gg_GCpLHpHQDLFQ7cvI ._2TaU1qJcGZu77jX5M0E6V4 {
  color: var(--zehn-color-text-body) !important;
  font-size: var(--zehn-size-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: 0px !important;
  margin-top: var(--zehn-size-dialog-gap) !important;
  line-height: var(--zehn-size-20) !important;
}

// STEAM HAS DETECTED
._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m .DialogBodyText,
._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m ._13282V5ayJpcjQcM2DtB-z {
  margin: 0px !important;
  padding: 0px !important;
}

// INFO INSET
._3v2Gg_GCpLHpHQDLFQ7cvI.hYVp3sXyS0uYfJnzVoK-m ._3f3VJUtyLXUf_JDFE-BaQ6 {
  border: unset !important;
  gap: var(--zehn-size-dialog-gap) !important;
  margin: 0px !important;
  padding: var(--zehn-size-panel-inset-padding) !important;
  background: var(--zehn-color-panel-inset) !important;
  border-radius: var(--zehn-size-panel-inset-radius) !important;
  border: none !important;

  .RRhNQ2haTbK9z71YoH2R3 {
    padding: 0px !important;
    color: var(--zehn-color-text-description) !important;
    font-size: var(--zehn-size-text-description) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-20) !important;

    h3 {
      font-size: var(--zehn-size-text-description) !important;
      margin: 0px !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~