// INTERSTITIAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// INTERSTITIAL (ALSO USED IN SOME DESKTOP MODALS)
._3FS5uBh6SB9gq4vjbnKa4G {
  padding: var(--zehn-size-dialog-padding) !important;
  padding-top: calc(var(--zehn-size-titlebar) + var(--zehn-size-dialog-padding)) !important;
  background: transparent !important;
  margin: 0px !important;
  display: block !important;
  animation: none !important;
  flex: 1 !important;
  
  // OUTER
  .sccC5DWxq4P3ZTeGqedfE {
    height: auto !important;

    // INNER
    .IbaDJeXoUV46mwyWeP42O {}
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CHORD ROW
._30w46ktz76K_Rnqk02ZfT0 {
  gap: var(--zehn-size-setting-field-gap) !important;
  color: var(--zehn-size-text-body) !important;

  // NO BUTTON
  ._1zkgQm67ell-zVB965M-D5 {}
}

// FIELD INPUT
._2u8kEcBXVlybjCaSv6ZMDk {

  // CONTROLLER INPUT DISPLAY
  &._27Q1TQNf9VysifeaxYFyyU {}

  // CONTROL BINDING
  ._2-B4w1h_qnx1Du50bLkIwp {
    color: inherit !important;
    min-height: inherit !important;
    gap: inherit !important;

    img[src="/steaminputglyphs/shared_rstick_click.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rstick-click) !important;
    }

    img[src="/steaminputglyphs/shared_rstick_up.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rlstick-up) !important;
    }

    img[src="/steaminputglyphs/shared_rstick_down.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rstick-down) !important;
    }

    img[src="/steaminputglyphs/shared_rstick_left.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rstick-left) !important;
    }

    img[src="/steaminputglyphs/shared_rstick_right.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rstick-right) !important;
    }

    img[src="/steaminputglyphs/shared_lstick_click.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lstick-click) !important;
    }

    img[src="/steaminputglyphs/shared_lstick_up.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lstick-up) !important;
    }

    img[src="/steaminputglyphs/shared_lstick_down.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lstick-down) !important;
    }

    img[src="/steaminputglyphs/shared_lstick_left.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lstick-left) !important;
    }

    img[src="/steaminputglyphs/shared_lstick_right.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lstick-right) !important;
    }

    img[src="/steaminputglyphs/xbox_rt.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rtrigger) !important;
    }

    img[src="/steaminputglyphs/xbox_lt.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-ltrigger) !important;
    }

    img[src="/steaminputglyphs/xbox_rt_soft.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rtrigger) !important;
    }

    img[src="/steaminputglyphs/xbox_lt_soft.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-ltrigger) !important;
    }

    img[src="/steaminputglyphs/shared_dpad_up.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-dpad-up) !important;
    }

    img[src="/steaminputglyphs/shared_dpad_down.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-dpad-down) !important;
    }

    img[src="/steaminputglyphs/shared_dpad_left.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-dpad-left) !important;
    }

    img[src="/steaminputglyphs/shared_dpad_right.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-dpad-right) !important;
    }

    img[src="/steaminputglyphs/shared_color_button_a.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-a) !important;
    }

    img[src="/steaminputglyphs/shared_color_button_b.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-b) !important;
    }

    img[src="/steaminputglyphs/shared_color_button_x.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-x) !important;
    }

    img[src="/steaminputglyphs/shared_color_button_y.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-y) !important;
    }

    img[src="/steaminputglyphs/xbox_lb.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-lbutton) !important;
    }

    img[src="/steaminputglyphs/xbox_rb.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-rbutton) !important;
    }

    img[src="/steaminputglyphs/xbox_button_logo.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-xbox) !important;
    }

    img[src="/steaminputglyphs/xbox_button_select.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-select) !important;
    }

    img[src="/steaminputglyphs/xbox_button_start.svg"] {
      -webkit-mask-image: var(--zehn-icon-gamepad-start) !important;
    }

    img[src="/steaminputglyphs/xbox_button_share.svg"] {
      -webkit-mask-image: var(--zehn-icon-share) !important;
    }

    // PLUS +
    .wkeTZXlOR5ygc_wnxhNW0 {
      font-size: inherit !important;
    }
  }
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~