// WINDOW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1FyBL6obxHQ2Z2CsaV2Gbz {}

// REMOVE BODY GAP
[id*="/properties/"] .DialogBody {
  gap: 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PAGELIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ENTRY
._1-vlriAtKYDViAEunue4VO {

  // ICONS
  &[id$="/properties/general"] {
    --icon: var(--zehn-icon-home);
  }

  &[id$="/properties/compatibility"] {
    --icon: var(--zehn-icon-switch);
  }

  &[id$="/properties/updates"] {
    --icon: var(--zehn-icon-update);
  }

  &[id$="/properties/localfiles"] {
    --icon: var(--zehn-icon-apps-all);
  }

  &[id$="/properties/betas"] {
    --icon: var(--zehn-icon-update-dev);
  }

  &[id$="/properties/controller"] {
    --icon: var(--zehn-icon-controller);
  }

  &[id$="/properties/dlc"] {
    --icon: var(--zehn-icon-shop);
  }

  &[id$="/properties/workshop"] {
    --icon: var(--zehn-icon-tools);
  }

  &[id$="/properties/gamerecording"] {
    --icon:  var(--zehn-icon-film);
  }

  &[id$="/properties/privacy"] {
    --icon: var(--zehn-icon-privacy);
  }

  &[id$="/properties/customization"] {
    --icon: var(--zehn-icon-picture);
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHARED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TOP GAP
._1Ym7esAMrM-Be9YZ3fC54v {
  margin-top: var(--zehn-size-setting-group-gap) !important;
}

// TOP GAP SMALL
._2evqiY8KoRX_WVvTUfmCWt {
  margin-top: var(--zehn-size-setting-label-gap) !important;
}

// TOP GAP LARGE
._1FyDtQ0Jzmg5HxshoNexnB {
  margin-top: var(--zehn-size-setting-group-gap) !important;
}

// BOTTOM GAP
._2L4017cDXiBdHizBUYoxcO {
  margin-bottom: 0px !important;
}

// BOTTOM GAP SMALL
._1fS7HdwfC2bXlbUyedbwnK {
  margin-bottom: 0px !important;
}

// BOTTOM GAP NONE
.kSXF93bSHe9G2fC96Bf8X {
  margin-bottom: 0px !important;
}

// HIGHLIGHT
._1KmR8MOpvgQ9OO2AmwOCca {
  color: inherit !important;
  font-weight: inherit !important;
}

// SECTION TOP LINE (SOMETHING UNIQUE TO APP PROPERTIES IDK)
.r3hOLjghfVd2FkvKjlsrO {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  gap: 0px !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: transparent !important;
  height: fit-content !important;

  // NO PADDING
  &._1wvuEFDaiHcn5QErl3Lghh {
    padding: 0px !important;
  }

  &:not(:first-child) {
    margin-top: var(--zehn-size-setting-section-gap) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - GENERAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CLOUD DETAIL
.HxqeaLbjhdRiSTK8ZFwxJ {
  margin-top: var(--zehn-size-setting-group-gap) !important;
  color: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-description) !important;
  line-height: inherit !important;
}

// CLOUD USAGE
._2Dfy8vuNMdABIKGO2KHbVF {
  align-self: flex-start !important;
  color: var(--zehn-color-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-body) !important;
  line-height: inherit !important;
}

// LAUNCH OPTIONS
._1y1wmpgy_HhnryUAHjEOSG {
  margin-top: var(--zehn-size-setting-label-gap) !important;
  gap: var(--zehn-size-setting-control-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - UPDATES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BUILD INFO
.t4XYbyKAM5Yz-nmWNHSLB {
  color: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-description) !important;
  line-height: inherit !important;
  margin: 0px !important;
  margin-top: var(--zehn-size-setting-group-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - INSTALLED FILES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BROWSE DISK ROW
.vgVsCDEci0IK6JY9IrT9w {
  flex-direction: column !important;

  // SIZE LABEL
  ._3sCkhDJ57IT9iI8VuF4bSe {
    align-self: flex-start !important;
    line-height: var(--zehn-size-setting-label) !important;
    color: var(--zehn-color-text-label) !important;
    font-size: var(--zehn-size-text-label) !important;
    font-weight: var(--zehn-weight-normal) !important;
  }

  // DISK SIZE
  .b5YdRXAobg5HWhcfAlIeZ {
    margin: 0px !important;
    margin-bottom: var(--zehn-size-setting-label-gap) !important;
    align-self: flex-start !important;
    color: var(--zehn-color-text-description) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-description) !important;
    line-height: inherit !important;
  }

  // BUTTON
  ._1KAp5PPYG7si-T_66zNEcU {}
}

// LOCAL FILES LINK
._1wSQxXZWWYuvKQyTg1CHKj {
  line-height: normal !important;
  text-decoration: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - GAME VERSIONS & BETAS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BETA TABLE HEADER
.X3pN_ESh0aoxmm2nK65Hu {
  max-width: var(--zehn-size-setting-content) !important;
  min-width: unset !important;
  margin: 0px !important;
  margin-top: var(--zehn-size-setting-group-gap) !important;
  padding: 0px !important;
  line-height: var(--zehn-size-table-text-line) !important;
  min-height: var(--zehn-size-table-header) !important;
  background: transparent !important;
  font-size: var(--zehn-size-table-text) !important;
  text-transform: none !important;

  ._33vTXbnDrHUQCTEKwJC3Eh,
  ._3FgV6oQH8JCN-J9BPCCs14 {
    color: var(--zehn-color-table-header-content) !important;

    &:hover {
      color: var(--zehn-color-table-header-content-hover) !important;
    }

    &:active {
      color: var(--zehn-color-table-header-content-active) !important;
    }
  }
}

// TABLE
._3jWpi0kJp_piNEvdMufMmy {
  max-width: var(--zehn-size-setting-content) !important;
  min-width: unset !important;
  border: none !important;
  box-shadow: none !important;
  font-size: var(--zehn-size-table-text) !important;

  // ENTRY
  ._1LCoWsUrJmZHr7SVX0luaG {
    min-height: var(--zehn-size-table-entry-large) !important;
    align-items: center !important;
    
    // ODD
    &._231y-BrqpRH85PNLgfseSR {
      background-color: var(--zehn-color-table-odd) !important;
    }

    // EVEN
    &._2fy9Xqi70es7wkqy4iOvBE {
      background-color: var(--zehn-color-table-even) !important;
    }

    // SELECTED
    &.dB7T-kfL2b2b0jd9Zg9fa {}
  }
}

// RADIO BUTTON
._2d_FE9TOpHt1FsYhLEpjCp {
  border: none !important;
  width: var(--zehn-size-table-entry-large) !important;
  padding: var(--zehn-size-table-entry-padding) !important;
  box-sizing: border-box !important;
}

// NAME
._33vTXbnDrHUQCTEKwJC3Eh {
  color: var(--zehn-color-table-body-content) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-table-text) !important;
  line-height: var(--zehn-size-table-text-line) !important;
  margin: 0px !important;
  padding: var(--zehn-size-table-entry-padding) !important;

  // NAME
  .a19KifKnB2YZP_hYoFsar {
    font-weight: var(--zehn-weight-normal) !important;
  }

  // DESCRIPTION
  ._3OwCSCZC5BPFq4X7PLVzKp {
    color: var(--zehn-color-table-body-content-other) !important;
  }
}

// DATE LAST UPDATED
._3FgV6oQH8JCN-J9BPCCs14 {
  color: var(--zehn-color-table-body-content) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-table-text) !important;
  line-height: var(--zehn-size-table-text-line) !important;
  margin: 0px !important;
  padding: var(--zehn-size-table-entry-padding) !important;
}

// BETA LABEL
._3H9mJurCFIkAqvWpYfEaDM {
  line-height: var(--zehn-size-setting-label) !important;
  color: var(--zehn-color-text-label) !important;
  font-size: var(--zehn-size-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// BETA ACCESS CODE ROW
._2WZcpnJsf4iRuWPaYpL_gi {
  gap: var(--zehn-size-setting-field-gap) !important;

  // INPUT
  .DialogInput_Wrapper {
    flex: unset !important;
  }

  // CHECK BUTTON (STILL USED???)
  ._1IwF6o-Z7lL4drKYAGGOAt {
    margin: 0px !important;
    width: fit-content !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - CONTROLLER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// STEAM INPUT LINK
.fy_T9oPtxbR-D7zn8uhXg {
  text-decoration: none !important;
}

// INPUT STATUS
._2H4LypEOvoKY3pHtDIpt5l {
  margin-inline: 0px !important;
  line-height: var(--zehn-size-setting-label) !important;
  color: var(--zehn-color-text-label) !important;
  font-size: var(--zehn-size-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// GRID
._3lj3-GDYOlcoIFB3fFo1ko {
  color: var(--zehn-color-table-body-content) !important;
  font-size: var(--zehn-size-table-text) !important;
  line-height: var(--zehn-size-table-text-line) !important;
  margin-inline: 0px !important;
  padding: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  background: transparent !important;
  grid-auto-rows: var(--zehn-size-table-entry) !important;
  row-gap: 0px !important;
  column-gap: 0px !important;

  >div {
    min-height: var(--zehn-size-table-entry) !important;
    padding: var(--zehn-size-table-entry-padding) !important;
    align-content: center !important;

    &:nth-child(4n + 1),
    &:nth-child(4n + 2) {
      background: var(--zehn-color-table-odd) !important;
    }

    &:nth-child(4n + 3),
    &:nth-child(4n + 4) {
      background: var(--zehn-color-table-even) !important;
    }

    &:nth-child(4n + 2),
    &:nth-child(4n + 4) {
      width: auto !important;
      flex: 1 !important;
    }
  }

  // CONTROLLER
  .nsJRdcmwAO0dIk0dR87fv {

    // PIP
    ._3QVsc21O3y-P2jJiD5t6-s {
      width: var(--zehn-size-indicator) !important;
      height: var(--zehn-size-indicator) !important;
      background-color: transparent !important;
      border-radius: var(--zehn-size-indicator-radius) !important;
      margin-right: var(--zehn-size-icon-gap) !important;

      // CONNECTED
      &._11Gq_4A3cMXdDfUnoeM14v {
        background-color: var(--zehn-color-indicator) !important;
        filter: none !important;
      }
    }
  }

  // INPUT STATUS
  ._2H4LypEOvoKY3pHtDIpt5l {
    margin: 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - DLC ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TOP ROW
.ZII4C3WPvs65P3yvAtV69  {
  gap: var(--zehn-size-setting-field-gap) !important;
  order: 2 !important;

  .DialogInput_Wrapper {
    margin: 0px !important;
  }
}

// DLC GRID
._3sXdOJ9DEh5zdS54_ptwgW {
  margin: 0px !important;
  margin-bottom: var(--zehn-size-setting-group-gap) !important;
  border: none !important;
  background: transparent !important;
  color: var(--zehn-color-table-body-content) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-table-text) !important;

  >div {

    // ACTUALLY EVEN
    &:nth-child(odd) {
      --background: var(--zehn-color-table-even);
    }

    // ACTUALLY ODD
    &:nth-child(even) {
      --background: var(--zehn-color-table-odd);
    }
  }

  // HEADER (NOT ACTUALLY HEADER SO WE GOTTA PUT BG COLOR ON)
  ._1SKB0Xc7OpWlOlr-wSi8ho {
    background: var(--zehn-color-dialog) !important;
    padding: var(--zehn-size-table-entry-padding) !important;
    color: var(--color) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-table-text) !important;
    line-height: var(--zehn-size-table-text-line) !important;
    --color: var(--zehn-color-table-header-content);
    
    svg {
      background-color: var(--color) !important;
    }

    &:hover {
      --color: var(--zehn-color-table-header-content-hover);
    }

    &:active {
      --color: var(--zehn-color-table-header-content-active);
    }

    // TRIANGLE
    ._2lnv61nvDJ1QaIUATpSvAI,
    ._3OdnV11WP2v1gA3E8EGlR5 {
      transform: none !important;
      width: var(--zehn-size-table-header) !important;
      height: var(--zehn-size-table-header) !important;
      margin: 0px !important;
      color: transparent !important;
      background-color: var(--color) !important;
      mask-repeat: no-repeat !important;
      mask-position: center !important;
      mask-size: var(--zehn-size-icon-sm) !important;

      * { display: none !important; }
    }

    ._2lnv61nvDJ1QaIUATpSvAI {
      -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;
    }

    ._3OdnV11WP2v1gA3E8EGlR5 {
      -webkit-mask-image: var(--zehn-icon-chevron-up-thick) !important;
    }
  }

  // CHECKBOX
  ._2nXS1OQvhODwzoAc75AEKR {
    background: var(--background) !important;
    margin: 0px !important;
    padding: var(--zehn-size-table-entry-padding) !important;
  }

  // NAME AND IMAGE
  .bP2Ipgau61tQ0ZGNU5LM {
    background: var(--background) !important;
    padding: var(--zehn-size-table-entry-padding) !important;
    color: var(--zehn-color-table-body-content) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-table-text) !important;
    line-height: var(--zehn-size-table-text-line) !important;
    margin: 0px !important;
    text-decoration: none !important;

    // ART
    ._3vsfp8LTfydRarXzXDmT55._2bF7XkQZA1M7jTj6txLFp- {
      margin-right: var(--zehn-size-image-gap) !important;

      // GLOSS
      .HAvWsE0-ycDj77SdyLXE- {
        opacity: 0 !important;
        transform: none !important;
        background: transparent !important;
      }
    }

    // TEXT
    .a19KifKnB2YZP_hYoFsar {}
  }

  // ADDED
  .dR1gzt2Xg4CjsE9T0Q4Lc {
    background: var(--background) !important;
    padding: var(--zehn-size-table-entry-padding) !important;
    margin: 0px !important;
  }

  // SIZE
  ._2tvvLzzndDzD9b0ORuVNjk {
    background: var(--background) !important;
    padding: var(--zehn-size-table-entry-padding) !important;
    margin: 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - WORKSHOP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SHOW ADVANCED OPTIONS
svg._24g1h6HdmxH5Jd2HkAEHwC {

  &[direction="up"] {
    -webkit-mask-image: var(--zehn-icon-chevron-up) !important;
  }

  &[direction="down"] {
    -webkit-mask-image: var(--zehn-icon-chevron-down) !important;
  }
}

// ADVANCED OPTIONS
._3YnA5GEUZEksX1N09dxym2 {
  margin-top: var(--zehn-size-setting-group-gap) !important;
}

// TOP ROW
._3Oi_Xmyy8um3Ta4VoOH35b {
  padding: 0px !important;
  margin-top: var(--zehn-size-setting-group-gap) !important;
  gap: var(--zehn-size-setting-field-gap) !important;
  flex-direction: row !important;
  align-items: flex-start !important;

  // OPTION
  ._1jU7DJWKTZJb6QXtw7BD9r {
    max-width: unset !important;
    gap: var(--zehn-size-setting-control-gap) !important;
    align-items: center !important;
    flex: unset !important;

    .DialogInput_Wrapper {
      max-width: unset !important;
    }

    // DROPDOWN
    .Z_H0fK96pliy5qR0wth8C {}
  }
}

// ITEMS
._3ZhiKhciPyiGGxDFuGOYpc {
  margin-top: var(--zehn-size-setting-group-gap) !important;
  color: var(--zehn-color-list-text) !important;

  // SCROLL WRAPPER
  ._3SPlcoJKzx2TM4WVMW9Xpt {
    border: none !important;
    box-shadow: none !important;

    // ITEM ROW (FIXED HEIGHT)
    .pht3SaejGcAJEjNG8d6nd {
      background: var(--zehn-color-list-background) !important;
      height: 82px !important;
      padding: var(--zehn-size-list-entry-padding) !important;
      box-sizing: border-box !important;
      gap: var(--zehn-size-list-entry-gap) !important;
      --drag-opacity: 0;

      &:hover {
        background: var(--zehn-color-list-background-hover) !important;
        --drag-opacity: 1;
      }

      &:active {
        background: var(--zehn-color-list-background-active) !important;
      }

      // CAN CHANGE ORDER
      &._2WvnwuFOagpMXn_aAuVaNJ {}

      >:nth-child(1) {
        flex: 0 1 var(--zehn-size-checkbox) !important;
      }

      >:nth-child(2) {
        flex: 0 1 var(--zehn-size-list-entry-line) !important;
      }

      >:nth-child(3) {
        align-content: center !important;
        flex: 1 1 0 !important;
        overflow: hidden !important;
      }

      >:nth-child(4) {
        flex: 0 1 auto !important;
      }

      >:nth-child(5) {
        flex: 0 1 var(--zehn-size-button-md) !important;
      }

      // CHECKBOX
      ._2nXS1OQvhODwzoAc75AEKR {
        margin: 0px !important;
      }

      // NUMBER
      ._24hJpnBWog6vp8aU9x-Znk {
        margin: 0px !important;
        color: var(--zehn-color-list-text) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-list-entry-text) !important;
        line-height: var(--zehn-size-list-entry-line) !important;
        gap: 0px !important;
      }

      // DETAILS
      .iWdskI4in7pZbS0ETm5QQ {
        margin: 0px !important;
        color: var(--zehn-color-list-text) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-list-entry-text) !important;
        line-height: var(--zehn-size-list-entry-line) !important;
        gap: 0px !important;

        // IMAGE
        ._1Apujm9YkB1MT7tiEHslUE {
          margin-right: var(--zehn-size-image-gap) !important;
          background-color: var(--zehn-color-placeholder) !important;
          height: var(--zehn-size-image-md) !important;
          min-width: var(--zehn-size-image-md) !important;
          max-width: var(--zehn-size-image-md) !important;
          aspect-ratio: 1 !important;
        }

        // TEXT
        ._1N6t5cU9mG4040gmQUU6-U {
          gap: 0px !important;
          display: flex !important;
          flex-direction: column !important;
          padding: 0px !important;
          background-color: transparent !important;
          min-width: 0px !important;

          // TITLE
          .a19KifKnB2YZP_hYoFsar {
            color: var(--zehn-color-list-text) !important;
            font-weight: var(--zehn-weight-normal) !important;
            font-size: var(--zehn-size-list-entry-text) !important;
            line-height: var(--zehn-size-list-entry-line) !important;

            div {
              white-space: nowrap !important;
              overflow: hidden !important;
              text-overflow: ellipsis !important;
            }
          }

          // DEPENDENCIES
          .gD3pR3jGTpheAkjSi_t3l {
            background-color: transparent !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            color: var(--zehn-color-list-text-other) !important;
            font-weight: var(--zehn-weight-normal) !important;
            font-size: var(--zehn-size-list-entry-text-other) !important;
            line-height: var(--zehn-size-list-entry-line-other) !important;
          }

          // TAGS TEXT
          ._3EeBRJhbe2YHW3N5iRGXSZ {
            padding: 0px !important;
            background-color: transparent !important;
            white-space: nowrap !important;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
            color: var(--zehn-color-list-text-other) !important;
            font-weight: var(--zehn-weight-normal) !important;
            font-size: var(--zehn-size-list-entry-text-other) !important;
            line-height: var(--zehn-size-list-entry-line-other) !important;
          }

          // TAGS
          .hh4HHQrSWl4R_8NqlKs5m {
            gap: var(--zehn-size-tags-gap) !important;
            line-height: var(--zehn-size-tag) !important;
            color: var(--zehn-color-tag-text) !important;
            font-size: var(--zehn-size-tag-text) !important;
            font-weight: var(--zehn-weight-normal) !important;
            padding: 0px !important;

            // TAG
            ._2AQozUFcCfBh1F-oJjSTzj,
            ._2AQozUFcCfBh1F-oJjSTzj._109YF7t1pD9IURC8Yr7a6K {
              gap: var(--zehn-size-tag-gap) !important;
              padding: var(--zehn-size-tag-padding) !important;
              border-radius: var(--zehn-size-tag-radius) !important;
              background: var(--zehn-color-tag) !important;

              &:hover {
                background: var(--zehn-color-tag-hover) !important;
              }

              &:active {
                background: var(--zehn-color-tag-active) !important;
              }

              // TEXT
              .WNAUa4wz3B3UM6ujI_Sav {
                padding: 0px !important;
                border-radius: var(--zehn-size-radius-none) !important;
                color: inherit !important;
                background: transparent !important;
              }
            }
          }
        }

        // DRAG HANDLE
        svg._17z_pd5KtnIoB7X3ydiPR6 {
          inset: 0px !important;
          margin: auto !important;
          opacity: var(--drag-opacity) !important;
          transition: opacity 0.2s var(--zehn-timing-ease) !important;
          padding: 0px !important;
          width: var(--zehn-size-icon-md) !important;
          height: var(--zehn-size-icon-md) !important;
          color: var(--zehn-color-icon1) !important;
          background-color: var(--zehn-color-icon1) !important;
          mask-repeat: no-repeat !important;
          mask-position: center !important;
          mask-size: var(--zehn-size-icon-md) !important;
          -webkit-mask-image: var(--zehn-icon-gripper-horizontal) !important;

          * { display: none !important; }
        }
      }

      // SORTED COLUMN
      ._1V3IaWRiA-uGdKrFuUbSMm {
        text-align: right !important;
        margin: 0px !important;
        color: var(--zehn-color-list-text) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-list-entry-text) !important;
        line-height: var(--zehn-size-list-entry-line) !important;
        min-width: fit-content !important;
      }

      // CONTROLS
      ._2g0BSmW_Sw6_39d-nr3tjg {
        padding: 0px !important;
        margin: 0px !important;

        // UNSUBSCRIBE
        button._1GhdqLCL6OpQDLqjurF409 {

          svg {
            -webkit-mask-image: var(--zehn-icon-unsubscribe) !important;
          }
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - GAME RECORDING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - PRIVACY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// GO ONLINE TO CHANGE
._1FkllTGljuP1t9Xc6QDhk3 {
  color: var(--zehn-color-text-error) !important;
  margin: 0px !important;
  margin-top: var(--zehn-size-setting-label-gap) !important;
  gap: var(--zehn-size-icon-gap) !important;

  svg {
    height: var(--zehn-size-icon-md) !important;
    width: var(--zehn-size-icon-md) !important;
    background-color: currentColor !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--zehn-size-icon-md) !important;
    -webkit-mask-image: var(--zehn-icon-alert) !important;

    * { display: none !important; }
  }
}

// DLC SECTION
._3S8RX620BmLdH407KK505 {
  margin-top: var(--zehn-size-setting-group-gap) !important;
}

// DLC DESCRIPTION (REQUIRES DLC)
._3cAh02omVEUuC1wX2K36Ma {
  margin: 0px !important;
  padding: 0px !important;
  color: var(--zehn-color-text-description) !important;
  font-size: var(--zehn-size-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: normal !important;
}

// DLC DETAILS TOGGLE
.Htkkt1r5GiHi-0US69HQ_ {
  --icon: var(--zehn-icon-chevron-down);

  &.dB7T-kfL2b2b0jd9Zg9fa svg {
    transform: none !important;
    --icon: var(--zehn-icon-chevron-up);
  }

  svg {
    -webkit-mask-image: var(--icon) !important;
  }
}

// DLC LIST
._3PdB1VQrU1sU5KGongHSGH {
  transition: height 0.2s var(--zehn-timing-ease) !important;
  padding: 0px !important;
  margin-top: var(--zehn-size-setting-group-gap) !important;

  // DLC ITEM
  ._2ULTJEgaq0SZefVsQLCQ6B {
    gap: var(--zehn-size-setting-control-gap) !important;
    margin-bottom: var(--zehn-size-setting-field-gap) !important;

    &:last-of-type {
      margin-bottom: 0px !important;
    }

    // CHECKBOX
    .v3o1ddaclQBjmrQh2rDbz {}

    // IMAGE AND TITLE
    ._3FcoB9iwXEhr45sPG6g16h {
      gap: var(--zehn-size-image-gap) !important;

      ._3vsfp8LTfydRarXzXDmT55._2bF7XkQZA1M7jTj6txLFp- {
        width: 120px !important;
      }

      // TEXT
      .a19KifKnB2YZP_hYoFsar {
        color: inherit !important;
        text-decoration: none !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PROPERTY - CUSTOMIZATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ASSET DESCRIPTION
._3J4V_L7gsSfSVnRBy4o5hS {
  gap: var(--zehn-size-image-gap) !important;

  // ASSET WRAPPER
  ._1eMH32d87AouZB0uhgsXtx {
   
    // ARTWORK
    ._1FVCHX9qE_3k4o1H8yYRod {}
  }

  // TEXT
  ._2sThibZ6I0E8b2Qz3siZ5b {}
}

// BUTTONS
._9j_gPpen_NYMUdle9D09u {
  gap: var(--zehn-size-dialog-button-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~