// WHAT'S NEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._2JKpGzeAiwmBdY73bfRXz- {
  background: var(--zehn-color-dialog) !important;

  // CONTENT
  ._1I-uT20jYsj5wUT4VIGjW8 {
    padding: var(--zehn-size-dialog-padding) !important;
    padding-top: calc(var(--zehn-size-titlebar) + var(--zehn-size-dialog-padding)) !important;

    // SETTINGS
    ._1n-sV5GdQis4Wh9XN3GJ7L {
      padding: 0px !important;
      gap: 0px !important;
      display: flex !important;
      flex-direction: column !important;

      >._DialogInputContainer {
        margin-top: var(--zehn-size-setting-group-gap) !important;
      }

      // BODY TEXT
      .fyxt0H7Cwfirf9908slPp {}

      // UNDO CENTER ALIGNMENT
      .displayColumn.alignSelfCenter {
        align-self: flex-start !important;
      }

      // SECTION HEADER
      .DialogLabel._DialogLayout:not(.fyxt0H7Cwfirf9908slPp) {
        color: var(--zehn-color-text-section-header) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-text-section-header) !important;
        text-transform: none !important;
        margin: 0px !important;
        margin-top: var(--zehn-size-setting-section-gap) !important;
        line-height: var(--zehn-size-setting-section-header) !important;
      }

      // PRIORITY
      ._25JfLo9lwRM2V_2fUDsAaA {
        outline: none !important;
        background: transparent !important;
        padding: 0px !important;
        border-radius: var(--zehn-size-radius-none) !important;

        // TAGS
        .VwcCoDMU0ROCpRAJ_cXTx {
          padding: 0px !important;
          max-height: unset !important;
          margin-top: var(--zehn-size-setting-label-gap) !important;
          display: flex !important;
          flex-direction: row !important;
          flex-wrap: wrap !important;
          overflow: visible !important;
          gap: var(--zehn-size-tags-gap) !important;

          // TAG
          ._2C3-Rj_GA3KP7GklMymoPM {
            margin: 0px !important;
            font-weight: var(--zehn-weight-normal) !important;
            line-height: var(--zehn-size-tag) !important;
            align-items: center !important;
            border-radius: var(--zehn-size-tag-radius) !important;
            color: var(--zehn-color-tag-text) !important;
            background: var(--zehn-color-tag) !important;
            padding: var(--zehn-size-tag-padding) !important;
            font-size: var(--zehn-size-tag-text) !important;
            gap: var(--zehn-size-tag-gap) !important;
            height: var(--zehn-size-tag) !important;
            width: fit-content !important;
            box-sizing: border-box !important;
            position: relative !important;
            --remove-scale: 0;

            &:hover {
              background-color: var(--zehn-color-tag-hover) !important;
              color: var(--zehn-color-tag-text) !important;
              --remove-scale: 1;
            }

            &:active {
              background-color: var(--zehn-color-tag-active) !important;
              color: var(--zehn-color-tag-text) !important;
            }

            // TEXT
            .DialogToggle_Description {
              padding: 0px !important;
              color: inherit !important;
              font-size: inherit !important;
              font-weight: inherit !important;
              line-height: inherit !important;
            }

            // REMOVE
            ._2sdvic79rOzTYDZw2nrgmL._3XBggeqHxK4fIrbu_ULi1y {
              transition: transform 0.2s var(--zehn-timing-ease) !important;
              position: absolute !important;
              height: 100% !important;
              width: 100% !important;
              margin: 0px !important;
              inset: 0px !important;
              box-sizing: border-box !important;
              align-content: center !important;
              backdrop-filter: var(--zehn-filter-light-blur) !important;
              border-radius: var(--zehn-size-tag-radius) !important;
              transform-origin: center !important;
              transform: scale(var(--remove-scale)) !important;

              svg {
                width: var(--zehn-size-icon-md) !important;
                height: var(--zehn-size-icon-md) !important;
                opacity: 1 !important;
                background-color: var(--zehn-color-icon1) !important;
                mask-repeat: no-repeat !important;
                mask-position: center !important;
                mask-size: var(--zehn-size-icon-md) !important;
                -webkit-mask-image: var(--zehn-icon-tag-close) !important;
                margin: auto !important;
                display: block !important;

                * { display: none !important; }
              }
            }
          }
        }
      }
    }
  }
}

// LABEL SOFT
._3Hf53stS1-9flruoPqwO0O {
  color: var(--zehn-color-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-body) !important;
  line-height: normal !important;
  margin: 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~