:root {
  --option-content-mode-library-spacing: 16px;
  --option-content-mode-library-panel-radius: var(--zehn-size-panel-radius);
  --option-content-mode-library-panel-color: var(--zehn-color-panel);
  --option-content-mode-library-panel-color-hover: var(--zehn-color-panel-hover);

  --option-content-mode-downloads-spacing: 16px;
  --option-content-mode-downloads-panel-radius: var(--zehn-size-panel-radius);
  --option-content-mode-downloads-panel-color: var(--zehn-color-panel);
  --option-content-mode-downloads-panel-color-hover: var(--zehn-color-panel-hover);

  --option-content-mode-activity-spacing: 16px;
  --option-content-mode-activity-panel-radius: var(--zehn-size-panel-radius);
  --option-content-mode-activity-panel-color: var(--zehn-color-panel);
  --option-content-mode-activity-panel-color-hover: var(--zehn-color-panel-hover);

  --option-content-mode-community-spacing: 16px;
  --option-content-mode-community-panel-radius: var(--zehn-size-panel-radius);
  --option-content-mode-community-panel-color: var(--zehn-color-panel);
  --option-content-mode-community-panel-color-hover: var(--zehn-color-panel-hover);

  --option-content-mode-details-spacing: 16px;
  --option-content-mode-details-panel-radius: var(--zehn-size-panel-radius);
  --option-content-mode-details-panel-color: var(--zehn-color-panel);
  --option-content-mode-details-panel-color-hover: var(--zehn-color-panel-hover);
}