/* DESKTOP TOAST */
[class*="desktoptoasts_DesktopToastContainer_"] {
  /* width: 283px !important; */
  /* height: 70px !important; */
  /* overflow: hidden; */
  background-color: transparent !important;
  /* width: 364px !important; */
  /* height: 215px !important; */
}

[class*="desktoptoasts_DesktopToastPopup_"][class*="desktoptoasts_Middle_"] {
  /* --toast-duration: 50000000000ms !important; */
}

[class*="desktoptoasts_DesktopToastPopup_"] {
  background: rgb(var(--color-background)) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
  border: 0px solid transparent !important;
}

[class*="standardtemplates_StandardTemplateContainer_"]:hover, [class*="standardtemplates_StandardTemplateContainer_"].gpfocus {
  background-color: transparent !important;
  animation-name: none !important;
}

[class*="desktoptoasts_DesktopToastPopup_"][class*="desktoptoasts_Middle_"] [class*="desktoptoasts_DesktopToastBackground_"] {
  opacity: 1 !important;
  display: none !important;
}

[class*="desktoptoasts_DesktopToastContainer_"] [class*="standardtemplates_StandardTemplateContainer_"] {
  padding: 0x !important;
}

[class*="standardtemplates_AllNotificationsTemplate_"], [class*="standardtemplates_StandardTemplateDesktop_"], [class*="standardtemplates_DesktopToastTemplate_"], [class*="standardtemplates_PinnedTemplateWeb_"], [class*="standardtemplates_PinnedTemplateDesktop_"] {
  /* line-height: 16px !important; */
  /* height: 44px !important; */
  height: 70px !important;
  padding: 0px 16px !important;
}

[class*="standardtemplates_DesktopToastTemplate_"] {
  padding: 0px 16px !important;
  background: none !important;
}

[class*="standardtemplates_StandardTemplateContainer_"] {
  /* height: 70px !important; */
}

/* HOVER EFFECT */
[class*="desktoptoasts_DesktopToastPopup_"]:hover::before {
  opacity: 0 !important;
}

[class*="desktoptoasts_DesktopToastPopup_"]::before {
  background: transparent !important;
}

/* BACKGROUND */
[class*="desktoptoasts_DesktopToastBackground_"] {
  display: none !important;
}

[class*="desktoptoasts_DesktopToastPopup_"][class*="desktoptoasts_Top_"] [class*="desktoptoasts_DesktopToastBackground_"] {
  color: transparent !important;
  opacity: 1 !important;
}

[class*="desktoptoasts_DesktopToastPopup_"][class*="desktoptoasts_Top_"]:hover [class*="desktoptoasts_DesktopToastBackground_"] {
  color: transparent !important;
  opacity: 1 !important;
}

/* STEAM ICON */
[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardLogoDimensions_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardLogoDimensions_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardLogoDimensions_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_StandardLogoDimensions_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardLogoDimensions_"] {
  height: 44px !important;
  width: 44px !important;
  color: rgb(var(--color-white)) !important;
}

/* OTHER ICON */
[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_Icon_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Icon_"] {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  margin-right: 8px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
  fill: rgb(var(--color-text)) !important;
}

[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_Title_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Title_"]  {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
  margin-right: 0px !important;
}

[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_Icon_"]>svg, [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_Icon_"]>svg, [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Icon_"]>svg, [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_Icon_"]>svg, [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_Icon_"]>svg {
  width: 16px !important;
  height: 16px !important;
  font-size: var(--size-16) !important;
}

/* TEXT */
[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Content_"] {
  margin-left: 16px !important;
}

[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"] {
  /* line-height: 16px !important; */
}

[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"][class*="standardtemplates_Multiline_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardNotificationSubText_"][class*="standardtemplates_Multiline_"] {
  /* line-height: 16px !important; */
  color: rgb(var(--color-text)) !important;
}

[class*="standardtemplates_AllNotificationsTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_StandardTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_PinnedTemplateWeb_"] [class*="standardtemplates_StandardNotificationDescription_"], [class*="standardtemplates_PinnedTemplateDesktop_"] [class*="standardtemplates_StandardNotificationDescription_"] {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
}

/* FOOTER */
[class*="standardtemplates_BottomBar_"] {
  background-color: transparent !important;
  height: 20px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
  line-height: 20px !important;
}

/* AVATAR */
[class*="notificationcontent_StandardLogoDimensions_"] {
  background: transparent !important;
  border: 0px solid rgb(var(--color-accent)) !important;
  border-radius: var(--option-round-avatars) !important;
}

/* FRIEND ONLINE */
[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_OnlineTitle_"] {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-online)) !important;
  letter-spacing: normal !important;
}

[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_Body_"] {
  font-size: var(--size-12) !important;
  display: flex !important;
  gap: 4px !important;
}

[class*="notificationcontent_FriendOnlineColor_"] {
  color: rgb(var(--color-online)) !important;
}

/* FRIEND IN-GAME */
[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_IngameTitle_"]  {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-ingame)) !important;
  letter-spacing: normal !important;
}

[class*="standardtemplates_DesktopToastTemplate_"] [class*="standardtemplates_FriendInGameAppColor_"] {
  font-size: var(--size-12) !important;
  color: rgb(var(--color-ingame)) !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}