// RESIZEABLE IMAGE?VIDEO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.chatImageContainer,
.BBCodeResizableComponent,
.BBCodeResizableComponent.chatVideoContainer,
.BBCodeResizableComponent.BBCodeYouTubeComponent {
  display: flex !important;
  overflow: hidden !important;
  box-sizing: border-box !important;
  height: fit-content !important;
  min-height: 0px !important;
  max-width: var(--zehn-size-embed) !important;
  max-height: unset !important;
  background: var(--zehn-color-embed-background) !important;
  border-radius: var(--zehn-size-embed-radius) !important;
  gap: var(--zehn-size-spacing-xs) !important;
  margin: 0px !important;
  padding: var(--zehn-size-embed-padding) !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  border-width: var(--zehn-size-embed-border)  !important;
  border-style: solid !important;
  border-color: var(--zehn-color-embed-border) !important;
  place-content: flex-end !important;
  transition: background-color 0.2s var(--zehn-timing-ease) !important;

  &:hover {
    background-color: var(--zehn-color-embed-background-hover) !important;
  }
}

.chatImageContainer:not(.Restoring, .ActivelyResizing, .Resized),
.BBCodeResizableComponent:not(.Restoring, .ActivelyResizing, .Resized) {
  width: fit-content !important;
}

.chatImageContainer:is(.Restoring, .ActivelyResizing, .Resized).Minimized,
.BBCodeResizableComponent:is(.Restoring, .ActivelyResizing, .Resized).Minimized {
  width: auto !important;
}

.chatImageContainer.Minimizing,
.BBCodeAlreadyCollapsed.Minimized,
.BBCodeResizableComponent:is(.Minimized, .Minimizing) {
  display: flex !important;
}

.BBCodeResizableComponent.Minimizing,
.BBCodeResizableComponent.Minimized {
  min-height: 0px !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  width: auto !important;
  min-width: 0px !important;
  max-width: var(--zehn-size-embed) !important;
  place-content: flex-end !important;
}

// COLLAPSED
.BBCodeAlreadyCollapsed {
  padding: var(--zehn-size-padding-md) !important;
  display: flex !important;
  width: auto !important;
  max-width: var(--zehn-size-embed) !important;
  transition: background-color 0.2s var(--zehn-timing-ease) !important;
  background: var(--zehn-color-embed-background) !important;
  border-radius: var(--zehn-size-embed-radius) !important;
  border-width: var(--zehn-size-embed-border)  !important;
  border-style: solid !important;
  border-color: var(--zehn-color-embed-border) !important;
  min-width: 0px!important;
  box-sizing: border-box !important;

  &:hover {
    background-color: var(--zehn-color-embed-background-hover) !important;
  }
}

.BBCodeAlreadyCollapsedText,
.BBCodeCollapsed,
.BBCodeCollapsed_Friend {
  opacity: 1 !important;
  height: 100% !important;
  padding: 0px !important;
  margin: 0px auto 0px 0px !important;
  line-height: 100% !important;
  border-radius: var(--zehn-size-radius-none) !important;
  order: 10 !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  background-color: transparent !important;
  transition: none !important;
  position: relative !important;
  display: none !important;
  transform: none !important;
  align-items: center !important;
  align-self: center !important;
}

.BBCodeAlreadyCollapsed.Minimized .BBCodeAlreadyCollapsedText,
.BBCodeResizableComponent:is(.Minimized, .Minimizing) .BBCodeCollapsed,
.BBCodeResizableComponent:is(.Minimized, .Minimizing) .BBCodeCollapsed_Friend {
  opacity: 1 !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  background-color: transparent !important;
  display: block !important;
  transform: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// IMAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// WRAPPER
.BBCodeImageWrapper {
  background-color: transparent !important;
  max-width: unset !important;
  width: auto !important;
  min-width: 0px !important;
}

// CONTAINER
.PreserveAspect {
  padding: 0px !important;
  width: auto !important;
  height: auto !important;
  display: flex !important;
  flex-direction: column !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

// IMAGE
.chatImageContainer img {
  position: relative !important;
  width: auto !important;
  height: auto !important;
  display: block !important;
  max-width: 100% !important;
  max-height: unset !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// VIDEO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// VIDEO WRAPPER
.chatVideoContainer>.Panel {
  flex: 1 !important;
  width: auto !important;
  min-width: fit-content !important;
  position: relative !important;
  gap: var(--zehn-size-spacing-xs) !important;
  display: flex !important;
  flex-direction: column !important;
  --play-button-bottom: 0px;
}

// BECAUSE pLAY BUTTON IS ABSOLUTE OVER CONTAINER, ACCOUNT FOR SPACE TAKEN UP BY URL FOOTER
.chatVideoContainer>.Panel:has(.zehnEmbedLinkWrapper) {
  --play-button-bottom: 40px;
}

// VIDEO
.chatVideoContainer video {
  background: var(--zehn-color-video) !important;
  display: block !important;
  max-width: 100% !important;
  max-height: unset !important;
}

// PLAY BUTTON
.chatVideoPlayControl {
  background-color: transparent !important;
  padding: 0px !important;
  inset: 0px !important;
  bottom: var(--play-button-bottom) !important;
  height: auto !important;
  width: 100% !important;
}

.chatVideoPlayControl .playButtonContainer {
  --button-size: calc(2 * var(--zehn-size-icon-xxxl));
  width: var(--button-size) !important;
  height: var(--button-size) !important;
  padding: 0px !important;
  margin: auto !important;
  border-radius: var(--zehn-size-radius-circular) !important;
  background-color: var(--zehn-color-acrylic) !important;
  background-blend-mode: exclusion !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-size: auto !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
  transition: 0.2s var(--zehn-timing-ease-out-quart) !important;
  transition-property: opacity, transform, filter !important;
  opacity: 0 !important;
  transform: scale(2) !important;
  filter: var(--zehn-filter-light-blur) !important;
}

.chatVideoPlayControl:hover .playButtonContainer {
  transition-timing-function: var(--zehn-timing-ease-in-sine) !important;
  opacity: 1 !important;
  transform: scale(1) !important;
  filter: none !important;
}

.msg .chatVideoContainer .chatVideoPlayControl svg {
  padding: 0px !important;
  margin: auto !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-xxxl) !important;
  -webkit-mask-image: var(--zehn-icon-play) !important;
  width: 100% !important;
  height: 100% !important;
  transition: transform 0.2s var(--zehn-timing-ease) !important;
  transform: scale(1) !important;

  &:hover {
    transform: scale(1.2) !important;
  }
  
  * { display: none !important; }
}

.chatVideoPlayControl:hover svg {
  transform: unset;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// YOUTUBE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// PLAYER
.BBCodeYouTubeComponent_Sizer {
  margin: 0px !important;
  width: 100% !important;
}

.YoutubePlayer {
  background: var(--zehn-color-video) !important;
}

// FOOTER
a.test.HideWhenMinimized,
a.test.HideWhenMinimized:is(:focus, :hover, :hover:focus, :active, :active:focus) {
  box-sizing: border-box !important;
  margin: 0px !important;
  max-width: 100% !important;
  width: 100% !important;
  padding: var(--zehn-size-embed-inset-padding) !important;
  background: var(--zehn-color-embed-inset) !important;
  border-radius: var(--zehn-size-embed-inset-radius) !important;
  --footer-inner: var(--zehn-size-24);
}

.BBCodeTitle {
  color: var(--zehn-color-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
  padding: 0px !important;
  margin: 0px !important;
  width: auto !important;
  line-height: var(--footer-inner) !important;
  box-sizing: border-box !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.zehnEmbedLinkWrapper {
  padding: var(--zehn-size-embed-inset-padding) !important;
  background: var(--zehn-color-embed-inset) !important;
  border-radius: var(--zehn-size-embed-inset-radius) !important;
}

.zehnEmbedLinkWrapper {
  opacity: 1 !important;
  display: flex !important;
}

.BBCodeAlreadyCollapsed:is(.Minimized, .Minimizing),
.BBCodeResizableComponent:is(.Minimized, .Minimizing) {
  .zehnEmbedLinkWrapper {
    opacity: 0 !important;
    pointer-events: none !important;
    display: none !important;
  }
}

a.chatImageURL,
.chatImageContainer a.chatImageURL,
.chatImageContainer.giphyImg a.chatImageURL,
.BBCodeResizableComponent a.chatImageURL {
  --footer-inner: var(--zehn-size-24);
  display: block !important;
  inset: 0px !important;
  transition: none !important;
  position: relative !important;
  line-height: var(--footer-inner) !important;
  height: var(--footer-inner) !important;
  opacity: 1 !important;
  margin: 0px !important;
  max-width: 100% !important;
  width: 100% !important;
  padding: 0px !important;
  background: transparent !important;
  border-radius: var(--zehn-size-radius-none) !important;

  * {
    color: var(--zehn-color-text-label) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-label) !important;
  }
}

.giphyImg .chatImageURL {
  background-image: url() !important;
}

.giphyImg a.chatImageURL .giphyTag {
  margin: 0px !important;
  padding: 0px !important;
  color: var(--zehn-color-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
}

.giphyImg a.chatImageURL .giphyTag .giphySearch {
  color: var(--zehn-color-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
}

.chatImageContainer .chatImageURL .SVGIcon_Button,
.BBCodeResizableComponent .chatImageURL .SVGIcon_Button {
  inset: 0px !important;
  position: relative !important;
  height: var(--footer-inner) !important;
  width: var(--footer-inner) !important;
}

// POP OUT BUTTON
a.chatImageURL .SVGIcon_Button.SVGIcon_Popout {
  -webkit-mask-image: var(--zehn-icon-popout) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTROLS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SHARED
.BBCodeCollapseControl,
.BBCodeResizeControl,
.BBCodeRestoreControl {
  padding: 0px !important;
  inset: unset !important;
  opacity: 0 !important;
  transition: opacity 0.2s var(--zehn-timing-ease) !important;
}

.BBCodeAlreadyCollapsed:is(.Minimized, .Minimizing),
.BBCodeResizableComponent:is(.Minimized, .Minimizing) {
  .BBCodeCollapseControl,
  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    position: relative !important;
    opacity: 1 !important;
  }

  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    pointer-events: none !important;
    display: none !important;
  }
}

.chatImageContainer .BBCodeCollapseControl,
.BBCodeResizableComponent:not(.Minimized, .Minimizing) .BBCodeCollapseControl {
  .BBCodeCollapseControl,
  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    position: absolute !important;
    opacity: 0 !important;
    transition: opacity 0.2s var(--zehn-timing-ease) !important;
  }
}

.chatImageContainer,
.BBCodeResizableComponent:not(.Minimized, .Minimizing) {
  .BBCodeCollapseControl,
  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    top: calc(var(--zehn-size-embed-padding) + var(--zehn-size-spacing-xs) + (var(--control-order) * (var(--zehn-size-button-md) + var(--zehn-size-spacing-xs)))) !important;
    right: calc(var(--zehn-size-embed-padding) + var(--zehn-size-spacing-xs)) !important;
  }
}

.chatImageContainer {
  .BBCodeCollapseControl,
  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    top: calc(var(--zehn-size-embed-padding) + (var(--control-order) * (var(--zehn-size-button-md) + var(--zehn-size-spacing-xs)))) !important;
    right: var(--zehn-size-embed-padding) !important;
  }
}

.chatImageContainer:hover,
.BBCodeResizableComponent:not(.Minimized, .Minimizing):hover {
  .BBCodeCollapseControl,
  .BBCodeResizeControl,
  .BBCodeRestoreControl {
    opacity: 1 !important;
  }
}

// COLLAPSE
.BBCodeCollapseControl {
  --control-order: 0;
  order: 90 !important;
}

.BBCodeCollapseControl .SVGIcon_Button {
  -webkit-mask-image: var(--zehn-icon-window-collapse) !important;
}

.Minimized .BBCodeCollapseControl .SVGIcon_Button {
  -webkit-mask-image: var(--zehn-icon-window-expand) !important;
}

// RESIZE
.BBCodeResizeControl {
  --control-order: 1;
  order: 80 !important;
}

.BBCodeResizeControl .SVGIcon_Button.SVGIcon_ResizeIcon {
  -webkit-mask-image: var(--zehn-icon-scale) !important;
}

// RESTORE
.BBCodeRestoreControl {
  --control-order: 2;
  order: 70 !important;
}

.Minimized .BBCodeResizeControl {
  display: poin;
}

.BBCodeResizableComponent:not(.Restoring, .ActivelyResizing, .Resized) .BBCodeRestoreControl {
  display: none !important;
}

.BBCodeRestoreControl .restoreSize {
  -webkit-mask-image: var(--zehn-icon-scale-restore) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~