// ACHIEVEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// OUTER SIZER - USES CONTENT BOX SIZING FOR PADDING
.gioyPMOZttYFcnmgLnsWf {
  margin: 0px auto !important;
  width: var(--zehn-size-event-width) !important;
  max-width: var(--zehn-size-event-width-max) !important;
  padding: var(--zehn-size-event-padding) !important;
  display: flex !important;
  flex-direction: column !important;
  box-sizing: content-box !important;
}

// CONTROLS
.iYW5hWQwg14WYT4PV3xe_ {
  top: calc(var(--controls-inset) + var(--zehn-size-event-padding)) !important;
  right: calc(var(--controls-inset) + var(--zehn-size-event-padding)) !important;
  transform: none !important;
  transition: transform 0.2s var(--zehn-timing-ease) !important;
  margin: 0px !important;

  svg {
    -webkit-mask-image: var(--zehn-icon-clear) !important;
  }
}

// MODAL CONTAINER
.gioyPMOZttYFcnmgLnsWf>.Panel {
  background-image: none !important;
  height: fit-content !important;
  border: var(--zehn-size-modal-border) solid var(--zehn-color-modal-border) !important;
  border-radius: var(--zehn-size-modal-radius) !important;
  margin: 0px !important;
  flex: 1 1 auto !important;
  overflow: hidden !important;

  // INNER WRAPPER
  ._3FQHgRosfNJYE44Fsd_U6z {
    background: var(--zehn-color-modal-background) !important;
    backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
    background-blend-mode: exclusion !important;
    background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
    transition: background-color 0.2s var(--zehn-timing-ease) !important;
    --header-size: 98px;

    &:hover {
      background-color: var(--zehn-color-modal-background-hover) !important;
    }

    // HEADER ABSOLUTE BACKGROUND IMAGE
    .ODpLjkbgMnhnQTcm8ZCMO {
      height: var(--header-size) !important;
      overflow: hidden !important;

      // BACKGROUND COLOR
      ._3Fjw7Sm_QUgOr8r3khWTSm {
        backdrop-filter: none !important;
        background: transparent !important;
      }

      // BACKGROUND IMAGE
      ._294HV0se7vdDLPe-RvRZbb {
        filter: var(--zehn-filter-defocus) !important;

        // IMAGE
        ._24_AuLm54JVe1Zc0AApCDR {
          object-fit: cover !important;
          height: var(--header-size) !important;
          max-height: var(--header-size) !important;
          transition: opacity 0.2s var(--zehn-timing-ease) !important;
        }
      }
    }

    // CONTENT
    ._11Z-tk3z56AMAn01e-PyBL {
      padding: 0px !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTENT SHARED WITH OVERLAY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HEADER
._36Dp_CLuZbFCm7KDc9tbCv {
  height: var(--header-size) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  margin: 0px !important;
  align-content: flex-end !important;

  // HEADER CONTENT
  ._2iGYYePQN5QQzHWNLybmd4 {
    gap: var(--zehn-size-spacing-md) !important;

    // COLUMN
    .Pr0VCo6YB9GN5VnGd_wvF {
      gap: var(--zehn-size-spacing-md) !important;

      // GAME NAME
      ._3wNylaCAUJ8XtRM6mu2C0k {
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-24) !important;
        display: flex !important;
        gap: var(--zehn-size-spacing-xs) !important;

        // ICON
        ._2R_acHQS2nlohmPi6kGLRZ {
          margin: 0px !important;
          height: var(--zehn-size-icon-xl) !important;
          width: var(--zehn-size-icon-xl) !important;

          ._3d_bT685lnWotXxgzKW6am {
            transition: opacity 0.2s var(--zehn-timing-ease) !important;

            // VISIBLE
            &.yDr03475kalWBTwAE-Rnw {
              opacity: 1 !important;
            }
          }
        }
      }

      // STATS
      ._gDkIgrqhJq-FtbuR9wJi {
        background-color: transparent !important;
        padding: 0px !important;
        gap: var(--zehn-size-spacing-md) !important;

        // STAT
        ._28omEDJUOc_yRNrrdxXFx1 {
          gap: var(--zehn-size-spacing-xs) !important;

          // BIG
          &.p8Yjzm26BVbMEn7DyoeiQ {}

          // LABEL AND VALUE
          .C17OpWBrNblXGLwQpxHk- {

            // PROGRESS LABEL
            ._27CS0ATE6JLFP5A2W9Bdj_ {

              // LABEL
              ._17zZlCuxyWWUil57ZLDOXp {
                color: var(--zehn-color-text1) !important;
                font-weight: var(--zehn-weight-normal) !important;
                font-size: var(--zehn-size-12) !important;
                letter-spacing: normal !important;
              }
            }

            // PROGRESS BAR
            ._3CaVUwIuq04vtlXl8IK-p1 {
              margin-top: var(--zehn-size-padding-xs) !important;
            }
          }
        }
      }
    }
  }
}

// ACHIEVEMENTS
.gxNvErGV7FhJ3lnOa5htx {

  // TABLIST AND LIST
  ._3IBLc81yyL08OJ7rfKtF00 {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;

    // TABLIST
    ._2JobstxtZVYF3078DblN2M {}

    // LIST
    .WDa0_WKNSWIa38S26gl_T {
      margin-top: var(--zehn-size-tablist) !important;

      // SCROLL AREA
      ._1X4dtbZ_AMX_DXT-SGiK01 {
        padding: var(--zehn-size-dialog-padding) !important;
        margin: 0px !important;
        width: 100% !important;
        box-sizing: border-box !important;
        clip: unset !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~