// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#zehnGameCommunity {
  box-sizing: border-box !important;
  padding: var(--zehn-content-mode-community-spacing) !important;
}

#zehnGameCommunity ._2r4TK4BAuU-J4FuF_O7v_5.A6G1leLXs7Vqw45hoXg-l {
  margin: 0px !important;
  padding: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// GRID WRAPPER
._3Uy7tGY-DstlA3jV6dGEfB {
  margin: 0px !important;
  gap: var(--zehn-content-mode-community-spacing) !important;
  display: flex !important;
  flex-direction: column !important;

  // ROW
  ._1I55h8ejmOddwvE4LFbSEq {
    animation: none !important;
    opacity: 1 !important;
    gap: var(--zehn-content-mode-community-spacing) !important;
    padding: 0px !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PANEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._3QS6OBHpvI5bXsSQA2zQuW {
  box-shadow: none !important;
  background: var(--zehn-content-mode-community-panel-color) !important;
  border: none !important;
  border-radius: var(--zehn-size-community-panel-radius) !important;
  padding: var(--zehn-size-community-panel-padding) !important;
  transition: var(--zehn-transition-panel) !important;
  --menu-opacity: 0;

  &:hover {
    --menu-opacity: 1;
    box-shadow: none !important;
    background: var(--zehn-content-mode-community-panel-color-hover) !important;
  }

  // INNER
  ._2EOPVRm0FFn4LjXaGZ0Xh9 {
    
      // MEDIA
    ._1aP1bu_l_kDbKMN7XDNmzg {
      border-radius: var(--zehn-size-community-panel-content-radius) !important;
      overflow: hidden !important;
      --image-scale: 1;

      &:hover {
        --image-scale: 1.05;
      }

      ._3XZzfVx8SPRZc4kLownPRd {
        border-radius: unset !important;
        
        // IMAGE
        .AxZMHRu3YIxDFr0a-MP6n {
          transition: transform 0.5s var(--zehn-timing-ease) !important;
          transform: scale(var(--image-scale)) !important;
        }
      }

      // DETAIL
      ._3uabislt81gdMksbxzc-iN {
        box-sizing: border-box !important;
        align-content: center !important;
        bottom: 0px !important;
        border-radius: var(--zehn-size-radius-none) !important;
        color: var(--zehn-color-text-detail) !important;
        line-height: var(--zehn-size-16) !important;
        min-height: var(--zehn-size-detail) !important;
        padding: var(--zehn-size-detail-padding) !important;
        margin: 0px !important;
        width: 100% !important;
        background-color: var(--zehn-color-acrylic) !important;
        background-blend-mode: exclusion !important;
        backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
        background-size: auto !important;
        background-image: var(--zehn-transparency-effects-acrylic-texture) !important;

        .UhvgnRdPkZbRLaSD8iqLd {
          padding: 0px !important;
          color: inherit !important;
          font-size: var(--zehn-size-detail-text) !important;
          font-weight: var(--zehn-weight-normal) !important;
          margin: 0px !important;
        }
      }
    }

    // GUIDE
    ._-85o5-M_cGo-fefOuWwER {
      gap: var(--zehn-size-community-panel-content-gap) !important;

      // HEADER
      ._23Pup1qLf91kwjALd-jFGc {
        color: var(--zehn-color-text3) !important;
        font-size: var(--zehn-size-14) !important;
        font-weight: var(--zehn-weight-normal) !important;
        padding: 0px !important;
        line-height: var(--zehn-size-panel-header) !important;
      }

      // CONTENT
      ._28zG981gOe1Sn9M3DvUdw6 {
        display: flex !important;
        flex-direction: column !important;
        gap: var(--zehn-size-community-panel-content-gap) !important;

        // IMAGE AND TITLE
        ._33Cd4gWWUSqwn-dCRv_9Ko {
          border-radius: var(--zehn-size-radius-none) !important;
          margin: 0px !important;

          // ROW
          ._1dJuvQ4rvlB0q8vmLJH3l2 {
            border-radius: var(--zehn-size-radius-none) !important;
            background: transparent !important;
            gap: var(--zehn-size-spacing-md) !important;
            padding: 0px !important;

            // IMAGE
            ._3XZzfVx8SPRZc4kLownPRd {
              border-radius: var(--zehn-size-community-panel-content-radius) !important;
              
              // IMAGE
              .AxZMHRu3YIxDFr0a-MP6n {}
            }

            // TITLE
            .l0pbvMApUzYaf32F51pIO {
              margin: 0px !important;
              align-content: center !important;

              ._2xEgUh8bB82nVRtIzS6EHD {
                color: var(--zehn-color-text1) !important;
                font-size: var(--zehn-size-14) !important;
                font-weight: var(--zehn-weight-normal) !important;
                line-height: normal !important;
                margin: 0px !important;
              }
            }
          }
        }

        // DESCRIPTION
        ._3uabislt81gdMksbxzc-iN {
          padding: 0px !important;

          .xsBpzsjWWv0lqaQr0yzrG {
            color: var(--zehn-color-text-description) !important;
            font-size: var(--zehn-size-text-description-small) !important;
            font-weight: var(--zehn-weight-normal) !important;
            line-height: normal !important;
          }
        }
      }
    }
  }

  // INFO
  ._1ul9ZRBfhF0vyj-hrit6nU {
    color: var(--zehn-color-text1) !important;
    font-size: var(--zehn-size-panel-inset-text) !important;
    font-weight: var(--zehn-weight-normal) !important;
    padding: 0px !important;
    margin-top: var(--zehn-size-community-panel-content-gap) !important;
    height: var(--zehn-size-community-panel-info) !important;
    line-height: var(--zehn-size-16) !important;
    gap: var(--zehn-size-panel-inset-gap) !important;
    padding: var(--zehn-size-panel-inset-padding) !important;
    background: var(--zehn-color-panel-inset) !important;
    border-radius: var(--zehn-size-panel-inset-radius) !important;

    // ICON
    .dKX6Y9sc3T0eOFFMsbxFO {
      display: none !important;
    }

    // TEXT (WITH SPACE FOR MENU BUTTON)
    .rMbCqh2ydczoq62EticF5 {
      color: var(--zehn-color-text1) !important;
      font-size: inherit !important;
      font-weight: var(--zehn-weight-normal) !important;
      margin: 0px var(--zehn-size-community-panel-info) 0px 0px !important;
    }
  }

  // MENU BUTTON
  .CwZqp0ZwInfY8H9jUO4Xy {
    opacity: var(--menu-opacity) !important;
    transition: opacity 0.2s var(--zehn-timing-ease) !important;

    svg.SVGIcon_Settings {
      -webkit-mask-image: var(--zehn-icon-navigation) !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// VIDEO EMBED (SHARED WITH ACTIVITY) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.jjN9CtYfeIJoHpKOCmKOx {
  padding: 0px !important;
  transition: none !important;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  align-content: center !important;

  &:hover .zehnIconContainer {
    transition-timing-function: var(--zehn-timing-ease-in-sine);
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }

  .zehnIconContainer {
    --button-size: calc(2 * var(--zehn-size-icon-xxxl));
    width: var(--button-size);
    height: var(--button-size);
    padding: 0px;
    margin: auto;
    border-radius: var(--zehn-size-radius-circular);
    background-color: var(--zehn-color-acrylic);
    background-blend-mode: exclusion;
    backdrop-filter: var(--zehn-transparency-effects-acrylic-filter);
    background-size: auto;
    background-image: var(--zehn-transparency-effects-acrylic-texture);
    transition: 0.2s var(--zehn-timing-ease-out-quart);
    transition-property: opacity, transform, filter;
    opacity: 0;
    transform: scale(2);
    filter: blur(4px);

    .zehnIcon {
      position: absolute;
      inset: 0px;
      width: 100%;
      height: 100%;
      border-radius: var(--zehn-size-radius-circular);
      background-color: var(--zehn-color-icon1);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: var(--zehn-size-icon-xxxl);
      -webkit-mask-image: var(--zehn-icon-play);
      transition: transform 0.2s var(--zehn-timing-ease);
      transform: scale(1);

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  // VANILLA PLAY IMAGE
  ._2co0ek5jbAvxuML8CcgsBy {
    color: var(--zehn-color-icon1) !important;
    content: var(--zehn-texture-clear) !important;
    width: var(--zehn-size-icon-xxxl) !important;
    height: var(--zehn-size-icon-xxxl) !important;
    padding: 0px !important;
    box-sizing: border-box !important;
    line-height: var(--zehn-size-icon-xxxl) !important;
    z-index: 10 !important;
    position: absolute !important;
    inset: 0px !important;
    pointer-events: all !important;
    opacity: 0 !important;
    margin: auto !important;
    transform: none !important;
    display: none !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// NO CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._13HxuJ0oTs2vPOIhoZ48Wm {
  justify-content: center !important;
  gap: var(--zehn-size-activity-panel-content-gap) !important;
  min-height: fit-content !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-panel-header-large) !important;
  margin: 0px !important;
  border: none !important;
  background: var(--zehn-content-mode-activity-panel-color) !important;
  padding: var(--zehn-size-activity-panel-padding) !important;
  position: relative !important;
  transition: var(--zehn-transition-panel) !important;
  border-radius: var(--zehn-size-activity-panel-radius) !important;

  &:hover {
    background-color: var(--zehn-content-mode-activity-panel-color-hover) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~