// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO {
  padding: var(--zehn-content-mode-details-spacing) !important;
  float: unset !important;
  min-width: 100% !important;
  width: 100% !important;
  margin: 0px !important;
  gap: 0px !important;
  box-sizing: border-box !important;
  display: grid !important;
  gap: var(--zehn-content-mode-details-spacing) !important;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr)) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PANEL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH {
  box-sizing: border-box !important;
  background: var(--zehn-content-mode-details-panel-color) !important;
  padding: var(--zehn-size-details-panel-padding) !important;
  position: relative !important;
  min-width: 0px !important;
  transition: var(--zehn-transition-panel) !important;
  border-radius: var(--zehn-size-details-panel-radius) !important;

  &:hover {
    background-color: var(--zehn-content-mode-details-panel-color-hover) !important;
  }
}

._27RcNu8aXKBpYkHcNNrt-X ._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH:empty {
  display: none !important;
}

// INNER CONTENT
#zehnGameDetails._2aor4XVOYzN1PBSREk0UbO .vzLedtsu3TtTlKLEKzIhH ._2r4TK4BAuU-J4FuF_O7v_5 {
  padding: 0px !important;
  height: 100% !important;
  gap: var(--zehn-size-details-panel-content-gap) !important;

  // DLC
  &._2ycfNEAjDWvJwI6a-Wef4Q {}

  // WORKSHOP
  &._2PfKaNON59JOghsxPPjc0t {
    color: var(--zehn-color-text1) !important;
  }

  // SCREENSHOTS
  &._2_TE0KLOU7kWWxa9LS7iXA {}

  // REVIEW
  &._3ii4EUZ1oF_rrhxGNbOcXO {}

  // FRIENDS
  &.qGJMO0uQwngYsOvMwgGWa {}

  // TRADING CARDS
  &._3iIro38Q-z5F_75QwHtFuc {

    // SLIGHTLY LARGER THAN NARROW
    &._2413FLcROPVHVKY9n_lwH8 {}

    // BETWEEN NARROW AND MEDIUM
    &._2ecKEtmGF9_ZxCnJQqjjxM {}
  }

  // DETAIL BODY
  ._5uvIN6jXDXzzck59F-nhv {
    gap: var(--zehn-size-details-panel-content-gap) !important;
    position: relative !important;
    height: 100% !important;

    // NOT IN NOTES
    &:has(._2L6IIbLCMWUJcOhliUVqKb) {
      gap: 0px !important;
    }
  }
}

// FOOTER BUTTONS
._3d2-pzOgAfdsqyPcaKw6oz,
._2LXfssF4egV9imnrzSZrtx,
.QO0udpE4qSEcDjkVg5IwH {
  display: flex !important;
  gap: var(--zehn-size-spacing-xs) !important;
  flex-wrap: nowrap !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  margin-top: auto !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ADDITIONAL CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._11iUUsCpGW7-08wUrrGpge,
._11iUUsCpGW7-08wUrrGpge._3LAizMtUlmoLDISb1OIvn6 {
  padding: var(--zehn-size-padding-xs) !important;
  gap: var(--zehn-size-spacing-md) !important;
  background: var(--zehn-color-list-background) !important;

  &:hover {
    background: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background: var(--zehn-color-list-background-active) !important;
  }

  // MANUAL IMAGE
  ._3ikOg0yRAOzUTlfwD9zrH- {
    filter: none !important;
    border-radius: var(--zehn-size-details-panel-content-radius) !important;
    overflow: hidden !important;
  }

  // TEXT
  .QDrH3LZtEjz3M1fiLS_f_ {
    color: var(--zehn-color-text1) !important;
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ACHIEVEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TOTAL UNLOCKED
._38t1mljBjmJfqjpVzMT1CG {
  width: 100% !important;
  align-self: center !important;
  align-items: flex-start !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  background: transparent !important;

  // ALL ACHIEVED
  &._2YS0EBJmY2Rvs07zZ90UIJ {

    // RIBBON IMAGE
    svg._2TfBqZtHXY0TJKN7_qaVm6 {
      display: none !important;
      inset: 0px !important;
      height: var(--zehn-size-icon-xxl) !important;
      width: var(--zehn-size-icon-xxl) !important;
    }
  }

  // COUNT
  ._3jC8om-5Sci_dkUB-6VYiU {
    color: var(--zehn-color-text1) !important;

    // PERCENT
    ._14kZVEyaz7WX57N47z4Yr1 {
      color: var(--zehn-color-text3) !important;
    }
  }

  // PROGRESS
  ._3ns9185LizH61StaAXuAp6 {}


  // GLOBAL STAT LABEL
  ._1LNALpkg3wnKm61YtxBCOb {
    color: var(--zehn-color-text3) !important;
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
    text-decoration: underline !important;
  }
}

@media (prefers-contrast: more) {
  ._38t1mljBjmJfqjpVzMT1CG {
    background: transparent !important;
    color: var(--zehn-color-text1) !important;
    border-bottom: none !important;
  }
}

// RECENT ACHIEVEMENT
._1j_gja8bHXjiS-BeSQk8hb,
._1j_gja8bHXjiS-BeSQk8hb._14U8eM1W6Z4uJhCc5zvbKC,
._1j_gja8bHXjiS-BeSQk8hb.lZ2c49vTWJ60klQOY9l2K {
  margin: 0px !important;
  gap: var(--zehn-size-spacing-xs) !important;

  // TEXT
  ._1s_9cSxUjb4609MSH0EjWH {
    margin: 0px !important;

    // NAME
    ._39Y01uSRcLiDg5DneTTR0m {
      color: var(--zehn-color-text1) !important;
      font-size: var(--zehn-size-14) !important;
      font-weight: var(--zehn-weight-normal) !important;
    }

    // DESCRIPTION
    ._2gLHbXukQBdrIKhqEYVvOe {
      color: var(--zehn-color-text3) !important;
      font-size: var(--zehn-size-12) !important;
      font-weight: var(--zehn-weight-normal) !important;
      text-decoration: none !important;
    }

    // STATS
    .VKo9pLPbwpF3xIzL8Wnou {
      color: var(--zehn-color-text4) !important;
      font-size: var(--zehn-size-12) !important;
      font-weight: var(--zehn-weight-normal) !important;
    }
  }
}

// ACHIEVEMENTS LIST
._3eVREaIAGyRjbf0bkFjR9Y {
  margin: 0px !important;
  padding: var(--zehn-size-panel-inset-padding) !important;
  background: var(--zehn-color-panel-inset) !important;
  border-radius: var(--zehn-size-panel-inset-radius) !important;

  // ROW
  ._1IIKwlQaVZU6bIeEQJvmTK {
    justify-content: space-evenly !important;
    gap: 0px !important;

    // ENTRY
    ._2H_ytAwp5tfeou0kdWjLl4 {

      // SHOW MORE
      ._2gISWIeEzZ9PNuAzVuMaWd {
        margin: 0px !important;
        color: inherit !important;
        font-size: inherit !important;
        font-weight: inherit !important;

        ._1-H7tKj_QcGHLUbx5wVsGg {
          color: inherit !important;
          font-size: var(--zehn-size-16) !important;
          font-weight: inherit !important;
        }
      }
    }
  }
}

// WRAPPER ACHIEVEMENTS LIST
._3ca11X3AK6npLS3emMa5Lr,
._3ca11X3AK6npLS3emMa5Lr._3i6PczGBBYzCDZXkCDbJAD {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;

  .uoFNFZ7Hs5cF1IjP2fvPw {
    color: var(--zehn-color-text3) !important;
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
    margin-bottom: var(--zehn-size-spacing-xs) !important;
  }
}

// ACHIEVEMENT IMAGE (SHARED)
._2CK1m9x0gtA_oSAQa2FpS3 {
  height: fit-content !important;

  ._1fEbX-PfpZ2FhkhttWcm-V {
    height: var(--zehn-size-icon-xxl) !important;
    width: var(--zehn-size-icon-xxl) !important;
    margin: 0px !important;

    ._2V2sHETNfa62yMoDwSF3_t {
      transition: transform 0.2s var(--zehn-timing-ease) !important;

      &::after {
        background: transparent !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// NOTES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// NOTE
._2L6IIbLCMWUJcOhliUVqKb {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: 0px !important;
  margin: 0px !important;
  background: var(--zehn-color-list-background) !important;
  padding: var(--zehn-size-padding-xs) !important;
  text-decoration: none !important;

  &:hover {
    text-decoration: none !important;
    background: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    text-decoration: none !important;
    background: var(--zehn-color-list-background-active) !important;
  }
}

// VIEW ALL
._2L6IIbLCMWUJcOhliUVqKb._2AEMZFc1Ww_IHff0xyfNc8 {
  font-style: italic !important;
}

._2L6IIbLCMWUJcOhliUVqKb:last-of-type {
  margin-bottom: var(--zehn-size-details-panel-content-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// DLC ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// GRID
._2ycfNEAjDWvJwI6a-Wef4Q ._15tTAQr0o8mb0NcLEUOz1c {
  margin: 0px !important;
  line-height: normal !important;
  display: grid !important;
  gap: var(--zehn-size-spacing-xs) !important;
  grid-auto-rows: auto !important;
  grid-template-rows: unset !important;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, calc((var(--zehn-size-details-panel) / 2) - (2 * var(--zehn-size-details-panel-padding)))), 1fr)) !important;

  // ENTRY
  .Ie7sdp_wTfHTvr5FVVoJl {
    color: var(--zehn-color-text3) !important;
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
    max-width: none !important;
    width: auto !important;

    // ARTWORK
    ._2bF7XkQZA1M7jTj6txLFp- {
      overflow: hidden !important;
      border-radius: var(--zehn-size-details-panel-content-radius) !important;

      // GLOSS
      .HAvWsE0-ycDj77SdyLXE- {
        opacity: 0 !important;
        background: transparent !important;
        transition: none !important;
        display: none !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// WORKSHOP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HIGHLIGHT
._38t1mljBjmJfqjpVzMT1CG._1zmwcbn8AgDTiWuHGyMD2w {
  margin: 0px !important;

  // HEADER
  ._139kaYnK0NLJJzUxk_NcZj {

    // ROW
    ._1W34WpqfvufNgueNdZozwC {
      flex-direction: row !important;
      gap: var(--zehn-size-spacing-md) !important;
      align-items: flex-start !important;
      --remove-opacity: 0;

      &:hover {
        --remove-opacity: 1;
      }

      // LEFT IMAGE
      .gh2rjM-vD2oIms-jfWeCA {
        margin: 0px !important;
        background-color: var(--zehn-color-placeholder) !important;
        border-radius: var(--zehn-size-details-panel-content-radius) !important;
      }

      // RIGHT TEXT
      ._3DyemX0QGhW2mipZQwVfnS {
        width: 100% !important;
        gap: var(--zehn-size-spacing-xs) !important;
        display: flex !important;
        flex-direction: column !important;

        // SUBTITLE (TRENDING ETC)
        ._1jkfJdGTyndLlXdB9WkfL3 {
          color: var(--zehn-color-text3) !important;
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
          line-height: normal !important;
          width: 100% !important;
        }

        // TITLE
        ._1KR5XpPLCIid-SJBY4jFIp {
          margin-bottom: 0px !important;
          font-size: var(--zehn-size-14) !important;
          font-weight: var(--zehn-weight-normal) !important;
          line-height: normal !important;
        }

        // DESCRIPTION
        ._3SzXrXnWa-W29h_4yF8Jwv {
          width: 100% !important;
          color: var(--zehn-color-text3) !important;
          font-size: var(--zehn-size-12) !important;
          font-weight: var(--zehn-weight-normal) !important;
          padding: 0px !important;
          margin: 0px !important;
        }

        // READ MORE
        ._3Mq6sekyFK-ftT7QO56xSv {

          // LINK
          .YE_jJPwp0fBbRm1vQHIIq {
            font-size: var(--zehn-size-14) !important;
            font-weight: var(--zehn-weight-normal) !important;
            line-height: normal !important;
            padding: 0px !important;
            margin: 0px !important;
          }
        }

        // REMOVE HIGHLIGHT
        .aZc8RQUeHL3YNHxrG4pXN {
          transition: opacity 0.2s var(--zehn-timing-ease) !important;
          top: 0px !important;
          right: 0px !important;
          opacity: var(--reveal-opacity) !important;

          svg {
            -webkit-mask-image: var(--zehn-icon-clear) !important;
          }
        }
      }
    }
  }
}

// FOOTER
._5uvIN6jXDXzzck59F-nhv._176QJCynkEUSdR_-9btdAW {
  background: transparent !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// RECORDINGS AND SCREENSHOTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._2_TE0KLOU7kWWxa9LS7iXA {

  // HAVEN'T TAKEN ANY
  ._2_WwnsAHFIrNtqmPP5HSYz {
    color: var(--zehn-color-text3) !important;
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    margin-bottom: 0px !important;
  }

  // TAKE WITH F12
  ._2QCkjbh7DpjfulLt-gMSxB {
    color: var(--zehn-color-text3) !important;
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    margin-bottom: 0px !important;
  }

  // GRID
  ._2fgcqIGs6BXH_KJiTLhJX5 {
    margin: 0px !important;
    display: grid !important;
    gap: var(--zehn-size-spacing-xs) !important;
    grid-auto-rows: auto !important;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, calc((var(--zehn-size-details-panel) / 2) - (2 * var(--zehn-size-details-panel-padding)))), 1fr)) !important;
  
    // POST-GAME RECORDING
    .ily6w9czFJIzs8F314d2r._3kp3YuNFkfYDOjbHJajseJ {
      width: 100% !important;
      overflow: hidden !important;

      // INNER
      ._2K3CxIg-4vjn9yiRPFTiLb {
        background: transparent !important;
        z-index: 0 !important;

        // IMAGE
        .kSkkIMk_cjHgnxaBoAI6m {
          opacity: 1 !important;

          .DpCB0mm-SPKRHOp2_efqR {
            filter: var(--zehn-transparency-effects-acrylic-filter) !important;
          }
        }

        // ICON
        .MfsD2kHtq_kPO19285odF {
          width: var(--zehn-size-icon-xxxl) !important;
          height: var(--zehn-size-icon-xxxl) !important;
          background-color: var(--zehn-color-icon1) !important;
          mask-repeat: no-repeat !important;
          mask-position: center !important;
          mask-size: var(--zehn-size-icon-xxxl) !important;
          -webkit-mask-image: var(--zehn-icon-film) !important;
          transform: none !important;

          * { display: none !important; }
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~