// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// WRAPPER
._3lDczhulqraStjCitLYJ1K._2l416KfEtI4CL0mCUEmOBw ._1SvpjsckP9cPRxO6gCBHrw {
  min-height: auto !important;
  transform-style: flat !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// HERO BANNER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.LowPerfMode ._1IX7FPSY9Jb82KhBVBSkZa {
  transform: unset;
}

.HighPerfMode ._1IX7FPSY9Jb82KhBVBSkZa {
  transform: unset;
}

// CONTAINER
._2gZXhRmKUk68pA28-5ZmGQ {
  margin-top: var(--zehn-size-navbar) !important;
  opacity: 0 !important;
  transform-style: flat !important;

  // LOADED
  &.tXlLvuTxOVL1w3aVPX4bm {
    opacity: 1 !important;
  }

  &._6-WKlwpwjgMWFow-NM_W4 {
    background: transparent !important;
  }

  // WRAPPER
  .NZMJ6g2iVnFsOOp-lDmIP {
    --header-edge: var(--zehn-size-spacing-md);
    background-color: transparent !important;
    transform-style: flat !important;

    // HERO IMAGES
    ._1IX7FPSY9Jb82KhBVBSkZa {
      transform-origin: 0px 0px !important;
      transform: unset;
      top: 0px !important;
      animation: parallax linear !important;
      animation-timeline: scroll() !important;
      --parallax-speed: 5;

      // IMAGE
      .HNbe3eZf6H7dtJ042x1vM {
        z-index: 1 !important;
      }

      // BLUR EDGES IMAGE
      .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u {}

      // NORMAL
      .QlR9EFwTdUNm_J5vx54_Z {
        height: calc(100% + var(--zehn-size-library-playbar)) !important;

        // IMAGE
        .HNbe3eZf6H7dtJ042x1vM {
          z-index: 1 !important;
        }
      }

      // BEHIND CONTENT BLURRED
      .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u._3_IUVzR9tpG_JKEjhwXEAb {
        display: none !important;
      }

      .HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb {
        opacity: 1 !important;
        transform: scaleY(-1) !important;
        filter: saturate(1) !important;
      }
    }

    // LOGO
    .A14yd24JRjhFI-Q1ae6tN {
      inset: var(--header-edge) !important;
      animation: parallax linear !important;
      animation-timeline: scroll() !important;
      --parallax-speed: 2;

      // VALID REGION
      ._2aPcBP45fdgOK22RN0jbhm {

        // PLACEMENT
        ._2Eh7Soh97QONu_grMi2m66 {

          // IMAGE CONTAINER
          ._2DVdg_N1qLNDdnxJqN-RBX {

            // IMAGE
            ._3NBxSLAZLbbbnul8KfDFjw {
              z-index: 5 !important;
            }
          }
        }
      }
    }

    // GAME TITLE (IF NO LOGO)
    ._30acA_E0q_GuOxBqxgDJj4 {
      color: var(--zehn-color-icon1) !important;
      padding: var(--header-edge) !important;
      z-index: 100 !important;

      // TTILE
      ._3sUYxfgWcbeGFzYMkx1YDG {
        display: none !important;

        ._121fln1p_mlV8b9CUxpCDS text {
          font-weight: var(--zehn-weight-normal) !important;
          fill: var(--zehn-color-icon1) !important;
        }
      }

      // FEATURES - WHAT EVEN IS THIS?
      .fqwOycZBL_zQfcUiVVWyz {
        padding: 0px !important;

        // ROW
        .XL--niazcJ0Ec0oEwuDWd {}

        // COLUMN
        ._329r5jA4K6HvWj5H4GWqDS {

          // PURCHASE NOTICE
          ._3STfNQAZpe1U2ToD52S4dU {
            padding: 0px var(--zehn-size-padding-md) !important;
            border-radius: var(--zehn-size-radius-none) !important;
            margin: 0px !important;
            height: var(--zehn-size-detail) !important;
            background: var(--zehn-color-acrylic) !important;
            backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
            background-blend-mode: exclusion !important;
            background-size: auto !important;
            background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
            gap: var(--zehn-size-detail-gap) !important;
            align-items: center !important;

            // TEXT
            ._1t7927CfvHZSxoXBLDiDaR {
              padding: 0px !important;
              line-height: var(--zehn-size-detail) !important;
              background: transparent !important;
              opacity: 1 !important;
              color: var(--zehn-color-text-detail) !important;
              font-weight: var(--zehn-weight-normal) !important;
              font-size: var(--zehn-size-detail-text) !important;
            }

            // ICON
            .lKkF8MY2dBQlRkaHwjbqW {
              height: var(--zehn-size-icon-md) !important;
              width: var(--zehn-size-icon-md) !important;
              border-radius: var(--zehn-size-radius-none) !important;
              background: transparent !important;

              ._2tCNvxerDW3kH9lXAFl0NK {
                height: 100% !important;
                width: 100% !important;
                color: var(--zehn-color-icon1) !important;
                background-color: var(--zehn-color-icon1) !important;
                mask-repeat: no-repeat !important;
                mask-position: center !important;
                mask-size: var(--zehn-size-icon-md) !important;
                -webkit-mask-image: var(--zehn-icon-vr) !important;

                // VR REQUIRED
                &._2N6y_fjp3UfRBKaWACi4Lk {
                  -webkit-mask-image: var(--zehn-icon-vr) !important;
                }

                // CONTROLLER STATUS
                &._2A8NghNvAnMQQTHsudFu7H {
                  -webkit-mask-image: var(--zehn-icon-controller) !important;
                }

                * { display: none !important; }
              }
            }
          }
        }

        // FEATURE ICON
        ._1SIa8xLHqCJGyeA9sQ4yK_ {
          height: var(--zehn-size-24) !important;
          margin-left: var(--zehn-size-spacing-xs) !important;
          background: var(--zehn-color-acrylic) !important;
          backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
          background-blend-mode: exclusion !important;
          background-size: auto !important;
          background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
        }
      }
    }

    // COLLECTIONS
    ._2b6WkTnmJxMuX1biL7aS3C {
      top: var(--header-edge) !important;
      right: var(--header-edge) !important;
      max-height: calc(100% - var(--header-edge)) !important;
      gap: var(--zehn-size-spacing-xs) !important;

      // COLLECTION
      ._1HS4twEHtDJ_8MWgJT4VBd,
      ._1HS4twEHtDJ_8MWgJT4VBd._3-M9bcTzYOSRoajtIRDbka {
        margin: 0px !important;
        border: none !important;
        backdrop-filter: var(--zehn-filter-heavy-blur) !important;
        align-content: center !important;
        line-height: normal !important;
        font-size: var(--zehn-size-tag-text) !important;
        color: var(--zehn-color-tag-text) !important;
        transition: none !important;
        border-radius: var(--zehn-size-tag-radius) !important;
        background: var(--zehn-color-tag) !important;
        padding: var(--zehn-size-tag-padding) !important;
        gap: var(--zehn-size-tag-gap) !important;
        height: var(--zehn-size-tag) !important;
        width: fit-content !important;
        box-sizing: border-box !important;
        position: relative !important;

        &:hover {
          background-color: var(--zehn-color-tag-hover) !important;
          color: var(--zehn-color-tag-text) !important;
        }

        &:active {
          background-color: var(--zehn-color-tag-active) !important;
          color: var(--zehn-color-tag-text) !important;
        }
      }
    }

    // HLTB
    #hltb-for-millennium {

      .hltb-info {
        margin: var(--header-edge) !important;
        padding: 0px !important;
        background: transparent !important;

        ul {
          padding: 0px !important;
          margin: 0px !important;
          gap: var(--zehn-size-tag-gap) !important;

          li {
            backdrop-filter: var(--zehn-filter-heavy-blur) !important;
            display: flex !important;
            height: var(--zehn-size-tag) !important;
            line-height: normal !important;
            align-content: center !important;
            align-items: center !important;
            position: relative !important;
            border-radius: var(--zehn-size-tag-radius) !important;
            background: var(--zehn-color-tag) !important;
            padding: var(--zehn-size-tag-padding) !important;
            gap: var(--zehn-size-tag-gap) !important;

            &:hover {
              background-color: var(--zehn-color-tag-hover) !important;
            }

            &:active {
              background-color: var(--zehn-color-tag-active) !important;
            }

            p {
              margin: 0px !important;
              color: var(--zehn-color-tag-text) !important;
              font-size: var(--zehn-size-tag-text) !important;
              font-weight: var(--zehn-weight-normal) !important;
              text-transform: none !important;
              opacity: 1 !important;

              &.hltb-gametime {
                color: var(--zehn-color-tag-text) !important;
              }

              &.hltb-label {
                color: var(--zehn-color-tag-text-other) !important;
              }
            }

            .hltb-details-btn {
              padding: 0px !important;
              color: var(--zehn-color-tag-text) !important;
              font-size: var(--zehn-size-tag-text) !important;
              font-weight: var(--zehn-weight-normal) !important;
              text-transform: none !important;
            }
          }
        }
      }
    }
  }
}

@media (prefers-contrast: more) {
  .HNbe3eZf6H7dtJ042x1vM._3_IUVzR9tpG_JKEjhwXEAb,
  .HNbe3eZf6H7dtJ042x1vM.HSQWw9HUAP6jtA2OZjS-u {
    opacity: 1 !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOWER CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1_cYNJSvS6IXs9vLTEYjy5 {

  // INNER CONTAINER
  ._2OOzYVWIHaKXm6_7sscT9i {

    // GRADIENT TO COVER PARALLAX HEADER
    ._1Qa-Aq8WFiF9584yU_1xuC {
      background-color: transparent !important;
      margin-top: var(--zehn-size-library-playbar) !important;
      backdrop-filter: none !important;

      .Jbe--NUNw7sxbxGsMSjVa {
        backdrop-filter: none !important;
        opacity: 1 !important;
        background: linear-gradient(to bottom, var(--zehn-color-app) 50%, transparent) !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~