// TEXT AREAS - GENERIC
textarea,
// CONTEXT DROPDOWN
._2EstNjFIIZm_WUSKm5Wt7n input.DialogInput.DialogTextInputBase,
// CHAT
._113iuw_HlE_qSgt9cGWCSv,
// CONSOLE
._2SdqX9SccD_TtDat-bNo5- input.DialogInput.DialogTextInputBase,
// RECORDINGS SEARCH
._36KTbApKz0VLY9Q6lGt4aH input,
// GROUP CHAT MEMBERS
.MemberListColumn .friendSearchInput[type="text"] {
  transition: none !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
  box-sizing: border-box !important;
  max-width: var(--zehn-size-input-bar-width) !important;
  width: var(--zehn-size-input-bar-width) !important;
  height: var(--zehn-size-input-bar) !important;
  min-height: var(--zehn-size-input-bar) !important;
  max-height: var(--zehn-size-input-bar) !important;
  line-height: var(--zehn-size-input-bar-line) !important;
  padding: var(--zehn-size-input-bar-padding) !important;
  background: var(--zehn-color-input-bar-background) padding-box !important;
  color: var(--zehn-color-input-bar-text) !important;
  font-size: var(--zehn-size-input-bar-text) !important;
  border-radius: var(--zehn-size-input-bar-radius) !important;
  border: var(--zehn-size-input-bar-border) solid var(--zehn-color-input-bar-border) !important;

  &:is(:focus, :focus-within) {
    background: var(--zehn-color-input-bar-background-focus) padding-box !important;
    color: var(--zehn-color-input-bar-text-focus) !important;
    border-color: var(--zehn-color-input-bar-border-focus) !important;
  }

  &:hover {
    background: var(--zehn-color-input-bar-background-hover) padding-box !important;
    color: var(--zehn-color-input-bar-text-hover) !important;
    border-color: var(--zehn-color-input-bar-border-hover) !important;
  }

  &:hover:is(:focus, :focus-within) {
    background: var(--zehn-color-input-bar-background-hover-focus) padding-box !important;
    color: var(--zehn-color-input-bar-text-hover-focus) !important;
    border-color: var(--zehn-color-input-bar-border-hover-focus) !important;
  }

  &:active {
    background: var(--zehn-color-input-bar-background-active) padding-box !important;
    color: var(--zehn-color-input-bar-text-active) !important;
    border-color: var(--zehn-color-input-bar-border-active) !important;
  }

  &:active:is(:focus, :focus-within) {
    background: var(--zehn-color-input-bar-background-active-focus) padding-box !important;
    color: var(--zehn-color-input-bar-text-active-focus) !important;
    border-color: var(--zehn-color-input-bar-border-active-focus) !important;
  }

  &:disabled {
    background: var(--zehn-color-input-bar-background-disabled) padding-box !important;
    color: var(--zehn-color-input-bar-text-disabled) !important;
    border-color: var(--zehn-color-input-bar-border-disabled) !important;
  }

  &::placeholder {
    color: var(--zehn-color-input-bar-text-placeholder) !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    font-style: italic !important;
  }
}

._2EstNjFIIZm_WUSKm5Wt7n .DialogInput_Wrapper>input.DialogInput.DialogTextInputBase {
  height: var(--zehn-size-input-bar-context) !important;
  min-height: var(--zehn-size-input-bar-context) !important;
  max-height: var(--zehn-size-input-bar-context) !important;
}