// PIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1gzkmmy_XA39rp9MtxJfZJ {
  background-color: transparent !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  border: none !important;
  padding: 0 !important;
  gap: var(--zehn-size-spacing-md) !important;
  max-width: fit-content !important;
}

// PIN
._1gzkmmy_XA39rp9MtxJfZJ input._3xcXqLVteTNHmk-gh9W65d {
  text-align: center !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
  box-sizing: border-box !important;
  height: var(--zehn-size-input-pin) !important;
  width: var(--zehn-size-input-pin-width) !important;
  min-width: var(--zehn-size-input-pin-width) !important;
  max-width: var(--zehn-size-input-pin-width) !important;
  line-height: var(--zehn-size-input-pin-line) !important;
  padding: var(--zehn-size-input-pin-padding) !important;
  background: var(--zehn-color-input-pin-background) padding-box !important;
  color: var(--zehn-color-input-pin-text) !important;
  font-size: var(--zehn-size-input-pin-text) !important;
  border-radius: var(--zehn-size-input-pin-radius) !important;
  border: var(--zehn-size-input-pin-border) solid var(--zehn-color-input-pin-border) !important;
  border-bottom: var(--zehn-size-focusbar) solid var(--zehn-color-focusbar) !important;

  &:is(:focus, :focus-within) {
    background: var(--zehn-color-input-pin-background-focus) padding-box !important;
    color: var(--zehn-color-input-pin-text-focus) !important;
    border-color: var(--zehn-color-input-pin-border-focus) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &:hover {
    background: var(--zehn-color-input-pin-background-hover) padding-box !important;
    color: var(--zehn-color-input-pin-text-hover) !important;
    border-color: var(--zehn-color-input-pin-border-hover) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &:hover:is(:focus, :focus-within) {
    background: var(--zehn-color-input-pin-background-hover-focus) padding-box !important;
    color: var(--zehn-color-input-pin-text-hover-focus) !important;
    border-color: var(--zehn-color-input-pin-border-hover-focus) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &:active {
    background: var(--zehn-color-input-pin-background-active) padding-box !important;
    color: var(--zehn-color-input-pin-text-active) !important;
    border-color: var(--zehn-color-input-pin-border-active) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &:active:is(:focus, :focus-within) {
    background: var(--zehn-color-input-pin-background-active-focus) padding-box !important;
    color: var(--zehn-color-input-pin-text-active-focus) !important;
    border-color: var(--zehn-color-input-pin-border-active-focus) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &:is(:disabled, :read-only) {
    background: var(--zehn-color-input-pin-background-disabled) padding-box !important;
    color: var(--zehn-color-input-pin-text-disabled) !important;
    border-color: var(--zehn-color-input-pin-border-disabled) !important;
    border-bottom-color: var(--zehn-color-focusbar) !important;
  }

  &::placeholder {
    color: var(--zehn-color-input-pin-text-placeholder) !important;
    font-style: italic !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~