:root {
  --option-filter-focus: opacity(0.5);
  --option-filter-toggle: invert();
  --option-filter-negative: brightness(0);
  --option-filter-light: var(--option-filter-toggle);
  --option-filter-dark: var(--option-filter-negative);
}