/* SHOW SCROLLBARS */
:root {
  --option-display-scrollbars: 16px;
  --option-navbar-position: relative;
  --option-navbar-margin: 0px;
  --option-downloads-position: relative;
  --option-downloads-margin: 0px;
  --option-downloads-top: 200px;
  --option-downloads-base: var(--zehn-color-window-acrylic);
  --option-downloads-background: var(--zehn-color-window-acrylic-focus);
  --option-downloads-filter: blur(var(--zehn-blur-radius));
  --option-downloads-blend: exclusion;
  --option-downloads-acrylic: var(--zehn-texture-acrylic);
  --option-controls-background: var(--zehn-color-window-panel);
  --option-playbar-margin: 0;
  --option-playbar-background: var(--zehn-color-window-acrylic-focus);
  --option-playbar-filter: blur(var(--zehn-blur-radius));
  --option-playbar-blend: exclusion;
  --option-playbar-acrylic: var(--zehn-texture-acrylic);
  --option-playbar-scrollbar: 16px;
  --option-menu-margin-scroll: 0px;
}