/* STEAM */
:root {
  --option-scrollbar-width: 14px;
  --option-scrollbar-unfocused-button-size: 0px;
  --option-scrollbar-unfocused-inner-spacing: 4px;
  --option-scrollbar-unfocused-outer-spacing: 4px;
  --option-scrollbar-unfocused-end-spacing: 4px;
  --option-scrollbar-unfocused-thumb-width: 6px;
  --option-scrollbar-unfocused-thumb-radius: 14px;
  --option-scrollbar-unfocused-background: var(--zehn-color-scrollbar-unfocused);
  --option-scrollbar-unfocused-foreground: var(--zehn-color-scrollbar-thumb-focused);
  --option-scrollbar-unfocused-foreground-hover: var(--zehn-color-scrollbar-thumb-focused-hover);
  --option-scrollbar-unfocused-foreground-active: var(--zehn-color-scrollbar-thumb-focused-active);
  --option-scrollbar-focused-button-size: 0px;
  --option-scrollbar-focused-inner-spacing: 4px;
  --option-scrollbar-focused-outer-spacing: 4px;
  --option-scrollbar-focused-end-spacing: 4px;
  --option-scrollbar-focused-thumb-width: 6px;
  --option-scrollbar-focused-thumb-radius: 14px;
  --option-scrollbar-focused-background: var(--zehn-color-scrollbar-unfocused);
  --option-scrollbar-focused-foreground: var(--zehn-color-scrollbar-thumb-focused);
  --option-scrollbar-focused-foreground-hover: var(--zehn-color-scrollbar-thumb-focused-hover);
  --option-scrollbar-focused-foreground-active: var(--zehn-color-scrollbar-thumb-focused-active);
}