/* WINDOWS */
:root {
  --option-scrollbar-width: 16px;
  --option-scrollbar-unfocused-button-size: 0px;
  --option-scrollbar-unfocused-inner-spacing: 12px;
  --option-scrollbar-unfocused-outer-spacing: 2px;
  --option-scrollbar-unfocused-end-spacing: 2px;
  --option-scrollbar-unfocused-thumb-width: 2px;
  --option-scrollbar-unfocused-thumb-radius: 0px;
  --option-scrollbar-unfocused-background: var(--zehn-color-scrollbar-unfocused);
  --option-scrollbar-unfocused-foreground: var(--zehn-color-scrollbar-thumb-unfocused);
  --option-scrollbar-unfocused-foreground-hover: var(--zehn-color-scrollbar-thumb-unfocused-hover);
  --option-scrollbar-unfocused-foreground-active: var(--zehn-color-scrollbar-thumb-unfocused-active);
  --option-scrollbar-focused-button-size: 16px;
  --option-scrollbar-focused-inner-spacing: 0px;
  --option-scrollbar-focused-outer-spacing: 0px;
  --option-scrollbar-focused-end-spacing: 0px;
  --option-scrollbar-focused-thumb-width: 16px;
  --option-scrollbar-focused-thumb-radius: 0px;
  --option-scrollbar-focused-background: var(--zehn-color-scrollbar-focused);
  --option-scrollbar-focused-foreground: var(--zehn-color-scrollbar-thumb-focused);
  --option-scrollbar-focused-foreground-hover: var(--zehn-color-scrollbar-thumb-focused-hover);
  --option-scrollbar-focused-foreground-active: var(--zehn-color-scrollbar-thumb-focused-active);
}