// MINIPROFILE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// STANDALONE
html:has(body.HoverPopupBody.miniProfileHover) {
  display: var(--zehn-show-tooltips) !important;
  background: transparent !important;
}

.HoverPopupBody.miniProfileHover {
  width: fit-content !important;
  height: fit-content !important;
  display: var(--zehn-show-tooltips) !important;

  &.HoverfriendHover {}

  // INNER
  .miniProfileHoverInner {}
}

// MINI PROFILE HOVER (USED WHERE???)
._2AWayy-K0ZoNKv_Fr3CT_R {}

// MINIPROFILE
._2QPdq7GZ_03AD1ioPixVXW {
  display: var(--zehn-show-tooltips) !important;
  width: var(--zehn-size-tooltip-width-miniprofile) !important;
  background: var(--zehn-color-tooltip-background) !important;
  border-radius: var(--zehn-size-tooltip-radius) !important;
  border: var(--zehn-size-tooltip-border) solid var(--zehn-color-tooltip-border) !important;
  color: var(--zehn-color-tooltip-text) !important;
  font-size: var(--zehn-size-tooltip-text) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: 0px !important;
  line-height: var(--zehn-size-tooltip-line) !important;
  margin: 0px !important;
  box-shadow: none !important;
  box-sizing: border-box !important;

  // CONTENT
  ._1xTATKELHR-lRS_s3A4yzd {
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: var(--zehn-size-tooltip-gap) !important;
    padding: var(--zehn-size-tooltip-padding) !important;

    // NOT FRIENDS
    &._2zgR7xa30ESr7HTdIXFpx_ {}

    // NOT IN OR WATCHING GAME
    &._1NkB7RuIs66QCtsv4kxeCu {}

    >div:empty {
      display: none !important;
    }

    // BACKGROUND
    ._3HzZhZyBuR0K4qXaQoHMxI {
      background: transparent !important;
      display: none !important;

      // BACKGROUND BLUR
      .xUosYQXZvivPCxe-KwpvT {
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;
        filter: none !important;
        -webkit-mask: none !important;
        mask: none !important;
        inset: 0px !important;
        background: transparent !important;
      }
    }

    // VIDEO BACKGROUND
    ._3MrYvAGQ-g7bNccn6VJNpK {
      background-color: transparent !important;
      filter: var(--zehn-filter-light-blur) !important;
      opacity: 0.5 !important;

      // VIDEO
      ._2ZqfbNDeHFU_qaf3X3_Jjv {}
    }

    // HEADER
    ._3CZcHyWskP9Hc5t7AOo75A {
      padding: 0px !important;
      height: fit-content !important;

      // PROFILE
      ._2jZ0A5VjGTNGTQm03FbLrF {
        gap: var(--zehn-size-icon-gap) !important;
        align-items: center !important;

        &.in-game.ingame {}

        &.online.online {}

        &.online.awayOrSnooze {}

        &.offline.offline {}

        // AVATAR
        ._36eQg-jp1ebbdaE6PBniHu {

          img {
            margin: 0px !important;
            padding: 0px !important;

            // AVATAR
            &._3h-QRJGxnVOIExtHD1R0f2 {}

            // FRAME
            &._2nPONxDUmK4rQXzK4Y3vG2 {
              border-radius: var(--zehn-size-radius-none) !important;
            }
          }
        }

        // SNOOZE
        ._1cAsx42HMUFngn5IALUvH0 {
          position: relative !important;
          inset: unset !important;
          display: none !important;
        }

        // PLAYER CONTENT
        ._2-pwJCHlrc7zxN4iup2TR7 {
          margin: auto 0px !important;
          padding: 0px !important;

          // PERSONA
          ._3c5GOobmMUyjAWTosaUKUS {
            margin: 0px !important;
            justify-content: center !important;
            color: inherit !important;

            // PERSONA AND ICONS
            ._1p9kf3ahuMynhiqV1RC7aC {

              // PERSONA NAME
              .qiP8aEgNz331tt6X4NMNW {
                font-size: inherit !important;
                text-shadow: inherit !important;
                font-weight: inherit !important;

                // LABEL
                ._2VUw8xyYCaD1WduLCK3nlW {
                  color: inherit !important;
                  max-width: unset !important;
                  max-height: unset !important;
                  text-overflow: ellipsis !important;
                  white-space: nowrap !important;
                  overflow: hidden !important;
                }
              }
            }

            // AWAY LABEL
            ._1FgWIOIaRCAekjhGj0zFWq {
              color: var(--zehn-color-tooltip-text-other) !important;
              max-width: unset !important;
              text-shadow: inherit !important;
              font-weight: inherit !important;
              letter-spacing: normal !important;
              font-size: inherit !important;
            }

            // NOT FRIENDS
            ._2zgR7xa30ESr7HTdIXFpx_ {
              color: var(--zehn-color-tooltip-text-other) !important;
              font-size: inherit !important;
              text-transform: none !important;
              inset: unset !important;
              position: relative !important;
            }

            // BLOCKED
            ._39Jef4sV4jnGy6XES6JdVs {
              color: var(--zehn-color-tooltip-text-other) !important;
              font-size: inherit !important;
              text-transform: none !important;
              inset: unset !important;
              position: relative !important;
            }

            // REQUEST TO BE FRIENDS
            ._3Ea91LEoevcAXAuoA2-uLa {
              color: var(--zehn-color-tooltip-text-other) !important;
              font-size: inherit !important;
              text-transform: none !important;
              inset: unset !important;
              position: relative !important;
            }
          }
        }
      }
    }

    // GAME CONTAINER
    ._7-U6jtoeGvesTm7JFGH0- {
      background: transparent !important;
      min-height: fit-content !important;
      align-items: center !important;
      gap: var(--zehn-size-icon-gap) !important;
      display: flex !important;

      // GAME ICON
      .A0XYrZMFUpzFpMU7qBrhJ {
        width: var(--zehn-size-tooltip-badge) !important;
        height: var(--zehn-size-tooltip-badge) !important;
        border-radius: var(--zehn-size-thumbnail-radius) !important;
        margin: 0px !important;
        padding: 0px !important;
        position: relative !important;
        inset: unset !important;
      }

      // NO ICON
      &:not(:has(.A0XYrZMFUpzFpMU7qBrhJ)) {
        &::before,
        &::after {
          content: "";
          display: block;
          width: var(--zehn-size-tooltip-badge);
          height: var(--zehn-size-tooltip-badge);
        }

        &::before {
          background: var(--zehn-color-placeholder);
          border-radius: var(--zehn-size-thumbnail-radius);
          position: relative;
        }

        &::after {
          position: absolute;
          inset: 0px;
          margin: auto 0px;
          right: unset;
          background-color: var(--zehn-color-tooltip-icon);
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: var(--zehn-size-tooltip-icon);
          -webkit-mask-image: var(--zehn-icon-gamepad);
        }
      }

      // GAME CONTENT
      ._3YwnZTz_58lZ5anORkzDg3 {
        padding: 0px !important;
        font-size: inherit !important;
        color: inherit !important;

        // PERSONA
        &._3c5GOobmMUyjAWTosaUKUS {}

        // IN GAME
        &._24oQzlBma4VdZUDiSBaYFA {
          color: inherit !important;
        }

        // GAME STATE
        ._3Hxc3f2ZlkYTKbrxVoS9sq {
          color: inherit !important;
          font-size: inherit !important;
        }

        // RICH PRESENCE
        ._39T3EbAEqqKrJl5rX1-qPW {
          color: var(--zehn-color-tooltip-text-other) !important;
          font-weight: inherit !important;
          font-size: inherit !important;
        }
      }
    }

    // BOTTOM
    ._26ga2HHZL2HlK6wwFImcgX {
      background: transparent !important;
      padding: 0px !important;
      gap: var(--zehn-size-tooltip-gap) !important;
      display: flex !important;
      flex-direction: column !important;

      // BACKDROP BLUR
      &._1QhpYlQvI1J05uCM2I2e3X {
        backdrop-filter: none !important;
        -webkit-backdrop-filter: none !important;
      }

      // FEATURED CONTAINER
      ._1KDhdcZYSzJ8bcqGIVKlWI {
        padding: 0px !important;
        margin: 0px !important;
        height: fit-content !important;
        gap: 0px !important;
        align-items: center !important;

        // FAVORITE BADGE
        .qP4hsoQxxvaLVT3Gkm4J8 {
          width: var(--zehn-size-tooltip-badge) !important;
          height: var(--zehn-size-tooltip-badge) !important;
          border-radius: var(--zehn-size-thumbnail-radius) !important;
          margin-right: var(--zehn-size-icon-gap) !important;

          // ICON
          img._1oWOaeg_sFX88v15LwM2PO {}
        }

        // LEVEL
        .friendPlayerLevel {
          font-size: inherit !important;
          border: none !important;
          width: var(--zehn-size-tooltip-badge) !important;
          height: var(--zehn-size-tooltip-badge) !important;
          line-height: var(--zehn-size-tooltip-badge) !important;
          margin: 0px !important;
          background: var(--zehn-color-placeholder) !important;
          border-radius: var(--zehn-size-thumbnail-radius) !important;
          margin-right: var(--zehn-size-icon-gap) !important;
          box-sizing: border-box;

          &[class^="lvl_"] {
            border: none !important;
          }

          // NUMBER
          ._3vvwMiUuxFKnz-LwGwe5Do {
            color: inherit !important;
            font-size: inherit !important;
          }
        }

        // FEATURED LABELS
        ._39hariVfr4A85k8c2TC_x1 {
          font-size: inherit !important;
          margin: auto 0px !important;

          // TITLE
          ._2mCgtDakdGp_qrKcyIcZii {
            color: inherit !important;
          }

          // SUBTITLE
          ._3DelZ7HZu1TfU115lLc7vl {
            font-size: inherit !important;
            color: var(--zehn-color-tooltip-text-other) !important;
          }
        }
      }
    }

    // PLAYTIME
    ._1s3b90MDEzWiXAzyEg4vu2 {
      padding: 0px !important;
      background: transparent !important;
      min-height: fit-content !important;
      gap: var(--zehn-size-icon-gap) !important;
      order: 10 !important;
      align-items: center !important;

      // GAME LOGO
      ._2HU_E-2SbIBuGTf-28tVgU {
        width: auto !important;
        height: var(--zehn-size-tooltip-badge) !important;
        border-radius: var(--zehn-size-thumbnail-radius) !important;
        margin: 0px !important;
        padding: 0px !important;
        box-shadow: none !important;
        background: var(--zehn-color-placeholder) !important;

        // FOR CURRENT GAME
        &._3s-55t0zdXZvIG4VIzVaqE {
          padding: 0px !important;
        }
      }

      // CONTENT
      ._28NsonuduTy4g7L-pE1ocN {
        color: inherit !important;
        font-size: inherit !important;

        // TIME PLAYED
        .KiUMH-qZUhdrtWF93sxVo {
          color: inherit !important;
        }
      }
    }

    // MUTUAL FRIENDS
    ._3AWk3BnPfsx8KJEGVge4Cr {
      background: transparent !important;

      &:empty {
        display: none !important;
      }

      &:has(>div:empty) {
        display: none !important;
      }
    }

    // MUTUAL FRIENDS (MAYBE OLD? NEEDS TO BE VERIFIED)
    .mutualFriendsContainer {
      padding: 0px !important;
      gap: var(--zehn-size-tooltip-gap) !important;
      display: flex !important;
      flex-direction: column !important;

      .mutualFriendTitle {
        margin: 0px !important;
        color: var(--zehn-color-tooltip-text-other) !important;
        font-size: inherit !important;
        font-weight: inherit !important;
      }

      >div:not(.mutualFriendTitle) {
        gap: var(--zehn-size-tooltip-gap) !important;
        display: flex !important;
        flex-direction: column !important;
      }

      .mutualFriend {
        margin: 0px !important;
        gap: var(--zehn-size-tooltip-gap) !important;
        display: flex !important;
        flex-direction: row !important;

        .mutualFriendAvatar {
          margin: 0px !important;
        }

        .mutualFriendLabel {
          font-size: inherit !important;
          font-weight: inherit !important;
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~