// SHARED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HOVER POSITION OUTER
._2_lmTz0tA4NOSle5WaO1PZ {
  width: 100% !important;
  height: 100% !important;
  z-index: 9999 !important;
}

// HOVER POSITION
._3vg1vYU7iTWqONciv9cuJN {
  opacity: 0 !important;
  transition: opacity 0.2s var(--zehn-timing-ease) !important;

  // READY
  &._1Ye_0niF2UqB8uQTbm8B6B {
    opacity: 1 !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TEXT TOOLTIP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TEXT TOOLTIP
._2FxbHJzYoH024ko7zqcJOf {
  background: var(--zehn-color-tooltip-background) !important;
  color: var(--zehn-color-tooltip-text) !important;
  font-size: var(--zehn-size-tooltip-text) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-tooltip-line) !important;
  border: var(--zehn-size-tooltip-border) solid var(--zehn-color-tooltip-border) !important;
  border-radius: var(--zehn-size-tooltip-radius) !important;
  gap: var(--zehn-size-tooltip-gap) !important;
  display: var(--zehn-show-tooltips) !important;
  padding: var(--zehn-size-tooltip-padding) !important;

  // WITH SHORTCUT (NOTES)
  .zT2msZmm-jBeLe4Dt7smo {

    // KEYCAP
    ._3mZEV9CXrIn4FITvJk3Xy- {
      line-height: inherit !important;
      color: inherit !important;
      font-size: var(--zehn-size-tooltip-bind-text) !important;
      font-weight: inherit !important;
      border-radius: var(--zehn-size-tooltip-bind-radius) !important;
      padding: var(--zehn-size-tooltip-bind-padding) !important;
      background: var(--zehn-color-tooltip-bind) !important;
    }

    // STYLE THE +
    div:has(>._3mZEV9CXrIn4FITvJk3Xy-) {
      color: var(--zehn-color-tooltip-text-other) !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CUSTOM TOOLTIP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CUSTOM
._3XGRklQrZMakU2xaYB0cLD {
  box-shadow: none !important;
  background: var(--zehn-color-tooltip-background) !important;
  border-radius: var(--zehn-size-tooltip-radius) !important;
  color: var(--zehn-color-tooltip-text) !important;
  font-size: var(--zehn-size-tooltip-text) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-tooltip-line) !important;
  display: var(--zehn-show-tooltips) !important;
  padding: var(--zehn-size-tooltip-padding) !important;
  border: var(--zehn-size-tooltip-border) solid var(--zehn-color-tooltip-border) !important;
  gap: var(--zehn-size-tooltip-gap) !important;
  flex-direction: column !important;

  // TITLE
  ._1LhVfNukndDa_XWzq0vdg1 {
    color: inherit !important;
  }

  // CONTENT
  .i4LuYcvtfPgYKx3qqvKUq {
    color: var(--zehn-color-tooltip-text-other) !important;
    margin: 0px !important;
  }
}

// CUSTOM W/ CONTENT TYPE (DOWNLOADS)
._3XGRklQrZMakU2xaYB0cLD._38Kbc0h04V8wdbbGE5yN11 {
  padding: var(--zehn-size-tooltip-padding) !important;
  background: var(--zehn-color-tooltip-background) !important;

  // TITLE
  .TK9wvF55dyA6RcOclozC8 {
    color: inherit !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    margin: 0px !important;
    text-transform: none !important;
  }

  // CONTENT TYPE
  .Rgy-7t7i1Yv97qhWQae7K {
    gap: var(--zehn-size-icon-gap) !important;
    padding: 0px !important;
    color: var(--zehn-color-tooltip-text-other) !important;

    // ICON
    svg.-OgRzXqfwOvAWFZS3Rk_N {
      width: var(--zehn-size-icon-md) !important;
      height: var(--zehn-size-icon-md) !important;
      background-color: var(--zehn-color-tooltip-icon-other) !important;
    }

    // TEXT
    ._1nCT-M7nZcoNzedbVzbXha {
      color: inherit !important;
      font-weight: inherit !important;
      font-size: inherit !important;
      text-align: left !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ITEM TOOLTIP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BASE (USED IN SCREENSHOTS/MEDIA)
._1JVxK7k1dVGT-XnDTUFrIC {
  line-height: var(--zehn-size-tooltip-line) !important;
  color: var(--zehn-color-tooltip-text) !important;
  font-size: var(--zehn-size-tooltip-text) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: var(--zehn-size-tooltip-padding) !important;
  border: var(--zehn-size-tooltip-border) solid var(--zehn-color-tooltip-border) !important;
  border-radius: var(--zehn-size-tooltip-radius) !important;
  gap: var(--zehn-size-tooltip-gap) !important;
  display: var(--zehn-show-tooltips) !important;

  // TITLE ROW
  ._14c4QmmVX6DYQDGfJNWRpp {
    gap: var(--zehn-size-icon-gap) !important;
    margin: 0px !important;

    // CONTAINER
    ._1R9r2OBCxAmtuUVrgBEUBw {

      // GREY BACKGROUND
      &._2E7G8grj_-tgxXbTXs1t2E {
        background: var(--zehn-color-placeholder) !important;
      }

      // GAME ICON
      &._3nxAy0Cwnf7kY-TC3IKFMt {
        width: var(--zehn-size-tooltip-icon) !important;
        height: var(--zehn-size-tooltip-icon) !important;
        border-radius: var(--zehn-size-tooltip-icon-radius) !important;
      }
    }

    // TITLE
    ._3gofIRJCg1EDHUFbiOdy9X {
      color: inherit !important;
      font-size: inherit !important;
      font-weight: inherit !important;
    }
  }

  // DETAILS SECTION
  ._3cvs0t54twxefij09Q2fjL {
    gap: var(--zehn-size-tooltip-gap) !important;

    // DETAIL
    ._2zd6wk4PWP9jThpnLBZS95 {
      color: var(--zehn-color-tooltip-text-other) !important;
      font-size: inherit !important;
      font-weight: inherit !important;
      gap: var(--zehn-size-tooltip-gap) !important;

      // WEAK
      &._1qlDylpYiPJqoFca2QMEld {
        color: var(--zehn-color-tooltip-text-other) !important;
        font-size: inherit !important;
        font-weight: inherit !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~