/* ENABLE COLOR TINT */
:root {
  --option-color-text-primary: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-text-secondary: color-mix(in srgb, rgb(var(--option-color-foreground-secondary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-text-tertiary: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-icon-primary: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-icon-secondary: color-mix(in srgb, rgb(var(--option-color-foreground-secondary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-icon-tertiary: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-link: rgb(var(--option-color-accent));
  --option-color-link-hover: color-mix(in srgb, rgb(var(--option-color-foreground-secondary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-link-active: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-control-light: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-control-dark: color-mix(in srgb, rgb(var(--option-color-black)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-sorting-background: transparent;
  --option-color-sorting-foreground: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-sorting-foreground-hover: color-mix(in srgb, rgb(var(--option-color-foreground-secondary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-sorting-foreground-active: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-button-dialog-background: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-button-dialog-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-button-dialog-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-button-dialog-background-focus: rgba(var(--option-color-accent));
  --option-color-button-dialog-background-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-button-dialog-border: transparent;
  --option-color-button-dialog-border-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-button-dialog-border-active: transparent;
  --option-color-button-dialog-border-focus: transparent;
  --option-color-button-dialog-border-disabled: transparent;
  --option-color-button-dialog-text: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-button-dialog-text-disabled: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-button-client-background: transparent;
  --option-color-button-client-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-button-client-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-button-client-background-disabled: transparent;

  --option-color-button-acrylic-background: color-mix(in srgb, rgba(var(--option-color-positive), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-button-acrylic-background-hover: color-mix(in srgb, rgba(var(--option-color-positive), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-button-acrylic-background-active: color-mix(in srgb, rgba(var(--option-color-positive), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));

  --option-color-dropdown-dialog-background: color-mix(in srgb, rgba(var(--option-color-positive), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-dropdown-dialog-background-hover: color-mix(in srgb, rgba(var(--option-color-positive), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-dropdown-dialog-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.3), rgba(var(--custom-color-foreground), 0.3) var(--option-blend));
  --option-color-dropdown-dialog-background-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-dropdown-dialog-border: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-dropdown-dialog-border-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-dropdown-dialog-border-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-dropdown-dialog-border-disabled: transparent;
  --option-color-dropdown-dialog-text: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-dropdown-dialog-text-disabled: color-mix(in srgb, rgb(var(--option-color-foreground-tertiary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-dropdown-client-background: transparent;
  --option-color-dropdown-client-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-dropdown-client-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));

  --option-color-input-dialog-background: color-mix(in srgb, rgba(var(--option-color-positive), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-input-dialog-background-hover: color-mix(in srgb, rgba(var(--option-color-positive), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-input-dialog-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.3), rgba(var(--custom-color-foreground), 0.3) var(--option-blend));
  --option-color-input-dialog-background-focus: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-input-dialog-border: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-input-dialog-border-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-input-dialog-border-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-input-dialog-border-focus: rgb(var(--option-color-accent));
  --option-color-input-dialog-text: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-input-dialog-text-placeholder: color-mix(in srgb, rgb(var(--option-color-foreground-secondary)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-input-dialog-text-focus: color-mix(in srgb, rgb(var(--option-color-black)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-list-background: transparent;
  --option-color-list-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-list-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-list-background-focus: rgb(var(--option-color-accent-positive-heavy));

  --option-color-table-odd: transparent;
  --option-color-table-even: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));

  --option-color-music-list-odd: transparent;
  --option-color-music-list-odd-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-music-list-odd-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.35), rgba(var(--custom-color-foreground), 0.35) var(--option-blend));
  --option-color-music-list-even: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-music-list-even-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-music-list-even-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.35), rgba(var(--custom-color-foreground), 0.35) var(--option-blend));
  --option-color-music-button-background: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-music-button-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-music-button-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-music-button-background-focus: color-mix(in srgb, rgba(var(--option-color-positive), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-music-button-border: transparent;
  --option-color-music-button-border-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-music-button-border-active: transparent;
  --option-color-music-button-border-focus: transparent;

  --option-color-chat-background: transparent;
  --option-color-chat-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.025), rgba(var(--custom-color-foreground), 0.025) var(--option-blend));
  --option-color-chat-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.025), rgba(var(--custom-color-foreground), 0.025) var(--option-blend));

  --option-color-placeholder: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));

  --option-color-selection: transparent;
  --option-color-selection-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.65), rgba(var(--custom-color-foreground), 0.65) var(--option-blend));
  --option-color-selection-active: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-seperator: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-seperator-context: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));

  --option-color-tag: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-tag-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-tag-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.35), rgba(var(--custom-color-foreground), 0.35) var(--option-blend));

  --option-color-progress-empty: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-progress-filled: rgb(var(--option-color-accent));

  --option-color-timeline-empty: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-timeline-filled: rgb(var(--option-color-accent));
  --option-color-timeline-handle: rgb(var(--option-color-accent));
  --option-color-timeline-handle-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-timeline-handle-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.5), rgba(var(--custom-color-foreground), 0.5) var(--option-blend));
  --option-color-timeline-selection: color-mix(in srgb, rgb(var(--option-color-foreground-primary)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-slider-background: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-slider-background-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-slider-background-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-slider-handle: rgb(var(--option-color-accent));
  --option-color-slider-handle-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-slider-handle-active: color-mix(in srgb, rgb(var(--option-color-handle)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-slider-track: rgb(var(--option-color-accent));
  --option-color-slider-default: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));

  --option-color-checkbox-background-off: transparent;
  --option-color-checkbox-background-off-hover: transparent;
  --option-color-checkbox-background-off-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-checkbox-background-off-disabled: transparent;
  --option-color-checkbox-background-on: rgb(var(--option-color-accent));
  --option-color-checkbox-background-on-hover: rgb(var(--option-color-accent));
  --option-color-checkbox-background-on-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-checkbox-background-on-disabled: transparent;
  --option-color-checkbox-border-off: color-mix(in srgb, rgba(var(--option-color-negative), 0.8), rgba(var(--custom-color-foreground), 0.8) var(--option-blend));
  --option-color-checkbox-border-off-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-checkbox-border-off-active: transparent;
  --option-color-checkbox-border-off-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-checkbox-border-on: transparent;
  --option-color-checkbox-border-on-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-checkbox-border-on-active: transparent;
  --option-color-checkbox-border-on-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-checkbox-toggle-off: transparent;
  --option-color-checkbox-toggle-off-hover: transparent;
  --option-color-checkbox-toggle-off-active: transparent;
  --option-color-checkbox-toggle-off-disabled: transparent;
  --option-color-checkbox-toggle-on: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-checkbox-toggle-on-hover: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-checkbox-toggle-on-active: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-checkbox-toggle-on-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));

  --option-color-photos-checkbox-background-off: color-mix(in srgb, rgba(var(--option-color-box), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-photos-checkbox-background-off-hover: color-mix(in srgb, rgb(var(--option-color-box)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-photos-checkbox-background-on: rgb(var(--option-color-accent));
  --option-color-photos-checkbox-background-on-hover: rgba(var(--option-color-accent), 0.4);
  --option-color-photos-checkbox-border-off: color-mix(in srgb, rgba(var(--option-color-black), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-photos-checkbox-border-off-hover: color-mix(in srgb, rgb(var(--option-color-black)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-photos-checkbox-border-on: rgb(var(--option-color-accent));
  --option-color-photos-checkbox-border-on-hover: rgba(var(--option-color-accent), 0.4);
  --option-color-photos-checkbox-outline-off: color-mix(in srgb, rgba(var(--option-color-gray), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-photos-checkbox-outline-off-hover: color-mix(in srgb, rgb(var(--option-color-gray)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-photos-checkbox-outline-on: rgb(var(--option-color-accent));
  --option-color-photos-checkbox-outline-on-hover: rgba(var(--option-color-accent), 0.4);
  --option-color-photos-checkbox-toggle: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-radio-background-off: transparent;
  --option-color-radio-background-off-hover: transparent;
  --option-color-radio-background-off-active: transparent;
  --option-color-radio-background-on: color-mix(in srgb, rgba(var(--option-color-negative), 0.8), rgba(var(--custom-color-foreground), 0.8) var(--option-blend));
  --option-color-radio-background-on-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-radio-background-on-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-radio-border-off: color-mix(in srgb, rgba(var(--option-color-negative), 0.8), rgba(var(--custom-color-foreground), 0.8) var(--option-blend));
  --option-color-radio-border-off-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-radio-border-off-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-radio-border-on: rgb(var(--option-color-accent));
  --option-color-radio-border-on-hover: rgb(var(--option-color-accent));
  --option-color-radio-border-on-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));

  --option-color-switch-background-off: transparent;
  --option-color-switch-background-off-hover: transparent;
  --option-color-switch-background-off-active: color-mix(in srgb, rgb(var(--option-color-switch-inner)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-background-off-disabled: transparent;
  --option-color-switch-background-on: rgb(var(--option-color-accent));
  --option-color-switch-background-on-hover: rgb(var(--option-color-accent-positive-light));
  --option-color-switch-background-on-active: color-mix(in srgb, rgb(var(--option-color-switch-inner)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-background-on-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-switch-border-off: color-mix(in srgb, rgb(var(--option-color-switch-outer)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-border-off-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-border-off-active: transparent;
  --option-color-switch-border-off-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-switch-border-on: transparent;
  --option-color-switch-border-on-hover: transparent;
  --option-color-switch-border-on-active: transparent;
  --option-color-switch-border-on-disabled: transparent;
  --option-color-switch-toggle-off: color-mix(in srgb, rgb(var(--option-color-switch-outer)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-off-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-off-active: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-off-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-switch-toggle-on: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-on-hover: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-on-active: color-mix(in srgb, rgb(var(--option-color-white)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-switch-toggle-on-disabled: color-mix(in srgb, rgba(var(--option-color-negative), 0.36), rgba(var(--custom-color-foreground), 0.36) var(--option-blend));

  --option-color-picker-border: transparent;
  --option-color-picker-border-hover: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-picker-border-active: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));

  --option-color-reveal-background: color-mix(in srgb, rgba(var(---option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-reveal-border: color-mix(in srgb, rgba(var(---option-color-negative), 0.25), rgba(var(--custom-color-foreground), 0.25) var(--option-blend));
  --option-color-reveal-notification-background: transparent;
  --option-color-reveal-notification-border: color-mix(in srgb, rgba(var(---option-color-negative), 0.25), rgba(var(--custom-color-foreground), 0.25) var(--option-blend));

  --option-color-scrollbar-track-narrow: transparent;
  --option-color-scrollbar-track-wide: color-mix(in srgb, rgba(var(--option-color-negative), 0.11), rgba(var(--custom-color-foreground), 0.11) var(--option-blend));
  --option-color-scrollbar-thumb-narrow: color-mix(in srgb, rgba(var(--option-color-negative), 0.52), rgba(var(--custom-color-foreground), 0.52) var(--option-blend));
  --option-color-scrollbar-thumb-wide: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-scrollbar-thumb-wide-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.4), rgba(var(--custom-color-foreground), 0.4) var(--option-blend));
  --option-color-scrollbar-thumb-wide-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.6), rgba(var(--custom-color-foreground), 0.6) var(--option-blend));
  --option-color-scrollbar-button-narrow: transparent;
  --option-color-scrollbar-button-wide: color-mix(in srgb, rgba(var(--option-color-negative), 0.11), rgba(var(--custom-color-foreground), 0.11) var(--option-blend));
  --option-color-scrollbar-button-wide-hover: color-mix(in srgb, rgba(var(--option-color-negative), 0.19), rgba(var(--custom-color-foreground), 0.19) var(--option-blend));
  --option-color-scrollbar-button-wide-active: color-mix(in srgb, rgba(var(--option-color-negative), 0.64), rgba(var(--custom-color-foreground), 0.64) var(--option-blend));
  --option-color-scrollbar-button-glyph: color-mix(in srgb, rgb(var(--option-color-negative)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-scrollbar-button-glyph-active: color-mix(in srgb, rgb(var(--option-color-positive)), rgb(var(--custom-color-foreground)) var(--option-blend));
  --option-color-scrollbar-corner-narrow: transparent;
  --option-color-scrollbar-corner-wide: transparent;

  --option-color-keyboard-background: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-keyboard-key: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-keyboard-key-mod: color-mix(in srgb, rgba(var(--option-color-negative), 0.2), rgba(var(--custom-color-foreground), 0.2) var(--option-blend));
  --option-color-keyboard-key-focus: rgb(var(--option-color-accent));

  --option-color-virtualmenu-background: color-mix(in srgb, rgba(var(--option-color-negative), 0.1), rgba(var(--custom-color-foreground), 0.1) var(--option-blend));
  --option-color-virtualmenu-background-selected: rgba(var(--option-color-accent), 0.5);
  --option-color-virtualmenu-border: rgb(var(--option-color-accent));
}