// EMOTICON PICKER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// PICKER
.tid_OE5NJWCCVJQP1PfRc {
  border-radius: var(--zehn-size-radius-none) !important;
  margin: 0px !important;
  min-width: 100% !important;
  min-height: 0px !important;
  max-height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  box-sizing: border-box !important;
}

.PP7LM0Ow1K5qkR8WElLpt:has(.tid_OE5NJWCCVJQP1PfRc) {
  width: auto !important;
  min-width: 0px !important;
  max-width: var(--picker-size) !important;
  height: auto !important;
  min-height: 0px !important;
  max-height: var(--picker-size) !important;
  padding: var(--zehn-size-context-menu-padding-picker) !important;

  // PREVENT OVERFLOW
  ._2EstNjFIIZm_WUSKm5Wt7n {
    max-height: 100% !important;
  }
}

// PICKER FROM CHAT ENTRY BAR SHOW AS MODAL
._3Knd7Am6tTwTTu605YN4IX+.PP7LM0Ow1K5qkR8WElLpt:has(.tid_OE5NJWCCVJQP1PfRc) {
  overflow: hidden !important;
  inset: var(--zehn-size-modal-inset) !important;
  margin: auto !important;
  padding: var(--zehn-size-dialog-padding) !important;
  border: var(--zehn-size-modal-border) solid var(--zehn-color-modal-border) !important;
  border-radius: var(--zehn-size-modal-radius) !important;
  background: var(--zehn-color-modal-background) !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
  transition: background-color 0.2s var(--zehn-timing-ease) !important;

  &:hover {
    background-color: var(--zehn-color-modal-background-hover) !important;
  }

  // REMOVE CONTEXT BORDER/BG
  &::after {
    display: none !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TABS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TABS
._1yVkTX9Mo_7qb2sxWhM0Cr {
  border: none !important;
  height: fit-content !important;

  >div:nth-child(1) {
    --tab-icon: var(--zehn-icon-clock);
  }

  >div:nth-child(2) {
    --tab-icon: var(--zehn-icon-emoticon);
  }

  >div:nth-child(3) {
    --tab-icon: var(--zehn-icon-color);
  }

  >div:nth-child(4) {
    --tab-icon: var(--zehn-icon-home);
  }
}

// TAB (STYLED AS BUTTON)
._2CJ0LpiSgVs2JuTlwbzBM {
  flex: 1 !important;
  position: relative !important;

  // ACTIVE
  &._1ddEQAfz6GuVRSEqk-d0r {

    ::after {
      content: "";
      position: absolute;
      display: block;
      bottom: var(--zehn-size-focusbar-tablist-spacing);
      left: var(--zehn-size-focusbar-tablist-spacing);
      right: var(--zehn-size-focusbar-tablist-spacing);
      height: var(--zehn-size-focusbar-tablist);
      background-color: var(--zehn-color-focusbar);
    }
  }
}

// TAB CONTENT
._1mROo5bpUJSg8D8ILx7qpw {
  background-color: transparent !important;
  border-radius: var(--zehn-size-radius-none) !important;
  padding: 0px !important;
  width: fit-content !important;
  height: fit-content !important;
  opacity: 1 !important;
  color: inherit !important;

  // ACTIVE
  &._1ddEQAfz6GuVRSEqk-d0r {
    padding: 0px !important;
    width: fit-content !important;
    height: fit-content !important;
    opacity: 1 !important;
    color: inherit !important;
  }
}

// PICKER TAB
.VrrpBsQE4GFseDy3cTw1Q {
  border-radius: var(--zehn-size-radius-none) !important;

  // CLOCK
  &._16xcLj__xBHmc9xDYmADhW {
    padding: 0px !important;
  }

  svg {
    -webkit-mask-image: var(--tab-icon) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.dUQIH8Qg80N6kjB8UQO0P {
  padding: var(--zehn-size-padding-md) !important;
  box-sizing: border-box !important;
}

// SECTION TITLE
.ZmsElITvVzU-7a2HXKBZI,
._3WuFl419BivPeLqeVIC939 {
  color: var(--zehn-color-context-entry-text) !important;
  font-size: var(--zehn-size-context-entry-text) !important;
  padding: 0px !important;
  line-height: var(--zehn-size-context-entry-line) !important;
  display: none !important;
}

// ITEM LIST
._2OWGRbhpXNcuR3oih9IGrX {
  justify-content: center !important;

    // ITEM
  ._1SFqyFzFrpPOEAKCrq2kKZ {
    padding: var(--zehn-size-padding-md) !important;
    margin: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    width: fit-content !important;
    height: fit-content !important;
    background-color: var(--zehn-color-list-background) !important;

    &:hover {
      background-color: var(--zehn-color-list-background-hover) !important;
    }

    &:active {
      background-color: var(--zehn-color-list-background-active) !important;
    }

    // FOCUS
    &._1xH5si_KorJpS4ST2Geksh {}

    // EMOTICON ITEM
    .P1aWuK_DhstDh-M08okCK {
      width: 100% !important;
      height: 100% !important;

      img._1ZQW1wV5cNj3sDpibfbUqs {
        width: var(--zehn-size-icon-xl) !important;
        height: var(--zehn-size-icon-xl) !important;
        transition: none !important;
      }
    }

    // STICKER ITEM
    ._2fYj8pHe3bHHxWj4FucFvj {
      width: 100% !important;
      height: 100% !important;

      img {
        width: var(--zehn-size-icon-xxxl) !important;
        height: var(--zehn-size-icon-xxxl) !important;
      }
    }

    // ROOM EFFECT
    ._22MJpsSm-Ur5FU5WpYQKzn {
      width: 100% !important;
      height: 100% !important;

      img {
        width: var(--zehn-size-icon-xxl) !important;
        height: var(--zehn-size-icon-xxl) !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SEARCH ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// FILTER INPUT CONTAINER
.EuFePPYFGrcf99uLXmBYN {
  padding: 0px !important;
  height: fit-content !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~