// ROOTMENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem {
  display: flex !important;
}

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem .zehnRootmenu {
  display: flex !important;
  gap: var(--zehn-size-context-entry-gap);
}

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem .zehnRootmenu  .zehnIcon {
  position: relative;
  display: block;
  width: var(--zehn-size-context-entry-icon);
  height: var(--zehn-size-context-entry-icon);
  background-color: var(--zehn-color-context-entry-icon);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--zehn-size-context-entry-icon);
  flex-shrink: 0;
}

// STEAM
.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-last-of-type(2) {
  --context-icon: var(--zehn-icon-refresh);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) {
  --context-icon: var(--zehn-icon-contacts-swap);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) {
  --context-icon: var(--zehn-icon-contact-key);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) {
  --context-icon: var(--zehn-icon-globe-offline);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) {
  --context-icon: var(--zehn-icon-update);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) {
  --context-icon: var(--zehn-icon-restore);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) {
  --context-icon: var(--zehn-icon-settings);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) {
  --context-icon: var(--zehn-icon-color);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(8) {
  --context-icon: var(--zehn-icon-controls);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:last-of-type {
  --context-icon: var(--zehn-icon-leave);
}

// VIEW
.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) {
  --context-icon: var(--zehn-icon-library);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) {
  --context-icon: var(--zehn-icon-library-hidden);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) {
  --context-icon: var(--zehn-icon-audio);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) {
  --context-icon: var(--zehn-icon-download);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) {
  --context-icon: var(--zehn-icon-mode-small);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) {
  --context-icon: var(--zehn-icon-mode-big);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) {
  --context-icon: var(--zehn-icon-contacts);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(8) {
  --context-icon: var(--zehn-icon-contacts-controller);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(9) {
  --context-icon: var(--zehn-icon-globe-controller);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(10) {
  --context-icon: var(--zehn-icon-inventory);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(11) {
  --context-icon: var(--zehn-icon-news);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(12) {
  --context-icon: var(--zehn-icon-picture);
}

// FRIENDS
.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) {
  --context-icon: var(--zehn-icon-contacts);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) {
  --context-icon: var(--zehn-icon-contact-add);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) {
  --context-icon: var(--zehn-icon-contact-settings);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) {
  --context-icon: var(--zehn-icon-status-online);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) {
  --context-icon: var(--zehn-icon-status-away);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) {
  --context-icon: var(--zehn-icon-status-invisible);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) {
  --context-icon: var(--zehn-icon-status-offline);
}

// GAMES
.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) {
  --context-icon: var(--zehn-icon-library);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) {
  --context-icon: var(--zehn-icon-giftcard);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) {
  --context-icon: var(--zehn-icon-wallet);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) {
  --context-icon: var(--zehn-icon-gift);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) {
  --context-icon: var(--zehn-icon-library-add);
}

// HELP
.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) {
  --context-icon: var(--zehn-icon-contact-headset);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) {
  --context-icon: var(--zehn-icon-privacy);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) {
  --context-icon: var(--zehn-icon-weigh);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) {
  --context-icon: var(--zehn-icon-handshake);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) {
  --context-icon: var(--zehn-icon-desktop);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) {
  --context-icon: var(--zehn-icon-info);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) {
  --context-icon: var(--zehn-icon-steam);
}

// STOCK STATUS ICON - REMOVED
._1GNJUJrGs0xUpASde60jQh {
  gap: var(--zehn-size-context-entry-gap) !important;
}

._32b_aVF7OElQOPG70LjdrJ {
  width: var(--zehn-size-context-entry-icon) !important;
  height: var(--zehn-size-context-entry-icon) !important;
  background-color: var(--zehn-color-context-entry-icon);
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-context-entry-icon) !important;
  -webkit-mask-image: var(--context-icon, var(--zehn-icon-asterisk)) !important;
  margin: 0px !important;
  flex-shrink: 0 !important;

  // SVG ONLY EXISTS WHEN CHECKED
  svg {
    width: 100% !important;
    height: 100% !important;
    background-color: transparent !important;
    display: none !important;

    * { display: none !important; }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~