// ROOTMENU ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem {
  display: flex !important;
}

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem .zehnListContainer {
  display: flex !important;
  gap: var(--zehn-size-spacing-xs);
}

html[class*="_Root_Menu"] ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem .zehnListIcon {
  position: relative;
  display: block;
  width: var(--zehn-size-icon-md);
  height: var(--zehn-size-icon-md);
  background-color: var(--zehn-color-icon1);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--zehn-size-icon-md);
  flex-shrink: 0;
}

// STEAM
.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-last-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-refresh);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contacts-swap);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contact-key);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-globe-offline);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-update);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-restore);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-settings);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-color);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(8) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-controls);
}

.Steam_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:last-of-type .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-leave);
}

// VIEW
.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-library);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-library-hidden);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-audio);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-download);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-mode-small);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-mode-big);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contacts);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(8) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contacts-controller);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(9) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-globe-controller);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(10) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-inventory);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(11) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-news);
}

.View_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(12) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-picture);
}

// FRIENDS
.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contacts);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contact-add);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contact-settings);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) ._32b_aVF7OElQOPG70LjdrJ {
  -webkit-mask-image: var(--zehn-icon-status-online);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) ._32b_aVF7OElQOPG70LjdrJ {
  -webkit-mask-image: var(--zehn-icon-status-away);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) ._32b_aVF7OElQOPG70LjdrJ {
  -webkit-mask-image: var(--zehn-icon-status-invisible);
}

.Friends_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) ._32b_aVF7OElQOPG70LjdrJ {
  -webkit-mask-image: var(--zehn-icon-status-offline);
}

// GAMES
.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-library);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-giftcard);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-wallet);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-gift);
}

.Games_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-library-add);
}

// HELP
.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(1) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-contact-headset);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(2) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-privacy);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(3) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-weigh);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(4) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-handshake);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(5) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-desktop);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(6) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-info);
}

.Help_Root_Menu ._2EstNjFIIZm_WUSKm5Wt7n>.contextMenuItem:nth-of-type(7) .zehnListIcon {
  -webkit-mask-image: var(--zehn-icon-steam);
}

// STOCK STATUS ICON - REMOVED
._1GNJUJrGs0xUpASde60jQh {
  gap: var(--zehn-size-spacing-xs) !important;
}

._32b_aVF7OElQOPG70LjdrJ {
  width: var(--zehn-size-icon-md) !important;
  height: var(--zehn-size-icon-md) !important;
  background-color: var(--zehn-color-icon1);
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  margin: 0 !important;
  flex-shrink: 0 !important;
}

._32b_aVF7OElQOPG70LjdrJ svg {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent !important;
  display: none !important;

  * { display: none !important; }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~