
// GENERIC
select,
// DIALOG
.DialogDropDown._DialogInputContainer,
// MEDIA SHARE
.GenericConfirmDialog ._28eIRmQ229ntDIyQXTn3Ub.QE3sHW9puNTAjiRDY71Xy.zeGUOeW3Cat4UJGCGwXPZ,
// CONTROLLER SETTINGS
.v8oJcDOQF6xmlVTw4VhOr.DialogButton._DialogLayout.cXzBZxhPBl7fZs9LODEnc {
  justify-content: space-between !important;
  max-width: 100% !important;
  min-width: 100% !important;
  appearance: unset !important;
  align-items: center !important;
  gap: 0 !important;
  display: flex !important;
  box-sizing: border-box !important;
  font: var(--zehn-font-family) !important;
  font-weight: var(--zehn-weight-normal) !important;
  height: var(--zehn-size-dropdown-dialog) !important;
  min-height: var(--zehn-size-dropdown-dialog) !important;
  line-height: var(--zehn-size-dropdown-dialog-line) !important;
  padding: var(--zehn-size-dropdown-dialog-padding) !important;
  font-size: var(--zehn-size-dropdown-dialog-text) !important;
  border-radius: var(--zehn-size-dropdown-dialog-radius) !important;
  background: var(--zehn-color-dropdown-dialog-background) padding-box !important;
  color: var(--zehn-color-dropdown-dialog-text) !important;
  border: var(--zehn-size-dropdown-dialog-border) solid var(--zehn-color-dropdown-dialog-border) !important;

  &:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-focus) !important;
  }

  &:hover {
    background-color: var(--zehn-color-dropdown-dialog-background-hover) !important;
    color: var(--zehn-color-dropdown-dialog-text-hover) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-hover) !important;
  }

  &:hover:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-hover-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-hover-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-hover-focus) !important;
  }

  &:active {
    background-color: var(--zehn-color-dropdown-dialog-background-active) !important;
    color: var(--zehn-color-dropdown-dialog-text-active) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-active) !important;
  }

  &:active:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-active-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-active-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-active-focus) !important;
  }

  &.Disabled,
  .Disabled:is(:hover, :active, :focus),
  :disabled,
  :disabled:is(:hover, :active, :focus) {
    background-color: var(--zehn-color-dropdown-dialog-background-disabled) !important;
    color: var(--zehn-color-dropdown-dialog-text-disabled) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-disabled) !important;
    opacity: 1 !important;
  }
}

// ACHIEVEMENTS PLUGIN - SEPARATE BECAUSE OF SPECIFICITY HELL
.steam-hunters-achievements-page .achievements-header .DialogDropDown[type="button"] {
  max-width: 100% !important;
  min-width: 100% !important;
  appearance: unset !important;
  align-items: center !important;
  gap: 0 !important;
  display: flex !important;
  box-sizing: border-box !important;
  font: var(--zehn-font-family) !important;
  font-weight: var(--zehn-weight-normal) !important;
  height: var(--zehn-size-dropdown-dialog) !important;
  min-height: var(--zehn-size-dropdown-dialog) !important;
  line-height: var(--zehn-size-dropdown-dialog-line) !important;
  padding: var(--zehn-size-dropdown-dialog-padding) !important;
  font-size: var(--zehn-size-dropdown-dialog-text) !important;
  border-radius: var(--zehn-size-dropdown-dialog-radius) !important;
  background: var(--zehn-color-dropdown-dialog-background) padding-box !important;
  color: var(--zehn-color-dropdown-dialog-text) !important;
  border: var(--zehn-size-dropdown-dialog-border) solid var(--zehn-color-dropdown-dialog-border) !important;

  &:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-focus) !important;
  }

  &:hover {
    background-color: var(--zehn-color-dropdown-dialog-background-hover) !important;
    color: var(--zehn-color-dropdown-dialog-text-hover) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-hover) !important;
  }

  &:hover:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-hover-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-hover-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-hover-focus) !important;
  }

  &:active {
    background-color: var(--zehn-color-dropdown-dialog-background-active) !important;
    color: var(--zehn-color-dropdown-dialog-text-active) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-active) !important;
  }

  &:active:focus {
    background-color: var(--zehn-color-dropdown-dialog-background-active-focus) !important;
    color: var(--zehn-color-dropdown-dialog-text-active-focus) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-active-focus) !important;
  }

  &.Disabled,
  .Disabled:is(:hover, :active, :focus),
  :disabled,
  :disabled:is(:hover, :active, :focus) {
    background-color: var(--zehn-color-dropdown-dialog-background-disabled) !important;
    color: var(--zehn-color-dropdown-dialog-text-disabled) !important;
    border-color: var(--zehn-color-dropdown-dialog-border-disabled) !important;
    opacity: 1 !important;
  }
}

// PAGED LIST CONTENT WIDTH OVERRIDE
.MillenniumDesktopSidebar_EditorContent select,
.DialogContentTransition:is(.ZjHHXZlnZhCahNrBFplWc, .OX7USkJ5dDP_icD00Gal6) select,
.DialogContentTransition:is(.ZjHHXZlnZhCahNrBFplWc, .OX7USkJ5dDP_icD00Gal6) .DialogDropDown._DialogInputContainer,
._3mf9BBKxhIVdrt6nIWBt4x .DialogDropDown._DialogInputContainer,
.MillenniumDesktopSidebar .DialogDropDown._DialogInputContainer,
.v8oJcDOQF6xmlVTw4VhOr.DialogButton._DialogLayout.cXzBZxhPBl7fZs9LODEnc {
  max-width: fit-content !important;
  min-width: var(--zehn-size-dropdown-dialog-width) !important;
}

._3OHR1e3u08hK7hMx4fFy_L {
  width: 100% !important;
}

// CURRENT DISPLAY
.DialogContent.GenericConfirmDialog ._2X6Uf9dpYzWmrq3hGfefrI.d8HHRXZEfFuJ2DRCJXitQ,
.DialogDropDown_CurrentDisplay,
._3OHR1e3u08hK7hMx4fFy_L .uujQHHS-7y4IW6qfxHpe2 {
  padding: 0 !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  background-color: transparent !important;
  margin-right: auto !important;
  text-align: left !important;
  line-height: inherit !important;
  color: inherit !important;
  font-size: inherit !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: inherit !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

// OTHER DISPLAY
.cbinvNOoQE045ZV5gCk_N,
._2LsLgumx7NT9ZRATSxgxG9 {
  font-weight: inherit !important;
  color: var(--zehn-color-dropdown-dialog-text-other) !important;
  font-size: var(--zehn-size-dropdown-dialog-text-other) !important;
  line-height: var(--zehn-size-dropdown-dialog-line-other) !important;
  padding: 0 !important;
}

.DialogDropDown:focus .cbinvNOoQE045ZV5gCk_N
.DialogDropDown:focus ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-focus) !important;
}

.DialogDropDown:hover .cbinvNOoQE045ZV5gCk_N,
.DialogDropDown:hover ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-hover) !important;
}

.DialogDropDown:hover:focus .cbinvNOoQE045ZV5gCk_N,
.DialogDropDown:hover:focus ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-hover-focus) !important;
}

.DialogDropDown:active .cbinvNOoQE045ZV5gCk_N,
.DialogDropDown:active ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-active) !important;
}

.DialogDropDown:active:focus .cbinvNOoQE045ZV5gCk_N,
.DialogDropDown:active:focus ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-active-focus) !important;
}

.DialogDropDown:disabled .cbinvNOoQE045ZV5gCk_N,
.DialogDropDown:disabled ._2LsLgumx7NT9ZRATSxgxG9 {
  color: var(--zehn-color-dropdown-dialog-text-other-disabled) !important;
}

// DROPDOWN CHEVRON
._2J170P0ckFcUIlsDU13MLS ._DialogInputContainer .DialogDropDown_Arrow {
  padding: 0 !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  background-color: transparent !important;
}

.DialogDropDown_Arrow,
.v8oJcDOQF6xmlVTw4VhOr.DialogButton._DialogLayout.cXzBZxhPBl7fZs9LODEnc ._3OHR1e3u08hK7hMx4fFy_L .DialogDropDown_CurrentDisplay~svg {
  opacity: 1 !important;
  display: flex !important;
  align-self: center !important;
  position: relative !important;
  margin: 0 !important;
  margin-left: var(--zehn-size-spacing-md) !important;
  inset: 0 !important;
  width: var(--zehn-size-icon-sm) !important;
  height: 100% !important;
  padding: 0 !important;
}

.DialogContent.GenericConfirmDialog ._2X6Uf9dpYzWmrq3hGfefrI.d8HHRXZEfFuJ2DRCJXitQ svg,
._2o2fXzn99OddeqZMjbDuxQ:has(select)::after,
.DialogDropDown_Arrow .SVGIcon_DownArrowContextMenu,
.v8oJcDOQF6xmlVTw4VhOr.DialogButton._DialogLayout.cXzBZxhPBl7fZs9LODEnc ._3OHR1e3u08hK7hMx4fFy_L .DialogDropDown_CurrentDisplay~svg,
.DialogContent.GenericConfirmDialog .zeGUOeW3Cat4UJGCGwXPZ svg {
  fill: transparent !important;
  padding: 0 !important;
  height: 100% !important;
  width: var(--zehn-size-icon-sm) !important;
  background-color: var(--zehn-color-icon3) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-sm) !important;
  -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;

  * { display: none !important; }
}

// FAKE A CHEVRON IN WRAPPED SELECT
._2o2fXzn99OddeqZMjbDuxQ:has(select)::after {
  content: "";
  display: block;
  position: absolute;
  right: var(--zehn-size-spacing-xs);
  top: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}

// PICKER STYLING DOESN'T SEEM TO WORK
select::picker(select) {
  appearance: base-select !important;
  border-radius: var(--zehn-size-context-radius) !important;
  margin: 0 !important;
  padding: var(--zehn-size-context-padding-menu) !important;
  border: var(--zehn-size-context-border) solid var(--zehn-color-context-dropdown-border) !important;
  background-color: var(--zehn-color-context-dropdown-background) !important;
}

option {
  appearance: base-select !important;
  border-radius: var(--zehn-size-context-entry-radius) !important;
  background: var(--zehn-color-list-background) padding-box !important;
  border: var(--zehn-size-context-entry-border) solid var(--zehn-color-context-entry-border) !important;
  line-height: var(--zehn-size-context-line) !important;
  max-width: var(--zehn-size-context-entry-width) !important;
  box-sizing: border-box !important;
  border-radius: var(--zehn-size-context-entry-radius) !important;
  padding: var(--zehn-size-context-entry-padding) !important;

  &:hover {
    background: var(--zehn-color-list-background-hover) padding-box !important;
  }

  &:active {
    background: var(--zehn-color-list-background-active) padding-box !important;
  }

  &:checked {
    background: var(--zehn-color-list-background-focus) padding-box !important;
  }
}