
// CONTAINER
._1tBzypb5E2AwNuBuVns9Hl {
  font-size: var(--zehn-size-text-description) !important;
  gap: var(--zehn-size-spacing-xs) !important;
  margin: 0 !important;
}

._1tBzypb5E2AwNuBuVns9Hl,
._23SnllqT_AqZ1C_QHcNQ4Z ._30PVtUudUBJBzac0vEncl_ {
  margin-left: var(--zehn-size-spacing-md) !important;
  // SPACE FOR SHOWCASE HEADER
}

._1tBzypb5E2AwNuBuVns9Hl:first-of-type {
  margin-left: 0 !important;
}

// LABEL
._1tBzypb5E2AwNuBuVns9Hl ._1ljKTq3H58WbDZGNPfM0TY {
  color: var(--zehn-color-text-description) !important;
  font-size: var(--zehn-size-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
  line-height: var(--zehn-size-sorting-line) !important;
  text-transform: none !important;
  align-self: center !important;
}

// CONTROL
.BpxCzVzPf5Y8EFlz5bZrP ._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer,
._23SnllqT_AqZ1C_QHcNQ4Z ._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  outline: none !important;
  gap: 0 !important;
  justify-content: space-between !important;
  position: relative !important;
  box-sizing: border-box !important;
  min-width: var(--zehn-size-sorting-width) !important;
  font-weight: var(--zehn-weight-normal) !important;
  height: var(--zehn-size-sorting) !important;
  line-height: var(--zehn-size-sorting-line) !important;
  padding: var(--zehn-size-sorting-padding) !important;
  font-size: var(--zehn-size-sorting-text) !important;
  border-radius: var(--zehn-size-sorting-radius) !important;
  background: var(--zehn-color-sorting-background) padding-box !important;
  color: var(--zehn-color-sorting-text) !important;
  border: var(--zehn-size-sorting-border) solid var(--zehn-color-sorting-border) !important;

  &:focus {
    background-color: var(--zehn-color-sorting-background-focus) !important;
    color: var(--zehn-color-sorting-text-focus) !important;
    border-color: var(--zehn-color-sorting-border-focus) !important;
  }

  &:hover {
    background-color: var(--zehn-color-sorting-background-hover) !important;
    color: var(--zehn-color-sorting-text-hover) !important;
    border-color: var(--zehn-color-sorting-border-hover) !important;
  }

  &:hover:focus {
    background-color: var(--zehn-color-sorting-background-hover-focus) !important;
    color: var(--zehn-color-sorting-text-hover-focus) !important;
    border-color: var(--zehn-color-sorting-border-hover-focus) !important;
  }

  &:active {
    background-color: var(--zehn-color-sorting-background-active) !important;
    color: var(--zehn-color-sorting-text-active) !important;
    border-color: var(--zehn-color-sorting-border-active) !important;
  }

  &:active:focus {
    background-color: var(--zehn-color-sorting-background-active-focus) !important;
    color: var(--zehn-color-sorting-text-active-focus) !important;
    border-color: var(--zehn-color-sorting-border-active-focus) !important;
  }

  &:disabled {
    background-color: var(--zehn-color-sorting-background-disabled) !important;
    color: var(--zehn-color-sorting-text-disabled) !important;
    border-color: var(--zehn-color-sorting-border-disabled) !important;
    opacity: 1 !important;
  }
}

// CURRENT DISPLAY
._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown_CurrentDisplay {
  background-color: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  line-height: var(--zehn-size-sorting-line) !important;
  display: flex !important;
  flex-direction: row !important;
  gap: var(--zehn-size-spacing-md) !important;
}

// CHEVRON
._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_Arrow {
  background: transparent !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  padding: 0 !important;
  margin: 0 !important;
  height: var(--zehn-size-sorting-line) !important;
  width: var(--zehn-size-icon-xl) !important;
}

._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_Arrow svg {
  background-color: transparent !important;
  margin: 0 !important;
  width: 100% !important;
  height: 100% !important;
  left: unset !important;
  background: var(--zehn-color-sorting-text) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-sm) !important;
  -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:focus svg {
  background-color: var(--zehn-color-sorting-text-focus) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:hover svg {
  background-color: var(--zehn-color-sorting-text-hover) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:hover:focus svg {
  background-color: var(--zehn-color-sorting-text-hover-focus) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:active svg {
  background-color: var(--zehn-color-sorting-text-active) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:active:focus svg {
  background-color: var(--zehn-color-sorting-text-active-focus) !important;
}

._1tBzypb5E2AwNuBuVns9Hl .DialogDropDown._DialogInputContainer:disabled svg {
  background-color: var(--zehn-color-sorting-text-disabled) !important;
}