// BASE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin base($icon, $icon-size) {
  appearance: unset !important;
  box-sizing: border-box !important;
  display: flex !important;
  transition: none !important;
  opacity: 1 !important;

  letter-spacing: normal !important;
  filter: none !important;
  scale: 1 !important;

  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow:  ellipsis !important;

  place-content: center !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;

  margin: 0 !important;
  gap: var(--zehn-size-button-app-gap) !important;

  background-position: center !important;
  background-size: auto !important;

  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-button-app-text) !important;
  line-height: var(--zehn-size-button-app-line) !important;

  border-width: var(--zehn-size-button-app-border) !important;
  border-style: solid !important;

  outline: none !important;

  #{$icon} {
    // display: block !important;
    transition: none !important;
    transform: none !important;
    filter: none !important;
    opacity: 1 !important;

    justify-self: center !important;

    height: 100% !important;
    min-height: 100% !important;
    width: $icon-size !important;
    min-width: $icon-size !important;

    inset: unset !important;
    margin: 0 !important;
    padding: 0 !important;

    mask-size: $icon-size !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;

    background: var(--icon-color) !important;

    * {
      display: none !important; 
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SIZE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin size-symmetric($height) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  width: $height !important;
  min-width: $height !important;
  max-width: $height !important;

  padding: var(--zehn-size-button-app-padding) !important;
}

@mixin size-asymmetric($height, $width) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  width: $width !important;
  min-width: $width !important;
  max-width: $width !important;

  padding: var(--zehn-size-button-app-padding) !important;
}

@mixin size-wide($height, $width) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  width: $width !important;
  min-width: $width !important;
  max-width: $width !important;

  padding: var(--zehn-size-button-app-padding-wide) !important;
}

@mixin size-dynamic($height) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  width: auto !important;
  min-width: 0 !important;
  max-width: 100% !important;

  padding: var(--zehn-size-button-app-padding-dynamic) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHAPE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin shape-default {
  border-radius: var(--zehn-size-button-app-radius) !important;
}

@mixin shape-angular {
  border-radius: var(--zehn-size-radius-angular) !important;
}

@mixin shape-circular {
  border-radius: var(--zehn-size-radius-circular) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOOK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin look($style) {
  background: var(--zehn-color-button-#{$style}-background) !important;
  color: var(--zehn-color-button-#{$style}-text) !important;
  border-color: var(--zehn-color-button-#{$style}-border) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon);
}

@mixin look-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-focus);
}

@mixin look-hover($style) {
  background: var(--zehn-color-button-#{$style}-background-hover) !important;
  color: var(--zehn-color-button-#{$style}-text-hover) !important;
  border-color: var(--zehn-color-button-#{$style}-border-hover) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-hover);
}

@mixin look-hover-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-hover-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-hover-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-hover-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-hover-focus);
}

@mixin look-active($style) {
  background: var(--zehn-color-button-#{$style}-background-active) !important;
  color: var(--zehn-color-button-#{$style}-text-active) !important;
  border-color: var(--zehn-color-button-#{$style}-border-active) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-active);
}

@mixin look-active-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-active-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-active-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-active-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-active-focus);
}

@mixin look-disabled($style) {
  background: var(--zehn-color-button-#{$style}-background-disabled) !important;
  color: var(--zehn-color-button-#{$style}-text-disabled) !important;
  border-color: var(--zehn-color-button-#{$style}-border-disabled) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-disabled);
}

@mixin looks($disabled, $style) {
  @include look($style);
  &:is(:focus, :enabled:focus) { @include look-focus($style); }
  &:is(:hover, :enabled:hover) { @include look-hover($style); }
  &:is(:hover:focus, :enabled:hover:focus) { @include look-hover-focus($style); }
  &:is(:active, :enabled:active) { @include look-active($style); }
  &:is(:active:focus, :enabled:active:focus) { @include look-active-focus($style); }
  &:is(:disabled, :disabled:focus, :disabled:hover:focus, :disabled:active, :disabled:active:focus) { @include look-disabled($style); }
  &:is(#{$disabled}, #{$disabled}:focus, #{$disabled}:hover:focus, #{$disabled}:active, #{$disabled}:active:focus) { @include look-disabled($style); }
}

@mixin look-selected($style) {
  background: var(--zehn-color-button-#{$style}-background-selected) !important;
  color: var(--zehn-color-button-#{$style}-text-selected) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected);
}

@mixin look-selected-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-focus);
}

@mixin look-selected-hover($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-hover) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-hover) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-hover) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-hover);
}

@mixin look-selected-hover-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-hover-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-hover-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-hover-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-hover-focus);
}

@mixin look-selected-active($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-active) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-active) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-active) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-active);
}

@mixin look-selected-active-focus($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-active-focus) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-active-focus) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-active-focus) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-active-focus);
}

@mixin look-selected-disabled($style) {
  background: var(--zehn-color-button-#{$style}-background-selected-disabled) !important;
  color: var(--zehn-color-button-#{$style}-text-selected-disabled) !important;
  border-color: var(--zehn-color-button-#{$style}-border-selected-disabled) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon-selected-disabled);
}

@mixin looks-selected($selected, $disabled, $style) {
  &#{$selected} { @include look-selected($style); }
  &#{$selected}:is(:focus, :enabled:focus) { @include look-selected-focus($style); }
  &#{$selected}:is(:hover, :enabled:hover) { @include look-selected-hover($style); }
  &#{$selected}:is(:hover:focus, :enabled:hover:focus) { @include look-selected-hover-focus($style); }
  &#{$selected}:is(:active, :enabled:active) { @include look-selected-active($style); }
  &#{$selected}:is(:active:focus, :enabled:active:focus) { @include look-selected-active-focus($style); }
  &#{$selected}:is(:disabled, :disabled:focus, :disabled:hover:focus, :disabled:active, :disabled:active:focus) { @include look-selected-disabled($style); }
  &#{$selected}:is(#{$disabled}, #{$disabled}:focus, #{$disabled}:hover:focus, #{$disabled}:active, #{$disabled}:active:focus) { @include look-selected-disabled($style); }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PRESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin preset-symmetric($height, $disabled: ":disabled", $selected: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $style: "app") {
  @include base($icon, $icon-size);
  @include size-symmetric($height);
  @include shape-default;
  @include looks($disabled, $style);

  @if $selected != null {
    @include looks-selected($selected, $disabled, $style);
  }
}

@mixin preset-asymmetric($height, $width, $disabled: ":disabled", $selected: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $style: "app") {
  @include base($icon, $icon-size);
  @include size-asymmetric($height, $width);
  @include shape-default;
  @include looks($disabled, $style);

  @if $selected != null {
    @include looks-selected($selected, $disabled, $style);
  }
}

@mixin preset-wide($height, $width: fit-content, $disabled: ":disabled", $selected: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $style: "app") {
  @include base($icon, $icon-size);
  @include size-wide($height, $width);
  @include shape-default;
  @include looks($disabled, $style);

  @if $selected != null {
    @include looks-selected($selected, $disabled, $style);
  }
}

@mixin preset-dynamic($height, $disabled: ":disabled", $selected: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $style: "app") {
  @include base($icon, $icon-size);
  @include size-dynamic($height);
  @include shape-default;
  @include looks($disabled, $style);

  @if $selected != null {
    @include looks-selected($selected, $disabled, $style);
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~