// BASE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin base($style, $icon, $icon-size, $other) {
  appearance: unset !important;
  box-sizing: border-box !important;
  display: flex !important;
  letter-spacing: normal !important;

  transition: none !important;
  transform: none !important;
  scale: 1 !important;
  opacity: 1 !important;
  filter: none !important;

  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;

  place-content: center !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;

  margin: 0px !important;
  gap: var(--zehn-size-button-#{$style}-gap) !important;

  background-position: center !important;
  background-size: auto !important;

  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-button-text) !important;
  line-height: var(--zehn-size-button-line) !important;

  border: none !important;

  outline-width: var(--zehn-size-button-#{$style}-border) !important;
  outline-style: solid !important;
  outline-offset: calc(-1 * var(--zehn-size-button-#{$style}-border)) !important;

  @if $other != null {
    #{$other} {
      overflow: visible !important;
      white-space: wrap !important;

      font-size: var(--zehn-size-button-text-other) !important;
      line-height: var(--zehn-size-button-line-other) !important;

      color: var(--other-color) !important;
    }
  }

  #{$icon} {
    display: block !important;
    transition: none !important;
    transform: none !important;
    opacity: 1 !important;
    filter: none !important;

    justify-self: center !important;

    height: $icon-size !important;
    min-height: $icon-size !important;
    width: $icon-size !important;
    min-width: $icon-size !important;

    inset: unset !important;
    margin: 0px !important;
    padding: 0px !important;

    mask-size: $icon-size !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;

    background: var(--icon-color) !important;

    * {
      display: none !important; 
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SIZE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin size-fixed($height, $width, $padding) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  @if $width != null {
    width: $width !important;
    min-width: $width !important;
    max-width: $width !important;
  }

  @if $padding == null {
    padding: var(--zehn-size-button-padding) !important;
  } @else {
    padding: #{$padding} !important;
  }
}

@mixin size-dynamic($height, $padding) {
  height: $height !important;
  min-height: $height !important;
  max-height: $height !important;

  width: auto !important;
  min-width: 0px !important;
  max-width: 100% !important;

  @if $padding == null {
    padding: var(--zehn-size-button-padding) !important;
  } @else {
    padding: #{$padding} !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHAPE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin shape($shape, $style) {
  @if $shape == null {
    border-radius: var(--zehn-size-button-#{$style}-radius) !important;
  } @else {
    border-radius: #{$shape} !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOOK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin colorset($style, $other, $selected: null, $mode: null) {
  $mode: if(sass($mode != null): "-" + $mode; else: "");
  $selected: if(sass($selected != null): "-selected"; else: "");

  background: var(--zehn-color-button-#{$style}-background#{$selected}#{$mode}) !important;
  color: var(--zehn-color-button-#{$style}-text#{$selected}#{$mode}) !important;
  outline-color: var(--zehn-color-button-#{$style}-border#{$selected}#{$mode}) !important;

  --icon-color: var(--zehn-color-button-#{$style}-icon#{$selected}#{$mode});

  @if $other != null {
    --other-color: var(--zehn-color-button-#{$style}-text-other#{$selected}#{$mode});
  }
}

@mixin look($selected, $disabled, $other, $style) {
  & {
    @include colorset($style, $other);
  }
  &:is(:focus, :enabled:focus) {
    @include colorset($style, $other, $mode: "focus");
  }
  &:is(:hover, :enabled:hover) {
    @include colorset($style, $other, $mode: "hover");
  }
  &:is(:hover:focus, :enabled:hover:focus) {
    @include colorset($style, $other, $mode: "hover-focus");
  }
  &:is(:active, :enabled:active) {
    @include colorset($style, $other, $mode: "active");
  }
  &:is(:active:focus, :enabled:active:focus) {
    @include colorset($style, $other, $mode: "active-focus");
  }
  &:is(#{$disabled}, #{$disabled}:focus, #{$disabled}:hover:focus, #{$disabled}:active, #{$disabled}:active:focus) {
    @include colorset($style, $other, $mode: "disabled");
    pointer-events: none !important;
  }

  @if $selected != null {
    &#{$selected} {
      @include colorset($style, $other, $selected);
    }
    &#{$selected}:is(:focus, :enabled:focus) {
      @include colorset($style, $other, $selected, $mode: "focus");
    }
    &#{$selected}:is(:hover, :enabled:hover) {
      @include colorset($style, $other, $selected, $mode: "hover");
    }
    &#{$selected}:is(:hover:focus, :enabled:hover:focus) {
      @include colorset($style, $other, $selected, $mode: "hover-focus");
    }
    &#{$selected}:is(:active, :enabled:active) {
      @include colorset($style, $other, $selected, $mode: "active");
    }
    &#{$selected}:is(:active:focus, :enabled:active:focus) {
      @include colorset($style, $other, $selected, $mode: "active-focus");
    }
    &#{$selected}:is(#{$disabled}, #{$disabled}:focus, #{$disabled}:hover:focus, #{$disabled}:active, #{$disabled}:active:focus) {
      @include colorset($style, $other, $selected, $mode: "disabled");
      pointer-events: none !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PRESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin preset-fixed($height, $width, $disabled: ":disabled", $selected: null, $shape: null, $padding: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $other: null, $style: "app") {
  @include base($style, $icon, $icon-size, $other);
  @include size-fixed($height, $width, $padding);
  @include shape($shape, $style);
  @include look($selected, $disabled, $other, $style);
}

@mixin preset-dynamic($height, $disabled: ":disabled", $selected: null, $shape: null, $padding: null, $icon: "svg", $icon-size: var(--zehn-size-icon-md), $other: null, $style: "app") {
  @include base($style, $icon, $icon-size, $other);
  @include size-dynamic($height, $padding);
  @include shape($shape, $style);
  @include look($selected, $disabled, $other, $style);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~