:root {
  /**
  * @name Background Blend
  * @description Blends this color into the theme's color mode background.
  */
  --custom-color-background: 24, 47, 57;
  /**
  * @name Foreground Blend
  * @description Blends this color into the theme's color mode foreground.
  */
  --custom-color-foreground: 67, 107, 127;
  /**
  * @name Status In-Game
  * @description User status in-game.
  */
  --custom-color-ingame: 35, 165, 90;
  /**
  * @name Status Online
  * @description User status online.
  */
  --custom-color-online: 35, 165, 90;
  /**
  * @name Status Away
  * @description User status away.
  */
  --custom-color-away: 240, 178, 50;
  /**
  * @name Status Do-Not-Disturb
  * @description User status do-not-disturb.
  */
  --custom-color-disturb: 242, 63, 67;
  /**
  * @name Status Offline
  * @description User status offline.
  */
  --custom-color-offline: 128, 132, 142;
}