:root {
  --option-avatar-shape: var(--zehn-mask-avatar-round);
  --option-avatar-shape-status: var(--zehn-mask-avatar-round-status);
  --option-avatar-shape-status-mobile: var(--zehn-mask-avatar-round-status-mobile);
  --option-avatar-shape-status-deck: var(--zehn-mask-avatar-round-status-deck);
  --option-avatar-shape-status-vr: var(--zehn-mask-avatar-round-status-vr);
  --option-avatar-shape-status-bigpicture: var(--zehn-mask-avatar-round-status-bigpicture);
  --option-avatar-shape-radius: var(--zehn-size-radius-circular);
}