:root {
  --option-avatar-shape: var(--zehn-mask-avatar-square);
  --option-avatar-shape-status: var(--zehn-mask-avatar-square-status);
  --option-avatar-shape-status-mobile: var(--zehn-mask-avatar-square-status-mobile);
  --option-avatar-shape-status-deck: var(--zehn-mask-avatar-square-status-deck);
  --option-avatar-shape-status-vr: var(--zehn-mask-avatar-square-status-vr);
  --option-avatar-shape-status-bigpicture: var(--zehn-mask-avatar-square-status-bigpicture);
  --option-avatar-shape-radius: var(--zehn-size-radius-xs);
}