// FILTER DROPDOWNS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TEXT AND ICON WRAPPER
._3dgdAlraXDd7hDzgf59Hgo {
  gap: var(--zehn-size-context-entry-gap) !important;

  svg,
  svg._3KPCkZgwmwCxsrf5Lh9imD,
  svg._2m5fMk4njTMBbj4L-lyzjC {
    color: var(--zehn-color-context-entry-icon) !important;
    height: var(--zehn-size-context-entry-icon) !important;
    width: var(--zehn-size-context-entry-icon) !important;
    margin: 0px !important;
    padding: 0px !important;
  }

  // DECK COMPAT ICONS
  ._3hAj0iMJsfhKwnm2mfE098.kEODDe6M5cuHWuPlcQexX,
  ._3hAj0iMJsfhKwnm2mfE098.mPD42Bwx3VAs0qw9wubf2,
  ._3hAj0iMJsfhKwnm2mfE098.xBqU_GerRwzHIs8N9ratU,
  ._3hAj0iMJsfhKwnm2mfE098._2LAaxz6RtHXrJJj9NzCNL4 {
    // display: none !important;
  }

  // TEXT
  ._6w9p4jYCC6Z6udWxM1j9u {}
}

// DECK COMPATIBILITY
._3hAj0iMJsfhKwnm2mfE098,
._1dzQL1mVR8GTmmSi_kpDgr {
  background-color: var(--zehn-color-context-entry-icon) !important;
  height: var(--zehn-size-context-entry-icon) !important;
  width: var(--zehn-size-context-entry-icon) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-context-entry-icon) !important;

  * { display: none !important; }
}

._1dzQL1mVR8GTmmSi_kpDgr {
  -webkit-mask-image: var(--zehn-icon-deck) !important;
}

._3hAj0iMJsfhKwnm2mfE098.kEODDe6M5cuHWuPlcQexX {
  -webkit-mask-image: var(--zehn-icon-ready) !important;
}

._3hAj0iMJsfhKwnm2mfE098.mPD42Bwx3VAs0qw9wubf2 {
  -webkit-mask-image: var(--zehn-icon-info) !important;
}

._3hAj0iMJsfhKwnm2mfE098.xBqU_GerRwzHIs8N9ratU {
  -webkit-mask-image: var(--zehn-icon-question) !important;
}

._3hAj0iMJsfhKwnm2mfE098._2LAaxz6RtHXrJJj9NzCNL4 {
  -webkit-mask-image: var(--zehn-icon-alert) !important;
}

._3hAj0iMJsfhKwnm2mfE098.xBqU_GerRwzHIs8N9ratU {
  -webkit-mask-image: var(--zehn-icon-unknown) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~