// STORAGE SETTINGS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// USE CONTROL VARS ON CONTROL
.iFalJAi3VT9vGdVVOLNgA {
  --icon-size: var(--zehn-size-dropdown-dialog-icon);
  --gap-size: var(--zehn-size-dropdown-dialog-gap);
  --icon-color: var(--zehn-color-dropdown-app-icon);
}

// INSTALL DROPDOWN OPTION (ALSO USED IN THE DROPDOWN CONTROL)
._3YelWui4gQvucX_bHwvl15 {
  color: inherit !important;
  gap: var(--gap-size, var(--zehn-size-context-entry-gap)) !important;

  // SELECTED
  &._1TyV26CL6Wjd3gaJsh_rpr {}

  svg {
    display: block !important;
    flex-shrink: 0 !important;
    margin: 0px !important;
    width: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    height: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    background-color: var(--icon-color, var(--zehn-color-context-entry-icon)) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    -webkit-mask-image: var(--context-icon, var(--zehn-icon-harddrive)) !important;

    * { display: none !important; }
  }

  // DRIVE NAME
  ._1rihlgVMF4Q_fFZDnXeVt5 {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    font-style: normal !important;
    line-height: inherit !important;
    color: inherit !important;
    text-decoration: none !important;

    svg {
      --context-icon: var(--zehn-icon-favorite);
      margin-left: var(--gap-size, var(--zehn-size-context-entry-gap)) !important;
    }
  }

  // DRIVE SIZE
  ._5bG9Iwr014pu3H1SPRwYh {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
    font-style: normal !important;
    line-height: inherit !important;
    color: inherit !important;
    text-transform: none !important;
    letter-spacing: normal !important;
  }
}

// ADD FOLDER DROPDOWN OPTION (ALSO USED IN THE DROPDOWN CONTROL)
.uKeuMqJfqlpqWCHcUojnE {
  gap: var(--gap-size, var(--zehn-size-context-entry-gap)) !important;

  svg {
    display: block !important;
    flex-shrink: 0 !important;
    margin: 0px !important;
    width: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    height: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    background-color: var(--icon-color, var(--zehn-color-context-entry-icon)) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--icon-size, var(--zehn-size-context-entry-icon)) !important;
    -webkit-mask-image: var(--zehn-icon-add) !important;

    * { display: none !important; }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~