// HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HEIGHT VARIABLE FROM GAMEPAGE OVERLAY VERSION
.C9tvuqqEXGcrkcAtHrQ_R.Achievements {
  --header-size: fit-content !important;

  // PINNED VIEW
  &._2OoAjT3o0Ieng7ycuy86vZ {}
}

// OVERLAY GAME NAME
.C9tvuqqEXGcrkcAtHrQ_R.Achievements ._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k {
  padding: var(--zehn-size-titlebar-text-padding) !important;
  font-size: var(--zehn-size-titlebar-text) !important;
  line-height: var(--zehn-size-titlebar) !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}

// GAMEPAGE GAME NAME
._11Z-tk3z56AMAn01e-PyBL ._2iGYYePQN5QQzHWNLybmd4 ._3wNylaCAUJ8XtRM6mu2C0k {
  font-size: var(--zehn-size-24) !important;
}

// HEADER
._36Dp_CLuZbFCm7KDc9tbCv {
  height: var(--header-size) !important;
  padding: var(--zehn-size-dialog-padding) !important;
  padding-bottom: 0px !important;
  margin: 0px !important;
  align-content: flex-end !important;
  box-sizing: border-box !important;

  // PINNED VIEW
  &._278LBuU8HjAQGs-jNFHUQb {
    margin: 0px !important;
    opacity: 1 !important;
    visibility: visible !important;
  }

  // HEADER CONTENT
  ._2iGYYePQN5QQzHWNLybmd4 {
    gap: var(--zehn-size-spacing-md) !important;

    // PINNED MODE
    &._2Q5XpOy6hQxvdISYSpM2uM {}

    // LEADERBOARDS BUTTON
    ._3_7wzN0kdchWheVyim6nmo {
      min-width: 100% !important;
      box-sizing: border-box !important;
    }

    // COLUMN
    .Pr0VCo6YB9GN5VnGd_wvF {
      gap: var(--zehn-size-spacing-md) !important;

      // GAME NAME
      ._3wNylaCAUJ8XtRM6mu2C0k {
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-normal) !important;
        display: flex !important;
        gap: var(--zehn-size-spacing-xs) !important;

        // ICON
        ._2R_acHQS2nlohmPi6kGLRZ {
          margin: 0px !important;
          height: var(--zehn-size-icon-xl) !important;
          width: var(--zehn-size-icon-xl) !important;
        }
      }

      // STATS
      ._gDkIgrqhJq-FtbuR9wJi {
        background-color: transparent !important;
        padding: 0px !important;
        gap: var(--zehn-size-spacing-md) !important;

        // STAT
        ._28omEDJUOc_yRNrrdxXFx1 {
          gap: var(--zehn-size-spacing-xs) !important;

          // BIG
          &.p8Yjzm26BVbMEn7DyoeiQ {}

          // LABEL AND VALUE
          .C17OpWBrNblXGLwQpxHk- {

            // PROGRESS LABEL
            ._27CS0ATE6JLFP5A2W9Bdj_ {

              // LABEL
              ._17zZlCuxyWWUil57ZLDOXp {
                color: var(--zehn-color-text1) !important;
                font-weight: var(--zehn-weight-normal) !important;
                font-size: var(--zehn-size-12) !important;
                letter-spacing: normal !important;
              }
            }

            // PROGRESS BAR
            ._3CaVUwIuq04vtlXl8IK-p1 {
              margin-top: var(--zehn-size-padding-xs) !important;
            }
          }
        }
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PAGE ANIMATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.L_ehQkR9HaVr2cdS1P1lc {
  // transform: none !important;
  // transition: none !important;
  // animation: none !important;
  transition-duration: 0ms !important;
  transition-delay: 0ms !important;

  // ENTER
  &._11zfcdDErmpcqRlhrGCiL5 {}

  // ENTER ACTIVE
  &._3lqCSSYx0S6raO8Rel_6Wq {}

  // EXIT
  &._3Rv4MtNrgQ-NIcKYyKBAhr {}

  // EXIT ACTIVE
  &._1V17js4wIs-3lA9XwBgMuV {}
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ACHIEVEMENTS
.gxNvErGV7FhJ3lnOa5htx {
  --pinned-display: flex;
  --absolute-margin: var(--zehn-size-tablist);

  // PINNED VIEW
  &._278LBuU8HjAQGs-jNFHUQb {
    --pinned-display: none;
    --absolute-margin: 0px;
  }

  // TABLIST AND LIST
  ._3IBLc81yyL08OJ7rfKtF00 {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;

    // TABLIST
    ._2JobstxtZVYF3078DblN2M {
      display: var(--pinned-display) !important;
    }

    // TABBED CONTENTS
    .WDa0_WKNSWIa38S26gl_T {
      margin-top: var(--absolute-margin) !important;

      // SCROLL AREA
      ._1X4dtbZ_AMX_DXT-SGiK01 {
        margin: 0px !important;
        width: 100% !important;
        box-sizing: border-box !important;
        clip: unset !important;

        // LIST
        ._1UXC2lGcmNTGepRJTwtuH0 {
          background: transparent !important;
          gap: 0px !important;
          padding: 0px !important;

          // PINNED VIEW
          &._278LBuU8HjAQGs-jNFHUQb {}

          >div:empty {
            display: none !important;
          }

          >div:not([class]) {
            height: fit-content !important;
          }
        }
      }
    }
  }
}

// TABBED PAGE (SHARED WITH CONTROLLER SETTINGS LAYOUTS)
._3IBLc81yyL08OJ7rfKtF00 {

  // CAN BE HEADER BACKGROUND
  &._18zGL1e9n34BrE_eFXryjc {}

  // IS UNDER HEADER ( DON'T WANT THIS
  &._31ZleDJpmmVr6YwR5VLHiu {
    top: unset !important;
    height: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
  }

  // TABLIST
  ._2JobstxtZVYF3078DblN2M {}

  // TABBED CONTENTS
  .WDa0_WKNSWIa38S26gl_T {
    margin-top: var(--zehn-size-tablist) !important;

    // SCROLL
    ._1X4dtbZ_AMX_DXT-SGiK01 {
      padding: var(--zehn-size-dialog-padding) !important;
    }
  }
}

// SEARCH HEADER
._2HS5QwHZM9rkt-lx6YWlBF {
  gap: var(--zehn-size-setting-field-gap) !important;
  margin-bottom: var(--zehn-size-dialog-gap) !important;
  padding: 0px !important;
  display: var(--pinned-display) !important;

  // PINNED MODE
  ._2Q5XpOy6hQxvdISYSpM2uM {
    display: none !important;
  }

  // MY ACHIEVEMENTS
  &._2UpV2ekLOgBRHsAaqcedCB {}

  // LEFT SIDE
  ._1AQz-G1NsOauVRdAiPszfd {
    flex: unset !important;

    // LABEL
    ._2LSKtMWWMT5Pne2vGJOtiF {
      color: var(--zehn-color-text-control) !important;
      font-weight: var(--zehn-weight-normal) !important;
      font-size: var(--zehn-size-text-control) !important;
      line-height: 100% !important;
    }

    // USER AVATAR
    ._86H_YlUcu3V9futbHYRGL {}
  }

  // SEARCH
  ._1MqIGcIt2RcNHgT09vMWTj {
    min-width: 0px !important;
    flex: 1 !important;
  }

  // % OF ALL
  .OAV6QqJuXaBPRBW9RaPA6 {
    color: var(--zehn-color-text-control) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-control) !important;
    line-height: 100% !important;
  }
}

// SECTION LABEL
.IM0uEBPVo6MDEDQLGzeZr {
  opacity: 1 !important;
  text-transform: none !important;
  padding: 0px !important;
  color: var(--zehn-color-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
  height: auto !important;
  line-height: var(--zehn-size-setting-label) !important;
  margin: var(--zehn-size-spacing-xs) 0px !important;
  position:  relative !important;
  inset: unset !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ACHIEVEMENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ENTRY
._2Kmn7fJOkLT4KyWl467a9M {
  box-sizing: border-box !important;
  position: relative !important;
  height: fit-content !important;
  inset: unset !important;
  background-color: var(--zehn-color-list-background) !important;
  border-radius: var(--zehn-size-radius-none) !important;

  &:hover {
    background-color: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background-color: var(--zehn-color-list-background-active) !important;
  }

  // INNER CONTAINER
  .cvw8DHMUBKuZs5DeLJOQ2 {
    padding: var(--zehn-size-padding-md) !important;
    gap: 0px !important;

    // INFO
    .UWkKthLfz_5MM3NdASE2W {

      // COLUMN
      .mvXQPo2h9znbzUIQ5M_pk {}

      // HIDDEN COLUMN
      ._3_7WUz55RD6KFldAsHpf36 {}
    }
  }
}

// ICON (SHARED WITH GAMEPAGE)
._1fEbX-PfpZ2FhkhttWcm-V {
  height: var(--zehn-size-icon-xxl) !important;
  width: var(--zehn-size-icon-xxl) !important;
  margin: 0px !important;
  margin-right: var(--zehn-size-icon-gap) !important;

  // RARE ACHIEVEMENT GLOW
  ._2HUbCbZUn27MliiC8gRxGB {

    // CONTAINER
    ._2D_EJk8-jCnfqiwoKkOMVh {

      // GLOW
      ._1Z2eJs9-zNTKcWKy4M-oDE {
        background: repeating-conic-gradient(var(--zehn-color-accent-20) 0%, rgba(255, 184, 78, 0) 6%, var(--zehn-color-accent-20) 10%, var(--zehn-color-accent) 26%, var(--zehn-color-accent-20) 35%, var(--zehn-color-accent) 40%, var(--zehn-color-accent-20) 60%, var(--zehn-color-accent) 82%, var(--zehn-color-accent-20) 100%) !important;
      }
    }
  }

  // ICON
  ._2V2sHETNfa62yMoDwSF3_t {
    transition: transform 0.2s var(--zehn-timing-ease) !important;
    box-shadow: none !important;

    // ICON GLOW
    &._3s4Rq3jnntBVP7HbJj1RMQ {
      box-shadow: none !important;
    }

    &::after {
      background: var(--zehn-color-placeholder) !important;
    }
  }
}

// HIDDEN ICON
._1ABm6sfuqiZZDSL9z8mW1a {
  height: var(--zehn-size-icon-xxl) !important;
  width: var(--zehn-size-icon-xxl) !important;
  margin: 0px !important;
  margin-right: var(--zehn-size-icon-gap) !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-24) !important;
  line-height: var(--zehn-size-icon-xxl) !important;
  background: var(--zehn-color-placeholder) !important;
}

// TITLE
._17dhGq-FsL8xZBes7dOOlN {
  font-size: var(--zehn-size-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-body) !important;
}

// DOUBLE CLASS HIDDEN ACH TITLE
.UWkKthLfz_5MM3NdASE2W .UWkKthLfz_5MM3NdASE2W {
  font-size: var(--zehn-size-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-body) !important;
}

// DESCRIPTION
._1WP2YDDWrL5LPHoS04AKx8 {
  font-size: var(--zehn-size-text-description-small) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-description) !important;
}

// GLOBAL %
.VQbek1VTyOX04qHmTsssW._2IpxMHGN9qy7CjHVQQ9vy {
  font-size: var(--zehn-size-text-description-small) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-description) !important;
}

// UNLOCK DATE
._2fFW2raBfeDt3WOPB-aQAq {
  font-size: var(--zehn-size-text-description-small) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-description) !important;
}

// COMPARISON COLUMN
._3eXGQY1UQSHRwf-0Ouzrlj {
  gap: var(--zehn-size-spacing-xs) !important;
}

// COMPARISON
._3wXF00ta53M5KmhHkYtrzs {
  gap: var(--zehn-size-icon-gap) !important;
  --comparison-opacity: 1;

  // COMPARED FRIEND
  &._3AWMZtrvbVLNDGw8M3yoCa {}

  // UNACHIEVED
  &.opxyrYpOkxKJWwycKuBtb {
    --comparison-opacity: 0.5;
  }

  // AVATAR WRAPPER
  .Mn8BNQyvjcSIl3hAKXIB6 {
    opacity: var(--comparison-opacity) !important;
  }
}

// PROGRESS CONTAINER (USED WHERE???)
._1tFpGcrkslGblT1ijRf13_ {
  
  // PROGRESS LABEL
  ._3Y63d79wKiXs14rvBcrsDx {
    font-size: var(--zehn-size-text-description-small) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-16) !important;
    color: var(--zehn-color-text-description) !important;
  }
}

// PROGRESS COUNT (MY ACHIEVEMENTS)
._2LZ4vK_KnigpU4nOhD3Gic {
  font-size: var(--zehn-size-text-description-small) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-description) !important;
}

// PROGRESS WRAPPER
.sBzFsmZCBEIihNfZuAcwT {
  margin-top: var(--zehn-size-spacing-xxs) !important;
  width: 200px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// GLOBAL ACHIEVEMENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// ENTRY
._316Uo4SBrQ_beBdSYn2HNO {
  box-sizing: border-box !important;
  position: relative !important;
  height: fit-content !important;
  inset: unset !important;
  background-color: var(--zehn-color-list-background) !important;
  border-radius: var(--zehn-size-radius-none) !important;
  padding: var(--zehn-size-padding-md) !important;

  &:hover {
    background-color: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background-color: var(--zehn-color-list-background-active) !important;
  }

  // CONTENT WITH PADDING FOR PROGRESSBAR
  .UWkKthLfz_5MM3NdASE2W {
    padding: 0px !important;
    padding-bottom: var(--zehn-size-padding-xs) !important;

    // PROGRESS BAR BACKGROUND
    &::before {
      content: "";
      left: 0px;
      right: 0px;
      bottom: 0px;
      position: absolute;
      display: block;
      height: var(--zehn-size-progressbar-normal);
      background-color: var(--zehn-color-progress-empty);
    }
  }
}

// CHECKMARK
._316Uo4SBrQ_beBdSYn2HNO ._1vd1pZ7fwu6SLn898cXkOs {
  width: var(--zehn-size-icon-md) !important;
  height: var(--zehn-size-icon-md) !important;
  padding: 0px !important;
  z-index: 10 !important;
  top: var(--zehn-size-spacing-xs) !important;
  left: var(--zehn-size-spacing-xs) !important;
  position: absolute !important;
  border-radius: var(--zehn-size-radius-circular) !important;
  background: var(--zehn-color-accent) !important;
  display: none !important;

  &:empty {
    background: transparent !important;
  }

  svg {
    height: 100% !important;
    width: 100% !important;
    color: transparent !important;
    background-color: var(--zehn-color-icon1) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--zehn-size-icon-md) !important;
    -webkit-mask-image: var(--zehn-icon-checkmark) !important;

    * { display: none !important; }
  }
}

// ICON WRAPPER
.SGyFwWDzO52snS1fJ-erv {}

// INFO
.Zoy4Cl4jObtENnsc8sYfx {
  padding: 0px !important;
  transition: opacity 0.2s var(--zehn-timing-ease) !important;

  // TITLE
  ._3LS_NZyqY77COuRN-Z3TVB {
    font-size: var(--zehn-size-text-body) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-16) !important;
    color: var(--zehn-color-text-body) !important;
  }

  // DESCRIPTION
  ._231lloeMz5EvNkHHGXN6RJ {
    font-size: var(--zehn-size-text-description-small) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-16) !important;
    color: var(--zehn-color-text-description) !important;
  }
}

// PERCENT
._17WmAft0lOwrau_jKP2_JW {
  font-size: var(--zehn-size-text-description-small) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-description) !important;
}

._2lgHVJbZwxb10Md7bZ6USU {
  background-color: var(--zehn-color-progress-filled) !important;
  height: var(--zehn-size-progressbar-normal) !important;
  inset: unset !important;
  bottom: 0px !important;
  border-radius: var(--zehn-size-progressbar-radius) !important;
}

// SPOILER REVEAL
.g5fuBl7jK6RfEOEeVv3Dy {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  transition: opacity 0.2s var(--zehn-timing-ease) !important;
  inset: 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SORTABLE LIST (OVERLAY ONLY - IN PROGRESS) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SORTABLE LIST
._1bbP5wgFM6ejFlRHIpzI1x {
  gap: 0px !important;
  height: fit-content !important;
}

// SORTABLE ACHIEVEMENT WRAPPER
._3RbiUXPyFw_B9J6rmAErm {
  box-sizing: border-box !important;
  position: relative !important;
  height: fit-content !important;
  inset: unset !important;
  background-color: transparent !important;
  border-radius: var(--zehn-size-radius-none) !important;
  padding: 0px !important;
  --gripper-opacity: 0;

  &:hover {
    --gripper-opacity: 1;
  }

  // SORTABLE WRAPPER INNER
  ._1tTuIhabs4uQQmR2udzw_P {
    background-color: transparent !important;
    gap: 0px !important;
    padding: 0px !important;

    // DRAG HANDLE
    svg._2BcXpTTz4_uKHV10mn3WJW {
      opacity: var(--gripper-opacity) !important;
      position: absolute !important;
      inset: 0px !important;
      margin: auto !important;
      padding: var(--zehn-size-padding-md) !important;
      color: transparent !important;
      width: var(--zehn-size-icon-md) !important;
      height: var(--zehn-size-icon-md) !important;
      background-color: var(--zehn-color-icon1) !important;
      mask-repeat: no-repeat !important;
      mask-position: center !important;
      mask-size: var(--zehn-size-icon-md) !important;
      -webkit-mask-image: var(--zehn-icon-gripper-horizontal) !important;

      * { display: none !important; }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~