// POPUP ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.C9tvuqqEXGcrkcAtHrQ_R {
  background: transparent !important;
  position: relative !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.OverlayTimer,
.C9tvuqqEXGcrkcAtHrQ_R.GameOverview,
.C9tvuqqEXGcrkcAtHrQ_R.Players,
.C9tvuqqEXGcrkcAtHrQ_R.GameNotes,
.C9tvuqqEXGcrkcAtHrQ_R.ScreenshotManager,
.C9tvuqqEXGcrkcAtHrQ_R.Achievements,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser {
  border: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~