// BASE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin base() {
  font-weight: var(--zehn-weight-normal) !important;
  text-decoration: none !important;

  border: none !important;

  outline: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOOK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin colorset($style, $mode: null) {
  $mode: if(sass($mode != null): "-" + $mode; else: "");

  color: var(--zehn-color-#{$style}) !important;
}

@mixin look($disabled, $style) {
  & {
    @include colorset($style);
  }
  &:is(:focus) {
    @include colorset($style, $mode: "focus");
  }
  &:is(:hover) {
    @include colorset($style,$mode: "hover");
  }
  &:is(:hover:focus) {
    @include colorset($style, $mode: "hover-focus");
  }
  &:is(:active) {
    @include colorset($style, $mode: "active");
  }
  &:is(:active:focus) {
    @include colorset($style, $mode: "active-focus");
  }
  &:is(#{$disabled}, #{$disabled}:focus, #{$disabled}:hover:focus, #{$disabled}:active, #{$disabled}:active:focus) {
    @include colorset($style, $mode: "disabled");
    pointer-events: none !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PRESET ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin preset($disabled: ":disabled", $style: "link") {
  @include base();
  @include look($disabled, $style);
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~