/* BORDER */
.chat_main_flex {
  border: 1px solid rgb(var(--color-primary)) !important;
}

.singleWindowFocusBar {
  height: 0px !important;
  background: transparent !important;
  mask: none !important;
  -webkit-mask: none !important;
}

/* BACKGROUND */
.friendlist {
}

.friendsListContainer {
}

.friendsui-container {
  background-color: rgb(var(--color-background)) !important;
}

/* TITLEBAR */
.friendListHeaderContainer {
  border: unset !important;
  background-color: transparent !important;
}

/* SETTINGS PICKER */
.FriendPicker_ChosenFriend span {
  color: rgba(var(--color-white), 0.75) !important;
}

.FriendPicker_ChosenFriend:hover span {
  color: rgb(var(--color-text)) !important;
}

.FriendPicker_ChosenFriend {
  background: rgb(var(--color-primary)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  padding: 4px 12px !important;
}

.FriendPicker_ChosenFriend .SVGIcon_X_Line line {
  stroke: rgba(var(--color-white), 0.75) !important;
}

.FriendPicker_ChosenFriend:hover .SVGIcon_X_Line line, .FriendPicker_ChosenFriend:active .SVGIcon_X_Line line {
  stroke: rgb(var(--color-text)) !important;
}

.FriendPicker_Focus .FriendPicker_SuggestedFriend.Focus {
  background: rgba(var(--color-white), 0.1) !important;
}

.insetShadow {
  background: transparent !important;
}

.FriendPicker_SuggestedFriend {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.FriendPicker_SuggestedFriend:hover, .FriendPicker_SuggestedFriend:active {
  background: rgba(var(--color-white), 0.1) !important;
}

.FriendPicker {
  margin-bottom: 0px !important;
}

.scrollfade_ScrollFade_1ZCj8 {
  -webkit-mask: none !important;
}

/* AVATAR */
[class*="steamavatar_avatarFrame_"] [class*="steamavatar_avatarFrameImg_"] {
  display: none !important;
}

.friend.offline .avatarHolder img.avatar  {
  filter: none !important;
}


.ChatTabContent .avatarHolder .avatarStatus, .friend.quickAccessFriend .avatarHolder .avatarStatus {
  display: none !important;
  height: 0px !important;
}

/* HEADER */
.friendListHeaderContainer {
  min-height: 0px !important;
}

/* CURRENT USER */
.currentUserContainer {
  border-bottom: unset !important;
  height: 38px !important;
  padding-right: 0px !important;
}

.currentUserContainer::before, .currentUserContainer::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 38px !important;
}

.currentUserContainer::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.currentUserContainer::after {
  background-image: var(--image-acrylic) !important;
}

.statusHeaderGlow {
  opacity: 0 !important;
  display: none !important;
}

.currentUserAvatar {
  display: none !important;
  border-radius: 0px !important;
  width: 38px !important;
  height: 38px !important;
}

.AvatarAndUser {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  width: fit-content !important;
  padding-left: 0px !important;
  line-height: 38px !important;
  max-width: calc(100% - (3 * 38px)) !important;
}

.titleBarContainer .currentUserContainer .ContextMenuButton {
  position: absolute !important;
  margin-left: -38px !important;
}

.currentUserContainer [class*="personanameandstatus_playerName_"], .currentUserContainer [class*="personanameandstatus_playerNickname_"] {
  line-height: 38px !important;
}

.currentUserContainer [class*="personanameandstatus_statusAndName_"] {
  margin-bottom: 0px !important;
  margin-left: 38px !important;
}

.currentUserContainer [class*="personanameandstatus_statusAndName_"], .currentUserContainer [class*="personanameandstatus_playerName_"]  {
  font-size: var(--size-14) !important;
  text-transform: uppercase !important;
  font-weight: 500 !important;
}

.currentUserContainer [class*="personanameandstatus_playerName_"] {
  margin-left: 8px !important;
}

.currentUserContainer [class*="personanameandstatus_richPresenceContainer_"] {
  display: none !important;
}

[class*="personastatusicons_PersonaStatusIcon_"] {
  margin-top: 0px !important;
  margin-bottom: auto !important;
  margin-top: auto !important;
  margin-left: 0px !important;
}

.currentUserContainer [class*="personastatusicons_PersonaStatusIcon_"] {
  line-height: 16px !important;
}

[class*="personastatusicons_PersonaStatusIcon_"] svg {
  display: none !important;
}

[class*="personastatusicons_PersonaStatusIcon_"]::after {
  font-weight: 400 !important;
  line-height: 16px !important;
  height: 16px !important;
  font-family: micon !important;
  content: "\EBE8" !important;
  font-size: var(--size-16) !important;
}

.currentUserContainer [class*="personastatusicons_PersonaStatusIcon_"][class*="personastatusicons_MobilePhoneIcon_"], .currentUserContainer [class*="personastatusicons_PersonaStatusIcon_"][class*="personastatusicons_VRIcon_"], .currentUserContainer [class*="personastatusicons_PersonaStatusIcon_"][class*="personastatusicons_BigPictureIcon_"] {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.currentUserContainer .labelHolder {
  margin: 0px !important;
}

.currentUserContainer .ContextMenuButton {
  opacity: 1 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 38px !important;
  height: 38px !important;
}

.currentUserContainer .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

.currentUserContainer .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAXElEQVRYhe3VwQkAIAzFUBX3X7lOIDR48B/yzkUCLTiraiRavwNuDKMMowyjDKMMo2LDNpx//fFnd5CGtR9+FbtKwyiPn4pdpWGUx0/FrtIwyjDKMMowyjDKMOoATH4GWGtUqnsAAAAASUVORK5CYII=') !important;
  background-size: 38px 38px !important;
  height: 38px !important;
  width: 38px !important;
}

.currentUserContainer .ContextMenuButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.currentUserContainer .ContextMenuButton:focus {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.currentUserContainer .ContextMenuButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.FriendsListContent .ContextMenuButton, .MemberListColumn .ContextMenuButton, .VoiceChannelParticipants .ContextMenuButton {
  opacity: 0 !important;
  display: none !important;
}

[class*="personanameandstatus_DNDContainer_"] {
  width: 16px !important;
  height: 38px !important;
  margin-top: 0px !important;
  margin-left: 8px !important;
  padding-left: 0px !important;
  line-height: 38px !important;
}

.online .SVGIcon_DoNotDisturb circle, .online .SVGIcon_DoNotDisturb line {
  stroke: rgb(var(--color-sub)) !important;
}

/* QUICK ACCESS */
.quickAccessFriends.emptyQuickAccess.hintDismissed {
  margin-top: 0px !important;
}

.quickAccessFriendsMessage {
  color: rgb(var(--color-text)) !important;
  text-transform: uppercase !important;
  border-radius: 0 !important;
  border: unset !important;
  margin: 16px 0px !important;
  padding: 0px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  display: block !important;
  text-align: center !important;
}

.quickAccessFriends.emptyQuickAccess .quickAccessFriendsMessageDismiss {
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
  padding: 0px 8px !important;
  border-radius: 0px !important;
  background: rgb(var(--color-primary)) !important;
  text-align: center !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  top: 0 !important;
  line-height: 48px !important;
  opacity: 0 !important;
  transition: opacity 0.2s ease-out !important;
}

.quickAccessFriends.emptyQuickAccess .quickAccessFriendsMessageDismiss:hover {
  background: rgb(var(--color-primary)) !important;
  opacity: 1 !important;
}

.quickAccessFriends {
  margin-left: 0px !important;
  width: 100% !important;
  padding: 0px !important;
  background-color: transparent !important;
}

.quickAccessFriends:not(.emptyQuickAccess) {
  justify-content: center !important;
}

.quickAccessFriends .favoriteElement:hover .friend .avatarHolder {
  transform: scale(1.2) !important;
}

.quickAccessFriends::before, .quickAccessFriends::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.quickAccessFriends::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.quickAccessFriends::after {
  background-image: var(--image-acrylic) !important;
}

.favoriteElement {
  height: 54px !important;
}

.favoriteElement .ChatRoomGroupAvatar {
  padding: 0px !important;
  width: 38px !important;
  height: 38px !important;
  margin: 8px !important;
}

.favoriteElement .ChatRoomGroupAvatar_initials {
  width: 36px !important;
  height: 36px !important;
  padding-top: 0px !important;
  border-width: 0px !important;
  line-height: 36px !important;
  font-size: 16px !important;
}

.friend.quickAccessFriend {
  width: 38px !important;
  margin: 8px !important;
}

.FavoriteFriend_GameIcon {
  background-color: transparent !important;
  display: none !important;
}

.dropTargetBox  {
  border-radius: 0 !important;
  border: unset !important;
  transform: none !important;
  margin: 0px !important;
}

.playerNameQuickAccessContainer {
  display: none !important;
  color: rgb(var(--color-text)) !important;
}

.quickAccessFriend .clanName {
  display: none !important;
  color: rgb(var(--color-text)) !important;
}

/* QUICK ACCESS SNOOZE */
.quickAccessFriends .friend .SnoozeContainer {
  padding: 0px !important;
  margin: 0px !important;
}

/* QUICK ACCESS COMPACT */
.compactQuickAccess .friend.quickAccessFriend {
  width: 32px !important;
  margin: 3px !important;
}

.compactQuickAccess .friend.quickAccessFriend [class*="steamavatar_avatarHolder_"]{
  height: 30px !important;
  width: 30px !important;
}

.compactQuickAccess .favoriteElement {
  height: 38px !important;
}

/* ACTIVE VOICE CONTROLS */
.friendListHeaderContainer .activeVoiceControls {
  height: 32px !important;
}

.friendListHeaderContainer .activeVoiceControls:before {
  height: 0px !important;
  width: 0px !important;
  background: transparent !important;
}

.activeVoiceFlexBox {
  height: 32px !important;
}

.friendListHeaderContainer .activeVoiceControls {
  background-color: transparent !important;
  border: unset !important;
  border-image: url() !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::before, .friendListHeaderContainer .activeVoiceFlexBox::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 32px !important;
  margin-top: 38px !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.friendListHeaderContainer .activeVoiceFlexBox::after {
  background-image: var(--image-acrylic) !important;
}

.activeVoiceControls .connectionStatusLabels, .chatRoomVoiceChannel .connectionStatusLabels {
  font-size: var(--size-12) !important;
  color: rgb(var(--color-text)) !important;
}

.friendListHeaderContainer .activeVoiceLabels {
  padding-left: 16px !important;
  padding-right: 16px !important;
  display: inline-flex !important;
  font-size: 13px !important;
}

.activeVoiceLabels .activeVoiceHeader {
  letter-spacing: normal !important;
  color: rgb(var(--color-text)) !important;
  font-size: 13px !important;
}

.activeVoiceLabels .activeVoiceName {
  color: rgb(var(--color-text)) !important;
  font-size: 13px !important;
  line-height: inherit !important;
}

.activeVoiceLabels .activeVoiceName::before {
  content: "\00a0" !important;
  font-size: 13px !important;
}

.friendListHeaderContainer .activeVoiceButtons {
  min-width: 96px !important;
}

.VoiceControlPanelButton:focus {
  background-color: transparent !important;
}

.VoiceControlPanelButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.VoiceControlPanelButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.activeVoiceFlexBox .activeVoiceButtons button {
  margin-top: 0px !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border: unset !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

.VoiceControlPanelButton.ToggleMicrophoneButton.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAsklEQVRYhe2V7Q0CIRBEH8ZCuIqvBGJFdqBW4EcF4x9M8MIpuyZeTpmEBHYJ8yCwBEksqc2i7h2gA3QAJ0ACVGnJAxAchUjAAJyK2AAcgPAtgJrRXPylVnkHOsD/ArQ+F9OzWtUJlIpvxs3aGuZes9EOOFbyKedvJgJJrW2UtJcUZ/Ix50fDmiaAB8RFdZ2t5pJcf8HTAeKo/6Usd2BqPO27QLwAH+261GrrQAfoAL8DcAf/ROscBIH3oQAAAABJRU5ErkJggg==') !important;
}

.VoiceControlPanelButton.ToggleMicrophoneButton.disabled.Focusable {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyElEQVRYhe3XwQ3CMAyFYZcVgBlghnYStskCdAwkBmICFgAxwM+FXEJC6+DQA7aUQ90o73PVHtoBsmStFk13gAMcUAkYRYTMGpN9vYicJ08DtAtgnfS2r3687oErMEydVwvI9YM23BqgDrcGDNpwS0BVuBWgOtwC8FW4FhCDQyE88A5sAihNTmafKaA0uQCbXwBi+CN57LGOwB64twLEyQ+F+zvgAowtALkXLq2bNnwu4NOnhjawBnDKhOeqCtCB/xc4wAF/DngCowbeecaFszUAAAAASUVORK5CYII=') !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABIklEQVRYhe2VPU7DQBCFP3OBNHTuqDZ1CirqiAKJznTpUuUAaalyhFwBJCRqGop0gJLaErlBKLjBS5GxZFn+WYOtSNaOtNLbfdbbNx7POJLEOePirLcHA8FAMDBUA0tg3acBBxxq+DUwAaZeapLaLCfpW6cocitJieFre65Rs83lYxN1FQYyc7HtnyQ9NOn6lEC2NsAdkBb4lZUlBV6AhZ2/AvddlKAs2/zZ3LLN3sKH4dinDJHH71hAVHM2An5ze1Xg0hjEHEiAZ8MO+DIcA/uuDIhT77sS7gp4NDwD3g3fALtm5W7b8KfQhkmTbttBlJkoMzDP9X0vg6iYaRU/kvQpaeqj95ePMAUua/hbYAu8+Yj5zIFeYxBzIBgIBoKBf8URTHR4zZhriVQAAAAASUVORK5CYII=') !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton.disabled.Focusable {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAzUlEQVRYhe2WzQ3CMAxGXxEjMAKHdhhmaDsZnQEW4MAA3BmhQ3wcSKQIQZtWRhHIliwljhQ/f/mtJFHSNkWzO4ADOIADrASogbEUQA2cgV0JgCYkP1glB0DSnEcbJdVJLI4Pkrqk34ZYztxsMzmribELcIz1AAPQWyswF+sTpdrc6iWZHcP0UzGl1lcU6EK/C9XHdpYCFpvw9pKwDzEzgOiNpHuAeKfKKq+07E/YACdgv3itP9hSAHjehleMbsM1AKb2k6+hAziAA/wXwAOv1gzUh0q7oQAAAABJRU5ErkJggg==') !important;
}

.VoiceControlPanelButton.chatEndVoiceChat.Focusable {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyklEQVRYhe2V4Q2CMBCFv2dcAEdwBXdxBGdwBGfREVwBRpBVnn+KQRJpSaMI6Uvuz1Gu372WQ7aZU5tZdy8ABaAA/APANmFN7qRSLkC0yIii8Is4AgCk6Sak/Gdmd6AArAvAdmX7YfvwcwDbFVADjaQmpOOfju1Y9HWxvQ9dDvOfNFo/xQGFaIAKuANtLy/gDOxC/jZ4lu1AF3Xo6Dry3usOpNZVbFp1E9B2DbSSjgmuvTWY5UBv3WnKxqn1ow58W+saRAWgACwS4AljQit1ZIn3HAAAAABJRU5ErkJggg==') !important;
}

.activeVoiceButtons .SVGIcon_Button {
  fill: rgb(var(--color-white)) !important;
  display: none !important;
}

.VoiceControlPanelButton.ToggleVoiceOutputButton .SVGIcon_Headphones, .VoiceControlPanelButton.ToggleMicrophoneButton .SVGIcon_Microphone {
  width: 32px !important;
  height: 32px !important;
  padding-top: 0px !important;
  display: none !important;
}

.friendListHeaderContainer .SVGIcon_Button.SVGIcon_VoiceRoom  {
  width: 32px !important;
  height: 32px !important;
  padding-top: 0px !important;
  display: none !important;
}

/* SEARCH */
.activeTab {
  color: rgb(var(--color-text)) !important;
  background-color: transparent !important;
}

.TabSearchButton .ColorSelector {
  stroke: rgb(var(--color-text)) !important;
  fill: rgb(var(--color-text)) !important;
}

.socialListTab {
  margin-top: 0px !important;
  height: 32px !important;
}

.socialListTab .tabLabel {
  cursor: pointer !important;
  font-weight: 400 !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
}

.socialListTab.TabSearchActive .tabLabel {
  width: 0px !important;
}

.socialListTab.TabSearchActive {
  padding-left: 0px !important;
}

.TabSearchButton {
  background-color: transparent !important;
  padding: 0px !important;
  height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
}

.searchIconButton {
  background-color: transparent !important;
}

.searchIconButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.searchIconButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.TabSearchButton .searchIconButton {
  cursor: pointer !important;
  height: 32px !important;
  width: 32px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2ElEQVRYhe2WMWrDQBBFn4J7l1EqH8DoELqEcoYcxjcIpPYN7MqolLsEkgOkCSnTuXsurCKFbFYrCRXegWFhBv5/MDOwmcqc8TCrewJIAAkgAYwAUAFNm+/ADih6Kaix+aLW6uO/Wqk2ahGqMwSgUZ866qW6D9WJHUEFfAM/Hb0DkIcKDdmBvxu909QANdeXLQeyqQF+uYzgtcN8C2xChRaRACWwBj6BI/ABLIEV8NZChEXE9pfqV/vSnuGzWsVc01DzwTmreV+A0c1VMk2/4gSQABLAnQOcAQnRX9BFYc88AAAAAElFTkSuQmCC') !important;
}

.TabSearchActive .TabSearchButton .searchIconButton {
  width: 0px !important;
  opacity: 0 !important;
}

.friendsTabButtonsContainer {
  padding-right: 0px !important;
}

.friendsTabButtonsContainer .TabSearchButton .SVGIcon_MagnifyingGlass {
  height: 32px !important;
  width: 32px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  display: none !important;
}

.socialInputContainer.SearchActive {
  max-height: 32px !important;
}

.socialInputContainer .inputContainer {
  margin: 0px !important;
}

.socialInputContainer .inputContainer.no-drag {
  height: 32px !important;
  border-radius: 0px !important;
  background-color: transparent !important;
}

.friendSearchInput[type=text] {
  color: rgb(var(--color-text)) !important;
  background-color: rgba(var(--color-white), 0.1) !important;
  font-size: var(--size-14) !important;
  background-size: 32px 32px !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA2ElEQVRYhe2WMWrDQBBFn4J7l1EqH8DoELqEcoYcxjcIpPYN7MqolLsEkgOkCSnTuXsurCKFbFYrCRXegWFhBv5/MDOwmcqc8TCrewJIAAkgAYwAUAFNm+/ADih6Kaix+aLW6uO/Wqk2ahGqMwSgUZ866qW6D9WJHUEFfAM/Hb0DkIcKDdmBvxu909QANdeXLQeyqQF+uYzgtcN8C2xChRaRACWwBj6BI/ABLIEV8NZChEXE9pfqV/vSnuGzWsVc01DzwTmreV+A0c1VMk2/4gSQABLAnQOcAQnRX9BFYc88AAAAAElFTkSuQmCC') !important;
  background-position: 0px 0px !important;
  padding: 0px 0px 0px 32px !important;
}

.socialInputContainer .friendSearchInput[type=text] {
  padding-right: 0px !important;
  background-color: transparent !important;
}

.friendSearchInput::placeholder {
  color: rgb(var(--color-sub)) !important;
  text-transform: uppercase !important;
  font-size: var(--size-14) !important;
}

.friendsTabButtonsContainer .friendSearchClear {
  width: 32px !important;
  height: 32px !important;
  right: 0px !important;
}

.friendSearchNoResultsContainer {
  color: rgb(var(--color-sub)) !important;
}

.friendSearchNoResultsContainer a {
  color: rgb(var(--color-primary)) !important;
}

.friendSearchNoResultsContainer a:hover {
  color: rgb(var(--color-sub)) !important;
}

.friendSearchNoResultsContainer a:active {
  color: rgb(var(--color-disabled)) !important;
}

/* FRIENDS ADD */
.addFriendButton {
  background-color: transparent !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABLElEQVRYhe2WQUoDQRBF/wgis8sdAiGILqJZmgN4gpATSNBL5BDxHG6M59BgIBld5gLJwo3yXKSyETvTFZgMgS5omq4/U/VmuqrpDFCddlJr9gSQABLAsQLkku4lvUn6kjS1db4XAeAZOTABCmAAXNlcAC+mu2J6AR6ABdD442+Yf1g1wBToB7S+6a6Y3hpoSSoCWiGp6S0BL8BCUjugtSXNvQDeLbgDPgM18GF6pTVwBjxb1d+Yr2fJJ4foAgHXwJqNvdu8Arp7xHIBnAIj4Bt4BDrm6wBj4MeeoyqAEbAEzgP61u8CyCDqTngh6VXSpaRZWV1LymKbIBZgrE3LDnckDebYFTj2HLiV9FSSZDv+W4dfjPwDHnNtwVHeB8os+uurAnBZAkgAtQP8ApwXNCQChdOEAAAAAElFTkSuQmCC') !important;
}

.addFriendButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.addFriendButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendRequestButton {
  background-color: transparent !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAABGElEQVRYhe2WQUoDQRREawTBrMwZ3ChBF0Hc6TpHiJ5AYm6RXEFzFL1HSECdoCsvoAsXBp6L1EIkI/Nh2hDogqHpqk/3Y+Y30wWgTWpno7tngAyQAbYVoCVpKGkq6dPjjf24gMjTAu6BErgCToFLzx+ch9aMAgyBJ6D9y9+3P0gNMAX6FVkfmEUBoj1wKGlRkZWSDqItEAV4NsQ6HUl6jAJEP8E18LKmB9rAwnnSHthzt5fAhb1zb/4vp0DAGfDBSnOP7/bD60WKd4ER8AXcAl17XeDO/theEoAR8AZ0KvKO83EKgBNg+cfmPyGWwHFdgAJqXUonkgpJg5q10ur/0NgxfAV6NWt7rm/0DSTTVt4HMkAGyACN6hsX4fBFYwG9mQAAAABJRU5ErkJggg==') !important;
}

.friendRequestButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.friendRequestButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendRequestButton .SVGIcon_FriendRequest, .addFriendButton .SVGIcon_AddFriend {
  margin: 0px !important;
  display: none !important;
}

.friendRequestButton .SVGIcon_FriendRequest .friendBodyFull, .friendRequestButton .SVGIcon_FriendRequest .friendHead, .friendRequestButton .SVGIcon_FriendRequest .friendArm, .friendRequestButton .SVGIcon_FriendRequest .friendBody, .addFriendButton .SVGIcon_AddFriend .friendHead, .addFriendButton .SVGIcon_AddFriend .friendBody {
  fill: rgb(var(--color-white)) !important;
}

.addFriendButton .SVGIcon_AddFriend .plusCircle {
  fill: rgb(var(--color-white)) !important;
}

.friendRequestButton .requestsNumber {
  color: transparent !important;
  position: absolute !important;
  top: 5px !important;
  right: 5px !important;
  left: unset !important;
  bottom: unset !important;
  display: flex !important;
  align-items: center !important;
  min-width: 5px !important;
  width: 5px !important;
  height: 5px !important;
  border-radius: 50% !important;
  overflow: hidden;
  margin: 0px !important;
  padding: 0px !important;
  background-color: rgb(var(--color-primary)) !important;
  letter-spacing: normal !important;
  font-size: var(--size-10) !important;
  font-weight: 400 !important;
  line-height: 10px !important;
}

/* UNREAD MESSAGE */
.recentChatsGroup.unreadChatsGroup .groupName {
  margin-left: 16px !important;
}

.ChatRoomListGroupItem .FriendMessageCount, .unreadFriend .FriendMessageCount {
  background: rgb(var(--color-primary)) !important;
  padding: 0px !important;
  box-shadow: 0 0 0 0 transparent !important;
  right: 15px !important;
  top: 15px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.FriendMessageCount {
  margin: auto 2px !important;
  line-height: 24px !important;
  height: 24px !important;
  width: 24px !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.unreadMessageViolator {
  background: rgb(var(--color-primary)) !important;
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  margin-top: 0px !important;
  border: unset !important;
  left: 0px !important;
  right: 0px !important;
  width: 100% !important;
  height: 24px !important;
  line-height: 24px !important;
}

/* FRIENDS LIST HEADER */
.groupHeaderContainer {
}

/* FRIENDS LIST */
.friendGroup .groupName {
  margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends {
  border-top: unset !important;
  background: transparent !important;
  margin-top: 0px !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.offlineFriends {
  border-top: unset !important;
  background: transparent !important;
  margin-top: 0px !important;
}

.friendlistListContainer {
  background: transparent !important;
}

.FriendsListContent .friendlistListContainer .friendGroup.onlineFriends .groupName, .FriendsListContent .friendlistListContainer .friendGroup.offlineFriends .groupName {
  color: rgb(var(--color-text)) !important;
  text-transform: uppercase !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.groupName.Panel.Focusable {
  margin-left: 16px !important;
}

.friend .labelHolder {
 margin-left: 8px !important;
 height: 38px !important;
 display: grid !important;
 align-content: center !important;
}

.friendlistListContainer .friend .labelHolder {
  height: fit-content !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.ExpandPlusMinus {
  color: transparent !important;
  margin: 0px !important;
  width: 16px !important;
  height: 16px !important;
}

.groupName:hover .ExpandPlusMinus, .Collapsed .ExpandPlusMinus {
  color: transparent !important;
  opacity: 0 !important;
}

.friendlistListContainer .ExpandPlusMinus {
  display: none !important;
}

.groupName .groupCount {
  color: rgb(var(--color-sub)) !important;
}

.groupName .groupCount.collapsed {
  opacity: !important;
}

.groupName .groupCount:not(.collapsed) {
  opacity: 0 !important;
}

.friendGroup.offlineFriends .groupName .groupCount, .friendGroup.onlineFriends .groupName .groupCount, .friendGroup .groupName .groupCount.collapsed {
  color: rgb(var(--color-sub)) !important;
}

.friendGroup .groupName .groupCount {
  font-size: var(--size-14) !important;
  margin-left: 4px !important;
}

.friendStatusHover:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.friendStatusHover:active, .friendStatusHover.Friend_ContextMenuActive {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendGroup .friend, .friendGroup .SteamPlayerGroupFooter {
  margin: 0px !important;
  padding: 8px 16px 8px 16px;
}

.friendlistListContainer .friend .avatarHolder {
  padding-right: 0px !important;
}

.friendlistListContainer .friend .avatarHolder .avatarStatus, .CompactFriendsList .friend .avatarHolder .avatarStatus, .FriendNotificationsDialog .friend .avatarHolder .avatarStatus {
  width: 0px !important;
  display: none !important;
}

/* COMPACT */
.CompactFriendsList .SteamPlayerGroupFooter .SteamPlayerGroupFooterCount, .CompactFriendsList .friend .avatarHolder {
  width: 30px !important;
  height: 30px !important;
}

.CompactFriendsList .friend .avatarHolder {
  padding-right: 0px !important;
}

.CompactFriendsList .friend, .CompactFriendsList .friendGroup .friend, .CompactFriendsList .friendGroup .SteamPlayerGroupFooter, .CompactFriendsList .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
  height: 32px !important;
  margin: 0px !important;
  padding: 3px 16px !important;
}

.CompactFriendsList .friend.speaking .avatarHolder img.avatar {
  filter: none !important;
}

[class*="personanameandstatus_compactView_"] [class*="personanameandstatus_playerName_"], [class*="personanameandstatus_compactView_"] [class*="personanameandstatus_playerNickname_"] {
  margin-bottom: unset !important;
}

.CompactFriendsList .friend .labelHolder {
  margin-top: 0px !important;
  height: 32px !important;
}

/* GAME GROUP */
.friendGroup.taggedGroup, .friendGroup.gameGroup {
  margin-top: 0px !important;
  border-top: unset !important;
}

.gameGroup:not(.OtherGamesGroup):not(.NonSteamGamesGroup) .gameGroupContainer {
  background-color: transparent !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0px 8px 0px 0px !important;
  display: none !important;
}

.friendGroup .groupName {
  border-top: unset !important;
}

.friend.firstInGroup .SteamPlayerGroupLines, .friend.inGroup .SteamPlayerGroupLines, .friend.lastInGroup .SteamPlayerGroupLines, .SteamPlayerGroupFooter .SteamPlayerGroupLines {
  border-width: 0px !important;
  margin: 0px !important;
  width: 0px !important;
}

.friend.firstInGroup .SteamPlayerGroupLines {
  height: 0px !important;
  margin-top: 0px;
  border-left: unset !important;
  border-top: unset !important;
  border-top-left-radius: 0 !important;
}

.friendGroup.gameGroup:not(.OtherGamesGroup) .SteamPlayerGroupFooter, .friendGroup.gameGroup:not(.OtherGamesGroup) .friend {
  padding: 8px 16px 8px 16px !important;
}

/* GROUP FOOTER */
.SteamPlayerGroupFooter .SteamPlayerGroupFooterCount {
  height: fit-content !important;
  border: unset !important;
  width: 32px !important;
  margin: 0px !important;
  transform: none !important;
}

.SteamPlayerGroupFooterCount .count {
  width: 100% !important;
  display: table-cell !important;
  line-height: 16px !important;
  font-weight: 400 !important;
  font-size: var(--size-16) !important;
  text-align: center !important;
  color: rgb(var(--color-sub)) !important;
  margin-top: 0px !important;
}

.SteamPlayerGroupFooterLabel {
  align-self: center !important;
  padding: 0px !important;
  vertical-align: middle !important;
  height: initial !important;
  margin-left: 8px !important;
  font-size: var(--size-14) !important;
  text-align: left !important;
  color: rgb(var(--color-sub)) !important;
  -webkit-mask: none !important;
  width: calc(100% - 72px) !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

/* GROUPED FRIENDS */
.FriendInGameIcon {
  line-height: 54px !important;
  width: 24px !important;
  height: 24px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  margin: 0px 8px 0px 0px !important;
  background-color: transparent !important;
  display: none !important;
}

.groupName .gameGroupContainer .groupIcon, .FriendInGameIcon img {
  width: 24px !important;
  height: 24px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  border: unset !important;
}

.friendGroup .groupName .groupCount {
  margin-left: 4px !important;
  transform: none !important;
}

/* INVITES */
.friendGroup.friendOutgoingRequests .groupName, .friendGroup.friendRequests .groupName {
  padding: 0px !important;
  line-height: 32px !important;
}

/* GROUP CHATS HEADER */
.friendsListSectionTitle {
  color: rgb(var(--color-text)) !important;
}

.ToggleGroupChatList {
  width: 0px !important;
  padding: 0px !important;
}

.FriendsListChatSection.ChatRoomListContainerParent.Collapsed .ToggleGroupChatList .SVGIcon_DoubleArrow, .ToggleGroupChatList .SVGIcon_DoubleArrow {
  color: rgb(var(--color-white)) !important;
  opacity: 0 !important;
  display: none !important;
}

.ToggleGroupChatList .SVGIcon_DoubleArrow polyline {
  stroke: rgb(var(--color-white)) !important;
}

.groupChatSectionTitle {
  font-weight: 400 !important;
}

.friendsListSectionTitle.chatSectionTitle .groupChatSectionTitle {
  padding-top: 0px !important;
  margin-top: 0px !important;
  margin-left: 16px !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
}

.createChatRoomButton {
  color: rgb(var(--color-white)) !important;
  margin-top: 0px !important;
  padding: 0px !important;
  width: 32px !important;
  height: 32px !important;
  min-width: 32px !important;
  min-height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  border: unset !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAU0lEQVRYhe3UUQoAIAhEwYzuf+XtBIagIMbb30KHykzS6sxu7Q4AAIAfAOlfbPwJAJgPOMF9r9furVklwCumaCMv7VcAAEAWkJqACkA6AAAAAHABOegHQaO3qj0AAAAASUVORK5CYII=') !important;
}

.createChatRoomButton, .createChatRoomButton:hover, .createChatRoomButton:active {
  background-color: transparent !important;
}

.createChatRoomButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.createChatRoomButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup line {
  display: none !important;
  stroke: rgb(var(--color-white)) !important;
}

.friendsListSectionTitle .SVGIcon_NewChatGroup {
  display: none !important;
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.friendsListSectionTitle.chatSectionTitle {
  height: 32px !important;
  border: unset !important;
}

.friendsListSectionTitle.chatSectionTitle, .friendsListSectionTitle.chatSectionTitle:hover {
  background-color: transparent !important;
}

.voiceRoomDragBar {
  align-items: center !important;
}

/* GROUP CHATS LIST */
[class*="insetshadow_FriendsListInsetShadowCtn_"] {
  display: none !important;
}

.chatRoomListContainer {
  background: transparent !important;
}

.ChatRoomListGroupItem {
  background-color: transparent !important;
}

.ChatRoomListGroupItem_header {
  background-color: transparent !important;
  margin: 0px !important;
  padding: 8px 16px !important;
}

.ChatRoomListGroupItem_header:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.ChatRoomListGroupItem_header:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.ChatRoomList {
  padding-top: 0px !important;
}

.ChatRoomListGroupItem .groupNameStatusContainer .chatRoomName {
  margin-left: 0px !important;
}

.ChatRoomListGroupItem:not(.NonGroupHovered) .ChatRoomListGroupItem_header:hover .chatRoomName {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.ChatRoomListGroupItem .ChatRoomListGroupItem_header .chatRoomName {
  color: rgb(var(--color-text)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel:not(.ActiveVoiceChannel):hover {
  background-color: transparent !important;
}

.ChatRoomMultiFriendAvatar {
  border-radius: var(--option-round-avatars) !important;
}

.ChatRoomListGroupItem .ChatRoomMultiFriendAvatar.Small {
  width: 36px !important;
  height: 36px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar.HasAvatar {
  width: 36px !important;
  height: 36px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar {
  width: 36px !important;
  height: 36px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.ChatRoomListGroupItem .ChatRoomGroupAvatar .ChatRoomGroupAvatar_initials {
  width: 36px !important;
  height: 36px !important;
  padding-top: 0px !important;
  border-width: 0px !important;
  line-height: 36px !important;
}

.ChatRoomMultiFriendAvatar {
  margin: 0px !important;
  background: transparent !important;
  border: 1px solid rgb(var(--color-white)) !important;
  border-radius: var(--option-round-avatars) !important;
}

.ChatRoomGroupAvatar {
  margin: 0px !important;
  background: transparent !important;
  border: 1px solid rgb(var(--color-white)) !important;
  border-radius: var(--option-round-avatars) !important;
}

.groupNameStatusContainer {
  padding-left: 0px !important;
  margin-left: 8px !important;
}

.HasLinkedBroadcast .groupNameStatusContainer {
  margin-left: 4px !important;
}

.ChatRoomListGroupItem .openGroupButton {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
  margin-top: 3px !important;
  margin-right: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAjklEQVRYhe3VMQ4CIRCF4R/LvYHaWmz2/rdBSz3CtmwDzSYob8UQkzclmcz7MiEQUkqMrNPQdAMMMMAAA0TALPQurY1B+IxW4AXcPvTdgQswtQxVNjDlwfFNz0MJVwEFca0gInBWwo8AaoiYz6Rw0O7AvlbgCQTEtfcCFARHw3sAvq6/eogMMMAAAwz4SW1UfBt9bpAZJwAAAABJRU5ErkJggg==') !important;
}

.ChatRoomListGroupItem.ShowAllChannels .openGroupButton {
  transform: rotateZ(180deg) !important;
}

.ChatRoomListGroupItem .openGroupButton:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.ChatRoomListGroupItem .openGroupButton:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.openGroupButton .SVGIcon_DoubleArrow {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

.ChatRoomListGroupItem .openGroupButton .SVGIcon_DoubleArrow polyline {
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .groupNameStatusContainer .displayRow {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle {
  color: rgb(var(--color-text)) !important;
  margin-left: 30px !important;
  font-size: var(--size-14) !important;
  margin-left: 8px !important;
  left: unset !important;
  top: unset !important;
  position: relative !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle::before {
  content: "(STEAM TV" !important;
  color: rgb(var(--color-text)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle::after {
  content: ")" !important;
  color: rgb(var(--color-text)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV {
  display: none !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .logoBG {
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .logo g path {
  fill: transparent !important;
  stroke: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .steam path {
  fill: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem.HasLinkedBroadcast .SVGIcon_SteamTV .tv path {
  fill: rgb(var(--color-white)) !important;
}

.ChatRoomListGroupItem .detailsView {
  background-color: transparent !important;
}

.ChatRoomListGroupItem:hover .detailsView {
}

.ChatRoomListGroupItem:active .detailsView {
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView:hover {
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView:active {
}

/* COMPACT */
.compactView .ChatRoomListGroupItem .ChatRoomGroupAvatar {
  height: 30px !important;
  width: 30px !important;
}

.compactView .ChatRoomListGroupItem .ChatRoomMultiFriendAvatar.Small {
  height: 30px !important;
  width: 30px !important;
}

.compactView .ChatRoomListGroupItem .ChatRoomGroupAvatar .ChatRoomGroupAvatar_initials {
  width: 30px !important;
  height: 30px !important;
  padding-top: 0px !important;
  border-width: 0px !important;
  line-height: 30px !important;
}

.compactView .ChatRoomListGroupItem .groupNameStatusContainer .chatRoomName {
  margin-left: 0px !important;
}

.compactView .ChatRoomListGroupItem_header {
  padding: 3px 16px !important;
}

.compactView .ChatRoomListGroupItem.HasLinkedBroadcast .groupNameStatusContainer .displayRow {
  margin-bottom: 0px !important;
}

.compactView .ChatRoomListGroupItem.HasLinkedBroadcast .steamTVSubtitle {
  left: unset !important;
  top: unset !important;
  margin-left: 8px !important;
  position: relative !important;
}

/* CHAT ROOM DROP DOWN */
.ChatRoomListGroupItemChatRooms {
  margin-left: 0px !important;
  font-size: var(--size-14) !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannel {
  border: unset !important;
}

.ChatRoomListGroupItem.ShowAllChannels .detailsView {
  padding: 0px !important;
  border-bottom: unset !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel {
  background-color: transparent !important;
  border-radius: 0px !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::before, .ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::before {
  background-color: rgba(var(--color-black), 0.75) !important;
  backdrop-filter: blur(var(--option-blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

.ChatRoomListGroupItemChatRooms .chatRoomVoiceChannel.ActiveVoiceChannel::after {
  background-image: var(--image-acrylic) !important;
}

.chatRoomVoiceChannelNameContainer {
  padding-top: 0px !important;
  height: 32px !important;
}

div:not(.ActiveVoiceChannel) > .chatRoomVoiceChannelNameContainer:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

div:not(.ActiveVoiceChannel) > .chatRoomVoiceChannelNameContainer:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .chatRoomVoiceChannelNameContainer .VoiceControlPanelButton {
  border-radius: 0px !important;
  width: 38px !important;
  height: 38px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAXElEQVRYhe3VwQkAIAzFUBX3X7lOIDR48B/yzkUCLTiraiRavwNuDKMMowyjDKMMo2LDNpx//fFnd5CGtR9+FbtKwyiPn4pdpWGUx0/FrtIwyjDKMMowyjDKMOoATH4GWGtUqnsAAAAASUVORK5CYII=') !important;
}

.VoiceChannelParticipants.CompactFriendsList {
}

.DropTarget.chatRoomVoiceChannel.ActiveVoiceChannel.Panel.Focusable .VoiceChannelParticipants.CompactFriendsList {
  margin-top: 0px !important;
}

.chatRoomGroupNavColumn .DropTarget.chatRoomVoiceChannel.ActiveVoiceChannel.Panel.Focusable .VoiceChannelParticipants.CompactFriendsList {
  margin-top: 0px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton .SVGIcon_Button {
  fill: rgb(var(--color-white)) !important;
  display: none !important;
}

.VoiceControlPanelButton.chatPinRoom {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px !important;
}

.chatRoomVoiceChannelIconGlow {
  background: transparent !important;
  width: 0px !important;
  height: 0px !important;
}

.chatRoomVoiceChannel {
  margin: 0px !important;
  width: 100% !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel {
  width: 100% !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannelIcon {
  margin-left: 0px !important;
  margin-right: 0px !important;
  display: none !important;
}

.ChatRoomListGroupItem .chatRoomVoiceChannelName {
  font-size: var(--size-14) !important;
  color: rgb(var(--color-text)) !important;
}

.chatRoomVoiceChannelName, .chatRoomTextChannel, .chatRoomDirectMessageEntry {
  border: unset !important;
}

.chatRoomVoiceChannelName, .chatRoomTextChannelName, .chatRoomGroupName {
  margin-top: 0px !important;
  margin-right: 0px !important;
}

.emptyChannelNotice.Visible {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 24px !important;
  line-height: 24px !important;
}

.emptyChannelNotice {
  color: rgb(var(--color-sub)) !important;
  font-size: var(--size-10) !important;
  margin-left: 16px !important;
  font-weight: 400 !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceFlexBox {
  height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceControls {
  background: transparent !important;
  margin-top: 0px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  border-left: unset !important;
  min-width: 32px !important;
  width: 32px !important;
  height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons button .VoiceControlPanelButton, .chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons button {
  background-color: transparent !important;
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin: 0px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  min-width: 32px !important;
  min-height: 32px !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  min-width: 32px !important;
  min-height: 32px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel .chatRoomTextChannelIcon .SVGIcon_TextRoom {
  width: 32px !important;
  height: 32px !important;
  max-width: 32px !important;
  max-height: 32px !important;
  margin-top: 0px !important;
  margin: 0px !important;
}

.chatRoomVoiceChannel .SVGIcon_TextRoom .TextLines, .chatRoomVoiceChannel .SVGIcon_TextRoom .ScratchPad {
  display: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton .SVGIcon_Button.SVGIcon_VoiceRoom {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px !important;
  margin-left: 0px !important;
  transform: none !important;
  display: none !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .activeVoiceButtons {
  background-color: transparent !important;
  border-radius: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

.activeVoiceButtons {
  padding-right: 0px !important;
}

.activeVoiceButtons button {
  border-radius: 0px !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel {
  right: 32px !important;
  background-color: transparent !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.chatRoomVoiceChannel .chatRoomTextChannel:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* GO TO CHANNEL BUTTON */
.chatRoomVoiceChannel .chatRoomTextChannel .chatRoomTextChannelIcon {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAh0lEQVRYhe2W4QqAMAiEW/SwWw9Uj3v9iEBGkF4DC+5AEBz6TbexAmDK1JxaXQACEMAXABbnOva1KqMAXMk6uaB/MwKrp52FOsUAREcxHEAd6DvwCii9A+nXMAKAzpqJ1Zu4MyvA2IpTDUA1fjgXC2Ah6OIAqEN4aTP+ziYp+pYLQAACyAY4ALrN2vNGemM1AAAAAElFTkSuQmCC') !important;
  color: transparent !important;
}

/* END VOICE CHAT BUTTON */
.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat {
  width: 32px !important;
  height: 32px !important;
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAyklEQVRYhe2V4Q2CMBCFv2dcAEdwBXdxBGdwBGfREVwBRpBVnn+KQRJpSaMI6Uvuz1Gu372WQ7aZU5tZdy8ABaAA/APANmFN7qRSLkC0yIii8Is4AgCk6Sak/Gdmd6AArAvAdmX7YfvwcwDbFVADjaQmpOOfju1Y9HWxvQ9dDvOfNFo/xQGFaIAKuANtLy/gDOxC/jZ4lu1AF3Xo6Dry3usOpNZVbFp1E9B2DbSSjgmuvTWY5UBv3WnKxqn1ow58W+saRAWgACwS4AljQit1ZIn3HAAAAABJRU5ErkJggg==') !important;
  color: transparent !important;
}

/* VOICE ICONS */
.VoiceIconCtn, .VoiceIconCtn:hover, .VoiceIconCtn:active {
  color: transparent !important;
  width: 32px !important;
  height: 32px !important;
}

.VoiceIconCtn:hover SVG, .VoiceIconCtn:active SVG {
  color: transparent !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.chatRoomVoiceChannel.ActiveVoiceChannel .VoiceControlPanelButton.chatEndVoiceChat:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

/* USER LIST AFTER REFRESH */
.VoiceChannelParticipants.CompactFriendsList .friend {
  margin-top: 0px !important;
  height: 38px !important;
  padding: 8px 16px !important;
}

.VoiceChannelParticipants.CompactFriendsList:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.VoiceChannelParticipants.CompactFriendsList:active {
  background-color: rgba(var(--color-white), 0.2) !important;
}

.VoiceChannelParticipants .friend {
  filter: none !important;
}

/* FOOTER */
.friendListFooter {
  background-color: transparent !important;
  display: none !important;
}

/* OFFLINE CONTAINER */
[class*="friendslist_OfflineContainer_"] {
  background-color: transparent !important;
}

[class*="friendslist_OfflineMessage_"] {
  max-width: 324px !important;
  padding: 16px !important;
}

[class*="friendslist_OfflineMessage_"] [class*="friendslist_summaryText_"] {
  color: rgb(var(--color-text)) !important;
  font-weight: 400 !important;
  font-size: var(--size-14) !important;
  line-height: 24px !important;
  margin: 16px 0px !important;
}

[class*="friendslist_OfflineMessage_"] [class*="friendslist_detailText_"] {
  color: rgb(var(--color-sub)) !important;
  font-weight: 400 !important;
  font-size: var(--size-12) !important;
  line-height: 16px !important;
  margin: 0px 0px 16px 0px !important;
}

[class*="friendslist_OfflineMessage_"] [class*="friendslist_retryButton_"] {
  background: transparent !important;
  background-color: rgba(var(--color-white), 0.2) !important;
  color: rgb(var(--color-text)) !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 32px !important;
  border-radius: 0px !important;
  width: 100% !important;
}

[class*="friendslist_OfflineMessage_"] [class*="friendslist_retryButton_"]:hover {
  background-color: rgba(var(--color-white), 0.3) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid rgba(var(--color-white), 0.5) !important;
  outline-offset: -2px !important;
}

[class*="friendslist_OfflineMessage_"] [class*="friendslist_retryButton_"]:active {
  background-color: rgba(var(--color-white), 0.4) !important;
  color: rgb(var(--color-text)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}