/* DIALOG ---------------------------------------------------------------------------------------------------------- */

.ModalDialogPopup:has(.PageListColumn) .DialogContentTransition .DialogContent_InnerWidth .DialogBody>* {
  /* LIMIT WIDTH FOR SETTINGS */
  max-width: var(--zehn-size-settings-content) !important;
  flex-wrap: wrap !important;
}

.ModalDialogPopup:has(.xSTLmzylFJdIfak7ZdhuA) .DialogContentTransition .DialogContent_InnerWidth .DialogBody>* {
  /* LIMIT WIDTH FOR CHAT SETTINGS */
  max-width: var(--zehn-size-settings-content) !important;
  flex-wrap: wrap !important;
}

.roleList .DialogBody {
  gap: 0 !important;
  padding: 0 !important;
}

.ModalDialogPopup .DialogInnerBody {
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
}

.DialogHeaderSubtitle {
  color: var(--zehn-color-text-section-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-section-header) !important;
}

.DialogHighlight {
  color: var(--zehn-color-accent-100) !important;
}

.DialogSubHeader {
  color: var(--zehn-color-text-section-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-section-header) !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  margin-right: 0 !important;
}

.DialogSubHeader:empty {
  display: none !important;
}

/* SUBTITLES */
.DialogLabel,
.DialogLabelStrong {
  color: var(--zehn-color-text-control) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
  text-transform: none !important;
  margin: 0 !important;
}

label>.DialogLabel {
  line-height: 32px !important;
}

/* ERROR */
.ErrorBoundary {
  margin: 0 !important;
  background-color: transparent !important;
  font-size: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: var(--zehn-size-padding-xl) !important;
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

.ErrorBoundary>h1 {
  font-size: var(--zehn-size-20) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
}

.ErrorBoundary>pre {
  font-size: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-secondary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}

/* ABOUT STEAM */
.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E ._32eeZuly3nnz3cMXdSgyj9 {
  padding-top: var(--zehn-size-padding-md) !important;
}

.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E .Tz7ae7SsFpdVaMYJhMCpc {
  padding: 0 !important;
  display: none !important;
}

/* MARK AS PRIVATE */
.DialogHeader>div:has(svg) {
  width: 16px !important;
  height: 32px !important;
  margin-inline-end: 16px !important;
  display: none !important;
}

/* FOOTER */
.DialogFooter {
  padding: 0 var(--zehn-size-padding-md) !important;
  margin: auto 0 0 0 !important;
  gap: var(--zehn-size-spacing-md) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

.DialogBody>.DialogFooter {
  /* INSTALL DIALOG ??? */
  padding: 0 !important;
}

.DialogContent_InnerWidth>.DialogFooter {
  /* FOOTERS DIRECTLY UNDER AN INNER WIDTH THAT NEED THE PADDING */
  padding: 0 var(--zehn-size-padding-md) var(--zehn-size-padding-md) var(--zehn-size-padding-md) !important;
}

.DialogContent_InnerWidth>form .DialogBody .DialogFooter {
  /* ??????????????????????????? */
  padding: 0 !important;
}

.DialogFooter .DialogButton {
  margin: 0 !important;
}

.DialogFooter ._DialogLayout.DialogButton {
  /* MAKE FOOTER BUTTONS FULL WIDTH */
  max-width: none !important;
}

/* CONFIRM DIALOG */
.GenericConfirmDialog {
  min-height: fit-content !important;
  max-height: none !important;
}

.GenericConfirmDialog._DialogCenterVertically {
  justify-content: center !important;
}

.GenericConfirmDialog .DialogFooter {
  padding: 0 var(--zehn-size-padding-md) !important;
}

.GenericConfirmDialog .DialogFooter ._DialogColLayout {
  min-width: 100% !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton {
  /* MAKE FOOTER BUTTONS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog._DialogCenterVertically .DialogFooter .DialogButton {
  /* flex: unset !important; */
  /* NOT SURE WHAT WE HAD THIS SET FOR BUT I MAY DOCU HERE, WAS CONFLICTING WITH EXIT, PROPERTIES DIALOGS */
}

.GenericConfirmDialog ._DialogLayout:not(.DialogButton) {
  /* MAKE INPUTS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog .DialogInput_Wrapper>input.DialogInput {
  min-width: 100% !important;
  box-sizing: border-box !important;
}

.GenericConfirmDialog .DialogInput_Wrapper {
  max-height: var(--zehn-size-input-dialog) !important;
  min-height: var(--zehn-size-input-dialog) !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

/* DIALOG COLUMNS */
._DialogColLayout {
  gap: var(--zehn-size-spacing-button) !important;
  justify-content: center !important;
  flex-flow: row !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

._DialogColLayout.DialogThreeColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

._DialogColLayout.DialogTwoColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

/* DIALOG LAYOUT */
._DialogLayout.DialogButton {
  /* FOR DIALOG BUTTONS */
  max-width: fit-content !important;
  min-width: fit-content !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */