/* DIALOG ---------------------------------------------------------------------------------------------------------- */

/* MARK AS PRIVATE */
.DialogHeader>div:has(svg) {
  width: 16px !important;
  height: 32px !important;
  margin-inline-end: 16px !important;
  display: none !important;
}

/* CONFIRM DIALOG */
.GenericConfirmDialog {
  min-height: fit-content !important;
  max-height: none !important;
}

.GenericConfirmDialog._DialogCenterVertically {
  justify-content: center !important;
}

.GenericConfirmDialog .DialogFooter ._DialogColLayout {
  min-width: 100% !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton {
  /* MAKE FOOTER BUTTONS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog ._DialogLayout:not(.DialogButton) {
  /* MAKE INPUTS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog .DialogInput_Wrapper>input.DialogInput {
  min-width: 100% !important;
  box-sizing: border-box !important;
}

.GenericConfirmDialog .DialogInput_Wrapper {
  max-height: var(--zehn-size-input-dialog) !important;
  min-height: var(--zehn-size-input-dialog) !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

/* DIALOG COLUMNS */
._DialogColLayout {
  gap: var(--zehn-size-spacing-button) !important;
  justify-content: center !important;
  flex-flow: row !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

._DialogColLayout.DialogThreeColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

._DialogColLayout.DialogTwoColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

/* DIALOG LAYOUT */
._DialogLayout.DialogButton {
  /* FOR DIALOG BUTTONS */
  max-width: fit-content !important;
  min-width: fit-content !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */