/* TEXT ------------------------------------------------------------------------------------------------------------- */

body,
body._2LxgdMcpWJRjkxZKbmeEEb {
  color: var(--zehn-color-text-primary) !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--zehn-color-text-primary) !important;
}

p,
p:first-of-type,
p:last-of-type {
  margin: 0 !important;
}

/* TABLES */
table,
th,
td,
tbody,
thead,
tr {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
  padding: 0 !important;
}

tr {
  gap: var(--zehn-size-spacing-xs) !important;
}

.DialogSpanningTable.BannedUsersTable tr.hoverRow,
.DialogSpanningTable.InvitedUsersTable tr.hoverRow,
.DialogSpanningTable.InviteLinksTable tbody tr {
  background: var(--zehn-color-table-odd) !important;
  height: var(--zehn-size-table-entry-large) !important;
  min-height: var(--zehn-size-table-entry-large) !important;
}

.DialogSpanningTable.BannedUsersTable tr.hoverRow:nth-child(2n),
.DialogSpanningTable.InvitedUsersTable tr.hoverRow:nth-child(2n),
.DialogSpanningTable.InviteLinksTable tbody tr:nth-child(2n) {
  background: var(--zehn-color-table-even) !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* AVATAR AND STATUS ------------------------------------------------------------------------------------------------ */

/* STATUS */
.nOdcT-MoOaXGePXLyPe0H {
  font-weight: var(--zehn-weight-thick) !important;
  font-size: var(--zehn-size-14) !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
  -webkit-mask: none !important;
  mask: none !important;
  flex-grow: 1 !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.ingame .nOdcT-MoOaXGePXLyPe0H {
  color: var(--zehn-color-text-primary) !important;
}

.online .nOdcT-MoOaXGePXLyPe0H {
  color: var(--zehn-color-text-primary) !important;
}

.awayOrSnooze .nOdcT-MoOaXGePXLyPe0H {
  color: var(--zehn-color-text-primary) !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .nOdcT-MoOaXGePXLyPe0H {
  color: var(--zehn-color-text-primary) !important;
}

.offline .nOdcT-MoOaXGePXLyPe0H {
  color: var(--zehn-color-text-secondary) !important;
}

.friend {
  color: var(--zehn-color-text-primary) !important;
}

.friend.ingame {
  color: var(--zehn-color-text-primary) !important;
}

.friend.online {
  color: var(--zehn-color-text-primary) !important;
}

.friend.awayOrSnooze {
  color: var(--zehn-color-text-primary) !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .friend {
  color: var(--zehn-color-text-primary) !important;
}

.friend.offline {
  color: var(--zehn-color-text-secondary) !important;
}

/* NICKNAME */
._3XEmWmfQy7gbYJ4KJ1N9tp {
  margin-left: 0 !important;
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text-primary) !important;
  opacity: 1 !important;
  display: none !important;
}

._2saJTAocZ9TnYXTGvnqUMC {
  padding-left: 0 !important;
  margin-left: var(--zehn-size-spacing-xxs) !important;
  color: var(--zehn-color-text-tertiary) !important;
  font-size: var(--zehn-size-14) !important;
}

._3bbRZyUiK-bfc5Qov6xukI .nOdcT-MoOaXGePXLyPe0H,
._3bbRZyUiK-bfc5Qov6xukI ._2saJTAocZ9TnYXTGvnqUMC {
  font-size: var(--zehn-size-14) !important;
  margin-bottom: 0 !important;
  margin-bottom: unset !important;
}

/* EMOTICON */
img.AB86vEzEKPL0y5fK_m4pT {
  width: 16px !important;
  height: 16px !important;
}

/* LABELHOLDER */
._1JE5G7_FNm2SRDEEnOWMVv {
  font-weight: var(--zehn-weight-normal) !important;
}

/* STATUS INFO */
._1cB0qtF0paHWWyj1XNcnbG {
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
}

.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited,
.ingame ._1BbOegz8bYL7iPzgYpOgQI._2Ri005Wg_uXDTa71kdRbcN {
  color: var(--zehn-color-text-secondary) !important;
}

.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:hover,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:active,
.online ._1cB0qtF0paHWWyj1XNcnbG._2Ri005Wg_uXDTa71kdRbcN a:visited,
.online ._1BbOegz8bYL7iPzgYpOgQI._2Ri005Wg_uXDTa71kdRbcN {
  color: var(--zehn-color-text-secondary) !important;
}

._4ZTzGZ5TTgFyfw1DcXLXS {
  gap: var(--zehn-size-spacing-xs) !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

._3sxE7F1LV2IcSX68YsH9dI {
  flex-direction: row !important;
  width: 100% !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  line-height: 16px !important;
}

.online ._3sxE7F1LV2IcSX68YsH9dI,
.offline ._3sxE7F1LV2IcSX68YsH9dI {
  display: none !important;
}

._4ZTzGZ5TTgFyfw1DcXLXS._1oYSXGjBe7QctQ1ikLpCMm {
  margin-top: 0 !important;
}

._2Ri005Wg_uXDTa71kdRbcN {
  margin: 0 !important;
  -webkit-mask: unset !important;
  line-height: 16px !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  display: block !important;
  text-overflow: ellipsis !important;
  padding: 0 !important;
}

._2Ri005Wg_uXDTa71kdRbcN:nth-child(1) {
  flex-shrink: 1 !important;
}

._2Ri005Wg_uXDTa71kdRbcN:nth-child(2) {
  font-size: var(--zehn-size-12) !important;
  line-height: unset !important;
  margin-left: 0 !important;
  flex: 1 !important;
}

._2Ri005Wg_uXDTa71kdRbcN:nth-child(2)::before {
  content: "\00a0(" !important;
}

._2Ri005Wg_uXDTa71kdRbcN:nth-child(2)::after {
  content: ")" !important;
  margin-left: -2pt !important;
  /* FIX EXTRA SPACE */
}

.ingame.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:active,
.ingame ._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: var(--zehn-color-text-secondary) !important;
}

.online.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.online ._2Ri005Wg_uXDTa71kdRbcN,
.online ._2Ri005Wg_uXDTa71kdRbcN a,
.online ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.online ._2Ri005Wg_uXDTa71kdRbcN a:active,
.online ._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: var(--zehn-color-text-secondary) !important;
}

.offline.awayOrSnooze ._2Ri005Wg_uXDTa71kdRbcN,
.offline ._2Ri005Wg_uXDTa71kdRbcN,
.offline ._2Ri005Wg_uXDTa71kdRbcN a,
.offline ._2Ri005Wg_uXDTa71kdRbcN a:hover,
.offline ._2Ri005Wg_uXDTa71kdRbcN a:active,
.offline ._2Ri005Wg_uXDTa71kdRbcN a:visited {
  color: var(--zehn-color-text-secondary) !important;
}

/* STATUS SNOOZE */
._1DsumfIa3MlkzUV9EXY5W9 {
  margin-left: 0 !important;
  display: none !important;
}

._1DsumfIa3MlkzUV9EXY5W9 ._2n0EiKMGRP-r_BI5tDtttu {
  display: none !important;
}

._1DsumfIa3MlkzUV9EXY5W9.in-game ._2n0EiKMGRP-r_BI5tDtttu {
  color: var(--zehn-color-status-ingame) !important;
}

._1DsumfIa3MlkzUV9EXY5W9.online ._2n0EiKMGRP-r_BI5tDtttu {
  color: var(--zehn-color-status-online) !important;
}

.friend.awayOrSnooze .labelHolder {
  opacity: 1 !important;
}

/* AVATAR STATUS BAR */
._1iutOH026zK2dbpsMFDmMm.in-game {
  background-color: var(--zehn-color-status-ingame) !important;
}

._1iutOH026zK2dbpsMFDmMm.online {
  background-color: var(--zehn-color-status-online) !important;
}

._1iutOH026zK2dbpsMFDmMm.awayOrSnooze {
  background-color: var(--zehn-color-status-away) !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) ._1iutOH026zK2dbpsMFDmMm {
  background-color: var(--zehn-color-status-disturb) !important;
}

._1iutOH026zK2dbpsMFDmMm.offline {
  background-color: var(--zehn-color-status-offline) !important;
}

/* AVATAR INITIALS */
* .ChatRoomGroupAvatar_initials {
  color: var(--zehn-color-text-primary) !important;
  background: transparent !important;
  font-weight: var(--zehn-weight-normal) !important;
  background-image: none !important;
  -webkit-text-fill-color: var(--zehn-color-text-primary) !important;
  font-size: inherit !important;
  width: 100% !important;
  height: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  border: none !important;
}

/* AVATAR */
.ChatRoomGroupAvatar.HasAvatar,
.ChatRoomMultiFriendAvatar,
.ChatRoomGroupAvatar {
  border: none !important;
  border-radius: var(--zehn-mask-avatar-roundness) !important;
  background: var(--zehn-color-accent-50) !important;
  margin: 0 !important;
  transform: none !important;
}

.nibodjvvrm86uCfnnAn4g {
  transform: none !important;
  border-radius: var(--zehn-mask-avatar-roundness) !important;
  position: relative !important;
  transform: none !important;
}

.PP7LM0Ow1K5qkR8WElLpt ._2XZq-_f6npaQdAgeRzKIkz .nibodjvvrm86uCfnnAn4g.X-Small,
.PP7LM0Ow1K5qkR8WElLpt ._2XZq-_f6npaQdAgeRzKIkz .ChatRoomGroupAvatar.Smaller,
.PP7LM0Ow1K5qkR8WElLpt .ChatTabContextMenuItem ._2XZq-_f6npaQdAgeRzKIkz .ChatRoomGroupAvatar.Smaller,
.ChatRoomGroupAvatar.Micro {
  height: var(--zehn-size-avatar-xs) !important;
  width: var(--zehn-size-avatar-xs) !important;
  line-height: var(--zehn-size-avatar-xs) !important;
  font-size: calc(var(--zehn-size-avatar-xs) / 2) !important;
}

.ChatRoomGroupAvatar.Smaller,
.nibodjvvrm86uCfnnAn4g.X-Small,
.nibodjvvrm86uCfnnAn4g.Small {
  height: var(--zehn-size-avatar-sm) !important;
  width: var(--zehn-size-avatar-sm) !important;
  line-height: var(--zehn-size-avatar-sm) !important;
  font-size: calc(var(--zehn-size-avatar-sm) / 2) !important;
}

.ChatRoomMultiFriendAvatar.Small,
.ChatRoomGroupAvatar,
.ChatRoomGroupAvatar.Small,
.nibodjvvrm86uCfnnAn4g,
.nibodjvvrm86uCfnnAn4g.Medium {
  height: var(--zehn-size-avatar-md) !important;
  width: var(--zehn-size-avatar-md) !important;
  line-height: var(--zehn-size-avatar-md) !important;
  font-size: calc(var(--zehn-size-avatar-md) / 2) !important;
}

.nibodjvvrm86uCfnnAn4g.Large {
  height: var(--zehn-size-avatar-lg) !important;
  width: var(--zehn-size-avatar-lg) !important;
  line-height: var(--zehn-size-avatar-md) !important;
  font-size: calc(var(--zehn-size-avatar-md) / 2) !important;
}

.nibodjvvrm86uCfnnAn4g.X-Large {
  height: var(--zehn-size-avatar-xl) !important;
  width: var(--zehn-size-avatar-xl) !important;
  line-height: var(--zehn-size-avatar-xl) !important;
  font-size: calc(var(--zehn-size-avatar-md) / 2) !important;
}

._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm) ._32niVn3s7EKoKY0-pASwDJ,
._3h-QRJGxnVOIExtHD1R0f2 {
  transition: none !important;
  border: unset !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  -webkit-mask-image: var(--zehn-mask-avatar) !important;
}

._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.online) ._32niVn3s7EKoKY0-pASwDJ,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.offline) ._32niVn3s7EKoKY0-pASwDJ,
._2NdiftmP-B3C4LPWnNGTCB:has(._1iutOH026zK2dbpsMFDmMm.in-game) ._32niVn3s7EKoKY0-pASwDJ,
.nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2 {
  -webkit-mask-image: var(--zehn-mask-avatar-status) !important;
}

/* MOBILE */
.AvatarAndUser:has(.SVGIcon_MobilePhone) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2,
.friendCategoryContainer:has(.SVGIcon_MobilePhone) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2 {
  -webkit-mask-image: var(--zehn-mask-avatar-status-mobile) !important;
}

/* DECK */
.AvatarAndUser:has(.SVGIcon_SteamDeck) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2,
.friendCategoryContainer:has(.SVGIcon_SteamDeck) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2 {
  -webkit-mask-image: var(--zehn-mask-avatar-status-deck) !important;
}

/* VR */
.AvatarAndUser:has(.SVGIcon_VR) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2,
.friendCategoryContainer:has(.SVGIcon_VR) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2 {
  -webkit-mask-image: var(--zehn-mask-avatar-status-vr) !important;
}

/* BIG PICTURE */
.AvatarAndUser:has(.SVGIcon_BigPicture) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2,
.friendCategoryContainer:has(.SVGIcon_BigPicture) .nibodjvvrm86uCfnnAn4g:has(._3xUpb5DWXPFNcHHIcv-9pe) ._3h-QRJGxnVOIExtHD1R0f2 {
  -webkit-mask-image: var(--zehn-mask-avatar-status-bigpicture) !important;
}

._1iutOH026zK2dbpsMFDmMm,
._3xUpb5DWXPFNcHHIcv-9pe {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  border: unset !important;
  box-sizing: content-box !important;
  z-index: 999 !important;
  -webkit-mask-image: var(--zehn-mask-status) !important;
}

._3xUpb5DWXPFNcHHIcv-9pe,
._3xUpb5DWXPFNcHHIcv-9pe.bottom,
._3xUpb5DWXPFNcHHIcv-9pe.right {
  right: 0 !important;
  bottom: 0 !important;
  left: unset !important;
  top: unset !important;
}

._2NdiftmP-B3C4LPWnNGTCB ._1iutOH026zK2dbpsMFDmMm {
  height: 44px !important;
  width: 44px !important;
  /* left: 16px !important; */
  /* top: 16px !important; */
}

.nibodjvvrm86uCfnnAn4g.X-Small ._3xUpb5DWXPFNcHHIcv-9pe,
.nibodjvvrm86uCfnnAn4g.Small ._3xUpb5DWXPFNcHHIcv-9pe {
  width: 100% !important;
  height: 100% !important;
  border: unset !important;
  right: 0 !important;
  bottom: 0 !important;
}

/* SNOOZE */
._1iutOH026zK2dbpsMFDmMm.awayOrSnooze,
.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
  opacity: 1 !important;
  -webkit-mask-size: auto !important;
  -webkit-mask-image: var(--zehn-mask-status-away) !important;
}

._1iutOH026zK2dbpsMFDmMm.offline,
.offline ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-offline) !important;
}

/* DO NOT DISTURB */
.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) ._3xUpb5DWXPFNcHHIcv-9pe,
.friendCategoryContainer:has(._3IswZMeeD6ORStUjgv6Xh8) ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-dnd) !important;
}

/* MOBILE */
.AvatarAndUser:has(.SVGIcon_MobilePhone) ._3xUpb5DWXPFNcHHIcv-9pe,
.friendCategoryContainer:has(.SVGIcon_MobilePhone) ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-mobile) !important;
}

/* STEAM DECK */
.AvatarAndUser:has(.SVGIcon_SteamDeck) ._3xUpb5DWXPFNcHHIcv-9pe,
.friendCategoryContainer:has(.SVGIcon_SteamDeck) ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-deck) !important;
}

/* VR */
.AvatarAndUser:has(.SVGIcon_VR) ._3xUpb5DWXPFNcHHIcv-9pe,
.friendCategoryContainer:has(.SVGIcon_VR) ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-vr) !important;
}

/* BIG PICTURE */
.AvatarAndUser:has(.SVGIcon_BigPicture) ._3xUpb5DWXPFNcHHIcv-9pe,
.friendCategoryContainer:has(.SVGIcon_BigPicture) ._3xUpb5DWXPFNcHHIcv-9pe {
  -webkit-mask-image: var(--zehn-mask-status-bigpicture) !important;
}

/* OTHER AVATAR */
._3n8vALReUk851YHiEiWEfQ {
  border-radius: var(--zehn-mask-avatar-roundness) !important;
  height: 44px !important;
  width: 44px !important;
}

/* STEAM LOGO */
.QFW0BtI4l77AFmv1xLAkx ._1VRx9qVxigUC4qeM0NWNMR,
._3B8wRA4H7e_oSksYNqpSPv ._1VRx9qVxigUC4qeM0NWNMR,
._2NdiftmP-B3C4LPWnNGTCB ._1VRx9qVxigUC4qeM0NWNMR,
._25gii5r23MmAqXvLZj24tK ._1VRx9qVxigUC4qeM0NWNMR,
._3k90ug209sE23xAMqcM74s ._1VRx9qVxigUC4qeM0NWNMR {
  height: 44px !important;
  width: 44px !important;
  color: var(--zehn-color-icon-primary) !important;
}

/* STATUS ICONS */
.KxAI_M9gWx3OnKSshHOs6,
.KxAI_M9gWx3OnKSshHOs6._1iRFj5lJrMqMnRb3GZYPSw,
.KxAI_M9gWx3OnKSshHOs6._368tz9TSOLGiG2mNMLScMz,
.KxAI_M9gWx3OnKSshHOs6._2oLqcfqHHKKAK0WfzjXMg_ {
  margin-top: 0 !important;
  margin-left: 0 !important;
  width: unset !important;
  height: var(--zehn-color-icon-medium) !important;
  line-height: var(--zehn-color-icon-medium) !important;
  display: flex !important;
  display: none !important;
}

.KxAI_M9gWx3OnKSshHOs6 .SVGIcon_VR,
.KxAI_M9gWx3OnKSshHOs6 .SVGIcon_MobilePhone,
.KxAI_M9gWx3OnKSshHOs6 .SVGIcon_BigPicture,
.KxAI_M9gWx3OnKSshHOs6 .SVGIcon_SteamDeck {
  /* NUKE THE SVGS */
  display: none !important;
}

.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_VR *,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_MobilePhone *,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_BigPicture *,
.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_SteamDeck * {
  fill: var(--zehn-color-status-ingame) !important;
}

.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_VR *,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_MobilePhone *,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_BigPicture *,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_SteamDeck * {
  fill: var(--zehn-color-status-online) !important;
}

.KxAI_M9gWx3OnKSshHOs6.ingame.awayOrSnooze .SVGIcon_VR *,
.KxAI_M9gWx3OnKSshHOs6.ingame.awayOrSnooze .SVGIcon_MobilePhone *,
.KxAI_M9gWx3OnKSshHOs6.ingame.awayOrSnooze .SVGIcon_BigPicture *,
.KxAI_M9gWx3OnKSshHOs6.ingame.awayOrSnooze .SVGIcon_SteamDeck * {
  fill: var(--zehn-color-status-away) !important;
}

.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_VR *,
.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_MobilePhone *,
.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_BigPicture *,
.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_SteamDeck * {
  fill: var(--zehn-color-status-away) !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .KxAI_M9gWx3OnKSshHOs6 .SVGIcon_VR *,
.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .KxAI_M9gWx3OnKSshHOs6 .SVGIcon_MobilePhone *,
.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .KxAI_M9gWx3OnKSshHOs6 .SVGIcon_BigPicture *,
.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .KxAI_M9gWx3OnKSshHOs6 .SVGIcon_SteamDeck * {
  fill: var(--zehn-color-status-disturb) !important;
}

.KxAI_M9gWx3OnKSshHOs6.ingame .SVGIcon_Button *,
.KxAI_M9gWx3OnKSshHOs6.online .SVGIcon_Button *,
.KxAI_M9gWx3OnKSshHOs6.ingame.awayOrSnooze .SVGIcon_Button *,
.KxAI_M9gWx3OnKSshHOs6.online.awayOrSnooze .SVGIcon_Button * {
  fill: transparent !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) .KxAI_M9gWx3OnKSshHOs6 .SVGIcon_Button * {
  fill: var(--zehn-color-status-disturb) !important;
}

/* STATUS CONTEXT CHEVRON */
.ContextMenuButton {
  width: 32px !important;
  height: 32px !important;
}

.ContextMenuButton .SVGIcon_DownArrowContextMenu {
  margin: 0 !important;
  padding: 0 !important;
}

:not(.friendInviteContainer) .ingame .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  fill: transparent !important;
}

:not(.friendInviteContainer) .online .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  fill: transparent !important;
}

:not(.friendInviteContainer) .offline .ContextMenuButton .SVGIcon_DownArrowContextMenu {
  fill: transparent !important;
}

/* STATUS LINE */
.ingame ._3xUpb5DWXPFNcHHIcv-9pe {
  background: var(--zehn-color-status-ingame) !important;
}

.online ._3xUpb5DWXPFNcHHIcv-9pe {
  background: var(--zehn-color-status-online) !important;
}

.awayOrSnooze ._3xUpb5DWXPFNcHHIcv-9pe {
  background: var(--zehn-color-status-away) !important;
}

.AvatarAndUser:has(._3IswZMeeD6ORStUjgv6Xh8) ._3xUpb5DWXPFNcHHIcv-9pe {
  background: var(--zehn-color-status-disturb) !important;
}

.offline ._3xUpb5DWXPFNcHHIcv-9pe {
  background: var(--zehn-color-status-offline) !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* INDICATOR DOTS --------------------------------------------------------------------------------------------------- */

/* NEW INDICATOR */
._3O2gRFANfKKg3mYONXvlcL {
  background: transparent !important;
  left: unset !important;
  right: calc(50% - 12px) !important;
  bottom: unset !important;
  top: calc(50% - 12px) !important;
}

._3O2gRFANfKKg3mYONXvlcL .JRMFrrhowzfdWhJcPIMB1 {
  background-color: var(--zehn-color-accent-100) !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: var(--zehn-size-radius-circular) !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */











/* ZEHN BUTTONS ----------------------------------------------------------------------------------------------------- */

.zehnButton {
  position: relative;
  cursor: pointer;
  appearance: unset;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  -webkit-app-region: no-drag;
  pointer-events: all;
}

.zehnIcon {
  width: 100%;
  height: 100%;
  background-color: var(--zehn-color-icon-primary);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: var(--zehn-size-icon-md);
  margin: auto;
}

body:not(.WindowFocus) #zehnBackwardsWrapper svg,
body:not(.WindowFocus) #zehnForwardsWrapper svg {
  filter: var(--zehn-filter-unfocus) !important;
}

body:not(.WindowFocus) #zehnToggleNavigation .zehnIcon {
  filter: var(--zehn-filter-unfocus) !important;
}

#zehnToggleNavigation .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-navigation);
}

#zehnToggleSidebarSearch::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: none;
  position: absolute;
}

.zehnToggled#zehnToggleSidebarSearch::after {
  display: block;
}

#zehnToggleSidebarSearch .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-search);
}

#zehnToggleTheaterMode .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-theater-mode-disabled);
}

.zehnToggled#zehnToggleTheaterMode .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-theater-mode-enabled);
}

body:not(.WindowFocus) #zehnToggleTheaterMode .zehnIcon {
  filter: var(--zehn-filter-unfocus);
}

#zehnToggleFriendsHeader .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-navigation);
}

body:not(.WindowFocus) #zehnToggleFriendsHeader .zehnIcon {
  filter: var(--zehn-filter-unfocus);
}

#zehnToggleUser .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-profile);
}

#zehnToggleUser.zehnToggled::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: block;
  position: absolute;
}

.zehnToggleDetails.zehnToggled::after,
.zehnToggleCommunity.zehnToggled::after,
.zehnToggleActivity.zehnToggled::after {
  content: "";
  display: block;
  position: absolute;
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
}

.zehnToggleDetails .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-graph);
}

.zehnToggleCommunity .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-picture);
}

.zehnToggleActivity .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-event);
}

._2Dd4T78PcCTUVgOtDGFY5j:not(.zehnWithActivity) .zehnToggleActivity,
._2Dd4T78PcCTUVgOtDGFY5j:not(.zehnWithCommunity) .zehnToggleCommunity,
._2Dd4T78PcCTUVgOtDGFY5j:not(.zehnWithDetails) .zehnToggleDetails {
  background-color: var(--zehn-color-button-app-background-disabled) !important;
  pointer-events: none !important;

  &.zehnReveal::before {
    opacity: 0;
  }

  .zehnIcon {
    background-color: var(--zehn-color-button-app-icon-disabled) !important;
  }
}

#zehnToggleWhatsNew .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-chevron-down);
}

#zehnToggleWhatsNew.zehnToggled .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-chevron-up);
}

.zehnToggleChannelList {
  order: 80;
}

.zehnToggleSettingsButtons {
  order: 70;
}

.zehnToggleChannelList::after,
.zehnToggleSettingsButtons::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: none;
  position: absolute;
}

.zehnToggled.zehnToggleChannelList::after,
.zehnToggled.zehnToggleSettingsButtons::after {
  display: block;
}

.zehnToggleChannelList .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-channels);
}

.zehnToggleSettingsButtons .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-more);
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* DIALOG ---------------------------------------------------------------------------------------------------------- */

.DialogContent {
  padding: 0 !important;
}

.DialogContent,
.DialogContentTransition {
  background: transparent !important;
}

@media (prefers-contrast: more) {
  .DialogContent,
  .DialogContentTransition {
    background: transparent !important;
  }
}

.ModalDialogPopup .DialogContent,
.ModalOverlayContent .DialogContent {
  padding-top: 0 !important;
}

.ModalDialogPopup:has(.TitleBar) .DialogContent,
.ModalOverlayContent:has(.ModalPosition_Dismiss) .DialogContent,
.ModalOverlayContent:has(.DialogHeader) .DialogContent {
  padding-top: var(--zehn-size-titlebar) !important;
}

.ModalDialogPopup:has(.TitleBar) .DialogContentTransition.ZjHHXZlnZhCahNrBFplWc .DialogContent {
  /* OVERLAY CONTROLLER SETTINGS */
  padding-top: var(--zehn-size-padding-md) !important;
}

/* NOTES PAGED */
.ModalDialogPopup .DialogContent:has(._3Sf_ShCtdfWp5P04k2cIgp) {
  padding-top: 0 !important;
}

.DialogContent_InnerWidth {
  padding: 0 !important;
  margin: 0 !important;
  /* overflow: visible !important; */
  /* BREAKING ADD NON-STEAM GAME */
}

/* STEAM CLOUD CONFLICT HAS NO WINDOW CONTROLS */
.DialogContent_InnerWidth:not(._3Sf_ShCtdfWp5P04k2cIgp):has(._2iPYW8hgDS1bbDGnczOHaF) {
  padding: 0 !important;
}

/* DIALOG SPACING TO FIX SCROLLBAR POS */
.DialogContent._DialogLayout.GenericConfirmDialog._DialogCenterVertically .DialogContent_InnerWidth {
  min-height: fit-content !important;
}

.ModalDialogPopup .DialogContent_InnerWidth {
  gap: var(--zehn-size-spacing-md) !important;
  /* min-height: fit-content !important; */
  overflow: hidden !important;
}

.ModalDialogPopup .PopupFullWindow .DialogContent_InnerWidth {
  max-width: 100% !important;
}

.ModalDialogPopup:has(.PageListColumn) .DialogContentTransition .DialogContent_InnerWidth .DialogBody>* {
  /* LIMIT WIDTH FOR SETTINGS */
  max-width: var(--zehn-size-settings-content) !important;
  flex-wrap: wrap !important;
}

.ModalDialogPopup:has(.xSTLmzylFJdIfak7ZdhuA) .DialogContentTransition .DialogContent_InnerWidth .DialogBody>* {
  /* LIMIT WIDTH FOR CHAT SETTINGS */
  max-width: var(--zehn-size-settings-content) !important;
  flex-wrap: wrap !important;
}

.DialogContent_InnerWidth>form {
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-shrink: 0 !important;
  flex-direction: column !important;
  padding: var(--zehn-size-padding-md) 0 !important;
  /* INNER WIDTH */
  /*max-height: fit-content !important;*/
  /*min-height: fit-content !important;*/
}

.DialogContent_InnerWidth>.DialogHeader {
  padding-top: 16px !important;
  /* INNER WIDTH */
}

.DialogContent_InnerWidth>form>.Panel {
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

.DialogContent._3mgb-3_dHk3POEOVOh0Dvp .DialogBody {
  /* OVERLAY CONTROLLER SETTINGS BECAUSE DIALOG CONTENT HAS PADDING */
  padding: 0 !important;
}

.DialogBody {
  padding: 0 var(--zehn-size-padding-md) !important;
  margin: 0 !important;
}

.DialogBody>.DialogBody {
  /* DOUBLE DIALOG !!!!! */
  padding: 0 !important;
}

.ModalDialogPopup .DialogContentTransition .DialogBody {
  box-sizing: border-box !important;
  padding-right: 16px !important;
}

.DialogBody.Panel {
  gap: var(--zehn-size-spacing-md) !important;
}

.roleList .DialogBody {
  gap: 0 !important;
  padding: 0 !important;
}

.ModalDialogPopup .DialogInnerBody {
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
}

/* HEADER NOT ON SETTINGS - MAKE IT GO IN THE TITLEBAR */
.DialogContent:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogHeader {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  padding: var(--zehn-size-titlebar-text-padding) !important;
  line-height: var(--zehn-size-titlebar) !important;
  color: var(--zehn-color-text-page-title) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-page-title) !important;
  margin-bottom: 0 !important;
  display: flex !important;
  flex-direction: row !important;
}

.DialogContent:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogHeader .DialogHeaderSubtitle {
  color: var(--zehn-color-text-primary) !important;
  font-size: var(--zehn-size-text-page-title) !important;
}

.DialogContent:not(.CFTLX2wIKOK3hNV-fS7_V) .DialogHeader .DialogHeaderSubtitle::before {
  content: "\00a0-\00a0" !important;
}

/* TITLES */
.DialogHeader {
  color: var(--zehn-color-text-page-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-page-header) !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  line-height: 32px !important;
  padding: 0 var(--zehn-size-padding-md) !important;
}

.DialogHeader:has(button) {
  gap: var(--zehn-size-spacing-md) !important;
}

.DialogHeaderSubtitle {
  color: var(--zehn-color-text-section-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-section-header) !important;
}

.DialogHighlight {
  color: var(--zehn-color-accent-100) !important;
}

.DialogSubHeader {
  color: var(--zehn-color-text-section-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-section-header) !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  margin-right: 0 !important;
}

.DialogSubHeader:empty {
  display: none !important;
}

/* SUBTITLES */
.DialogLabel,
.DialogLabelStrong {
  color: var(--zehn-color-text-control) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
  text-transform: none !important;
  margin: 0 !important;
}

label>.DialogLabel {
  line-height: 32px !important;
}

/* TEXT */
.DialogBody {
  color: var(--zehn-color-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-body) !important;
  gap: var(--zehn-size-spacing-md) !important;
}

.DialogBodyText {
  line-height: normal !important;
  color: var(--zehn-color-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-body) !important;
  margin: 0 !important;
}

.DialogToggle_Label {
  color: var(--zehn-color-text-control) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-control) !important;
  line-height: normal !important;
  align-self: left !important;
}

.Disabled .DialogToggle_Label {
  color: var(--zehn-color-text-control-disabled) !important;
}

.DialogToggle_Description {
  color: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-description) !important;
  padding: 0 !important;
  line-height: normal !important;
  align-self: left !important;
}

.DialogRequirementLabel {
  color: var(--zehn-color-accent-100) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
  padding: 0 !important;
  line-height: var(--zehn-size-24) !important;
}

.DialogInputRequirementLabel {
  color: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-description) !important;
  line-height: var(--zehn-size-24) !important;
  margin-left: var(--zehn-size-spacing-xs) !important;
}

.DialogRequirementLabel label {
  min-width: 100% !important;
}

/* CONTROLS */
.DialogContent .DialogControlsSection {
  display: flex !important;
  flex-direction: column !important;
  gap: var(--zehn-size-spacing-md) !important;
}

.DialogControlsSection:empty {
  display: none !important;
}

.DialogContent .DialogControlsSection:not(:first-child),
.DialogContent .DialogControlsSectionHeader:not(:first-child),
.DialogContent .DialogHeader:not(:first-child),
.DialogContent .DialogSubHeader:not(:first-child) {
  margin-top: 0 !important;
}

.DialogControlsSection:not(:last-child) {
  margin-bottom: 0 !important;
}

.DialogControlsSectionHeader:not(:last-child) {
  margin-bottom: 0 !important;
}

/* CONTROLS SUBSECTIONS */
.DialogContent .DialogControlsSection>.Panel {
  max-width: 100% !important;
}

.DialogContent .DialogControlsSection>.Panel:not(._1ml4SNc3LIyBDHIf8ekVSw) {
  gap: var(--zehn-size-spacing-xs) var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

/* CONTROLS FOUND IN GAME */
.DialogContent .DialogControlsSection>div:empty {
  display: none !important;
}

.DialogContent .DialogControlsSection>div {
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

/* ERROR */
.ErrorBoundary {
  margin: 0 !important;
  background-color: transparent !important;
  font-size: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: var(--zehn-size-padding-xl) !important;
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

.ErrorBoundary>h1 {
  font-size: var(--zehn-size-20) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
}

.ErrorBoundary>pre {
  font-size: var(--zehn-size-16) !important;
  color: var(--zehn-color-text-secondary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0 !important;
  opacity: 1 !important;
  white-space: pre-wrap !important;
}

/* DELETE CONFIRMATION */
.DialogContent_InnerWidth>.DialogBodyText {
  padding: 0 var(--zehn-size-padding-md) !important;
}

/* ABOUT STEAM */
.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E .DialogContent_InnerWidth {
  padding: 0 !important;
  align-self: flex-start !important;
}

.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E ._32eeZuly3nnz3cMXdSgyj9 {
  padding-top: var(--zehn-size-padding-md) !important;
}

.FFIKUQ7BGKw6vO1voazlr.yXl6Aog783PLUFn-IiX7E .Tz7ae7SsFpdVaMYJhMCpc {
  padding: 0 !important;
  display: none !important;
}

/* MARK AS PRIVATE */
.DialogHeader>div:has(svg) {
  width: 16px !important;
  height: 32px !important;
  margin-inline-end: 16px !important;
  display: none !important;
}

/* FOOTER */
.DialogFooter {
  padding: 0 var(--zehn-size-padding-md) !important;
  margin: auto 0 0 0 !important;
  gap: var(--zehn-size-spacing-md) !important;
  color: var(--zehn-color-text-primary) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

.DialogBody>.DialogFooter {
  /* INSTALL DIALOG ??? */
  padding: 0 !important;
}

.DialogContent_InnerWidth>.DialogFooter {
  /* FOOTERS DIRECTLY UNDER AN INNER WIDTH THAT NEED THE PADDING */
  padding: 0 var(--zehn-size-padding-md) var(--zehn-size-padding-md) var(--zehn-size-padding-md) !important;
}

.DialogContent_InnerWidth>form .DialogBody .DialogFooter {
  /* ??????????????????????????? */
  padding: 0 !important;
}

.DialogFooter .DialogButton {
  margin: 0 !important;
}

.DialogFooter ._DialogLayout.DialogButton {
  /* MAKE FOOTER BUTTONS FULL WIDTH */
  max-width: none !important;
}

/* CONFIRM DIALOG */
.GenericConfirmDialog {
  min-height: fit-content !important;
  max-height: none !important;
}

.GenericConfirmDialog._DialogCenterVertically {
  justify-content: center !important;
}

.GenericConfirmDialog .DialogFooter {
  padding: 0 var(--zehn-size-padding-md) !important;
}

.GenericConfirmDialog .DialogFooter ._DialogColLayout {
  min-width: 100% !important;
}

.GenericConfirmDialog .DialogFooter .DialogButton {
  /* MAKE FOOTER BUTTONS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog._DialogCenterVertically .DialogFooter .DialogButton {
  /* flex: unset !important; */
  /* NOT SURE WHAT WE HAD THIS SET FOR BUT I MAY DOCU HERE, WAS CONFLICTING WITH EXIT, PROPERTIES DIALOGS */
}

.GenericConfirmDialog ._DialogLayout:not(.DialogButton) {
  /* MAKE INPUTS FULL WIDTH */
  flex: 1 !important;
  max-width: none !important;
}

.GenericConfirmDialog .DialogInput_Wrapper>input.DialogInput {
  min-width: 100% !important;
  box-sizing: border-box !important;
}

.GenericConfirmDialog .DialogInput_Wrapper {
  max-height: var(--zehn-size-input-dialog) !important;
  min-height: var(--zehn-size-input-dialog) !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

/* DIALOG COLUMNS */
._DialogColLayout {
  gap: var(--zehn-size-spacing-button) !important;
  justify-content: center !important;
  flex-flow: row !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

._DialogColLayout.DialogThreeColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

._DialogColLayout.DialogTwoColLayout {
  gap: var(--zehn-size-spacing-button) !important;
}

/* DIALOG LAYOUT */
._DialogLayout.DialogButton {
  /* FOR DIALOG BUTTONS */
  max-width: fit-content !important;
  min-width: fit-content !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */