/* SCREENSHOTS ------------------------------------------------------------------------------------------------------ */


/* BUTTON */
._1nzUL597mwaqNlTir25Tbf {
  gap: var(--zehn-size-spacing-md) !important;
}















/* SCREENSHOT GRID */


._13LoHE22iGo7eWHNFp5f9L {
  background-color: var(--zehn-color-placeholder) !important;
  animation: none !important;
}

/* ERROR */
._3bYsZ12RSAS2LSTT4JVety {
  border: unset !important;
}

.bmW397RyVAM0X6kowJcO1 {}

/* EXPLAINER BOX */
.QFVXM_1rWs04OyJDUaCom {
  border-radius: var(--zehn-size-radius-none) !important;
  background-color: transparent !important;
}

.QFVXM_1rWs04OyJDUaCom ._1yTI8Tgt40Qr-TGHTgv2Pr {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-24) !important;
}

.QFVXM_1rWs04OyJDUaCom ._1yTI8Tgt40Qr-TGHTgv2Pr ._1IqRO2Wvm5hGR3L_Y2x_r1 {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-24) !important;
}

._2RIxgk6PCmDgWS3jq9zigE {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

._3bqJjSW-9aJRlQejFL9lqs {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-thickest) !important;
  font-size: var(--zehn-size-24) !important;
  border-radius: var(--zehn-size-radius-none) !important;
  border: var(--zehn-size-border) solid var(--zehn-color-icon1) !important;
}

/* FOCUSED BOX */
._3aynTMg-fZH1PpSAzSVq2u {
  border-radius: var(--zehn-size-radius-none) !important;
  background-color: transparent !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

._2X6Uf9dpYzWmrq3hGfefrI {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

._2X6Uf9dpYzWmrq3hGfefrI.QE3sHW9puNTAjiRDY71Xy {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
}

._3qaqEMdxuioe_cF3lO5Scs ._3FW0zOOxCBqJGPav1c8hWf {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-thickmost) !important;
  font-size: var(--zehn-size-24) !important;
}

._3qaqEMdxuioe_cF3lO5Scs ._3FW0zOOxCBqJGPav1c8hWf,
._3qaqEMdxuioe_cF3lO5Scs ._3mULD4eVmgqeJry1G4l8wV,
._3qaqEMdxuioe_cF3lO5Scs ._2jHpoK6XDXAeYSeRGQl3FC {
  background: var(--zehn-color-dialog) !important;
  border: 4px solid var(--zehn-color-icon1) !important;
}

/* DELETE BUTTON */
._1FaE__8e7uOOrdQ4nQDByO ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t svg {
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-delete) !important;
}

/* SHOW ON DISK BUTTON */
._1FaE__8e7uOOrdQ4nQDByO ._28eIRmQ229ntDIyQXTn3Ub._1qOXVgKq89avM0v873Oo9t:has(.OshLau78NSt9yYd3ifber[viewBox="0 0 26 24"]) svg {
  -webkit-mask-image: var(--zehn-icon-folder) !important;
}

/* UPLOAD PROGRESS */
.m1-1F-uygFDU5cdXSV1Jz {
  gap: 4px !important;
  margin-top: auto !important;
  height: 32px !important;
}

.m1-1F-uygFDU5cdXSV1Jz ._1qABO0SwwMTGrwO3UvqE-g {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  letter-spacing: normal !important;
}

.xgdATZWePJFXYrEbin8y9 {
  height: var(--zehn-size-progressbar-thin) !important;
}

.xgdATZWePJFXYrEbin8y9 ._10hh85J75faHJ8ChhjlzLl {
  background-color: var(--zehn-color-progress-empty) !important;
}

.xgdATZWePJFXYrEbin8y9 ._10hh85J75faHJ8ChhjlzLl,
.xgdATZWePJFXYrEbin8y9 ._2Kwx2_3UQZVDF9eWFVuk06 {
  height: var(--zehn-size-progressbar-thin) !important;
  border-radius: var(--zehn-size-radius-none) !important;
}

.xgdATZWePJFXYrEbin8y9 ._2Kwx2_3UQZVDF9eWFVuk06 {
  background-color: var(--zehn-color-progress-filled) !important;
}




















/* DROPDOWN THING */
._2DtohYf4FRj6XV_d3HSdw5 {
  display: none !important;
}












/* MARKER CONTROLS */
._3jHmRggQqzWvB1s6lKwCOG {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
}

._3dKsXj_Ka7VMoXWPwlKrxc:has(._2AkpJqt7oh9v0PNxn4G-um) ._1Eiyfh3SokmjxVJMkxkejX,
._3dKsXj_Ka7VMoXWPwlKrxc:has(._2AkpJqt7oh9v0PNxn4G-um) ._3jHmRggQqzWvB1s6lKwCOG {
  top: -48px !important;
}

/* SHARE CONTROLS */
._1Eiyfh3SokmjxVJMkxkejX {
  right: 0px !important;
  top: 32px !important;
  position: absolute !important;
}

.lcOTPSjzoMa0rZHjVcyOW {
  margin: 0px !important;
  gap: var(--zehn-size-dialog-padding) !important;
}

.lcOTPSjzoMa0rZHjVcyOW ._1oTUGhp_AxqdTrXofcSSzw {
  gap: var(--zehn-size-spacing-button) !important;
}

/* TIMELINE */
.GameOverlayPlayer .TimelineAndControls ._3jHmRggQqzWvB1s6lKwCOG>.tool-tip-source:first-child {
  position: absolute !important;
  z-index: 100 !important;
  top: 0px !important;
}



.XrJofUthOAZ7wCkD_C2fE {
  height: var(--zehn-size-media-controlbar) !important;
}

._2eSQSp9u7_VDUDrCG4V-tL {
  margin: 0 8px !important;
  height: var(--zehn-size-media-controlbar) !important;
  display: block !important;
  overflow: visible !important;
  box-sizing: border-box !important;
}

/* TIMECODE */
.yKkEdOaMbZp-VZrZSxce0 {
  order: 1 !important;
  position: absolute !important;
  bottom: 0px !important;
  left: 240px !important;
  right: 48px !important;
  pointer-events: none !important;
}

._2aFXTdFAuB6AG0djmC0Tgs {
  text-align: center !important;
  gap: unset !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text1) !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: 0px !important;
  line-height: var(--zehn-size-media-controlbar) !important;
  height: var(--zehn-size-media-controlbar) !important;
  display: flex !important;
}

.yKkEdOaMbZp-VZrZSxce0:has(._3NpnL-zVjl5f2Th32M5WZF) {
  display: block !important;
}

._2aFXTdFAuB6AG0djmC0Tgs._3NpnL-zVjl5f2Th32M5WZF {
  width: 32px !important;
  /* overflow: hidden !important; */
  margin: 0 16px !important;
  text-overflow: clip !important;
  white-space: break-spaces !important;
}

._2aFXTdFAuB6AG0djmC0Tgs._3NpnL-zVjl5f2Th32M5WZF::after {
  content: "--:--" !important;
  right: 0px !important;
  position: absolute !important;
  width: 32px !important;
  margin: 0 16px !important;
}

._3NpnL-zVjl5f2Th32M5WZF {
  margin-right: 0px !important;
}

.TimelineAndControls.Medium ._2aFXTdFAuB6AG0djmC0Tgs {
  margin-right: 0px !important;
}

._2aFXTdFAuB6AG0djmC0Tgs span {
  min-width: 64px !important;
}

._2aFXTdFAuB6AG0djmC0Tgs ._1tHdnwPDwf9Ruy_aBd5ueC {
  color: var(--zehn-color-text1) !important;
  display: none !important;
}

._1Lw1RyNuUFHYeEs1prUsb {
  gap: 0px !important;
}

._1Lw1RyNuUFHYeEs1prUsb ._3LKXbgHqn9M36sqAUW7zeJ {
  color: var(--zehn-color-text1) !important;
}

.l34uS1smnaBbrLoRdh2VX {
  margin-top: 0px !important;
  display: none !important;
}

/* TIMELINE RECORDINGS */
._24zNSxRiQlHxbGT_RvZsoY {
  height: var(--zehn-size-timeline) !important;
  /* background: var(--zehn-color-timeline-filled) !important; */
  background: transparent !important;
}

._24zNSxRiQlHxbGT_RvZsoY._3Q-H1_vR-NtTfQf_Ohljdx:not(._7MCqjcHde47TGpwTMEK5),
._24zNSxRiQlHxbGT_RvZsoY._1kfoF8deRCDIcTe5l3oplt:not(._7MCqjcHde47TGpwTMEK5),
._24zNSxRiQlHxbGT_RvZsoY:not(._3Q-H1_vR-NtTfQf_Ohljdx) {
  /* background: var(--zehn-color-timeline-filled) !important; */
  background: transparent !important;
  bottom: 0px !important;
}

.NBc0PgdECgNGHybXMXgOp {
  top: calc(24px - 1px) !important;
  bottom: unset !important;
  height: var(--zehn-size-timeline) !important;
  z-index: 10 !important;
}

/* TIMELINE CLIPS */
.YBRVEhywfTRwb_vT9HdnU {
  bottom: calc(24px - 1px) !important;
  height: var(--zehn-size-timeline) !important;
  top: unset !important;
}

._3EWp_eWXsvKB-Lwz-Afl0S {
  height: var(--zehn-size-timeline) !important;
  /* background: var(--zehn-color-timeline-filled) !important; */
  background: transparent !important;
}

._2AtQdZFU-mOGE-_3SuQKkw {
  max-height: 48px !important;
}

._2AtQdZFU-mOGE-_3SuQKkw svg {
  transition: none !important;
}

/* TIMELINE GAME MODES */
._2X0XBzWywYh06tLOpEVVhV._3tV_P5UlKOy23ovyof9BCG {
  background: transparent !important;
}

._2X0XBzWywYh06tLOpEVVhV {
  opacity: 1 !important;
  height: var(--zehn-size-timeline) !important;
}

._3vfGkbTjXUzSwr6b-v42JO {
  bottom: calc(24px - 1px) !important;
  height: var(--zehn-size-timeline) !important;
  top: unset !important;
}

._XZRbjOovnp3-oJB1FHsX {
  height: var(--zehn-size-timeline) !important;
  opacity: 1 !important;
}

._XZRbjOovnp3-oJB1FHsX._3tV_P5UlKOy23ovyof9BCG {
  /* background: var(--zehn-color-timeline-empty) !important; */
  background: transparent !important;
}

/* TIMELINE DATE */
.gAhqB_Mx8V-7QYnzQP1eo:not(:hover) .xYXziACgvkSwOnjGsjrll {
  opacity: 0 !important;
}

.xYXziACgvkSwOnjGsjrll {
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;
  line-height: 24px !important;
  opacity: 1 !important;
  height: fit-content;
  padding: 0px !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  letter-spacing: normal !important;
  /* bottom: calc(24px + 1px) !important; */
  top: 0px !important;
  height: 24px !important;
  transition: opacity 0.25s var(--zehn-timing-ease) !important;
}

#date_decorators,
.kakzXn3creKWdal1etpku {
  height: 24px !important;
  bottom: 24px !important;
  margin: 0 -8px !important;
}

/* TIMELINE TICKS */
#ticks,
._3bRgOtndRhCrJpwTzd0Oim {
  display: none !important;
}

._3bRgOtndRhCrJpwTzd0Oim {
  top: unset !important;
  bottom: calc(24px - 3px) !important;
  height: var(--zehn-size-timeline) !important;
}

._18sxaBKg910kJmmJS3zaaE {
  background-color: transparent !important;
  height: var(--zehn-size-timeline) !important;
  bottom: 2px !important;
}

.faIAh3Zzg4MdulktB1IFo {
  top: unset !important;
}

.faIAh3Zzg4MdulktB1IFo .iLLznzt7Npcsc-y_9tyCc.walQuMqIA1KE3_0tchqYj {
  background-color: var(--zehn-color-icon1) !important;
  width: 1px !important;
  height: var(--zehn-size-timeline) !important;
}

.faIAh3Zzg4MdulktB1IFo .iLLznzt7Npcsc-y_9tyCc {
  margin-top: 0px !important;
}

.faIAh3Zzg4MdulktB1IFo .iLLznzt7Npcsc-y_9tyCc._2I5yeKjfnjaPmRNIpHUrl1 {
  background-color: var(--zehn-color-icon1) !important;
  width: 1px !important;
  height: var(--zehn-size-timeline) !important;
}

/* TIMELINE OTHER */
._1t81JirfhcUdp7F73SUzQF {
  position: absolute !important;
  z-index: 100 !important;
}

/* TIMELINE HIGHLIGHTS */
.LzHSWmJHomqtU-jTSLDEG {
  /* bottom: 32px !important;
  height: 16px !important; */
}

.KxkV7ibv4HxiLzsJDo09y {
  gap: var(--zehn-size-spacing-md) !important;
  width: 6px !important;
}

._1Dg_c4LTkbyiG_03VDAsQE {
  width: 6px !important;
  height: 6px !important;
  position: absolute !important;
  top: 8px !important;
}

._3G-TED_y5JFy9DHiymK5Cn._3rt1qClyPaHAYiVwOSu9Xz {
  opacity: 1 !important;
}

._3rt1qClyPaHAYiVwOSu9Xz {
  color: var(--zehn-color-text1) !important;
  box-sizing: border-box !important;
  width: 6px !important;
  height: 6px !important;
  margin-top: 8px !important;
}

._2CNnKSqRD_9z5U0Knq2yjM {
  filter: none !important;
}

._3GP2Yb1IBiNxW79A0_H-Q1 {
  color: var(--zehn-color-text1) !important;
  background-color: var(--zehn-color-icon1) !important;
  filter: none !important;
  width: 6px !important;
  height: 6px !important;
  border-radius: var(--zehn-size-radius-circular) !important;
  transform: none !important;
}

._3F_GfwciLV6y6FOEIe3_S5 {
  color: var(--zehn-color-accent) !important;
}

._3rt1qClyPaHAYiVwOSu9Xz svg,
._3rt1qClyPaHAYiVwOSu9Xz img {
  box-sizing: border-box !important;
  background-color: transparent !important;
  box-sizing: border-box !important;
  width: 16px !important;
  height: 16px !important;
  filter: none !important;
  transition: none !important;
  opacity: 0 !important;
  display: none !important;
}

._2CNnKSqRD_9z5U0Knq2yjM svg:hover {
  transform: none !important;
}

._3rt1qClyPaHAYiVwOSu9Xz svg path {
  fill: none !important;
}

/* HIGHLIGHT MARK */
._2KKJRZF-_QAqfpR0e-20x6 {
  bottom: 0px !important;
}

._2KKJRZF-_QAqfpR0e-20x6 ._3JsMmXCkE-NhKNzxarPwuc {
  width: 2px !important;
  height: 16px !important;
  background: var(--zehn-color-icon1) !important;
  backdrop-filter: none !important;
  visibility: hidden !important;
}

/* RANGE SELECTION */
._3jnVEdXp155d_RQr3eZuyK {
  bottom: 0px !important;
  top: unset !important;
  z-index: 999 !important;
}

._3TsJzrPgtC5rqLcR6ihpFi {
  height: 16px !important;
  bottom: 16px !important;
}

._1xinhHBSWQ2oYszkzt2zrt {
  bottom: 0px !important;
}

._1SW3yTh55ykBnsHiBzIQFC {
  background-color: var(--zehn-color-timeline-selection) !important;
  backdrop-filter: none !important;
  opacity: 1 !important;
  height: 2px !important;
  margin-top: 7px !important;
}

._106ZAEQ05s5XGwxAQ4k_W6 {
  width: 16px !important;
  color: var(--zehn-color-timeline-selection) !important;
  top: 8px !important;
}

.DTarGRkLfmPhdBVfdlNIf {
  height: 22px !important;
  width: 16px !important;
  color: var(--zehn-color-timeline-selection) !important;
  background-color: transparent !important;
  filter: none !important;
  position: relative !important;
}

.DTarGRkLfmPhdBVfdlNIf::before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 100%;
  left: 7px;
  background-color: var(--zehn-color-timeline-selection);
}

.DTarGRkLfmPhdBVfdlNIf::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--zehn-color-timeline-selection);
  border-radius: var(--zehn-size-radius-circular);
  left: 2px;
  bottom: 0px;
}

.DTarGRkLfmPhdBVfdlNIf>svg {
  height: 100% !important;
  width: 2px !important;

  * { display: none !important; }
}

/* TIMELINE SEEK SCRUB */
#seek_scrub,
._3x48wiJyAtvabHFlW4HWuo {
  /* display: none !important; */
}

._3x48wiJyAtvabHFlW4HWuo {
  bottom: 0px !important;
}

._1NsKSV4XAmywc3NCkOdJEq {
  color: transparent !important;
  bottom: 16px !important;
  filter: none !important;
  height: 16px !important;

  * { display: none !important; }
}

._1NsKSV4XAmywc3NCkOdJEq {}

/* TIMELINE PLAY HEAD */
._3ckxIZyeOrSrQ775apezh2 {
  bottom: 0px !important;
  z-index: 100 !important;
  height: 16px !important;
  top: 16px !important;
}

._2RtcuI1Wk2JRTn39xig3OS {
  height: 16px !important;
  bottom: 0px !important;
  width: 320px !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R {
  filter: none !important;
  color: transparent !important;
}

.NAXFU_K2NP9xmH2cnITpG {
  bottom: unset !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG {
  background-color: transparent !important;
  border: var(--zehn-size-timeline-handle-border) solid var(--zehn-color-timeline-handle) !important;
  border-radius: var(--zehn-size-radius-circular) !important;
  width: var(--zehn-size-timeline-handle) !important;
  height: var(--zehn-size-timeline-handle) !important;
  margin: 0px !important;
  box-sizing: border-box !important;
  position: relative !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG::before {
  content: "" !important;
  position: absolute !important;
  background: var(--zehn-color-timeline-filled) !important;
  top: 5px !important;
  bottom: 5px !important;
  right: 14px !important;
  width: 9999vw !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG::after {
  content: "" !important;
  position: absolute !important;
  background: var(--zehn-color-timeline-empty) !important;
  top: 5px !important;
  bottom: 5px !important;
  left: 14px !important;
  width: 9999vw !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG:hover,
._2eSQSp9u7_VDUDrCG4V-tL:has(.recordings:hover) ._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG {
  border-color: var(--zehn-color-timeline-handle-hover) !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG:active,
._2eSQSp9u7_VDUDrCG4V-tL:has(.recordings:active) ._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG {
  border-color: var(--zehn-color-timeline-handle-active) !important;
}

._2RtcuI1Wk2JRTn39xig3OS ._1zm_aVI1mDMkbM_o1um30R .NAXFU_K2NP9xmH2cnITpG svg {
  display: none !important;
}













































/* USER MARKER CONTEXT */
._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT {
  justify-content: left !important;
  align-items: left !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

.JZCa05wXidmR0BEW4wKuT svg {
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  height: 16px !important;
  width: 16px !important;
}

.JZCa05wXidmR0BEW4wKuT.sMTceKd747vq8bsuL3OW9 svg {
  -webkit-mask-image: var(--zehn-icon-edit) !important;
}

.JZCa05wXidmR0BEW4wKuT._1xK5Up775-kzkarHJyaUSH svg {
  -webkit-mask-image: var(--zehn-icon-cut) !important;
}

.JZCa05wXidmR0BEW4wKuT._1HITbDUgqbAsnVISlw-IU4 svg {
  -webkit-mask-image: var(--zehn-icon-delete) !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT>svg {
  height: 16px !important;
  width: 16px !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT.sMTceKd747vq8bsuL3OW9 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT._1xK5Up775-kzkarHJyaUSH {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT._1HITbDUgqbAsnVISlw-IU4 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT._2HfiRMT1mpZZy-Op04_Vp5 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB .JZCa05wXidmR0BEW4wKuT._20E0pQUHwdjs6eM1Ow2GiS {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB:hover .sMTceKd747vq8bsuL3OW9,
._28S8ry9bxlwML-iCsdsuB.NjA0Fz51GxvZgm847KioJ .sMTceKd747vq8bsuL3OW9 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB:hover ._1xK5Up775-kzkarHJyaUSH,
._28S8ry9bxlwML-iCsdsuB.NjA0Fz51GxvZgm847KioJ ._1xK5Up775-kzkarHJyaUSH {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB:hover ._1HITbDUgqbAsnVISlw-IU4,
._28S8ry9bxlwML-iCsdsuB.NjA0Fz51GxvZgm847KioJ ._1HITbDUgqbAsnVISlw-IU4 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB:hover ._2HfiRMT1mpZZy-Op04_Vp5,
._28S8ry9bxlwML-iCsdsuB.NjA0Fz51GxvZgm847KioJ ._2HfiRMT1mpZZy-Op04_Vp5 {
  color: var(--zehn-color-text1) !important;
}

._28S8ry9bxlwML-iCsdsuB:hover ._20E0pQUHwdjs6eM1Ow2GiS,
._28S8ry9bxlwML-iCsdsuB.NjA0Fz51GxvZgm847KioJ ._20E0pQUHwdjs6eM1Ow2GiS {
  color: var(--zehn-color-text1) !important;
}

._2Sg7W8jsvFcXVuQ7fbhSLJ,
.Lc2PK-Vkkvr2TUS0TfCqq {
  color: var(--zehn-color-text1) !important;
}

/* PROBLEM LOADING SCREENSHOT */
._3xXvCbPSIbZttSKUFZbFe- {
  gap: var(--zehn-size-spacing-md) !important;
  background-color: var(--zehn-color-app) !important;
  color: var(--zehn-color-text1) !important;
}

._2-TkfP8JHEK9wNqWdVP3r0 ._3iAhag2pBeslSJb0ZxZqAm,
._1Rcrr7lch16ywlLssEXZEJ ._3iAhag2pBeslSJb0ZxZqAm {
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-16) !important;
}


._2-TkfP8JHEK9wNqWdVP3r0,
._1Rcrr7lch16ywlLssEXZEJ {
  height: 100% !important;
}

._3xXvCbPSIbZttSKUFZbFe- ._2xutONaQ6p-haa01lXlLeE {
  display: none !important;
}


/* ------------------------------------------------------------------------------------------------------------------ */










/* QR --------------------------------------------------------------------------------------------------------------- */

._19fcHLeCH4uLEoPEbxnEK1 .llc9Zyojn_34-VWsw17oJ ._1agi6QPRAv6ZFCydjzN9vD {
  padding: 0px !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */










/* DELETE CONFIRMATION ---------------------------------------------------------------------------------------------- */

._6em9hiNtkrdaHE8eVfq0P {
  width: 336px !important;
  margin-top: 0px !important;
  position: fixed;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  top: 50% !important;
  background: var(--zehn-color-dialog) !important;
  border-radius: var(--zehn-size-radius-none) !important;
  border: var(--zehn-size-border) solid var(--zehn-color-border) !important;
}

.WindowFocus ._6em9hiNtkrdaHE8eVfq0P {
  border: var(--zehn-size-border) solid var(--zehn-color-border-focus) !important;
}

._6em9hiNtkrdaHE8eVfq0P ._3IrJSwb9xCFvNXs0Niw1ux {
  top: 0px !important;
  width: 0px !important;
  height: 0px !important;
  background: transparent !important;
  transform: none !important;
  display: none !important;
}

._6em9hiNtkrdaHE8eVfq0P ._3rNlxr5aaFqX7p69DxArZn {
  padding: 16px !important;
  gap: var(--zehn-size-spacing-md) !important;
  display: flex !important;
  flex-direction: column !important;
}

._6em9hiNtkrdaHE8eVfq0P .YZrEIVJMwK_1XhBbqQ3fg {
  margin: 0px !important;
  line-height: normal !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

._2SbtjAWZJfmU34ANssADE5 {
  margin: 0px !important;
  line-height: normal !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

._6em9hiNtkrdaHE8eVfq0P ._365PZ8BVgd7sz6-xR9E9yb {
  line-height: normal !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
  gap: var(--zehn-size-spacing-button) !important;
}

._2tKJkAsyQx69lB2iUsIQaq {
  margin: 0px !important;
  white-space: wrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-style: italic !important;
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  animation: none !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */