/* APP IMPRESSION --------------------------------------------------------------------------------------------------- */

/* SALE PREVIEW */
._1xNQcxU9_OtQ-_PrMbviS4 {
  row-gap: var(--zehn-size-spacing-xs) !important;
  left: 0px !important;
  top: 0px !important;
  width: 100% !important;
}

._2gxv9cF-4n9wq4yxruOTNl {
  height: 32px !important;
  padding: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  line-height: 32px !important;
  place-content: center !important;
}

/* NOT QUITE SURE WHAT THIS IS BUT PUTTING IT AS ACRYLIC FOR NOW */
._2gxv9cF-4n9wq4yxruOTNl._2o-5t6bgEJxfbWVSmxT88V,
._2gxv9cF-4n9wq4yxruOTNl.salepreviewwidgets_Green_ {
  background-color: var(--zehn-color-acrylic) !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
  background-size: auto !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
}

._2gxv9cF-4n9wq4yxruOTNl ._3LecBjgbnwvS6bCFqxs6SC {
  margin-right: 4px !important;
  height: 10px !important;
  display: none !important;
}

._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj {
  border-radius: var(--zehn-size-radius-none) !important;
  background: transparent !important;
}

._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj:not(._3_q87LhuWitbYSEHOVKYlM) {
  background: transparent !important;
}

._2hhNOdcC6yLwL_rugP3YLf ._111nfdz8Xyg7lDjTWv_OmK {
  align-content: center !important;
}

._111nfdz8Xyg7lDjTWv_OmK {
  padding: 0px !important;
}

/* SALE PREVIEW INFO */
._2hhNOdcC6yLwL_rugP3YLf .v9uRg57bwOaPsvAnkXESO {
  gap: var(--zehn-size-spacing-xs) !important;
}

._2hhNOdcC6yLwL_rugP3YLf._37iggltdgh0RtNIECJCfOj {
  border-radius: var(--zehn-size-radius-none) !important;
}

.v9uRg57bwOaPsvAnkXESO {
  padding: 0px !important;
  margin-left: var(--zehn-size-spacing-md) !important;
}

._2ekpT6PjwtcFaT4jLQehUK {
  margin-top: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-24) !important;
  line-height: 32px !important;
}

._2ekpT6PjwtcFaT4jLQehUK:hover {
  text-decoration: none !important;
}

.AppSummaryWidgetCtn ._3wryhCRrTuMULeq_YjNk-s {
  display: flex !important;
  gap: var(--zehn-size-spacing-xs) !important;
  flex-direction: column !important;
}

._2bkP-3b7dvr0a_qPdZEfHY {
  height: fit-content !important;
  min-height: var(--zehn-size-tag) !important;
  margin-top: 0px !important;
  display: flex !important;
  flex-wrap: wrap !important;
  gap: var(--zehn-size-tag-gap) !important;
  margin: 0px !important;
}

a._33yqka47vWurNqhnhLJb_m.WidgetTag._3FJnZuxmPA_MjxsF8BQQ5L {
  margin: 0px !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: normal !important;
  align-content: center !important;
  border-radius: var(--zehn-size-tag-radius) !important;
  color: var(--zehn-color-tag-text) !important;
  background: var(--zehn-color-tag) !important;
  padding: var(--zehn-size-tag-padding) !important;
  font-size: var(--zehn-size-tag-text) !important;
  gap: var(--zehn-size-tag-gap) !important;
  height: var(--zehn-size-tag) !important;
  width: fit-content !important;
  box-sizing: border-box !important;
  position: relative !important;

  &:hover {
    background: var(--zehn-color-tag-hover) !important;
    color: var(--zehn-color-tag-text) !important;
  }

  &:active {
    background: var(--zehn-color-tag-active) !important;
    color: var(--zehn-color-tag-text) !important;
  }
}

._1qvTFgmehUzbdYM9cw0eS7 {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  margin-right: 8px !important;
  line-height: 24px !important;
}

._2bCf9u4rlC8De687HY6wnh {
  height: 24px !important;
  gap: 0px !important;
}

._2bCf9u4rlC8De687HY6wnh>span {
  width: 24px !important;
  height: 24px !important;
  margin: 4px !important;
}

._2bCf9u4rlC8De687HY6wnh svg {
  color: var(--zehn-color-icon1) !important;
  fill: var(--zehn-color-icon1) !important;
  width: 16px !important;
  height: 16px !important;
  margin: auto !important;
}

/* SALE PREVIEW BACKGROUND BLUR IMAGE */
._2oW_y7Mm3ihf1XQ0C1VWhx {
  background-color: transparent !important;
}

.v9uRg57bwOaPsvAnkXESO .MvLJDXjfbme8Uw3OERaCb img {
  filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  opacity: 0 !important;
}

/* SALE PREVIEW PRICE */
.kW6m4Sjqacp5hykrj5LEo {
  right: 0px !important;
  bottom: 16px !important;
  min-height: 32px !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  gap: 4px !important;
}

.kW6m4Sjqacp5hykrj5LEo ._1JuIpzMtS7-xZrnUmEQ4my {
  gap: 0px !important;
}

.yoe6d_43t3I6-mjbZGkLs {
  background-image: none !important;
  background-color: var(--zehn-color-list-background) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  line-height: 32px !important;
  height: 32px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  border-radius: var(--zehn-size-radius-none) !important;

  &:hover {
    background-color: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background-color: var(--zehn-color-list-background-active) !important;
  }
}

._3AsE5JhqLAiICKUYvZLpap {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  padding: 0px !important;
  line-height: normal !important;
  margin: 0px !important;
}

.AppSummaryWidgetCtn ._3AsE5JhqLAiICKUYvZLpap {
  /* display: -webkit-box !important; */
}

._2s-O5T3qJJYR2AUq4b9jIN ._2_KY_e11FV0ftXR2_7TMmP {
  text-transform: uppercase !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  background-color: var(--zehn-color-accent) !important;
  color: var(--zehn-color-text1) !important;
}

._3j4dI1yA7cRfCvK8h406OB {
  font-size: var(--zehn-size-14) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
  border-radius: var(--zehn-size-radius-none) !important;
}

._2s-O5T3qJJYR2AUq4b9jIN._2xCT1pUf2c9TICHoMcQE0d ._3j4dI1yA7cRfCvK8h406OB {
  background: transparent !important;
}

._2s-O5T3qJJYR2AUq4b9jIN.StoreSalePriceWidgetContainer {
  height: 32px !important;
  min-width: fit-content !important;
  z-index: -1 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background: var(--zehn-color-accent-50) !important;
}

._2s-O5T3qJJYR2AUq4b9jIN.StoreSalePriceWidgetContainer._1g0B-RjwkUV0_MDURgy3Bi {
  background: var(--zehn-color-accent-50) !important;
}

._2hhNOdcC6yLwL_rugP3YLf .cnkoFkzVCby40gJ0jGGS4 {
  font-size: var(--zehn-size-24) !important;
  padding: 0px var(--zehn-size-padding-md) !important;
}

.cnkoFkzVCby40gJ0jGGS4 {
  line-height: 32px !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  background: transparent !important;
}

._3fFFsvII7Y2KXNLDk_krOW {
  margin: 0px !important;
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  line-height: 12px !important;
}

._3fFFsvII7Y2KXNLDk_krOW::before {
  border-bottom: 1px solid var(--zehn-color-text3) !important;
}

._1g0B-RjwkUV0_MDURgy3Bi ._3j4dI1yA7cRfCvK8h406OB {
  color: var(--zehn-color-accent) !important;
}

._3NhLu7mTdty7JufpSpz6Re {
  padding: 0px var(--zehn-size-padding-md) !important;
}

._3NhLu7mTdty7JufpSpz6Re ._3j4dI1yA7cRfCvK8h406OB {
  font-size: var(--zehn-size-16) !important;
  line-height: 16px !important;
}

._3NhLu7mTdty7JufpSpz6Re ._3j4dI1yA7cRfCvK8h406OB {
  padding: 0px !important;
}

/* WISHLIST HOVER BUTTON */
.v9uRg57bwOaPsvAnkXESO .WishlistButton,
._2hhNOdcC6yLwL_rugP3YLf .WishlistButton {
  top: 0px !important;
  right: 0px !important;
  display: flex !important;
  margin: 0px !important;
  padding: var(--zehn-size-padding-xs) var(--zehn-size-padding-md) !important;
  height: 24px !important;
  line-height: 24px !important;
  border: unset !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  gap: var(--zehn-size-spacing-xs) !important;
  background: var(--zehn-color-control-background) !important;
  border: var(--zehn-size-control-border) solid var(--zehn-color-control-border) !important;
  border-radius: var(--zehn-size-control-radius) !important;
  transition: background-color 0.2s var(--zehn-timing-ease), transform 0.2s var(--zehn-timing-ease-in-quad), opacity 0.2s var(--zehn-timing-ease-in-quad) !important;
  transform: scale(0.5) !important;
  opacity: 0 !important;

  &:hover {
    background-color: var(--zehn-color-control-background-hover) !important;
  }
}

.v9uRg57bwOaPsvAnkXESO:hover .WishlistButton,
._2hhNOdcC6yLwL_rugP3YLf:hover .WishlistButton {
  transition: background-color 0.2s var(--zehn-timing-ease), transform 0.2s var(--zehn-timing-ease-out-quad), opacity 0.2s var(--zehn-timing-ease-out-quad) !important;
  transform: scale(1) !important;
  opacity: 1 !important;
}

._3FAid_cwwxW8-9Sp6pSPqS svg {
  width: 24px !important;
  height: 24px !important;
  padding: 0px !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-favorite) !important;

  &[fill="currentColor"] {
    -webkit-mask-image: var(--zehn-icon-favorite-solid) !important;
  }

  * { display: none !important; }
}

._3FAid_cwwxW8-9Sp6pSPqS:hover svg {
  -webkit-mask-image: var(--zehn-icon-favorite-solid) !important;

  &[fill="currentColor"] {
    -webkit-mask-image: var(--zehn-icon-favorite) !important;
  }
}

html.touch ._3FAid_cwwxW8-9Sp6pSPqS ._2GqXfP0dBAJl9ozuBV3Jqh,
._3FAid_cwwxW8-9Sp6pSPqS:hover ._2GqXfP0dBAJl9ozuBV3Jqh,
._3FAid_cwwxW8-9Sp6pSPqS ._2GqXfP0dBAJl9ozuBV3Jqh {
  font-size: var(--zehn-size-14) !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  padding: 0px !important;
  width: fit-content !important;
  height: 100% !important;
  transition: none !important;
  opacity: 1 !important;
}

._3notzMjxQtogi11XHZMYXI {
  right: var(--zehn-size-spacing-md) !important;
  top: var(--zehn-size-spacing-md) !important;
}

._3notzMjxQtogi11XHZMYXI svg {
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

._3notzMjxQtogi11XHZMYXI .VI5mZtnq0CL7fw_2mxhfm {
  padding: 0px !important;
}

._3notzMjxQtogi11XHZMYXI .VI5mZtnq0CL7fw_2mxhfm,
html.touch ._3notzMjxQtogi11XHZMYXI .VI5mZtnq0CL7fw_2mxhfm,
._3notzMjxQtogi11XHZMYXI:hover .VI5mZtnq0CL7fw_2mxhfm {
  padding-right: var(--zehn-size-padding-md) !important;
  color: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

/* BUNDLE */
.jQ5GanUKBEe7hhgCh6b5z {
  margin: 0px !important;
}

.jQ5GanUKBEe7hhgCh6b5z ._353LzpA83V-kiAWaKcQAFg {
  font-size: var(--zehn-size-12) !important;
  color: var(--zehn-color-text1) !important;
  font-weight: var(--zehn-weight-normal) !important;
  text-transform: uppercase !important;
}

.jQ5GanUKBEe7hhgCh6b5z ._353LzpA83V-kiAWaKcQAFg ._1qR-LifiFC4bCiow5xRIy0 {
  border-radius: var(--zehn-size-tag-radius) !important;
  color: var(--zehn-color-tag-text) !important;
  background: var(--zehn-color-tag) !important;
  padding: var(--zehn-size-tag-padding) !important;
  font-size: var(--zehn-size-tag-text) !important;
  gap: var(--zehn-size-tag-gap) !important;
  height: var(--zehn-size-tag) !important;
}

.jQ5GanUKBEe7hhgCh6b5z ._1NM531LjOd5QmDktUetCOm {
  height: fit-content !important;
  gap: var(--zehn-size-panel-inset-gap) !important;
  padding: var(--zehn-size-panel-inset-padding) !important;
  background: var(--zehn-color-panel-inset) !important;
  border-radius: var(--zehn-size-panel-inset-radius) !important;
}

/* ------------------------------------------------------------------------------------------------------------------ */