// MILLENNIUM ERROR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.MillenniumErrorBoundary {
  margin: 0px !important;
  padding: calc(var(--zehn-size-titlebar) + var(--zehn-size-dialog-padding)) var(--zehn-size-dialog-padding) var(--zehn-size-dialog-padding) var(--zehn-size-dialog-padding) !important;
  background-color: var(--zehn-color-dialog) !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  display: flex !important;
  gap: var(--zehn-size-dialog-gap) !important;
  flex-direction: column !important;
  overflow: hidden !important;
}

// TITLE 
.MillenniumErrorBoundary>h1 {
  display: block !important;
  margin: 0px !important;
}

.MillenniumErrorBoundary * {
  margin: 0px !important;
  opacity: 1 !important;
}

.MillenniumErrorBoundary>:is(div, pre) {
  display: flex !important;
  gap: var(--zehn-size-spacing-button) !important;
}

// UPDATES DROPDOWN
.MillenniumErrorBoundary select {
  margin: 0px !important;
}

// UPDATE SUGGESTION
.MillenniumErrorBoundary div:last-of-type:has(button):not(:has(select)) {
  flex-direction: column !important;
}

// ERROR LOG
.MillenniumErrorBoundary pre:last-child {
  margin-top: auto !important;
}

.MillenniumErrorBoundary pre:has(>code) {
  background: var(--zehn-color-code-background) !important;
  border-radius: var(--zehn-size-code-radius) !important;
  max-height: 300px !important;
  width: 100% !important;
}

.MillenniumErrorBoundary code {
  padding: var(--zehn-size-code-padding) !important;
  font-family: var(--zehn-font-family-mono) !important;
  color: var(--zehn-color-code-text) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  box-sizing: border-box !important;
  overflow: auto !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~