// APP DETAILS / DOWNLOADS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._25YVDTaClw6Y2COPsU0UaV,
._1vMU1vG5ZtLihr3mfXUymR {
  height: var(--zehn-size-progressbar-thin) !important;
  background-color: var(--zehn-color-progress-empty) !important;
  border-radius: var(--zehn-size-progressbar-radius) !important;
  transition: none !important;
  margin: 0px !important;

  ._1FnTqlsi2_-TJf1d5apoS6 {
    background-color: var(--zehn-color-progress-filled) !important;
    transition: width 0.1s var(--zehn-timing-linear) !important;
    border-radius: var(--zehn-size-progressbar-radius) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHOWCASE ENTRY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.kX-tIJx4a9vKVuUkKJARv,
.kX-tIJx4a9vKVuUkKJARv._3BNwjsy5WltxayFptkx3KF {
  height: var(--zehn-size-progressbar-thin) !important;
  margin: 0px !important;
  background-color: var(--zehn-color-progress-empty) !important;
  border-radius: var(--zehn-size-progressbar-radius) !important;
  backdrop-filter: none !important;

  .mA39Hqv8LacDppegb_Q_Z {
    background-color: var(--zehn-color-progress-filled) !important;
    border-radius: var(--zehn-size-progressbar-radius) !important;
    transition: width 0.1s var(--zehn-timing-linear) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~









// DETAILS - ACHIEVEMENTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._3ns9185LizH61StaAXuAp6 {
  height: var(--zehn-size-progressbar-thin) !important;
  margin: ar(--zehn-size-details-panel-content-gap) 0px 0px 0px !important;
  background-color: var(--zehn-color-progress-empty) !important;
  border-radius: var(--zehn-size-progressbar-radius) !important;

  ._3Rm36_oeAhvIg6ZYP9l1Jj {
    background-color: var(--zehn-color-progress-filled) !important;
    border-radius: var(--zehn-size-progressbar-radius) !important;
    transition: width 0.1s var(--zehn-timing-linear) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~