// LIBRARY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

div:has(>._1J21tLst5SEhBPkVRT53UV) {
  z-index: 1337 !important;
}

._1J21tLst5SEhBPkVRT53UV {
  color: var(--zehn-color-text1) !important;
  background: var(--zehn-color-alert-background) !important;
  border: var(--zehn-size-alert-border) solid var(--zehn-color-alert-border) !important;
  border-radius: var(--zehn-size-alert-radius) !important;
  font-size: var(--zehn-size-12) !important;;
  height: fit-content !important;
  transition: background-color 0.2s var(--zehn-timing-ease), transform 0.5s var(--zehn-timing-ease), opacity 0.5s var(--zehn-timing-ease) !important;
  width: fit-content !important;
  padding: 0px !important;
  margin: var(--zehn-size-spacing-xs) var(--zehn-size-spacing-md) !important;
  margin-left: auto !important;
  overflow: hidden !important;
  transform: translateY(var(--zehn-size-panel-sm)) !important;
  opacity: 0 !important;
  filter: none !important;

  &:hover {
    background-color: var(--zehn-color-alert-background-hover) !important;
  }
}

._1J21tLst5SEhBPkVRT53UV._28ZR8gHitOrJaSLxcIAl2p {
  filter: none !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
}

._1J21tLst5SEhBPkVRT53UV>div {
  box-shadow: none !important;
  border-radius: 0 !important;
  background: var(--zehn-color-list-background) !important;
  letter-spacing: normal !important;
  color: inherit !important;
  font-size: inherit !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-panel-sm) !important;
  text-transform: uppercase !important;
  padding: 0px var(--zehn-size-padding-xs) !important;
}

._1J21tLst5SEhBPkVRT53UV:hover>div {
  background: var(--zehn-color-list-background-hover) !important;
}

._1J21tLst5SEhBPkVRT53UV:active>div {
  background: var(--zehn-color-list-background-active) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~