// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1bq4x9pa4-9RLY-dXWUZTp {
  overflow-y: hidden !important;
  z-index: unset !important;
  background: transparent !important;
}

// FOCUSBAR - REMOVE
.SEmVpmXrYVl3OxL1sDFTg {
  background: transparent !important;
  height: 0px !important;
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CURRENT HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  background-color: transparent !important;
  margin-top: var(--zehn-size-navbar) !important;
  position: absolute !important;
  z-index: 40 !important;
  width: 100% !important;
  --header-padding: var(--zehn-size-padding-md);
  --header-size: 200px;
}

// EVERYTHING BUT SETTINGS BUTTON FOR SOME REASON CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  ._3Mbhnlk1Go2j8yCdjthzc7,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c {
    background: transparent !important;
    padding: 0px !important;
    margin: 0px !important;

    ._1VNuYHM6BPBOJspC6zPf5r {
      padding: var(--header-padding) !important;
    }
  }
}

// CONTENT WRAPPER
._2sCvZTD6ZTZz3p9_ekH_gI {
  gap: var(--zehn-size-spacing-md) !important;

  // LEFT SIDE GRAPH
  ._3KDkLoCR8OM8xfdQysKn9t {
    background-color: transparent !important;
    box-sizing: border-box !important;

    // HERO / LOGO
    ._3mZ2rKd2RECK4q4ufmsDYX {
      z-index: 1 !important;
      background: transparent !important;
      opacity: 1 !important;

      // EMPTY
      &.pHDI1ddoKXceD5KL7W-4z {
        z-index: 1 !important;
        background: transparent !important;
        opacity: 1 !important;
      }

      // NO HERO IMAGE
      &_3vx2cPxB5ZIHpPzmnqKy8 {
        z-index: 1 !important;
        background: transparent !important;
        opacity: 1 !important;
      }

      // ICON AND TITLE
      .jKUGuDdbLCrMyvZbnMmZ {
        position: absolute !important;
        bottom: var(--zehn-size-spacing-md) !important;
        left: var(--zehn-size-spacing-md) !important;

        // WRAPPER
        .Itce_jO4YiiTduktPP2oa {
          gap: var(--zehn-size-spacing-xs) !important;

          // GAME ICON
          .XIcHE78dgvrKOpB7W_NZV {
            height: var(--zehn-size-icon-xl) !important;
            width: var(--zehn-size-icon-xl) !important;
            border: none !important;
            margin: 0px !important;
          }

          // ICON BEVEL
          .DkiC6s1llC1F-gLwFqOce {
            height: var(--zehn-size-icon-xl) !important;
            width: var(--zehn-size-icon-xl) !important;
            background: transparent !important;
            inset: 0px !important;
            display: none !important;
          }
        }
      }

      // HERO IMAGE
      ._3WauYi7bNDSGIogMLPVYES {
        opacity: 0 !important;
        -webkit-mask-image: linear-gradient(to right, black 198px, transparent 330px) !important;

        // IMAGE WRAPPER
        ._2NqL3nV35eJFAu56_Yu-WM {
          background: transparent !important;
          transform: scale(1.5) !important;
        }

        // COLOR OVERLAY
        .edQzwM57P-T5K3eDGkyvZ {
          background: transparent !important;
        }
      }

      // LOGO BLUR
      ._1R9r2OBCxAmtuUVrgBEUBw._2VT4s72bqcVb83Su1b1VEv {
        margin: 0px !important;
        background-color: transparent !important;
        opacity: 1 !important;
        filter: none !important;
        display: none !important;
      }

      // LOGO
      ._1R9r2OBCxAmtuUVrgBEUBw._1H3SuC0g9zjHUSMZY2T32U {
        background-color: transparent !important;
        display: flex !important;
      }
    }

    // GRAPH
    ._3GBFL10vEfhI28U95WaqMj {
      margin-left: var(--header-size) !important;

      ._1BxZDLT8KveuJzn-1q4NTP {
        -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 80px, black 145px, black 100%) !important;

        ._2-AUyaXfJHWP85tZVENytR {
          height: 100% !important;
          position: relative !important;

          .gpPxCvNVctmdxo8yfyEAJ {
            color: transparent !important;

            ._3raSL6OYLHmLlbF96kGtnr {
              color: var(--zehn-color-accent) !important;

              // DOWNLOAD
              &.OS07NfYlp6v-Eh5oQ7dwn {
                color: var(--zehn-color-accent) !important;
              }

              // UPLOAD
              &._3mul1iIN_gcVS-tH2OUC1 {
                color: var(--zehn-color-accent) !important;
              }
            }

            // SPACER
            ._11-Rkuw-wyusZu8aqrPY45 {
              color: transparent !important;
              height: 100% !important;
            }
          }

          // GRAPH LINE
          ._3H2JWLH8rucdSC1XVZ7Xdk {
            stroke: var(--zehn-color-accent) !important;
          }
        }

        // GRADIENT
        .RfMM3QjbVZCURuo5YTHWD {
          display: none !important;
          background-image: linear-gradient(to right, black 0%, black 35%, black 55%) !important;
        }
      }
    }
  }

  // RIGHT SIDE STATS
  ._20JlDJD9-uoCjNLGp_8mY6 {
    box-sizing: border-box !important;
    gap: var(--zehn-size-spacing-xs) !important;
    padding: 0px !important;

    // TOP SECTION
    ._2XqX2Zbz7zS2_xq8AksGCu {
      width: 100% !important;

      // STAT GROUPS WRAPPER
      ._vrwj4IQ-vqMravrbJb64 {
        gap: var(--zehn-size-spacing-xs) !important;

        // STAT
        ._26UBk-6weCeV-VClfXNWJZ {
          --stat-line: var(--zehn-size-16);
          --icon-spacing: var(--zehn-size-24);
          min-width: 100px !important;

          // LABEL AND ICON
          .Ayu--dDVVaKmP2gNYPAQ0 {
            height: var(--stat-line) !important;
            margin: 0px !important;

            // NON-ICON DISK USAGE LINE
            ._3PLc4OJQTCKFtmy81QMYv5._1QHr4A7EN2DgQfJIdu3rTh {
              height: 2px !important;
              background-color: var(--zehn-color-accent) !important;
            }

            // ICON WRAPPER
            ._3PLc4OJQTCKFtmy81QMYv5._33jqEbo2sBXJZ08w9BkdEM {
              width: var(--zehn-size-24) !important;
              height: var(--stat-line) !important;
              margin: 0px !important;

              svg {
                width: var(--zehn-size-icon-md) !important;
                height: var(--zehn-size-icon-md) !important;
                color: var(--zehn-color-accent) !important;
              }
            }

            // LABEL
            ._1iulCOMUxV6sBbqoKo_yXw {
              font-size: var(--zehn-size-10) !important;
              font-weight: var(--zehn-weight-normal) !important;
              color: var(--zehn-color-text3) !important;
              line-height: var(--stat-line) !important;
            }
          }

          // VALUE
          ._5TdA4FjU9OYsTIaHzloD {
            line-height: unset !important;
            padding-left: var(--icon-spacing) !important;

            .eXF8xL2LUtzeWMbK-FSRz {
              font-size: var(--zehn-size-12) !important;
              font-weight: var(--zehn-weight-normal) !important;
              color: var(--zehn-color-text1) !important;
              line-height: var(--stat-line) !important;
            }
          }
        }
      }
    }

    // PROGRESS SECTIONS
    ._1SyggnJY6qbRSmbZpkK3-H .MSCfUF8cD2uIicYPlotLj {
      gap: var(--zehn-size-spacing-xxs) !important;

      // SECTION WRAPPER
      ._22WcrscaQSqK56PQKgf5YG {

        // START TIME
        ._3tEPpl-d9-fiCX5AdJiXJL {
          font-size: var(--zehn-size-12) !important;
          font-weight: var(--zehn-weight-normal) !important;
          color: var(--zehn-color-text1) !important;
        }

        // TEXT
        .-PT6mGyvgBJXK-uaK2cRV {
          --stat-height: var(--zehn-size-24);
          line-height: var(--stat-height) !important;
          gap: var(--zehn-size-spacing-xs) !important;

          // PROGRESS STATUS
          ._3a973VY2X3US_cZqA9ZgNF {
            font-size: var(--zehn-size-12) !important;
            font-weight: var(--zehn-weight-normal) !important;
            color: var(--zehn-color-text1) !important;
            line-height: var(--stat-height) !important;
            height: var(--stat-height) !important;
            width: fit-content !important;
            padding: 0px !important;
            margin: 0px !important;
            align-content: center !important;

            // INFO ICON
            &:has(svg.-OgRzXqfwOvAWFZS3Rk_N) {
              display: none !important;
            }
          }
        }
      }
    }

    // ESTIMATION AND BUTTONS
    ._1r3ouwFT2-tsTAcnXYZ6NU {
      gap: var(--zehn-size-spacing-md) !important;
      margin-right: calc(var(--zehn-size-button-md) + var(--zehn-size-spacing-xs)) !important;

      // ESTIMATION
      ._3nx-k9xXUVgejG1BIAc84r {
        font-size: var(--zehn-size-12) !important;
        font-weight: var(--zehn-weight-normal) !important;
        color: var(--zehn-color-text3) !important;

        // START TIME
        ._3tEPpl-d9-fiCX5AdJiXJL {
          font-size: inherit !important;
          font-weight: inherit !important;
          color: inherit !important;
        }
      }
    }
  }

  // HOVER RING
  ._3B3J2qtE6ozU_VXMMN2L51 {
    border: none !important;
    transition: none !important;
  }
}

// SETTINGS BUTTON - COMPLETELY SEPARATE FOR SOME REASON
.lzk4zNVWG2zPV5Mk_o5GL._25orrwWG_3Sxt7Cez3seLV {
  right: var(--header-padding) !important;
  bottom: var(--header-padding) !important;
  top: unset !important;
  padding: 0px !important;
  margin: 0px !important;
  -webkit-app-region: no-drag !important;

  svg {
    -webkit-mask-image: var(--zehn-icon-settings) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHARED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// DOWNLOAD LIMIT
.Bku7JSkuQ7NyWi6M4w1sl {
  height: fit-content !important;
  line-height: var(--zehn-size-24) !important;
  gap: var(--zehn-size-spacing-xs) !important;

  &:empty {
    display: none !important;
  }

  // PATCH NOTES
  ._3kXEpnxa2qb5znYMSbKT0p {
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-24) !important;
    margin: 0px !important;
    padding: 0px !important;
    gap: var(--zehn-size-spacing-xs) !important;

    // ICON
    svg.-OgRzXqfwOvAWFZS3Rk_N {
      background-color: currentColor !important;
    }

    // TEXT
    ._1nCT-M7nZcoNzedbVzbXha {
      color: inherit !important;
    }
  }

  // THROTTLE
  ._2LWo2qq9d-zuglW2VlM_Xu {
    color: var(--zehn-color-text1) !important;
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--zehn-size-24) !important;
    margin: 0px !important;
    padding: 0px !important;
    gap: 0px !important;
  }

  // LINK TO SETTINGS
  ._2LWo2qq9d-zuglW2VlM_Xu ._35T9nZ2RsVs8kf7OMPlaxe {
    font-size: inherit !important;
    font-weight: inherit !important;
  }
}

// ICONS
.-OgRzXqfwOvAWFZS3Rk_N {
  display: block !important;
  margin: 0px !important;
  color: currentColor !important;
  width: var(--zehn-size-icon-md) !important;
  height: var(--zehn-size-icon-md) !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-info) !important;

  * { display: none !important; }
}

._3kXEpnxa2qb5znYMSbKT0p .-OgRzXqfwOvAWFZS3Rk_N {
  -webkit-mask-image: var(--zehn-icon-news) !important;
}

.-OgRzXqfwOvAWFZS3Rk_N:has([d="M18 17.8L4 10.05L18 2.29999L32 10.05L18 17.8ZM18 22.37L7.1 16.37L4 18.05L18 25.8L32 18.05L28.9 16.34L18 22.37ZM18 30.37L7.1 24.37L4 26.05L18 33.8L32 26.05L28.9 24.34L18 30.37Z"]) {
  -webkit-mask-image: var(--zehn-icon-dlc) !important;
}

.-OgRzXqfwOvAWFZS3Rk_N:has([d="M33 15.62V20.38L29.05 21.1C28.7984 21.9841 28.4461 22.8363 28 23.64L30.29 26.9L26.92 30.27L23.64 28C22.8372 28.453 21.985 28.8121 21.1 29.07L20.38 33H15.62L14.9 29.05C14.0159 28.7984 13.1637 28.4461 12.36 28L9.08 30.29L5.71 26.92L8 23.64C7.54696 22.8372 7.18793 21.985 6.93 21.1L3 20.38V15.62L6.93 14.9C7.18793 14.015 7.54696 13.1628 8 12.36L5.71 9.08L9.08 5.71L12.36 8C13.1628 7.54696 14.015 7.18793 14.9 6.93L15.62 3H20.38L21.1 6.93C21.985 7.18793 22.8372 7.54696 23.64 8L26.92 5.71L30.27 9.08L28 12.36C28.453 13.1628 28.8121 14.015 29.07 14.9L33 15.62ZM8 19.5899L14 22.5899C14.0591 23.2809 14.3819 23.9227 14.9014 24.3821C15.4209 24.8416 16.0972 25.0836 16.7903 25.0578C17.4833 25.0321 18.1399 24.7407 18.6239 24.244C19.1079 23.7473 19.3822 23.0834 19.39 22.3899C19.3869 22.1881 19.3635 21.987 19.32 21.7899L21.87 20.0399C22.2149 20.1392 22.5712 20.193 22.93 20.1999C23.7747 20.2059 24.6006 19.9508 25.2948 19.4695C25.989 18.9883 26.5177 18.3043 26.8084 17.5112C27.0992 16.7181 27.1379 15.8546 26.9192 15.0387C26.7006 14.2228 26.2352 13.4943 25.5868 12.9529C24.9384 12.4115 24.1386 12.0835 23.2968 12.0139C22.4549 11.9443 21.6121 12.1365 20.8836 12.564C20.1551 12.9916 19.5765 13.6338 19.2268 14.4027C18.8771 15.1716 18.7734 16.0298 18.93 16.8599L17 19.7399H16.67C16.132 19.7388 15.606 19.899 15.16 20.1999L9.39 17.1999L8 19.5899Z"]) {
  -webkit-mask-image: var(--zehn-icon-store) !important;
}

.sv3ZHPWbrD7yjwx5Mi3u5:first-of-type .-OgRzXqfwOvAWFZS3Rk_N {
  -webkit-mask-image: var(--zehn-icon-install) !important;
}

.sv3ZHPWbrD7yjwx5Mi3u5:last-of-type .-OgRzXqfwOvAWFZS3Rk_N {
  -webkit-mask-image: var(--zehn-icon-harddrive) !important;
}

// PROGRESS AND INFO
._1SyggnJY6qbRSmbZpkK3-H {
  --progress-height: var(--zehn-size-24);
  gap: var(--zehn-size-spacing-xs) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;
  line-height: var(--progress-height) !important;
  flex-basis: auto !important;

  ._17xMwzVlHSppd7bM5VEJm0 {
    gap: var(--zehn-size-spacing-xs) !important;
    height: var(--progress-height) !important;
    line-height: var(--progress-height) !important;

    // AUTO-UPDATE SETTINGS
    ._22mb5kcx6UUTgRNUjEp1yv {
      font-size: inherit !important;
      line-height: inherit !important;
      font-weight: inherit !important;
    }
  }

  // STATE
  ._2ns4wnmgr4XBzARpwn2NZ1 {
    color: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;

    // PROGRESS
    .FuJLsEk_Umr68UjGanMno {
      color: inherit !important;
      font-weight: inherit !important;
      font-size: inherit !important;
    }
  }

  // STATE - ERROR
  ._2ns4wnmgr4XBzARpwn2NZ1._1ia3Wetvb6Jx1P6qi8vFJh {
    color: inherit !important;
    font-weight: inherit !important;
    font-size: inherit !important;
  }
}

// PROGRESS VALUE
.sv3ZHPWbrD7yjwx5Mi3u5 {
  line-height: inherit !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;
  margin: 0px !important;
  padding: 0px !important;
  gap: var(--zehn-size-spacing-xs) !important;

  // PARTS
  ._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB,
  ._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB.IbePLaw-vSvhG1GTenYFg,
  ._1dHjjSl-57o1KQsQ1m1HSA._2ckIrOaAwEey3RdOBG-FJS {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
    margin: 0px !important;
  }

  // SIZE
  ._1dHjjSl-57o1KQsQ1m1HSA {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
  }
}

// PLAY/PAUSE
._31Ig9HzlsHvYWo5VyjppMY {
  background: transparent !important;

  // BUTTONS
  ._1cMXIpc5BRVY11dIrWKMNW {
    height: fit-content !important;
    min-width: fit-content !important;
    min-height: fit-content !important;
    max-height: fit-content !important;
    margin: 0px !important;
    padding: 0px !important;
    gap: var(--zehn-size-spacing-xs) !important;

    // TEXT
    ._33cnXIqTRgRr49_FNXIHj6 {
      display: none !important;
      min-width: fit-content !important;
    }

    // BUTTON WRAPPER
    ._2ZfashhZu6uE9fCwyPS9mJ {
      width: 100% !important;
      height: 100% !important;
      transition: none !important;
      order: 2 !important;
    }

    ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
      margin: 0px !important;
      order: 1 !important;
    }
  }
}

._3Mbhnlk1Go2j8yCdjthzc7 ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-download) !important;
}

._3Mbhnlk1Go2j8yCdjthzc7 ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-clear) !important;
}

._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-pause) !important;

  &:has([d="M7.5 32.135a1 1 0 0 1-1.5-.866V4.73a1 1 0 0 1 1.5-.866l22.999 13.269a1 1 0 0 1 0 1.732l-23 13.269Z"]) {
    -webkit-mask-image: var(--zehn-icon-play) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ENTRY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1VNuYHM6BPBOJspC6zPf5r {
  background-color: var(--zehn-color-list-background) !important;
  padding: var(--zehn-size-padding-md) !important;
  border-radius: var(--zehn-size-radius-none) !important;
  transition: none !important;
  margin: 0px !important;
  background: transparent !important;

  // DRAGGING STATE
  &._3-SbBb63lDnu6LzKV-q3Cg,
  &._3-SbBb63lDnu6LzKV-q3Cg.IbePLaw-vSvhG1GTenYFg {
    border-radius: var(--zehn-size-radius-none) !important;
    margin: 0px !important;
  }

  // INNER WRAPPER
  ._3ebCJiEl-ybizhZ4avcFw5 {
    padding: 0px !important;
    gap: var(--zehn-size-spacing-md) !important;

    // INFO CONTAINER
    ._2xy0gY9dA8OoNNR7_Z2y2x {
      gap: var(--zehn-size-spacing-md) !important;
    }

    // DRAG GRIPPER
    ._14DhZoqwtCm4l0yDeN6QZe {
      color: var(--zehn-color-icon1) !important;
      inset: 0px !important;
      margin: auto !important;
      transition: none !important;
      height: fit-content !important;
      width: fit-content !important;

      svg {
        padding: var(--zehn-size-padding-md) !important;
        width: var(--zehn-size-icon-md) !important;
        height: var(--zehn-size-icon-md) !important;
        background-color: var(--zehn-color-icon1) !important;
        mask-repeat: no-repeat !important;
        mask-position: center !important;
        mask-size: var(--zehn-size-icon-md) !important;
        -webkit-mask-image: var(--zehn-icon-gripper-horizontal) !important;

        * { display: none !important; }
      }
    }
  }
}

._1VNuYHM6BPBOJspC6zPf5r:not(.IbePLaw-vSvhG1GTenYFg) {
  background-color: var(--zehn-color-list-background) !important;

  &:hover {
    background-color: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background-color: var(--zehn-color-list-background-active) !important;
  }
}

// GAME TITLE
._1Er4SotWhGIid50maW3Lfv {

  // NAME
  ._35eOQ6EeVHNV5HGBrJ1-Vu {
    font-size: var(--zehn-size-18) !important;
    font-weight: var(--zehn-weight-normal) !important;
    color: var(--zehn-color-text1) !important;
    letter-spacing: normal !important;
    margin: 0px !important;
    line-height: var(--zehn-size-32) !important;
    flex-direction: row !important;
    display: flex !important;
    gap: var(--zehn-size-spacing-xs) !important;
  }
}

// CONTENT TYPES
._1IKbaHLvcciS-EMMYx1WVG {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  letter-spacing: normal !important;
  padding: 0px !important;
}

// INFO
._1nCT-M7nZcoNzedbVzbXha {
  height: fit-content !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;
  text-align: center !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1l0LmmqDUXH19SjfELddn7 {
  margin: 0px !important;
}

// LIST WRAPPER
._1ugNiylO2vKXhirsGocAxa {
  margin: 0px !important;
  display: flex !important;
  flex-direction: column !important;
}

// LIST SECTION
._3Mbhnlk1Go2j8yCdjthzc7 {
  display: block !important;
  position: relative !important;
  margin: var(--zehn-content-mode-downloads-spacing) !important;
  margin-top: 0px !important;
  background: var(--zehn-content-mode-downloads-panel-color) !important;
  padding: var(--zehn-size-downloads-panel-padding) !important;
  border-radius: var(--zehn-size-downloads-panel-radius) !important;
  transition: var(--zehn-transition-panel) !important;

  &:hover {
    background-color: var(--zehn-content-mode-downloads-panel-color-hover) !important;
  }

  // ACTIVE ENTRY
  &.IbePLaw-vSvhG1GTenYFg,
  &.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c,
  // NO QUEUE
  &._35QWxvFqvZc4LQDczGCHcq,
  // COMPLETED
  &.Zh51LA1WZNKTkf1qlZab {
    display: block !important;
  }

  // EMPTY
  &._2KB3yVOsiRCK9qK6mwKl9c {
    display: none !important;
  }

  // JUMPBAR/HEADER
  .mw7VZNUZJWOhSrh3-kiym,
  .qq2xItSXjpCsNrcxyPJtO {
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
    color: var(--zehn-color-text1) !important;
    padding: 0px !important;
    gap: var(--zehn-size-spacing-md) !important;
    height: var(--zehn-size-downloads-section-header) !important;

    // TITLE & COUNT
    .ROxNrcM6LrA4aUyH8IpFp {

      // SECTION TITLE
      .TK9wvF55dyA6RcOclozC8 {
        font-size: inherit !important;
        font-weight: inherit !important;
        color: inherit !important;
        line-height: var(--zehn-size-downloads-section-header) !important;
      }

      // COUNT
      ._1CGnw50aAma6AYKF51Qzsm {
        font-size: inherit !important;
        font-weight: inherit !important;
        color: var(--zehn-color-text3) !important;
        line-height: var(--zehn-size-downloads-section-header) !important;
      }
    }

    // DIVIDER LINE
    ._1CTr1yKRkOXnJ4gSS1-1A3 {
      background-color: var(--zehn-color-separator) !important;
      height: var(--zehn-size-separator) !important;
      margin: auto 0px !important;
    }

    // AUTO-UPDATES ENABLED
    ._117rQTHH1RIewY7sSlvg3Z {
      font-size: var(--zehn-size-12) !important;
      font-weight: var(--zehn-weight-normal) !important;
      line-height: var(--zehn-size-downloads-section-header) !important;
      margin: 0px !important;
    }
  }

  // ENTRIES
  .OINnOU8K5HzPe2nzczpZi {
    padding: 0px !important;
    margin: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    border: none !important;
    transition: none !important;
    background: transparent !important;

    // DRAGGING
    &._2m6Q3ca-wXeLIVShFCO51T,
    &.d9VKGABvFZQGmdqtaicMo {
      background: transparent !important;
    }

    // NO DOWNLOADS IN QUEUE
    ._1zv2D9H37p5yuOJNsCemS3 {
      line-height: var(--zehn-size-32) !important;
      padding: 0px !important;
      box-sizing: border-box !important;
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~