// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1bq4x9pa4-9RLY-dXWUZTp {
  overflow-y: hidden !important;
  z-index: unset !important;
  background: transparent !important;
}

// FOCUSBAR - REMOVE
.SEmVpmXrYVl3OxL1sDFTg {
  background: transparent !important;
  height: 0px !important;
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CURRENT HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  background-color: transparent !important;
  margin-top: var(--zehn-size-navbar) !important;
  position: absolute !important;
  z-index: 40 !important;
  width: 100% !important;
  --header-padding: var(--zehn-size-padding-md);
  --header-size: 200px;
}

// EVERYTHING BUT SETTINGS BUTTON FOR SOME REASON CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  ._3Mbhnlk1Go2j8yCdjthzc7,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c {
    background: transparent !important;
    padding: 0px !important;
    margin: 0px !important;

    ._1VNuYHM6BPBOJspC6zPf5r {
      padding: 0px !important;

      ._3ebCJiEl-ybizhZ4avcFw5 {
        padding: var(--header-padding) !important;
      }
    }
  }
}

// CONTENT WRAPPER
._2sCvZTD6ZTZz3p9_ekH_gI {
  gap: var(--zehn-size-spacing-md) !important;

  // HOVER RING
  ._3B3J2qtE6ozU_VXMMN2L51 {
    border: none !important;
    transition: none !important;
  }
}

// LEFT SIDE GRAPH
._3KDkLoCR8OM8xfdQysKn9t {
  background-color: transparent !important;
  box-sizing: border-box !important;

  // HERo / LOGO
  ._3mZ2rKd2RECK4q4ufmsDYX {
    z-index: 1 !important;
    background: transparent !important;
    opacity: 1 !important;

    // EMPTY
    &.pHDI1ddoKXceD5KL7W-4z {
      z-index: 1 !important;
      background: transparent !important;
      opacity: 1 !important;
    }

    // NO HERO IMAGE
    &_3vx2cPxB5ZIHpPzmnqKy8 {
      z-index: 1 !important;
      background: transparent !important;
      opacity: 1 !important;
    }

    // HERO IMAGE
    ._3WauYi7bNDSGIogMLPVYES {
      opacity: 0 !important;

      // IMAGE WRAPPER
      ._2NqL3nV35eJFAu56_Yu-WM {
        background: transparent !important;
        transform: scale(1.5) !important;
      }

      // COLOR OVERLAY
      .edQzwM57P-T5K3eDGkyvZ {
        background: transparent !important;
      }
    }

    // LOGO BLUR
    ._1R9r2OBCxAmtuUVrgBEUBw._2VT4s72bqcVb83Su1b1VEv {
      margin: 0px !important;
      background-color: transparent !important;
      opacity: 1 !important;
      filter: none !important;
      display: none !important;
    }

    // LOGO
    ._1R9r2OBCxAmtuUVrgBEUBw._1H3SuC0g9zjHUSMZY2T32U {
      background-color: transparent !important;
      display: flex !important;
    }
  }

  // GRAPH
  ._3GBFL10vEfhI28U95WaqMj {
    margin-left: var(--header-size) !important;

    ._1BxZDLT8KveuJzn-1q4NTP {
      -webkit-mask-image: linear-gradient(to right, transparent 0%, transparent 80px, black 145px, black 100%) !important;

      ._2-AUyaXfJHWP85tZVENytR {
        height: 100% !important;
        position: relative !important;

        .gpPxCvNVctmdxo8yfyEAJ {
          color: transparent !important;

          ._3raSL6OYLHmLlbF96kGtnr {
            color: var(--zehn-color-accent) !important;

            // DOWNLOAD
            &.OS07NfYlp6v-Eh5oQ7dwn {
              color: var(--zehn-color-accent) !important;
            }

            // UPLOAD
            &._3mul1iIN_gcVS-tH2OUC1 {
              color: var(--zehn-color-accent) !important;
            }
          }

          // SPACER
          ._11-Rkuw-wyusZu8aqrPY45 {
            color: transparent !important;
            height: 100% !important;
          }
        }

        // GRAPH LINE
        ._3H2JWLH8rucdSC1XVZ7Xdk {
          stroke: var(--zehn-color-accent) !important;
        }
      }

      // GRADIENT
      .RfMM3QjbVZCURuo5YTHWD {
        display: none !important;
        background-image: linear-gradient(to right, black 0%, black 35%, black 55%) !important;
      }
    }
  }
}

// RIGHT SIDE STATS
._20JlDJD9-uoCjNLGp_8mY6 {
  box-sizing: border-box !important;
  gap: var(--zehn-size-spacing-xs) !important;
  padding: 0px !important;

  // TOP SECTION
  ._2XqX2Zbz7zS2_xq8AksGCu {
    width: 100% !important;

    // STAT GROUPS WRAPPER
    ._vrwj4IQ-vqMravrbJb64 {
      gap: var(--zehn-size-spacing-xs) !important;

      // STAT
      ._26UBk-6weCeV-VClfXNWJZ {
        --stat-line: var(--zehn-size-16);
        --icon-spacing: var(--zehn-size-24);
        min-width: 100px !important;

        // LABEL AND ICON
        .Ayu--dDVVaKmP2gNYPAQ0 {
          height: var(--stat-line) !important;
          margin: 0px !important;

          // NON-ICON DISK USAGE LINE
          ._3PLc4OJQTCKFtmy81QMYv5._1QHr4A7EN2DgQfJIdu3rTh {
            height: 2px !important;
            background-color: var(--zehn-color-accent) !important;
          }

          // ICON WRAPPER
          ._3PLc4OJQTCKFtmy81QMYv5._33jqEbo2sBXJZ08w9BkdEM {
            width: var(--zehn-size-24) !important;
            height: var(--stat-line) !important;
            margin: 0px !important;

            svg {
              width: var(--zehn-size-icon-md) !important;
              height: var(--zehn-size-icon-md) !important;
              color: var(--zehn-color-accent) !important;
            }
          }

          // LABEL
          ._1iulCOMUxV6sBbqoKo_yXw {
            font-size: var(--zehn-size-10) !important;
            font-weight: var(--zehn-weight-normal) !important;
            color: var(--zehn-color-text3) !important;
            line-height: var(--stat-line) !important;
          }
        }

        // VALUE
        ._5TdA4FjU9OYsTIaHzloD {
          line-height: unset !important;
          padding-left: var(--icon-spacing) !important;

          .eXF8xL2LUtzeWMbK-FSRz {
            font-size: var(--zehn-size-12) !important;
            font-weight: var(--zehn-weight-normal) !important;
            color: var(--zehn-color-text1) !important;
            line-height: var(--stat-line) !important;
          }
        }
      }
    }
  }

  // PROGRESS AND INFO
  ._1SyggnJY6qbRSmbZpkK3-H {
    gap: var(--zehn-size-spacing-xs) !important;
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    color: var(--zehn-color-text3) !important;
    line-height: var(--zehn-size-24) !important;
    flex-basis: auto !important;

    .MSCfUF8cD2uIicYPlotLj {
      gap: var(--zehn-size-spacing-xxs) !important;

      // LINE WRAPPER
      ._22WcrscaQSqK56PQKgf5YG {

        // START TIME
        ._3tEPpl-d9-fiCX5AdJiXJL {
          font-size: var(--zehn-size-12) !important;
          font-weight: var(--zehn-weight-normal) !important;
          color: var(--zehn-color-text1) !important;
        }

        // TEXT
        .-PT6mGyvgBJXK-uaK2cRV {
          line-height: var(--zehn-size-24) !important;
          gap: var(--zehn-size-spacing-xs) !important;

          ._3a973VY2X3US_cZqA9ZgNF {
            font-size: var(--zehn-size-12) !important;
            font-weight: var(--zehn-weight-normal) !important;
            color: var(--zehn-color-text1) !important;
            line-height: inherit !important;
          }
        }
      }
    }
  }

  // ESTIAMTION AND BUTTONS
  ._1r3ouwFT2-tsTAcnXYZ6NU {
    gap: var(--zehn-size-spacing-md) !important;
    margin-right: var(--zehn-size-button-md) !important;

    // ESTIMATION
    ._3nx-k9xXUVgejG1BIAc84r {
      font-size: var(--zehn-size-12) !important;
      font-weight: var(--zehn-weight-normal) !important;
      color: var(--zehn-color-text3) !important;

      // START TIME
      ._3tEPpl-d9-fiCX5AdJiXJL {
        font-size: inherit !important;
        font-weight: inherit !important;
        color: inherit !important;
      }
    }
  }
}

// SETTINGS BUTTON - COMPLETELY SEPARATE FOR SOME REASON
.lzk4zNVWG2zPV5Mk_o5GL._25orrwWG_3Sxt7Cez3seLV {
  right: var(--header-padding) !important;
  bottom: var(--header-padding) !important;
  top: unset !important;
  padding: 0px !important;
  margin: 0px !important;
  -webkit-app-region: no-drag !important;

  svg {
    -webkit-mask-image: var(--zehn-icon-settings) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SHARED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// DOWNLOAD LIMIT
.Bku7JSkuQ7NyWi6M4w1sl {
  height: fit-content !important;
  line-height: var(--zehn-size-24) !important;
  gap: var(--zehn-size-spacing-xs) !important;

  .sv3ZHPWbrD7yjwx5Mi3u5,
  ._22mb5kcx6UUTgRNUjEp1yv,
  ._3kXEpnxa2qb5znYMSbKT0p,
  ._2LWo2qq9d-zuglW2VlM_Xu {
    font-size: var(--zehn-size-12) !important;
    font-weight: var(--zehn-weight-normal) !important;
    color: var(--zehn-color-text1) !important;
    line-height: var(--zehn-size-24) !important;
    margin: 0px !important;

    // LINK TO SETTINGS
    ._35T9nZ2RsVs8kf7OMPlaxe {
      font-size: inherit !important;
      font-weight: inherit !important;
    }
  }

  &:empty {
  display: none !important;
  }
}

// PROGRESS STAT (ALSO USED IN LIST)
.sv3ZHPWbrD7yjwx5Mi3u5 {
  line-height: inherit !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;

  // PARTS
  ._1dHjjSl-57o1KQsQ1m1HSA._2ckIrOaAwEey3RdOBG-FJS,
  ._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB,
  ._1dHjjSl-57o1KQsQ1m1HSA._3WavcSX0NkHlBh5fICWKyB.IbePLaw-vSvhG1GTenYFg {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
  }

  // SIZE
  ._1dHjjSl-57o1KQsQ1m1HSA {
    font-size: inherit !important;
    font-weight: inherit !important;
    color: inherit !important;
  }
}

// PROGRESS
._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR {
  background-color: var(--zehn-color-progress-empty) !important;

  div {
    background-color: var(--zehn-color-progress-filled) !important;
    transition: width 0.1s var(--zehn-timing-linear) !important;
  }
}

// PLAY/PAUSE
._1VNuYHM6BPBOJspC6zPf5r {

  // CONTAINER
  ._31Ig9HzlsHvYWo5VyjppMY {
    background: transparent !important;

    ._1cMXIpc5BRVY11dIrWKMNW {
      height: fit-content !important;
      min-width: fit-content !important;
      min-height: fit-content !important;
      max-height: fit-content !important;
      margin: 0px !important;
      padding: 0px !important;
      gap: 0px !important;


      // BUTTON WRAPPER
      ._2ZfashhZu6uE9fCwyPS9mJ {
        width: 100% !important;
        height: 100% !important;
        transition: none !important;
        order: 2 !important;
      }

      ._2ZfashhZu6uE9fCwyPS9mJ._2WEwEIAncE7-wa4Ye07a8x {
        margin: 0px !important;
        order: 1 !important;
      }
    }
  }
}

._3Mbhnlk1Go2j8yCdjthzc7 ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-download) !important;
}

._3Mbhnlk1Go2j8yCdjthzc7 ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi._2xR-V97DWI7svSjgiCb3N-.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-clear) !important;
}

._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton svg {
  -webkit-mask-image: var(--zehn-icon-pause) !important;

  &:has([d="M7.5 32.135a1 1 0 0 1-1.5-.866V4.73a1 1 0 0 1 1.5-.866l22.999 13.269a1 1 0 0 1 0 1.732l-23 13.269Z"]) {
    -webkit-mask-image: var(--zehn-icon-play) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ENTRY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1VNuYHM6BPBOJspC6zPf5r {

  // DRAG GRIPPER
  ._14DhZoqwtCm4l0yDeN6QZe {
    color: var(--zehn-color-icon1) !important;
    inset: 0px !important;
    margin: auto !important;
    transition: none !important;
    height: fit-content !important;
    width: fit-content !important;

    svg {
      padding: var(--zehn-size-padding-md) !important;
      width: var(--zehn-size-icon-md) !important;
      height: var(--zehn-size-icon-md) !important;
      background-color: var(--zehn-color-icon1) !important;
      mask-repeat: no-repeat !important;
      mask-position: center !important;
      mask-size: var(--zehn-size-icon-md) !important;
      -webkit-mask-image: var(--zehn-icon-gripper-horizontal) !important;

      * { display: none !important; }
    }
  }

  // GAME TITLE
  ._35eOQ6EeVHNV5HGBrJ1-Vu {
    font-size: var(--zehn-size-20) !important;
    font-weight: var(--zehn-weight-normal) !important;
    color: var(--zehn-color-text1) !important;
    letter-spacing: normal !important;
    margin-bottom: 0px !important;
    line-height: 32px !important;
    flex-direction: row !important;
    display: flex !important;
    gap: var(--zehn-size-spacing-xs) !important;
  }
}

// INFO
._1nCT-M7nZcoNzedbVzbXha {
  height: fit-content !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  color: var(--zehn-color-text3) !important;
  text-align: center !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1l0LmmqDUXH19SjfELddn7 {
  margin: 0px !important;
}

// LIST WRAPPER
._1ugNiylO2vKXhirsGocAxa {
  margin: 0px !important;
  display: flex !important;
  flex-direction: column !important;
}

// LIST SECTION
._3Mbhnlk1Go2j8yCdjthzc7 {
  position: relative !important;
  margin: var(--zehn-content-mode-downloads-spacing) !important;
  margin-top: 0px !important;
  background: var(--zehn-content-mode-downloads-panel-color) !important;
  padding: var(--zehn-size-downloads-panel-padding) !important;
  border-radius: var(--zehn-content-mode-downloads-panel-radius) !important;
  transition: var(--zehn-transition-panel) !important;

  &:hover {
    background-color: var(--zehn-content-mode-downloads-panel-color-hover) !important;
  }


  // ENTRIES
  .OINnOU8K5HzPe2nzczpZi {
    margin-left: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    border: unset !important;
    padding-top: 0px !important;
    transition: none !important;

    // NO DOWNLOADS IN QUEUE
    ._1zv2D9H37p5yuOJNsCemS3 {
      line-height: var(--zehn-size-32) !important;
      padding: 0px !important;
    }
  }
}

._3Mbhnlk1Go2j8yCdjthzc7,
._3Mbhnlk1Go2j8yCdjthzc7._35QWxvFqvZc4LQDczGCHcq {
  display: block !important;
}

._3Mbhnlk1Go2j8yCdjthzc7._2KB3yVOsiRCK9qK6mwKl9c,
._3Mbhnlk1Go2j8yCdjthzc7._2KB3yVOsiRCK9qK6mwKl9c.Zh51LA1WZNKTkf1qlZabn {
  display: none !important;
}

// ACTIVE ENTRY
._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg {}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~