// PAGE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1bq4x9pa4-9RLY-dXWUZTp {
  overflow-y: hidden !important;
  z-index: unset !important;
  background: transparent !important;
}

// FOCUSBAR - REMOVE
.SEmVpmXrYVl3OxL1sDFTg {
  background: transparent !important;
  height: 0px !important;
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CURRENT HEADER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  background-color: transparent !important;
  margin-top: var(--zehn-size-navbar) !important;
  position: absolute !important;
  z-index: 40 !important;
  width: 100% !important;
  --header-padding: var(--zehn-size-padding-md);
}

// EVERYTHING BUT SETTINGS BUTTON FOR SOME REASON CONTAINER
._373v1eWNyaPKhgnea9FZSt {
  ._3Mbhnlk1Go2j8yCdjthzc7,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg,
  ._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c {
    background: transparent !important;
    padding: 0px !important;
    margin: 0px !important;

    ._1VNuYHM6BPBOJspC6zPf5r {
      padding: 0px !important;

      ._3ebCJiEl-ybizhZ4avcFw5 {
        padding: var(--header-padding) !important;
      }
    }
  }
}

// CONTENT WRAPPER
._2sCvZTD6ZTZz3p9_ekH_gI {
  gap: var(--zehn-size-spacing-md) !important;

  // HOVER RING
  ._3B3J2qtE6ozU_VXMMN2L51 {
    border: none !important;
    transition: none !important;
  }
}

// LEFT SIDE GRAPH
._3KDkLoCR8OM8xfdQysKn9t {
  box-sizing: border-box !important;
}

// RIGHT SIDE STATS
._20JlDJD9-uoCjNLGp_8mY6 {
  box-sizing: border-box !important;
  gap: var(--zehn-size-spacing-xs) !important;
  padding: 0px !important;

  // TOP SECTION
  ._2XqX2Zbz7zS2_xq8AksGCu {
    width: 100% !important;

    // STAT GROUPS WRAPPER
    ._vrwj4IQ-vqMravrbJb64 {
      gap: var(--zehn-size-spacing-xs) !important;
    }
  }
}

// SETTINGS BUTTON - COMPLETELY SEPARATE FOR SOME REASON
.lzk4zNVWG2zPV5Mk_o5GL,
._25orrwWG_3Sxt7Cez3seLV {
  right: var(--header-padding) !important;
  bottom: var(--header-padding) !important;
  top: unset !important;
  padding: 0px !important;
  margin: 0px !important;
  -webkit-app-region: no-drag !important;

  svg {
    -webkit-mask-image: var(--zehn-icon-settings) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1l0LmmqDUXH19SjfELddn7 {
  margin: 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~