// ROOT SOURCE IN SIDEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// REMOVE VANILLA FOCUSBAR
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7:before {
  width: unset !important;
  height: unset !important;
  inset: 0px !important;
  transition: none !important;
  background-color: var(--zehn-color-focusbar) !important;
  bottom: var(--zehn-size-focusbar-spacing) !important;
  left: var(--zehn-size-focusbar-spacing) !important;
  right: var(--zehn-size-focusbar-spacing) !important;
  height: var(--zehn-size-focusbar) !important;
  opacity: 0 !important;
  display: none !important;
}

._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7._1v65xCmMo53Ju6vCXk4U0_:before {
  opacity: 1 !important;
  display: none !important;
}

// TOGGLE FILTERS PANE OVERLAY
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1dgAMymUAUYzUcZjUjOFm7 ._1kYo6lsIPsf-T5NiVRHiDO {
  position: absolute !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// FILTERS PANE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER - HIDE IF SEARCH IS HIDDEN
.Woh0kBQCmatzC1daBX9i6 {
  display: none !important;
  border-radius: var(--zehn-size-radius-none) !important;
  transform: none !important;
  left: var(--zehn-size-library-sidebar-filters) !important;
  top: calc(var(--zehn-size-library-sidebar-filters) * -1) !important;
  height: calc(100vh - var(--zehn-size-navbar) - 2px) !important;
  max-height: none !important;
  transition: opacity 0.2s var(--zehn-timing-ease) !important;
  background-color: var(--zehn-color-acrylic) !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
  background-size: auto !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
}

.zehnSearchOpened .Woh0kBQCmatzC1daBX9i6 {
  display: block !important;
}

// INNER CONTAINER
._170Npw5h84elypMSQ8zNDI {
  gap: var(--zehn-size-settings-section-gap) !important;
  padding: var(--zehn-size-padding-xl) !important;
  width: auto !important;
}

// HEADER TITLE
._170Npw5h84elypMSQ8zNDI .DialogHeader._2DTdZVPQmiXaVGuTTpV7Ai {
  color: var(--zehn-color-text-page-header) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-page-header) !important;
  line-height: var(--zehn-size-settings-header) !important;
  padding: 0px !important;
  display: none !important;
}

// TOP SECTION
._170Npw5h84elypMSQ8zNDI ._3FlsAzLvcsTWnS5TFaZB2X {
  grid-gap: var(--zehn-size-settings-section-gap) !important;

  // lEFT INNER SECTION
  ._1ennWu_xj2YF8FRYgJ2M2H {
    grid-gap: var(--zehn-size-settings-section-gap) !important;
    flex-grow: 4 !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }

  // RIGHT INNER SECTION
  ._1axoiZsC1RBp22JQmxiBIc._3nQBi39IEhhyu-6hqui5Fp {
    flex-grow: 1 !important;
  }
}

// BOTTOM SECTION
._170Npw5h84elypMSQ8zNDI .SHc3wTNfO8Te6rT8PtwYW {
  gap: var(--zehn-size-settings-section-gap) !important;
  display: flex !important;
  flex-direction: column !important;
}

// ACCESSIBILITY OPTIONS SECTION
._170Npw5h84elypMSQ8zNDI ._1ennWu_xj2YF8FRYgJ2M2H {
  gap: var(--zehn-size-settings-section-gap) !important;
  display: flex !important;
}

// CONTROL GROUP
._170Npw5h84elypMSQ8zNDI ._1axoiZsC1RBp22JQmxiBIc {
  flex-grow: 1 !important;
  gap: var(--zehn-size-settings-group-gap) !important;

  // SECTION
  ._3iV2vMTw_vwWJ_gmiz1Q1k {
    color: var(--zehn-color-text-label) !important;
    font-weight: var(--zehn-weight-normal) !important;
    font-size: var(--zehn-size-text-label) !important;
    line-height: var(--zehn-size-settings-label) !important;
    margin: 0px !important;
  }

  // CHECKBOXES
  ._32e6rHniKd5ztOQ1lYIulu {  
    padding: 0px !important;
    display: grid !important;
    gap: var(--zehn-size-settings-group-gap) !important;

    &:empty {
      display: none !important;
    }

    // CHECKBOX
    ._1J53P1yXTWlwJRyCAzMQei {
      padding: 0px !important;
    }
  }
}

// UPPER DROPDOWNS
._2J170P0ckFcUIlsDU13MLS {
  margin: 0px !important;
  font-size: var(--zehn-size-14) !important;
}

// FILTERS PANE TAGS
._2DZ22hi3bSpiIOoroFSaO_ ._172OFJhtx4Jt2ydY6-9IUm {
  margin: var(--zehn-size-settings-group-gap) 0px 0px 0px !important;
}

// TAGS DROPDOWNS
._170Npw5h84elypMSQ8zNDI ._1axoiZsC1RBp22JQmxiBIc .DialogInput_Wrapper {
  margin: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  max-width: 100% !important;
  min-width: 100% !important;
}

// TAGS GROUP EMPTY
._1axoiZsC1RBp22JQmxiBIc.L_Z0sLWyOThKzpfzT4KFH._23rzpJNIDNdJPzvQGx4_ch:has(._172OFJhtx4Jt2ydY6-9IUm:empty) {
  display: none !important;
}

// BOTTOM BUTTONS
._2GVYKKA0-FikD4ejRjx1Oh {
  gap: var(--zehn-size-dialog-button-gap) !important;
  margin: 0px !important;
}

._2GVYKKA0-FikD4ejRjx1Oh ._1bqGAcZx1C71VYj14hz0po svg.SVGIcon_DynamicCollection {
  display: none !important;
  -webkit-mask-image: var(--zehn-icon-lightning) !important;
}

// VIEW ACCESSIBILITY
._2GVYKKA0-FikD4ejRjx1Oh ._3TbvbA43LhIlIEKsH7eqhI::after {
  content: "" !important;
  display: block !important;
  margin: 0px !important;
  transform: none !important;
  height: var(--zehn-size-icon-sm) !important;
  width: var(--zehn-size-icon-sm) !important;
  background-color: var(--zehn-color-icon3) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-sm) !important;
  -webkit-mask-image: var(--zehn-icon-chevron-down-thick) !important;
}

._2GVYKKA0-FikD4ejRjx1Oh ._3TbvbA43LhIlIEKsH7eqhI[aria-expanded=true]::after {
  -webkit-mask-image: var(--zehn-icon-chevron-up-thick) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~