// SIDEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._9sPoVBFyE_vE87mnZJ5aB {
  --sidebar-width: calc(var(--zehn-size-library-sidebar) * 5);
  max-width: min(50%, 100% - var(--sidebar-width)) !important;
  min-width: var(--sidebar-width) !important;
  transition: scaleX 0.2s var(--zehn-timing-ease) !important;
  z-index: 800 !important;
}

.Linux ._9sPoVBFyE_vE87mnZJ5aB {
  --sidebar-width: calc(var(--zehn-size-library-sidebar) * 6);
}

// HIDE IN THEATER MODE
.zehnTheaterMode ._9sPoVBFyE_vE87mnZJ5aB,
.Linux .zehnTheaterMode ._9sPoVBFyE_vE87mnZJ5aB {
  width: 0px !important;
  max-width: 0px !important;
  min-width: 0px !important;
  visibility: hidden !important;
  transform: scaleX(0) !important;
}

// INNER CONTAINER
._3x1HklzyDs4TEjACrRO2tB {
  background: transparent !important;
}

// SECTIONS
._20QAC4WMXm8qFE8waUT5oo,
._1ijTaXJJA5YWl_fW2IxcaT,
._1ZS_xta5HMXzR8JgxDH6n7,
._1fbRpYO_BFDlMdFLsQMGVE {
  background: transparent !important;
}

@media (prefers-contrast: more) {
  ._20QAC4WMXm8qFE8waUT5oo,
  ._1ijTaXJJA5YWl_fW2IxcaT,
  ._1ZS_xta5HMXzR8JgxDH6n7,
  ._1fbRpYO_BFDlMdFLsQMGVE {
    background: transparent !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// BUTTON BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HOME BAR (EVERYTHING MOVED OUT INTO SEARCH BAR)
._2TKEazUUS3TlniZfpc8OOe {
  background-color: transparent !important;
  padding: 0px !important;
  margin: 0px !important;
  height: var(--zehn-size-library-sidebar) !important;
  max-height: var(--zehn-size-library-sidebar) !important;
  order: 2 !important;
  flex: 2 !important;
  display: none !important;
}

// FILTERS BAR (EVERYTHING MOVED OUT INTO SEARCH BAR)
._1ZS_xta5HMXzR8JgxDH6n7 ._36r2az6roul_Oej7D4BMI6 {
  margin: 0px !important;

  ._1PgAonvorr0o_NMxNKiDFU {
    margin: 0px !important;
    width: 100% !important;
  }
}

// DROPDOWN BAR (CONTAINER THAT EVERYTHING IS MOVED INTO)
._1ZS_xta5HMXzR8JgxDH6n7 {
  padding: 0px !important;
  flex-direction: row !important;
  max-height: var(--zehn-size-library-sidebar) !important;
  z-index: 10 !important;
}

// SEARCH BUTTON
#zehnToggleSidebarSearch .zehnIcon {
  -webkit-mask-image: var(--zehn-icon-search);
}

.zehnToggled#zehnToggleSidebarSearch::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: block;
  position: absolute;
}

// HIDE SEARCH BUTTON WHEN SCROLLED
._2WgQEFvIzJw_SHNGbjtRFU:has(.uE7Pj4tb2n3_Bx4vjEX0a.rkfSfuCLRt8sqpkXJqxYo) #zehnToggleSidebarSearch {
  display: none !important;
}

// CATEGORY INNER LINK
._3pSPluBgf0NeR1kkCLWMhR,
._3pSPluBgf0NeR1kkCLWMhR._30KGSfPjPskFlnrSxBfkiK {
  color: inherit !important;
  border: unset !important;
  font-size: inherit !important;
  font-weight: var(--zehn-weight-normal) !important;
  text-align: center !important;
  line-height: var(--zehn-size-library-sidebar) !important;
  margin: auto !important;
  min-width: fit-content !important;
  width: fit-content !important;
  height: fit-content !important;
  flex: 0 !important;
  box-sizing: border-box !important;
  border-radius: inherit !important;
  transition: none !important;
  background: transparent !important;
}

// SHOWCASES CATEGORY TITLE
._3AhYljPF4e4E8LaBt-FoY0 {
  // TITLE
  ._3O48LaKWcabKx07xdrt1TH {
    color: transparent !important;
    font-size: inherit !important;
    font-weight: inherit !important;
    margin: auto !important;
    display: none !important;
  }

  // ICON WRAPPER
  ._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
    width: fit-content !important;
    height: fit-content !important;
    -webkit-mask-image: none !important;
    position: relative !important;
  }
}

// COLLECTIONS CATEGORY OUTER WRAPPER
._2CEKFex6JMsAse2lqMMjUp {
  // OUTER WRAPPER
  .xeuK3OqQYpIbPs1mCIS0k {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    height: 100% !important;
  }

  // NON-SVG ICON INNER
  .nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56 {
    background: transparent !important;
    opacity: 0 !important;
    display: none !important;
  }
}

// SELECTED CATEGORY
._3AhYljPF4e4E8LaBt-FoY0:has(.eNLOx4LVceeMwRvTVWh3)::after,
._2CEKFex6JMsAse2lqMMjUp:has(.eNLOx4LVceeMwRvTVWh3)::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: block;
  position: absolute;
}

// SELECTED QUICK FILTER
._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq::after {
  content: "";
  bottom: var(--zehn-size-focusbar-spacing);
  left: var(--zehn-size-focusbar-spacing);
  right: var(--zehn-size-focusbar-spacing);
  height: var(--zehn-size-focusbar);
  background-color: var(--zehn-color-focusbar);
  display: block;
  position: absolute;
}

// ICONS
.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow {
  -webkit-mask-image: var(--zehn-icon-arrow-up) !important;
}

._3AhYljPF4e4E8LaBt-FoY0 ._1ooROmAgkhoBH_o65yl9dJ svg {
  position: relative !important;
  -webkit-mask-image: var(--zehn-icon-library) !important;
}

._2CEKFex6JMsAse2lqMMjUp .nC-pL16iUnIRcaj1UVnwq {
  -webkit-mask-image: var(--zehn-icon-tag-group) !important;
}

._3mzKdQXht__YHo6PX1LmB6 .SVGIcon_LinuxLogo2 {
  -webkit-mask-image: var(--zehn-icon-os-linux) !important;
}

._3mzKdQXht__YHo6PX1LmB6 .SVGIcon_SortBy {
  -webkit-mask-image: var(--zehn-icon-recent) !important;
}

._3mzKdQXht__YHo6PX1LmB6 .SVGIcon_ReadyToPlay {
  -webkit-mask-image: var(--zehn-icon-ready) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~