// SOUNDTRACK ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// SOUNDTRACK CONTAINER
._23zCI_59RJTWRvY-_YCFb9 {
  background: transparent !important;
  overflow: hidden !important;
  --cover-size: 256px;
  --header-padding: var(--zehn-size-padding-md);
  --header-size: calc(var(--cover-size) + (2 * var(--header-padding)));
}

.ShortRightPanel ._23zCI_59RJTWRvY-_YCFb9,
.NarrowRightPanel ._23zCI_59RJTWRvY-_YCFb9 {
  --cover-size: 192px;
}

.UltraNarrowRightPanel ._23zCI_59RJTWRvY-_YCFb9,
.NarrowRightPanel.ShortRightPanel ._23zCI_59RJTWRvY-_YCFb9,
.UltraNarrowRightPanel.ShortRightPanel ._23zCI_59RJTWRvY-_YCFb9 {
  --cover-size: 128px;
}

// SECTION CONTAINERS
._1c7FWVusLDkD_Lv6ZB0uTY,
._26bNl_GrQVxUbLj1KjGJQN {
  max-height: 100% !important;
  padding: var(--zehn-size-navbar) 0px 0px 0px !important;
}

// BACKGROUND IMAGE (ABSOLUTE PLACEMENT
._26bNl_GrQVxUbLj1KjGJQN ._3JZ9bzoPhr9prUKdYatsP1 {
  filter: none !important;
  -webkit-mask-image: none !important;
  opacity: 1 !important;
  background-image: url() !important;
  display: flex !important;
  align-self: flex-start !important;
  height: 100% !important;
  width: 100% !important;
  background: var(--zehn-color-detail) !important;
  overflow: hidden !important;
}

._26bNl_GrQVxUbLj1KjGJQN ._3JZ9bzoPhr9prUKdYatsP1 ._24_AuLm54JVe1Zc0AApCDR._3d_bT685lnWotXxgzKW6am.yDr03475kalWBTwAE-Rnw {
  height: 100% !important;
  object-fit: fill !important;
  width: 100% !important;
  filter: var(--zehn-transparency-effects-acrylic-filter) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTENT AND CONTROLS CONTAINER
._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 {
  gap: var(--zehn-size-spacing-md) !important;
  position: relative !important;
}

// ART/INFO AND LIST CONTAINER
._393gBUUVx8Ht-PBIqDGAT0 {
  gap: 0px !important;
  margin: 0px !important;
  flex-direction: column !important;
  height: 100% !important;
}

// SECTION CONTAINERS
._22Q27ULX8FrTAxrt3fLxn1 ._23WS1avBGZoqC160AY_xbC,
._22Q27ULX8FrTAxrt3fLxn1 ._1s3EpCtCwCVJ-7hbeqJeWw {
  margin: 0px !important;
}

._22Q27ULX8FrTAxrt3fLxn1:has(._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-) ._23WS1avBGZoqC160AY_xbC,
._22Q27ULX8FrTAxrt3fLxn1:has(._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-) ._1s3EpCtCwCVJ-7hbeqJeWw {
  margin: 0px !important;
}

._22Q27ULX8FrTAxrt3fLxn1:has(._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-._1TepSfc9yip4R-gEXkdeW7) ._23WS1avBGZoqC160AY_xbC,
._22Q27ULX8FrTAxrt3fLxn1:has(._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-._1TepSfc9yip4R-gEXkdeW7) ._1s3EpCtCwCVJ-7hbeqJeWw {
  margin: 0px !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// ART AND INFO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 ._23WS1avBGZoqC160AY_xbC {
  margin: 0px !important;
  padding: var(--header-padding) !important;
  gap: var(--zehn-size-spacing-md) !important;
  width: 100% !important;
  max-width: 100% !important;
  flex-basis: 0 0 var(--header-size) !important;
  display: block !important;

  &::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    inset: 0px;
    backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
    background-color: var(--zehn-color-section-acrylic-focus) !important;
    background-blend-mode: exclusion !important;
  }

  &::after {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    inset: 0px;
    background-blend-mode: exclusion !important;
    background-size: auto !important;
    background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
  }

  // WITH CONTROLS
  &._1FCpck1rF6v7gFKIuYrEO2 {
    overflow: hidden !important;
    flex-direction: row !important;
    -webkit-mask-image: none !important;
    box-sizing: border-box !important;
    position: relative !important;
  }
}

// INNER CONTAINER
._4f23lVS-5qWUNLy1QTm12 {
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  flex: 1 !important;

  // SECTIONS WRAPPER
  ._1NbxLEcEzNVpZ0TY7ONgs1 {
    margin: 0px !important;
    gap: var(--zehn-size-spacing-sm) !important;
    flex-direction: row !important;

    // ART COVER
    ._1R0eEV6Mxu9G0FnF8g9vNI {
      border: none !important;
      margin: 0px !important;
      width: var(--cover-size) !important;
      min-width: var(--cover-size) !important;
      max-width: var(--cover-size) !important;
      height: var(--cover-size) !important;
      min-height: var(--cover-size) !important;
      max-height: var(--cover-size) !important;
      filter: none !important;
    }

    // INFG
    .aLyDPzJq_82jGJ-J9Rt-e {
      display: flex !important;
      flex-direction: column !important;
      gap: 0px !important;
      overflow: hidden !important;

      // ALBUM NAME
      .oW5xvEBArmBDwEZHO3Xip {
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-thinnest) !important;
        font-size: var(--zehn-size-18) !important;
        letter-spacing: normal !important;
        line-height: normal !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
      }

      // ARTIST (IF ANY)
      ._2bTdSZveC7h_neiBX4DAsa {
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-thickest) !important;
        font-size: var(--zehn-size-14) !important;
        line-height: var(--zehn-size-16) !important;
        margin: 0px !important;
        white-space: nowrap !important;
        text-overflow: ellipsis !important;
        overflow: hidden !important;
      }

      // STATS CONTAINER
      ._3pUBuow3l77PePfy29VBT1 {
        gap: var(--zehn-size-spacing-xs) !important;
        padding: 0px !important;
        margin-top: var(--zehn-size-spacing-md) !important;
        flex-direction: column !important;

        // UPPER
        .U5mqC7lpyyMHMud-eUx7g {
          color: var(--zehn-color-text3) !important;
          font-weight: var(--zehn-weight-normal) !important;
          font-size: var(--zehn-size-12) !important;
          line-height: var(--zehn-size-16) !important;

          &:not(:has(._3C_pTK3Ed-6j5P02srRHtc)) {
            display: none !important;
          }

          // SOUNDTRACK FOR
          ._2pcGGedg89N3zrMcv-eZWQ {
            margin: 0px !important;
            line-height: inherit !important;
            color: inherit !important;
            font-size: var(--zehn-size-10) !important;
            font-weight: inherit !important;
          }

          // GAME LINK
          ._3C_pTK3Ed-6j5P02srRHtc {
            margin: 0px !important;
            line-height: inherit !important;
            font-weight: inherit !important;
            font-size: inherit !important;
            white-space: nowrap !important;
            text-overflow: ellipsis !important;
            overflow: hidden !important;

            // ICON WRAPPER
            .Pc5ZAWD5Eri1SMZssDKF {
              border-radius: var(--zehn-size-radius-none) !important;
              margin: 0px !important;
              display: none !important;
              opacity: 1 !important;
            }
          }
        }

        // LOWER
        .J_w15AskfksVz-60nWbt1 {
          color: var(--zehn-color-text3) !important;
          font-weight: var(--zehn-weight-normal) !important;
          font-size: var(--zehn-size-10) !important;
          line-height: var(--zehn-size-16) !important;

          // TRACK COUNT / DURATION
          ._1qxAZ5njELpy8pmAAHvi1d {
            line-height: inherit !important;
            color: var(--zehn-color-text1) !important;
            font-weight: inherit !important;
            font-size: var(--zehn-size-12) !important;
          }
        }
      }
    }
  }
}

// BROWSE LOCAL FILES BUTTON
._23WS1avBGZoqC160AY_xbC>.Panel {
  display: flex !important;
  position: absolute !important;
  right: var(--header-padding) !important;
  bottom: var(--header-padding) !important;

  // BUTTON
  ._2TWHMJvrhtyyuTse9Rqwps {
    align-self: flex-end !important;
  }

  // DIVIDER
  ._2n7O9OG6PXcnAjWbL2XYBq {
    height: 0px !important;
    display: none !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TRACK LIST ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1:has(._1TepSfc9yip4R-gEXkdeW7) ._1s3EpCtCwCVJ-7hbeqJeWw._1FCpck1rF6v7gFKIuYrEO2 {
  --controls-height: 80px;
}

.ShortRightPanel ._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1:has(._1TepSfc9yip4R-gEXkdeW7) ._1s3EpCtCwCVJ-7hbeqJeWw._1FCpck1rF6v7gFKIuYrEO2 {
  --controls-height: 48px;
}

.ShortRightPanel ._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 ._1s3EpCtCwCVJ-7hbeqJeWw._1FCpck1rF6v7gFKIuYrEO2 {
  --controls-height: 96px;
}

// CONTAINER
._1c7FWVusLDkD_Lv6ZB0uTY ._22Q27ULX8FrTAxrt3fLxn1 ._1s3EpCtCwCVJ-7hbeqJeWw {
  border: unset !important;
  background: transparent !important;
  overflow-y: hidden !important;
  width: 100% !important;
  max-width: 100% !important;
  border-radius: var(--zehn-size-radius-none) !important;
  --controls-height: 0px;

  &::before {
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    inset: 0px 0px var(--controls-height) 0px;
    background: var(--zehn-color-base);
  }

  // WITH CONTROLS
  &._1FCpck1rF6v7gFKIuYrEO2 {
    --controls-height: 128px;
  }

  // LIST WRAPPER
  ._1Rrhq0ynyX66fxOi1wUNXv {
    padding: var(--zehn-size-padding-md) var(--zehn-size-padding-md) calc(var(--zehn-size-padding-md) + var(--controls-height)) var(--zehn-size-padding-md) !important;
    border-radius: var(--zehn-size-radius-none) !important;
    min-height: 100% !important;
    box-sizing: border-box !important;

    // DISK NUMBER
    ._17Yl1Gv8pnM24mkeAW_ZF4 {
      background: transparent !important;
      padding: 0px var(--zehn-size-soundtrack-list) !important;
      color: var(--zehn-color-text3) !important;
      font-weight: var(--zehn-weight-normal) !important;
      font-size: var(--zehn-size-12) !important;
      line-height: var(--zehn-size-soundtrack-list) !important;
    }

    // TRACK CONTAINER
    ._2c5PPSgndVK0fC-zcQwubR {
      padding: 0px !important;
      border-radius: var(--zehn-size-radius-none) !important;
      color: var(--zehn-color-text1) !important;
      line-height: var(--zehn-size-soundtrack-list) !important;
      background: transparent !important;
      transition: transform 0.05s var(--zehn-timing-ease) !important;

      &:active {
        transform: scale(0.98) !important;
      }

      // PLAYING
      &.jMohEdKMbTUO-MRL-I83g {
        .NZZPOD0T7YytUKqBD86-5 {
          color: var(--zehn-color-accent) !important;
        }

        .JpRLQyCHsyiOTbMNjMVXb {
          color: var(--zehn-color-accent) !important;
        }

        ._157ufChU0AaFX9p5agZHqq {
          color: var(--zehn-color-accent) !important;
        }
      }

      // TRACK NUMBER
      .NZZPOD0T7YytUKqBD86-5 {
        box-sizing: border-box !important;
        width: var(--zehn-size-soundtrack-list) !important;
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-14) !important;
        padding: 0px var(--zehn-size-padding-md) 0px 0px !important;
        border-radius: var(--zehn-size-radius-none) !important;
        background: transparent !important;
      }

      // TRACK TITLE
      .JpRLQyCHsyiOTbMNjMVXb {
        padding: 0px !important;
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-14) !important;
        background: transparent !important;
      }

      // TRACK DURATION
      ._157ufChU0AaFX9p5agZHqq {
        padding: 0px var(--zehn-size-padding-md) !important;
        color: var(--zehn-color-text1) !important;
        font-weight: var(--zehn-weight-normal) !important;
        font-size: var(--zehn-size-12) !important;
        background: transparent !important;
      }
    }

    .Panel:nth-child(odd) {
      background-color: var(--zehn-color-playlist-odd) !important;

      &:hover {
        background-color: var(--zehn-color-playlist-odd-hover) !important;
      }

      &:active {
        background-color: var(--zehn-color-playlist-odd-active) !important;
      }
    }

    .Panel:nth-child(even) {
      background-color: var(--zehn-color-playlist-even) !important;

      &:hover {
        background-color: var(--zehn-color-playlist-even-hover) !important;
      }

      &:active {
        background-color: var(--zehn-color-playlist-even-active) !important;
      }
    }
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTROLS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._5ZEYSTRBHDswDtriduXW0 {
  bottom: 0px !important;
  left: 0px !important;
  transform: none !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  height: fit-content!important;
  max-height: fit-content !important;
  padding: var(--zehn-size-padding-md) var(--zehn-size-padding-md) 0px var(--zehn-size-padding-md) !important;
  margin: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  backdrop-filter: none !important;
  gap: 0px !important;
  box-sizing: border-box !important;
  background: var(--zehn-color-detail) !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
  background-size: auto !important;
  background-image: var(--zehn-transparency-effects-acrylic-texture) !important;
  justify-content: space-between !important;
}

._3DLyrg7YP5cNP9HKda62qd,
._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-,
._3DLyrg7YP5cNP9HKda62qd.P6adL1ZYIyVNXuByQu_4-._1TepSfc9yip4R-gEXkdeW7 {
  padding: 0px !important;
  gap: var(--zehn-size-spacing-md) !important;
  margin: 0px !important;
}

// CONTROLS AND TIMELINE
._3DLyrg7YP5cNP9HKda62qd {

  // TIMELINE
  .P_NVQ7KUOfqYaa_SwWOpS {
    --timeline-height: var(--zehn-size-32);
    gap: var(--zehn-size-spacing-xs) !important;
    padding: 0px !important;
    margin: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    height: var(--timeline-height) !important;

    // TIME
    .zE2L2bJ9nmo_JVcTMIz55 {
      color: var(--zehn-color-text1) !important;
      font-weight: var(--zehn-weight-normal) !important;
      font-size: var(--zehn-size-12) !important;
      flex: 0 !important;
      padding: 0px !important;
      line-height: var(--timeline-height) !important;
      height: var(--timeline-height) !important;
      min-width: var(--timeline-height) !important;
      text-align: center !important;
    }

    &::after {
      content: "--:--";
      position: relative;
      display: block;
      height: var(--timeline-height);
      width: var(--timeline-height);
      color: var(--zehn-color-text1);
      font-weight: var(--zehn-weight-normal);
      font-size: var(--zehn-size-12);
      line-height: var(--timeline-height);
    }
  }

  // BUTTONS AND VOLUME
  .gjP9WbEr6MS7VnS1zdyvb {
    height: fit-content !important;
    align-self: unset !important;
    gap: var(--zehn-size-spacing-md) !important;
    align-items: center !important;

    &.HqwlEGHhcQCe1_0utna2Z {
      flex-direction: row !important; 
    }

    // BUTTONS
    ._2U3M1lpKcsYHqfjiz77PQs {
      gap: var(--zehn-size-spacing-sm) !important;
      min-width: fit-content !important;
      position: relative !important;
      left: 0px !important;
      transform: none !important;

      // BUTTON
      ._1iFnR7cGRa1kepep433pGx {
        color-scheme: inherit !important;

        // OFFSET LARGE CENTER
        &.Upr_VRmq8Pb8RWegwuVYb {
          margin: calc(-1 * ((var(--zehn-size-button-lg) - var(--zehn-size-button-md)) / 2)) 0px !important;
        }

        // SHUFFLE
        &:nth-of-type(1) svg {
          -webkit-mask-image: var(--zehn-icon-shuffle) !important;
        }

        // PREVIOUS
        &:nth-of-type(2) svg {
          -webkit-mask-image: var(--zehn-icon-previous) !important;
        }

        // PLAY
        &:nth-of-type(3) svg {
          -webkit-mask-image: var(--zehn-icon-play) !important;

          // PAUSE
          &:has(path[d="M14.5 30.5a1 1 0 0 1-1 1h-6a1 1 0 0 1-1-1v-25a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v25Zm15-25a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v25a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-25Z"]) {
            -webkit-mask-image: var(--zehn-icon-pause) !important;
          }
        }

        // NEXT
        &:nth-of-type(4) svg {
          -webkit-mask-image: var(--zehn-icon-next) !important;
        }

        // REPEAT
        &:nth-of-type(5) svg {
          -webkit-mask-image: var(--zehn-icon-refresh) !important;

          // REPEAT ONE
          &:has(path[d="M17.63 11.24v9.594h-3.656V11.24h3.656Zm5.103-3.167v3.583L31 5.828 22.733 0v3.583H7.625C3.426 3.583 0 6.887 0 10.936v6.083h4.656v-6.083c0-1.57 1.34-2.863 2.968-2.863h15.109ZM8.268 23.927v-3.583L0 26.172 8.268 32v-3.583h15.107c4.199 0 7.625-3.304 7.625-7.353v-6.083h-4.656v6.083c0 1.57-1.34 2.863-2.968 2.863H8.268Z"]) {
            -webkit-mask-image: var(--zehn-icon-repeat-one) !important;
          }
        }
      }
    }
  }

  // VOLUME
  ._1AJ4um4afrf4IzK9Sg4jPH {
    padding: 0px !important;
    border-radius: var(--zehn-size-radius-none) !important;
    gap: var(--zehn-size-settings-control-gap) !important;
    right: 0px !important;
    height: 100% !important;
    position: relative !important;

    ._2o2fXzn99OddeqZMjbDuxQ {
      flex-shrink: 1 !important;

      .SliderControlPanelGroup {
        width: 100% !important;
      }

      .SliderControlPanelGroup::before {
        content: "" !important;
        display: block !important;
        width: var(--zehn-size-icon-md) !important;
        height: var(--zehn-size-icon-md) !important;
        background-color: var(--zehn-color-icon1) !important;
        mask-repeat: no-repeat !important;
        mask-position: center !important;
        mask-size: var(--zehn-size-icon-md) !important;
        -webkit-mask-image: var(--zehn-icon-volume-3) !important;
        margin: 0px !important;
      }

      .GamepadSliderIcon {
        width: var(--zehn-size-icon-md) !important;
        height: var(--zehn-size-icon-md) !important;
        padding-left: 0px !important;

        svg {
          width: var(--zehn-size-icon-md) !important;
          height: var(--zehn-size-icon-md) !important;
          background-color: var(--zehn-color-icon1) !important;
          mask-repeat: no-repeat !important;
          mask-position: center !important;
          mask-size: var(--zehn-size-icon-md) !important;

          &[viewBox="0 0 32 32"] {
            -webkit-mask-image: var(--zehn-icon-volume-3) !important;
          }

          &[viewBox="0 0 36 36"] {
            -webkit-mask-image: var(--zehn-icon-volume-mute) !important;
          }

          * { display: none !important; }
        }
      }
    }
  }
}

// CURRENT TRACK
._286uzOE-G5HgTbSP5nd9Rb {
  padding: 0px !important;
  height: var(--current-size) !important;
  --current-size: var(--zehn-size-32);

  svg {
    height: var(--zehn-size-icon-md) !important;
    width: var(--zehn-size-icon-md) !important;
    margin-right: var(--zehn-size-spacing-xs) !important;
    color: transparent !important;
    background-color: var(--zehn-color-icon1) !important;
    mask-repeat: no-repeat !important;
    mask-position: center !important;
    mask-size: var(--zehn-size-icon-md) !important;
    -webkit-mask-image: var(--zehn-icon-audio) !important;
  }

  .JCQ7G4jnG5F4aZVtel49K {
    color: var(--zehn-color-text1) !important;
    font-size: var(--zehn-size-14) !important;
    font-weight: var(--zehn-weight-normal) !important;
    line-height: var(--current-size) !important;
  }
}

._286uzOE-G5HgTbSP5nd9Rb.JXeEbLiNJw-D9ri35lxd8 {
  display: flex !important;
}

.ShortRightPanel ._286uzOE-G5HgTbSP5nd9Rb {
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~