:root {
  --option-color-ingame: 35, 165, 90;
  --option-color-online: 35, 165, 90;
  --option-color-away: 240, 178, 50;
  --option-color-disturb: 242, 63, 67;
  --option-color-offline: 128, 132, 142;

  --option-color-accent: var(--SystemAccentColor-RGB, 210, 115, 138);
  --option-color-accent-lighten-light: var(--SystemAccentColorLight1-RGB, 215, 135, 154);
  --option-color-accent-lighten-medium: var(--SystemAccentColorLight2-RGB, 218, 157, 172);
  --option-color-accent-lighten-heavy: var(--SystemAccentColorLight3-RGB, 225, 186, 195);
  --option-color-accent-darken-light: var(--SystemAccentColorDark1-RGB, 203, 95, 121);
  --option-color-accent-darken-medium: var(--SystemAccentColorDark2-RGB, 204, 69, 102);
  --option-color-accent-darken-heavy: var(--SystemAccentColorDark3-RGB, 181, 56, 86);
  --option-color-accent-positive-light: var(--option-color-accent-lighten-light);
  --option-color-accent-positive-medium: var(--option-color-accent-lighten-medium);
  --option-color-accent-positive-heavy: var(--option-color-accent-lighten-heavy);
  --option-color-accent-negative-light: var(--SystemAccentColorDark1-RGB, 203, 95, 121);
  --option-color-accent-negative-medium: var(--option-color-accent-darken-medium);
  --option-color-accent-negative-heavy: var(--option-color-accent-darken-heavy);

  --option-color-white: 255, 255, 255;
  --option-color-gray: 127, 127, 127;
  --option-color-black: 0, 0, 0;

  --option-color-negative: var(--option-color-black);
  --option-color-positive: var(--option-color-white);

  --option-color-border: rgba(var(--option-color-negative), 0.45);

  --option-color-acrylic-rating: rgba(var(--option-color-positive), 0.5);
  --option-color-acrylic-overlay-dark: rgba(var(--option-color-positive), 0.65);
  --option-color-acrylic-overlay-medium: rgba(var(--option-color-positive), 0.5);
  --option-color-acrylic-overlay-light: rgba(var(--option-color-negative), 0.05);
  --option-color-acrylic-focus-window: rgba(var(--option-color-positive), 0.5);
  --option-color-acrylic-focus-dialog: rgba(var(--option-color-positive), 0.5);

  --option-color-background-primary: 255, 255, 255;
  --option-color-background-secondary: 230, 230, 230;
  --option-color-background-tertiary: 255, 255, 255;

  --option-color-window-client: rgb(var(--option-color-background-primary));
  --option-color-window-acrylic: rgb(var(--option-color-background-secondary));
  --option-color-window-dialog: rgb(var(--option-color-background-tertiary));

  --option-color-foreground-primary: 0, 0, 0;
  --option-color-foreground-secondary: 102, 102, 102;
  --option-color-foreground-tertiary: 153, 153, 153;

  --option-color-text-primary: rgb(var(--option-color-foreground-primary));
  --option-color-text-secondary: rgb(var(--option-color-foreground-secondary));
  --option-color-text-tertiary: rgb(var(--option-color-foreground-tertiary));

  --option-color-icon-primary: rgb(var(--option-color-foreground-primary));
  --option-color-icon-secondary: rgb(var(--option-color-foreground-secondary));
  --option-color-icon-tertiary: rgb(var(--option-color-foreground-tertiary));

  --option-color-close-hover: 232, 18, 35;
  --option-color-close-pressed: 241, 112, 121;

  --option-color-context-background: 242, 242, 242;
  --option-color-context-border: 204, 204, 204;

  --option-color-switch-border-active: 70, 70, 70;
  --option-color-switch-fill-active: 102, 102, 102;

  --option-color-input: var(--option-color-window-acrylic);

  --option-color-button-dialog-background: rgba(var(--color-negative), 0.2);
  --option-color-button-dialog-background-hover: rgba(var(--color-negative), 0.3);
  --option-color-button-dialog-background-active: rgba(var(--color-negative), 0.4);
  --option-color-button-dialog-background-focus: rgba(var(--color-accent));
  --option-color-button-dialog-border: rgba(var(--color-negative), 0.0);
  --option-color-button-dialog-border-hover: rgba(var(--color-negative), 0.5);
  --option-color-button-dialog-border-active: rgba(var(--color-negative), 0.0);
  --option-color-button-dialog-border-focus: rgba(var(--color-negative), 0.0);

  --option-color-button-client-background: rgba(var(--color-negative), 0.0);
  --option-color-button-client-background-hover: rgba(var(--color-negative), 0.1);
  --option-color-button-client-background-active: rgba(var(--color-negative), 0.2);

  --option-color-input-dialog-background: rgba(var(--color-negative), 0.0);
  --option-color-input-dialog-background-hover: rgba(var(--color-negative), 0.0);
  --option-color-input-dialog-background-active: rgba(var(--color-negative), 0.3);
  --option-color-input-dialog-background-focus: rgb(var(--color-white));
  --option-color-input-dialog-border: rgba(var(--color-negative), 0.5);
  --option-color-input-dialog-border-hover: rgba(var(--color-negative), 0.65);
  --option-color-input-dialog-border-active: rgba(var(--color-negative), 0.5);
  --option-color-input-dialog-border-focus: rgb(var(--color-accent));
  --option-color-input-dialog-text: rgb(var(--option-color-foreground-primary));
  --option-color-input-dialog-text-placeholder: rgb(var(--option-color-foreground-secondary));
  --option-color-input-dialog-text-focus: rgb(var(--color-black));

  --option-color-list-background: rgba(var(--color-negative), 0.0);
  --option-color-list-background-hover: rgba(var(--color-negative), 0.1);
  --option-color-list-background-active: rgba(var(--color-negative), 0.2);
  --option-color-list-background-focus: rgba(var(--color-negative), 0.2);

  --option-color-table-odd: rgba(var(--color-negative), 0.0);
  --option-color-table-even: rgba(var(--color-negative), 0.2);

  --option-color-selection: rgba(var(--color-negative), 0.0);
  --option-color-selection-hover: rgba(var(--color-negative), 0.65);
  --option-color-selection-active: rgb(var(--color-negative));

  --option-color-seperator: rgba(var(--color-negative), 0.2);
  --option-color-seperator-context: rgba(var(--color-negative), 0.4);

  --option-color-tag: rgba(var(--color-negative), 0.1);

  --option-color-progress-empty: rgba(var(--color-negative), 0.2);
  --option-color-progress-done: rgb(var(--color-accent));

  --option-color-tooltip-background: rgba(var(--color-negative), 0.17);
  --option-color-tooltip-border: rgba(var(--color-negative), 0.35);
  --option-color-tooltip-text-primary: rgb(var(--option-color-foreground-primary));
  --option-color-tooltip-text-secondary: rgb(var(--option-color-foreground-secondary));
}