/* ROUND AVATAR */
:root {
  --option-mask-avatar: var(--zehn-mask-avatar-round);
  --option-mask-avatar-status: var(--zehn-mask-avatar-round-status);
  --option-mask-avatar-status-mobile: var(--zehn-mask-avatar-round-status-mobile);
  --option-mask-avatar-status-deck: var(--zehn-mask-avatar-round-status-deck);
  --option-mask-avatar-status-vr: var(--zehn-mask-avatar-round-status-vr);
  --option-mask-avatar-status-bigpicture: var(--zehn-mask-avatar-round-status-bigpicture);
  --option-mask-avatar-roundness: 50%;
}