// OPEN GRAPH ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.ChatMessageOpenGraph {
  flex-wrap: wrap !important;
  display: flex !important;
  filter: none !important;
  box-sizing: border-box !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
  padding: var(--zehn-size-embed-padding) !important;
  max-width: var(--zehn-size-embed) !important;
  min-width: 0px !important;
  transition: background-color 0.2s var(--zehn-timing-ease) !important;
  gap: var(--zehn-size-embed-padding) !important;
  background: var(--zehn-color-embed-background) !important;
  border-radius: var(--zehn-size-embed-radius) !important;
  border-width: var(--zehn-size-embed-border) !important;
  border-style: solid !important;
  border-color: var(--zehn-color-embed-border) !important;

  &:hover {
    background-color: var(--zehn-color-embed-background-hover) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTENT CONTAINER
.ChatMessageOpenGraph .OpenGraphContent {
  display: flex !important;
  gap: var(--zehn-size-embed-padding) !important;
}

// HIDE EMPTY
.OpenGraphContent>div:empty {
  display: none !important;
}

// BACKGROUND BLUR IMAGE
.OpenGraphImgBackground {
  max-width: 100% !important;
  left: 0px !important;
  display: none !important;
}

.OpenGraphImgBackground .ChatMessageOpenGraph_Image {
  filter: var(--zehn-filter-defocus) !important;
  -webkit-mask-image: none !important;
  mask-image: none !important;
  display: none !important;
}

// IMAGE CONTAINER
.OpenGraphImgContainer {
  filter: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: var(--zehn-size-embed-image-radius) !important;
  background-color: transparent !important;
  max-height: 160px !important;
  max-width: 160px !important;
  min-width: 40px !important;
}

.ChatMessageOpenGraph_Image {
  background-color: var(--zehn-color-placeholder) !important;
  border-radius: var(--zehn-size-embed-image-radius) !important;
  max-height: 100% !important;
  max-width: 100% !important;
}

// BODY CONTAINER
.ChatMessageOpenGraph_Body {
  padding: 0px !important;
  gap: var(--zehn-size-spacing-xs) !important;
  display: flex !important;
  flex-direction: column !important;
  line-height: normal !important;
  align-self: center !important;
}

.ChatMessageOpenGraph_Title {
  font-size: var(--zehn-size-14) !important;
  line-height: var(--zehn-size-16) !important;

}

.ChatMessageOpenGraph_Description {
  margin: 0px !important;
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  line-height: var(--zehn-size-16) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~











// FOOTER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// FOOTER CONTAINER
.ChatMessageOpenGraph .OpenGraphFooter {
  margin: 0px !important;
  padding: var(--zehn-size-embed-inset-padding) !important;
  background: var(--zehn-color-embed-inset) !important;
  border-radius: var(--zehn-size-embed-inset-radius) !important;
  width: 100% !important;
  transform: none !important;
  gap: var(--zehn-size-spacing-xs) !important;
  position: relative !important;
  box-sizing: border-box !important;
  --footer-inner: var(--zehn-size-24);
}

.OpenGraphFooter .OpenGraphMessageURL {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  border: unset !important;
  margin: 0px !important;
  padding: 0px !important;
  background: transparent !important;
  border-radius: var(--zehn-size-radius-none) !important;
  text-overflow: ellipsis !important;
  min-width: 0px !important;
  order: 1 !important;
  flex-grow: 1 !important;
  line-height: var(--footer-inner) !important;
  align-self: center !important;
  max-width: 100% !important;
  max-height: 100% !important;
}

.OpenGraphMessageURLPosition {
  display: flex !important;
  gap: var(--zehn-size-spacing-xxs) !important;
  min-width: 0px !important;
}

.OpenGraphMessageURL_short,
.OpenGraphMessageURL_full {
  text-transform: none !important;
  max-height: 100% !important;
  height: 100% !important;
  align-self: center !important;
  align-content: center !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-12) !important;
  line-height: var(--footer-inner) !important;
  opacity: 1 !important;
  transform: none !important;
  transition: transform 0.2s var(--zehn-timing-ease) !important;
  position: relative !important;
  display: block !important;
  width: fit-content !important;
  min-width: fit-content !important;
  min-width: 0px !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  flex-shrink: 1 !important;
}

// SITE NAME
.OpenGraphMessageURL_short {
  color: var(--zehn-color-text1) !important;
}

// URL
.OpenGraphMessageURL_full {
  transform: none !important;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  background-color: transparent !important;
  color: var(--zehn-color-text3) !important;
}

// COPY BUTTON
.OpenGraphFooter .OpenGraphURLButton,
.OpenGraphFooter .OpenGraphURLButton.CopyToClipboard {
  order: 2 !important;
  z-index: 10 !important;
}

.OpenGraphFooter .OpenGraphURLButton .SVGIcon_Button.SVGIcon_CopyToClipboard {
  -webkit-mask-image: var(--zehn-icon-clipboard) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~