// BASE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.TabbedPopupBrowser,
.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Browser,
.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Guides,
.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_Discussions,
.C9tvuqqEXGcrkcAtHrQ_R._290hvyptb3mP0rOSaapjgZ.OverlayBrowser_DLC {
  padding: 0 !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// PINNED VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// HIDE URL BAR
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Browser ._26Gmfe09NRsnF7eprTZYdY,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Guides ._26Gmfe09NRsnF7eprTZYdY,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Discussions ._26Gmfe09NRsnF7eprTZYdY,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_DLC ._26Gmfe09NRsnF7eprTZYdY {
  display: none !important;
}

// HIDE TABS
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Browser .aqvbkhC1ejt4s8QvWA-c5,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Guides .aqvbkhC1ejt4s8QvWA-c5,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Discussions .aqvbkhC1ejt4s8QvWA-c5,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_DLC .aqvbkhC1ejt4s8QvWA-c5 {
  display: none !important;
}

// HIDE WINDOW CONTROLS
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Browser ._2O7tjQ9VWj5nhZ0y-pdpX2,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Guides ._2O7tjQ9VWj5nhZ0y-pdpX2,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_Discussions ._2O7tjQ9VWj5nhZ0y-pdpX2,
._2OoAjT3o0Ieng7ycuy86vZ.OverlayBrowser_DLC ._2O7tjQ9VWj5nhZ0y-pdpX2 {
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TITLEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BACKGROUND ACRYLIC
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::before,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::before {
  background: var(--zehn-color-section-acrylic) !important;
  transition: background-color 0.2s ease !important;
  backdrop-filter: var(--zehn-transparency-effects-acrylic-filter) !important;
  background-blend-mode: exclusion !important;
}

.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::before,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::before,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::before,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::before,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::before {
  background-color: var(--zehn-color-section-acrylic-focus) !important;
}

._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::after,
._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::after {
  opacity: 0;
  background-size: auto;
  background-image: var(--zehn-transparency-effects-acrylic-texture);
  transition: opacity 0.2s ease;
}

.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser::after,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser::after,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides::after,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions::after,
.WindowFocus._1UJDmU3N-pkv7oTJ_Zf9nK .C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC::after {
  opacity: var(--zehn-transparency-effects-acrylic);
}

// WINDOW TITLE (REMOVED ON TABS)
.C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser .title-area-children,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser .title-area-children,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Guides .title-area-children,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Discussions .title-area-children,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_DLC .title-area-children {
  color: var(--zehn-color-text-page-title) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-page-title) !important;
  line-height: var(--zehn-size-titlebar) !important;
  padding: var(--zehn-size-titlebar-text-padding) !important;
  min-width: fit-content !important;
  text-align: left !important;
}

.C9tvuqqEXGcrkcAtHrQ_R.TabbedPopupBrowser .title-area-children,
.C9tvuqqEXGcrkcAtHrQ_R.OverlayBrowser_Browser .title-area-children {
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TABS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.aqvbkhC1ejt4s8QvWA-c5 {
  margin: 0 !important;
  margin-right: auto !important;
  width: fit-content !important;
  overflow: hidden !important;
  -webkit-app-region: no-drag !important;
  z-index: 999 !important;
  order: 0 !important;
}

// IF TABS FAIL TO MOVE INTO TITLEBAR, WE NEED THEM ABSOLUTELY PLACED WITH MARGIN FOR WINDOW CONTROLS
.C9tvuqqEXGcrkcAtHrQ_R>.aqvbkhC1ejt4s8QvWA-c5 {
  position: absolute !important;
  max-width: calc(100% - (3 * var(--zehn-size-titlebar-control))) !important;
}

// MOVE TABS FORWARD SO REVEAL DOES NOT GO IN FRONT OF CURRENT TAB
.aqvbkhC1ejt4s8QvWA-c5>div {
  z-index: 10 !important;
}

// TAB
.aqvbkhC1ejt4s8QvWA-c5>div>.TSlxCkeUMGwzmg21_WU8- {
  padding: 0 var(--zehn-size-padding-xs) !important;
  width: var(--zehn-size-browser-tab) !important;
  max-width: var(--zehn-size-browser-tab) !important;
  height: var(--zehn-size-titlebar) !important;
  border: unset !important;
  background-color: var(--zehn-color-list-background) !important;

  &:hover {
    background-color: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background-color: var(--zehn-color-list-background-active) !important;
  }
}

// CURRENT TAB
.aqvbkhC1ejt4s8QvWA-c5>div>.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies,
.aqvbkhC1ejt4s8QvWA-c5>div>.TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies:is(:hover, :active) {
  background-color: var(--zehn-color-panel) !important;
  border: unset !important;
}

// SITE ICON
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- ._1O7mirpdHFHgqCX8g5wLX {
  height: var(--zehn-size-icon-md) !important;
  width: var(--zehn-size-icon-md) !important;
  padding: 0 !important;
  margin-right: var(--zehn-size-spacing-xs) !important;
}

// SITE TITLE
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- ._2RI6oQrDKUNzBqhIk4zI {
  color: var(--zehn-color-text3) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-14) !important;
  line-height: var(--zehn-size-titlebar) !important;
  width: auto !important;
  flex: 1 !important;
  min-width: 0 !important;
}

// SITE TITLE - COLOR ON HOVER AND CURRENT
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-:hover ._2RI6oQrDKUNzBqhIk4zI,
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies ._2RI6oQrDKUNzBqhIk4zI {
  color: var(--zehn-color-text1) !important;
}

// CLOSE TAB
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- ._2DQbopwR5aguhf6fXQO8dQ {
  transition: none !important;
  padding: 0 !important;
  height: var(--zehn-size-icon-md) !important;
  width: var(--zehn-size-icon-md) !important;
  flex-shrink: 0 !important;
  color: transparent !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-sm) !important;
  -webkit-mask-image: var(--zehn-icon-clear) !important;
  display: none !important;

  * { display: none !important; }
}

// CLOSE TAB - SHOW WHEN HOVER OR CURRENT
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-:hover ._2DQbopwR5aguhf6fXQO8dQ,
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8-._1W4bbifjEN3KdqKEhpmies ._2DQbopwR5aguhf6fXQO8dQ {
  display: block !important;
  margin-left: var(--zehn-size-spacing-xs) !important;
}

// NEW TAB
.aqvbkhC1ejt4s8QvWA-c5 .TSlxCkeUMGwzmg21_WU8- ._3j1xDQwp3Lvcn7_5RTTBYk {
  -webkit-mask-image: var(--zehn-icon-add) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// URL BAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// LIBRARY URL BAR PLACEHOLDER
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2 {
  display: none !important;
  background: transparent !important;
  height: 0 !important;
  min-height: 0 !important;
}

// BROWSER WINDOW AND LIBRARY
._26Gmfe09NRsnF7eprTZYdY,
.UkR3sY319PuaUNuUWks2K {
  height: var(--zehn-size-browser-urlbar) !important;
  max-height: var(--zehn-size-browser-urlbar) !important;
  padding: var(--zehn-size-browser-urlbar-margin) !important;
  background: var(--zehn-color-panel) !important;
  box-sizing: border-box !important;
  gap: var(--zehn-size-browser-urlbar-button-gap) !important;
}

// ONLY SHOW URL BAR ON DESKTOP IF ENABLED
.UkR3sY319PuaUNuUWks2K {
  display: var(--zehn-show-url-bar) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// URL BAR BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// MOVE HOMEPAGE AND BOOKMARK BUTTONS TO RIGHT SIDE OF URL AREA
._26Gmfe09NRsnF7eprTZYdY ._2UTNf-Ec4o5_3LPJtc2u7M:nth-of-type(5) {
  order: 80 !important;
}

._26Gmfe09NRsnF7eprTZYdY ._2UTNf-Ec4o5_3LPJtc2u7M:nth-of-type(4) {
  order: 90 !important;
}

// PREVIOUS BUTTON
._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M:nth-child(1) svg {
  -webkit-mask-image: var(--zehn-icon-direction-backwards) !important;
}

// NEXT BUTTON
._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M:nth-child(2) svg {
  -webkit-mask-image: var(--zehn-icon-direction-forwards) !important;
}

// RELOAD BUTTON (AND DESKTOP VERSION)
.UkR3sY319PuaUNuUWks2K ._3KaB94Jl4r0hFkthDPJy09 svg,
._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M:nth-child(3) svg {
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

// BOOKMARK BUTTON
._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M:nth-child(4) svg {
  -webkit-mask-image: var(--zehn-icon-favorite) !important;
}

._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M.WIb1FyHC1Tm7gOvbbiI2k:nth-child(4) svg {
  -webkit-mask-image: var(--zehn-icon-favorite-solid) !important;
}

// HOME BUTTON
._26Gmfe09NRsnF7eprTZYdY>._2UTNf-Ec4o5_3LPJtc2u7M:nth-child(5) svg {
  -webkit-mask-image: var(--zehn-icon-home) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// URL AREA ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// OUTER CONTAINER (LIBRARY AND WINDOW)
.UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt,
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS {
  background: transparent !important;
  border-radius: var(--zehn-size-radius-angular) !important;
  line-height: var(--zehn-size-browser-urlbar) !important;
  padding: 0 !important;
  margin: 0 var(--zehn-size-spacing-md) !important;
  flex-grow: 1 !important;
}

._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS::after {
  width: 0 !important;
  background: transparent !important;
}

// LIBRARY FAKE URL AREA - REMOVE MARGIN WHEN THERE IS NOTHING ON THE ENDS
.UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt:first-of-type {
  margin-left: 0 !important;
}

.UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt:last-of-type {
  margin-right: 0 !important;
}

// STATUS GLYPH PLACED INSIDE INPUT
.UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt ._3izqEKa-zuPIrUDSm1bRvf,
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._2EhCIqpK_2hHrWWZGEaYPk {
  --lock-margin: 1px;
  color: transparent !important;
  line-height: calc(var(--zehn-size-input-url) - (2 * var(--lock-margin))) !important;
  margin: var(--lock-margin) !important;
  width: calc(var(--zehn-size-input-url) - (2 * var(--lock-margin))) !important;
  height: calc(var(--zehn-size-input-url) - (2 * var(--lock-margin))) !important;
  position: absolute !important;
  z-index: 10 !important;
  background: var(--zehn-color-list-background) !important;

  &:hover {
    background: var(--zehn-color-list-background-hover) !important;
  }

  &:active {
    background: var(--zehn-color-list-background-active) !important;
  }
}

.UkR3sY319PuaUNuUWks2K ._3GFljPJsX8WvOJcPupy_RG {
  width: var(--zehn-size-icon-md) !important;
  height: var(--zehn-size-icon-md) !important;
  padding: 0 !important;
}

.UkR3sY319PuaUNuUWks2K ._3GFljPJsX8WvOJcPupy_RG svg,
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._2EhCIqpK_2hHrWWZGEaYPk svg {
  height: 100% !important;
  width: 100% !important;
  inset: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute !important;
  background-color: var(--zehn-color-icon3) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-md) !important;
  -webkit-mask-image: var(--zehn-icon-lock) !important;

  * { display: none !important; }
}

.UkR3sY319PuaUNuUWks2K ._3GFljPJsX8WvOJcPupy_RG:hover svg,
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._2EhCIqpK_2hHrWWZGEaYPk:hover svg {
  background-color: var(--zehn-color-icon1) !important;
}

// ADD SEPARATOR BETWEEN STATUS ICON AND URL
.UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt ._3izqEKa-zuPIrUDSm1bRvf::after,
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._2EhCIqpK_2hHrWWZGEaYPk::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: calc(-1 *  var(--zehn-size-separator));
  width: var(--zehn-size-separator);
  background: var(--zehn-color-separator);
  margin: var(--zehn-size-separator-margin) 0;
}

// URL AREA
._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS ._1W55urU2WazGofFzN0_jHB {
  padding: 0 !important;
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
  display: block !important;
}

._26Gmfe09NRsnF7eprTZYdY ._1d2NZ4Jt0wrdapfvDFhpVS:hover ._1W55urU2WazGofFzN0_jHB {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// HOST VIEW ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._22LPPg9PMLlPRAP1u7N5mb,
._3JV6-V6z0SKmNu6TlI1Bdr {
  background: transparent !important;
  margin: 0 !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~