// BASE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.VZ6x_grhNkIYJG__jEEyp {
  background: transparent !important;
  animation: none !important;
  border: none !important;
  overflow: hidden !important;
}

#zehnLogin {
  position: absolute;
  display: block;
  inset: 0px;
  width: 100%;
  height: 100%;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// TITLEBAR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

._37ANMR1DAeBJYXulW34A2S {
  height: var(--zehn-size-titlebar) !important;
  background-color: transparent !important;
}

.WindowFocus ._37ANMR1DAeBJYXulW34A2S {
  background-color: transparent !important;
}

// BACK
._3NHpq7ZDgg4uYEzUF9RxaQ {
  -webkit-mask-image: var(--zehn-icon-direction-backwards) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// CONTENT ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER - ACCOUNTS, SIGN-IN, REMOVE CONFIRMATION, PIN PROMPT
._27A5ub1QLLIMmgywKVMg4z,
.lat0M-V5X4uYd6Mpm1DJ1,
._2AWTxE1bvCb0Zj6Q6hSfH4,
._2WgC4qvD7Pit-l7Xld_YpU {
  padding: var(--zehn-size-dialog-padding) var(--zehn-size-padding-xl) !important;
  z-index: 999 !important;
  gap: var(--zehn-size-dialog-gap) !important;
  position: relative !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

// INNER CONTAINER
._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T,
._2AWTxE1bvCb0Zj6Q6hSfH4 ._29VQq5eE-j95L-SafIOc1T,
._2WgC4qvD7Pit-l7Xld_YpU ._29VQq5eE-j95L-SafIOc1T {
  padding: 0px !important;
}

// STEAM LOGO
._3v6WnuVNx1rJx0x_1AAyPp,
._2E_ejdBSC79L4iDC4FAMHY {
  margin: 0px !important;

  * {
    fill: var(--zehn-color-icon1) !important;
    stroke: transparent !important;
  }
}

._2E_ejdBSC79L4iDC4FAMHY {
  position: absolute !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// WHO'S PLAYING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// WRAPPER
._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk,
._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC,
._2AWTxE1bvCb0Zj6Q6hSfH4 ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk,
._2AWTxE1bvCb0Zj6Q6hSfH4 ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC,
._2WgC4qvD7Pit-l7Xld_YpU ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk,
._2WgC4qvD7Pit-l7Xld_YpU ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC {
  margin: 0px !important;
  justify-content: center !important;
}

// TITLE
._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk ._2OLQBEFErC3eaxHeD7--LU,
._27A5ub1QLLIMmgywKVMg4z ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC ._2OLQBEFErC3eaxHeD7--LU,
._2AWTxE1bvCb0Zj6Q6hSfH4 ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk ._2OLQBEFErC3eaxHeD7--LU,
._2AWTxE1bvCb0Zj6Q6hSfH4 ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC ._2OLQBEFErC3eaxHeD7--LU,
._2WgC4qvD7Pit-l7Xld_YpU ._29VQq5eE-j95L-SafIOc1T ._1Tsmp8q3Beodvix_OSedxk ._2OLQBEFErC3eaxHeD7--LU,
._2WgC4qvD7Pit-l7Xld_YpU ._29VQq5eE-j95L-SafIOc1T ._2AzA5jDyoM6tuEy24KKCVC ._2OLQBEFErC3eaxHeD7--LU {
  padding: 0 0 var(--zehn-size-spacing-xl) 0 !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-32) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// USERS CONTAINER
._3SxgWhoEWiasRtCutBmix- {
  gap: var(--zehn-size-dialog-gap) !important;
}

// NAME / ACCOUNT VISIBLE ON HOVER
._3iVOCDb8eFFTeqiopupsej,
._1448SH49Bc8Zr5Bzzc5qkt {
  pointer-events: none !important;
  transition: z-index 0.2s var(--zehn-timing-ease), box-shadow 0.2s var(--zehn-timing-ease), transform 0.2s var(--zehn-timing-ease), border 0.2s var(--zehn-timing-ease), opacity 0.2s var(--zehn-timing-ease) !important;
}

._3iVOCDb8eFFTeqiopupsej {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-18) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
  margin-top: var(--zehn-size-dialog-gap) !important;
  bottom: calc(-1 * var(--zehn-size-32)) !important;
}

 ._1448SH49Bc8Zr5Bzzc5qkt {
  padding: 0px !important;
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
  bottom: calc(-1 * (var(--zehn-size-32) + var(--zehn-size-24))) !important;
}

// USER CONTAINER
.l_0WJ2pzm_5Zp7gfT_UZz {
  flex: 0 1 var(--zehn-size-avatar-xl) !important;
  margin: 0px !important;
}

// USER / ADD
.l_0WJ2pzm_5Zp7gfT_UZz:focus ._3nhzM2H8Opkomzs5OG5oux,
.l_0WJ2pzm_5Zp7gfT_UZz:hover ._3nhzM2H8Opkomzs5OG5oux {
  border: none !important;
  transform: none !important;
}

._1mt2mPMVEDfpOhhWePy9hc:focus .IfVUbt19eXIqaAuGh2i63,
._1mt2mPMVEDfpOhhWePy9hc:hover .IfVUbt19eXIqaAuGh2i63 {
  border: none !important;
  transform: none !important;
}

// AVATAR
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux {
  opacity: 1 !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
  transition: box-shadow 0.2s var(--zehn-timing-ease), transform 0.2s var(--zehn-timing-ease), border 0.2s var(--zehn-timing-ease) !important;
  background-color: transparent !important;
  border: none !important;
}

.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>img,
.l_0WJ2pzm_5Zp7gfT_UZz ._3nhzM2H8Opkomzs5OG5oux>svg {
  border-radius: var(--zehn-avatar-shape) !important;
}

// ADD
._1mt2mPMVEDfpOhhWePy9hc {
  flex: 0 1 var(--zehn-size-avatar-xl) !important;
  position: relative !important;
}

._1mt2mPMVEDfpOhhWePy9hc::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  inset: 0px;
  background-color: var(--zehn-color-list-background);
  border-radius: var(--zehn-size-radius-circular);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.2s var(--zehn-timing-ease), opacity 0.2s ease;
}

._1mt2mPMVEDfpOhhWePy9hc:hover::before {
  background-color: var(--zehn-color-list-background-hover);
  transform: scale(1);
  opacity: 1;
}

._1mt2mPMVEDfpOhhWePy9hc:active::before {
  background-color: var(--zehn-color-list-background-active);
}

._1mt2mPMVEDfpOhhWePy9hc .IfVUbt19eXIqaAuGh2i63 {
  border: none !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  background: transparent !important;
  transition: box-shadow 0.2s var(--zehn-timing-ease), transform 0.2s var(--zehn-timing-ease), border 0.2s var(--zehn-timing-ease) !important;
}

._1mt2mPMVEDfpOhhWePy9hc .IfVUbt19eXIqaAuGh2i63>svg {
  padding: var(--zehn-size-padding-md) !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-xl) !important;
  -webkit-mask-image: var(--zehn-icon-add) !important;

* { display: none !important; }
}


// MORE OPTIONS BUTTON
.l_0WJ2pzm_5Zp7gfT_UZz:focus ._2Won3URVLVnF6h_AN8traN,
.l_0WJ2pzm_5Zp7gfT_UZz:hover ._2Won3URVLVnF6h_AN8traN {
  opacity: 1 !important;
}

._3nhzM2H8Opkomzs5OG5oux ._2Won3URVLVnF6h_AN8traN.DialogButton::before {
  content: "";
  z-index: -1;
  position: absolute;
  display: block;
  inset: 0px;
  background-color: transparent;
  border-radius: var(--zehn-size-radius-circular);
  transition: background-color 0.2s ease;
  opacity: 1;
}

._3nhzM2H8Opkomzs5OG5oux:hover ._2Won3URVLVnF6h_AN8traN.DialogButton::before {
  background-color: var(--zehn-color-panel);
}

._3nhzM2H8Opkomzs5OG5oux:hover ._2Won3URVLVnF6h_AN8traN._DialogLayout.DialogButton {
  transform: scale(1) !important;
  opacity: 1 !important;
}

._3nhzM2H8Opkomzs5OG5oux ._2Won3URVLVnF6h_AN8traN._DialogLayout.DialogButton {
  transform: scale(0) !important;
  opacity: 0 !important;
  transition: transform 0.2s var(--zehn-timing-ease), opacity 0.2s var(--zehn-timing-ease) !important;
}

._2Won3URVLVnF6h_AN8traN.DialogButton ._sGyh60_xjv7maN2X2ZXu svg {
  -webkit-mask-image: var(--zehn-icon-more) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// SIGN-IN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt,
.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt._1VAFgEYpKJDwl9aI8W5ctY {
  background: transparent !important;
  padding: 0 var(--zehn-size-padding-xl) !important;
  gap: var(--zehn-size-dialog-gap) !important;
}

// CREDENTIALS CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 .ZHRZ8czyqs7NaNmv65ARI {
  padding: 0px !important;
  margin: 0px !important;
}

// LEFT CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._2v60tM463fW0V7GDe92E5f {
  gap: var(--zehn-size-dialog-gap) !important;
}

// INPUT FIELDS
.lat0M-V5X4uYd6Mpm1DJ1 ._3BkiHun-mminuTO-Y-zXke {
  gap: 0px !important;
}

// LABEL
.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo {
  color: var(--zehn-color-text-control) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-control) !important;
  line-height: var(--zehn-size-24) !important;
  margin: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .XrYgea66b38RASmbI3PJo._12zBmIktqPpcwJXItTb8f9 {
  color: var(--zehn-color-text-control) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-control) !important;
}

// REMEMBER ME CHECKBOX
.lat0M-V5X4uYd6Mpm1DJ1 ._1Qku5jMXBi5-wawzqY1kzG {
  line-height: var(--zehn-size-24) !important;
  gap: var(--zehn-size-spacing-label) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1Qku5jMXBi5-wawzqY1kzG ._10bGilozn2bfCfiPfANMhC {
  padding: 0px !important;
  color: var(--zehn-color-text-label) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-label) !important;
}

// BUTTON ROW
.lat0M-V5X4uYd6Mpm1DJ1 ._16fbihk6Bi9CXuksG7_tLt {
  flex-direction: row !important;
  width: 100% !important;
}

// ERROR
.lat0M-V5X4uYd6Mpm1DJ1 ._1W_6HXiG4JJ0By1qN_0fGZ {
  color: var(--zehn-color-accent) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// FOOTER
.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt._1VAFgEYpKJDwl9aI8W5ctY {
  padding: 0px !important;
  margin: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._27aItUQsVlk-hSm7K9UCJt ._3dwSWEGgHCaDxQqEDOqTtN {
  margin-right: var(--zehn-size-spacing-xs) !important;
}

// RIGHT CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN {
  padding: 0px !important;
  gap: 0px !important;
  margin-left: var(--zehn-size-spacing-xl) !important;
}

// QR CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3ToZQDL9M9IP5o2tIhKLxH ._35Q-UW9L8wv2fkImoWScgQ {
  margin: 0 0 var(--zehn-size-dialog-gap) 0 !important;
  border-radius: var(--zehn-size-radius-none) !important;
}

// QR
.xlEVpBeYO1h2tOqErt9fj {
  border: var(--zehn-size-padding-md) solid var(--zehn-color-white) !important;
  border-radius: var(--zehn-size-radius-sm) !important;
  transition: border-color 0.2s var(--zehn-timing-ease) !important;
}

.xlEVpBeYO1h2tOqErt9fj._1rteFtfW8qmD6imQgrH-XM {
  border-color: var(--zehn-color-white) !important;
  filter: var(--zehn-filter-light-blur) !important;
}

.xlEVpBeYO1h2tOqErt9fj:hover,
.xlEVpBeYO1h2tOqErt9fj._1rteFtfW8qmD6imQgrH-XM:hover {
  border-color: var(--zehn-color-white) !important;
}

// QR IMAGE
._1YVDTFYSTDWouyIbRs_hN_ {
  background-color: var(--zehn-color-icon1) !important;
}

._1YVDTFYSTDWouyIbRs_hN_._1zNnNw2BDhrN6ML6YxBYJE {
  background-color: transparent !important;
}

.xlEVpBeYO1h2tOqErt9fj._1rteFtfW8qmD6imQgrH-XM ._1YVDTFYSTDWouyIbRs_hN_ {
  background-color: var(--zehn-color-icon4) !important;
}

.xlEVpBeYO1h2tOqErt9fj._1rteFtfW8qmD6imQgrH-XM ._1YVDTFYSTDWouyIbRs_hN_._1zNnNw2BDhrN6ML6YxBYJE {
  background-color: transparent !important;
}

// RELOAD BUTTON
._464mFQmvIW2e9TQypXX7W ._2ltn2BK4fnrPEGzNwxx6bx {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  background-color: transparent !important;
  padding: var(--zehn-size-padding-md) !important;
  border-radius: var(--zehn-size-radius-none) !important;
}

._464mFQmvIW2e9TQypXX7W ._2ltn2BK4fnrPEGzNwxx6bx button.DialogButton svg {
  mask-size: var(--zehn-size-icon-xxxl) !important;
  -webkit-mask-image: var(--zehn-icon-refresh) !important;
}

// RELOAD BUTTON SUCCESS
._464mFQmvIW2e9TQypXX7W ._2ltn2BK4fnrPEGzNwxx6bx>svg {
  height: var(--zehn-size-icon-xxxl) !important;
  width: var(--zehn-size-icon-xxxl) !important;
  background-color: var(--zehn-color-icon1) !important;
  mask-repeat: no-repeat !important;
  mask-position: center !important;
  mask-size: var(--zehn-size-icon-xxxl) !important;
  -webkit-mask-image: var(--zehn-icon-checkmark) !important;

  * { display: none !important; }
}

// QR LOADING CIRCLE ANIMATION
._3jObIZzYUBbiU1dYHigzC_ {
  font-size: var(--zehn-size-32) !important;
  border-left: var(--zehn-size-loading) solid var(--zehn-color-loading-foreground) !important;
  border-top: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  border-right: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  border-bottom: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  animation: rotate 1s infinite var(--zehn-timing-linear) !important;
}

// QR INFO
.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3pxTSyPhDmjNqXUYDIITS- {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3wSeH3OorL-tMzwXL55smN ._3pxTSyPhDmjNqXUYDIITS-:not(._1VAFgEYpKJDwl9aI8W5ctY) {
  padding: 0px !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1K431RbY14lkaFW6-XgSsC {
  color: var(--zehn-color-link) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  text-decoration: none !important;

  &:hover {
    color: var(--zehn-color-link-hover) !important;
  }

  &:active {
    color: var(--zehn-color-link-active) !important;
  }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOGGING IN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// BOTTOM CONTAINER
._3rAIymq-pEYFB9bIdm-Aoz {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
  letter-spacing: normal !important;
  margin-top: var(--zehn-size-dialog-gap) !important;
  gap: var(--zehn-size-spacing-xs) !important;
  position: absolute !important;
  bottom: var(--zehn-size-spacing-xxl) !important;
}

// "LOGGING IN..."
._234vZnlQxRbmkpJ5Qq82Mc {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// PROGRESS BAR
._1TR3CCCdSmI-0MXucYBuP2 ._191qxA6UisOKSvaq9gM4W6 {
  opacity: 1 !important;
  transition: none !important;
  margin: 0px !important;
  padding: 0px !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

._1-nHjRywUoX7Mpyc6JOPaQ,
.gpfocus ._1-nHjRywUoX7Mpyc6JOPaQ {
  border-radius: var(--zehn-size-radius-none) !important;
  height: var(--zehn-size-progressbar-thin) !important;
  margin: 0px !important;
  background: var(--zehn-color-progress-empty) !important;
}

._1-nHjRywUoX7Mpyc6JOPaQ ._2_0JonK7eKEvh8IoOvq0-B {
  margin: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  background: var(--zehn-color-progress-filled) !important;
  transition: all 0.2s var(--zehn-timing-linear) !important;
}

// USER
._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W {
  margin: 0px !important;
  padding: 0px !important;
  gap: var(--zehn-size-spacing-xs) !important;
}

// USER AVATAR
._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W ._3YzgVE15q0lUY1uAwRQm1U>img {
  width: var(--zehn-size-avatar-md) !important;
  height: var(--zehn-size-avatar-md) !important;
  -webkit-mask-image: var(--zehn-mask-avatar, var(--zehn-mask-avatar-round)) !important;
}

// USER NAME
._2tyxJwWA7FRwarLgRU2dWa {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

._1TR3CCCdSmI-0MXucYBuP2 ._6Z2AOU-R-8aK7KZevey0W ._2tyxJwWA7FRwarLgRU2dWa {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// REFRESH SIGN IN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// TITLEBAR
._2V79Z-xO2gUp1tVbPl32f2 ._37ANMR1DAeBJYXulW34A2S {
  position: absolute !important;
  display: none !important;
}

// BODY
._2V79Z-xO2gUp1tVbPl32f2 .VZ6x_grhNkIYJG__jEEyp {
  background: transparent !important;
}

// HEADER
.lat0M-V5X4uYd6Mpm1DJ1 ._2v9dClMg2Lmn8UVv6GUeJt ._1kQPdUAn_5omUN8oZo_4ds {
  gap: var(--zehn-size-gap-xxs) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3yMMwjOGjHdmMrJbYQyst3 {
  text-transform: none !important;
  position: fixed !important;
  top: var(--zehn-size-border) !important;
  left: var(--zehn-size-border) !important;
  color: var(--zehn-color-text-page-title) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-page-title) !important;
  line-height: var(--zehn-size-titlebar) !important;
  padding: var(--zehn-size-titlebar-text-padding) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._1b-mLIbA7lNlcrNICBrLu6 {
  color: var(--zehn-color-text-body) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-body) !important;
  margin: 0px !important;
}

// SIGN IN BUTTON ROW
.lat0M-V5X4uYd6Mpm1DJ1 ._1Y8X98of8RkwP6ga9F92LD {
  gap: var(--zehn-size-spacing-button) !important;
  margin: 0px !important;
  width: 100% !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// REFRESH SIGN IN CONFIRMATION ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd {
  background: transparent !important;
  padding: 0px !important;
}

// LOWER INNER CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd ._3XCnc4SuTz8V8-jXVwkt_s {
  padding: 0px !important;
  margin-top: var(--zehn-size-dialog-gap) !important;
  background: transparent !important;
  align-content: center !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd ._3XCnc4SuTz8V8-jXVwkt_s:first-of-type {
  margin: 0px !important;
}

// ROWS
.lat0M-V5X4uYd6Mpm1DJ1 ._1NOsG2PAO2rRBb8glCFM_6 {
  gap: var(--zehn-size-dialog-gap) !important;
  width: 100% !important;
  justify-content: center !important;
}

// ACCOUNT
.lat0M-V5X4uYd6Mpm1DJ1 ._3JBYGcszFcaSNXHHSR3kCV ._1hKgiFuFaVR_Sq1Gj_gCnd {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-18) !important;
  font-weight: var(--zehn-weight-normal) !important;
  text-transform: uppercase !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3JBYGcszFcaSNXHHSR3kCV ._31Vq4lzNWs4WikXVr9J4hz {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-18) !important;
  font-weight: var(--zehn-weight-thickest) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._1hKgiFuFaVR_Sq1Gj_gCnd,
.lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._1hKgiFuFaVR_Sq1Gj_gCnd,
.lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._1hKgiFuFaVR_Sq1Gj_gCnd {
  color: var(--zehn-color-text3) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
}

// USE STEAM APP
.lat0M-V5X4uYd6Mpm1DJ1 ._2QHQ1DkwVuPafY7Yr1Df6w {
  gap: var(--zehn-size-dialog-gap) !important;
  place-content: center !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3zQ9hnkyXJEv7nN0oBU56M {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 ._3zQ9hnkyXJEv7nN0oBU56M img {
  display: none !important;
}

// USE STEAM APP TEXT
.lat0M-V5X4uYd6Mpm1DJ1 ._3zQ9hnkyXJEv7nN0oBU56M ._2WgwHabhUV3cP6dHQPybw8 {
  padding: 0px !important;
  margin: 0px !important;
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
}

// USE CODE INSTEAD INFO
.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d,
.lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW,
.lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m {
  padding: 0px !important;
  gap: var(--zehn-size-spacing-md) !important;
}

.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._1rEWOv1g1uTXNhoWiJLQZs,
.lat0M-V5X4uYd6Mpm1DJ1 .DdK_Fpa32ezl3qzyYJ85d ._3aMbj3PT-p1yxEt98UM56K,
.lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._1rEWOv1g1uTXNhoWiJLQZs,
.lat0M-V5X4uYd6Mpm1DJ1 ._2Io_Jc8M4cRHn9cU4vHcqW ._3aMbj3PT-p1yxEt98UM56K,
.lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._1rEWOv1g1uTXNhoWiJLQZs,
.lat0M-V5X4uYd6Mpm1DJ1 ._1YQZI88vD5NCUw4u35tB0m ._3aMbj3PT-p1yxEt98UM56K {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-14) !important;
  font-weight: var(--zehn-weight-normal) !important;
  line-height: var(--zehn-size-24) !important;
}

// CODE INPUT CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._3huyZ7Eoy2bX4PbCnH3p5w {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: var(--zehn-size-radius-none) !important;
  gap: var(--zehn-size-dialog-gap) !important;
}

// CODE INPUT LOADING
._1gzkmmy_XA39rp9MtxJfZJ ._3khV2wP4icszbiR8o7sw37 {
  background: transparent !important;
  inset: calc(-1 * var(--zehn-size-padding-xs)) !important;
  backdrop-filter: var(--zehn-filter-light-blur) !important;
}

._1VLukpV8qjL4BULw7Zob_l.WYrJyNEVnjgAnMVZgvPeg {
  width: var(--zehn-size-loading-width) !important;
  height: var(--zehn-size-loading-width) !important;
  min-width: var(--zehn-size-loading-width) !important;
  min-height: var(--zehn-size-loading-width) !important;
  border-top-width: var(--zehn-size-loading) !important;
  border-right-width: var(--zehn-size-loading) !important;
  border-bottom-width: var(--zehn-size-loading) !important;
  border-left-width: var(--zehn-size-loading) !important;
}

._1VLukpV8qjL4BULw7Zob_l {
  border-radius: var(--zehn-size-loading-radius) !important;
  margin: auto !important;
  position: relative !important;
  text-indent: -9999em !important;
  border-left: var(--zehn-size-loading) solid var(--zehn-color-loading-foreground) !important;
  border-top: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  border-right: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  border-bottom: var(--zehn-size-loading) solid var(--zehn-color-loading-background) !important;
  animation: rotate 1s infinite var(--zehn-timing-linear) !important;
  font-size: var(--zehn-size-32) !important;
}

// PHONE ICON
.lat0M-V5X4uYd6Mpm1DJ1 ._3WvDpj9Ng6SQliygcVqlJU {
  color: var(--zehn-color-accent) !important;
  display: none !important;
}

// FOOTER LINKS
.lat0M-V5X4uYd6Mpm1DJ1 ._3yz6xIaXDcStXAUzK4pWgE>div:first-child {
  padding: 0px !important;
  margin-bottom: var(--zehn-size-dialog-gap) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// REQUEST EXPIRED ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
.lat0M-V5X4uYd6Mpm1DJ1 ._2EuR68sQbA8eP01DlIfu6O._2R_n2M6thAvA4On2yeR_Jd.IN_CLIENT {
  min-height: 362px !important;
  max-height: 362px !important;
}

// EXPIRED
._1A8Mk6QeC0d7bvHDJIoW7o {
  color: var(--zehn-color-text1) !important;
  font-size: var(--zehn-size-18) !important;
  font-weight: var(--zehn-weight-normal) !important;
  margin: 0px !important;
}

// DETAILS
._3H-JHTYIWOo9uVrF0SXAX0 {
  color: var(--zehn-color-text-description) !important;
  font-weight: var(--zehn-weight-normal) !important;
  font-size: var(--zehn-size-text-description) !important;
  margin: 0px !important;
}

// BUTTON ROW
.Vf2Dk5xgRdq6KGJAuoz3A {
  gap: var(--zehn-size-spacing-button) !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~










// LOADING ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// CONTAINER
._3AseUd328DeQNUMkwlq8MV {
  display: none !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~