// STEAM LOADING THROBBER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// LOADING BACKGROUND
._3pXasCUulX4jjqO79s4q_F._2MkHZqf7MrgW3f8qGHiI8Z {
  background: transparent !important;
}

._3sa1NXudhvcc1U7HrlLdNQ {
  background: transparent !important;
}

// LOADING CLIENT + LOGIN
._2YwTwqFtU04JgwfzXSAcSV {
  background: transparent !important;
}

._39-WTtOSEPJqAEjOcNGE3j,
._1DWH_4M4yAq8O2T06-3ckY,
.loadingthrobber_Large_,
._3sa1NXudhvcc1U7HrlLdNQ>img {
  opacity: 0 !important;
  content: url() !important;
}

// MAKE MASK ON CONTAINER SO WE CAN CUSTOMIZE COLOR
div:has(>._39-WTtOSEPJqAEjOcNGE3j)::after,
div:has(>._1DWH_4M4yAq8O2T06-3ckY)::after,
div:has(>.loadingthrobber_Large_)::after,
div:has(>._3sa1NXudhvcc1U7HrlLdNQ>img)::after {
  content: "";
  position: absolute;
  inset: 0;
  width: var(--zehn-size-icon-xxxl);
  height: var(--zehn-size-icon-xxxl);
  margin: auto;
  -webkit-mask-image: url("https://steamloopback.host/images/steam_spinner.png");
  background-color: var(--zehn-color-icon-primary);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
  opacity: 1;
}

._3sa1NXudhvcc1U7HrlLdNQ img._39-WTtOSEPJqAEjOcNGE3j {
  width: 140px !important;
  height: 140px !important;
}

// LOADING CHAT
._2CphUsHNDgIWItNIzeIldY,
._2wAKy-0ZkO_vhbiQCP9MgE.SteamLogoThrobber._1x18vR7Qop8v8_G8qSR6CL._1Sy0pXVZOdWbgouFyD2zJj {
  width: var(--zehn-size-icon-xxl) !important;
  height: var(--zehn-size-icon-xxl) !important;
  justify-content: center;
}

._2wAKy-0ZkO_vhbiQCP9MgE.SteamLogoThrobber._2CphUsHNDgIWItNIzeIldY._1Sy0pXVZOdWbgouFyD2zJj,
._2wAKy-0ZkO_vhbiQCP9MgE.SteamLogoThrobber._1x18vR7Qop8v8_G8qSR6CL._1Sy0pXVZOdWbgouFyD2zJj {
  position: relative !important;
}

div:has(>._1m8iQOSVziKDHiInrfskv_) {
  position: relative !important;
}

._1m8iQOSVziKDHiInrfskv_ img {
  opacity: 0 !important;
}

._1m8iQOSVziKDHiInrfskv_::after {
  content: "";
  position: absolute;
  inset: 0;
  -webkit-mask-image: url("https://steamloopback.host/images/steam_spinner.png");
  background-color: var(--zehn-color-icon-primary);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 100%;
}

.SteamLogoThrobber_ {
  opacity: 0 !important;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~