:root {
  --color-accent: var(--SystemAccentColor-RGB, 210, 115, 138);
  --color-accent-light1: var(--SystemAccentColorLight1-RGB, 215, 135, 154);
  --color-accent-light2: var(--SystemAccentColorLight2-RGB, 218, 157, 172);
  --color-accent-light3: var(--SystemAccentColorLight3-RGB, 225, 186, 195);
  --color-accent-dark1: var(--SystemAccentColorDark1-RGB, 203, 95, 121);
  --color-accent-dark2: var(--SystemAccentColorDark2-RGB, 204, 69, 102);
  --color-accent-dark3: var(--SystemAccentColorDark3-RGB, 181, 56, 86);

  --color-white: 255, 255, 255;
  --color-black: 0, 0, 0;

  --color-close-hover: 232, 18, 35;
  --color-close-pressed: 241, 112, 121;

  --color-contextmenu-background: 43, 43, 43;
  --color-contextmenu-border: 118, 118, 118;
}