:root {
  --color-ingame: var(--option-color-ingame, 35, 165, 90);
  --color-online: var(--option-color-online, 35, 165, 90);
  --color-away: var(--option-color-away, 240, 178, 50);
  --color-disturb: var(--option-color-disturb, 242, 63, 67);
  --color-offline: var(--option-color-offline, 128, 132, 142);

  --color-accent: var(--option-color-accent, var(--SystemAccentColor-RGB, 210, 115, 138));
  --color-accent-lighten-light: var(--option-color-accent-lighten-light, var(--SystemAccentColorLight1-RGB, 215, 135, 154));
  --color-accent-lighten-medium: var(--option-color-accent-lighten-medium, var(--SystemAccentColorLight2-RGB, 218, 157, 172));
  --color-accent-lighten-heavy: var(--option-color-accent-lighten-heavy, var(--SystemAccentColorLight3-RGB, 225, 186, 195));
  --color-accent-darken-light: var(--option-color-accent-darken-light, var(--SystemAccentColorDark1-RGB, 203, 95, 121));
  --color-accent-darken-medium: var(--option-color-accent-darken-medium, var(--SystemAccentColorDark2-RGB, 204, 69, 102));
  --color-accent-darken-heavy: var(--option-color-accent-darken-heavy, var(--SystemAccentColorDark3-RGB, 181, 56, 86));
  --color-accent-positive-light: var(--option-color-accent-positive-light, var(--color-accent-darken-light));
  --color-accent-positive-medium: var(--option-color-accent-positive-medium, var(--color-accent-darken-medium));
  --color-accent-positive-heavy: var(--option-color-accent-positive-heavy, var(--color-accent-darken-heavy));
  --color-accent-negative-light: var(--option-color-accent-negative-light, var(--color-accent-lighten-light));
  --color-accent-negative-medium: var(--option-color-accent-negative-medium, var(--color-accent-lighten-medium));
  --color-accent-negative-heavy: var(--option-color-accent-negative-heavy, var(--color-accent-lighten-heavy));

  --color-white: var(--option-color-white, 255, 255, 255);
  --color-gray: var(--option-color-gray, 127, 127, 127);
  --color-black: var(--option-color-black, 0, 0, 0);

  --color-negative: var(--option-color-negative, var(--color-white));
  --color-positive: var(--option-color-positive, var(--color-black));

  --color-border: var(--option-color-border, rgba(var(--color-negative), 0.17));

  --color-acrylic-rating: var(--option-color-acrylic-rating, rgba(var(--color-positive), 0.5));
  --color-acrylic-overlay-dark: var(--option-color-acrylic-overlay-dark, rgba(var(--color-positive), 0.65));
  --color-acrylic-overlay-medium: var(--option-color-acrylic-overlay-medium, rgba(var(--color-positive), 0.5));
  --color-acrylic-overlay-light: var(--option-color-acrylic-overlay-light, rgba(var(--color-negative), 0.05));
  --color-acrylic-focus-window: var(--option-color-acrylic-focus-window, rgba(var(--color-positive), 0.15));
  --color-acrylic-focus-dialog: var(--option-color-acrylic-focus-dialog, rgba(var(--color-negative), 0.15));

  --color-background-primary: var(--option-color-background-primary, 34, 34, 34);
  --color-background-secondary: var(--option-color-background-secondary, 31, 31, 31);
  --color-background-tertiary: var(--option-color-background-tertiary, 0, 0, 0);

  --color-window-client: var(--option-color-window-client, rgb(var(--color-background-primary)));
  --color-window-acrylic: var(--option-color-window-acrylic, rgb(var(--color-background-secondary)));
  --color-window-dialog: var(--option-color-window-dialog, rgb(var(--color-background-tertiary)));

  --color-foreground-primary: var(--option-color-foreground-primary, 255, 255, 255);
  --color-foreground-secondary: var(--option-color-foreground-secondary, 153, 153, 153);
  --color-foreground-tertiary: var(--option-color-foreground-tertiary, 127, 127, 127);

  --color-text-primary: var(--option-color-text-primary, rgb(var(--color-foreground-primary)));
  --color-text-secondary: var(--option-color-text-secondary, rgb(var(--color-foreground-secondary)));
  --color-text-tertiary: var(--option-color-text-tertiary, rgb(var(--color-foreground-tertiary)));

  --color-icon-primary: var(--option-color-icon-primary, rgb(var(--color-foreground-primary)));
  --color-icon-secondary: var(--option-color-icon-secondary, rgb(var(--color-foreground-secondary)));
  --color-icon-tertiary: var(--option-color-icon-tertiary, rgb(var(--color-foreground-tertiary)));

  --color-close-hover: var(--option-color-close-hover, 232, 18, 35);
  --color-close-pressed: var(--option-color-close-pressed, 241, 112, 121);

  --color-context-background: var(--option-color-context-background, 43, 43, 43);
  --color-context-border: var(--option-color-context-border, 118, 118, 118);

  --color-input: var(--option-color-input, var(--color-window-acrylic));

  --color-button-dialog-background: var(--option-color-button-dialog-background, rgba(var(--color-negative), 0.2));
  --color-button-dialog-background-hover: var(--option-color-button-dialog-background-hover, rgba(var(--color-negative), 0.3));
  --color-button-dialog-background-active: var(--option-color-button-dialog-background-active, rgba(var(--color-negative), 0.4));
  --color-button-dialog-background-focus: var(--option-color-button-dialog-background-focus, rgba(var(--color-accent)));
  --color-button-dialog-background-selected: var(--option-color-button-dialog-background-selected, rgba(var(--color-positive), 0.5));
  --color-button-dialog-border: var(--option-color-button-dialog-border, transparent);
  --color-button-dialog-border-hover: var(--option-color-button-dialog-border-hover, rgba(var(--color-negative), 0.5));
  --color-button-dialog-border-active: var(--option-color-button-dialog-border-active, transparent);
  --color-button-dialog-border-focus: var(--option-color-button-dialog-border-focus, transparent);
  --color-button-dialog-border-selected: var(--option-color-button-dialog-border-selected, transparent);

  --color-button-client-background: var(--option-color-button-client-background, transparent);
  --color-button-client-background-hover: var(--option-color-button-client-background-hover, rgba(var(--color-negative), 0.1));
  --color-button-client-background-active: var(--option-color-button-client-background-active, rgba(var(--color-negative), 0.2));

  --color-dropdown-dialog-background: var(--option-color-dropdown-dialog-background, transparent);
  --color-dropdown-dialog-background-hover: var(--option-color-dropdown-dialog-background-hover, transparent);
  --color-dropdown-dialog-background-active: var(--option-color-dropdown-dialog-background-active, rgba(var(--color-negative), 0.3));
  --color-dropdown-dialog-border: var(--option-color-dropdown-dialog-border, rgba(var(--color-negative), 0.5));
  --color-dropdown-dialog-border-hover: var(--option-color-dropdown-dialog-border-hover, rgba(var(--color-negative), 0.65));
  --color-dropdown-dialog-border-active: var(--option-color-dropdown-dialog-border-active, rgba(var(--color-negative), 0.5));

  --color-dropdown-client-background: var(--option-color-dropdown-client-background, transparent);
  --color-dropdown-client-background-hover: var(--option-color-dropdown-client-background-hover, rgba(var(--color-negative), 0.1));
  --color-dropdown-client-background-active: var(--option-color-dropdown-client-background-active, rgba(var(--color-negative), 0.2));

  --color-input-dialog-background: var(--option-color-input-dialog-background, transparent);
  --color-input-dialog-background-hover: var(--option-color-input-dialog-background-hover, transparent);
  --color-input-dialog-background-active: var(--option-color-input-dialog-background-active, rgba(var(--color-negative), 0.3));
  --color-input-dialog-background-focus: var(--option-color-input-dialog-background-focus, rgb(var(--color-white)));
  --color-input-dialog-border: var(--option-color-input-dialog-border, rgba(var(--color-negative), 0.5));
  --color-input-dialog-border-hover: var(--option-color-input-dialog-border-hover, rgba(var(--color-negative), 0.65));
  --color-input-dialog-border-active: var(--option-color-input-dialog-border-active, rgba(var(--color-negative), 0.5));
  --color-input-dialog-border-focus: var(--option-color-input-dialog-border-focus, rgb(var(--color-accent)));
  --color-input-dialog-text: var(--option-color-input-dialog-text, rgb(var(--color-foreground-primary)));
  --color-input-dialog-text-placeholder: var(--option-color-input-dialog-text-placeholder, rgb(var(--color-foreground-secondary)));
  --color-input-dialog-text-focus: var(--option-color-input-dialog-text-focus, rgb(var(--color-black)));

  --color-list-background: var(--option-color-list-background, transparent);
  --color-list-background-hover: var(--option-color-list-background-hover, rgba(var(--color-negative), 0.1));
  --color-list-background-active: var(--option-color-list-background-active, rgba(var(--color-negative), 0.2));
  --color-list-background-focus: var(--option-color-list-background-focus, rgba(var(--color-negative), 0.2));

  --color-table-odd: var(--option-color-table-odd, transparent);
  --color-table-even: var(--option-color-table-even, rgba(var(--color-negative), 0.2));

  --color-music-odd: var(--option-color-music-odd, transparent);
  --color-music-odd-hover: var(--option-color-music-odd-hover, rgba(var(--color-negative), 0.2));
  --color-music-odd-active: var(--option-color-music-odd-active, rgba(var(--color-negative), 0.35));
  --color-music-even: var(--option-color-music-even, rgba(var(--color-negative), 0.1));
  --color-music-even-hover: var(--option-color-music-even-hover, rgba(var(--color-negative), 0.2));
  --color-music-even-active: var(--option-color-music-even-active, rgba(var(--color-negative), 0.35));

  --color-chat-background: var(--option-color-chat-background, transparent);
  --color-chat-background-hover: var(--option-color-chat-background-hover, rgba(var(--color-negative), 0.025));
  --color-chat-background-active: var(--option-color-chat-background-active, rgba(var(--color-negative), 0.025));

  --color-selection: var(--option-color-selection, transparent);
  --color-selection-hover: var(--option-color-selection-hover, rgba(var(--color-negative), 0.65));
  --color-selection-active: var(--option-color-selection-active, rgb(var(--color-negative)));

  --color-seperator: var(--option-color-seperator, rgba(var(--color-negative), 0.2));
  --color-seperator-context: var(--option-color-seperator-context, rgba(var(--color-negative), 0.4));

  --color-placeholder: var(--option-color-placeholder, rgba(var(--color-negative), 0.1));

  --color-tag: var(--option-color-tag, rgba(var(--color-negative), 0.1));

  --color-progress-empty: var(--option-color-progress-empty, rgba(var(--color-negative), 0.2));
  --color-progress-filled: var(--option-color-progress-filled, rgb(var(--color-accent)));

  --color-timeline-empty: var(--option-color-timeline-empty, rgba(var(--color-negative), 0.4));
  --color-timeline-filled: var(--option-color-timeline-filled, rgb(var(--color-accent)));
  --color-timeline-handle: var(--option-color-timeline-handle, rgb(var(--color-accent)));
  --color-timeline-handle-hover: var(--option-color-timeline-handle-hover, rgb(var(--color-negative)));
  --color-timeline-handle-active: var(--option-color-timeline-handle-active, rgba(var(--color-negative), 0.5));

  --color-slider-background: var(--option-color-slider-background, rgba(var(--color-negative), 0.4));
  --color-slider-background-hover: var(--option-color-slider-background-hover, rgba(var(--color-negative), 0.6));
  --color-slider-background-active: var(--option-color-slider-background-active, rgba(var(--color-negative), 0.4));
  --color-slider-handle: var(--option-color-slider-handle, rgb(var(--color-accent)));
  --color-slider-handle-hover: var(--option-color-slider-handle-hover, rgb(var(--color-negative)));
  --color-slider-handle-active: var(--option-color-slider-handle-active, rgb(var(--color-context-border)));
  --color-slider-track: var(--option-color-slider-track, rgb(var(--color-accent)));
  --color-slider-default: var(--option-color-slider-default, rgba(var(--color-negative), 0.4));

  --color-checkbox-background-off: var(--option-color-checkbox-background-off, transparent);
  --color-checkbox-background-off-hover: var(--option-color-checkbox-background-off-hover, transparent);
  --color-checkbox-background-off-active: var(--option-color-checkbox-background-off-active, rgba(var(--color-negative), 0.6));
  --color-checkbox-background-off-disabled: var(--option-color-checkbox-background-off-disabled, transparent);
  --color-checkbox-background-on: var(--option-color-checkbox-background-on, rgb(var(--color-accent)));
  --color-checkbox-background-on-hover: var(--option-color-checkbox-background-on-hover, rgb(var(--color-accent)));
  --color-checkbox-background-on-active: var(--option-color-checkbox-background-on-active, rgba(var(--color-negative), 0.6));
  --color-checkbox-background-on-disabled: var(--option-color-checkbox-background-on-disabled, transparent);
  --color-checkbox-border-off: var(--option-color-checkbox-border-off, rgba(var(--color-negative), 0.8));
  --color-checkbox-border-off-hover: var(--option-color-checkbox-border-off-hover, rgb(var(--color-negative)));
  --color-checkbox-border-off-active: var(--option-color-checkbox-border-off-active, transparent);
  --color-checkbox-border-off-disabled: var(--option-color-checkbox-border-off-disabled, rgba(var(--color-negative), 0.6));
  --color-checkbox-border-on: var(--option-color-checkbox-border-on, transparent);
  --color-checkbox-border-on-hover: var(--option-color-checkbox-border-on-hover, rgb(var(--color-negative)));
  --color-checkbox-border-on-active: var(--option-color-checkbox-border-on-active, transparent);
  --color-checkbox-border-on-disabled: var(--option-color-checkbox-border-on-disabled, rgba(var(--color-negative), 0.6));
  --color-checkbox-toggle-off: var(--option-color-checkbox-toggle-off, transparent);
  --color-checkbox-toggle-off-hover: var(--option-color-checkbox-toggle-off-hover, transparent);
  --color-checkbox-toggle-off-active: var(--option-color-checkbox-toggle-off-active, transparent);
  --color-checkbox-toggle-off-disabled: var(--option-color-checkbox-toggle-off-disabled, transparent);
  --color-checkbox-toggle-on: var(--option-color-checkbox-toggle-on, rgb(var(--color-white)));
  --color-checkbox-toggle-on-hover: var(--option-color-checkbox-toggle-on-hover, rgb(var(--color-white)));
  --color-checkbox-toggle-on-active: var(--option-color-checkbox-toggle-on-active, rgb(var(--color-white)));
  --color-checkbox-toggle-on-disabled: var(--option-color-checkbox-toggle-on-disabled, rgba(var(--color-negative), 0.6));

  --color-radio-background-off: var(--option-color-radio-background-off, transparent);
  --color-radio-background-off-hover: var(--option-color-radio-background-off-hover, transparent);
  --color-radio-background-off-active: var(--option-color-radio-background-off-active, transparent);
  --color-radio-background-on: var(--option-color-radio-background-on, rgba(var(--color-negative), 0.8));
  --color-radio-background-on-hover: var(--option-color-radio-background-on-hover, rgb(var(--color-negative)));
  --color-radio-background-on-active: var(--option-color-radio-background-on-active, rgba(var(--color-negative), 0.6));
  --color-radio-border-off: var(--option-color-radio-border-off, rgba(var(--color-negative), 0.8));
  --color-radio-border-off-hover: var(--option-color-radio-border-off-hover, rgb(var(--color-negative)));
  --color-radio-border-off-active: var(--option-color-radio-border-off-active, rgba(var(--color-negative), 0.6));
  --color-radio-border-on: var(--option-color-radio-border-on, rgb(var(--color-accent)));
  --color-radio-border-on-hover: var(--option-color-radio-border-on-hover, rgb(var(--color-accent)));
  --color-radio-border-on-active: var(--option-color-radio-border-on-active, rgba(var(--color-negative), 0.6));

  --color-switch-inner: var(--option-color-switch-inner, 162, 162, 162);
  --color-switch-outer: var(--option-color-switch-border, 215, 215, 215);

  --color-switch-background-off: var(--option-color-switch-background-off, transparent);
  --color-switch-background-off-hover: var(--option-color-switch-background-off-hover, transparent);
  --color-switch-background-off-active: var(--option-color-switch-background-off-active, rgb(var(--color-switch-inner)));
  --color-switch-background-off-disabled: var(--option-color-switch-background-off-disabled, transparent);
  --color-switch-background-on: var(--option-color-switch-background-on, rgb(var(--color-accent)));
  --color-switch-background-on-hover: var(--option-color-switch-background-on-hover, rgb(var(--color-accent-positive-medium)));
  --color-switch-background-on-active: var(--option-color-switch-background-on-active, rgb(var(--color-switch-inner)));
  --color-switch-background-on-disabled: var(--option-color-switch-background-on-disabled, rgba(var(--color-negative), 0.2));
  --color-switch-border-off: var(--option-color-switch-border-off, rgb(var(--color-switch-outer)));
  --color-switch-border-off-hover: var(--option-color-switch-border-off-hover, rgb(var(--color-negative)));
  --color-switch-border-off-active: var(--option-color-switch-border-off-active, transparent);
  --color-switch-border-off-disabled: var(--option-color-switch-border-off-disabled, rgba(var(--color-negative), 0.4));
  --color-switch-border-on: var(--option-color-switch-border-on, transparent);
  --color-switch-border-on-hover: var(--option-color-switch-border-on-hover, transparent);
  --color-switch-border-on-active: var(--option-color-switch-border-on-active, transparent);
  --color-switch-border-on-disabled: var(--option-color-switch-border-on-disabled, transparent);
  --color-switch-toggle-off: var(--option-color-switch-toggle-off, rgb(var(--color-switch-outer)));
  --color-switch-toggle-off-hover: var(--option-color-switch-toggle-off-hover, rgb(var(--color-negative)));
  --color-switch-toggle-off-active: var(--option-color-switch-toggle-off-active, rgb(var(--color-white)));
  --color-switch-toggle-off-disabled: var(--option-color-switch-toggle-off-disabled, rgba(var(--color-negative), 0.4));
  --color-switch-toggle-on: var(--option-color-switch-toggle-on, rgb(var(--color-white)));
  --color-switch-toggle-on-hover: var(--option-color-switch-toggle-on-hover, rgb(var(--color-white)));
  --color-switch-toggle-on-active: var(--option-color-switch-toggle-on-active, rgb(var(--color-white)));
  --color-switch-toggle-on-disabled: var(--option-color-switch-toggle-on-disabled, rgba(var(--color-negative), 0.2));

  --color-reveal-background: var(--option-color-reveal-background, rgba(var(--color-negative), 0.1));
  --color-reveal-border: var(--option-color-reveal-border, rgba(var(--color-negative), 0.25));
  --color-reveal-notification-background: var(--option-color-reveal-notification-background, transparent);
  --color-reveal-notification-border: var(--option-color-reveal-notification-border, rgba(var(--color-negative), 0.25));

  --color-tooltip-background: var(--option-color-tooltip-background, rgba(var(--color-negative), 0.17));
  --color-tooltip-border: var(--option-color-tooltip-border, rgba(var(--color-negative), 0.35));
  --color-tooltip-text-primary: var(--option-color-tooltip-text-primary, rgb(var(--color-foreground-primary)));
  --color-tooltip-text-secondary: var(--option-color-tooltip-text-secondary, rgb(var(--color-foreground-secondary)));
}