:root {

  --mask-avatar: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 0 512 a 512 512 0 0 0 1024 0 a 1 1 0 0 0 -1024 0 Z'/></svg>");

  --mask-avatar-status: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 1005 651 a 512 512 0 1 0 -354 354 c -144 -242 112 -498 354 -354 Z'/></svg>");

  --mask-avatar-status-mobile: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 640 576 a 96 96 0 0 1 96 -96 h 287 a 512 512 0 1 0 -383 528 v -432'/></svg>");

  --mask-status: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 864 704 a 1 1 0 0 0 0 320 a 1 1 0 0 0 0 -320 Z'/></svg>");

  --mask-status-away: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 704 864 a 160 160 0 1 0 160 -160 a 1 1 0 0 1 -160 160 Z'/></svg>");

  --mask-status-dnd: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 864 704 a 1 1 0 0 1 0 320 a 1 1 0 0 1 0 -320 l 1 128 h -96 v 64 h 192 v -64 h -96 Z'/></svg>");

  --mask-status-mobile: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 1024 992 v -416 a 32 32 0 0 0 -32 -32 h -256 a 32 32 0 0 0 -32 32 v 416 a 32 32 0 0 0 32 32 h 128 v -64 h -32 v -32 h 32 v -64 h -96 v -256 h 196 v 256 h -100 v 64 h 32 v 32 h -32 v 64 h 128 a 32 32 0 0 0 32 -32 Z'/></svg>");

  --mask-status-offline: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='auto' height='auto' viewBox='0 0 1024 1024' preserveAspectRatio='none'><path d='M 864 704 a 1 1 0 0 1 0 320 a 1 1 0 0 1 0 -320 l 1 64 a 1 1 0 0 0 0 192 a 1 1 0 0 0 0 -192 v 0 Z'/></svg>");

}