:root {
  /* CHAT */
  --zehn-display-time-divisions: var(--option-display-time-divisions, flex);

  /* GENERAL */
  --zehn-mask-avatar: var(--option-mask-avatar, var(--zehn-mask-avatar-round));
  --zehn-mask-avatar-status: var(--option-mask-avatar-status, var(--zehn-mask-avatar-round-status));
  --zehn-mask-avatar-status-mobile: var(--option-mask-avatar-status-mobile, var(--zehn-mask-avatar-round-status-mobile));
  --zehn-mask-avatar-roundness: var(--option-mask-avatar-roundness, 50%);

  --zehn-blur-radius: var(--option-blur-radius, 30px);

  --zehn-reveal-border: var(--option-reveal-border, none);
  --zehn-reveal-background-hover: var(--option-reveal-background-hover, var(--zehn-color-button-client-background-hover));
  --zehn-reveal-background-active: var(--option-reveal-background-active, var(--zehn-color-button-client-background-active));

  --zehn-display-scrollbars: var(--option-display-scrollbars, 0px);
  --zehn-navbar-position: var(--option-navbar-position, absolute);
  --zehn-navbar-margin: var(--option-navbar-margin, 32px);
  --zehn-downloads-position: var(--option-downloads-position, absolute);
  --zehn-downloads-margin: var(--option-downloads-margin, 200px);
  --zehn-downloads-top: var(--option-downloads-top, 0px);
  --zehn-downloads-base: var(--option-downloads-base, transparent);
  --zehn-downloads-background: var(--option-downloads-background, transparent);
  --zehn-downloads-filter: var(--option-downloads-filter, none);
  --zehn-downloads-blend: var(--option-downloads-blend, none);
  --zehn-downloads-acrylic: var(--option-downloads-acrylic, url());
  --zehn-controls-background: var(--option-controls-background, transparent);
  --zehn-playbar-margin: var(--option-playbar-margin, 48px);
  --zehn-playbar-background: var(--option-playbar-background, transparent);
  --zehn-playbar-filter: var(--option-playbar-filter, none);
  --zehn-playbar-blend: var(--option-playbar-blend, none);
  --zehn-playbar-acrylic: var(--option-playbar-acrylic, url());
  --zehn-playbar-scrollbar: var(--option-playbar-scrollbar, 0px);
  --zehn-overlay-position: var(--option-overlay-position, sticky);
  --zehn-overlay-margin: var(--option-overlay-margin, 0px);

  --zehn-display-tooltips: var(--option-display-tooltips, flex);
  --zehn-display-tooltips-store: var(--option-display-tooltips-store, block);

  /* LIBRARY */
  --zehn-display-add-shelf: var(--option-display-add-shelf, none);

  --zehn-display-whats-new: var(--option-display-whats-new, none);

  /* NAVIGATION */
  --zehn-display-account-avatar: var(--option-display-account-avatar, none);
  --zehn-display-account-icon: var(--option-display-account-icon, block);

  --zehn-display-add-game: var(--option-display-add-game, none);

  --zehn-display-announcements: var(--option-display-announcements, none);

  --zehn-display-big-picture: var(--option-display-big-picture, none);

  --zehn-download-bar-width: var(--option-download-bar-width, 200px);

  --zehn-display-url-bar: var(--option-display-url-bar, none);

  --zehn-display-vr: var(--option-display-vr, none);

  /* COLOR BLENDING */
  --zehn-blend-amount: var(--option-blend-amount, 50%);

  --zehn-blend-space: var(--option-blend-space, oklab);
}