:root {
  /* CHAT */
  --display-time-divisions: var(--option-display-time-divisions, flex);

  /* GENERAL */
  --mask-avatar: var(--option-mask-avatar, var(--mask-avatar-round));
  --mask-avatar-status: var(--option-mask-avatar-status, var(--mask-avatar-round-status));
  --mask-avatar-status-mobile: var(--option-mask-avatar-status-mobile, var(--mask-avatar-round-status-mobile));
  --mask-avatar-roundness: var(--option-mask-avatar-roundness, 50%);

  --blur-radius: var(--option-blur-radius, 30px);

  --display-miniprofiles: var(--option-display-miniprofiles, block);

  --reveal-border: var(--option-reveal-border, none);
  --reveal-background-hover: var(--option-reveal-background-hover, var(--color-button-client-background-hover));
  --reveal-background-active: var(--option-reveal-background-active, var(--color-button-client-background-active));

  --display-scrollbars: var(--option-display-scrollbars, 0px);
  --navbar-position: var(--option-navbar-position, absolute);
  --navbar-margin: var(--option-navbar-margin, 32px);
  --downloads-position: var(--option-downloads-position, absolute);
  --downloads-margin: var(--option-downloads-margin, 200px);
  --downloads-top: var(--option-downloads-top, 0px);
  --downloads-base: var(--option-downloads-base, transparent);
  --downloads-background: var(--option-downloads-background, transparent);
  --downloads-filter: var(--option-downloads-filter, none);
  --downloads-blend: var(--option-downloads-blend, none);
  --downloads-acrylic: var(--option-downloads-acrylic, url());
  --controls-background: var(--option-controls-background, transparent);
  --playbar-margin: var(--option-playbar-margin, 48px);
  --playbar-background: var(--option-playbar-background, transparent);
  --playbar-filter: var(--option-playbar-filter, none);
  --playbar-blend: var(--option-playbar-blend, none);
  --playbar-acrylic: var(--option-playbar-acrylic, url());
  --playbar-scrollbar: var(--option-playbar-scrollbar, 0px);
  --overlay-position: var(--option-overlay-position, sticky);
  --overlay-margin: var(--option-overlay-margin, 0px);

  --display-tooltips: var(--option-display-tooltips, block);

  /* LIBRARY */
  --display-add-shelf: var(--option-display-add-shelf, none);

  --display-whats-new: var(--option-display-whats-new, none);

  /* NAVIGATION */
  --display-account-avatar: var(--option-display-account-avatar, none);
  --display-account-icon: var(--option-display-account-icon, block);

  --display-add-game: var(--option-display-add-game, none);

  --display-announcements: var(--option-display-announcements, none);

  --display-big-picture: var(--option-display-big-picture, none);

  --download-bar-width: var(--option-download-bar-width, 200px);

  --display-url-bar: var(--option-display-url-bar, none);

  --display-vr: var(--option-display-vr, none);
}