:root {
  --zehn-size-08: 8px;
  --zehn-size-10: 10px;
  --zehn-size-12: 12px;
  --zehn-size-14: 14px;
  --zehn-size-16: 16px;
  --zehn-size-18: 18px;
  --zehn-size-20: 20px;
  --zehn-size-24: 24px;
  --zehn-size-28: 28px;
  --zehn-size-32: 32px;
  --zehn-size-48: 48px;
  --zehn-size-64: 64px;
}