:root {
  --option-transparency-effects-acrylic-color-base: var(--zehn-color-base);
  --option-transparency-effects-acrylic-color-section: var(--zehn-color-section);
  --option-transparency-effects-acrylic-color-context: var(--zehn-color-context);
  --option-transparency-effects-acrylic-color-detail: var(--zehn-color-translucent);
  --option-transparency-effects-acrylic-filter: none;
  --option-transparency-effects-acrylic-texture: url();
  --option-transparency-effects-acrylic: 0;
  --option-transparency-effects-reveal: 0;
}