/* WINDOW BORDER */
._1ENHEsrSLcTRtPQFl1F-wL {
  border: 1px solid rgba(var(--color-white), 0.1) !important;
  background: rgb(var(--color-background)) !important;
  background-color: rgb(var(--color-background)) !important;
}

.WindowFocus ._1ENHEsrSLcTRtPQFl1F-wL {
  border: 1px solid rgb(var(--color-accent)) !important;
}

._27qasW5wLU4h4nUgawpo1q {
  background: rgb(var(--color-black)) !important;
}

.oHNgIzAySfCEOayCBwsg5 .Hfu72R4zufzljeNatNJIO {
  background: rgb(var(--color-black)) !important;
}

.Rp8QOGJ2DypeDniMnRBhr {
}

/* WINODW GRIP */
.window_resize_grip {
  background-image: none !important;
  width: 0px !important;
  height: 0px !important;
}

/* WINDOW CONTROLS */
._39oUCO1OuizVPwcnnv88no .qP17eBPXkfezFfexZ4hC3 {
  flex: 0 0 114px !important;
}

.title-bar-actions.window-controls {
  min-width: fit-content !important;
}

.title-area, .friendlist .title-area-icon {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.DesktopUI .title-area-icon:active, .friendsui-container .title-area-icon:active {
  background-color: rgba(var(--color-white), 0.1) !important;
}

.title-area-highlight {
  background: transparent !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.focused:not(.singlewindow) .title-area-highlight {
  opacity: 0 !important;
}

.title-area-icon, .title-bar-actions {
  width: 38px !important;
  height: 38px !important;
  min-width: 38px !important;
  min-height: 38px !important;
  max-width: 38px !important;
  max-height: 38px !important;
}

.title-area-icon-inner {
  width: 38px !important;
}

.maximizeButton, .minimizeButton, .restoreButton, .closeButton {
  width: 38px !important;
  height: 38px !important;
}

.closeButton:not(._18EIcuUAoTtqjzcDzsTcdy):hover {
  background-color: rgb(var(--color-close-hover)) !important;
}

.closeButton:not(._18EIcuUAoTtqjzcDzsTcdy):active {
  background-color: rgb(var(--color-close-pressed)) !important;
}

.closeButton:hover, .maximizeButton:hover, .minimizeButton:hover, .restoreButton:hover {
}

.closeButton:active, .maximizeButton:active, .minimizeButton:active, .restoreButton:active {
}

/* WINDOWS BUTTONS ICONS */
.title-area-icon .SVGIcon_Minimize, .title-area-icon .SVGIcon_Maximize, .title-area-icon .SVGIcon_X_Line, .title-area-icon .SVGIcon_Restore, .title-area-icon .SVGIcon_X_Line {
  width: 100% !important;
  height: 100% !important;
}

.title-area-icon svg * {
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
}

.title-area-icon .SVGIcon_X_Line line {
  stroke: transparent !important;
}

body:not(.WindowFocus) .title-area-icon-inner {
  filter: brightness(0.5) !important;
}

body:not(.WindowFocus) .closeButton:hover .title-area-icon-inner {
  filter: none !important;
}

.title-area-icon, .title-area-icon:hover, .title-area-icon:active, .popup_chat_frame.fullheight .title-area-icon {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

.minimizeButton .title-area-icon-inner svg, .minimizeButton:hover .title-area-icon-inner svg, .minimizeButton:active .title-area-icon-inner svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-window-minimize) !important;
}

.maximizeButton .title-area-icon-inner svg, .maximizeButton:hover .title-area-icon-inner svg, .maximizeButton:active .title-area-icon-inner svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-window-maximize) !important;
}

.restoreButton .title-area-icon-inner svg, .restoreButton:hover .title-area-icon-inner svg, .restoreButton:active .title-area-icon-inner svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-window-restore) !important;
}

.closeButton .title-area-icon-inner svg, .closeButton:hover .title-area-icon-inner svg, .closeButton:not(._18EIcuUAoTtqjzcDzsTcdy):hover .title-area-icon-inner svg {
  background-image: var(--icon-window-close) !important;
  background-size: 16px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.closeButton:active .title-area-icon-inner svg, .closeButton:not(._18EIcuUAoTtqjzcDzsTcdy):active .title-area-icon-inner svg {
  /* background-image: var(--icon-window-close-active) !important; */
  filter: brightness(0) !important;
}

/* DIV MODAL DISMISS */
.ModalPosition_Dismiss {
  right: 0px !important;
  top: 0px !important;
}

.ModalPosition .ModalPosition_Dismiss, .ModalPosition.EventDisplay_Share_Dialog .ModalPosition_Dismiss {
  right: 1px !important;
  top: 1px !important;
}

.ModalPosition_Dismiss .closeButton {
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  height: 38px !important;
  min-height: 38px !important;
  max-height: 38px !important;
}

.ModalPosition_Dismiss .closeButton svg {
  display: none !important;
}
