/* VIRTUAL KEYBOARD */
.Oel3OSshpNqQ5hIOrC1Z5 {
  background-color: rgb(var(--color-settings)) !important;
}

/* THEME */
.DefaultTheme {
  --background-color: rgba(var(--color-white), 0.1) !important;
  --foreground-color: rgb(var(--color-primary)) !important;
  --key-action-button-glyph-color: rgb(var(--color-primary)) !important;
  --key-focused-action-button-left-color: rgb(var(--color-primary)) !important;
  --key-focused-action-button-right-color: rgb(var(--color-primary)) !important;
  --key-color: rgb(var(--color-primary)) !important;
  --key-background-color: rgba(var(--color-white), 0.1) !important;
  --key-shift-label-color: rgb(var(--color-secondary)) !important;
  --key-focused-shift-label-color: rgb(var(--color-white)) !important;
  --key-focused-color: rgb(var(--color-primary)) !important;
  --key-focused-background-color: rgb(var(--color-accent)) !important;
  --key-meta-color: rgb(var(--color-primary)) !important;
  --key-meta-background-color: rgba(var(--color-white), 0.2) !important;
  --key-tab-color: rgb(var(--color-primary)) !important;
  --key-tab-background-color: rgba(var(--color-white), 0.2) !important;
  --key-caps-color: rgb(var(--color-primary)) !important;
  --key-caps-background-color: rgba(var(--color-white), 0.2) !important;
  --key-shift-color: rgb(var(--color-primary)) !important;
  --key-shift-background-color: rgba(var(--color-white), 0.2) !important;
  --key-enter-color: rgb(var(--color-primary)) !important;
  --key-enter-background-color: rgba(var(--color-white), 0.2) !important;
  --key-enter-action-button-glyph-color: rgb(var(--color-primary)) !important;
  --key-backspace-color: rgb(var(--color-primary)) !important;
  --key-backspace-background-color: rgba(var(--color-white), 0.2) !important;
  --key-spacebar-color: rgb(var(--color-primary)) !important;
  --key-spacebar-background-color: rgba(var(--color-white), 0.1) !important;
  --key-spacer-background-color: rgba(var(--color-white), 0.1) !important;
  --key-extendedkey-background-color: rgba(var(--color-white), 0.2) !important;
  --key-extendedkey-color: rgb(var(--color-primary)) !important;
  --key-extendedkey-focused-background-color: rgb(var(--color-accent)) !important;
  --key-extendedkey-focused-color: rgb(var(--color-primary)) !important;
  --key-extendedkey-hover-background-color: rgb(var(--color-accent)) !important;
  --key-extendedkey-hover-color: rgb(var(--color-primary)) !important;
  --key-toggleon-background-color: rgb(var(--color-accent)) !important;
  --key-toggleon-color: rgb(var(--color-primary)) !important;
  --key-toggleoneshot-background-color: rgb(var(--color-accent)) !important;
  --key-toggleoneshot-color: rgb(var(--color-primary)) !important;
  --key-emoji-category-background-color: transparent;
  --key-emoji-category-highlight-background-color: rgb(var(--color-accent)) !important;
  --key-emoji-row-background-color: transparent;
  --key-emoji-background-color: transparent;
  --key-emoji-color: rgb(var(--color-primary)) !important;
  --key-emoji-focused-color: rgb(var(--color-primary)) !important;
  --key-emoji-focused-background-color: rgb(var(--color-accent)) !important;
  --key-touched-background-color: rgb(var(--color-accent)) !important;
  --key-touched-color: rgb(var(--color-primary)) !important;
  --key-pointer-stroke-color: rgb(var(--color-primary)) !important;
  --key-pointer-background-color: rgba(var(--color-white), 0.1) !important;
  --key-deadkey-background-color: rgba(var(--color-white), 0.1) !important;
  --key-deadkeyinactive-color: rgb(var(--color-primary)) !important;
  --key-deadkeyactive-color: rgb(var(--color-primary)) !important;
}

/* KEYBOARD ROWS */
._45rH7-kY4P2uVEb3TxZhm {
  padding: 12px !important;
  gap: 12px !important;
}

/* KEYBOARD ROW */
.d-_DJF8LavBgxrCblp2Kb {
  gap: 12px !important;
  min-height: 64px !important;
  max-height: 64px !important;
}

/* KEYS */
._1YqjVUO3KYLRq_mer-HsUX {
  padding: 0px !important;
}

._2KhPXikozxMpbIRo_6jPxW {
  font-size: var(--size-18) !important;
  min-height: 64px !important;
  max-height: 64px !important;
  place-content: center !important;
}

._2KhPXikozxMpbIRo_6jPxW span:not(._3FZukK3yuHnaZ_X3yujMNS) {
  margin: 16px !important;
}

._2KhPXikozxMpbIRo_6jPxW ._3FZukK3yuHnaZ_X3yujMNS {
  opacity: 1 !important;
  font-size: var(--size-14) !important;
  line-height: 8px !important;
  margin: 8px !important;
  text-align: left !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  transform: none !important;
}

.DefaultTheme ._2KhPXikozxMpbIRo_6jPxW._3UFQq1GinEyksceos-TETi {
  background-color: rgb(var(--color-accent)) !important;
}

._3GfcsK1T47BLa5UQ3e4Xh3, .NGv5FNsp6c4OnD0_KOiDl, .iMZ3TXDTLXYVzU8Q7A9yP, ._1WbIjnypHqw8t8_NFQHPJr, ._3LsB3VZBjMjAp0RCa_3MGS, .IunX6VHNYj-i8dv5WJzpM, .iMZ3TXDTLXYVzU8Q7A9yP {
  font-size: var(--size-18) !important;
  line-height: 16px !important;
  font-weight: 400 !important;
}

/* ACTION BUTTON ICONS */
._2bothi051q1YZqD6NGaoDB {
  left: 16px !important;
  bottom: unset !important;
}

._2Q0Ip_IWHuGAzjG8gs-fgD {
  right: 16px !important;
  bottom: unset !important;
}

._2KhPXikozxMpbIRo_6jPxW._21EoN2ZlmHNY3fjho_HMae img {
  filter: none !important;
}