/* DISABLE REVEAL */
:root {
  --option-reveal-border: none;
  --option-reveal-background-hover: var(--zehn-color-button-client-background-hover);
  --option-reveal-background-active: var(--zehn-color-button-client-background-active);
}