/* SHOW SCROLLBARS */
:root {
  --option-display-scrollbars: 16px;
  --option-navbar-position: relative;
  --option-navbar-margin: 0px;
  --option-playbar-margin: 0px;
  --option-controls-background: var(--color-acrylic);
  --option-playbar-background: var(--color-acrylic-focus-window);
}