/* CONTEXT MENU POPUP */
.ContextMenuPopupBody {
  box-sizing: border-box !important;
}

.PopupTarget {
  box-sizing: border-box !important;
}

.PP7LM0Ow1K5qkR8WElLpt {
  border: 1px solid rgb(var(--color-contextmenu-border)) !important;
  box-sizing: border-box !important;
}

.PP7LM0Ow1K5qkR8WElLpt:has(.Eq8Px4ixn5sAFSR6_9wWQ), .PP7LM0Ow1K5qkR8WElLpt:has(._3pofGqV0buiKAfMPEs3_82) {
  border-top: unset !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:not(:has(.tid_OE5NJWCCVJQP1PfRc)), ._2EstNjFIIZm_WUSKm5Wt7n.HoGkIKTQnkTEFGjqO-GMl {
  width: 200px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:has(._1eb1crSvl4J1Ie12OvhHUz) {
  width: 200px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:has(.MCa4RMSvWJwwWjcZP2wTT) {
  width: 400px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:has(._3DLyrg7YP5cNP9HKda62qd) {
  width: 400px !important;
}

/* CHECKBOX DROPDOWN */
.PP7LM0Ow1K5qkR8WElLpt.EDl_mzaY3WxkgmYVD8W4d._1S6CCCQlcTTAAHh3LMTLh1 {
  border: 1px solid var(--color-acrylic-overlay-light) !important;
}

/* MENU */
.GreenEnvelopeMenu, .PP7LM0Ow1K5qkR8WElLpt {
  background: transparent !important;
}

._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n._3pofGqV0buiKAfMPEs3_82 {
  background-color: var(--color-acrylic-overlay-dark) !important;
  min-width: 0px !important;
  border: unset !important;
  padding-bottom: 8px !important;
}

._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n._3pofGqV0buiKAfMPEs3_82::before {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  background: var(--color-acrylic) !important;
}

._2jXHP0742MyApMUVUM8IFn {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  max-width: 100% !important;
  min-width: 0px !important;
  box-sizing: border-box !important;
}

._2jXHP0742MyApMUVUM8IFn._21GPYlKBCLsHQpTsHw_RL_ {
  border-bottom: 0px solid rgb(var(--color-contextmenu-border)) !important;
}

._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG {
  width: 100% !important;
}

._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG:hover {
  background-color: rgba(var(--color-negative), 0.1) !important;
  color: rgb(var(--color-text-primary)) !important;
}

._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG:active {
  background-color: rgba(var(--color-negative), 0.2) !important;
  color: rgb(var(--color-text-primary)) !important;
}

/* FAKE ACRYLIC FOR FRIENDS LIST */
._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n {
  background-color: var(--color-acrylic-overlay-dark) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
    background-image: var(--image-acrylic) !important;
}

._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n::before, ._14wqdluDeDnnEcg3OSLEmd ._2EstNjFIIZm_WUSKm5Wt7n::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: var(--color-acrylic) !important;
}

/* CONTEXT MENU */
.PP7LM0Ow1K5qkR8WElLpt._1UOkn2fGQ25jnyqcEJbnlo.visible._1S6CCCQlcTTAAHh3LMTLh1 {
  overflow-x: hidden !important;
}

.PP7LM0Ow1K5qkR8WElLpt {
  background-color: transparent !important;
  background: transparent !important;
  padding: 0px !important;
  margin: 0px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n {
  font-size: var(--size-14) !important;
  background-color: var(--color-acrylic-overlay-dark) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n::before {
  content: "" !important;
  z-index: -1 !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:not(._3pofGqV0buiKAfMPEs3_82) {
  padding: 4px 0px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._3pofGqV0buiKAfMPEs3_82 {
  padding-bottom: 8px !important;
}

.WUOrULWKkGLl3ZUQdDXg8.WUOrULWKkGLl3ZUQdDXg8 + ._1n7Wloe5jZ6fSuvV18NNWI {
  border-top: 0px solid rgb(var(--color-contextmenu-border)) !important;
}

.WUOrULWKkGLl3ZUQdDXg8, .IjIBR_wDDi2N77Oz4KAT4 {
  display: none !important;
}

._2EstNjFIIZm_WUSKm5Wt7n:not(._3pofGqV0buiKAfMPEs3_82) ._1n7Wloe5jZ6fSuvV18NNWI {
  margin: 0px !important;
}

._1n7Wloe5jZ6fSuvV18NNWI {
  color: rgb(var(--color-text-primary)) !important;
  border: unset !important;
  padding: 0px 16px !important;
  font-size: rgb(var(--color-text-primary)) !important;
  line-height: 32px !important;
  display: block !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  max-width: 100% !important;
  min-width: 0px !important;
  box-sizing: border-box !important;
}

._2qdHlYPUfe_wwwtyPIu7m3 {
  flex-shrink: 1 !important;
}

._1n7Wloe5jZ6fSuvV18NNWI:hover {
  background: rgba(var(--color-negative), 0.1) !important;
}

._1n7Wloe5jZ6fSuvV18NNWI:active {
  background: rgba(var(--color-negative), 0.2) !important
}

._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK {
  background-color: rgb(var(--color-accent-positive-heavy)) !important;
}

._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi ._114nFoGF7tZ4PpremDP2w0 {
  margin: 0px !important;
  width: 32px !important;
  height: 32px !important;
  top: 0px !important;
  right: 0px !important;
  position: absolute !important;
}

._1n7Wloe5jZ6fSuvV18NNWI._2RlEO6dx1vo3OB7EFJnzDi .SVGIcon_DownArrowContextMenu {
  fill: transparent !important;
  margin: 0px !important;
  background-size: 12px !important;
  background-image: var(--icon-chevron-right) !important;
  transform: none !important;
  height: 32px !important;
  width: 32px !important;
  filter: none !important;
}

/* SCREENSHOTS */
._2tKr_CSDskG6HFUPMfBQrc ._2EstNjFIIZm_WUSKm5Wt7n:not(._3pofGqV0buiKAfMPEs3_82) {
  padding: 0px !important;
}

/* FRIENDS CONTEXT MENU */
.persona_menu_descriptor, .persona_menu_dnd_descriptor {
  line-height: 24px !important;
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  margin: 0px !important;
  padding: 0px !important;
  /* width: 0px !important; */
  /* min-width: 0px !important; */
  margin-top: -8px !important;
}
.personaContextMenuItem._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
  line-height: 32px !important;
}

.personaContextMenuItem._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem .contextMenuCheckMark {
}

.DialogCheckbox_Container {
  gap: 8px !important;
}

.contextMenuCheckMark {
}

.DialogCheckbox_Container .DialogToggle_Label {
  /* line-height: normal !important; */
}

.DialogToggle_Label span {
  margin: 0px !important;
}

.DialogCheckbox_Container._DialogLayout.DNDCheckBox.Panel {
}

.DialogCheckbox_Container._DialogLayout.DNDCheckBox.Panel .DialogCheckbox {
  transform: none !important;
  margin: 0px !important;
  order: 2 !important;
  margin-left: auto !important;
}

.DialogCheckbox_Container._DialogLayout.DNDCheckBox.Panel .DialogCheckbox .SVGIcon_DialogCheck {
  margin: 0px !important;
  top: 0px !important;
  padding: 0px !important;
  width: 16px !important;
  height: 16px !important;
  transform: none !important;
}

.friendsContextMenu ._1n7Wloe5jZ6fSuvV18NNWI {
  max-width: unset !important;
}

/* RECENT */
.recentName {
  padding: 0px 16px !important;
  font-size: rgb(var(--color-text-primary)) !important;
  color: rgb(var(--color-text-primary)) !important;
  line-height: 32px !important;
  min-width: fit-content !important;
  display: block !important;
  align-items: center !important;
  flex-direction: row !important;
  white-space: nowrap !important;
}

/* GAME SECTION */
.contextMenuGameItem {
  line-height: 32px !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.contextMenuSectionContent {
  background: transparent !important;
}

.contextMenuUnselectable, .contextMenuUnselectable.disabled, .contextMenuGameTitle, .contextMenuBroadcast, .contextMenuGameOptions {
  background: transparent !important;
}

.contextMenuGameName {
  color: rgb(var(--color-text-primary)) !important;
}

.contextMenuGameTitleBlurCropContainer {
  -webkit-mask: none !important;
}

/* PLAY BUTTON */
.Z5iAXBkRFGnwpXsO8ANTl.Stream, .Z5iAXBkRFGnwpXsO8ANTl.Connect, .Z5iAXBkRFGnwpXsO8ANTl.Launch, .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic, .Z5iAXBkRFGnwpXsO8ANTl.Play, .Z5iAXBkRFGnwpXsO8ANTl.Download, .Z5iAXBkRFGnwpXsO8ANTl.Update, .Z5iAXBkRFGnwpXsO8ANTl.PreLoad, .Z5iAXBkRFGnwpXsO8ANTl.Resume, .Z5iAXBkRFGnwpXsO8ANTl.Pause, .Z5iAXBkRFGnwpXsO8ANTl.BorrowApp, .Z5iAXBkRFGnwpXsO8ANTl.Stop, .Z5iAXBkRFGnwpXsO8ANTl.Cancel, .Z5iAXBkRFGnwpXsO8ANTl.Install, .Z5iAXBkRFGnwpXsO8ANTl.PurchaseApp {
  background: transparent !important;
  color: rgb(var(--color-text-primary)) !important;
}

.Z5iAXBkRFGnwpXsO8ANTl.Stream:hover, .Z5iAXBkRFGnwpXsO8ANTl.Connect:hover, .Z5iAXBkRFGnwpXsO8ANTl.Launch:hover, .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:hover, .Z5iAXBkRFGnwpXsO8ANTl.Play:hover, .Z5iAXBkRFGnwpXsO8ANTl.Download:hover, .Z5iAXBkRFGnwpXsO8ANTl.Update:hover, .Z5iAXBkRFGnwpXsO8ANTl.Pause:hover, .Z5iAXBkRFGnwpXsO8ANTl.BorrowApp:hover, .Z5iAXBkRFGnwpXsO8ANTl.Stop:hover, .Z5iAXBkRFGnwpXsO8ANTl.Cancel:hover, .Z5iAXBkRFGnwpXsO8ANTl.Install:hover, .Z5iAXBkRFGnwpXsO8ANTl.PurchaseApp:hover {
  background: rgba(var(--color-negative), 0.1) !important
}

.Z5iAXBkRFGnwpXsO8ANTl.Stream:active, .Z5iAXBkRFGnwpXsO8ANTl.Connect:active, .Z5iAXBkRFGnwpXsO8ANTl.Launch:active, .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic:active, .Z5iAXBkRFGnwpXsO8ANTl.Play:active, .Z5iAXBkRFGnwpXsO8ANTl.Download:active, .Z5iAXBkRFGnwpXsO8ANTl.Update:active, .Z5iAXBkRFGnwpXsO8ANTl.PreLoad:active, .Z5iAXBkRFGnwpXsO8ANTl.Resume:active, .Z5iAXBkRFGnwpXsO8ANTl.Pause:active, .Z5iAXBkRFGnwpXsO8ANTl.BorrowApp:active, .Z5iAXBkRFGnwpXsO8ANTl.Stop:active, .Z5iAXBkRFGnwpXsO8ANTl.Cancel:active, .Z5iAXBkRFGnwpXsO8ANTl.Install:active, .Z5iAXBkRFGnwpXsO8ANTl.PurchaseApp:active {
  background: rgba(var(--color-negative), 0.2) !important
}

/* FRIENDS REACT */
._2CJ0LpiSgVs2JuTlwbzBM:not(._1ddEQAfz6GuVRSEqk-d0r) {
  border-bottom: unset !important;
}

._2CJ0LpiSgVs2JuTlwbzBM._1ddEQAfz6GuVRSEqk-d0r {
  border-bottom: 2px solid rgb(var(--color-accent)) !important;
}

._1yVkTX9Mo_7qb2sxWhM0Cr {
  border-bottom: unset !important;
  height: 48px !important;
}

.ZmsElITvVzU-7a2HXKBZI, ._3WuFl419BivPeLqeVIC939 {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  padding: 0px !important;
  line-height: 32px !important;
}

.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf:hover, .EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf:focus {
  background-color: transparent !important;
}

.EuFePPYFGrcf99uLXmBYN ._2l4z-U60lABvd9XWArGjAf {
  height: 28px !important;
}

.tid_OE5NJWCCVJQP1PfRc {
  border-radius: 0px !important;
}

._2CJ0LpiSgVs2JuTlwbzBM {
  padding: 0px !important;
  width: 48px !important;
  height: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 100% !important;
  max-height: 48px !important;
  border-radius: 0px !important;
  flex: 1 !important;
}

._2CJ0LpiSgVs2JuTlwbzBM:hover {
  background-color: rgba(var(--color-negative), 0.1) !important;
}

._2CJ0LpiSgVs2JuTlwbzBM:active {
  background-color: rgba(var(--color-negative), 0.2) !important;
}

._2CJ0LpiSgVs2JuTlwbzBM ._1mROo5bpUJSg8D8ILx7qpw:hover:not(._1ddEQAfz6GuVRSEqk-d0r) {
  background-color: transparent !important;
}

._2CJ0LpiSgVs2JuTlwbzBM ._1mROo5bpUJSg8D8ILx7qpw._1ddEQAfz6GuVRSEqk-d0r {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 100% !important;
  max-height: 48px !important;
  padding: 0px !important;
}

._2CJ0LpiSgVs2JuTlwbzBM ._1mROo5bpUJSg8D8ILx7qpw {
  width: 48px !important;
  height: 48px !important;
  min-width: 48px !important;
  min-height: 48px !important;
  max-width: 100% !important;
  max-height: 48px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  opacity: 1 !important;
  color: rgb(var(--color-text-primary)) !important;
}

._3JpKJFAvvDJ0Js0f3-arto._2osi8r23eZgeNkWUaot-Vz {
  padding: 0px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-clock) !important;
}

._1yVkTX9Mo_7qb2sxWhM0Cr div {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
}

._1yVkTX9Mo_7qb2sxWhM0Cr div:nth-child(2) {
  background-image: var(--icon-emoticon) !important;
}

._1yVkTX9Mo_7qb2sxWhM0Cr div:nth-child(3) {
  background-image: var(--icon-color) !important;
}

._1yVkTX9Mo_7qb2sxWhM0Cr div:nth-child(4) {
  background-image: var(--icon-home) !important;
}

._3JpKJFAvvDJ0Js0f3-arto svg {
  display: none !important;
}

._2wUk7QR9TZiiKB4bX_9EgD {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

._2wUk7QR9TZiiKB4bX_9EgD a {
  color: rgb(var(--color-accent)) !important;
}

._2wUk7QR9TZiiKB4bX_9EgD a:hover {
  color: rgb(var(--color-text-secondary)) !important;
}

._2wUk7QR9TZiiKB4bX_9EgD a:active {
  color: rgb(var(--color-text-tertiary)) !important;
}

.dUQIH8Qg80N6kjB8UQO0P {
  padding: 16px !important;
}

/* STICKERS */
._3Wc3jBAd8xYHu8EUsa93VY {
  width: 64px !important;
  height: 64px !important;
}

._3Wc3jBAd8xYHu8EUsa93VY img {
  width: 48px !important;
  height: 48px !important;
  padding: 8px !important;
}

/* ROOM EFFECT */
.nnnSnQuyFsNqDmaSxknlB {
  width: 64px !important;
  height: 64px !important;
}

.nnnSnQuyFsNqDmaSxknlB img {
  width: 48px !important;
  height: 48px !important;
  padding: 8px !important;
}

/* EMOTICON */
._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ:hover, ._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ._1xH5si_KorJpS4ST2Geksh {
  background-color: rgba(var(--color-negative), 0.1) !important;
}

._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ:active, ._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ._1xH5si_KorJpS4ST2Geksh {
  background-color: rgba(var(--color-negative), 0.2) !important;
}

._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

.gZL645YbPyHbNeh1a3zfX {
  width: 48px !important;
  height: 48px !important;
}

._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ img.AB86vEzEKPL0y5fK_m4pT {
  width: 16px !important;
  height: 16px !important;
  transition: transform 0.2s ease-in-out !important;
}

._2OWGRbhpXNcuR3oih9IGrX ._1SFqyFzFrpPOEAKCrq2kKZ:hover img.AB86vEzEKPL0y5fK_m4pT {
  transform: scale(2) !important;
}

/* EMOTICON TOOLTIP */
._2_lmTz0tA4NOSle5WaO1PZ {
  width: 100% !important;
  height: 100% !important;
}

._36iQ4zr5AiMWVmmiHee0mN {
  border-radius: 0px !important;
  background-color: transparent !important;
  border: 1px solid rgb(var(--color-contextmenu-border)) !important;
  margin: 0px !important;
  padding: 8px !important;
  min-width: calc((48px * 8)) !important;
  max-width: calc((48px * 8)) !important;
  box-sizing: border-box !important;
  min-height: 54px !important;
  left: 16px !important;
  top: 16px !important;
  background-color: var(--color-acrylic-overlay-dark) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
}

._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B {
  gap: 8px !important;
}

._36iQ4zr5AiMWVmmiHee0mN::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

._36iQ4zr5AiMWVmmiHee0mN::after {
  background-image: var(--image-acrylic) !important;
}

._36iQ4zr5AiMWVmmiHee0mN ._1EGMuGj8BnVwY9FY_hre1R {
  padding: 0px !important;
}

._36iQ4zr5AiMWVmmiHee0mN ._1EGMuGj8BnVwY9FY_hre1R ._1AncwmbW9wMCUYJFht59NF {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  padding: 0px !important;
  margin: auto 0px !important;
}

._36iQ4zr5AiMWVmmiHee0mN ._1EGMuGj8BnVwY9FY_hre1R ._335w0RQ7aldGlE8E-fqm82 {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  padding: 0px !important;
}

/* GROUP CHAT FRIENDS */
.FriendMenuRoleCheckbox.disabled._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem .SVGIcon_Button.SVGIcon_Crown {
  width: 0px !important;
  display: none !important;
}

/* CHAT TAB SELECTOR MENU */
.ChatTabsContextMenu.CompactFriendsList .friend .labelHolder {
  margin-top: 0px !important;
}

._1n7Wloe5jZ6fSuvV18NNWI ._3sxE7F1LV2IcSX68YsH9dI {

}

.vs5AhAWHJLa_eDOBkDcMy ._3sxE7F1LV2IcSX68YsH9dI {
  line-height: 16px !important;
  display: none !important;
}

.PP7LM0Ow1K5qkR8WElLpt ._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
  background-color: transparent !important;
}

.ChatTabsContextMenu .ChatTabContextMenuItem ._2XZq-_f6npaQdAgeRzKIkz.Yd-DsWkYiFiYwpci--Yk_ {
  border-radius: 0px !important;
}

.PP7LM0Ow1K5qkR8WElLpt .ChatTabContextMenuItem  ._2XZq-_f6npaQdAgeRzKIkz .ChatRoomGroupAvatar.Smaller {
  height: 24px !important;
  width: 24px !important;
}

.PP7LM0Ow1K5qkR8WElLpt ._1JXI4j2_xSpVK1YjyEuebr {
  margin: 0px !important;
  width: 12px !important;
  height: 12px !important;
  /* position: absolute !important; */
  /* right: 0px !important; */
}

.PP7LM0Ow1K5qkR8WElLpt ._2XZq-_f6npaQdAgeRzKIkz .nibodjvvrm86uCfnnAn4g.X-Small, .PP7LM0Ow1K5qkR8WElLpt ._2XZq-_f6npaQdAgeRzKIkz .ChatRoomGroupAvatar.Smaller {
  width: 24px !important;
  height: 24px !important;
}

.PP7LM0Ow1K5qkR8WElLpt ._21I8pyEfvklCsrYIcsBtYY, .chattabs_ChatTabContent_ChatRoom__ {
  padding: 0px !important;
  margin-top: 1px !important;
}

._3hCFlMxf40SP2WVNOubSvf {
  height: 24px !important;
}

.ChatTabsContextMenu .SVGIcon_Button.SVGIcon_X_Line {
  background-size: 12px !important;
  width: 12px !important;
  height: 12px !important;
}

.ChatTabContextMenuItem ._3hCFlMxf40SP2WVNOubSvf {
  padding: 0px !important;
}

.ChatTabContextMenuItem ._2XZq-_f6npaQdAgeRzKIkz {
  width: unset !important;
}

/* FIX FOR REACT HAVING REPEATED MENU */
._2EstNjFIIZm_WUSKm5Wt7n ._2EstNjFIIZm_WUSKm5Wt7n {
  margin: -5px -1px !important;
}

.tid_OE5NJWCCVJQP1PfRc.Panel.Focusable {
  margin: -4px 0px !important;
  min-width: calc((48px * 8) + 32px) !important;
}

.EuFePPYFGrcf99uLXmBYN {
}

._2EstNjFIIZm_WUSKm5Wt7n ._2EstNjFIIZm_WUSKm5Wt7n::before, ._2EstNjFIIZm_WUSKm5Wt7n ._2EstNjFIIZm_WUSKm5Wt7n::after {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._2EstNjFIIZm_WUSKm5Wt7n::before {
  background-color: transparent !important;
  backdrop-filter: blur(0px) !important;
  background-blend-mode: normal !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._2EstNjFIIZm_WUSKm5Wt7n::after {
  opacity: 0.0 !important;
  background-image: url() !important;
}

/* ICONS */
._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Play, ._1n7Wloe5jZ6fSuvV18NNWI svg {
  border: unset !important;
  margin: 0px !important;
  width: 16px !important;
  height: 16px !important;
  opacity: 1 !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  line-height: 32px !important;
}

.Z5iAXBkRFGnwpXsO8ANTl.Stream, .Z5iAXBkRFGnwpXsO8ANTl.Connect, .Z5iAXBkRFGnwpXsO8ANTl.Launch, .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic, .Z5iAXBkRFGnwpXsO8ANTl.Play {
  display: flex !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI svg {
  /* background-image: var(--icon-more) !important; */
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_PlusCircle {
  background-image: var(--icon-add-list) !important;
  margin: 0px 8px 0px 0px !important;
  display: none !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Stream svg {
  background-image: var(--icon-streaming) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Connect svg {
  background-image: var(--icon-sync) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Cancel svg {
  background-image: var(--icon-cancel) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Launch svg {
  background-image: var(--icon-go) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Pause svg {
  background-image: var(--icon-pause) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.BorrowApp svg {
  background-image: var(--icon-share) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.PurchaseApp svg {
  background-image: var(--icon-shop-cart) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Install svg, ._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.PreLoad svg, ._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Download svg {
  background-image: var(--icon-download) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Launch svg {
  background-image: var(--icon-go) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Update svg {
  background-image: var(--icon-update) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic svg {
  background-image: var(--icon-audio) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Play svg, ._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Resume svg, ._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic svg {
  background-image: var(--icon-play) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl.Stop svg {
  background-image: var(--icon-stop) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Update._1n7Wloe5jZ6fSuvV18NNWI svg {
  background-image: var(--icon-update) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Button.SVGIcon_X_Line {
  background-image: var(--icon-close) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Button.SVGIcon_Check {
  background-image: var(--icon-checkmark) !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI.SVGIcon_Button.SVGIcon_Information {
  background-image: var(--icon-info) !important;
}

.playTriangle {
  fill: transparent !important;
  stroke: transparent !important;
  stroke-width: 20px !important;
}

.Z5iAXBkRFGnwpXsO8ANTl.Stream svg, .Z5iAXBkRFGnwpXsO8ANTl.Connect svg, .Z5iAXBkRFGnwpXsO8ANTl.Launch svg, .Z5iAXBkRFGnwpXsO8ANTl.PlayMusic svg, .Z5iAXBkRFGnwpXsO8ANTl.Play svg {
  fill: transparent !important;
  stroke: transparent !important;
}

.contextMenuGameIcon {
  margin: 0px !important;
  width: 0px !important;
  height: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_PlusCircle line {
  stroke: rgb(var(--color-negative)) !important;
}

._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Button {
  width: 16px !important;
  height: 16px !important;
  margin-right: 0px !important;
}

/* GAME SOURCE */
._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
  display: flex !important;
}

._2EstNjFIIZm_WUSKm5Wt7n .Z5iAXBkRFGnwpXsO8ANTl svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  margin: 8px 8px 8px 0px !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._1n7Wloe5jZ6fSuvV18NNWI svg * {
  fill: transparent !important;
  display: none !important;
}

/* TRAY */
.DesktopUI .Stream, .DesktopUI .Connect, .DesktopUI .Launch, .DesktopUI .PlayMusic, .DesktopUI .Play {
  text-transform: none !important;
}

.contextMenuItem ._2QcdrheE9WasLLyJYHymUv._33a4zs_vxXCtw7vFTwb3XG {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
}

.contextMenuItem ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
}

.contextMenuItem:hover ._2QcdrheE9WasLLyJYHymUv._33a4zs_vxXCtw7vFTwb3XG, .contextMenuItem:hover ._2QcdrheE9WasLLyJYHymUv._54dy2uxVcadf_1e6Poifs {
  color: rgb(var(--color-text-primary)) !important;
  font-weight: 400 !important;
}

._2P-W-7p-jFhKaomvy0by-z {
  width: 0px !important;
  height: 0px !important;
  margin-right: 0px !important;
  opacity: 0 !important;
  display: none !important;
}

/* DROPDOWN */
.DialogMenuPosition {
  min-width: 300px !important;
  max-width: 300px !important;
}

/* NOTIFICATIONS DROPDOWN */
._1UgM1Pm8SbTWX7_2f-crGt {
  padding: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.MCa4RMSvWJwwWjcZP2wTT {
  padding: 16px 16px 0px 16px !important;
}

._3zQLPuC3M-NPNa1tVda9Dz {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-16) !important;
  font-weight: 400 !important;
  padding: 0px 0px !important;
  border-radius: 0px !important;
  height: 32px !important;
  min-height: 32px !important;
  line-height: 32px !important;
}

._1oERP7bVictkby2hP4BBva {
  background: rgba(var(--color-negative), 0.2) !important;
  border-radius: 0px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._1oERP7bVictkby2hP4BBva:hover {
  background: rgba(var(--color-negative), 0.3) !important;
  color: rgb(var(--color-negative)) !important;
  outline: 2px solid rgba(var(--color-negative), 0.5) !important;
  outline-offset: -2px !important;
}

._1oERP7bVictkby2hP4BBva:active {
  background: rgba(var(--color-negative), 0.4) !important;
  color: rgb(var(--color-negative)) !important;
  outline: 2px solid transparent !important;
  outline-offset: -2px !important;
}

._3sTMvhkGXqBzwhsP2-IA5P._2IZUdldK7vmIvkXLEEmyu9 {
  margin: 0px !important;
  margin: 16px 0px 8px 0px !important;
}

._2m6H7Jmk-G-Nrbif_wDoTx {
  gap: 0px !important;
  margin-top: 0px !important;
}

._2m6H7Jmk-G-Nrbif_wDoTx:first-child {
}

._2m6H7Jmk-G-Nrbif_wDoTx:last-child {
  margin-bottom: 0px !important;
}

._3zfQA8bEKpisPtsyT4SovP {
  background: transparent !important;
}

._3zfQA8bEKpisPtsyT4SovP:hover {
  background: rgba(var(--color-negative), 0.1) !important;
}

._3zfQA8bEKpisPtsyT4SovP:active {
  background: rgba(var(--color-negative), 0.2) !important;
}

._3k90ug209sE23xAMqcM74s {
  background: transparent !important;
  margin: 0px !important;
  border-radius: 0px !important;
  height: 32px !important;
  background: transparent !important;
}

.QFW0BtI4l77AFmv1xLAkx ._1SQjN025UZ0z_8AkWHCsGd, ._3B8wRA4H7e_oSksYNqpSPv ._1SQjN025UZ0z_8AkWHCsGd, ._2NdiftmP-B3C4LPWnNGTCB ._1SQjN025UZ0z_8AkWHCsGd, ._3k90ug209sE23xAMqcM74s ._1SQjN025UZ0z_8AkWHCsGd P {
}

._3k90ug209sE23xAMqcM74s ._2auM-VHPU-KKomAWyuWrSV > svg {

}

._3k90ug209sE23xAMqcM74s:hover {
  background: rgba(var(--color-negative), 0.1) !important;
}

._3k90ug209sE23xAMqcM74s:active {
  background: rgba(var(--color-negative), 0.2) !important;
}

._3k90ug209sE23xAMqcM74s:last-child {
  margin-bottom: 8px !important;
}

._3k90ug209sE23xAMqcM74s .h-lNlCUnCRbIcn38-Oqaw {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._3k90ug209sE23xAMqcM74s ._2auM-VHPU-KKomAWyuWrSV {
  width: 32px !important;
  height: 32px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  color: transparent !important;
}

._3k90ug209sE23xAMqcM74s ._2auM-VHPU-KKomAWyuWrSV svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-notification) !important;
  margin: 0px !important;
  width: 32px !important;
  height: 32px !important;
}

._2m6H7Jmk-G-Nrbif_wDoTx ._2auM-VHPU-KKomAWyuWrSV {
  width: 0px !important;
  height: 0px !important;
  margin-right: 0px !important;
  display: none !important;
}

._30fVm4Rsel-4nUKEiPJgz9:hover, ._30fVm4Rsel-4nUKEiPJgz9.gpfocus {
  background-color: transparent !important;
}

._3B8wRA4H7e_oSksYNqpSPv._1B1XTNsfuwOaDPAkkr8M42 {
  background: transparent !important;
}

.QFW0BtI4l77AFmv1xLAkx, ._3B8wRA4H7e_oSksYNqpSPv, ._25gii5r23MmAqXvLZj24tK, ._3k90ug209sE23xAMqcM74s {
  padding: 16px !important;
  height: unset !important;
  gap: 8px !important;
}

.QFW0BtI4l77AFmv1xLAkx ._1SQjN025UZ0z_8AkWHCsGd, ._3B8wRA4H7e_oSksYNqpSPv ._1SQjN025UZ0z_8AkWHCsGd, ._25gii5r23MmAqXvLZj24tK ._1SQjN025UZ0z_8AkWHCsGd, ._3k90ug209sE23xAMqcM74s ._1SQjN025UZ0z_8AkWHCsGd {
  margin-left: 0px !important;
}

._1VRx9qVxigUC4qeM0NWNMR {
}

._1SQjN025UZ0z_8AkWHCsGd {
}

._3u0Sb5gUTscs0TQlKpA7WZ {
}

._1GTWEgiW95vRIhUWfk6omo {
  filter: none !important;
  height: 44px !important;
  width: 44px !important;
  display: none !important;
}

._2auM-VHPU-KKomAWyuWrSV {
  color: rgb(var(--color-text-secondary)) !important;
  fill: rgb(var(--color-text-secondary)) !important;
}

._2MGSmn9lIFnmLVIX49POSx {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.QFW0BtI4l77AFmv1xLAkx ._2MGSmn9lIFnmLVIX49POSx, ._3B8wRA4H7e_oSksYNqpSPv ._2MGSmn9lIFnmLVIX49POSx, ._2NdiftmP-B3C4LPWnNGTCB ._2MGSmn9lIFnmLVIX49POSx, ._25gii5r23MmAqXvLZj24tK ._2MGSmn9lIFnmLVIX49POSx, ._3k90ug209sE23xAMqcM74s ._2MGSmn9lIFnmLVIX49POSx {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

._1N5mcKPHLaAfi4MA2HzjuQ {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

.QFW0BtI4l77AFmv1xLAkx ._7XKFnSNjW_tHfyxaezoD3, ._3B8wRA4H7e_oSksYNqpSPv ._7XKFnSNjW_tHfyxaezoD3, ._2NdiftmP-B3C4LPWnNGTCB ._7XKFnSNjW_tHfyxaezoD3, ._25gii5r23MmAqXvLZj24tK ._7XKFnSNjW_tHfyxaezoD3, ._3k90ug209sE23xAMqcM74s ._7XKFnSNjW_tHfyxaezoD3 {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  margin-left: 0px !important;
}

._26v9mHAi56x63OwY-jxett {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

._3hEeummFKRey8l5VXxZwxz {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-10) !important;
  font-weight: 400 !important;
}

._1pIhbqWsrCVPaGGYc6fT-H {
  filter: none !important;
}

._1pIhbqWsrCVPaGGYc6fT-H svg {
  color: rgb(var(--color-accent)) !important;
}

.p2CKe5nuC_8YgWL_lZbNn {
  font-size: var(--size-12) !important;
  padding: 16px 16px 16px 16px
}

.p2CKe5nuC_8YgWL_lZbNn ._2uHOsFCB_RZYZFsMQiw28v {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  padding-top: 0px !important;
}

.p2CKe5nuC_8YgWL_lZbNn .cam5nVZiJHP17RZlbXzmE {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
  padding-top: 16px !important;
}

/* SCREENSHOTS HOVER */
._2EMM516bLA2dC0r3OreZnv {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

._38FqIwZQKW6BlRyzN66pi6 .rYBZBWnNW6m-N9vX0Chce {
  background: var(--color-acrylic-overlay-dark) !important;
  backdrop-filter: blur(var(--blur-radius)) !important;
  background-blend-mode: exclusion !important;
  background-image: var(--image-acrylic) !important;
}

._38FqIwZQKW6BlRyzN66pi6 {
  padding: 0px !important;
  max-height: fit-content !important;
}

._2EMM516bLA2dC0r3OreZnv ._2pHz57SGRWZSR3oEmPPKK_ {
  background-color: transparent !important;
}

._2EMM516bLA2dC0r3OreZnv > div:not(.rYBZBWnNW6m-N9vX0Chce):not(img) {
  line-height: 24px !important;
  margin-left: 8px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-12) !important;
  font-weight: 400 !important;
}

/* SOUNDTRACK */
._2EstNjFIIZm_WUSKm5Wt7n ._20v4MHXd0kP4rRu6ZTAGQU {
  margin: 0px !important;
  padding: 12px 16px !important;
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._20v4MHXd0kP4rRu6ZTAGQU ._3DLyrg7YP5cNP9HKda62qd {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}

._2EstNjFIIZm_WUSKm5Wt7n ._20v4MHXd0kP4rRu6ZTAGQU .gjP9WbEr6MS7VnS1zdyvb {
  gap: 16px !important;
  display: flex !important;
  flex-direction: column !important;
}


._2ADpTpv53dcY1uFpMWO1KT {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

/* ACCOUNT MENU */
.HoGkIKTQnkTEFGjqO-GMl ._11phBiBefcVQdzrnrezkKa, .HoGkIKTQnkTEFGjqO-GMl ._2jphjrSifC6orDT4g_7Wd {
  color: rgb(var(--color-text-primary)) !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.HoGkIKTQnkTEFGjqO-GMl ._2jphjrSifC6orDT4g_7Wd {
  padding: 0px !important;
  line-height: inherit !important;
  display: inherit !important;
}

._20oWF80IgHJr1BcEb1GgHL {
  gap: 8px !important;
}

/* RECORDINGS */
._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC {
   justify-content: flex-start !important;
   align-items: flex-start !important;
   text-overflow: ellipsis !important;
   overflow: hidden !important;
   white-space: nowrap !important;
   display: block !important;
   box-sizing: border-box !important;
   line-height: 32px !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC>svg {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  height: 16px !important;
  width: 16px !important;
  float: left !important;
  margin-right: 8px !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC>svg * {
  fill: transparent !important;
  display: none !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._3VSFddY_9-Sh1I3ByUwmD4, ._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._13th0aVaGQhNp6eltjFYyh, ._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._1eb1crSvl4J1Ie12OvhHUz {
   line-height: 32px !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._3VSFddY_9-Sh1I3ByUwmD4>svg {
  color: rgb(var(--color-negative)) !important;
  background-image: var(--icon-marker) !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._13th0aVaGQhNp6eltjFYyh>svg {
  color: rgb(var(--color-negative)) !important;
  background-image: var(--icon-picture) !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._1eb1crSvl4J1Ie12OvhHUz>svg {
  color: rgb(var(--color-negative)) !important;
  background-image: var(--icon-cut) !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._1eb1crSvl4J1Ie12OvhHUz {
  color: rgb(var(--color-text-primary)) !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC._3YpMycJiNuGZOe9A5ddrxL {
  color: rgb(var(--color-text-primary)) !important;
}

._1_VGcqhwscnT-kPnPb2c22:hover ._1eb1crSvl4J1Ie12OvhHUz,._1_VGcqhwscnT-kPnPb2c22._1D7oiWH7xjJ2nI27nnFzwI ._1eb1crSvl4J1Ie12OvhHUz {
  color: rgb(var(--color-text-primary)) !important;
}

._1_VGcqhwscnT-kPnPb2c22:hover ._3YpMycJiNuGZOe9A5ddrxL,._1_VGcqhwscnT-kPnPb2c22._1D7oiWH7xjJ2nI27nnFzwI ._3YpMycJiNuGZOe9A5ddrxL {
  color: rgb(var(--color-text-primary)) !important;
}

._1_VGcqhwscnT-kPnPb2c22 ._1wPm9-zsQlqLzb92eR77lC>svg {
  width: 16px !important;
  height: 32px !important;
}

/* RECORDING SAVE/SHARE */
.tyP_D79lbTe9kJwFOIjfB {
  padding: 0px !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._1VfBGBsa-hw-ZP94MWbtJE {
  background: transparent !important;
  color: rgb(var(--color-text-primary)) !important;
}

.tyP_D79lbTe9kJwFOIjfB ._3H0CiPqY3V1kLmbMTkJxpl {
  color: rgb(var(--color-text-primary)) !important;
}

.tyP_D79lbTe9kJwFOIjfB ._3m0ZwHamVLhTf2xS8xoMfy {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  padding: 0px 16px !important;
  text-transform: none !important;
  display: none !important;
}

.tyP_D79lbTe9kJwFOIjfB ._3m0ZwHamVLhTf2xS8xoMfy ._3i8KQMwTGN9sESFBEYQr6x {
  padding-top: 0px !important;
}

.tyP_D79lbTe9kJwFOIjfB ._1rMJzvsvlZLBG67mVqqJ06 {
  color: rgb(var(--color-text-secondary)) !important;
  font-style: normal !important;
  padding: 0px 16px !important;
  text-align: center;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._1rMJzvsvlZLBG67mVqqJ06 {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  max-width: 100% !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F {
  padding: 0px 16px !important;
  display: flex !important;
  flex-direction: row !important;
  gap: 8px !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg {
  width: 16px !important;
  height: 16px !important;
  margin: 8px 0px !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg {
  margin: 8px 0px !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg * {
  fill: transparent !important;
  display: none !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M18 3C15.0333 3 12.1332 3.87973 9.66645 5.52796C7.19972 7.17618 5.27713 9.51886 4.14181 12.2597C3.0065 15.0006 2.70945 18.0166 3.28823 20.9264C3.86701 23.8361 5.29562 26.5088 7.3934 28.6066C9.49119 30.7044 12.1639 32.133 15.0737 32.7118C17.9834 33.2906 20.9994 32.9935 23.7403 31.8582C26.4811 30.7229 28.8238 28.8003 30.472 26.3336C32.1203 23.8668 33 20.9667 33 18C33 16.0302 32.612 14.0796 31.8582 12.2597C31.1044 10.4399 29.9995 8.78628 28.6066 7.3934C27.2137 6.00052 25.5601 4.89563 23.7403 4.14181C21.9204 3.38799 19.9698 3 18 3ZM28.82 16.1H24.35C24.2655 13.4171 23.8112 10.7587 23 8.2C24.5154 8.97652 25.8298 10.0942 26.8397 11.4651C27.8496 12.836 28.5275 14.4226 28.82 16.1ZM18.09 29H17.91C17.16 28.35 15.73 25.29 15.45 19.9H20.55C20.27 25.29 18.84 28.35 18.09 29ZM15.45 16.1C15.73 10.71 17.16 7.65 17.91 7H18.09C18.84 7.65 20.27 10.71 20.55 16.1H15.45ZM13 8.2C12.1752 10.7568 11.7075 13.4152 11.61 16.1H7.18001C7.47249 14.4226 8.15039 12.836 9.16033 11.4651C10.1703 10.0942 11.4847 8.97652 13 8.2ZM7.18001 19.9H11.65C11.7345 22.5829 12.1888 25.2413 13 27.8C11.4847 27.0235 10.1703 25.9058 9.16033 24.5349C8.15039 23.164 7.47249 21.5774 7.18001 19.9ZM23 27.8C23.8248 25.2432 24.2925 22.5848 24.39 19.9H28.86C28.5633 21.5812 27.8793 23.1703 26.8622 24.5415C25.8451 25.9126 24.5228 27.0282 23 27.8Z"]) {
  background-image: var(--icon-share) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M29 23V27H7V23H2V32H34V23H29Z"]) {
  background-image: var(--icon-save) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M21.0713 10.1003L17 14.1716V2H13V14.1715L8.41424 9.58578L5.58582 12.4142L15 21.8284L23.5615 13.267L22.8581 10.8882L22.8488 10.8552C22.848 10.8521 22.8471 10.8491 22.8461 10.8461L22.6591 10.6591L21.0713 10.1003Z"]) {
  background-image: var(--icon-save-as) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M2 6.05005V30.05H34V6.05005H2ZM8 27.05H5V23.05H8V27.05ZM8 20.05H5V16.05H8V20.05ZM8 13.05H5V9.05005H8V13.05ZM14 23.82V12.28L24 18.05L14 23.82ZM31 27.05H28V23.05H31V27.05ZM31 20.05H28V16.05H31V20.05ZM31 13.05H28V9.05005H31V13.05Z"]) {
  background-image: var(--icon-movie) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M24 4H4V24H8V8H24V4Z"]) {
  background-image: var(--icon-copy) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M1.97998 13.26V30.03L33.98 30V13.26L17.98 23.66L1.97998 13.26Z"]) {
  background-image: var(--icon-send) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M7 2V34H29V2H7ZM18 32C17.5055 32 17.0222 31.8534 16.6111 31.5787C16.2 31.304 15.8795 30.9135 15.6903 30.4567C15.5011 29.9999 15.4516 29.4972 15.548 29.0123C15.6445 28.5273 15.8826 28.0819 16.2322 27.7322C16.5819 27.3826 17.0273 27.1445 17.5123 27.048C17.9972 26.9516 18.4999 27.0011 18.9567 27.1903C19.4135 27.3795 19.804 27.7 20.0787 28.1111C20.3534 28.5222 20.5 29.0055 20.5 29.5C20.5 29.8283 20.4353 30.1534 20.3097 30.4567C20.1841 30.76 19.9999 31.0356 19.7678 31.2678C19.5356 31.4999 19.26 31.6841 18.9567 31.8097C18.6534 31.9353 18.3283 32 18 32ZM25 25H11V6H25V25Z"]) {
  background-image: var(--icon-phone) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F svg:has([d="M12.69 32.75C10.8228 32.7492 8.99769 32.1952 7.44505 31.158C5.89241 30.1208 4.68183 28.6469 3.9661 26.9223C3.25038 25.1977 3.0616 23.2998 3.42358 21.468C3.78556 19.6362 4.68209 17.9527 6 16.63L9.25 13.4L12.08 16.23L8.84 19.46C7.81892 20.4811 7.24528 21.866 7.24528 23.31C7.24528 24.025 7.38611 24.733 7.65974 25.3936C7.93336 26.0542 8.33441 26.6544 8.84 27.16C9.34559 27.6656 9.94581 28.0667 10.6064 28.3403C11.267 28.6139 11.975 28.7547 12.69 28.7547C14.134 28.7547 15.5189 28.1811 16.54 27.16L19.78 23.92L22.6 26.75L19.37 30C18.4926 30.8758 17.4508 31.5696 16.3044 32.0416C15.158 32.5135 13.9297 32.7542 12.69 32.75ZM30 19.37C31.773 17.597 32.769 15.1924 32.769 12.685C32.769 10.1776 31.773 7.77298 30 6.00001C28.227 4.22703 25.8224 3.23099 23.315 3.23099C20.8076 3.23099 18.403 4.22703 16.63 6.00001L13.4 9.25001L16.23 12.08L19.46 8.84001C20.4811 7.81892 21.866 7.24528 23.31 7.24528C24.025 7.24528 24.733 7.38612 25.3936 7.65974C26.0542 7.93336 26.6544 8.33442 27.16 8.84001C27.6656 9.34559 28.0666 9.94582 28.3403 10.6064C28.6139 11.267 28.7547 11.975 28.7547 12.69C28.7547 13.405 28.6139 14.113 28.3403 14.7736C28.0666 15.4342 27.6656 16.0344 27.16 16.54L23.92 19.77L26.75 22.6L30 19.37ZM23.76 15.08L20.93 12.25L11.93 21.25L14.76 24.08L23.76 15.08Z"]) {
  background-image: var(--icon-link) !important;
}

.tyP_D79lbTe9kJwFOIjfB .QoydG3cy0VecZ1qgKRn8F .ClMFKNRa-xf68P6vWjMT1 {
  margin-top: 0px !important;
}

.tyP_D79lbTe9kJwFOIjfB ._3tCPe9E8xrwDbIdktZTyEm {
  height: 1px !important;
  background-color: rgba(var(--color-negative), 0.2) !important;
  margin: 8px !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._3tCPe9E8xrwDbIdktZTyEm {
  margin: 0px !important;
  background-color: transparent !important;
}

.tyP_D79lbTe9kJwFOIjfB ._vNe74s39St1jszCfGwTg {
  padding: 0px 16px !important;
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  text-transform: none !important;
  display: none !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._vNe74s39St1jszCfGwTg {
  margin: 0px !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z {
  margin: 0px !important;
}

 .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .avatar, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .nibodjvvrm86uCfnnAn4g {
   align-items: center !important;
   width: 16px !important;
 }

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .avatar, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .avatarStatus, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .ChatRoomMultiFriendAvatar {
  width: 16px !important;
  height: 16px !important;
}

._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .avatarStatus {
  display: none !important;
}

._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .avatar {
  -webkit-mask-image: var(--mask-avatar, var(--mask-avatar-round)) !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .avatar, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z .ChatRoomMultiFriendAvatar {
  margin: 0px !important;
}

._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .avatar, ._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .ChatRoomMultiFriendAvatar {
  margin: 0px !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z {
  margin: 0px !important;
  flex-direction: column !important;
  flex-wrap: nowrap !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK {
  gap: 0px !important;
  max-width: 100% !important;
  min-width: 100% !important;
  padding: 0px 16px !important;
  flex-direction: row !important;
  display: flex !important;
}

.BasicUI .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB, .BasicUI .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK {
  max-width: 100% !important;
  min-width: 100% !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB ._3R0pumENopfTRSjSWkFrAe, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK ._3R0pumENopfTRSjSWkFrAe {
  opacity: 1 !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB ._2QqVCcyVVVEGRxITfnEGBa, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK ._2QqVCcyVVVEGRxITfnEGBa {
  color: rgb(var(--color-text-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  bottom: 0px !important;
  text-overflow: ellipsis !important;
  -webkit-mask: none !important;
  mask: none !important;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 32px !important;
  text-align: left !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB ._2QqVCcyVVVEGRxITfnEGBa.qEsfyaI75R7zbSvqXhuco, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK ._2QqVCcyVVVEGRxITfnEGBa.qEsfyaI75R7zbSvqXhuco {
  padding: 0px !important;
  margin: 0px !important;
}

.tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._21ckpGxToF7rFhJLW3pJcB ._1QmdAaG62bFb3oavlpm8eA, .tyP_D79lbTe9kJwFOIjfB ._2ANTnUmu_A2yhRrUTTof_Z ._2FSFfo_7hsy-5sb7I_zgDK ._1QmdAaG62bFb3oavlpm8eA {
  min-width: 16px !important;
  max-width: 16px !important;
  width: 16px !important;
  height: 16px !important;
  padding: 0px !important;
  margin: 8px 0px !important;
  color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 16px !important;
  background-image: var(--icon-chat-bubbles) !important;
}

/* CONTEXT MENU AVATAR */
._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .ChatRoomGroupAvatar, ._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .ChatRoomGroupAvatar.Small {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}

._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .ChatRoomGroupAvatar_initials, ._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI .ChatRoomGroupAvatar.Small .ChatRoomGroupAvatar_initials {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: var(--size-10) !important;
}

/* SHARE USER SEARCH */
.mlIHpcNI1sen2mSK800yW {
  padding-bottom: 0px !important;
}

._2FUmWtFyO-djtMKkN50SdM input {
  color: rgb(var(--color-text-secondary)) !important;
  padding: 0px !important;
  border-radius: 0px !important;
  margin: 0px 16px !important;
  line-height: 32px !important;
}

._2FUmWtFyO-djtMKkN50SdM input, ._2FUmWtFyO-djtMKkN50SdM input:hover, ._2FUmWtFyO-djtMKkN50SdM input:active {
  outline: none !important;
  background: transparent !important;
  color: white !important;
}

._2FUmWtFyO-djtMKkN50SdM input:placeholder {
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
}

.mlIHpcNI1sen2mSK800yW ._334lyY60ERB12mDalhfCEa {
  font-size: var(--size-14) !important;
}

._2FUmWtFyO-djtMKkN50SdM ._2FSFfo_7hsy-5sb7I_zgDK::before {
  display: none !important;
}

._21ckpGxToF7rFhJLW3pJcB._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem, ._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem {
  display: flex !important;
  flex-direction: row !important;
  min-height: 32px !important;
  gap: 8px !important;
  height: 32px !important;
}

._2FSFfo_7hsy-5sb7I_zgDK._1n7Wloe5jZ6fSuvV18NNWI.contextMenuItem .avatarHolder.nibodjvvrm86uCfnnAn4g {
  width: 16px !important;
  height: 16px !important;
  margin: auto 0px !important;
}

._2FUmWtFyO-djtMKkN50SdM ._2FSFfo_7hsy-5sb7I_zgDK {
  gap: 8px !important;
}

/* NO RESULTS */
._2FUmWtFyO-djtMKkN50SdM ._1M2aWrjYfBSvkYsVCiobTi {
  margin: 0px 16px !important;
  height: 32px !important;
  color: rgb(var(--color-text-secondary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  font-style: normal !important;
  text-align: center !important;
}