/* TOOLTIP */
[class*="tooltip_TextToolTip_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
}

[class*="tooltip_TextToolTip_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

/* NAVIGATION TOOLTIPS */
[class*="gamepadui_SteamUIPopupHTML_"] [class*="tooltip_TextToolTip_"] {
}

/* CUSTOM TOOLTIP */
[class*="hoverposition_HoverPositionOuter_"] {
  z-index: 9999 !important;
}

[class*="hoverposition_HoverPositionOuter_"] [class*="hoverposition_HoverPosition_"][class*="hoverposition_Ready_"] {
}

[class*="tooltip_ToolTipCustom_"] {
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  box-shadow: 0 0 0 0 transparent !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
}

[class*="tooltip_ToolTipCustom_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

[class*="tooltip_ToolTipCustom_"] [class*="tooltip_ToolTipTitle_"] {
  color: rgb(var(--color-primary)) !important;
}

[class*="tooltip_ToolTipCustom_"] [class*="tooltip_ToolTipInsetContent_"] {
  color: rgb(var(--color-secondary)) !important;
  margin: 6px 4px;
}

/* LOCALE DATE AND TIME */
[class*="localdateandtime_DateToolTip_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background-color: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
  text-transform: none !important;
}

[class*="localdateandtime_DateToolTip_"]::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

/* HEADER */
[class*="contentmanagement_OtherToolTipHeader_"] {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}