/* TOOLTIP */
._2FxbHJzYoH024ko7zqcJOf {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  background: var(--zehn-color-tooltip-background) !important;
  border-radius: 0 !important;
  display: var(--zehn-display-tooltips) !important;
  padding: 8px !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
}

/* NAVIGATION TOOLTIPS */
.Rp8QOGJ2DypeDniMnRBhr ._2FxbHJzYoH024ko7zqcJOf {}

/* CUSTOM TOOLTIP */
._2_lmTz0tA4NOSle5WaO1PZ {
  z-index: 9999 !important;
}

._3XGRklQrZMakU2xaYB0cLD {
  background: var(--zehn-color-tooltip-background) !important;
  border-radius: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  box-shadow: 0 0 0 0 transparent !important;
  display: var(--zehn-display-tooltips) !important;
  padding: 8px !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
}

._3XGRklQrZMakU2xaYB0cLD ._1LhVfNukndDa_XWzq0vdg1 {
  color: var(--zehn-color-tooltip-text-primary) !important;
}

._3XGRklQrZMakU2xaYB0cLD .i4LuYcvtfPgYKx3qqvKUq {
  color: var(--zehn-color-tooltip-text-secondary) !important;
  margin: 6px 4px;
}

/* LOCALE DATE AND TIME */
._2E5LHvnVEF3dSVV3wrDflm {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  background-color: var(--zehn-color-tooltip-background) !important;
  border-radius: 0 !important;
  display: var(--zehn-display-tooltips) !important;
  padding: 8px !important;
  text-transform: none !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
}

/* HEADER */
._1aM9-xSqNVmFacRhZ6KQLI {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}

/* COLLECTIONS */
.X8C932wI78Biu5tTOooXW {
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

.X8C932wI78Biu5tTOooXW svg {
  margin: 0 !important;
  trasnform: none !important;
  display: none !important;
}

/* NOTES */
.zT2msZmm-jBeLe4Dt7smo ._3mZEV9CXrIn4FITvJk3Xy- {
  line-height: normal !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  background: transparent !important;
}

.zT2msZmm-jBeLe4Dt7smo div:has(>._3mZEV9CXrIn4FITvJk3Xy-) {
  line-height: normal !important;
  color: var(--zehn-color-tooltip-text-secondary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
}

/* SCREENSHOT ADD MARKER */
._3jHmRggQqzWvB1s6lKwCOG > .tool-tip-source:first-child {
  position: absolute !important;
  z-index: 100 !important;
  top: 0 !important;
}

.JB3vz2k1En56vQbe0XtOZ, ._2ytunPfeSrGLnjLfJzcZYH {
  background: var(--zehn-color-tooltip-background) !important;
  border-radius: 0 !important;
  color: var(--zehn-color-tooltip-text-primary) !important;
  font-size: var(--zehn-size-12) !important;
  font-weight: 400 !important;
  padding: 8px !important;
  max-width: 300px !important;
  gap: 8px !important;
  display: var(--zehn-display-tooltips) !important;
  border: 1px solid var(--zehn-color-tooltip-border) !important;
}