/* TOOLTIP */
._2FxbHJzYoH024ko7zqcJOf {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
}

._2FxbHJzYoH024ko7zqcJOf::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

/* NAVIGATION TOOLTIPS */
.Rp8QOGJ2DypeDniMnRBhr ._2FxbHJzYoH024ko7zqcJOf {
}

/* CUSTOM TOOLTIP */
._2_lmTz0tA4NOSle5WaO1PZ {
  z-index: 9999 !important;
}

._2_lmTz0tA4NOSle5WaO1PZ ._3vg1vYU7iTWqONciv9cuJN._1Ye_0niF2UqB8uQTbm8B6B {
}

._3XGRklQrZMakU2xaYB0cLD {
  background: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  box-shadow: 0 0 0 0 transparent !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
}

._3XGRklQrZMakU2xaYB0cLD::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

._3XGRklQrZMakU2xaYB0cLD ._1LhVfNukndDa_XWzq0vdg1 {
  color: rgb(var(--color-primary)) !important;
}

._3XGRklQrZMakU2xaYB0cLD .i4LuYcvtfPgYKx3qqvKUq {
  color: rgb(var(--color-secondary)) !important;
  margin: 6px 4px;
}

/* LOCALE DATE AND TIME */
._2E5LHvnVEF3dSVV3wrDflm {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  background-color: rgba(var(--color-white), 0.17) !important;
  border-radius: 0px !important;
  display: var(--option-display-tooltips) !important;
  padding: 8px !important;
  text-transform: none !important;
}

._2E5LHvnVEF3dSVV3wrDflm::before {
  content: "" !important;
  position: absolute !important;
  z-index: -1 !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background-color: rgb(var(--color-black)) !important;
  border: 1px solid rgba(var(--color-white), 0.35) !important;
  border-radius: 0px !important;
}

/* HEADER */
._1aM9-xSqNVmFacRhZ6KQLI {
  color: rgb(var(--color-primary)) !important;
  font-size: var(--size-14) !important;
  font-weight: 400 !important;
  margin-bottom: 8px !important;
}