/* SQUARE AVATAR */
:root {
  --mask-avatar: var(--mask-avatar-square) !important;
  --mask-avatar-status: var(--mask-avatar-square-status) !important;
  --mask-avatar-status-mobile: var(--mask-avatar-square-status-mobile) !important;
  --group-radius: 0 !important;
}